@model IEnumerable<Kendo.Mvc.Examples.Models.GrandSlam>

<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
        .Name("chart")
        .Title("Roger Federer Grand Slam tournament performance")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom)
        )
        .Series(series => {
            series.StepLine(model => model.Win, model => model.Extremum)
                  .Notes(notes => notes.Label(label => label.Position(ChartNoteLabelPosition.Outside)).Position(ChartNotePosition.Bottom))
                  .Name("Wins");
            series.StepLine(model => model.Loss)
                  .Name("Losses");
        })
        .CategoryAxis(axis => axis
            .Categories(model => model.Year)
            .MajorGridLines(gridLines => gridLines.Visible(false))
        )
        .ValueAxis(axis => axis.Numeric()
            .Line(line => line.Visible(false))
        )
        .Tooltip(tooltip => tooltip.Visible(true).Template("#= series.name #: #= value #"))
    ) 
</div>