    <div id="example" class="k-content">
        <div id="barcode-container">
            <div id="barcode"></div>
        </div>
        <ul class="options">
        <li><label> Value: <input  id="value" class="k-textbox" value="1234567"/></label></li>
        <li><label> Encoding: <input  id="type" /></label></li>
        <li><label> Show Text: <input type="checkbox" id="text" checked="checked"/></label></li>
        <li><label> Show Checksum: <input type="checkbox" id="checksum" checked="checked"/></label></li>
        </ul>
        <script>
            function createBarcode() {
                if ($('body').kendoValidator('validate')) {
                    $("#barcode").kendoBarcode({
                        border: {
                            width: 2,
                            dashType: "solid",
                            color: "black"
                        },
                        value: $('#value').val(),
                        width: 600,
                        height: 400,
                        checksum: $('#checksum').is(':checked'),
                        background: "pink",
                        color: "red",
                        padding: {
                            top:25,
//                            left: 25,
//                            right: 25,
                            bottom: 25
                        },
                        text: {
                            visible: $('#text').is(':checked'),
                            color: 'green',
                            font: "60px consolas",
                            margin: {
                                top: 25
                            }
                        },
                        type: $('#type').kendoDropDownList('value')
                    });
                }
            }

            $('#type').kendoDropDownList({
                dataSource: [
                            'EAN8',
                            'EAN13',
                            'UPCE',
                            'UPCA',
                            'Code11',
                            'Code39',
                            'Code39Extended',
                            'Code128',
                            'Code93',
                            'Code93Extended',
                            'Code128A',                            
                            'Code128B',
                            'Code128C',                            
                            'MSImod10',
                            'MSImod11',
                            'MSImod1010',
                            'MSImod1110',
                            'GS1-128',
                            'POSTNET'
                            ],
                change: createBarcode
            });

            $(document).ready(function () {
                $('body').kendoValidator({
                    rules: {
                        ean13: function (element) {
                            if ($(element).is('#value')) {
                                var type = $('#type').val().toLowerCase();
                                var val = $(element).val();
                                if (type == 'ean13' && val.length != 12) {
                                    return false;
                                }
                            }
                            return true;
                        },
                        ean8: function (element) {
                            if ($(element).is('#value')) {
                                var type = $('#type').val().toLowerCase();
                                var val = $(element).val();
                                if (type == 'ean8' && val.length != 7) {
                                    return false;
                                }
                            }
                            return true;
                        }
                    },
                    messages: {
                        ean13: "The value of EAN13 should be of 12 numbers",
                        ean8: "The value of EAN8 should be of 7 numbers"
                    }
                });
                $('#value,#checksum,#text').change(createBarcode);
                createBarcode();
            });
        </script>

        <style scoped>
            #barcode 
            {
               // border : 2px dotted blue;
                width:600px;
                }
        </style>
    </div>

