    <div class="demo-section">
        <div id="barcode-container">
            <div id="ean"></div>
            <div id="code128"></div>            
            <div id="postnet"></div>
        </div>
        <script>
            $(document).ready(function () {
                $("#ean").kendoBarcode({
                    value: "9658423",
                    type: "EAN8"
                });
                $("#code128").kendoBarcode({
                    value: "Hello world!",
                    type: "code128"
                });
                $("#postnet").kendoBarcode({
                    value: "23494",
                    type: "POSTNET"
                });
            });
        </script>

    </div>

