<div id="example" class="k-content">
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Barcode</span>
            <span data-role="barcode"
                  data-type="code128"
                  data-bind="value: barcode"
                  style="width: 180px"></span>
        </div>
    </div>
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Value</span>
            <input data-bind="value: barcode" data-value-update="keyup">
        </div>
        <div class="config-section" style="width: 440px">
            <span class="configHead">Information</span>
            Kendo UI Barcode supports the
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/value">value</a> binding.
        </div>
    </div>
<script>
    function createBarcode() {
        var viewModel = kendo.observable({
            barcode: "Cheese"
        });
        kendo.bind($("#example"), viewModel);
    }
    $(document).ready(createBarcode).bind("kendo:skinChange", createBarcode);
</script>
<style scoped>
    .config-section .k-slider {
        display: inline-block;
        vertical-align: middle;
    }
</style>
</div>
