
        <div id="example" class="k-content">
            <div class="demo-section">
                <label for="countries">Choose country: </label>
                <input id="countries" style="width:200px" />
            </div>

            <ul class="keyboard-legend">
                <li>
                    <span class="button-preview">
                        <span class="key-button leftAlign">↑</span>
                    </span>
                    <span class="button-descr">
                        highlights previous item
                    </span>
                </li>
                <li>
                    <span class="button-preview">
                        <span class="key-button leftAlign">↓</span>
                    </span>
                    <span class="button-descr">
                        highlights next item
                    </span>
                </li>
                <li>
                    <span class="button-preview">
                        <span class="key-button wider rightAlign">enter</span>
                    </span>
                    <span class="button-descr">
                        selects highlighted item
                    </span>
                </li>
                <li>
                    <span class="button-preview">
                        <span class="key-button wide leftAlign">tab</span>
                    </span>
                    <span class="button-descr">
                        selects highlighted item
                    </span>
                </li>
                <li>
                    <span class="button-preview">
                        <span class="key-button">esc</span>
                    </span>
                    <span class="button-descr">
                        closes the popup
                    </span>
                </li>
            </ul>

            <script>
                $(document).ready(function () {
                    var data = [
                            "Albania",
							"Andorra",
							"Armenia",
							"Austria",
							"Azerbaijan",
							"Belarus",
							"Belgium",
							"Bosnia & Herzegovina",
							"Bulgaria",
							"Croatia",
							"Cyprus",
							"Czech Republic",
							"Denmark",
							"Estonia",
							"Finland",
							"France",
							"Georgia",
							"Germany",
							"Greece",
							"Hungary",
							"Iceland",
							"Ireland",
							"Italy",
							"Kosovo",
							"Latvia",
							"Liechtenstein",
							"Lithuania",
							"Luxembourg",
							"Macedonia",
							"Malta",
							"Moldova",
							"Monaco",
							"Montenegro",
							"Netherlands",
							"Norway",
							"Poland",
							"Portugal",
							"Romania",
							"Russia",
							"San Marino",
							"Serbia",
							"Slovakia",
							"Slovenia",
							"Spain",
							"Sweden",
							"Switzerland",
							"Turkey",
							"Ukraine",
							"United Kingdom",
							"Vatican City"
                        ];

                    //create AutoComplete UI component
                    $("#countries").kendoAutoComplete({
                        dataSource: data,
                        filter: "startswith",
                        placeholder: "Select country...",
                        separator: ", "
                    });
                });
            </script>

            <style scoped>
                div.demo-section
                {
                    width: 300px;
                    margin: 0px auto 100px auto;
                }
            </style>
        </div>
