
        <div id="example" class="k-content">
            <div id="movies">
                <input id="titles"/>
            </div>
            <script>
                $("#titles").kendoAutoComplete({
                    minLength: 3,
                    dataTextField: "Name",
                    dataSource: {
                        type: "odata",
                        serverFiltering: true,
                        serverPaging: true,
                        pageSize: 20,
                        transport: {
                            read: "http://odata.netflix.com/Catalog/Titles"
                        }
                    }
                });
            </script>

            <style scoped>
                #movies {
					width: 369px;
					height: 71px;
					padding: 211px 0 0 141px;
					background: url('../../content/web/autocomplete/movies.png') transparent no-repeat 0 0;
					margin: 30px auto;
 				}
                .k-autocomplete {
                	width: 240px;
                    vertical-align: middle;
                }
            </style>
        </div>