
        <div id="example" class="k-content">
           
            <div class="demo-section">
                <h2>Customers</h2>
                <input id="customers" style="width: 400px;"/>
                <p>
                    Start typing to find a customer.
                </p>
            </div>

            <script>
                $(document).ready(function() {
                    var autocomplete = $("#customers").kendoAutoComplete({
                        minLength: 1,
                        dataTextField: "ContactName",
                        template: '<img src=\"../../content/web/Customers/${data.CustomerID}.jpg\" alt=\"${data.CustomerID}\" />' +
                                '<h3>${ data.ContactName }</h3>' +
                                '<p>${ data.CompanyName }</p>',
                        dataSource: {
                            transport: {
                                read:{
                                    dataType: "jsonp",
                                    url: "http://demos.kendoui.com/service/Customers"
                                }
                            }
                        },
                        height: 370,
                    }).data("kendoAutoComplete");
                });
            </script>

            <style scoped>
                .demo-section {
                    width: 400px;
                    margin: 35px auto 50px;
                    padding: 30px;
                }
                .demo-section h2 {
                    text-transform: uppercase;
                    font-size: 1.2em;
                    margin-bottom: 10px;
                }
                #customers-list .k-item {
                    overflow: hidden; /* clear floated images */
                }
                #customers-list img {
                    -moz-box-shadow: 0 0 2px rgba(0,0,0,.4);
                    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);
                    box-shadow: 0 0 2px rgba(0,0,0,.4);
                    float: left;
                    margin: 5px 20px 5px 0px;
                }
                #customers-list h3 {
                    margin: 30px 0 10px 0;
                    font-size: 2em;
                }
                #customers-list p {
                    margin: 0;
                }
            </style>
        </div>
