
        <div id="example" class="k-content">
            <input id="customers"/>

            <script>
                $(document).ready(function() {
                    var autocomplete = $("#customers").kendoAutoComplete({
                        minLength: 1,
                        dataTextField: "ContactName",
                        template: "<img src=\"../../content/web/Customers/#= CustomerID #.jpg\" alt=\"#= CustomerID #\" />" +
                        "<dl>" +
                            "<dt>Contact:</dt><dd>#: ContactName #</dd>" +
                            "<dt>Company:</dt><dd>#: CompanyName #</dd>" +
                        "</dl>",
                        dataSource: {
                            transport: {
                                read:{
                                    dataType: "jsonp",
                                    url: "http://demos.kendoui.com/service/Customers"
                                }
                            }
                        }
                    }).data("kendoAutoComplete");

                    // set width of the drop-down list
                    autocomplete.list.width(400);
                });
            </script>

            <style scoped>
                #customers-list .k-item {
                    overflow: hidden; /* clear floated images */
                }

                #customers-list img {
                    box-shadow: 0 0 4px rgba(255,255,255,.7);
                    float: left;
                    margin: 5px;
                }

                #customers-list dl {
                    margin-left: 85px;
                }

                #customers-list dt,
                #customers-list dd {
                    margin: 0;
                    padding: 0;
                }

                #customers-list dt {
                    font-weight: bold;
                    padding-top: .5em;
                }

                #customers-list dd {
                    padding-bottom: .3em;
                }
            </style>
        </div>
