<div id="example" class="k-content">
    <div>
        <ul id="icons">
            <li>
                <a class="k-button"><span class="k-icon k-i-arrow-n"></span></a>
                arrow-n
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-i-arrow-s"></span></a>
                arrow-s
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-i-arrow-w"></span></a>
                arrow-w
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-i-arrow-e"></span></a>
                arrow-e
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-i-seek-w"></span></a>
                seek-w
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-i-seek-e"></span></a>
                seek-e
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-expand"></span></a>
                k-expand<br />
                k-plus
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-collapse"></span></a>
                k-collapse<br />
                k-minus
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-add"></span></a>
                k-add
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-insert"></span></a>
                k-insert<br />
                k-update
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-delete"></span></a>
                k-delete<br />
                k-close
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-edit"></span></a>
                k-edit
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-cancel"></span></a>
                k-cancel<br />
                k-denied
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-filter"></span></a>
                k-filter
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-clear-filter"></span></a>
                k-clear-filter
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-i-calendar"></span></a>
                calendar
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-i-clock"></span></a>
                clock
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-search"></span></a>
                k-search
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-i-refresh"></span></a>
                refresh
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-restore"></span></a>
                k-restore
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-maximize"></span></a>
                k-maximize
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-minimize"></span></a>
                k-minimize
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-custom"></span></a>
                k-custom
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-resize-se"></span></a>
                k-resize-se
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-insert-top"></span></a>
                k-insert-top
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-insert-middle"></span></a>
                k-insert-middle
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-insert-bottom"></span></a>
                k-insert-bottom
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-warning"></span></a>
                k-warning
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-success"></span></a>
                k-success
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-addfolder"></span></a>
                k-addfolder
            </li>
            <li>
                <a class="k-button"><span class="k-icon k-goup"></span></a>
                k-goup
            </li>
        </ul>
        <style scoped>
            #icons
            {
                margin-left: 20px;
                text-align: center;
            }

            #icons li
            {
                width: 85px;
                height: 52px;
                margin-right: 10px;
                margin-bottom: 20px;
                list-style: none;
                float: left;
            }

            #icons .k-button
            {
                vertical-align: top;
                width: 28px;
                padding: .1em .4em .3em;
                display: block;
                margin: auto;
            }
        </style>
    </div>
</div>
