<div id="example" class="k-content">
    <div>
        <ul id="forms">
            <li>
                <input type="text" class="k-textbox" value="Input" />
            </li>
            <li>
                <span class="k-textbox">
                    <input type="text" value="Input like AutoComplete" />
                </span>
            </li>
            <li>
                <textarea class="k-textbox">Textarea</textarea>
            </li>
            <li>
                <button class="k-button">Button</button>
            </li>
            <li>
                <a href="http://www.google.com" class="k-button">Link to Google.com</a>
            </li>
        </ul>
        <style scoped>
            #forms li {
                margin-bottom: 5px;
                list-style: none;
            }

            #forms li > * {
                width: 200px;
            }
        </style>
    </div>
</div>
