<div id="example" class="k-content">
    <div>
        <ul id="panels">
            <li>
                <div class="k-block">Block</div>
            </li>
            <li>
                <div class="k-block k-shadow">Block with shadow</div>
            </li>
            <li>
                <div class="k-block k-inset">Block inset</div>
            </li>
            <li>
                <div class="k-block"><div class="k-header">Header</div>Block with header</div>
            </li>
            <li>
                <div class="k-block"><div class="k-header k-shadow">Header</div>Block with shadowed header</div>
            </li>
            <li>
                <div class="k-block"><div class="k-header k-inset">Header</div>Block with inset header</div>
            </li>
            <li>
                <div class="k-block k-info-colored">Info Block</div>
            </li>
            <li>
                <div class="k-block k-success-colored">Success Block</div>
            </li>
            <li>
                <div class="k-block k-error-colored">Error Block</div>
            </li>
        </ul>
        <style scoped>
            #panels
            {
                margin-left: 20px;
                text-align: center;
            }

            #panels li
            {
                margin-right: 10px;
                margin-bottom: 10px;
                list-style: none;
                float: left;
            }
        </style>
    </div>
</div>
