
        <div id="example" class="k-content">

            <div id="tweets-container" class="k-header k-menu-vertical">
                <h3>Twitter feed</h3>

                <div id="search-box">
                    <label>Search for:
                        <input type="text" value="html5" id="searchfor" class="k-textbox" />
                    </label>
                    <button class="k-button" id="search">search</button>
                </div>

                <div id="tweets">
                    <div>Loading ... </div>
                </div>
            </div>

            <script id="template" type="text/x-kendo-template">
                <div class="tweet k-header">
                    <img width="48" height="48" src="#= user.profile_image_url #" alt="#= user.name #" />
                    #= text #
                    <div class="metadata">
                        <a class="k-link" href="http://twitter.com/#= user.screen_name #" rel="nofollow">#= user.name #</a>
                        |
                        #= kendo.toString(new Date(Date.parse(created_at)), "dd MMM HH:mm") #
                    </div>
                </div>
            </script>

            <script>
                $(document).ready(function() {
                    // create a template using the above definition
                    var template = kendo.template($("#template").html());

                    $("#test").kendoAutoComplete();

                    var dataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "http://demos.kendoui.com/service/Twitter/Search", // the remove service url
                                dataType: "jsonp", // JSONP (JSON with padding) is required for cross-domain AJAX
                                data: { //additional parameters sent to the remote service
                                    q: function() {
                                        return $("#searchfor").val();
                                    }
                                }
                            }
                        },
                        schema: { // describe the result format
                            data: function(data) { // the data which the data source will be bound to is in the "results" field
                                return data.statuses || [];
                            }
                        },
                        change: function() { // subscribe to the CHANGE event of the data source
                            $("#tweets").html(kendo.render(template, this.view()));
                        }
                    });

                    // read data from the remote service
                    dataSource.read();

                    $("#search").click(function() {
                        dataSource.read();
                    });

                    $("#searchfor").keydown(function(e) {
                        if (e.keyCode === kendo.keys.ENTER) {
                            dataSource.read();
                        }
                    });
                });
            </script>

            <style scoped>
                #tweets-container {
                    width: 60%;
                    margin: 0 auto;
                    border-width: 1px;
                    border-style: solid;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    padding: 18px 16px 29px 26px;
                    position: relative;
                    -webkit-transform: translatez(0);
                }

                #tweets-container h3 {
                    color: #358ae0;
                    font-size: 18px;
                    line-height: 32px;
                    padding: 0 0 5px 40px;
                    font-weight: normal;
                    background: transparent url("../../content/web/datasource/remote-data/twitter-icon.png") no-repeat 0 50%;
                }

                #search-box {
                    position: absolute;
                    top: 23px;
                    right: 16px;
                }

                #searchfor {
                    vertical-align: top;
                }

                #tweets {
                    overflow: auto;
                    margin-top: 10px;
                    padding: 0 10px 0 0;
                    height: 400px;
                }

                .tweet {
                    vertical-align: top;
                    padding: 6px;
                    border-width: 1px;
                    border-style: solid;
                    margin: 0 0 5px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    overflow: hidden;
                }

                .tweet img {
                    float: left;
                    margin-right: 10px;
                }

                .tweet .metadata {
                    clear: left;
                    padding-top: 6px;
                    font-size: 10px;
                }

                .tweet .k-link:hover {
                    text-decoration: underline;
                }
            </style>
        </div>
