
        <div id="example">
            <div class="list-wrapper">
                <ul id="sortable-left">
                    <li class="list-left">Item1</li>
                    <li class="list-left">Item2</li>
                    <li class="list-left">Item3</li>
                </ul>

                <ul id="sortable-right">
                    <li class="list-right">Item1</li>
                    <li class="list-right">Item2</li>
                    <li class="list-right">Item3</li>
                </ul>
            </div>

            <script>
                $(document).ready(function() {
                    $("#sortable-left").kendoSortable({
                        connectWith: "#sortable-right",
                        start: onStart,
                        move: onMove,
                        end: onEnd,
                        change: onChange
                    });

                    $("#sortable-right").kendoSortable({
                        connectWith: "#sortable-left",
                        start: onStart,
                        move: onMove,
                        end: onEnd,
                        change: onChange
                    });
                });

                function onStart(e) {
                    var id = e.sender.element.attr("id");
                    kendoConsole.log(id + " start: " + e.item.text());
                }

                function onMove(e) {
                    var id = e.sender.element.attr("id"),
                        placeholder = e.list.placeholder;

                    kendoConsole.log(id + " move to index: " + this.indexOf(placeholder));
                }

                function onEnd(e) {
                    var id = e.sender.element.attr("id"),
                        text = e.item.text(),
                        oldIndex = e.oldIndex,
                        newIndex = e.newIndex;

                    kendoConsole.log(id + " end: " + text + " oldIndex: " + oldIndex + " newIndex: " + newIndex + " action: " + e.action);
                    console.log(e.action);
                }

                function onChange(e) {
                    var id = e.sender.element.attr("id"),
                        text = e.item.text(),
                        newIndex = e.newIndex,
                        oldIndex = e.oldIndex;

                    kendoConsole.log(id + " change: " + text + " newIndex: " + newIndex + " oldIndex: " + oldIndex + " action: " + e.action);
                    console.log(e.action);
                }

            </script>

            <div class="console"></div>

            <style scoped>
                #example {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .list-wrapper {
                    overflow: hidden;
                }

                #sortable-left, #sortable-right {
                    width: 50%;
                    margin: 0;
                    padding: 0;
                    float: left;
                }

                .list-right, .list-left {
                    list-style-type: none;
                    margin: 5px;
                    line-height: 30px;
                    width: 200px;
                    text-align: center;
                    border: 1px solid black;
                    color: white;
                }

                .list-left {
                    background-color: #0033FF;
                }

                .list-right {
                    background-color: #CC0033;
                }
            </style>
        </div>
