<div id="example">
    <div class="demo-section k-content">
        <div id="chart"></div>
    </div>
    <script>
        var cashFlowData = [{
            period: "Beginning\nBalance",
            amount: 5000
        }, {
            period: "Jan",
            amount: 2100
        }, {
            period: "Feb",
            amount: 1400
        }, {
            period: "Mar",
            amount: -1200
        }, {
            period: "Q1\nFY13",
            summary: "runningTotal"
        }, {
            period: "Apr",
            amount: -2200
        }, {
            period: "May",
            amount: 1000
        }, {
            period: "Jun",
            amount: -1800
        }, {
            period: "Q2\nFY13",
            summary: "runningTotal"
        }, {
            period: "Jul",
            amount: 1500
        }, {
            period: "Aug",
            amount: 2000
        }, {
            period: "Ending\nBalance",
            summary: "total"
        }];

        function createChart() {
            $("#chart").kendoChart({
                dataSource: {
                    data: cashFlowData
                },
                title: {
                    text: "Cash flow"
                },
                legend: {
                    visible: false
                },
                series: [{
                    type: "waterfall",
                    field: "amount",
                    categoryField: "period",
                    summaryField: "summary",
                    color: function(point) {
                        var summary = point.dataItem.summary;
                        if (summary) {
                            return summary == "total" ? "#555" : "gray";
                        }

                        if (point.value > 0) {
                            return "green";
                        } else {
                            return "red";
                        }
                    },
                    labels: {
                        visible: true,
                        format: "{0:C0}"
                    }
                }],
                valueAxis: {
                    labels: {
                        format: "{0:C0}"
                    }
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
</div>
