<div data-role="view" id="home" data-init="mobileSwitchInit" data-title="Mobile Switch &ndash; Basic Usage">
    <h2>Push Notifications</h2>
    <ul class="km-list km-listinset">
        <li>
            <h3>Email</h3>
            <input data-role="switch" id="email-switch" checked="checked" />
        </li>
        <li>
            <h3>Wink</h3>
            <input id="wink-switch" />
        </li>
    </ul>

    <h2>Subscription</h2>
    <ul class="km-list km-listinset">
        <li>
            <h3>Subscribe</h3>
            <input id="subscription-switch" />
        </li>
    </ul>
</div>

<script>
    function mobileSwitchInit() {
        $("#wink-switch").kendoMobileSwitch();

        $("#subscription-switch").kendoMobileSwitch({
            checked: true,
            onLabel: "YES",
            offLabel: "NO"
        });
    }
</script>
