@model IEnumerable<Product>

<script src="@Url.Content("~/Scripts/kendo.grid.js")"></script>
<div id="example" class="k-content">
    @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Pageable()
        .Sortable()
        .Scrollable()              
        .DataSource(dataSource => dataSource.Read(read => read.Url("Index", "Grid")))
    )
</div>
<script>
</script>