@model IEnumerable<Product>

<script src="@Url.Content("~/Scripts/kendo.grid.js")"></script>
<div id="example" class="k-content">
    @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Pageable()
        .Sortable()
        .Scrollable()      
        .DataSource(dataSource => dataSource.OrderBy(sort => sort.Add(p => p.ProductName).Ascending()))  
    )
</div>
<script>
</script>