@model IEnumerable<Product>

<script src="@Url.Content("~/Scripts/kendo.grid.js")"></script>
<div id="example" class="k-content">
    @(Html.Kendo().Grid(Model)    
        .Name("Grid")
        .Pageable()
        .Sortable()
        .Scrollable() 
        .Filterable()             
        .DataSource(dataSource => dataSource.Type(DataSourceType.Server)
            .PageSize(23)
        /*    .Group(group => {
                group.Add(exp => exp.CategoryID);
                group.Add(exp => exp.ProductID);
            })*/
            .Read(read => read.Url("Index", "Grid"))
            .Sort(s => s.Add(p => p.ProductID).Descending())
            .Filter(filters => filters.Add(p => p.ProductID).IsEqualTo(2))
            )
        )
    )
</div>
