@model IEnumerable<Product>

<div id="example" class="k-content">
    @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Pageable()
        .Sortable()
        .Scrollable()              
        .DataSource(dataSource => dataSource.Type(DataSourceType.Server)
            .Read(read => read.Url("Index", "Grid"))
            .Sort(s => s.Add(p => p.ProductID).Descending()))
        )
    )
</div>
<script>
</script>