@model IEnumerable<Product>

<script src="@Url.Content("~/Scripts/kendo.grid.js")"></script>
<div id="example" class="k-content">
    @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Pageable()
        .Sortable()
        .Scrollable()              
        .DataSource(dataSource => dataSource
            .PageSize(10)
            .Sort(sort => sort.OrderBy(s => s.Add(p => p.ProductName).Ascending()))
            .Group(group => group.GroupBy(g => g.Add(p => p.ProductName)))
            )              
    )
</div>
<script>
</script>