@model IEnumerable<Product>

<script src="@Url.Content("~/Scripts/kendo.pager.js")"></script>
<div id="example" class="k-content">
    @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Pageable()
        .Sortable()
        .Scrollable()
    )
</div>
<script>
</script>