@model IEnumerable<Product>

<script src="@Url.Content("~/Scripts/kendo.grid.js")"></script>
<div id="example" class="k-content">
    @(Html.Kendo().Grid(Model)    
        .Name("Grid")
        .Pageable()
        //.Sortable()
        .Scrollable()         
        .Groupable()     
        .DataSource(dataSource => dataSource.Read(read => read.Url("Index", "Grid"))
            .Type(DataSourceType.Server)
            .Group(group => {
                group.Add(exp => exp.CategoryID);
                group.Add(exp => exp.ProductID);
            })
        )
    )
</div>
