@section Description {
    Kendo UI provides everything you need for building modern, interactive, JavaScript applications.
    In addition to having more than 10 UI widgets, including a Grid, Chart, and ComboBox,
    Kendo delivers a rich framework for client-side data binding, templating, animation, and drag-and-drop actions.
    Don't waste time trying to find and use tons of scattered jQuery plug-ins.
    Kendo UI incorporates a seamless, professionally tested and supported HTML5 toolbox for every project.
}

        <div id="example" class="k-content">
            <ul id="chart-types">
                    <li>
                        <img src="../../content/web/overview/calendar.png" alt="Calendar">
                        <h3><a href="../calendar/index.html">Calendar</a></h3>
                        <p>The Calendar renders a graphical calendar that supports navigation and selection.</p>
                    </li>
                    <li>
                        <img src="../../content/web/overview/combobox.png" alt="ComboBox">
                        <h3><a href="../combobox/index.html">ComboBox</a></h3>
                        <p>The ComboBox widget allows the selection from pre-defined values or entering a new value.</p>
                    </li>
                    <li>
                        <img src="../../content/web/overview/editor.png" alt="Editor">
                        <h3><a href="../editor/index.html">Editor</a></h3>
                        <p>The Editor allows your users to edit HTML in a familiar, user-friendly way.</p>
                    </li>
                    <li>
                        <img src="../../content/web/overview/grid.png" alt="Grid">
                        <h3><a href="../grid/index.html">Grid</a></h3>
                        <p>The Grid widget displays tabular data and offers rich support interacting with data, including paging, sorting, grouping, and selection.</p>
                    </li>
                    <li>
                        <img src="../../content/web/overview/panelbar.png" alt="PanelBar">
                        <h3><a href="../panelbar/index.html">PanelBar</a></h3>
                        <p>The PanelBar displays hierarchical data as a multi-level, expandable widget that is useful for constained areas of a page.</p>
                    </li>
                    <li>
                        <img src="../../content/web/overview/slider.png" alt="Slider">
                        <h3><a href="../slider/index.html">Slider</a></h3>
                        <p>The Slider provides a rich input for selecting values or ranges of values.</p>
                    </li>
                </ul>
        </div>

        <style scoped>
                #overview-wrap {
                    width: 690px;
                    margin: 30px auto 0 auto;
                    padding: 35px 0 0;
                    background: transparent url(../../content/web/overview/overlay.png) no-repeat 50% 0;
                }

                #chartSlider {
                    width: 600px;
                    height: 250px;
                    margin: 0 auto;
                }

                #overview-wrap p {
                    padding: 30px 20px;
                }

                #chart-types {
                    overflow: hidden;
                    list-style-type: none;
                    margin: 40px 0 0 0;
                    padding: 0 0 0 10%;
                }

                #chart-types li {
                    width: 45%;
                    float: left;
                    padding-bottom: 46px;
                }

                #chart-types h3,
                #chart-types a {
                    color: #19a3ee;
                    text-decoration: none;
                    font-weight: normal;
                }

                #chart-types a:hover {
                    text-decoration: underline;
                }

                #chart-types p {
                    padding: 0;
                }

                #chart-types img {
                    float: left;
                    width: 100px;
                    height: 100px;
                    margin-right: 19px;
                }
            </style>

