<div id="example" ng-app="KendoDemos">
    <div  ng-controller="MyCtrl">
        <div class="demo-section k-header">
                <h4>Linear Gauge</h4>
                <span kendo-lineargauge
                    k-scale="{ min:0, max: 50, vertical: false}"
                    ng-model="selectedNumber"
                    ></span>
        </div>
        <div class="box">
            <h4>Value</h4>
            <input kendo-slider k-min="0" k-max="50" k-show-buttons="false" k-small-step="5" k-large-step="10" ng-model="selectedNumber">
        </div>
    </div>
<script>
    angular.module("KendoDemos", [ "kendo.directives" ])
        .controller("MyCtrl", function($scope){
            $scope.selectedNumber = 10;
        })
</script>
<style scoped>
    .demo-section {
        width: 200px;
    }
</style>
</div>
