<div id="example">
    <div class="demo-section">
        <div class="box-col" style="width: 300px">
            <h4>Linear Gauge</h4>
            <span  data-role="lineargauge"
                   data-scale="{ min:0, max: 50, vertical: false}"
                   data-bind="visible: isVisible,
                              value: selectedNumber"></span>
        </div>
    </div>
    <div class="box">
        <div class="box-col" style="width: 300px">
            <h4>Configuration</h4>
            <div>
                <label><input type="checkbox" data-bind="checked: isVisible">Visible</label>
            </div>
        </div>
        <div class="box-col" style="width: 300px">
            <h4>Value</h4>
            <input data-role="slider" data-min="0" data-max="50" data-small-step="5" data-large-step="10" data-bind="value: selectedNumber">
        </div>
        <div class="box-col">
            <h4>Information</h4>
            Kendo UI Linear Gauge supports the
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/value">value</a> and
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
        </div>
    </div>
<script>
    function createGauge() {
        var viewModel = kendo.observable({
            selectedNumber: 10,
            isVisible: true
        });
        kendo.bind($("#example"), viewModel);
    }
    $(document).ready(createGauge).bind("kendo:skinChange", createGauge);
</script>
</div>
