
        <div id="example" class="k-content">
            <div class="chart-wrapper">
                <div id="chart" class="combined-donuts"></div>
                <div class="single-donuts">
                    <div id="chart2006" class="donut"></div>
                    <div id="chart2008" class="donut"></div>
                    <div id="chart2010" class="donut"></div>
                </div>
                
                
            </div>
            <style scoped>
                .chart-wrapper 
                {
                	text-align: center;
                	padding-top: 20px;
                	background-repeat: no-repeat;
                }
                .single-donuts
                {
                	width: 390px;
                	height: 150px;
                	margin: 0 auto;
                }
                .chart-wrapper .donut 
                {
                	float: left;
                	width: 130px;
                	height: 130px;
                	padding: 0;
                }
                .chart-wrapper .combined-donuts 
                {
                	width: 500px;
                	height: 280px;
                	margin: 0 auto;
                	padding: 0;
                }
            </style>
            <script>
                function createChart() {
                    $("#chart").kendoChart({
                        theme: $(document).data("kendoSkin") || "default",
                        dataSource: {
                            transport: {
                                read: {
                                    url: "../../content/dataviz/js/screen_resolution.json",
                                    dataType: "json"
                                }
                            },
                            sort: {
                                field: "order",
                                dir: "asc"
                            },
                            group: {
                                field: "year"
                            }
                        },
                        legend: {
                            position: "top"
                        },
                        title: {
                            text: "Screen resolution trends"
                        },
                        seriesDefaults: {
                            type: "donut"
                        },
                        series: [{
                            field: "share",
                            categoryField: "resolution",
                            visibleInLegendField: "visibleInLegend",
                            padding: 10
                        }],
                        tooltip: {
                            visible: true,
                            template: "#= dataItem.resolution #: #= value #% (#= dataItem.year #)"
                        }
                    });

                    $("#chart2006").kendoChart({
                        theme: $(document).data("kendoSkin") || "default",
                        title: {
                            text: "2006"
                        },
                        legend: {
                            visible: false
                        },
                        dataSource: {
                            transport: {
                                read: {
                                    url: "../../content/dataviz/js/screen_resolution.json",
                                    dataType: "json"
                                }
                            },
                            filter: {
                                field: "year",
                                operator: "eq",
                                value: 2006
                            },
                            sort: {
                                field: "order",
                                dir: "asc"
                            }
                        },
                        series: [{
                            type: "donut",
                            field: "share",
                            padding: 0
                        }],
                        tooltip: {
                            visible: true,
                            template: "#= dataItem.resolution #: #= value #%"
                        }
                    });

                    $("#chart2008").kendoChart({
                        theme: $(document).data("kendoSkin") || "default",
                        title: {
                            text: "2008"
                        },
                        legend: {
                            visible: false
                        },
                        dataSource: {
                            transport: {
                                read: {
                                    url: "../../content/dataviz/js/screen_resolution.json",
                                    dataType: "json"
                                }
                            },
                            filter: {
                                field: "year",
                                operator: "eq",
                                value: 2008
                            },
                            sort: {
                                field: "order",
                                dir: "asc"
                            }
                        },
                        series: [{
                            type: "donut",
                            field: "share",
                            padding: 0
                        }],
                        tooltip: {
                            visible: true,
                            template: "#= dataItem.resolution #: #= value #%"
                        }
                    });


                    $("#chart2010").kendoChart({
                        theme: $(document).data("kendoSkin") || "default",
                        title: {
                            text: "2010"
                        },
                        legend: {
                            visible: false
                        },
                        dataSource: {
                            transport: {
                                read: {
                                    url: "../../content/dataviz/js/screen_resolution.json",
                                    dataType: "json"
                                }
                            },
                            filter: {
                                field: "year",
                                operator: "eq",
                                value: 2010
                            },
                            sort: {
                                field: "order",
                                dir: "asc"
                            }
                        },
                        series: [{
                            type: "donut",
                            field: "share",
                            padding: 0
                        }],
                        tooltip: {
                            visible: true,
                            template: "#= dataItem.resolution #: #= value #%"
                        }
                    });
                }

                $(document).ready(function() {
                    setTimeout(function() {
                        // Initialize the chart with a delay to make sure
                        // the initial animation is visible
                        createChart();

                        $("#example").bind("kendo:skinChange", function(e) {
                            createChart();
                        });
                    }, 400);
                });
            </script>
        </div>
