.device-skin
{
    font-size: 12px; /* Sets the zoom level */
}

.device-container.vertical .device-skin
{
    padding-top: 0;
    background-image: url("images/vertical.png");
}

.device-container.horizontal .device-skin
{
    padding-top: 0;
    background-image: url("images/horizontal.png");
}

.device-container.vertical
{
    bottom: -100px;
    width: 1050px;
    height: 849px;
    padding: 3.75cm 10.61cm 8cm 10.6cm;
}

.device-container.horizontal
{
    bottom: -50px;
    width: 850px;
    height: 696px;
    padding: .58cm 5.27cm 11.3cm 5.27cm;
}

.device-container.vertical iframe
{
    height: 357px;
}

.device-container.horizontal iframe
{
    height: 254px;
}

#address-bar
{
    height: 18px;
}

.device-container.vertical #address-bar
{
    left: 413px;
    top: 113px;
    width: 168px;
}

.device-container.horizontal #address-bar
{
    left: 188px;
    top: 37px;
    width: 240px;
}

.device-container #navigate-back
{
    top: auto;
}

#navigate-back
{
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.3);
    background: rgba(0,0,0,.1);
}

.device-container.vertical #navigate-back
{
    bottom: 319px;
    left: 406px;
    width: 25px;
    height: 25px;
}

.device-container.horizontal #navigate-back
{
    bottom: 374px;
    left: 182px;
    width: 21px;
    height: 21px;
}
