<div id="example">
        <div class="box">
            <div class="box-col">
            <h4>Selection</h4>
            <ul class="options">
                <li>
                    <input type="text" value="0" id="selectTask" class="k-textbox"/>
                    <button class="selectTask k-button">Select task</button>
                </li>
                <li>
                    <button class="clearSelection k-button">Clear selected task</button>
                </li>
            </ul>
            </div>
            <div class="box-col">
            <h4>Get selected task</h4>
            <ul class="options">
                <li>
                    <button class="getData k-button">Get data</button>
                </li>
            </ul>
            </div>
        </div>

        <script>

            $(".clearSelection").click(function () {
                var gantt = $("#gantt").data("kendoGantt");
                gantt.clearSelection();
            });

            function selectTask(e) {
                if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode) {
                    var gantt = $("#gantt").data("kendoGantt");
                    var taskIndex = $("#selectTask").val();

                    gantt.select("tr:eq(" + taskIndex + ")");
                }
            }

            $(".selectTask").click(selectTask);
            $("#selectTask").keypress(selectTask);

            $(".getData").click(function() {
                var gantt = $("#gantt").data("kendoGantt");
                var selection = gantt.select();

                if (!selection.length) {
                    alert("No item selected");
                } else {
                    var dataItem = gantt.dataItem(selection);
                    alert(
                        "'" + dataItem.title + "' is " +
                        (dataItem.percentComplete * 100) + "% complete"
                    );
                }
            });
        </script>

        <div id="gantt"></div>

        <script>
            $(document).ready(function() {
                var serviceRoot = "http://demos.telerik.com/kendo-ui/service";
                var tasksDataSource = new kendo.data.GanttDataSource({
                    batch: false,
                    transport: {
                        read: {
                            url: serviceRoot + "/GanttTasks",
                            dataType: "jsonp"
                        },
                        update: {
                            url: serviceRoot + "/GanttTasks/Update",
                            dataType: "jsonp"
                        },
                        destroy: {
                            url: serviceRoot + "/GanttTasks/Destroy",
                            dataType: "jsonp"
                        },
                        create: {
                            url: serviceRoot + "/GanttTasks/Create",
                            dataType: "jsonp"
                        },
                        parameterMap: function(options, operation) {
                            if (operation !== "read") {
                                return { models: kendo.stringify(options.models || [options]) };
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "id",
                            fields: {
                                id: { from: "ID", type: "number" },
                                orderId: { from: "OrderID", type: "number", validation: { required: true } },
                                parentId: { from: "ParentID", type: "number", validation: { required: true } },
                                start: { from: "Start", type: "date" },
                                end: { from: "End", type: "date" },
                                title: { from: "Title", defaultValue: "", type: "string" },
                                percentComplete: { from: "PercentComplete", type: "number" },
                                summary: { from: "Summary" },
                                expanded: { from: "Expanded" }
                            }
                        }
                    }
                });

                var dependenciesDataSource = new kendo.data.GanttDependencyDataSource({
                    transport: {
                        read: {
                            url: serviceRoot + "/GanttDependencies",
                            dataType: "jsonp"
                        },
                        update: {
                            url: serviceRoot + "/GanttDependencies/Update",
                            dataType: "jsonp"
                        },
                        destroy: {
                            url: serviceRoot + "/GanttDependencies/Destroy",
                            dataType: "jsonp"
                        },
                        create: {
                            url: serviceRoot + "/GanttDependencies/Create",
                            dataType: "jsonp"
                        },
                        parameterMap: function(options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "id",
                            fields: {
                                predecessorId: { from: "PredecessorID", type: "number" },
                                successorId: { from: "SuccessorID", type: "number" },
                                type: { from: "Type", type: "number" }
                            }
                        }
                    }
                });

                var gantt = $("#gantt").kendoGantt({
                    dataSource: tasksDataSource,
                    dependencies: dependenciesDataSource,
                    views: [
                        "day",
                        { type: "week", selected: true },
                        "month"
                    ],
                    columns: [
                        { field: "id", title: "ID", width: 50 },
                        { field: "title", title: "Title", editable: true },
                        { field: "start", title: "Start Time", format: "{0:MM/dd/yyyy}", width: 100 },
                        { field: "end", title: "End Time", format: "{0:MM/dd/yyyy}", width: 100 }
                    ],
                    height: 400,

                    showWorkHours: false,
                    showWorkDays: false
                }).data("kendoGantt");
            });
        </script>
    </div>

