
        <div id="example">
            <div class="box">
                <h4>Information</h4>
                <p>
                    The Upload is able to upload files out-of-band using the
                    HTML5 File API with fallback for legacy browsers.
                </p>
                <p>
                    You need to configure save action that will receive
                    the uploaded files.
                    An optional remove action is also available.
                </p>
            </div>

            <div>
                <div class="demo-section k-header">
                    <input name="files" id="files" type="file" />
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $("#files").kendoUpload({
                        async: {
                            saveUrl: "save",
                            removeUrl: "remove",
                            autoUpload: true
                        }
                    });
                });
            </script>
        </div>
