
        <div id="example">
            <div class="box">
                <h4>Information</h4>
                <p>
                    This example shows how to handle events triggered by kendoUpload.
                </p>
            </div>
            <div>
                <div class="demo-section k-header">                    
                    <input name="files" id="files" type="file" />
                </div>                
            </div>
            <div class="box">
                <h4>Console log</h4>
                <div class="console"></div>
            </div>
            <script>
                function onSelect(e) {
                    kendoConsole.log("Select :: " + getFileInfo(e));
                }

                function onUpload(e) {
                    kendoConsole.log("Upload :: " + getFileInfo(e));
                }

                function onSuccess(e) {
                    kendoConsole.log("Success (" + e.operation + ") :: " + getFileInfo(e));
                }

                function onError(e) {
                    kendoConsole.log("Error (" + e.operation + ") :: " + getFileInfo(e));
                }

                function onComplete(e) {
                    kendoConsole.log("Complete");
                }

                function onCancel(e) {
                    kendoConsole.log("Cancel :: " + getFileInfo(e));
                }

                function onRemove(e) {
                    kendoConsole.log("Remove :: " + getFileInfo(e));
                }

                function onProgress(e) {
                    kendoConsole.log("Upload progress :: " + e.percentComplete + "% :: " + getFileInfo(e));
                }

                function getFileInfo(e) {
                    return $.map(e.files, function(file) {
                        var info = file.name;

                        // File size is not available in all browsers
                        if (file.size > 0) {
                            info  += " (" + Math.ceil(file.size / 1024) + " KB)";
                        }
                        return info;
                    }).join(", ");
                }

                $(document).ready(function() {
                    $("#files").kendoUpload({
                        async: {
                            saveUrl: "save",
                            removeUrl: "remove",
                            autoUpload: true
                        },
                        cancel: onCancel,
                        complete: onComplete,
                        error: onError,
                        progress: onProgress,
                        remove: onRemove,
                        select: onSelect,
                        success: onSuccess,
                        upload: onUpload
                    });
                });
            </script>
        </div>
