
        <div id="example" class="k-content">

            <div class="k-rtl">                
                <div class="demo-section">
                    <input name="files" id="files" type="file" />
                </div>                
            </div>

            <script>
                $(document).ready(function() {
                    $("#files").kendoUpload({
                        async: {
                            saveUrl: "save",
                            removeUrl: "remove",
                            autoUpload: true
                        }
                    });
                });
            </script>
        </div>