.k-messagebox {
    margin: @messagebox-margin;
    padding: @messagebox-padding-y @messagebox-padding-x;
    border-width: @messagebox-border-width;
    border-style: solid;
    box-sizing: border-box;
    font-size: @messagebox-font-size;
    line-height: @messagebox-line-height;

    a {
        color: inherit;
        font-style: @messagebox-link-font-style;
        text-decoration: @messagebox-link-text-decoration;
    }
}
