// Solid badges
each( @theme-colors, {
    @name: @key;
    @color: @value;

    .k-messagebox-@{name} {
        border-color: tint( @color, 80%);
        color: shade( @color, 48% );
        background-color: tint( @color, 72%);
    }
});
