.added
{
    color: green;
    font-size: .8rem;
    display: block;
}

.item-list.km-list > li
{
    overflow: hidden;
    line-height: 1em;
}

.item-list img,
#details img
{
    width: 4rem;
    height: 4rem;
    float: left;
    margin-right: 1rem;
    -webkit-box-shadow: 0 2px 3px #333;
    box-shadow: 0 2px 3px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.item-list h2
{
    margin: 0;
    display: inline-block;
    font-size: 1.4rem;
    margin-top: 1.4rem;
}

.item-list a.km-button
{
    position: absolute;
    right: .6rem;
    bottom: .6rem;
}

.item-list a.details-link
{
    display: block;
    text-decoration: none;
}

.km-view .km-tabstrip .km-button .km-icon
{
    background-image: url('images/tabstrip.png');
    background-size: auto 100%;
}

.km-view .km-tabstrip .km-button:nth-child(1) .km-icon
{
    background-position: 0 50%;
}

.km-view .km-tabstrip .km-button:nth-child(2) .km-icon
{
    background-position: 32% 50%;
}

.km-view .km-tabstrip .km-button:nth-child(3) .km-icon
{
    background-position: 66% 50%;
}

.km-view .km-tabstrip .km-button:nth-child(4) .km-icon
{
    background-position: 99% 50%;
}

.price
{
    color: #ccc;
    font-size: 2rem;
    text-shadow: 0 -1px 1px #333;
    line-height: normal;
}

.item-list .price
{
    display: block;
    font-size: 1.2rem;
    float: right;
    font-weight: bold;
}

#details .km-content
{
    padding: 1rem;
    -webkit-box-sizing: border-box;
}

#details .km-content p
{
    margin-top: 1rem;
    font-size: .9rem;
    line-height: 1.2rem;
    font-weight: normal;
    text-shadow: 1px 1px white;
}

#details .km-content aside
{
    display: block;
    overflow: hidden;
}

#details img
{
    width: 8.4em;
    height: 8.4em;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

#details .km-content aside .price
{
    display: block;
    margin-bottom: 1rem;
}

.details-link
{
    color: #000;
}

.km-android .details-link
{
    color: #fff;
}

#checkout
{
    margin: 1rem;
    display: block;
    text-align: center;
    font-size: 2rem;
}

.list-item-data
{
    float: right;
    font-weight: normal;
    color: rgb(146,	163, 189);
}

.km-empty h2,
.km-empty #checkout
{
    display: none;
}

#cartList:empty:before
{
    content: "Your cart is empty.";
    padding: 2rem;
    line-height: 3.5rem;
    color: #888;
}

.km-android .km-back
{
    display: none;
}
