
        <div id="example" class="k-content">
            
            <div class="demo-section">
                <h2>Products</h2>
                <input id="products" style="width: 250px" />
            </div>

            <script>
                $(document).ready(function() {
                    $("#products").kendoDropDownList({
                        dataTextField: "ProductName",
                        dataValueField: "ProductID",
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "jsonp",
                                    url: "http://demos.kendoui.com/service/Products",
                                }
                            }
                        }
                    });
                });
            </script>
            
            <style scoped>
                .demo-section {
                    width: 250px;
                    margin: 35px auto 50px;
                    padding: 30px;
                }
                .demo-section h2 {
                    text-transform: uppercase;
                    font-size: 1.2em;
                    margin-bottom: 10px;
                }
            </style>
        </div>