
        <div id="example" class="k-content">
            <div class="configuration k-widget k-header">
                <span class="infoHead">Information</span>
                <p>
                    Open the DropDownList to see the customized appearance of the items.
                </p>
            </div>

            <input id="titles"/>

            <script>
                $(document).ready(function() {
                    $("#titles").kendoDropDownList({
                        dataTextField: "ContactName",
                        dataValueField: "CustomerID",
                        // define custom template
                        template: "<img src=\"../../content/web/Customers/${data.CustomerID}.jpg\" alt=\"${data.CustomerID}\" />" +
                            "<dl>" +
                                "<dt>Contact:</dt><dd>${ data.ContactName }</dd>" +
                                "<dt>Company:</dt><dd>${ data.CompanyName }</dd>" +
                            "</dl>",
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "jsonp",
                                    url: "http://demos.kendoui.com/service/Customers",
                                }
                            }
                        }
                    });

                    var dropdownlist = $("#titles").data("kendoDropDownList");

                    // set width of the drop-down list
                    dropdownlist.list.width(400);
                });
            </script>

            <style scoped>
                #titles-list .k-item {
                    overflow: hidden; /* clear floated images */
                }

                #titles-list img {
                    box-shadow: 0 0 4px rgba(255,255,255,.7);
                    float: left;
                    margin: 5px;
                }

                #titles-list dl {
                    margin-left: 85px;
                }

                #titles-list dt,
                #titles-list dd {
                    margin: 0;
                    padding: 0;
                }

                #titles-list dt {
                    font-weight: bold;
                    padding-top: .5em;
                }

                #titles-list dd {
                    padding-bottom: .3em;
                }
            </style>
        </div>
