
        <div id="example" class="k-content">
            <div class="chart-wrapper">
                <div id="chart"></div>
            </div>
            <script>
                var internetUsers = [
                    {
                        "country": "United States",
                        "year": "2005",
                        "value": 67.96
                    },
                    {
                        "country": "United States",
                        "year": "2006",
                        "value": 68.93
                    },
                    {
                        "country": "United States",
                        "year": "2007",
                        "value": 75
                    },
                    {
                        "country": "United States",
                        "year": "2008",
                        "value": 74
                    },
                    {
                        "country": "United States",
                        "year": "2009",
                        "value": 78
                    }
                ];

                function createChart() {
                    $("#chart").kendoChart({
                        theme: $(document).data("kendoSkin") || "default",
                        dataSource: {
                            data: internetUsers
                        },
                        title: {
                            text: "Internet Users"
                        },
                        legend: {
                            position: "bottom"
                        },
                        seriesDefaults: {
                            type: "line",
                            labels: {
                                visible: true,
                                format: "{0}%"
                            }
                        },
                        series: [{
                            field: "value",
                            name: "United States"
                        }],
                        valueAxis: {
                            labels: {
                                format: "{0}%"
                            }
                        },
                        categoryAxis: {
                            field: "year"
                        }
                    });
                }

                $(document).ready(function() {
                    setTimeout(function() {
                        createChart();

                        // Initialize the chart with a delay to make sure
                        // the initial animation is visible
                    }, 400);

                    $(document).bind("kendo:skinChange", function(e) {
                        createChart();
                    });
                });
            </script>
        </div>