
        <div id="example" class="k-content">            
            <div class="demo-section">
                <input id="numerictextbox"/>
            </div>            
            <div class="demo-section">
                <h3 class="title">Console log</h3>
                <div class="console"></div>
            </div>
            <script>
                $(document).ready(function() {

                    function onChange() {
                        kendoConsole.log("Change :: " + this.value());
                    }

                    function onSpin() {
                        kendoConsole.log("Spin :: " + this.value());
                    }

                    $("#numerictextbox").kendoNumericTextBox({
                        change: onChange,
                        spin: onSpin
                    });
                });
            </script>
        </div>
