
        <div id="example" class="k-content">
            <div class="k-rtl">
                <input id="numerictextbox" />
            </div>

            <script>
                $(document).ready(function() {
                    $("#numerictextbox").kendoNumericTextBox();
                });
            </script>
        </div>