.device-skin
{
    font-size: 14px; /* Sets the zoom level */
}

.device-container.vertical .device-skin
{
    background-image: url("images/vertical.png");
}

.device-container.horizontal .device-skin
{
    background-image: url("images/horizontal.png");
}

.device-container.vertical
{
    bottom: -250px;
    left: -100px;
    width: 1600px;
    height: 1085px;
    padding: 1.6cm 18.4cm 14cm 16.24cm;
}

.device-container.horizontal
{
    bottom: -450px;
    width: 1100px;
    height: 1041px;
    padding: .9cm 8.86cm 19cm 7.56cm;
}

.device-container.vertical iframe
{
    height: 494px;
}

.device-container.horizontal iframe
{
    height: 287px;
}

#address-bar
{
    display: none;
}

.device-container #navigate-back
{
    display: none;
}
