
<div id="example" class="k-content">
    <div id="wrap">
        <img src="../../content/web/fx/zoom/mathew.png" />
        <img src="../../content/web/fx/zoom/andreas.png" />
        <img src="../../content/web/fx/zoom/lysa.png" />
    </div>

    <script>
        $("#wrap img").click(function() {
        });
    </script>

    <style>
        #wrap {
            background-image: url("../../content/web/fx/zoom/background.png");
            width: 655px;
            margin: 2.5em auto;
            position: relative;
        }
    </style>
</div>

