<div id="example">
    <script src="../content/shared/js/webmail.js"></script>

    <div class="box">
        <h4>Orientation Settings</h4>
        <ul class="options">
            <li>
                <label for="orientation">orientation</label>
                <select id="orientation" name="orientation">
                    <option value="horizontal">Horizontal</option>
                    <option value="vertical">Vertical</option>
                </select>
            </li>
        </ul>
        <br />
        <a class="k-button" id="apply" href="#" style="width: 80px;">Apply</a>
    </div>

    <div class="demo-section k-header">
        <h4>WebMail</h4>
        <div id="listview-context-menu"></div>
    </div>

    <script type="text/x-kendo-template" id="template">
        <div class="product">
            <img src="../content/shared/images/employees/#= FromID #.png" alt="#: From #" />
            
            <h3>#:Title#</h3>
            <p class="date">#:Date#</p>
            <p>#:From#</p>
        </div>
    </script>

    <ul id="menu">
        <li>
            <img src="../content/web/toolbar/reply.png" /> Reply
            <ul>
                <li><img src="../content/web/toolbar/reply.png" /> Reply to Sender</li>
                <li><img src="../content/web/toolbar/reply.png" /> Reply to All</li>
            </ul>
        </li>
        <li class="k-separator"></li>
        <li>
            <img src="../content/web/toolbar/forward.png" />  Forward
        </li>
        <li class="k-separator"></li>
        <li>
            Mark as
            <ul>
                <li>Unread</li>
                <li class="k-separator"></li>
                <li>Important</li>
                <li>Read</li>
            </ul>
        </li>
        <li>
            Label
            <ul>
                <li>None</li>
                <li class="k-separator"></li>
                <li><img src="../content/web/toolbar/important.png" />Important</li>
                <li><img src="../content/web/toolbar/todo.png" />Work</li>
                <li><img src="../content/web/toolbar/done.png" />Personal</li>
                <li class="k-separator"></li>
                <li>New Label</li>
            </ul>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function() {
        var dataSource = new kendo.data.DataSource({
            data: mails,
            pageSize: 5
        });

        $("#listview-context-menu").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html())
        });

        $("#orientation").kendoDropDownList();

        var menu = $("#menu"),
            original = menu.clone(true);

        original.find(".k-state-active").removeClass("k-state-active");

        $("#apply").click(function (e) {
            e.preventDefault();
            var clone = original.clone(true);

            menu.getKendoContextMenu().destroy();
            clone.appendTo("#example");

            initMenu();
        });

        var initMenu = function () {
            var orientation = $("#orientation").data("kendoDropDownList").value();

            menu = $("#menu").kendoContextMenu({
                orientation: orientation,
                target: "#listview-context-menu",
                filter: ".product",
                animation: {
                    open: { effects: "fadeIn" },
                    duration: 500
                },
                open: function() {
                },
                select: function(e) {
                    // Do something on select
                }
            });
        };

        initMenu();
    });
</script>

<style scoped>
    .demo-section {
            width: 860px;
        }
    #listview-context-menu {
        padding: 0;
        margin-bottom: -1px;
        min-height: 300px;
    }
    .product {
        position: relative;
        height: 62px;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(128,128,128,.3);
    }
    .product img {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin: 10px;
        border: 1px solid #000;
        float: left;
    }
    .product h3 {
        margin: 0;
        padding: 15px 5px 1px 0;
        overflow: hidden;
        line-height: 1em;
        font-size: 1.1em;
        font-weight: bold;
    }
    .product p {
        font-size: .9em;
    }
    .product .date {
        float: right;
        margin: -8px 15px 0 0;
    }
    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>
