<div id="example">
    <script src="../content/shared/js/products.js"></script>

    <div class="demo-section">
        <div id="listview-context-menu"></div>
        <div id="pager" class="k-pager-wrap"></div>
    </div>

    <script type="text/x-kendo-template" id="template">
        <div class="product">
            <img src="../content/web/foods/#= ProductID #.jpg" alt="#: ProductName # image" />
            <h3>#:ProductName#</h3>
            <p>#:kendo.toString(UnitPrice, "c")#</p>
        </div>
    </script>

    <ul id="menu">
        <li>
            Reply
            <ul>
                <li>Reply to Sender</li>
                <li>Reply to All</li>
            </ul>
        </li>
        <li class="k-separator"></li>
        <li>
            Forward
        </li>
        <li class="k-separator"></li>
        <li>
            Mark as
            <ul>
                <li>Unread</li>
                <li class="k-separator"></li>
                <li>Important</li>
                <li>Junk</li>
            </ul>
        </li>
        <li>
            Label
            <ul>
                <li>None</li>
                <li class="k-separator"></li>
                <li>Important</li>
                <li>Work</li>
                <li>Personal</li>
                <li>To Do</li>
                <li class="k-separator"></li>
                <li>New Label</li>
            </ul>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function() {
        var dataSource = new kendo.data.DataSource({
            data: products,
            pageSize: 5
        });

        $("#pager").kendoPager({
            dataSource: dataSource
        });

        $("#listview-context-menu").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html())
        });

        $("#menu").kendoContextMenu({
            target: "#listview-context-menu",
            filter: ".product",
            select: function(e) {

            }
        });
    });
</script>

<style scoped>
    .demo-section {
            width: 860px;
            margin: 20px auto;
            border: 0;
            background: none;
        }
    #listview-context-menu {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 300px;
    }
    .product {
        position: relative;
        height: 60px;
        margin: 0 5px;
        padding: 0;
    }
    .product img {
        width: 50px;
        height: 50px;
        float: left;
    }
    .product h3 {
        margin: 0;
        padding: 3px 5px 0 0;
        overflow: hidden;
        line-height: 1.1em;
        font-size: .9em;
        font-weight: normal;
        text-transform: uppercase;
        color: #999;
        vertical-align: top;
    }
    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>
