<div id="example">
    <script src="../content/shared/js/webmail.js"></script>

    <div class="demo-section k-header">
        <h4>WebMail</h4>
        <div id="listview-context-menu"></div>
        <div id="pager" class="k-pager-wrap"></div>
    </div>

    <script type="text/x-kendo-template" id="template">
        <div class="product">
            <img src="../content/shared/images/employees/#= FromID #.png" alt="#: From #" />
            
            <h3>#:Title#</h3>
            <p class="date">#:Date#</p>
            <p>#:From#</p>
        </div>
    </script>

    <ul id="menu">
        <li>
            <img src="../content/web/toolbar/reply.png" /> Reply
            <ul>
                <li><img src="../content/web/toolbar/reply.png" /> Reply to Sender</li>
                <li><img src="../content/web/toolbar/reply.png" /> Reply to All</li>
            </ul>
        </li>
        <li class="k-separator"></li>
        <li>
            <img src="../content/web/toolbar/forward.png" />  Forward
        </li>
        <li class="k-separator"></li>
        <li>
            Mark as
            <ul>
                <li><img src="../content/web/toolbar/todo.png" />  Unread</li>
                <li class="k-separator"></li>
                <li><img src="../content/web/toolbar/important.png" />  Important</li>
                <li><img src="../content/web/toolbar/done.png" />  Read</li>
            </ul>
        </li>
        <li>
            Label
            <ul>
                <li>None</li>
                <li class="k-separator"></li>
                <li>Important</li>
                <li>Work</li>
                <li>Personal</li>
                <li>To Do</li>
                <li class="k-separator"></li>
                <li>New Label</li>
            </ul>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function() {
        var dataSource = new kendo.data.DataSource({
            data: mails,
            pageSize: 5
        });

        $("#pager").kendoPager({
            dataSource: dataSource
        });

        $("#listview-context-menu").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html())
        });

        $("#menu").kendoContextMenu({
            target: "#listview-context-menu",
            filter: ".product",
            select: function(e) {

            }
        });
    });
</script>

<style scoped>
    .demo-section {
            width: 860px;
        }
    #listview-context-menu {
        padding: 0;
        margin-bottom: -1px;
        min-height: 300px;
    }
    .product {
        position: relative;
        height: 62px;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(128,128,128,.3);
    }
    .product img {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin: 10px;
        border: 1px solid #000;
        float: left;
    }
    .product h3 {
        margin: 0;
        padding: 15px 5px 1px 0;
        overflow: hidden;
        line-height: 1em;
        font-size: 1.1em;
        font-weight: bold;
    }
    .product p {
        font-size: .9em;
    }
    .product .date {
        float: right;
        margin: -8px 15px 0 0;
    }
    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>
