<div data-role="view">
    <h3>OctaGram</h3>
    <p>Your life, captured.</p>
    <a data-role="button" data-rel="modalview" href="#modalview-login">Login</a>

    <div data-role="modalview" id="modalview-login" style="width: 95%; height: 80%;">
        <div data-role="header">
            <div data-role="navbar">
                <span>Login</span>
                <a data-click="closeModalViewLogin" data-role="button" data-align="right">Cancel</a>
            </div>
        </div>

        <ul data-role="listview" data-style="inset">
            <li><label for="username">Username:</label> <input type="text" id="username" /></li>
            <li><label for="password">Password:</label> <input type="password" id="password" /></li>
        </ul>
        <a data-click="closeModalViewLogin" id="modalview-login-button" type="button" data-role="button">Login</a>
    </div>
</div>

<style scoped>
    #modalview-login-button
    {
        display: block;
        text-align: center;
        margin: 0 .8em;
        font-size: 1.2em;
    }
</style>
<script>
    function closeModalViewLogin() {
        $("#modalview-login").kendoMobileModalView("close");
    }
</script>
