<div class="demo-section">
    @(Html.Kendo().TreeView()
        .Name("treeview")
        .DataTextField("Name")
        .DataSource(dataSource => dataSource
            .Read(read => read
                .Action("Employees", "TreeView")
            )
        )
    )
</div>

<style scoped>
    .demo-section {
        width: 200px;
    }
</style>