<div id="example" class="k-content">
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Hover some series</span>
            <div data-role="chart"
                 data-title="{ text: 'Ozone Concentration (ppm)', position: 'bottom' }"
                 data-legend="{ visible: 'false' }"
                 data-series-defaults="{ type: 'boxPlot' }"
                 data-series="[{
                                lowerField: 'lower',
                                q1Field: 'q1',
                                medianField: 'median',
                                q3Field: 'q3',
                                upperField: 'upper',
                                outliersField: 'outliers',
                                categoryField: 'year'
                              }]"
                 data-category-axis="{ labels: { rotation: '-90' }}"
                 data-bind="visible: isVisible,
                            source: monthlyTemperatures,
                            events: { seriesHover: onSeriesHover }"></div>
        </div>
        <div class="config-section console-section">
            <div class="configHead">Console</div>
            <div class="console"></div>
        </div>
    </div>
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Configuration</span>
            <div>
                <label><input type="checkbox" data-bind="checked: isVisible">Visible</label>
            </div>
        </div>
        <div class="config-section" style="width: 440px">
            <span class="configHead">Information</span>
            Kendo UI Chart supports the
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/events">events</a>,
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/source">source</a> and
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
        </div>
    </div>
<script>
    function createChart() {
        var viewModel = kendo.observable({
            isVisible: true,
            onSeriesHover: function(e) {
                 kendoConsole.log(kendo.format("event :: seriesHover ({0})", e.category));
            },
            monthlyTemperatures: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "../../content/dataviz/js/ozone.json",
                        dataType: "json"
                    }
                },
                sort: {
                    field: "year",
                    dir: "asc"
                }
            })
        });
        kendo.bind($("#example"), viewModel);
    }

    $(document).ready(createChart).bind("kendo:skinChange", createChart);

</script>
</div>
