.device-skin
{
    font-size: 11px; /* Sets the zoom level */
}

.device-container.vertical .device-skin
{
    background-image: url("images/vertical.png");
}

.device-container.horizontal .device-skin
{
    background-image: url("images/horizontal.png");
}

.device-container.vertical
{
    width: 1019px;
    height: 810px;
    padding: 3.2cm 7.64cm 4.13cm 7.65cm;
}

.device-container.horizontal
{
    width: 1230px;
    height: 735px;
    padding: 3.69cm 8.5cm 5.6cm;
}

#address-bar
{
    height: 18px;
}

.device-container.vertical #address-bar
{
    font-size: 11px;
    left: 395px;
    top: 77px;
    width: 184px;
}

.device-container.horizontal #address-bar
{
    font-size: 11px;
    left: 428px;
    top: 95px;
    width: 268px;
}

#navigate-back
{
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.3);
    background: rgba(0,0,0,.1);
}

.device-container.vertical #navigate-back
{
    top: 78px;
    left: 299px;
}

.device-container.horizontal #navigate-back
{
    top: 96px;
    left: 332px;
}
