// Window
.k-window {
    .border-radius(@window-border-radius);
    .fill(
        @window-text,
        @window-bg,
        @window-border
    );
    box-shadow: @window-shadow;
}
.k-window.k-state-focused,
.k-window.k-focus {
    border-color: @window-border;
    box-shadow: @window-focus-shadow;
}


// Titlebar
.k-window-titlebar {
    .border-top-radius(@window-border-radius);
    .fill(
        @window-titlebar-text,
        @window-titlebar-bg,
        @window-titlebar-border,
        @window-titlebar-gradient
    );
}
.k-window-title {}


// Actions
.k-window-actions {}
.k-window-action {
    .border-radius(@window-action-border-radius);
}


// Content
.k-window-content {
    .border-bottom-radius(@border-radius);
}
.k-window-titleless .k-window-content {
    .border-radius(@border-radius);
}
