[submodule "build/less-js"]
	path = build/less-js
	url = https://github.com/telerik/less.js.git
[submodule "tests/qunit"]
	path = tests/qunit
	url = https://github.com/telerik/qunit.git
[submodule "docs"]
	path = docs
	url = git@github.com:telerik/kendo-docs.git
