*.tmp
*.gpState
*.pdb
*.suo
*.swp
*.user
*.mdb
obj/
bin/
dist/
.DS_Store
.JustCode
.bundle/
.livereload
.dir-locals.el
!src/jquery.min.js
styles/web/*.css
styles/mobile/*.css
styles/dataviz/*.min.css
styles/*.css
!styles/web/kendo.rtl.css
node_modules
./tags
*-test-results.xml
.listen_test
.tern-port
kendo-cdn
src/.tern-port
build/timezone-js
ci
playground
