[submodule "build/less-js"]
    path = build/less-js
    url = git@github.com:telerik/less.js.git
[submodule "tests/qunit"]
    path = tests/qunit
    url = git@github.com:jquery/qunit.git
[submodule "docs"]
    path = docs
    url = git@github.com:telerik/kendo-docs.git
[submodule "ci/cookbooks/yum"]
    path = ci/cookbooks/yum
    url = git@github.com:cookbooks/yum.git
[submodule "ci/cookbooks/apt"]
    path = ci/cookbooks/apt
    url = git@github.com:opscode-cookbooks/apt.git
[submodule "build/timezone-js"]
    path = build/timezone-js
    url = git@github.com:mde/timezone-js.git
