*.dll
*.tmp
*.gpState
*.pdb
*.suo
*.swp
*.user
*.mdb
obj/
bin/
!**/References/*.dll
.DS_Store
.JustCode
.livereload
app.js
deploy/
dist/
dist/ demos/examples/shared/js/kendo.examples.js
demos/mvc/content/docs/
demos/mvc/sources
!src/docs
!src/jquery.min.js
src/**/*.min.js
src/*.min.js
src/kendo.aspnetmvc.js
src/kendo.all.js
src/kendo.dataviz.js
src/kendo.mobile.js
src/kendo.web.js
styles/**/*.css
!styles/web/kendo.common.css
!styles/web/kendo.rtl.css
!styles/dataviz/kendo.dataviz.css
live/
node_modules
release/
sitefinity-docs/
tags
functional-tests/Results/
functional-tests/**/**/Profiler Configurations/
functional-tests/**/Backup/
functional-tests/**/Profiler Configurations/
functional-tests/**/Results/
functional-tests/**/TestLists/
functional-tests/**/TestResults/
functional-tests/KendoCustom/**/Backup/
functional-tests/KendoCustom/**/Results/
functional-tests/KendoCustom/**/TestLists/
functional-tests/KendoCustom/**/TestResults/
functional-tests/KendoDemosTests/bin
styles/*.css
!styles/kendo.common.css
themebuilder/src/scripts/template.js
themebuilder/src/styles/kendo.black.css
themebuilder/src/styles/Black/
themebuilder/src/styles/textures/
demos/mvc/bin/Kendo.*
download-builder/service/bin/Download.*
download-builder/service/App_Data
wrappers/mvc/demos/**/Scripts
wrappers/mvc/demos/**/Content
wrappers/mvc/demos/**/App_Data
Guardfile
playground/chart*
wrappers/java/**/target
wrappers/java/target
demos/KendoCRUDService/KendoCRUDService/Content/UserFiles
