# REQUIRED - DO NOT REMOVE OR CIRCUMVENT
registry=https://pkg.harness.io/pkg/ct8onj8YTdaXtKaFsYCRLg/org-devtools-npm/npm/
@telerik:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GH_TOKEN}

# Block risky lifecycle scripts by default
ignore-scripts=true

# Set minimum release age for all packages
min-release-age=7

# Except for our own packages, which we want to be able to update immediately
min-release-age-exclude[]=@progress/*
min-release-age-exclude[]=@telerik/*

# Default lockfile-only installs for pnpm
frozen-lockfile=true
ignore-workspace-root-check=true

