.device-skin
{
    font-size: 12px; /* Sets the zoom level */
}

.device-container.vertical .device-skin
{
    padding-top: 2.74cm;
    background-image: url("images/vertical.png");
}

.device-container.horizontal .device-skin
{
    padding-top: 1.22cm;
    background-image: url("images/horizontal.png");
}

.device-container.vertical
{
    bottom: -150px;
    width: 864px;
    height: 800px;
    padding: 3.88cm 8.24cm 8.46cm 8.3cm;
}

.device-container.horizontal
{
    bottom: -150px;
    width: 1115px;
    height: 704px;
    padding: 2.34cm 9.68cm 11.78cm 9.68cm;
}

#address-bar
{
    height: 18px;
}

.device-container.vertical #address-bar
{
    left: 346px;
    top: 116px;
    width: 154px;
}

.device-container.horizontal #address-bar
{
    left: 396px;
    top: 57px;
    width: 303px;
}
