        <div id="example">
            <div class="box">
                <h4>What are the Telerik Backend Services?</h4>
                <p>Telerik Backend Services are a set of cloud-based services that enable developers to build and manage mobile apps in significantly faster, easier and more scalable way. Telerik Backend Services can significantly speed-up development by providing your app with data storage, user management and server-code execution. Unlike other products, Telerik Backend Services are the integrated cloud-storage provider for all Telerik products.</p>
                <p style="padding-top: 1em;">&raquo; <a class="hyperlink" href="http://docs.telerik.com/platform/backend-services/what-are-telerik-backend-services" title="Getting started with Telerik Backend Services">What are Telerik Backend Services</a></p>
                <p>&raquo; <a class="hyperlink" href="http://docs.telerik.com/platform/backend-services/development/javascript-sdk/introduction">Telerik Backend Services JavaScript SDK</a></p>
                <p>&raquo; <a class="hyperlink" href="http://docs.telerik.com/platform/backend-services/development/javascript-sdk/kendoui/kendo-uiintegration" title="Introduction to Kendo UI and Telerik Backend Services JavaScript integration">Integration with Kendo UI</a></p>

                <p class="demo-hint" style="padding-top: 1em;">Note: The Telerik Backend Services datasource is not supported on IE8 and below yet, because it relies on <a class="hyperlink" href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing">cross-origin resource sharing</a>.</p>
            </div>
            <!--[if gte IE 9]>-->
                <div id="grid"></div>
            <script src="../content/shared/js/everlive.all.js"></script>
            <script>
                var everlive = new Everlive({
                    apiKey: "3q4sHgIqESXbpvOp",
                    scheme: "http"
                });

                $(document).ready(function() {
                    // initialize Everlive application with application API key
                    var dataSource = new kendo.data.DataSource({
                        type: "everlive",
                        transport: {
                            // binding to the Order type in Everlive
                            typeName: "Order"
                        },
                        schema: {
                            model: {
                                id: "Id",
                                fields: {
                                    // default Everlive fields
                                    CreatedBy:  { type: "string" },
                                    CreatedAt:  { type: "date" },
                                    ModifiedAt: { type: "date" },

                                    // type fields
                                    Freight:    { type: "number" },
                                    OrderDate:  { type: "date" },
                                    ShipName:   { type: "string" },
                                    ShipCity:   { type: "string" }
                                }
                            }
                        },
                        serverPaging: true,
                        pageSize: 20,

                        serverSorting: true,
                        sort: { field: 'OrderDate', dir: 'asc' }
                    });

                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        height: 430,
                        sortable: true,
                        pageable: true,
                        columns: [
                            {
                                field: "Freight",
                                width: 100
                            }, {
                                field: "OrderDate",
                                title: "Order Date",
                                width: 120,
                                format: "{0:MM/dd/yyyy}"
                            }, {
                                field: "ShipName",
                                title: "Ship Name"
                            }, {
                                field: "ShipCity",
                                title: "Ship City",
                                width: 150
                            }
                        ]
                    });
                });
            </script>
            <!--<![endif]-->
        </div>
