        <script src="../../content/shared/js/people.js"></script>

        <div id="example" class="k-content">
            <div id="loading" class="demo-section" style="text-align:center">
                Generating test data...
            </div>

            <div id="grid"></div>

            <script>
                $(document).ready(function() {
                    generatePeople(100000, function(data) {
                        $("#loading").hide();

                        $("#grid").kendoGrid({
                            dataSource: {
                                data: data,
                                pageSize: 50
                            },
                            height: 430,
                            scrollable: {
                                virtual: true
                            },
                            columns: [ { field: "Id", title: "ID", width: "70px" },
                                { field: "FirstName", title: "First Name", width: "130px" },
                                { field: "LastName", title: "Last Name", width: "130px" },
                                { field: "City", title: "City", width: "130px" },
                                "Title"
                            ]
                        });
                    });
                });
            </script>
        </div>
