<script src="../content/shared/js/people.js"></script>

<div id="example">
    <div id="message" class="demo-section k-header" style="text-align:center"></div>

    <div id="grid"></div>

    <script>
        $(function() {
            var count = 500000;

            if (kendo.support.browser.msie) {
                if (kendo.support.browser.version < 10) {
                    count = 100000;
                } else {
                    count = 200000;
                }
            }

            $("#message").text(kendo.format("Generating {0} items", count));

            generatePeople(count, function(data) {
                var initStart;
                var renderStart;

                $("#message").text("");

                setTimeout(function() {
                    initStart = new Date();

                    $("#grid").kendoGrid({
                        dataSource: {
                            data: data,
                            pageSize: 20
                        },
                        height: 543,
                        scrollable: {
                            virtual: true
                        },
                        pageable: {
                            info: true,
                            numeric: false,
                            previousNext: false
                        },
                        columns: [
                            { field: "Id", title: "ID", width: "110px" },
                            { field: "FirstName", title: "First Name", width: "130px" },
                            { field: "LastName", title: "Last Name", width: "130px" },
                            { field: "City", title: "City", width: "130px" },
                            { field: "Title" }
                        ]
                    });

                    initEnd = new Date();

                    $("#message").text(kendo.format("Kendo UI Grid bound to {0} items in {1} milliseconds", count, initEnd - initStart));
                });
            });
        });
    </script>
</div>
