@accent: #cde6f7;
@base: #0072c6;
@background: #fff;

@border-radius: 0;
@icon-size: 16px;

@normal-background: #fff;
@normal-text-color: #333333;
@normal-gradient: none;
@hover-background: #f4f4f4;
@hover-text-color: #000;
@hover-gradient: none;
@selected-background: #cde6f7;
@selected-text-color: #333333;
@selected-gradient: none;

@is-dark-theme: boolean( luma(@background) < 50% );

@primary: @accent;
@secondary: @base;
@tertiary: #008a17;
@info: #1976d2;
@success: #43a047;
@warning: #ffdb04;
@error: #f44336;
@dark: #000000;
@light: #ffffff;
@inverse: if(@is-dark-theme, @light, @dark);


@theme-colors: {
    primary: @primary;
    secondary: @secondary;
    tertiary: @tertiary;
    info: @info;
    success: @success;
    warning: @warning;
    error: @error;
    dark: @dark;
    light: @light;
    inverse: @inverse;
}

@series-a: #0072c6;
@series-b: #5db2ff;
@series-c: #008a17;
@series-d: #82ba00;
@series-e: #ff8f32;
@series-f: #ac193d;

// graphics
@image-folder: "Office365";
@texture: none;
@fallback-texture: none;

@import "type-office365.less";
