@input-height: 2.071em;
@input-indent: .8em;
@editor-icon-size: 32px;
@menu-link-padding: 1.071em;
@button-padding: 10px 14px;
@treeview-inner-padding: 0.429em 0.6667em 0.429em 0.5833em;
@treeview-inner-margin: 1px 0 1px 0.3333em;
@scheduler-link-padding: .16666em 1.1em;
@grid-header-padding: .429em .2em .429em 1em;

@import "common/all.less";

.k-button {
    line-height: 1.143em;
    padding: 9px 14px;
}

.k-widget.k-tabstrip
{
    background-color: transparent;
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip > .k-content,
.k-panelbar .k-tabstrip > .k-content
{
    margin: 0;
}

.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link {
    line-height: 3.5em;
}

.k-tabstrip-items .k-tab-on-top,
.k-tabstrip-items .k-state-active {
    margin-bottom: -2px;
    padding-bottom: 0;
}

.k-tabstrip-items > .k-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.k-tabstrip-items .k-link {
    padding: 1.071em;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-grouping-dropclue
{
    margin-top: 10px;
}

.k-grid-header th.k-header,
.k-filter-row th
{
    padding: .786em .6em .714em .6em;
}

.k-grouping-header .k-group-indicator
{
    padding: .5em .15em .429em .4em;
}

.k-grid .k-grouping-row td {
    padding: .6em .6em 0.643em;
}

.k-grouping-header a,
.k-grouping-header .k-button
{
    vertical-align: baseline;
}

.k-grid td {
    padding: 0.929em .6em;
}

.k-grouping-header
{
    line-height: 2.6;
}

.k-grid tr td
{
    border-width: 1px 0 0 1px;
    border-style: solid;
}

.k-pager-numbers .k-state-selected {
    line-height: 2em;
    cursor: pointer;
}

.k-pager-wrap {
    padding: 0;
}

.k-pager-wrap .k-link,
.k-pager-wrap .k-pager-numbers .k-state-selected,
.k-pager-sizes{
    padding: .643em 0 .643em 0.250em;
}

.k-pager-info {
    padding: .714em 1.333em .643em 1.333em;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input
{
    padding: 0.214em 0;
}

.k-calendar {
    width: 19em;
}

.k-calendar td {
    padding: 0;
}

.k-calendar .k-content {
    padding: 5px;
}

.k-calendar .k-content .k-link {
    min-height: 2.571em;
    line-height: 2.571em;
    padding: 0;
    text-align: center;
}

.k-calendar th {
    border-bottom-width: 0;
    padding: .714em .45em .714em 0;
}

.k-calendar .k-footer {
    border-top-width: 1px;
    border-top-style: solid;
}

.k-popup.k-list-container,
.k-popup.k-calendar-container {
    padding: 0;
}

.k-button,
.k-calendar .k-header .k-link,
.k-calendar .k-footer {
    text-transform: uppercase;
}

.k-widget.k-calendar .k-nav-fast
{
    width: 65%;
    height: 2.571em;
    line-height: 2.571em;
    margin: 0.429em -0.08333em 0.429em 0;
}

.k-calendar .k-header .k-icon
{
    vertical-align: middle;
}

.k-widget.k-calendar .k-nav-prev,
.k-widget.k-calendar .k-nav-next
{
    position: absolute;
    top: 0.429em;
    line-height: 2.571em;
    height: 2.571em;
}

.k-calendar .k-header .k-link.k-nav-prev,
.k-calendar .k-header .k-link.k-nav-next
{
    height: 2.571em;
    width: 2.571em;
}

.k-widget.k-calendar .k-nav-prev {
    left: 0.429em;
}

.k-widget.k-calendar .k-nav-next {
    right: 0.429em;
}

.k-calendar .k-footer .k-nav-today,
.k-calendar .k-footer > .k-state-disabled
{
    padding: 1.071em 0 1.071em;
}

.k-multiselect-wrap .k-input {
    height: @input-height;
}

.k-multiselect-wrap li {
    border-radius: 1.071em;
    margin: 3px;
    padding: 0 .15em 0 .4em;
}

.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
    border-width: 0;
}

.k-editor .k-editor-toolbar-wrap
{
    padding: 2px 0;
}

.k-toolbar {
    padding: 0.214em 0.214em;
}

.k-toolbar .k-button {
    line-height: 1.143em;
}

.k-toolbar .k-overflow-anchor {
    line-height: inherit;
}

.k-editor-toolbar .k-tool,
.k-editor-toolbar .k-button-group .k-tool.k-group-end {
    border-width: 0;
}

.k-editor-toolbar .k-state-selected {
    font-weight: bold;  
}

.k-editor-toolbar .k-tool.k-state-hover {
    border-radius: 50%;
}

.k-draghandle
{
    border-width: 2px;
}

span.k-tooltip
{
    padding: 9px 17px;
}

.k-block > .k-header, 
.k-window-titlebar {
    padding: 0.5em 0 0.571em;
}

.k-file {
    padding: 0.357em .167em 0.357em .8em;
}

.k-scheduler-table td,
.k-scheduler-table th
{
    height:1.643em;
}

.k-gantt-treelist .k-grid-header tr {
    height: 5.714em;
}

.k-gantt-timeline .k-grid-header tr {
    height: 2.857em;
}

.k-notification-wrap {
    padding: 1.786em;
}

.k-notification-wrap > .k-i-close {
    top: 21px;
}

.k-slider-track {
    border-width: 0;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection {
    height: 2px;
    margin-top: -1px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection {
    width: 2px;
    margin-left: -1px;
}

.k-slider-horizontal .k-draghandle,
.k-slider-vertical .k-draghandle {
    width: 6px;
    height: 6px;
}

.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link
{
    width: 10px;
    height: 10px;
}

.k-slider-horizontal .k-draghandle.k-state-selected {
    top: -6px;
}

.k-slider-vertical .k-draghandle.k-state-selected {
    left: -6px;
}

//New icons 
.k-numerictextbox .k-select .k-link span.k-i-arrow-n  { background-position: 0 -3px; }
.k-numerictextbox .k-select .k-link span.k-i-arrow-s { background-position: 0 -35px; }

.k-state-hover .k-select span.k-i-arrow-s { 
    background-position: 0 -32px; 
}

.k-state-hover .k-select span.k-i-calendar { 
    background-position: -32px -176px; 
}

.k-state-hover .k-select span.k-i-clock { 
    background-position: -32px -192px; 
}

.k-multiselect.k-state-hover .k-delete {
    background-position: -160px -80px;
}

.k-state-border-down .k-select span.k-i-arrow-s,
.k-colorpicker .k-state-border-up .k-select span.k-i-arrow-s { 
    background-position: 0 0; 
}

.k-state-hover .k-icon.k-i-arrow-w {
    background-position: 0px -48px;
}

.k-state-hover .k-icon.k-i-arrow-e {
    background-position: 0px -16px; 
}

.k-calendar .k-icon.k-i-arrow-w {
     background-position: -16px -48px;
}

.k-calendar .k-icon.k-i-arrow-e {
     background-position: -16px -16px;
}

.k-button:hover .k-i-close, .k-button:hover .k-delete {
    background-position: -32px -16px;
}

.k-tooltip .k-i-close,
.k-window-titlebar .k-i-close {
    background-position: -48px -16px;
}

.k-window-titlebar .k-i-maximize {
    background-position: -48px -144px;
}

.k-window-titlebar .k-i-minimize {
    background-position: -80px -288px;
}

.k-window-titlebar .k-i-pin {
    background-position: -176px -256px;
}

.k-window-titlebar .k-i-custom {
    background-position: -141px -113px;
}

.k-window-titlebar .k-i-refresh {
    background-position: -48px -112px;
}