@image-folder: "Metro";
@texture: none;
@fallback-texture: url('textures/highlight.png');
@widget-gradient: none;
@widget-shadow: none;
@hover-gradient: none;
@hover-shadow: none;
@selected-gradient: none;
@selected-shadow: none;
@active-gradient: none;
@active-shadow: none;
@widget-background-color: #ffffff;
@widget-border-color: #dadada;
@widget-text-color: #787878;
@header-background-color: #ffffff;
@header-text-color: #787878;
@button-background-color: #ffffff;
@button-text-color: #787878;
@group-background-color: #ffffff;
@group-border-color: #dadada;
@content-background-color: #ffffff;
@select-background-color: #ffffff;
@select-border-color: #dadada;
@select-hover-background-color: #8ebc00;
@select-group-background-color: #ffffff;
@hover-background-color: #8ebc00;
@hover-border-color: #8ebc00;
@hover-text-color: #ffffff;
@selected-background-color: #7ea700;
@selected-border-color: #7ea700;
@selected-text-color: #ffffff;
@active-background-color: #ffffff;
@active-border-color: #7ea700;
@active-text-color: #000000;
@error-background-color: #ffffff;
@error-border-color: #e20000;
@error-text-color: #e20000;
@disabled-text-color: #ccc;
@validation-background-color: #ffe13a;
@validation-border-color: #ffe13a;
@validation-text-color: #787878;
@tooltip-background-color: #8ebc00;
@tooltip-border-color: #8ebc00;
@tooltip-text-color: #ffffff;
@main-border-radius: 0;
@list-border-radius: 0;
@inner-border-radius: 0;
@slider-border-radius: 13px;
@draghandle-border-radius: 0;
@draghandle-border-color: #8EBC00;
@draghandle-background-color: #8EBC00;
@draghandle-shadow: 0 1px 1px 0 #676767;
@draghandle-hover-border-color: #7ea700;
@draghandle-hover-background-color: #7ea700;
@draghandle-hover-shadow: 0 1px 1px 0 #676767;
@alt-background-color: #f5f5f5;
@input-background-color: #ffffff;
@input-text-color: #787878;
@shadow-color: rgba(0, 0, 0, 0.3);
@shadow-inset-color: transparent;
@link-text-color: #787878;
@loading-panel-color: #ffffff;
@splitbar-background-color: #dadada;
@default-icon-opacity: 1;
@import "template.less";
