@accent: #3f51b5;
@base: #fff;
@background: #fff;

@border-radius: 2px;

@normal-background: #fff;
@normal-text-color: #444444;
@normal-gradient: none;
@hover-background: #ebebeb;
@hover-text-color: #444444;
@hover-gradient: none;
@selected-background: #00b0ff;
@selected-text-color: #3f51b5;
@selected-gradient: none;

@error: #ffcdd2;
@warning: #fdefba;
@success: #c8e6c9;
@info: #bbdefb;

@series-a: #3f51b5;
@series-b: #03a9f4;
@series-c: #4caf50;
@series-d: #f9ce1d;
@series-e: #ff9800;
@series-f: #ff5722;

// graphics
@image-folder: "Material";
@texture: none;
@fallback-texture: none;

@import "type-material.less";
