@accent: #3f51b5;
@base: #fff;
@background: #fff;

@border-radius: 2px;
@icon-size: 16px;

@normal-background: #fff;
@normal-text-color: #444444;
@normal-gradient: none;
@hover-background: #ebebeb;
@hover-text-color: #444444;
@hover-gradient: none;
@selected-background: #00b0ff;
@selected-text-color: #3f51b5;
@selected-gradient: none;

@is-dark-theme: boolean( luma(@background) < 50% );

@primary: @accent;
@secondary: @base;
@tertiary: #4caf50;
@info: #2196f3;
@success: #4caf50;
@warning: #ff9800;
@error: #f44336;
@dark: #000000;
@light: #ffffff;
@inverse: if(@is-dark-theme, @light, @dark);


@theme-colors: {
    primary: @primary;
    secondary: @secondary;
    tertiary: @tertiary;
    info: @info;
    success: @success;
    warning: @warning;
    error: @error;
    dark: @dark;
    light: @light;
    inverse: @inverse;
}

@series-a: #3f51b5;
@series-b: #03a9f4;
@series-c: #4caf50;
@series-d: #f9ce1d;
@series-e: #ff9800;
@series-f: #ff5722;

// graphics
@image-folder: "Material";
@texture: none;
@fallback-texture: none;

@import "type-material.less";
