@accent: #f4af03;
@base: #212a33;
@background: #414550;

@border-radius: 2px;

@normal-background: #212a33;
@normal-text-color: #fff;
@normal-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.1) 100%";
@hover-background: #40444f;
@hover-text-color: #fff;
@hover-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.1) 100%";
@selected-background: #f4af03;
@selected-text-color: #171e28;
@selected-gradient: "#ee9f05 0%, #f4af03 100%";

@error: #be5138;
@warning: #ea9d07;
@success: #2b893c;
@info: #0c779b;

@series-a: #ffca08;
@series-b: #ff710f;
@series-c: #ed2e24;
@series-d: #ff9f03;
@series-e: #e13c02;
@series-f: #a00201;

// graphics
@image-folder: "Moonlight";
@texture: url("textures/brushed-metal.png");
@fallback-texture: url("textures/brushed-metal.png");

@import "type-default.less";
