@accent: #870074;
@base: #2c232b;
@background: #1b141a;

@border-radius: 13px;

@normal-background: #1b141a;
@normal-text-color: #fff;
@normal-gradient: none;
@hover-background: #a7008f;
@hover-text-color: #fff;
@hover-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.0) 100%";
@selected-background: @accent;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.3) 0%, rgba(255,255,255,.1) 100%";

@error: #be5138;
@warning: #be9938;
@success: #2b893c;
@info: #0c779b;

// graphics
@image-folder: "HighContrast";
@texture: url(textures/glass-lighter.png);
@fallback-texture: url(textures/glass-lighter.png);

@import "type-highcontrast.less";
