@image-folder: "MetroBlack";
@texture: none;
@fallback-texture: none;
@widget-gradient: none;
@widget-shadow: none;
@hover-gradient: none;
@hover-shadow: none;
@selected-gradient: none;
@selected-shadow: none;
@active-gradient: none;
@active-shadow: none;
@widget-background-color: #0e0e0e;
@widget-border-color: #333333;
@widget-text-color: #ffffff;
@header-background-color: #0e0e0e;
@header-text-color: #ffffff;
@button-background-color: #0e0e0e;
@button-text-color: #ffffff;
@group-background-color: #0e0e0e;
@group-border-color: #333333;
@content-background-color: #0e0e0e;
@select-background-color: #0e0e0e;
@select-border-color: #333333;
@select-hover-background-color: #00aba9;
@select-group-background-color: #0e0e0e;
@hover-background-color: #00aba9;
@hover-border-color: #00aba9;
@hover-text-color: #ffffff;
@selected-background-color: #008886;
@selected-border-color: #008886;
@selected-text-color: #ffffff;
@active-background-color: #1e1e1e;
@active-border-color: #008886;
@active-text-color: #ffffff;
@error-background-color: #e20000;
@error-border-color: #e20000;
@error-text-color: #ffffff;
@disabled-text-color: rgba(170,170,170,0.4);
@validation-background-color: #ff9900;
@validation-border-color: #ff9900;
@validation-text-color: #000;
@tooltip-background-color: #00aba9;
@tooltip-border-color: #00aba9;
@tooltip-text-color: #ffffff;
@main-border-radius: 0;
@list-border-radius: 0;
@inner-border-radius: 0;
@slider-border-radius: 13px;
@draghandle-border-radius: 0;
@draghandle-border-color: #00aba9;
@draghandle-background-color: #00aba9;
@draghandle-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
@draghandle-hover-border-color: #008886;
@draghandle-hover-background-color: #008886;
@draghandle-hover-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
@alt-background-color: #1e1e1e;
@input-background-color: #0e0e0e;
@input-text-color: #ffffff;
@shadow-color: rgba(255,255,255,.1);
@shadow-inset-color: transparent;
@link-text-color: #ffffff;
@loading-panel-color: #0e0e0e;
@splitbar-background-color: #111111;
@default-icon-opacity: 1;
@import "template.less";
