@accent: #0066cc;
@base: #272727;
@background: #4d4d4d;

@border-radius: 4px;
@icon-size: 16px;

@normal-background: #4d4d4d;
@normal-text-color: #fff;
@normal-gradient: "rgba(255,255,255,0) 0%, rgba(255,255,255,.0) 50%, rgba(255,255,255,.0) 100%";
@hover-background: #3d3d3d;
@hover-text-color: #fff;
@hover-gradient: "rgba(255,255,255,.0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,.0) 100%";
@selected-background: #0066cc;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.08) 0%, rgba(255,255,255,.08) 50%, rgba(255,255,255,.0) 100%";

@is-dark-theme: boolean( luma(@background) < 50% );

@primary: @accent;
@secondary: @base;
@tertiary: #008fd3;
@info: #0c779b;
@success: #2b893c;
@warning: #ffb400;
@error: #db4240;
@dark: #000000;
@light: #ffffff;
@inverse: if(@is-dark-theme, @light, @dark);


@theme-colors: {
    primary: @primary;
    secondary: @secondary;
    tertiary: @tertiary;
    info: @info;
    success: @success;
    warning: @warning;
    error: @error;
    dark: @dark;
    light: @light;
    inverse: @inverse;
}

@series-a: #008fd3;
@series-b: #99d101;
@series-c: #f39b02;
@series-d: #f05662;
@series-e: #c03c53;
@series-f: #acacac;

// graphics
@image-folder: "Black";
@texture: url('textures/glass.png');
@fallback-texture: url('textures/glass.png');

@import "type-default.less";
