@input-height: 2.071em;
@input-indent: .8em;
@editor-icon-size: 32px;
@menu-link-padding: 1.071em;
@button-padding: 10px 14px;
@treeview-inner-padding: 0.429em 0.6667em 0.429em 0.5833em;
@treeview-inner-margin: 1px 0 1px 0.3333em;
@scheduler-link-padding: .16666em 1.1em;
@grid-header-padding: .429em .2em .429em 1em;

@import "common/all.less";

.k-button {
    line-height: 1.143em;
    padding: 9px 14px;
}

.k-widget.k-tabstrip
{
    background-color: transparent;
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip > .k-content,
.k-panelbar .k-tabstrip > .k-content
{
    margin: 0;
}

.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link {
    line-height: 3.5em;
}

.k-tabstrip-items .k-tab-on-top,
.k-tabstrip-items .k-state-active {
    margin-bottom: -2px;
    padding-bottom: 0;
}

.k-tabstrip-items > .k-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-grouping-dropclue
{
    margin-top: 10px;
}

.k-grid-header th.k-header,
.k-filter-row th
{
    padding: .786em .6em .714em .6em;
}

.k-grouping-header .k-group-indicator
{
    padding: .5em .15em .429em .4em;
}

.k-grid .k-grouping-row td {
    padding: .6em .6em 0.643em;
}

.k-grouping-header a,
.k-grouping-header .k-button
{
    vertical-align: baseline;
}

.k-grid td {
    padding: 0.929em .6em;
}

.k-grouping-header
{
    line-height: 2.6;
}

.k-grid tr td
{
    border-width: 1px 0 0 1px;
    border-style: solid;
}

.k-pager-numbers .k-state-selected {
    line-height: 2em;
    cursor: pointer;
}

.k-pager-wrap {
    padding: 0;
}

.k-pager-wrap .k-link,
.k-pager-wrap .k-pager-numbers .k-state-selected,
.k-pager-sizes{
    padding: .643em 0 .643em 0.250em;
}

.k-pager-info {
    padding: .714em 1.333em .643em 1.333em;
}

.k-calendar {
    width: 19em;
}

.k-calendar td {
    padding: 0;
}

.k-calendar .k-content {
    padding: 5px;
}

.k-calendar .k-content .k-link {
    min-height: 2.571em;
    line-height: 2.571em;
    padding: 0;
    text-align: center;
}

.k-calendar th {
    border-bottom-width: 0;
    padding: .714em .45em .714em 0;
}

.k-calendar .k-footer {
    border-top-width: 1px;
    border-top-style: solid;
}

.k-popup.k-list-container,
.k-popup.k-calendar-container {
    padding: 0;
}

.k-button,
.k-calendar .k-header .k-link,
.k-calendar .k-footer {
    text-transform: uppercase;
}

.k-widget.k-calendar .k-nav-fast
{
    width: 65%;
    height: 2.571em;
    line-height: 2.571em;
    margin: 0.429em -0.08333em 0.429em 0;
}

.k-calendar .k-header .k-icon
{
    vertical-align: middle;
}

.k-widget.k-calendar .k-nav-prev,
.k-widget.k-calendar .k-nav-next
{
    position: absolute;
    top: 0.429em;
    line-height: 2.571em;
    height: 2.571em;
}

.k-calendar .k-header .k-link.k-nav-prev,
.k-calendar .k-header .k-link.k-nav-next
{
    height: 2.571em;
    width: 2.571em;
}

.k-widget.k-calendar .k-nav-prev {
    left: 0.429em;
}

.k-widget.k-calendar .k-nav-next {
    right: 0.429em;
}

.k-calendar .k-footer .k-nav-today,
.k-calendar .k-footer > .k-state-disabled
{
    padding: 1.071em 0 1.071em;
}

.k-multiselect-wrap .k-input {
    height: @input-height;
}

.k-multiselect-wrap li {
    border-radius: 1.071em;
    margin: 3px;
    padding: 0 .15em 0 .4em;
}

.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
    border-width: 0;
}

.k-editor .k-editor-toolbar-wrap
.167em .167em .8em
{
    padding: 2px 0;
}

.k-editor-toolbar .k-tool,
.k-editor-toolbar .k-button-group .k-tool.k-group-end {
    border-width: 0;
}

.k-editor-toolbar .k-state-selected {
    font-weight: bold;  
}

.k-editor-toolbar .k-tool.k-state-hover {
    border-radius: 50%;
}

.k-draghandle
{
    border-width: 2px;
}

span.k-tooltip
{
    padding: 9px 17px;
}

.k-block > .k-header, 
.k-window-titlebar {
    padding: 0.5em 0 0.571em;
}

.k-file {
    padding: 0.357em .167em 0.357em .8em;
}

.k-scheduler-table td,
.k-scheduler-table th
{
    height:1.643em;
}

.k-gantt-treelist .k-grid-header tr {
    height: 5.714em;
}

.k-gantt-timeline .k-grid-header tr {
    height: 2.857em;
}

//New icons positions
//.k-i-arrow-s { background-position: 0px -32px !important; }

// outputs background-position
/*.sprite-position(@row, @column) when (ispixel(@column)) {
    background: @row @column;
}

// outputs background-position and hover state background position
.sprite-hoverable(@row, @column, @size: @grid-size) when (ispixel(@column)) {
    .sprite-position(@row, @column);

    .k-link:not(.k-state-disabled):hover > &,
    .k-state-hover > &,
    .k-state-hover > * > &,
    .k-button:hover &,
    .k-textbox:hover &,
    .k-button:active & {
        .sprite-position(@row - @size, @column);
    }
}*/