@image-folder: "Fiori";
@texture: none;
@tooltip-texture: none;
@fallback-texture: none;

/* Widget Base Styles */
@widget-text-color: #333;
@inverse-text-color: #fff;
@widget-gradient: none;
@widget-background-color: #fff;
@widget-border-color: #bfbfbf;
@widget-shadow: none;

/* Inputs */
@input-background-color: @widget-background-color;
@input-text-color: @widget-text-color;

/* Links */
@link-text-color: #007cc0;

/* Headers */
@header-text-color: @widget-text-color;
@header-background-color: #f2f2f2;

/* Buttons */
@button-text-color: @widget-text-color;
@button-background-color: #f2f2f2;

/* Group Base Styles */
@group-background-color: @widget-background-color;
@group-border-color: rgba(0, 0, 0, 0.2);

/* Content */
@content-background-color: @widget-background-color;


/* Widget States */

/* Hover State */
@hover-text-color: @widget-text-color;
@hover-gradient: none;
@hover-background-color: #eaeaea;
@hover-border-color: @hover-background-color;
@hover-shadow: none;

/* Selects, Dropdowns */
@select-background-color: @selected-background-color;
@select-border-color: @select-background-color;
@select-hover-background-color: @widget-background-color;
@select-group-background-color: @widget-background-color;

/* Selected State */
@selected-text-color: #fff;
@selected-gradient: none;
@selected-background-color: #007cc0;
@selected-secondary-background-color: #e6f2f9;
@selected-border-color: @selected-background-color;
@selected-shadow: none;

/*Focused State*/
@focused-border-color: @hover-border-color;
@focused-shadow: @hover-shadow;
@focused-item-shadow: none;
@focused-active-item-shadow: none;

/* Active State */
@active-text-color: @widget-text-color;
@active-gradient:  none;
@active-background-color: @widget-background-color;
@active-border-color: #c8c8c8;
@active-shadow: none;

/* Error State */
@error-text-color: @error-border-color;
@error-background-color: #ffd7d7;
@error-border-color: #e43031;

/* Disabled State */
@disabled-text-color: #7f7f7f;

/* Notification */
@notification-info-background-color: #d1eaff;
@notification-info-text-color: @widget-text-color;
@notification-info-border-color: #007cc0;
@notification-success-background-color: #cce8d8;
@notification-success-text-color: @widget-text-color;
@notification-success-border-color: #048b3e;
@notification-warning-background-color: #fef1d0;
@notification-warning-text-color: @widget-text-color;
@notification-warning-border-color: #eead09;
@notification-error-background-color: #ffd7d7;
@notification-error-text-color: @widget-text-color;
@notification-error-border-color: #e43031;

/* ToolTip */
@tooltip-text-color: @widget-text-color;
@tooltip-background-color: @widget-background-color;
@tooltip-border-color: @widget-border-color;

/* Validation Message */
@validation-text-color: @widget-text-color;
@validation-background-color: #fef1d0;
@validation-border-color: #eead09;

/* Splitter */
@splitbar-background-color: @button-background-color;

/* Slider */
@draghandle-border-radius: 0;
@draghandle-border-color: #707070;
@draghandle-background-color: @button-background-color;
@draghandle-shadow: none;
@draghandle-hover-border-color: @draghandle-border-color;
@draghandle-hover-background-color: #777;
@draghandle-hover-shadow: none;

/* Grid */
@alt-background-color: transparent;
@nested-alt-background-color: darken(@alt-background-color, 8%);
@cell-border-color: #c8c8c8;
@column-highlight-background-color: #e5e5e5;
@active-filter-background-color: @active-background-color;

/* Scheduler */
@scheduler-background-color: #f2f2f2;
@current-time-color: @error-border-color;
@event-background-color: @selected-background-color;
@event-text-color: @selected-text-color;
@event-inverse-text-color: @widget-text-color;
@scheduler-nonwork-background-color: #e5e5e5;
@resize-background-color: #fff;

/* Upload */
@upload-progress-background-color: #297cbd;
@upload-progress-text-color: @widget-text-color;
@upload-success-background-color: #fffcb5;
@upload-success-text-color: @widget-text-color;
@upload-error-background-color: #ffded7;
@upload-error-text-color: @widget-text-color;

/* Gantt*/

@task-summary-color: #ccc;
@task-summary-selected-color: @selected-secondary-background-color;

/* Loading Indicators */
@loading-panel-color: #fff;

/* Shadows */
@shadow-color: rgba(0, 0, 0, .2);
@shadow-inset-color: #ccc;

/* Border Radii */
@main-border-radius: 0;
@list-border-radius: 0;
@inner-border-radius: 0;
@slider-border-radius: 0;

/* Icons */
@default-icon-opacity: .5;

@calendar-border-radius: 0;
@calendar-content-text-color: @widget-text-color;
@calendar-footer-background: @widget-background-color;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @widget-background-color;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background-color;
@calendar-footer-active-background: @widget-background-color;
@calendar-group-background-color: @group-background-color;
@button-border-color: @widget-border-color;
@menu-border-color: transparent;
@tabstrip-items-border: transparent;
@tabstrip-active-background: @widget-background-color;
@tabstrip-tabs-color: @widget-text-color;
@form-widget-color: @widget-text-color;
@drop-down-border-color: @widget-border-color;
@drop-down-hover-border-color: @selected-border-color;
@drop-down-focused-border-color: @drop-down-hover-border-color;
@drop-down-background: @widget-background-color;
@drop-down-text-color: @widget-text-color;
@secondary-border-color: #c8c8c8;
@secondary-text-color: @widget-text-color;
@secondary-background-color: #fff;
@numeric-selected-background: #eaeaea;
@panelbar-items-border: @widget-border-color;
@panelbar-content-background: @content-background-color;
@panelbar-content-color: @widget-text-color;
@window-shadow-style: 1px 1px 13px 1px;
@filter-menu-content-background: @content-background-color;
@icon-background-color: transparent;
@disabled-background-color: @button-background-color;
@disabled-border-color: @button-background-color;
@disabled-gradient: @widget-gradient;

//new var-s
@treeview-text-color: @widget-text-color;
@treeview-hover-text-color: @widget-text-color;
@tabstrip-tabs-hover-color: @widget-text-color;
@multiselect-buttons-color: @widget-text-color;
@multiselect-buttons-background: #f4f4f4;
@multiselect-buttons-border-color: @multiselect-buttons-background;
@multiselect-buttons-hover-background: #eaeaea;
@multiselect-buttons-hover-border-color: @multiselect-buttons-hover-background;
@slider-selection-background-color: @selected-background-color;
@form-widgets-border-color: #e7e7e7;
@pager-text-color: @widget-text-color;
@draghandle-selected-background: @selected-background-color;
@form-widgets-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
@concave-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);

@primary-button-text-color: #fff;
@primary-button-background-color: #009de0;
@primary-button-border-color: #008bc7;
@primary-gradient: none;
@primary-shadow:none;

@primary-hover-text-color: @primary-button-text-color;
@primary-hover-background-color: #008bc7;
@primary-hover-border-color: @primary-button-border-color;
@primary-hover-gradient: none;
@primary-hover-shadow: none;

@primary-focused-color: @primary-button-text-color; 
@primary-focused-border-color: #005483;
@primary-focused-gradient: none;
@primary-focused-active-item-shadow: none;

@primary-active-text-color: @primary-button-text-color;
@primary-active-background-color: #0079ad;
@primary-active-gradient: none;
@primary-active-border-color: @primary-active-background-color;
@primary-active-shadow: none;

@primary-disabled-text-color: @primary-button-text-color;
@primary-disabled-background-color: #7fcdef;
@primary-disabled-border-color: #7fc4e2;
@primary-disabled-gradient: none;

@button-hover-text-color: @hover-text-color;
@button-hover-background-color: #eaeaea;
@button-hover-border-color: @widget-border-color;

@button-active-background: @selected-background-color;
@button-active-border-color: #005483;
@button-focused-border-color: @selected-border-color;
@button-focused-shadow: none;
@button-focused-active-shadow: none;


//new var-s
@accent-color: @selected-border-color;

//Checkboxes
@checkbox-border-color-before: transparent;
@checkbox-border-color-after: @widget-border-color;
@checkbox-border-radius-before: 1px;
@checkbox-background-color: @widget-background-color;

@checkbox-hover-border-color: @selected-border-color;
@checkbox-hover-box-shadow: none;

@checkbox-checked-border-color-after: @checkbox-border-color-after;
@checkbox-checked-border-radius-after: 1px;
@checkbox-checked-background-color-after: @checkbox-background-color;
@checkbox-checked-color-after: @selected-background-color;

@checkbox-active-border-color-before: transparent;
@checkbox-active-border-color-after: @checkbox-border-color-after;
@checkbox-active-border-radius: 1px;
@checkbox-active-border-radius-after: 1px;
@checkbox-active-box-shadow: none;

@checkbox-checked-active-border-radius-before: 0;
@checkbox-checked-active-box-shadow: none;

@checkbox-checked-disabled-color-after: #b3bac7;
@checkbox-disabled-background-color-after: #f4f4f5;
@checkbox-disabled-color: #bfbfbf;
@checkbox-disabled-box-shadow: none;
@checkbox-disabled-border-color-before: #bfbfbf;

//Radio buttons
@radio-border-color-before: @widget-border-color;
@radio-background-color: @widget-background-color;
@radio-border-width-before: 2px;

@radio-hover-border-color: @selected-border-color;
@radio-hover-box-shadow:none;

@radio-checked-border-color-before: @selected-background-color;
@radio-checked-background-color-after: @radio-checked-border-color-before;

@radio-active-border-color-before: @widget-border-color;
@radio-active-box-shadow: none;

@radio-checked-active-border-color-before: @radio-checked-border-color-before;
@radio-checked-active-box-shadow: none;

@radio-disabled-background-color-after: #fff;
@radio-disabled-color: @widget-border-color;
@radio-disabled-box-shadow: none;
@radio-disabled-background-color-before: #fff;

@import "theme-template.less";

.k-button
{
    border-radius: 2px;
}

.k-list > .k-state-focused
{
    border-color: @selected-border-color;
}

.k-menu > .k-state-focused,
.k-menu-group > .k-state-focused
{
    background-color: @hover-background-color;
}

.k-menu-group > .k-item > .k-state-active
{
    background-color: @selected-secondary-background-color;
}

.k-textbox:hover,
.k-textbox:focus
{
    border-color: @drop-down-hover-border-color;
}

.k-splitbar
{
    border-color: transparent;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle:focus,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:focus
{
    border-color: @hover-border-color;
}

.k-calendar .k-header,
.k-menu.k-header,
.k-tabstrip.k-header,
.k-tabstrip .k-tabstrip-items .k-item,
.k-header.k-scheduler-toolbar,
.k-scheduler-footer > .k-header
{
    background-color: @secondary-background-color;
}

.k-header.k-scheduler-views,
.k-header.k-datepicker,
.k-header.k-datetimepicker,
.k-header.k-timepicker,
.k-header.k-dropdown,
.k-scheduler-navigation > .k-header,
.k-header.k-gantt-views,
.k-gantt-navigation > .k-header
{
    background-color: transparent;
}

.k-scheduler-header th,
.k-scheduler-times th,
.k-calendar th
{
    color:#666;
    font-weight: normal;
    font-size: .8em;
    text-transform: uppercase;
}

.k-tabstrip .k-tabstrip-items .k-state-hover
{
    border-color: transparent;
}

.k-tabstrip .k-tabstrip-items .k-state-hover .k-link
{
    color: @selected-border-color;
}

.k-tabstrip .k-tabstrip-items .k-state-active
{
    border-color: @selected-border-color;
}

.k-tabstrip .k-tabstrip-items .k-state-active .k-link
{
    color: @selected-border-color;
    border-color: @selected-border-color;
}

div.k-window,
div.k-window.k-state-focused
{
    border-color: #666;
}

.k-window-titlebar.k-header
{
    background: none;
    color: #666;
}

.k-grid td.k-state-selected,
.k-grid tr.k-state-selected,
.k-list > .k-state-selected,
.k-group > .k-item > .k-state-selected,
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td
{
    background-color: @selected-secondary-background-color;
    color: @widget-text-color;
}

.k-gantt-treelist
{
    background: @header-background-color;
}

.k-grid tr td,
.k-grid tr th
{
    border-left-color: transparent;
}

.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-link:hover,
.k-pager-numbers .k-state-selected {
    background: none;
    border-radius: 0;
}

.k-pager-wrap > .k-link,
.k-pager-wrap > .k-link.k-state-disabled:hover,
.k-pager-wrap > .k-link:hover,
.k-pager-numbers .k-link:hover
{
    border-radius: 0;
    border-color: transparent;
}

.k-pager-wrap > .k-link:hover
{
    border-color: @widget-border-color;
}

.k-pager-numbers .k-link {
    border-color: transparent;
}

.k-grouping-header,
.k-grid-toolbar
{
    padding: 0.714em;
}

.k-window .k-edit-buttons
{
    background: #000;
}

.k-scheduler .k-scheduler-views .k-state-selected,
.k-gantt .k-gantt-views .k-state-selected
{
    background: none;
}

.k-gantt .k-gantt-views > li
{
    border-radius: 0;
}

.k-gantt .k-gantt-views .k-state-selected
{
    border-color: @selected-border-color;
}

.k-task-summary-complete
{
    border-color: @selected-border-color;
    background: @selected-border-color;
}

.k-state-selected .k-task-summary-complete
{
    border-color: @primary-active-background-color;
    background: @primary-active-background-color;
}

.k-task-milestone
{
    border-color: #99d101;
    background: #99d101;
}

.k-task-dot:after
{
    background-color: @disabled-text-color;
    border-color: @disabled-text-color;
}

.k-task-dot:hover:after
{
    background-color: #444;
}

.k-scheduler-views .k-link:link,
.k-scheduler-views .k-link:visited,
.k-gantt-views .k-link:link,
.k-gantt-views .k-link:visited,
.k-scheduler-navigation .k-nav-today .k-link,
.k-group-indicator .k-link,
.k-pager-numbers .k-link
{
    color: @widget-text-color;
}

.k-calendar .k-footer .k-nav-today,
.k-calendar .k-link.k-nav-fast,
.k-scheduler .k-scheduler-views > .k-state-selected > .k-link,
.k-gantt .k-gantt-views > .k-state-selected > .k-link,
.k-pager-numbers .k-state-selected
{
    color: @selected-border-color;
}

.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-gantt .k-gantt-toolbar ul li.k-state-hover
{
    background: none;
    border-color: transparent;
}

.k-scheduler .k-scheduler-toolbar ul li.k-state-selected,
.k-gantt .k-gantt-toolbar ul li.k-state-selected
{
    border-color: @selected-border-color;
}

.k-scheduler .k-scheduler-toolbar .k-state-hover .k-link,
.k-gantt .k-gantt-toolbar .k-state-hover .k-link
{
    color: @selected-background-color;
}

.k-calendar td
{
    background: @header-background-color;
    border-color: @widget-background-color;
}

.k-calendar td.k-weekend
{
    background: #e5e5e5;
}

.k-calendar td.k-today
{
    background: #ccc;
}

.k-calendar td.k-other-month
{
    background: transparent;
}

.k-calendar td.k-state-selected
{
    background: @selected-background-color;
}

.k-calendar td.k-state-hover
{
    background: @hover-background-color;
    border-color: @widget-background-color;
}

.k-scheduler-table .k-other-month,
.k-scheduler-header th
{
    background: #fff;
}

.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times
{
    border-color: #fff;
}

.k-scheduler-header tr + tr > th
{
    border-top-color: @cell-border-color;
}


.k-scheduler-header th
{
    height: 2.714em
}

.k-scheduler .k-scheduler-datecolumn,
.k-scheduler .k-scheduler-timecolumn
{
    width: 150px;
    padding-left: 7px;
    padding-right: 7px;
}

.k-state-disabled
{
    filter: alpha(opacity=50);
    opacity: .5;
}

.k-dropdown .k-dropdown-wrap
{
    background-color: @drop-down-background;
}