@input-height: 1.65em;
@input-indent: .33em;
@editor-icon-size: 24px;
@menu-link-padding: .5em 1.1em .4em;
@button-padding: 2px 7px 2px;
@treeview-inner-padding: 0.16666em 0.3333em 0.16666em 0.25em;
@treeview-inner-margin: 0.08333em 0 0.08333em 0.16666em;
@scheduler-link-padding: 0 1.1em;
@grid-header-padding: .22em .2em .28em;

@import "common-template.less";
