<!DOCTYPE html>
<html>
    <head>
        <title>Build your own Kendo</title>
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="scripts/template.js"></script>
        <script src="scripts/script-resolver.js"></script>
        <link href="styles/configurator.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="configurator"></div>
        <div id="infoPanel"></div>
        <div id="scriptList">
            <pre></pre>
        </div>

        <script id="categoryTemplate" type="text/x-kendo-tmpl">
            <div class="main-category">
                <h2 class="component-name">#= category.name #</h2>
                <div class="category-description">#= category.description #</div>
                <ul class="category" data-id="#= id #">
                    #= renderComponents(id) #
                </ul>
            </div>
        </script>

        <script id="componentTemplate" type="text/x-kendo-tmpl">
            <li class="component" data-id="#= id #">
                <span class="checkbox"></span>
                <span class="name">#= name #</span>
                <span class="description">#= data.description || "" #</span>
                # if (data.features) { #
                    <ul class="features">
                        #= renderFeatures(data) #
                    </ul>
                # } #
            </li>
        </script>

        <script id="featureTemplate" type="text/x-kendo-tmpl">
            <li class="feature" data-id="#= id #">
                <span class="checkbox"></span>
                <span class="name">#= name #</span>
                <span class="description">#= data.description || "" #</span>
            </li>
        </script>

        <script id="infoTemplate" type="text/x-kendo-tmpl">
            <span class="button icon-button">
                <a href="#= getUrl #" onclick="logDownload('#= getUrl #');">
                    <span class="icon-download"></span>
                    Download
                </a>
            </span>
            <dl>
                <dt>kendo.custom.min.js, #= formatBytes(size) #</dt>
                <dd> (#= formatBytes(compressedSize) # compressed)</dd>
            </dl>
            </script>

        </script>

        <script id="scriptTemplate" type="text/x-kendo-tmpl">&lt;script src="http://cdn.kendostatic.com/#= VERSION #/js/#= data #"&gt;&lt;/script&gt;</script>

        <script type="text/javascript">
            var INFO_SERVICE = "<%= service_url %>/info.ashx",
                GET_SERVICE = "<%= service_url %>/get.ashx",
                VERSION = "<%= VERSION %>",
                LICENSES = ["framework", "web", "dataviz", "mobile", "wrappers"];

            var categories,
                components,
                resolver,
                categoryTemplate,
                componentTemplate,
                featureTemplate,
                infoTemplate,
                scriptTemplate,
                showAdvanced = false;

            $(function() {
                categoryTemplate = template("categoryTemplate");
                componentTemplate = template("componentTemplate");
                featureTemplate = template("featureTemplate");
                infoTemplate = template("infoTemplate");
                scriptTemplate = template("scriptTemplate");

                load();
            });

            function load() {
                $.getJSON("config/kendo-config." + VERSION + ".json", function(data) {
                    categories = data.categories;
                    components = data.components;

                    resolver = new ScriptResolver(components);

                    render();
                });
            }

            function render() {
                $("#configurator").empty();

                renderCategories();

                $(".component > .name, .component > .checkbox").click(function(e) {
                    var component = $(this).parent();
                        checkbox = component.children(".checkbox");

                    if (checkbox.hasClass("explicit")) {
                        component.find(".checkbox").removeClass("explicit");
                    } else {
                        checkbox.addClass("explicit");
                    }

                    updateDependencies();
                    updateInfo();
                });

                $(".feature > .name, .feature > .checkbox").click(function(e) {
                    var feature = $(this).parent(),
                        component = feature.parents(".component"),
                        checkbox = feature.children(".checkbox");

                    checkbox.toggleClass("explicit");
                    if (checkbox.hasClass("explicit")) {
                        component.children(".checkbox").addClass("explicit");
                    }

                    updateDependencies();
                    updateInfo();
                });
            }

            function renderCategories() {
                for (var categoryId in categories) {
                    if (LICENSES.indexOf(categoryId) !== -1) {
                        $("#configurator").append(categoryTemplate({
                            category: categories[categoryId],
                            id: categoryId
                        }));
                    }
                }
            }

            function renderComponents(categoryId) {
                var result = "",
                    visible;
                $.each(components, function(i, component) {
                    visible = !component.hidden &&
                        (!component.advanced ||
                            (showAdvanced && component.advanced)
                        );

                    if (visible && component.category === categoryId) {
                        result += componentTemplate(component);
                    }
                });

                return result;
            }

            function renderFeatures(component) {
                var result = "";
                $.each(component.features, function(i, feature) {
                    result += featureTemplate(feature);
                });

                return result;
            }

            function updateDependencies() {
                $("#configurator .checkbox").removeClass("implicit");

                resolver.reset();

                $("#configurator .component").each(function() {
                    var component = $(this);
                    if (required(component)) {
                        var features = $.map(component.find(".feature"), function(feature) {
                            if (required(feature)) {
                                return $(feature).data("id");
                            }
                        });

                        resolver.addComponent(component.data("id"), features);
                    }
                });

                $("#configurator .component").each(function() {
                    var checkbox = $("> .checkbox", this);
                    if ($.inArray($(this).data("id"), resolver.resolved) > -1) {
                        if (!checkbox.hasClass("explicit")) {
                            checkbox.addClass("implicit");
                        }
                    }
                });

                var scriptList = "";
                for (var i = 0; i < resolver.scripts.length; i++) {
                    scriptList += scriptTemplate(resolver.scripts[i]) + "\r\n";
                }
                $("#scriptList pre").html(scriptList);
            }

            function updateInfo() {
                var scripts = $.map(resolver.scripts, function(script) {
                    return script.match(/kendo\.(.*)\.min\.js/)[1];
                });

                if (scripts.length > 0) {
                    var params = {
                        c: scripts,
                        v: VERSION,
                        min: "1"
                    };

                    $.ajax({
                        type: "GET",
                        url: INFO_SERVICE,
                        data: params,
                        traditional: true,
                        success: function(data) {
                            data.getUrl = GET_SERVICE + "?" + $.param(params, true);
                            $("#infoPanel").html(infoTemplate(data));
                        }
                    });
                } else {
                    $("#infoPanel").empty();
                }
            }

            function required(element) {
                return $(element).find(".implicit, .explicit").length > 0;
            }

            function template(id) {
                return kendo.template($("#" + id).html())
            }

            function capitalize(word) {
                return word.charAt(0).toUpperCase() + word.slice(1);
            }

            function formatBytes(value) {
                return (Math.round(value / 1024)) + "kB";
            }
        </script>
    </body>
</html>
