<div id="example" class="k-content">
    <div class="chart-wrapper">
        <div id="chart" style="background: center no-repeat url('../../content/shared/styles/world-map.png');"></div>
    </div>
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Funnel configuration</span>
            <ul class="options">
                <li>
                    <label>Neck Size ratio
                        <input id="neckSlider" value="0.3" />
                    </label>
                </li>
                <li>
                    <div class="segmentMethod">
                    Segment slope based on:
                        <ul>
                         <li><label><input type="radio" name="segmentMethod" value="default" checked /> default (neckSize is used) </label></li>
                         <li><label><input type="radio" name="segmentMethod" value="relation" />Value Relation </label></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="segmentHeight">
                    Segment height based on:
                        <ul>
                         <li><label><input type="radio" name="segmentHeight" value="proportional" checked /> Proportional  </label></li>
                         <li><label><input type="radio" name="segmentHeight" value="equal" /> Equal Size </label></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function createChart() {
            $("#chart").kendoChart({
                title: {
                    position: "bottom",
                    text: "Share of Internet Population Growth, 2007 - 2012"
                },
                legend: {
                    visible: false
                },
                seriesDefaults: {
                    labels: {
                        visible: true,
                        background: "transparent",
                        color:"white",
                        template: "#= dataItem.category #: #= value#%"
                    }
                },
                series: [{
                    type: "funnel",
                    data: [{
                        category: "Europe",
                        value: 16.1,
                        color: "#90cc38"
                    },{
                        category: "Latin America",
                        value: 11.3,
                        color: "#068c35"
                    },{
                        category: "Asia",
                        value: 53.8,
                        color: "#9de219"
                    },{
                        category: "Africa",
                        value: 9.6,
                        color: "#006634"
                    },{
                        category: "Middle East",
                        value: 5.2,
                        color: "#004d38"
                    },{
                        category: "North America",
                        value: 3.6,
                        color: "#033939"
                    }]
                }],
                tooltip: {
                    visible: true,
                    format: "{0}%"
                }
            });
        }

        function refresh() {
            var chart = $("#chart").data("kendoChart"),
                slider = $('#neckSlider').data("kendoSlider"),
                funnelSeries = chart.options.series[0];
                
            chart.options.transitions = false;
            funnelSeries.neckSize = slider.value();
            funnelSeries.segmentHeight = $('.segmentHeight :checked').val();
            funnelSeries.segmentMethod = $('.segmentMethod :checked').val();

           
            slider.enable(funnelSeries.segmentMethod != "relation");
            chart.refresh();
        }

        $(document).ready(function () {
            createChart();
            $("#neckSlider").kendoSlider({
                change: refresh,
                min: 0,
                max: 10,
                smallStep: 0.01,
                largeStep: 0.1
            });

            $('.segmentMethod,.segmentHeight').on('click', ':radio', refresh);
        });
        $(document).bind("kendo:skinChange", createChart);
    </script>
</div>
