<div id="example" class="k-content">
    <div class="chart-wrapper">
        <div id="before"></div>
        <div id="after"></div>
    </div>
    <script>
        var dataBefore = [{
            description: "All Visitors",
            percentage: 1000
        }, {
            description: "Tried the Demos",
            percentage: 930
        }, {
            description: "Downloaded",
            percentage: 800
        }, {
            description: "Requested a Quote",
            percentage: 232
        }, {
            description: "Purchased",
            percentage: 116
        }];

        var dataAfter = [{
            description: "All Visitors",
            percentage: 100
        },{
            description: "Tried the Demos",
            percentage: 93
        },{
            description: "Downloaded",
            percentage: 87
        },{
            description: "Requested a Quote",
            percentage: 60
        },{
            description: "Purchased",
            percentage: 70
        }];

        function createChart(chartName, data,description) {
            $("#"+chartName).kendoChart({
                title: {
                    text: description
                },
                legend: {
                    position: "bottom"
                },
                dataSource: {
                    data: data
                },
                series: [{
                    type: "funnel",
                    segmentMethod:"relation",
                    field: "percentage",
                    categoryField: "description",
                    segmentHeight : "proportional",
                    labels: {
                        visible: true,
                        background: "transparent",
                        color: "white",
                        template: "#= dataItem.description #: #= value#%"
                    }
                }],
                tooltip: {
                    visible: true,
                    template: "${ category } - ${ value }%"
                }
            });
        }

        function createCharts() {
            createChart("before", dataBefore, "Sales before website optimization");
            createChart("after", dataAfter, "Sales after website optimization");
        }

        $(document).ready(createCharts);
        $(document).bind("kendo:skinChange", createCharts);
    </script>

    <style scoped>
        .chart-wrapper .k-chart
        {
            display:inline-block;
            width:340px;
        }
    </style>
</div>
