<div id="example" class="k-content">
    <div class="chart-wrapper">
        <div id="before"></div>
        <div id="after"></div>
    </div>
    <script>
        var dataBefore = [{
            description: "All Visitors",
            visitors: 23945
        }, {
            description: "Tried the Demos",
            visitors: 19156
        }, {
            description: "Downloaded",
            visitors: 13984
        }, {
            description: "Requested a Quote",
            visitors: 3216
        }, {
            description: "Purchased",
            visitors: 1673
        }];

        var dataAfter = [{
            description: "All Visitors",
            visitors: 28536
        },{
            description: "Tried the Demos",
            visitors: 26539
        },{
            description: "Downloaded",
            visitors: 23088
        },{
            description: "Requested a Quote",
            visitors: 13853
        },{
            description: "Purchased",
            visitors: 9697
        }];

        function createChart(chartName, data,description) {
            $("#"+chartName).kendoChart({
                title: {
                    text: description
                },
                legend: {
                    position: "bottom"
                },
                dataSource: {
                    data: data
                },
                series: [{
                    type: "funnel",
                    segmentMethod:"relation",
                    field: "visitors",
                    categoryField: "description",
                    segmentHeight : "equal",
                    labels: {
                        visible: true,
                        background: "transparent",
                        color: "white",
                        template: "#= value#"
                    }
                }],
                tooltip: {
                    visible: true,
                    template: "#= dataItem.description # #= kendo.format('{0:p}',data.percentage)#"
                }
            });
        }

        function createCharts() {
            createChart("before", dataBefore, "Sales before website optimization");
            createChart("after", dataAfter, "Sales after website optimization");
        }

        $(document).ready(createCharts);
        $(document).bind("kendo:skinChange", createCharts);
    </script>

    <style scoped>
        .chart-wrapper .k-chart
        {
            display:inline-block;
            width:340px;
        }
    </style>
</div>
