<div id="example" class="k-content">
    <div class="chart-wrapper">
        <div id="chart"></div>
    </div>
    <script>
        function createChart() {
            $("#chart").kendoChart({
                dataSource: {
                    transport: {
                        read: {
                            url: "../../content/dataviz/js/screen_resolution.json",
                            dataType: "json"
                        }
                    },
                    sort: {
                        field: "share",
                        dir: "desc"
                    }
                },
                legend: {
                    position: "top"
                },
                title: {
                    text: "1024x768 screen resolution trends"
                },
                seriesDefaults: {
                    type: "funnel",
                    dynamicSlope:true
                },
                series: [{
                    field: "share",
                    categoryField: "resolution",
                    segmentSpacing: 2
                }],
                tooltip: {
                    visible: true,
                    template: "#= dataItem.resolution #: #= value #% (#= dataItem.year #)"
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
</div>
