<div class="demo-section" style="width:155px">
@(Html.Kendo().DatePicker()
      .Name("datepicker")
      .Events(e =>
      {
          e.Change("change").Open("open").Close("close");
      })
)
</div>
<div class="demo-section">
    <div class="console"></div>
</div>
<script>
    function open() {
        kendoConsole.log("Open");
    }

    function close() {
        kendoConsole.log("Close");
    }

    function change() {
        kendoConsole.log("Change :: " + kendo.toString(this.value(), 'd'));
    }
</script>
