@{
    ViewBag.ShowCodeStrip = false;
}
<div id="example" class="k-content absConf">
    Foo!

    <style scoped>
        #main {
            border-left: 0;
            width: 940px;
        }

        #example {
            background-color: #fff;
        }
    </style>
</div>

