@{
    ViewBag.ShowCodeStrip = false;
}
<div id="example" class="k-content k-web absConf" style="background-color: #fff;">
            <div class="box">
                <a class="imgPlate" href="../../websushi/"><img alt="Sushi" src="../../content/web/overview/websushi.png"></a>
                <h3><a href="../../websushi/">Sushi</a></h3>
                <p>This single-page imaginary sushi online ordering app reuses the popular <a href="http://demos.kendoui.com/sushi/" title="Kendo UI Mobile demo">Kendo UI Mobile demo</a>, applying a desktop optimized interface.</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../../aeroviewr/"><img alt="AeroViewr" src="../../content/web/overview/aeroviewr.png"></a>
                <h3><a href="../../aeroviewr/">AeroViewr</a></h3>
                <p>A sleek lightbox interface for browsing <a href="http://500px.com/" title="500px" target="_blank">500px</a> content, including bookmarkable search results.</p>
            </div>
    <style scoped>
        #main {
            border-left: 0;
            width: 940px;
        }

        #example {
            background-color: #fff;
        }
    </style>
</div>

