@import "../common/navbar.less";
@import "../../common/transitions.less";
@import "base.less";

/* ToolBar */

.km-ios7 .k-toolbar .km-buttongroup .km-button
{
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2em;
}

.km-ios7 .k-toolbar > *
{
    margin-left: .4em;
    margin-right: .4em;
}

