<div id="logo-bar">
    <a href="{{site.baseurl}}/introduction">
        <img alt="ASP.NET Core logo" class="logo" src="{{site.baseurl}}/images/{{page.product}}.png">
    </a>
</div>

<div id="page-search">
    {% include search.html %}
</div>

<span class="show-search">
	<span class="k-icon k-i-search"></span>
</span>

<div class="nav-buttons">
    <a href="http://demos.telerik.com/{{page.product}}/" class="btn demos-btn">Demos</a>
    <a href="http://www.telerik.com/aspnet-mvc/mvc6-features" class="btn about-btn">About</a>
    <a href="http://www.telerik.com/purchase/aspnet-core-ui" class="btn pricing-btn">Pricing</a>
    <a href="https://www.telerik.com/download-trial-file/v2/aspnet-core-ui" class="btn btn-primary">Try now</a>
</div>
