<div id="example">
    
    <div class="demo-section k-header">
        <div id="draggable"></div>
        <div id="droptarget">
            <div class="test1">Drag the small circle here ...</div>
            <div class="test2">... Or here.</div>
        </div>
    </div>

    <script>
        function draggableOnDragStart(e) {
            $("#draggable").addClass("hollow");
            $("#droptarget").html("<div class='test1'>(Drop here)</div><div class='test2'>(Drop here)</div>");
        }

        function droptargetOnDragEnter(e) {
            $(e.dropTarget).text("Now you can drop it.");
        }

        function droptargetOnDragLeave(e) {
            $(e.dropTarget).text("(Drop here)");
        }

        function droptargetOnDrop(e) {
            $(e.dropTarget).text("You did great!");
            $("#draggable").removeClass("hollow");
        }

        function draggableOnDragEnd(e) {
            var draggable = $("#draggable");

            if (!draggable.data("kendoDraggable").dropped) {
                // drag ended outside of any droptarget
                $("#droptarget").html("<div class='test1'>(Try again)</div><div class='test2'>(Try again)</div>");
            }

            draggable.removeClass("hollow");
        }

        $(document).ready(function() {
            $("#draggable").kendoDraggable({
                hint: function() {
                    return $("#draggable").clone();
                },
                dragstart: draggableOnDragStart,
                dragend: draggableOnDragEnd
            });

            $("#droptarget").kendoDropTargetArea({
                filter: ".test1, .test2",
                dragenter: droptargetOnDragEnter,
                dragleave: droptargetOnDragLeave,
                drop: droptargetOnDrop
            });
        });
    </script>

    <style scoped>
        .demo-section {
            width: 700px;
            position: relative;
        }
        
        #draggable {
            cursor: move;
            position: absolute;
            top: 113px;
            left: 70px;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: #03a9f4;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
        }

        #droptarget {
            margin-left: 150px;
            height: 200px;
            text-align: center;
            line-height: 200px;
            cursor: default;
            vertical-align: middle;
            border: 2px dotted #ccc;
        }

        .test1,
        .test2 {
            vertical-align: middle;
            display: inline-block;
            width: 230px;
            height: 100px;
            line-height: 100px;
            margin: 0 10px 0;
            font-size: 14px;
            font-weight: normal;
            border-radius: 60px;
            color: #fff;
        }
        .test1 {
            background-color: #3f51b5;
        }
        .test2 {
            background-color: #ee6f0b;
        }

        *+html .test1,
        *+html .test2 {
            margin-top: 50px;
            display: inline;
            zoom: 1;
        }
    </style>
</div>
