
        <div id="example">
            <div id="draggable"></div>
            <div id="droptarget" class="k-widget k-header">Start dragging.</div>

            <script>
                function draggableOnDragStart(e) {
                    kendoConsole.log("dragstart");

                    $("#draggable").addClass("hollow");
                    $("#droptarget").text("(Drop here)");
                }

                function draggableOnDrag(e) {
                    kendoConsole.log("drag");
                }

                function draggableOnCancel(e) {
                    kendoConsole.log("drag cancel");
                }

                function draggableOnDragEnd(e) {
                    kendoConsole.log("dragend");

                    var draggable = $("#draggable");

                    if (!draggable.data("kendoDraggable").dropped) {
                        // drag ended outside of any droptarget
                        $("#droptarget").text("Try again!");
                    }

                    draggable.removeClass("hollow");
                }

                function droptargetOnDragEnter(e) {
                    kendoConsole.log("dragenter");

                    $("#droptarget").text("Now you can drop it.");
                }

                function droptargetOnDragLeave(e) {
                    kendoConsole.log("dragleave");

                    $("#droptarget").text("(Drop here)");
                }

                function droptargetOnDrop(e) {
                    kendoConsole.log("drop");

                    $("#droptarget").text("You did great!");
                    $("#draggable").removeClass("hollow");
                }

                $(document).ready(function() {
                    $("#draggable").kendoDraggable({
                        hint: function() {
                            return $("#draggable").clone();
                        },
                        dragstart: draggableOnDragStart,
                        drag: draggableOnDrag,
                        dragend: draggableOnDragEnd,
                        dragcancel: draggableOnCancel
                    });

                    $("#droptarget").kendoDropTarget({
                        dragenter: droptargetOnDragEnter,
                        dragleave: droptargetOnDragLeave,
                        drop: droptargetOnDrop
                    });
                });
            </script>

            <div class="box">
                <h4>Console log</h4>
                <div class="console"></div>
            </div>

            <style scoped>
                #droptarget
                {
                    height: 198px;
                    font-size: 18px;
                    border-radius: 37px;
                    text-align: center;
                    line-height: 198px;
                    margin: 0 0 30px 215px;
                    cursor: default;
                    vertical-align: middle;
                }

                #example
                {
                    background: url(../content/web/dragdrop/drag-clue.png) no-repeat 130px 80px;
                }

                #exampleTitle
                {
                    color: #000;
                }
                #draggable 
                {
                    top: 60px;
                }
            </style>
        </div>
