        <div id="example" class="k-content absConf">
            <h3 class="example-title">Stock<span>History</span></h3>
            <h4 class="example-description">Kendo UI Data Visualization Project</h4>

            <div id="filtering-tabs"></div>

            <h5 class="example-subtitle">Population through the decade</h5>

            <div>Chart type</div>
            <ul class="chart-type">
                <li><label><input type="radio" name="chart-type" checked>Area</label></li>
                <li><label><input type="radio" name="chart-type">Line</label></li>
                <li><label><input type="radio" name="chart-type">Bar</label></li>
            </ul>

            <div id="yearly-stock-values"></div>

            <h5 class="example-subtitle">World total population</h5>
            <div class="metric">thousands</div>

            <div id="total-population"></div>

            <script>
                var stocksDataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "../../content/dataviz/dashboards/stock-data.json",
                                dataType: "json"
                            }
                        },

                        sort: {
                            field: "date",
                            dir: "asc"
                        },

                        group: {
                            field: "symbol"
                        },

                        schema: {
                            model: {
                                fields: {
                                    date: {
                                        type: "date"
                                    }
                                }
                            }
                        },

                        change: function() {
                            //$("#total-population").text(this.view()[this.view().length-1].total);
                        }
                    });

                $("#yearly-stock-values").kendoChart({
                    dataSource: stocksDataSource,
                    autoBind: false,
                    seriesDefaults: {
                        type: "line",
                        overlay: {
                            gradient: "none"
                        },
                        markers: {
                            visible: false
                        },
                        majorTickSize: 0,
                        opacity: .8
                    },

                    series: [{
                        field: "high",
                        name: "high"
                    }],

                    seriesColors: [ "#2b8abe", "#d7445c", "#45cd74", "#fb02b8" ],

                    valueAxis: {
                        line: {
                            visible: false
                        },

                        labels: {
                            format: "${0}",
                            color: "#727f8e"
                        }
                    },

                    categoryAxis: {
                        field: "date",

                        labels: {
                            format: "{0:d}",
                            step: 110,
                            color: "#727f8e"
                        },

                        line: {
                            visible: false
                        },

                        majorTicks: {
                            visible: false
                        },

                        majorGridLines: {
                            visible: false
                        }
                    },

                    legend: {
                        visible: true
                    }
                });

                $("#filtering-tabs").kendoTabStrip({
                    dataSource: ["2008","2009","2010","2011","2012"],
                    change: function(e) {
                        var endYear = this.value();

                        stocksDataSource.filter([{
                            field: "date",
                            operator: "gte",
                            value: new Date(endYear - 1, 3, 14)
                        }, {
                            field: "date",
                            operator: "lte",
                            value: new Date(endYear, 3, 14)
                        }]);
                    }
                }).data("kendoTabStrip").select(4);

            </script>

            <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300" rel="stylesheet">
            <style scoped>
                .example-title,
                .example-subtitle,
                .metric,
                .example-description {
                    font-family: 'Open Sans Condensed', Verdana, sans-serif;
                }

                .example-title,
                .example-subtitle {
                    text-transform: uppercase;
                }

                .example-title {
                    color: #2b8abe;
                    font-size: 48px;
                    font-weight: 300;
                }

                .example-title span {
                    font-weight: 700;
                }

                .example-description {
                    font-size: 18px;
                    font-weight: 300;
                    color: #1a364a;
                }

                .example-subtitle {
                    font-size: 13px;
                    margin-bottom: 0;
                }

                .metric {
                    font-size: 12px;
                    color: #727f8e;
                    margin: 0;
                }

                .example-title,
                .example-description {
                    display: inline-block;
                    margin: 0;
                }
            </style>
        </div>

