
        <div id="example">
            <div id="pivotgrid"></div>
            <div id="configurator"></div>

            <script>
                $(document).ready(function () {
                    var pivotgrid = $("#pivotgrid").kendoPivotGrid({
                        columnWidth: 200,
                        height: 550,
                        dataSource: {
                            type: "xmla",
                            columns: [{ name: "[Date].[Calendar]", expand: true }, { name: "[Product].[Category]" } ],
                            rows: [{ name: "[Geography].[City]" }],
                            measures: ["[Measures].[Internet Sales Amount]"],
                            transport: {
                                connection: {
                                    catalog: "Adventure Works DW 2008R2",
                                    cube: "Adventure Works"
                                },
                                read: "http://demos.telerik.com/olap/msmdpump.dll"
                            },
                            schema: {
                                type: "xmla"
                            },
                            error: function (e) {
                                alert("error: " + kendo.stringify(e.errors[0]));
                            }
                        }
                    }).data("kendoPivotGrid");

                    $("#configurator").kendoPivotConfigurator({
                        dataSource: pivotgrid.dataSource
                    });
                });
            </script>
            <style>
                #pivotgrid
                {
                    display: inline-block;
                    vertical-align: top;
                    width: 71%;
                }

                #configurator
                {
                    display: inline-block;
                    vertical-align: top;
                }
            </style>
        </div>
