
        <div id="example">
            <div id="pivotgrid"></div>

            <script id="dataCellTemplate" type="text/x-kendo-tmpl">
                # var columnMember = columnTuple ? columnTuple.members[0] : { children: [] }; #
                # var rowMember = rowTuple ? rowTuple.members[0] : { children: [] }; #
                # var value = kendo.toString(kendo.parseFloat(dataItem.value) || "N/A", "c2"); #

                # if (columnMember.children.length || rowMember.children.length) { #
                    <em  style="color: red">#: value # (total)</em>
                # } else { #
                    #: value #
                # } #
            </script>

            <script id="headerTemplate" type="text/x-kendo-tmpl">
                # if (!member.children.length) { #
                    <em>#: member.caption #</em>
                # } else { #
                    #: member.caption #
                # } #
            </script>

            <script>
                $(document).ready(function () {
                    $("#pivotgrid").kendoPivotGrid({
                        dataCellTemplate: $("#dataCellTemplate").html(),
                        columnHeaderTemplate: $("#headerTemplate").html(),
                        rowHeaderTemplate: $("#headerTemplate").html(),
                        columnWidth: 200,
                        height: 282,
                        dataSource: {
                            type: "xmla",
                            columns: [{ name: "[Date].[Calendar]", expand: true }],
                            rows: [{ name: "[Product].[Product Line]", expand: true }],
                            measures: ["[Measures].[Internet Sales Amount]"],
                            transport: {
                                connection: {
                                    catalog: "Adventure Works DW 2008R2",
                                    cube: "Adventure Works"
                                },
                                read: "http://demos.telerik.com/olap/msmdpump.dll"
                            },
                            schema: {
                                type: "xmla"
                            },
                            error: function (e) {
                                alert("error: " + kendo.stringify(e.errors[0]));
                            }
                        }
                    });
                });
            </script>
            <style>
            </style>
        </div>
