<div class="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
  <div class="demo-section">
    <div kendo-mobile-nav-bar>
      <button kendo-mobile-button data-align="left">Index</button>
      <span data-role="view-title">NavBar title</span>
      <button kendo-mobile-button data-align="right">Save</button>
    </div>
  </div>

  <style scoped>
    .demo-section {
      width: 400px;
    }
  </style>
</div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ]);
  function MyCtrl($scope){
  }
</script>
