<div id="example" class="k-content">
    <div class="demo-section">

        <button class="k-button" data-bind="events: { click: listener, dblclick: listener, mouseover: listener, mouseout: listener }">Button</button>

    </div>
    <script>
        $(document).ready(function() {
            var viewModel = kendo.observable({
                listener: function(e) {
                    kendoConsole.log("Event: " + e.type);
                }
            });

            kendo.bind($("#example"), viewModel);
        });
    </script>
    <div class="console"></div>
    <div class="code-sample">
        <h4 class="code-title">View source code</h4>
<pre class="prettyprint">
&lt;div id=&quot;example&quot;&gt;
    &lt;button data-bind=&quot;events:{ click: listener, dblclick: listener, mouseover: listener, mouseout: listener }&quot;&gt;Button&lt;/button&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="code-sample">
        <h4 class="code-title">View model source code</h4>
<pre class="prettyprint">
var viewModel = kendo.observable({
    listener: function(e) {
        kendoConsole.log(&quot;Event: &quot; + e.type);
    }
});

kendo.bind($(&quot;#example&quot;), viewModel);
</pre>
    </div>
    <style scoped>
        .demo-section {
        	width: 250px;
        	text-align: center;
        }
        #example button {
            width: 200px;
            height: 60px;
        }
    </style>
</div>
