<div id="example" class="k-content">
    <div class="registration code-sample">
        <h4 class="code-title">Registration Form</h4>
        <form>
            <div class="code-details">
                <ul>
                    <li><label>First Name:<input data-bind="value: firstName" /></label></li>
                    <li><label>Last Name:<input data-bind="value: lastName" /></label></li>
                    <li><label>Gender:<select data-bind="source: genders, value: gender"></select></label></li>
                </ul>
                <label><input type="checkbox" data-bind="checked: agreed" /> I have read the licence agreement</label>
                <br /><br />
                <button data-bind="enabled: agreed, click: register" style="display: block">Register</button>
            </div>
        </form>
    </div>
    <div class="confirmation code-sample" data-bind="visible: confirmed">
        <h4 class="code-title">Confirmation</h4>
        <div class="code-details">
            Thank you for your registration, <span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span>
            <br /><br />
            <button data-bind="click: startOver">Start Over</button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            var viewModel = {
                firstName: "John",
                lastName: "Doe",
                genders: ["Male", "Female"],
                gender: "Male",
                agreed: false,
                confirmed: false,
                register: function(e) {
                    e.preventDefault();

                    this.set("confirmed", true);
                },
                startOver: function() {
                    this.set("confirmed", false);
                    this.set("agreed", false);
                    this.set("gender", "Male");
                    this.set("firstName", "John");
                    this.set("lastName", "Doe");
                }
            };

            kendo.bind($("#example"), viewModel);
        });
    </script>
    <div class="current-state code-sample">
        <h4 class="code-title">Current view model state</h4>
        <div class="code-details">
            <pre>
{
    firstName: <span data-bind="text: firstName"></span>,
    lastName: <span data-bind="text: lastName"></span>,
    gender: <span data-bind="text: gender"></span>,
    agreed: <span data-bind="text: agreed"></span>
}
            </pre>
        </div>
    </div>
    <div class="source code-sample">
        <h4 class="code-title">View source code:</h4>
        <pre class="prettyprint">
&lt;form&gt;
    &lt;label&gt;First Name: &lt;input data-bind=&quot;value: firstName&quot; /&gt;&lt;/label&gt;
    &lt;label&gt;Last Name: &lt;input data-bind=&quot;value: lastName&quot; /&gt;&lt;/label&gt;
    &lt;label&gt;Gender:
        &lt;select data-bind=&quot;source: genders, value: gender&quot;&gt;&lt;/select&gt;
    &lt;/label&gt;
    &lt;label&gt;&lt;input type=&quot;checkbox&quot; data-bind=&quot;checked: agreed&quot; /&gt; I have read the licence agreement&lt;/label&gt;
    &lt;button data-bind=&quot;enabled: agreed, click: register&quot;&gt;Register&lt;/button&gt;
&lt;/form&gt;
        </pre>
    </div>
    <div class="source code-sample">
        <h4 class="code-title">View model source code:</h4>
        <pre class="prettyprint">
    var viewModel = {
        firstName: &quot;John&quot;,
        lastName: &quot;Doe&quot;,
        genders: [&quot;Male&quot;, &quot;Female&quot;],
        gender: &quot;Male&quot;,
        agreed: false,
        confirmed: false,
        register: function(e) {
            e.preventDefault();

            this.set(&quot;confirmed&quot;, true);
        }
    };

    kendo.bind($(&quot;form&quot;), viewModel);
        </pre>
    </div>

    <style scoped>
        .code-details > ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .code-details li
        {
            height: 26px;
            line-height: 22px;
            vertical-align: middle;
        }

        .code-details input,
        .code-details select,
        .code-details button
        {
            float: right;
        }

        .code-details input[type=checkbox]
        {
            float: left;
        }

        .registration {
            float: left;
            width: 400px;
        }

        .code-details {
            padding: 1em;
        }

        .confirmation {
            float: left;
            width: 300px;
            margin-left: 20px;
        }

        .source {
            clear: right;
        }

        .current-state {
            float: right;
            width: 180px;
        }

        .current-state pre {
            font-size: 12px;
        }
    </style>
</div>
