<div id="example" class="k-content">
    <table id="products" class="prettytable">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Product price</th>
                <th>Units in stock</th>
            </tr>
        </thead>
        <tbody data-template="row-template" data-bind="source: products">
        </tbody>
        <tfoot data-template="footer-template" data-bind="source: this">
        </tfoot>
    </table>

    <div class="configuration">
        <span class="configHead">Configuration</span>
        <span class="configTitle">Add a product</span>
        <ul class="options">
            <li>
                <label>Name:<input type="text" placeholder="Enter name" data-bind="value: productName" /></label>
            </li>
            <li>
                <label>Price:<input type="number" placeholder="Enter number" data-bind="value: productPrice" /></label>
            </li>
            <li>
                <label>Units in stock:<input type="number" placeholder="Enter number" data-bind="value: productUnitsInStock" /></label>
            </li>
            <li>
                <button class="k-button" data-bind="click: addProduct">Add a new product</button>
            </li>
            <li>
                <button class="k-button" data-bind="click: removeProduct">Remove last product</button>
            </li>
        </ul>
    </div>

    <script id="row-template" type="text/x-kendo-template">
        <tr>
            <td data-bind="text: name">
            </td>
            <td>
                #: kendo.toString(get("price"), "C") #
            </td>
            <td data-bind="text: unitsInStock"></td>
        </tr>
    </script>
    <script id="footer-template" type="text/x-kendo-template">
        <tr>
            <td>
                Total number of products: #: total() #
            </td>
            <td>
                Total price: #: totalPrice() #
            </td>
            <td>
                Total units in stock: #: totalUnitsInStock() #
            </td>
        </tr>
    </script>
    <script>
    $(document).ready(function() {
        var viewModel = kendo.observable({
            productName: "Product name",
            productPrice: 10,
            productUnitsInStock: 10,
            addProduct: function() {
                this.get("products").push({
                    name: this.get("productName"),
                    price: parseFloat(this.get("productPrice")),
                    unitsInStock: parseFloat(this.get("productUnitsInStock"))
                });
            },
            removeProduct: function() {
                this.get("products").pop();
            },
            total: function() {
                return this.get("products").length;
            },
            totalPrice: function() {
                var sum = 0;

                $.each(this.get("products"), function(index, product) {
                    sum += product.price;
                });

                return sum;
            },
            totalUnitsInStock: function() {
                var sum = 0;

                $.each(this.get("products"), function(index, product) {
                    sum += product.unitsInStock;
                });

                return sum;
            },
            products: [
                { name: "Chai", price: 18.00, unitsInStock: 39 },
                { name: "Chang", price: 19.00, unitsInStock: 17 },
                { name: "Mishi Kobe Niku", price: 97.00, unitsInStock: 29 },
                { name: "Sir Rodney's Scones", price: 10.00, unitsInStock: 3 }
            ]
        });

        kendo.bind($("#example"), viewModel);
    });
    </script>
    <div class="code-sample">
        <h4 class="code-title">View source code:</h4>
        <pre class="prettyprint">
&lt;table&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Product name&lt;/th&gt;
            &lt;th&gt;Product price&lt;/th&gt;
            &lt;th&gt;Units in stock&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody data-template=&quot;row-template&quot; data-bind=&quot;source: products&quot;&gt;&lt;/tbody&gt;
    &lt;tfoot data-template=&quot;footer-template&quot; data-bind=&quot;source: this&quot;&gt;&lt;/tfoot&gt;
&lt;/table&gt;

&lt;div&gt;
    &lt;span&gt;Configuration&lt;/span&gt;
    &lt;span&gt;Add a product&lt;/span&gt;
    &lt;ul&gt;
        &lt;li&gt;
            &lt;label&gt;Name:&lt;input type=&quot;text&quot; data-bind=&quot;value: productName&quot; /&gt;&lt;/label&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;label&gt;Price:&lt;input type=&quot;number&quot; data-bind=&quot;value: productPrice&quot; /&gt;&lt;/label&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;label&gt;Units in stock:&lt;input type=&quot;number&quot; data-bind=&quot;value: productUnitsInStock&quot; /&gt;&lt;/label&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;button class=&quot;k-button&quot; data-bind=&quot;click: addProduct&quot;&gt;Add a new product&lt;/button&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;button class=&quot;k-button&quot; data-bind=&quot;click: removeProduct&quot;&gt;Remove last product&lt;/button&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

&lt;script id=&quot;row-template&quot; type=&quot;text/x-kendo-template&quot;&gt;
    &lt;tr&gt;
        &lt;td data-bind=&quot;text: name&quot;&gt;
        &lt;/td&gt;
        &lt;td&gt;
            #: kendo.toString(get(&quot;price&quot;), &quot;C&quot;) #
        &lt;/td&gt;
        &lt;td data-bind=&quot;text: unitsInStock&quot;&gt;&lt;/td&gt;
    &lt;/tr&gt;
&lt;/script&gt;
&lt;script id=&quot;footer-template&quot; type=&quot;text/x-kendo-template&quot;&gt;
    &lt;tr&gt;
        &lt;td&gt;
            Total number or products: #: total() #
        &lt;/td&gt;
        &lt;td&gt;
            Total price: #: totalPrice() #
        &lt;/td&gt;
        &lt;td&gt;
            Total units in stock: #: totalUnitsInStock() #
        &lt;/td&gt;
    &lt;/tr&gt;
&lt;/script&gt;
        </pre>
    </div>
    <div class="code-sample">
        <h4 class="code-title">View model source code:</h4>
        <pre class="prettyprint">
var viewModel = kendo.observable({
    productName: &quot;Product name&quot;,
    productPrice: 10,
    productUnitsInStock: 10,
    addProduct: function() {
        this.get(&quot;products&quot;).push({
            name: this.get(&quot;productName&quot;),
            price: parseFloat(this.get(&quot;productPrice&quot;)),
            unitsInStock: parseFloat(this.get(&quot;productUnitsInStock&quot;))
        });
    },
    removeProduct: function() {
        this.get(&quot;products&quot;).pop();
    },
    total: function() {
        return this.get(&quot;products&quot;).length;
    },
    totalPrice: function() {
        var sum = 0;

        $.each(this.get(&quot;products&quot;), function(index, product) {
            sum += product.price;
        });

        return sum;
    },
    totalUnitsInStock: function() {
        var sum = 0;

        $.each(this.get(&quot;products&quot;), function(index, product) {
            sum += product.unitsInStock;
        });

        return sum;
    },
    products: [
        { name: &quot;Chai&quot;, price: 18.00, unitsInStock: 39 },
        { name: &quot;Chang&quot;, price: 19.00, unitsInStock: 17 },
        { name: &quot;Mishi Kobe Niku&quot;, price: 97.00, unitsInStock: 29 },
        { name: &quot;Sir Rodney's Scones&quot;, price: 10.00, unitsInStock: 3 }
    ]
});

kendo.bind($(&quot;#example&quot;), viewModel);
        </pre>
    </div>
    <style scoped>
        #products {
            float: left;
        }

        .configuration {
            width: 200px;
        }

        .configuration label {
            display: block;
            float: none;
        }

        .configuration input[type=text] {
            width: 130px;
        }
        .code-sample {
            clear: right;
        }
    </style>
</div>
