
        <div id="example" class="k-content">

            <div class="configuration">
                <span class="configHead">Configuration</span>
                <span class="configTitle">API Functions</span>
                <ul class="options">
                    <li>
                        <button class="k-button" id="disableNode">Disable node</button>
                    </li>
                    <li>
                        <button class="k-button" id="enableAllNodes">Enable all nodes</button>
                    </li>
                    <li>
                        <button class="k-button" id="removeNode">Remove node</button>
                    </li>
                    <li>
                        <button class="k-button" id="expandAllNodes">Expand all nodes</button>
                    </li>
                    <li>
                        <button class="k-button" id="collapseAllNodes">Collapse all nodes</button>
                    </li>
                    <li>
                        <input name="text" id="text" value="Node"/>
                        <button class="k-button" id="appendNodeToSelected">Append node</button>
                    </li>
                </ul>
            </div>

            <div id="treeview" class="demo-section"></div>

            <script>
                $(document).ready(function() {
                    var treeview = $("#treeview").kendoTreeView({
                        dataSource: [
                            { text: "Furniture", expanded: true, items: [
                                { text: "Tables & Chairs" },
                                { text: "Sofas" },
                                { text: "Occasional Furniture" }
                            ]
                            },
                            { text: "Decor", items: [
                                { text: "Bed Linen" },
                                { text: "Curtains & Blinds" },
                                { text: "Carpets" }
                            ]
                            },
                            { text: "Storage" }
                            ]
                    }).width(300).data("kendoTreeView"),
                        append = function(e) {
                            if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode) {
                                var selectedNode = treeview.select();

                                // passing a falsy value as the second append() parameter
                                // will append the new node to the root group
                                if (selectedNode.length == 0) {
                                    selectedNode = null;
                                }

                                treeview.append({
                                    text: $("#text").val()
                                }, selectedNode);
                            }
                        };


                    $("#disableNode").click(function() {
                        var selectedNode = treeview.select();

                        treeview.enable(selectedNode, false);
                    });

                    $("#enableAllNodes").click(function() {
                        var selectedNode = treeview.select();

                        treeview.enable(".k-item");
                    });

                    $("#removeNode").click(function() {
                        var selectedNode = treeview.select();

                        treeview.remove(selectedNode);
                    });

                    $("#expandAllNodes").click(function() {
                        treeview.expand(".k-item");
                    });

                    $("#collapseAllNodes").click(function() {
                        treeview.collapse(".k-item");
                    });

                    $("#appendNodeToSelected").click(append);
                    $("#text").keypress(append);
                });
            </script>

        </div>