
        <div id="example" class="k-content">
            <div id="treeview" class="demo-section" style="width: 200px"></div>

            <script>
                $(document).ready(function() {
                    function onSelect(e) {
                        kendoConsole.log("Selected: " + this.text(e.node));
                    }

                    function onCollapse(e) {
                        kendoConsole.log("Collapsing " + this.text(e.node));
                    }

                    function onExpand(e) {
                        kendoConsole.log("Expanding " + this.text(e.node));
                    }

                    function onDragStart(e) {
                        kendoConsole.log("Started dragging " + this.text(e.sourceNode));
                    }

                    function onDrag(e) {
                        kendoConsole.log("Dragging " + this.text(e.sourceNode));
                    }

                    function onDrop(e) {
                        kendoConsole.log(
                        "Dropped " + this.text(e.sourceNode) +
                        " (" + (e.valid ? "valid" : "invalid") + ")"
                        );
                    }

                    function onDragEnd(e) {
                        kendoConsole.log("Finished dragging " + this.text(e.sourceNode));
                    }

                    function onNavigate(e) {
                        kendoConsole.log("Navigate " + this.text(e.node));
                    }

                    $("#treeview").kendoTreeView({
                        dataSource: [
                            { text: "Furniture", expanded: true, items: [
                                { text: "Tables & Chairs" },
                                { text: "Sofas" },
                                { text: "Occasional Furniture" }
                            ] },
                            { text: "Decor", items: [
                                { text: "Bed Linen" },
                                { text: "Curtains & Blinds" },
                                { text: "Carpets" }
                            ] },
                            { text: "Storage" }
                        ],
                        select: onSelect,
                        collapse: onCollapse,
                        expand: onExpand,
                        dragAndDrop: true,
                        /* drag & drop events */
                        dragstart: onDragStart,
                        drag: onDrag,
                        drop: onDrop,
                        dragend: onDragEnd,
                        navigate: onNavigate
                    });
                });
            </script>
        </div>
        <div class="console"></div>
