        <div id="example" class="k-content">

            <div class="demo-section">
                <strong>Inline data (default settings)</strong>
                <div id="treeview-left"></div>
            </div>

            <div class="demo-section">
                <strong>Inline data</strong>
                <div id="treeview-right"></div>
            </div>

            <script>
                var inlineDefault = new kendo.data.HierarchicalDataSource({
                    data: [
                        { text: "Furniture", items: [
                            { text: "Tables & Chairs" },
                            { text: "Sofas" },
                            { text: "Occasional Furniture" }
                        ] },
                        { text: "Decor", items: [
                            { text: "Bed Linen" },
                            { text: "Curtains & Blinds" },
                            { text: "Carpets" }
                        ] }
                    ]
                });

                $("#treeview-left").kendoTreeView({
                    dataSource: inlineDefault
                });

                var inline = new kendo.data.HierarchicalDataSource({
                    data: [
                        { categoryName: "Storage", subCategories: [
                            { subCategoryName: "Wall Shelving" },
                            { subCategoryName: "Floor Shelving" },
                            { subCategoryName: "Kids Storage" }
                        ] },
                        { categoryName: "Lights", subCategories: [
                            { subCategoryName: "Ceiling" },
                            { subCategoryName: "Table" },
                            { subCategoryName: "Floor" }
                        ] }
                    ],
                    schema: {
                        model: {
                            children: "subCategories"
                        }
                    }
                });

                $("#treeview-right").kendoTreeView({
                    dataSource: inline,
                    dataTextField: [ "categoryName", "subCategoryName" ]
                });
            </script>

            <style scoped>
                #example {
                    text-align: center;
                }

                .demo-section {
                    display: inline-block;
                    vertical-align: top;
                    width: 220px;
                    text-align: left;
                    margin: 0 2em;
                }
            </style>
        </div>
