<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
        <div class="demo-section k-content">
            <button class="k-button" ng-show="!win1visible" ng-click="win1.open()">Open Calendar</button>
            <button class="k-button" ng-show="!win2visible" ng-click="win2.open()">Open AJAX content</button>
        </div>
        <div kendo-window="win1" k-title="'Calendar'" k-on-open="win1visible = true" k-on-close="win1visible = false">
            <div kendo-calendar></div>
        </div>
      
        <div kendo-window="win2" k-title="'AJAX content'"
            k-width="600" k-height="200" k-visible="false"
            k-content="{ url: '../content/web/loremIpsum.html' }"
            k-on-open="win2visible = true" k-on-close="win2visible = false"></div>
      
    </div>
    <style scoped>
        .example {
            min-height: 400px;
        }
    </style>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ])
      .controller("MyCtrl", function($scope){
          $scope.hello = "Hello from Controller!";
      })
</script>
