<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <section name="rewriter" requirePermission="false" type="Telerik.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Telerik.UrlRewriter" />
    </configSections>
    <rewriter>
        <redirect url="/kendo-ui/web/drag-and-drop/index.html" to="/kendo-ui/dragdrop/" processing="stop" />
        <redirect url="/kendo-ui/themebuilder/(dataviz|web).html" to="/kendo-ui/themebuilder/" processing="stop" />
        <redirect url="/kendo-ui/themebuilder/mobile.html" to="/kendo-ui/mobilethemebuilder/" processing="stop" />
        <redirect url="/kendo-ui/mobilethemebuilder/index.html" to="/kendo-ui/mobilethemebuilder/" processing="stop" />
        <redirect url="/kendo-ui/drawing/export.html" to="/kendo-ui/pdf-export/" processing="stop" />
        <redirect url="/kendo-ui/drawing/custom-pdf-export.html" to="/kendo-ui/pdf-export/page-layout" processing="stop" />
        <redirect url="/kendo-ui/(.*)/rtl.html" to="/kendo-ui/$1/right-to-left-support.html" />
        <redirect url="/kendo-ui/(.*)/remote-data.html" to="/kendo-ui/$1/remote-data-binding.html" />
        <redirect url="/kendo-ui/(.*)/local-data.html" to="/kendo-ui/$1/local-data-binding.html" />
        <redirect url="/kendo-ui/(.*)/navigation.html" to="/kendo-ui/$1/keyboard-navigation.html" />
        <redirect url="/kendo-ui/dataviz/api/(.*).html" to="/kendo-ui/chart-api/$1" processing="stop" />
        <redirect url="/kendo-ui/mobile/apps/(.*)" to="/kendo-ui/mobile-apps/$1" processing="stop" />
        <redirect url="/kendo-ui/mobile/(tabstrip|listview|button|view|forms|layout)/(.*).html" to="/kendo-ui/mobile-$1/$2" processing="stop" />
        <redirect url="/kendo-ui/(dataviz|web|mobile)/overview/(.*)" to="/kendo-ui/" processing="stop" />
        <redirect url="/kendo-ui/(dataviz|web|mobile)/(.*).html\?(jsp|php)" to="/$3-ui/$2" processing="stop" />
        <redirect url="/kendo-ui/(dataviz|web|mobile)/(.*).html\?mvc" to="/aspnet-mvc/$2" processing="stop" />
        <redirect url="/kendo-ui/(dataviz|web|mobile)/(.*).html" to="/kendo-ui/$2" processing="stop" />
        <redirect url="/kendo-ui/(dataviz|web|mobile)/(.*)" to="/kendo-ui/$2" processing="stop" />
        <redirect url="/kendo-ui/(dataviz|web|mobile)$" to="/kendo-ui/" processing="stop" />
        <redirect url="/kendo-ui/(dataviz|web|mobile)/" to="/kendo-ui/" processing="stop" />
        <redirect url="/kendo-ui/?\?(php|jsp)" to="/$1-ui/" processing="stop" />
        <redirect url="/kendo-ui/?\?mvc" to="/aspnet-mvc/" processing="stop" />
        <redirect url="/(kendo-ui|aspnet-mvc|php-ui|jsp-ui)$" to="/$1/" processing="stop" />
    </rewriter>
    <appSettings>
        <add key="webpages:Version" value="1.0.0.0" />
        <add key="CDN_ROOT" value="$CDN_ROOT" />
        <add key="JQUERY_VERSION" value="1.9.1" />
        <add key="ANGULAR_VERSION" value="1.3.0" />
        <add key="THEMEBUILDER_ROOT" value="$THEMEBUILDER_ROOT" />
        <add key="DOJO_ROOT" value="$DOJO_ROOT" />
    </appSettings>
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <add name="UrlRewriter" type="Telerik.UrlRewriter.RewriterHttpModule, Telerik.UrlRewriter" />
        </modules>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
        <handlers>
            <remove name="WebDAVModule" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="$DOJO_RUNNER" />
                <add name="Access-Control-Allow-Methods" value="GET,OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="accept, x-requested-with" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
