// Chat
.k-chat {
    border-color: @chat-border;
    color: @chat-text;
    background-color: @chat-bg;


    // Message meta
    .k-timestamp {
        text-transform: uppercase;
        opacity: .7;
    }
    .k-author {
        font-weight: bold;
    }


    // Bubbles
    .k-bubble {
        .box-shadow( 0 1px 2px rgba( 0, 0, 0, .08) );
        border-color: @chat-bubble-border;
        color: @chat-bubble-text;
        background-color: @chat-bubble-bg;
        transition: box-shadow .2s ease-in-out;
        order: -1;
    }
    .k-bubble:hover {
        .box-shadow( 0 1px 2px rgba( 0, 0, 0, .16) );
    }
    .k-state-selected .k-bubble,
    .k-selected .k-bubble {
        .box-shadow( 0 3px 10px rgba( 0, 0, 0, .16) );
    }

    .k-alt .k-bubble {
        border-color: @chat-alt-bubble-border;
        color: @chat-alt-bubble-text;
        background-color: @chat-alt-bubble-bg;
    }


    // Quick replies
    .k-quick-reply {
        border-color: @base;
        color: @base;
        background-color: transparent;
    }
    .k-quick-reply:hover {
        border-color: @base;
        color: contrast(@base);
        background-color: @base;
    }


    // Message box
    .k-message-box {
        border-color: inherit;
        color: @input-text;
        background-color: @input-bg;
    }

    // Toolbar
    .k-toolbar-box {
        border-color: inherit;
        color: @toolbar-text;
        background-color: @toolbar-bg;

        .k-scroll-button {
            background-color: @chat-bg;
            box-shadow: 0 0 20px 5px @chat-bg;
        }
        .k-scroll-button:hover {
            background-color: @chat-bg;
        }
    }

}
