
        <div id="example" class="k-content">
            <div class="configuration">
                <span class="configHead">Events log</span>
                <div class="console"></div>
            </div>
            <div class="reports">
                <div id="calendar" style="width: 243px;"></div>
            </div>

            <script>
                function onChange() {
                    kendoConsole.log("Change :: " + kendo.toString(this.value(), 'd'));
                }

                function onNavigate() {
                    kendoConsole.log("Navigate");
                }

                $("#calendar").kendoCalendar({
                    change: onChange,
                    navigate: onNavigate
                });
            </script>
        </div>

        <style scoped>
                .reports {
                    width: 265px;
                    height: 247px;
                    padding: 108px 0 0 20px;
                    background: url('../../content/web/calendar/reports.png') transparent no-repeat 0 0;
                    margin: 30px 105px 20px;
                }
                .configuration {
                    height: 390px;
                    width: 200px;
                }
                .configuration .console {
                    background-color: transparent;
                    border: 0;
                    height: 342px;
                    overflow: auto;
                }
            </style>
