
        <div id="example" class="k-content">

            <div class="k-rtl">
			    <div id="calendar"></div>
            </div>

            <script>
                $(document).ready(function() {
                    // create Calendar from div HTML element
                    $("#calendar").kendoCalendar();
                });
            </script>
        </div>