
<div id="example">
        <div class="demo-section k-header">
            <div id="treelist"></div>
        </div>

        <script>
            $(document).ready(function() {
                var service = "http://demos.telerik.com/kendo-ui/service";

                $("#treelist").kendoTreeList({
                    toolbar: [ "excel" ],
                    excel: {
                        fileName: "Kendo UI TreeList Export.xlsx",
                        proxyURL: "http://demos.telerik.com/kendo-ui/service/export",
                        filterable: true
                    },

                    dataSource: {
                        transport: {
                            read: {
                                url: service + "/EmployeeDirectory/All",
                                dataType: "jsonp"
                            }
                        },
                        schema: {
                            model: {
                                id: "EmployeeID",
                                fields: {
                                    parentId: { field: "ReportsTo",  nullable: true },
                                    EmployeeID: { field: "EmployeeId", type: "number" }
                                },
                                expanded: true
                            }
                        }
                    },
                    height: 400,
                    filterable: true,
                    sortable: true,
                    columns: [
                        { field: "FirstName", title: "First Name", width: 250 },
                        { field: "LastName", title: "Last Name" },
                        { field: "Position" },
                        { field: "Extension" }
                    ]
                });
            });
        </script>
    </div>
