<div id="example">
    <div id="treelist"></div>
</div>

<style scoped>
    /*
        Register the DejaVu Sans font

        We'll use it for both display and embedding in the PDF file.
        The standard PDF fonts have no support for Unicode characters.
    */
    @@font-face {
      font-family: "DejaVu Sans";
      src: url("../content/shared/styles/fonts/DejaVuSans.ttf") format("truetype");
    }
    @@font-face {
      font-family: "DejaVu Sans";
      font-weight: bold;
      src: url("../content/shared/styles/fonts/DejaVuSans-Bold.ttf") format("truetype");
    }
    @@font-face {
      font-family: "DejaVu Sans";
      font-weight: bold;
      font-style: italic;
      src: url("../content/shared/styles/fonts/DejaVuSans-BoldOblique.ttf") format("truetype");
    }
    @@font-face {
      font-family: "DejaVu Sans";
      font-style: italic;
      src: url("../content/shared/styles/fonts/DejaVuSans-Oblique.ttf") format("truetype");
    }

    .k-treelist {
        font-family: "DejaVu Sans", "Arial", sans-serif;
        font-size: .9em;
    }
</style>

<script>
    // Import DejaVu Sans font for embedding
    kendo.pdf.defineFont({
        "DejaVu Sans"             : "../content/shared/styles/fonts/DejaVuSans.ttf",
        "DejaVu Sans|Bold"        : "../content/shared/styles/fonts/DejaVuSans-Bold.ttf",
        "DejaVu Sans|Bold|Italic" : "../content/shared/styles/fonts/DejaVuSans-Oblique.ttf",
        "DejaVu Sans|Italic"      : "../content/shared/styles/fonts/DejaVuSans-Oblique.ttf"
    });
</script>

<!-- Load Pako ZLIB library to enable PDF compression -->
<script src="../content/shared/js/pako.min.js"></script>

<script>
    $(document).ready(function() {
        var service = "http://demos.telerik.com/kendo-ui/service";

        $("#treelist").kendoTreeList({
            toolbar: [ "pdf" ],
            pdf: {
                fileName: "Kendo UI TreeList Export.pdf",
                proxyURL: "http://demos.telerik.com/kendo-ui/service/export",
            },

            dataSource: {
                transport: {
                    read: {
                        url: service + "/EmployeeDirectory/All",
                        dataType: "jsonp"
                    }
                },
                schema: {
                    model: {
                        id: "EmployeeID",
                        fields: {
                            parentId: { field: "ReportsTo",  nullable: true },
                            EmployeeID: { field: "EmployeeId", type: "number" }
                        },
                        expanded: true
                    }
                }
            },
            scrollable: false,
            filterable: true,
            sortable: true,
            columns: [
                { field: "FirstName", title: "First Name", width: 250 },
                { field: "LastName", title: "Last Name" },
                { field: "Position" },
                { field: "Extension" }
            ]
        });
    });
</script>
