<div id="example">
    <div id="treelist"></div>
</div>

<style scoped>
    /*
        Use the DejaVu Sans font for display and embedding in the PDF file.
        The standard PDF fonts have no support for Unicode characters.
    */
    .k-treelist {
        font-family: "DejaVu Sans", "Arial", sans-serif;
        font-size: .9em;
    }
</style>

<!-- Load Pako ZLIB library to enable PDF compression -->
<script src="../content/shared/js/pako.min.js"></script>

<script>
    $(document).ready(function() {
        var service = "http://demos.telerik.com/kendo-ui/service";

        $("#treelist").kendoTreeList({
            toolbar: [ "pdf" ],
            pdf: {
                fileName: "Kendo UI TreeList Export.pdf",
                proxyURL: "http://demos.telerik.com/kendo-ui/service/export",
            },

            dataSource: {
                transport: {
                    read: {
                        url: service + "/EmployeeDirectory/All",
                        dataType: "jsonp"
                    }
                },
                schema: {
                    model: {
                        id: "EmployeeID",
                        fields: {
                            parentId: { field: "ReportsTo",  nullable: true },
                            EmployeeID: { field: "EmployeeId", type: "number" }
                        },
                        expanded: true
                    }
                }
            },
            scrollable: false,
            filterable: true,
            sortable: true,
            columns: [
                { field: "FirstName", title: "First Name", width: 250 },
                { field: "LastName", title: "Last Name" },
                { field: "Position" },
                { field: "Extension" }
            ]
        });
    });
</script>
