        <div id="example" class="k-content">

            <div class="demo-section">
                <span id="autohide-true" class="key-button wider">Hover me!</span>
                <span id="autohide-false" class="key-button wider">Hover me too!</span>
            </div>

            <script>
                function onShow(e) {
                    kendoConsole.log("event :: show");
                }

                function onHide(e) {
                    kendoConsole.log("event :: hide");
                }

                $(document).ready(function() {
                    $("#autohide-true").kendoTooltip({
                        content: "Hello!",
                        show: onShow,
                        hide: onHide,
                        position: "top"
                    });
                    $("#autohide-false").kendoTooltip({
                        autoHide: false,
                        show: onShow,
                        hide: onHide,
                        position: "top",
                        content: "Hello!",
                    });
                });
            </script>
            
            <div class="demo-section">
                <h3 class="title">Console log</h3>
                <div class="console"></div>
            </div>
            <style scoped="scoped">
                .demo-section {
                    width: 600px;
                }
            </style>
            <style scoped>
                .demo-section {
                    padding-top: 2em;
                    padding-bottom: 2em;
                    text-align: center;
                }
                .wider {
                    margin: 0 20px;
                    padding: 15px 8px;
                    line-height: 23px;
                    width: 120px;
                }
            </style>
        </div>
