<div id="example">
    <div class="demo-section">
        <div class="box-col" style="width: 500px;">
            <h4>QR code</h4>
            <span data-role="qrcode"
                  data-error-correction="M"
                  data-bind="value: qrcode"
                  style="width: 180px"></span>
        </div>
    </div>
    <div class="box">
        <div class="box-col" style="width: 500px;">
            <h4>Value</h4>
            <input data-bind="value: qrcode" data-value-update="keyup">
        </div>
        <div class="box-col">
            <h4>Information</h4>
            Kendo UI QR code supports the
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/value">value</a> binding.
        </div>
    </div>
<script>
    function createQrCode() {
        var viewModel = kendo.observable({
            qrcode: "http://www.example.com"
        });
        kendo.bind($("#example"), viewModel);
    }
    $(document).ready(createQrCode).bind("kendo:skinChange", createQrCode);
</script>
</div>
