<div class="configuration k-widget k-header" style="width: 200px">
    <span class="configHead">Events log</span>
    <div class="console"></div>
</div>
<div id="taxi">
    <label for="states">Select a state in USA:</label>
    @(Html.Kendo().AutoComplete()
        .Name("states")
        .BindTo(new string[]
        {
            "Alabama",
            "Alaska",
            "American Samoa",
            "Arizona",
            "Arkansas",
            "California",
            "Colorado",
            "Connecticut",
            "Delaware",
            "District of Columbia",
            "Florida",
            "Georgia",
            "Guam",
            "Hawaii",
            "Idaho",
            "Illinois",
            "Indiana",
            "Iowa",
            "Kansas",
            "Kentucky",
            "Louisiana",
            "Maine",
            "Maryland",
            "Massachusetts",
            "Michigan",
            "Minnesota",
            "Mississippi",
            "Missouri",
            "Montana",
            "Nebraska",
            "Nevada",
            "New Hampshire",
            "New Jersey",
            "New Mexico",
            "New York",
            "North Carolina",
            "North Dakota",
            "Northern Marianas Islands",
            "Ohio",
            "Oklahoma",
            "Oregon",
            "Pennsylvania",
            "Puerto Rico",
            "Rhode Island",
            "South Carolina",
            "South Dakota",
            "Tennessee",
            "Texas",
            "Utah",
            "Vermont",
            "Virginia",
            "Virgin Islands",
            "Washington",
            "West Virginia",
            "Wisconsin",
            "Wyoming"
        })
        .Events(e =>
        {
            e.Change("onChange").Select("onSelect").Open("onOpen").Close("onClose").DataBound("onDataBound");
        })
    )
</div>

<script>
    function onOpen() {
        if ("kendoConsole" in window) {
            kendoConsole.log("event :: open");
        }
    }

    function onClose() {
        if ("kendoConsole" in window) {
            kendoConsole.log("event :: close");
        }
    }

    function onChange() {
        if ("kendoConsole" in window) {
            kendoConsole.log("event :: change");
        }
    }

    function onSelect(e) {
        if ("kendoConsole" in window) {
            var dataItem = this.dataItem(e.item.index());
            kendoConsole.log("event :: select (" + dataItem + ")");
        }
    }

    function onDataBound(e) {
        if ("kendoConsole" in window) {
            kendoConsole.log("event :: dataBound");
        }
    }
</script>

<style scoped>
	#taxi {
		width: 240px;
		height: 160px;
		padding: 80px 0 0 200px;
		background: url('@Url.Content("~/content/web/autocomplete/taxi.png")') transparent no-repeat 0 0;
		margin: 40px 0 30px 40px;
	}
	#taxi label {
		display: block;
		color: #333;
		padding-bottom: 5px;
	}
	.k-autocomplete {
		display: block;
		clear: left;
		width: 200px;
		vertical-align: middle;
	}
	.configuration {
		height: 360px;
		margin-bottom: -21px;
	}
	.configuration .console {
		background-color: transparent;
		border: 0;
		height: 320px;
		overflow: auto;
	}
</style>
