.touch-scrollbar
{
    position: absolute;
    visibility: hidden;
    z-index: 200000;
    height: .3em;
    width: .3em;
    background-color: #333;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    opacity: 0;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
}

.vertical-scrollbar
{
    height: 100%;
    right: 1px;
    top: 0;
}

.horizontal-scrollbar
{
    width: 100%;
    left: 0;
    bottom: 1px;
}

.scroll-container
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: #FFF;
    width: 130%;
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;
/*
    -webkit-box-shadow: 0 0 1em #000;
    box-shadow: 0 0 1em #000;
*/
}

