@model IEnumerable<Kendo.Mvc.Examples.Models.BarChartsLocalDataViewModel>

<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
        .Name("chart")
        .Title("Internet Users")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom)
        )
        .Series(series =>
        {
            series.Bar(model => model.Value, model => model.Color)
                .Name("United States")
                .Labels(labels => labels.Format("{0}%").Visible(true));
        })
        .CategoryAxis(axis => axis
            .Categories(model => model.Year)
        )
        .ValueAxis(axis => axis.Numeric()
            .Labels(labels => labels.Format("{0}%"))
        )
    ) 
</div>