// TileLayout

.k-tilelayout {
    border-width: @tilelayout-border-width;
    border-style: solid;
    box-sizing: border-box;
    outline: 0;
    display: grid;
}

.k-layout-item-hint {
    border-width: @tilelayout-hint-border-width;
    border-style: solid;
    border-radius: @tilelayout-hint-border-radius;
    position: relative;

    &.k-layout-item-hint-resize {
        z-index: 3;
    }
}
