// TileLayout

.k-tilelayout,
.k-widget.k-tilelayout {
    .fill(
        @bg: @tilelayout-bg
    );
}

.k-tilelayout-item:focus,
.k-tilelayout-item.k-state-focus,
.k-tilelayout-item.k-state-focused,
.k-tilelayout-item.k-focus {
    .box-shadow(@tilelayout-card-focus-shadow);
}

.k-layout-item-hint {
    .fill(
        @bg: @tilelayout-hint-bg,
        @border: @tilelayout-hint-border
    );
}
