<div kendo-mobile-application ng-app="kendoDemo">
<kendo-mobile-view k-title="'My Menu'" ng-controller="Mine">
    <kendo-mobile-header>
        <kendo-mobile-nav-bar>
            <kendo-view-title></kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>

    <kendo-mobile-list-view k-load-more="true" k-data-source="source" k-template="template"></kendo-mobile-list-view>

</kendo-mobile-view>

<script type="text/x-kendo-tmpl" id="load-more-template">
    <div class="product">
        <img src="../content/web/foods/{{dataItem.ProductID}}.jpg" alt="{{dataItem.ProductName}} image" class="pullImage"/>
        <h3>{{dataItem.ProductName}}</h3>
        <p>{{kendo.toString(dataItem.UnitPrice, "c")}}</p>
    </div>
</script>

<script>
    angular.module("kendoDemo", [ 'kendo.directives' ])
        .controller("Mine", function($scope) {
            $scope.source = new kendo.data.DataSource({
                type: "odata",
                transport: {
                    read: {
                        url: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Products"
                    }
                },
                serverPaging: true,
                pageSize: 50
            });

            $scope.template = $("#load-more-template").html();
        });
</script>

<style scoped>
    .product h3 {
        font-size: 1.3em;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
        height: 1.3em;
        overflow: hidden;
    }
    .product p {
        font-size: 1em;
        margin: 0;
        padding: .3em 0 0;
    }
    .pullImage {
        width: 64px;
        height: 64px;
        border-radius: 3px;
        float: left;
        margin-right: 10px;
    }
</style>
