<div data-role="view" data-title="Detail Buttons">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Default button styles
            <ul>
                <li>Contact Add<a data-role="detailbutton" data-style="contactadd"></a></li>
                <li>Detail Disclose<a data-role="detailbutton" data-style="detaildisclose"></a></li>
                <li>Row Insert<a data-role="detailbutton" data-style="rowinsert"></a></li>
                <li>Row Delete<a data-role="detailbutton" data-style="rowdelete"></a></li>
            </ul>
        </li>
        <li>
            Custom icons
            <ul>
                <li>More info<a data-role="detailbutton"  data-icon="more"></a></li>
                <li>Battery level<a data-role="detailbutton"  data-icon="battery"></a></li>
            </ul>
        </li>
        <li>
            Link Items &amp; Detail Buttons
            <ul>
                <li><a>Row Insert</a><a data-role="detailbutton" data-style="rowinsert"></a></li>
                <li><a>Row Delete</a><a data-role="detailbutton" data-style="rowdelete"></a></li>
                <li><a>More info</a><a data-role="detailbutton"  data-icon="more"></a></li>
                <li><a>Battery Level</a><a data-role="detailbutton"  data-icon="battery"></a></li>
            </ul>
        </li>
    </ul>
</div>
