@utils-float: left, right, none;
@utils-clear: left, right, none;

each( @utils-float, {
    .k-float-@{value} { float: @value !important; }
});

each( @utils-clear, {
    .k-clear-@{value} { float: @value !important; }
});

// Float wrap
.k-floatwrap::after {
    content: "";
    display: block;
    clear: both;
}
