
        <div id="example" class="k-content">
            <div class="configuration k-widget k-header" style="width: 300px">
                <span class="infoHead">Information</span>
                <p>
                    The Upload is able to upload files out-of-band using the
                    HTML5 File API with fallback for legacy browsers.
                </p>
                <p>
                    You need to configure save action that will receive
                    the uploaded files.
                    An optional remove action is also available.
                </p>
            </div>

            <div style="width:45%">
                <div class="demo-section">
                    <input name="files" id="files" type="file" />
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $("#files").kendoUpload({
                        async: {
                            saveUrl: "save",
                            removeUrl: "remove",
                            autoUpload: true
                        }
                    });
                });
            </script>
        </div>
