<div id="example" class="k-content">
    <div class="configuration-horizontal">
        <div class="config-section" style="width: 340px">
            <span class="configHead">Upload</span>
            <p>Upload files</p>
            <input name="files"
                   type="file"
                   data-role="upload"
                   data-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: true }"
                   data-bind="visible: isVisible,
                              enabled: isEnabled,
                              events: { select: onSelect }">
        </div>
        <div class="config-section" style="width: 300px">
            <div class="configHead">Console</div>
            <div class="console"></div>
        </div>
    </div>
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Configuration</span>
            <div>
                <label><input type="checkbox" data-bind="checked: isEnabled">Enable</label>
            </div>
            <div>
                <label><input type="checkbox" data-bind="checked: isVisible">Visible</label>
            </div>
        </div>
        <div class="config-section" style="width: 440px">
            <span class="configHead">Information</span>
            Kendo UI Upload supports the
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/enabled">enabled</a>,
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/events">events</a>,
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
        </div>
    </div>
<script>
    var viewModel = kendo.observable({
        isEnabled: true,
        isVisible: true,
        onSelect: function(e) {
            var message = $.map(e.files, function(file) { return file.name; }).join(", ");
            kendoConsole.log("event :: select (" + message + ")");
        }
    });
    kendo.bind($("#example"), viewModel);
</script>
</div>
