<div id="example" class="k-content">
    <div class="chart-wrapper">
        <div id="chart"></div>
    </div>
    <script>
        function createChart() {
            $("#chart").kendoChart({
                title: {
                    text: "Budget report"
                },
                dataSource: {
                    transport: {
                        read: {
                            url: "../../content/dataviz/js/budget-report.json",
                            dataType: "json"
                        }
                    }
                },
                seriesDefaults: {
                    type: "radarLine"
                },
                series: [{
                    name: "Budget",
                    field: "budget"
                }, {
                    name: "Spending",
                    field: "spending"
                }],
                categoryAxis: {
                    field: "unit"
                },
                valueAxis: {
                    labels: {
                        template: "$#= value / 1000 #k"
                    }
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
</div>
