/*console*/

.console
{
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    font: normal .8em/2.5em Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    min-height: 10em;
    height: auto;
    margin: 2em;
    overflow-x: hidden;
    overflow-y: auto
    text-align: left;
}

.console .count
{
    background-color: #f00;
    background-clip: border-box;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px 6px 2px 5px;
}

.console div
{
    background-position: 6px -95px;
    border-bottom: 1px solid #DDD;
    padding: 0;
    min-height: 2.5em;
    color: #333;
    vertical-align: middle;
    text-indent: .6em;
}

.console .error
{
    background-position: 6px -135px;
}

.km-root .km-android .console .count
{
    background-color: #f00;
    background-clip: border-box;
    font-weight: bold;
}

.km-root .km-wp .console .count
{
    font-size: 1em;
}
/*configurator*/
