/*reset*/

body,h1,h2,h3,.main-nav,.kendo-nav,#banner p,#footer ul,#footer p,.pager,#examples-list,#themeChooser,.widgetGrid ul
{
    margin:0;
    padding:0;
    list-style:none;
}

img
{
    border:0;
}

#header a,
li>a,
h2>a,
h3>a,
#footer a,
.get-kendoui
{
    text-decoration:none;
}

/*global*/

.floatWrap:after,#example:after{content:"";display:block;clear:both}
.floatWrap,#example{display:inline-block}
.floatWrap,#example{display:block}
.clear{clear:both}

html
{
    overflow-y:scroll;
}

body
{
    font:75% 'lucida sans',arial,helvetica,sans-serif;
}

.centerWrap
{
    width:940px;
    margin:0 auto;
    padding:0;
}

.widgetGrid .centerWrap
{
    width:976px;
}

h2,h3
{
    margin:2em 0 0;
    font:21px arial,sans-serif;
    color:#2e2e2e;
}

h3,
.box h2
{
    margin-top:1em;
    font-size:18px;
}

/*header*/

#header,
.suite-demos-nav
{
    background: #f3f3f3; /* Old browsers */
    background: -moz-linear-gradient(left,  #e2e2e2 0%, #f3f3f3 50%, #e2e2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e2e2e2), color-stop(50%,#f3f3f3), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #e2e2e2 0%,#f3f3f3 50%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #e2e2e2 0%,#f3f3f3 50%,#e2e2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #e2e2e2 0%,#f3f3f3 50%,#e2e2e2 100%); /* IE10+ */
    background: linear-gradient(left,  #e2e2e2 0%,#f3f3f3 50%,#e2e2e2 100%); /* W3C */
}

#header h1
{
    width:134px;
    height:45px;
    float:left;
    margin:6px 0 0;
}

.overview #header h1
{
    width:223px;
    height:73px;
    margin:20px 0 0;
}

#logo
{
    display:block;
    height:100%;
    text-indent:-4444px;
    text-align:center;
    overflow:hidden;
    background:url(kendo-logo.png);
}

.overview #logo
{
    background:url(kendo-logo-big.png);
}

#header ul
{
    float:right;
    clear:right;
}

.main-nav
{
    margin:22px -8px 0 0;
}

*+html .kendo-nav
{
    /*otherwise items will wrap*/
    min-width:48em;
}

#header li
{
    float:left;
}

.main-nav li
{
    border-left:1px solid #dcdcdc;
    padding:0 8px;
}

.main-nav li:first-child
{
    border:0;
}

.main-nav a,
.kendo-nav a,
.suite-demos-nav a,
#footer .bottom-nav a,
#examples-list a,
.get-kendoui,
.widgetGrid a
{
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.kendo-nav .active a,
.suite-demos-nav .active a,
.kendo-nav a:hover,
.main-nav a:hover,
.suite-demos-nav a:hover
{
    color:#e26b1d;
}

.main-nav a
{
    color:#737373;
}

.kendo-nav
{
    margin:12px 0;
}

.overview .kendo-nav
{
    margin:22px 0;
}

.kendo-nav li
{
    margin-left:42px;
}

.kendo-nav a
{
    display:block;
    font:20px/34px arial,helvetica,sans-serif;
    color:#2e2e2e;
}

.get-kendoui
{
    padding:0 16px;
    color:#fff;

    -moz-border-radius:5px;   
    -webkit-border-radius:5px;   
    -o-border-radius:5px;   
    border-radius:5px;
        
    background: #313131; /* Old browsers */
    background: -moz-linear-gradient(top,  #313131 0%, #242424 50%, #232323 51%, #222222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(50%,#242424), color-stop(51%,#232323), color-stop(100%,#222222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #313131 0%,#242424 50%,#232323 51%,#222222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #313131 0%,#242424 50%,#232323 51%,#222222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #313131 0%,#242424 50%,#232323 51%,#222222 100%); /* IE10+ */
    background: linear-gradient(top,  #313131 0%,#242424 50%,#232323 51%,#222222 100%); /* W3C */
}

#header .get-kendoui,
#mainWrap  .get-kendoui
{
    color:#fff;
}

.kendo-nav .get-kendoui
{
    font-size:18px;
}

.get-kendoui:hover
{
    filter:alpha(opacity=80);
    opacity:.8;
}

.kendo-nav .active,
.suite-demos-nav .active,
#footer .centerWrap,
#codeStrip .k-state-active
{
    position:relative;
}

.kendo-nav .active:after
{
    content:" ";
    display:block;
    border-color: #dd5310 transparent;
    border-style: solid;
    border-width: 0 7px 7px;
    left: 50%;
    margin: 0 0 0 -7px;
    position: absolute;
    top: 39px;
    width: 0;
    height:0;
}

.overview .kendo-nav .active:after
{
    top: 49px;
}

/*banner*/

#banner
{
    background:50% 50% url(flowerWrap.png);
    color:#fff;
    min-height:5px;    
}

.overview #banner
{
    -moz-box-shadow:inset 0 0 5px 2px #dd5310;
    -webkit-box-shadow:inset 0 0 5px 2px #dd5310;
    box-shadow:inset 0 0 5px 2px #dd5310;
}

.overview #bannerInner
{
    height:212px;
    background:50% 0 url(flowers.png);
}

#bannerInner>.centerWrap
{
    height:100%;
    background:0 100% no-repeat url(hand-ipad.png);
}

#banner h1,
#banner p
{
    margin-left:470px;
    font-size:14px;
    line-height:1.4;
}

#banner h1
{
    font:bold 32px arial,helvetica,sans-serif;
    margin-bottom:24px;
    padding-top:42px;
}

/*suite demos nav*/

.suite-demos-nav
{
    border:1px solid;
    border-color:#fff transparent #d3d3d3;
    -moz-box-shadow:inset 0 0 5px 2px #d3d3d3;
    -webkit-box-shadow:inset 0 0 5px 2px #d3d3d3;
    box-shadow:inset 0 0 5px 1px #d3d3d3;
}

.suite-demos-nav ul
{
    list-style:none;
}

.suite-demos-nav li
{
    float:left;
    margin-right:30px;
}

.suite-demos-nav a
{
    display:block;
    font:14px/46px arial,helvetica,sans-serif;
    color:#2e2e2e;
}

.suite-demos-nav .active:after
{
    content:" ";
    display:block;
    border-color: #fff transparent;
    border-style: solid;
    border-width: 0 7px 7px;
    left: 50%;
    margin: 0 0 0 -7px;
    position: absolute;
    top: 40px;
    width: 0;
    height:0;
}

/*featured demos and demos-nav*/

.demos-nav
{
    border-bottom:1px solid #b2b2b2;
    
    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 50%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f8f8f8), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#f8f8f8 50%,#eaeaea 100%); /* W3C */
    
    -moz-box-shadow:0 1px 3px 0 #b2b2b2;
    -webkit-box-shadow:0 1px 3px 0 #b2b2b2;
    box-shadow:0 1px 3px 0 #b2b2b2;
}

/*boxes*/

.box
{
    float:left;
    width:290px;
    margin-left:35px;
    padding:44px 0 30px;
    color:#6f6f6f;
}

.box:first-child,
h2+.box,
.widebox
{
    margin-left:0;
}

.widebox
{
    float:none;
    width:auto;
    border-top:1px solid #eaeaea;
    padding:22px 0 0;
}

.box h2,
.box h3
{
    margin-top:1em;
}

.widebox h2,
.widebox h3
{
    margin-top:0;
}

.box h2,
.box h2 a,
.box h3,
.box h3 a
{
    color:#e26b1d;
}

.imgPlate
{
    display:block;
    position:relative;
    width:288px;
    height:146px;
    border:1px solid;
    border-color:#f4f4f4 #e3e3e3 #bdbdbd #dfdfdf;
    text-align:center;
    text-decoration:none;

    -moz-box-shadow:1px 1px 2px -1px #b2b2b2;
    -webkit-box-shadow:1px 1px 2px -1px #b2b2b2;
    box-shadow:1px 1px 2px -1px #b2b2b2;
}

.widebox .imgPlate
{
    float:left;
    margin-right:35px;
}

.new .imgPlate:after
{
    content:"NEW";
    padding:3px 7px 4px;
    font:10px/1 sans-serif;
    color:#fff;
    background:#e26b1d;
    position:absolute;
    bottom:-17px;
    right:15px;
    border-radius:0 0 4px 4px;
}

.column13
{
    float:left;
    width:290px;
    margin-right:35px;
}

.column23
{
    float:left;
    width:614px;
}

/*footer*/

#footer
{
    margin-top:3em;
    padding-bottom:24px;
    background:#242424;
}

#footer,
#footer a
{
    color:#7f7f7f;
}

#footer .active a,
#footer .bottom-nav a:hover
{
    color:#fff;
}

#footer .bottom-nav
{
    margin-bottom:1em;
    line-height:52px;
}

.bottom-nav li
{
    display:inline;
    margin-right:20px;
}

#footer p
{
    line-height:1.5;
}

#footer p a
{
    color:#e26b1d;
}

#footer p a:hover
{
    text-decoration:underline;
}

#social
{
    position:absolute;
    top:64px;
    right:0;
}

#social h2
{
    width:109px;
    height:24px;
    margin:0;
    text-indent:-4444px;
    text-align:center;
    background:url(get-social.png);
}

#social li
{
    float:left;
    margin-left:10px;
}

#social .icon
{
    display:block;
    width:32px;
    height:32px;
    text-indent:-4444px;
    overflow:hidden;
    text-align:center;
    background:#fff url(sprite.png);
}

p#copy
{
    margin-top:30px;
    font-size:.9em;
}

/*inner pages*/

#mainWrap
{
    padding-top:26px;
}

#exampleTitle
{
    float:left;
    font-size:23px;
    line-height:1.6;
    font-weight:normal;
    color:#4e4e4e;
}

#exampleTitle strong
{
    color:#e26b1d;
    font-weight:normal;
}

#exampleTitle .icon
{
    width:20px;
    height:20px;
    display:inline-block;
    margin:0 11px 0 0;
}

#mainWrapInner
{
    border-top:1px solid #dfdfdf;
    padding-top:18px;
}

#examples-nav
{
    float:left;
    width:180px;
    border-right:1px solid #dfdfdf;
    text-align:right;
}

#main
{
    float:left;
    width:759px;
    border-left:1px solid #dfdfdf;
    margin-left:-1px;
}

#themeWrap
{
    float:right;
    font-size:.9em;
}

.choose-theme
{
    color:#939393;
}

#themeChooser
{
    background:#eee;
    border:solid #dadada;
    border-width:0 1px;
    
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    overflow:hidden;
}

#themeChooser,
#themeChooser .active a
{
    line-height:27px;
    
    -moz-box-shadow:inset 0 3px 1px -2px rgba(204, 204, 204, 1);
    -webkit-box-shadow:inset 0 3px 1px -2px rgba(204, 204, 204, 1);
    box-shadow:inset 0 3px 1px -2px rgba(204, 204, 204, 1);
}

#themeChooser li
{
    display:inline;
}

.choose-theme,
#themeChooser,
#themeChooser a
{
    display:inline-block;
    vertical-align:middle;
}

#themeChooser a
{
    color:#4e4e4e;
    padding:0 9px;
}

#themeChooser .active a
{
    color:#fff;
    
    background: #e67b21; /* Old browsers */
    background: -moz-linear-gradient(top, #ea8a25 0%, #e67b21 50%, #e26c1d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea8a25), color-stop(50%,#e67b21), color-stop(100%,#e26c1d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ea8a25 0%,#e67b21 50%,#e26c1d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ea8a25 0%,#e67b21 50%,#e26c1d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ea8a25 0%,#e67b21 50%,#e26c1d 100%); /* IE10+ */
    background: linear-gradient(top, #ea8a25 0%,#e67b21 50%,#e26c1d 100%); /* W3C */
}

/*pager*/

#examples-nav .pager
{
    margin-right:14px;
}

.pager li
{
    display:inline;
    padding-left:8px;
    font-size:.9em;
}

.pager li:first-child
{
    border-right:1px solid #d9d9d9;
    padding-right:8px;
}

.pager a
{
    text-transform:uppercase;
    color:#e26b1d;
}

#examples-list
{
    margin-top:20px;
}

#examples-list a
{
    display:inline-block;
    padding:4px 14px 5px 8px;
    color:#4e4e4e;
    
    -moz-border-radius:3px 0 0 3px;
    -webkit-border-radius:3px 0 0 3px;
    -o-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
}

#examples-list a:hover
{
    color:#e26b1d;
}

#examples-list .active a
{
    color:#fff;
    
    background: #f06f1c; /* Old browsers */
    background: -moz-linear-gradient(top, #f06f1c 0%, #e95e1a 50%, #e24a17 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f06f1c), color-stop(50%,#e95e1a), color-stop(100%,#e24a17)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f06f1c 0%,#e95e1a 50%,#e24a17 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f06f1c 0%,#e95e1a 50%,#e24a17 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f06f1c 0%,#e95e1a 50%,#e24a17 100%); /* IE10+ */
    background: linear-gradient(top, #f06f1c 0%,#e95e1a 50%,#e24a17 100%); /* W3C */
}

#examples-nav .get-kendoui
{
    display:inline-block;
    margin:30px 14px 0 0;
    font-size:14px;
    line-height:30px;
}

#example
{
    padding-left:15px;
}

/*code viewer*/

#codeStrip .k-tabstrip-items
{
    border-bottom:1px solid #c7c7c7;
    
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #eaeaea 50%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(50%,#eaeaea), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#eaeaea 50%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#eaeaea 50%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#eaeaea 50%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(top, #eeeeee 0%,#eaeaea 50%,#e3e3e3 100%); /* W3C */
}

#codeStrip .k-link
{
    background:none;
    border-width:0;
    color:#4e4e4e;
}

#codeStrip .k-state-active .k-link
{
    color:#e26b1d;
}

#codeStrip .k-state-active:after
{
    content:" ";
    display:block;
    border-color: #fff transparent;
    border-style: solid;
    border-width: 0 7px 7px;
    left: 50%;
    margin: 0 0 0 -7px;
    position: absolute;
    top: 39px;
    width: 0;
    height:0;
}

/*widget grid*/

.widgetGrid .wideCol
{
    float:left;
    width:650px;
    background:#eee;
    background:rgba(206,206,206,.2);
}

.widgetGrid .narrowCol
{
    float:left;
    width:310px;
}

.widgetGrid h2
{
    border-bottom:1px solid #dfdfdf;
    margin:0 18px;
    padding-top:14px;
    font-size:12px;
    line-height:1.6;
    text-transform:uppercase;
}

.widgetGrid ul
{
    float:left;
    width:110px;
    margin:8px 0 0 18px;
    padding:0 0 20px;
}

.widgetGrid li
{
    line-height:1.6;
}

.widgetGrid a
{
    color:#4e4e4e;
}

.widgetGrid a:hover
{
    color:#e26b1d;
}