html, body {
    margin: 0;
    padding: 0;
}

a {
    color: #0487C4;
    text-decoration: none;
}

a:hover {
    color: #036c9c;
    text-decoration: underline;
}

html {
    font: 75% Arial, Helvetica, sans-serif;
    background: #f5f7f8;
    height: 100%;
    line-height: 1.5;
}

body {
    min-height: 100%;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

h1.header {
    margin: 0;
    height: 150px;
    line-height: 150px;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #263944;
}

h2 {
    font-size: 23px;
    width: 45%;
    text-align: left;
    float: left;
    margin: 0;
    padding: 0 9% 0 0;
}

#page {
    width:72%;
    min-width: 960px;
    margin: 2% auto;
    padding: 3% 5% 0;
    background: #fff;
    border: 1px solid #e2e4e7;
}

.offline-button {
    display: inline-block;
    margin: 0 0 30px;
    padding: 9px 23px;
    background-color: #015991;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    transition-duration: 0.2s;
    transition-property: background-color;
    transition-timing-function: ease;
}

.offline-button:hover {
    background-color: #013a5e;
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

#page > ul > li {
    float: left;
    clear: left;
    width: 30%;
    min-width: 375px;
    padding: 20px 0 40px;
    margin: 0 3% 0 0;
    border-top: 1px solid #dfdfdf;
}

#page > ul:after,
#page > ul > li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}

#page > ul > li > ul {
    float: left;
    width: 45%;
}

.box
{
    float:left;
    width:290px;
    color:#6f6f6f;
    margin-left:35px;
    margin-right:0;
    padding:44px 0 20px;
    min-height:0;
}

.box:first-child,
h2+.box
{
    margin-left:0;
}

.imgPlate
{
    display:block;
    position:relative;
    width:370px;
    height:170px;
    border:1px solid;
    border-color:#f4f4f4 #e3e3e3 #bdbdbd #dfdfdf;
    text-align:center;
    margin: 0 auto;
    text-decoration:none;
    -moz-box-shadow:1px 1px 2px -1px #b2b2b2;
    -webkit-box-shadow:1px 1px 2px -1px #b2b2b2;
    box-shadow:1px 1px 2px -1px #b2b2b2;
}

.box h2 {
    display: block;
    float: none;
    width: auto;
    text-align: center;
    padding: 0;
}



#suites .imgPlate,
#suites .box {
    border-width: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#suites {
    text-align: center;
}

#suites .box {
    float: none;
    clear: none;
    display: inline-block;
    width: auto;
    min-width: auto;
}

#suites .box h2 {
    margin-top: 1em;
}

/* Suites on Homepage */
.suites {
    min-width: 960px;
    text-align: center;
    margin: 0 -5% 3%;
}

.suite-column:first-child {
    border-right: 1px solid #e0e0e0;
}
.suite-column {
    display: inline-block;
    min-width: 49.6%;
    margin: 3em 0;
    padding: 5em 0;
}
.suite-column img {
    display: block;
    margin: 3em auto;
}

.suite-column > h2 {
    float: none;
    text-align: center;
    width: auto;
    padding: 0;
    font-size: 2.5em;
}

.suite-column > a {
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    color: #fff;
    background-color: #EE5315;
    padding: 0.8em 0.9em 0.72em;
    border-radius: 2px;
    line-height: 1.2;
    text-align: center;
    transition-duration: 0.2s;
    transition-property: background-color, color;
    transition-timing-function: ease;
}

.suite-column > a:hover {
    background-color: #d3470f;
}

.new-widget,
.beta-widget
{
    position: relative;
    display: inline-block;
    height: 9px;
    width: 37px;
    margin: 0 7px;
    background-repeat: no-repeat;
    background-image: url(tags.png);
}

.new-widget { width: 18px; background-position: -19px -9px; }
.beta-widget { width: 21px; background-position: -16px 0; }

h2 .new-widget,
h2 .beta-widget {
    vertical-align: top;
    margin-top: 8px;
}

@media screen and (min-width: 1000px) {
    #page > ul > li {
        clear: none;
    }

    #page > ul > li:nth-child(2n+1) {
        clear: left;
    }
}

@media screen and (min-width: 1480px) {
    #page > ul > li:nth-child(2n+1) {
        clear: none;
    }

    #page > ul > li:nth-child(3n+1) {
        clear: left;
    }
}
