
        <div id="example" class="k-content">
            <div class="wrapper">
                <ul id="panelbar">
                    <li>
                        BODY
                        <div></div>
                    </li>
                    <li>
                        ENGINE
                        <div></div>
                    </li>
                    <li>
                        TRANSMISSION
                        <div></div>
                    </li>
                    <li>
                        PERFORMANCE
                        <div></div>
                    </li>
                </ul>
            </div>
            
            <div class="configuration configuration-horizontal-bottom">
                <span class="infoHead">Information</span>
                <p>Image courtesy of Aston Martin</p>
            </div>

        </div>

        <script>
            $(document).ready(function() {
                $("#panelbar").kendoPanelBar({
                    expandMode: "single",
                    contentUrls: [
                        '../../content/web/panelbar/ajax/ajaxContent1.html',
                        '../../content/web/panelbar/ajax/ajaxContent2.html',
                        '../../content/web/panelbar/ajax/ajaxContent3.html',
                        '../../content/web/panelbar/ajax/ajaxContent4.html'
                    ]
                });
            });
        </script>

        <style scoped>
            .wrapper {
                width: 310px;
                height: 400px;
                margin: 20px auto;
                padding: 75px 0 0 390px;
                background: url('../../content/web/panelbar/astonmartin.png') no-repeat 0 50px transparent;
            }
            #panelbar {
                width: 300px;
            }
            #panelbar p {
                margin-left: 1em;
                margin-right: 1em;
            }
        </style>
