<div kendo-mobile-application ng-app="kendoDemo">
<kendo-mobile-view>
    <kendo-mobile-list-view k-style="'inset'" k-type="'group'">
        <li>Profile
            <ul>
                <li><h2>Eduardo <span>Saavedra</span></h2><img src="../content/mobile/overview/eduardo.jpg" /></li>
                <li>Brand Manager at Marketing Team</li>
            </ul>
        </li>

        <li>Password
            <ul>
                <li>User cannot change pasword <kendo-mobile-switch id="email-switch" checked="true"></li>
                <li>Password never expires <kendo-mobile-switch id="wink-switch" checked="false"></li>
            </ul>
        </li>

        <li>Newsletter Subscription
            <ul>
                <li>Subscribed <kendo-mobile-switch id="email-switch" checked="true" k-on-label="'yes'" k-off-label="'no'"></li>
            </ul>
        </li>
    </kendo-mobile-list-view>
</kendo-mobile-view>

<script>
    angular.module("kendoDemo", [ 'kendo.directives' ]);
</script>

<style scoped>
#switch-home h2 {
    display: inline-block;
    font-size: 1.1em;
    margin: 1.5em 0 0 .7em;
}
#switch-home h2 span {
    display: block;
    clear: both;
    font-size: 1.8em;
    margin: .1em 0 0 0;
}
#switch-home img {
    width: 5em;
    height: 5em;
    float: left;
    margin: 1em;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-border-radius: 4em;
    border-radius: 4em;
}
</style>
