/* Outlook theme*/

.k-widget,
.k-input
{
    border-color: #5d8cc9;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC Outlook) */
    background-color: #fff;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC Outlook) */

.k-header,
.k-grid-header
{
    border-color: #5d8cc9;
    background: #7da5e0 url('Outlook/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('Outlook/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Outlook/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Outlook/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup
{
    color: #000;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #5d8cc9;
    background-color: #fff;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #5d8cc9;
}

.k-separator
{
    border-color: #cfdef4;
    background-color: #7e98bc;
}

.k-alt
{
    background-color: #f7f7f7;
}

.k-state-default
{
    border-color: #5d8cc9;
}

.k-active-filter
{
    background-color: #b6cef2;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #d6e5f3;
    border-color: #5d8cc9;
}

.k-state-active
{
    background-color: #fff;
    border-color: #5d8cc9;
}

.k-state-selected
{
    background-color: #bcd3f3;
}

.k-state-focused
{
    background-color:#a3c0ea;
}

.k-dropdown .k-state-focused
{
    border-color: #ef9718;
    background: #ef9718 url('Outlook/sprite.png') repeat-x 0 -752px;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
	border-color: #5d8cc9;
    color: #333;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #ebe8e2 url('Outlook/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    background-position: 0 -624px;
    background-color: #f2f2f2;
    color: #000;
}

.k-state-disabled,
.k-state-disabled:hover,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color:#999;
}

.k-header .k-state-disabled,
.k-header .k-state-disabled .k-link
{
    color:#577aac;
    border-color:#7da5e0;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #5d8cc9;
    background-color: #d6e5f3;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #5d8cc9;
}

.k-grid td
{
    border-color: #ddd;
}

.k-grid tr.k-state-hover td
{
	border-color: #d6e5f3;
}

.k-grid tr.k-state-selected td
{
	border-color: #bcd3f3;
}

.k-grouping-row td
{
    background: #fff url('Outlook/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #d6e5f3;
    border-color: #567db0 #d6e5f3 #fff;
}

.k-group-footer td
{
    background-color: #d6e5f3;
    border-color: #567db0;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #d6e5f3;
    border-color: #567db0;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #aaa;
}

.k-grouping-dropclue
{
    background: url('Outlook/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('Outlook/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #002d96;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #5d8cc9;
}

.k-calendar th
{
    border-color: #89aee5;
}

.k-other-month .k-link
{
    color: #777;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Outlook/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Outlook/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Outlook/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

.k-editor-button .k-state-hover
{
    border-color: #dae8fa #668dcf #668dcf #dae8fa;
    background-color: #93b5e7;
}

.k-editor-button .k-state-active
{
    border-color: #5781c9 #a3c1ea #a3c1ea #5781c9;
    background-color: #7da5e0;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('Outlook/sprite.png');
	color:#5d8cc9;
}

.k-slider-track
{
	border-color:#7b9ecc;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('Outlook/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('Outlook/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Outlook/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Outlook/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
    border-color:#000;
	background:#ffffe1;
}

.k-callout
{
	background-image:url('Outlook/sprite.png');
}

/* Splitter */

.k-splitter
{
    border-color: #89aee5;
}

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #bcd3f3;
    border-color: #89aee5;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Outlook/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Outlook/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #7f9eba;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #d6e5f3;    
}

.k-dropzone em
{
    color: #6c7a8c;
}

.k-progress,
.k-progress-status
{
    background-image: url('Outlook/sprite.png');
}

.k-progress
{
    background-position: 0 -466px;
    border-color: #7699c5 #83a4ce #81a5d6;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #99bbea transparent #40689e;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #c3dafa;
}

.k-breadcrumbs .k-link:hover
{
    color: #003db2;
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #6c7a8c;
}

.k-tiles
{
    border-color: #7f9eba;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('Outlook/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #e0b224;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #df8b13;
    background-position: 0 -100px;
}

.k-tile .k-folder
{
    background-image:url('Outlook/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #6c7a8c;
}

.k-tile-empty strong
{
    color: #8bb2e2;
}
