/* Office2007 theme*/

.k-widget,
.k-input
{
    border-color: #688caf;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fff;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #688caf;
    background: #c3d8f1 url('Office2007/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('Office2007/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Office2007/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Office2007/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup
{
    color: #000;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #688caf;
    background-color: #fff;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #688caf;
}

.k-separator
{
    border-color: #ebf1f9;
    background-color: #a0b2c7;
}

.k-alt
{
    background-color: #fff;
}

.k-state-default
{
    border-color: #688caf;
}

.k-active-filter
{
    background-color: #c0d9ef;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #d6e5f3;
    border-color: #688caf;
}

.k-state-active
{
    background-color: #fff;
    border-color: #688caf;
}

.k-state-selected
{
    background-color: #ffd176;
}

.k-state-focused
{
    background-color:#d6e5f3;
    color:#092061;
}

.k-dropdown .k-state-focused
{
    border-color: #eaad33;
    background: #fedf84 url('Office2007/sprite.png') repeat-x 0 -752px;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
    color: #333;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
	border-color: #688caf;
    background: #e5effb url('Office2007/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    border-color: #d8ca95 #b9a073 #c6b99c;
    background-position: 0 -624px;
    background-color: #ffdf84;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #82a6d7;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #5d8cc9;
    background-color: #d6e5f3;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #688caf;
}

.k-grid td
{
    border-color: #d6e5f3;
}

.k-grouping-row td
{
    background: #fff url('Office2007/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #d6e5f3;
    border-color: #567db0 #d6e5f3 #fff;
}

.k-group-footer td
{
    background-color: #d6e5f3;
    border-color: #567db0;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #d6e5f3;
    border-color: #567db0;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #aaa;
}

.k-grouping-dropclue
{
    background: url('Office2007/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('Office2007/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #a79d87;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #5d8cc9;
}

.k-calendar th
{
    border-color: #9ebfdb;
}

.k-other-month .k-link
{
    color: #777;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Office2007/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Office2007/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Office2007/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

.k-editor-button .k-state-hover
{
    border-color: #e8f0fa #98b2d0 #98b2d0 #e8f0fa;
    background-color: #d4e3f5;
}

.k-editor-button .k-state-active
{
    border-color: #88a4c5 #d0dcea #d0dcea #88a4c5;
    background-color: #9fbad9;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('Office2007/sprite.png');
	color:#688caf;
}

.k-slider-track
{
	border-color:#6b89b2;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('Office2007/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('Office2007/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Office2007/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Office2007/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
    border-color:#767676;
	background:#cad9ef 0 -96px repeat-x url('Office2007/sprite.png');
	color:#333;
}

.k-callout
{
	background-image:url('Office2007/sprite.png');
}

/* Splitter */

.k-splitter
{
    border-color: #9eb6ce;
}

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #d7e6f7;
    border-color: #9eb6ce;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Office2007/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Office2007/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #688caf;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #d6e5f3;    
}

.k-dropzone em
{
    color: #3e7ecf;
}

.k-progress,
.k-progress-status
{
    background-image: url('Office2007/sprite.png');
}

.k-progress
{
    background-position: 0 -465px;
    border-color: #82a6d7 #8aacda #82a6d7;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #6b89b2 transparent;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #dde8f5;
}

.k-breadcrumbs .k-link
{
    color: #3e7ecf;
}

.k-breadcrumbs .k-link:hover
{
    color: #00156e;
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #8bb2e2;
}

.k-tiles-arrange
{
    color: #3e7ecf;
}

.k-toolbar .k-upload .k-button,
.k-tiles-arrange .k-link
{
    color: #00156e;
}

.k-tiles
{
    border-color: #8bb2e2;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('Office2007/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #c5af7f;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #c0a776;
    background-position: 0 -100px;
}

.k-tile .k-folder
{
    background-image:url('Office2007/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #636363;
}

.k-tile-empty strong
{
    color: #8bb2e2;
}
