/* Hay theme*/

.k-widget,
.k-input
{
    border-color: #7d7c6f;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #ececd8;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #378909;
    background: #4eb106 url('Hay/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('Hay/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Hay/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Hay/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link,
.k-popup
{
    color: #333;
}

.k-header,
.k-header .k-link,
.k-grid-header th .k-link, /*grid in tabstrip*/
.k-state-active .k-header .k-state-default .k-link /*nested tabstrips*/
{
    color: #fff;
}

.k-header .k-group,
.k-group .k-link
{
    color: #333;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #bbb99d;
    background-color: #ececd8;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #378909;
}

.k-separator
{
    border-color: #73c335;
    background-color: #378909;
}

.k-alt
{
    background-color: #fff;
}

.k-state-default
{
    border-color: #378909;
}

.k-active-filter
{
    background-color: #51b200;
}

.k-state-hover,
.k-state-hover .k-link,
.k-group .k-state-hover
{
    color: #fff;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #6cc41a;
    border-color: #378909;
}

.k-state-active
{
    background-color: #ececd8;
    border-color: #378909;
}

.k-state-active,
.k-state-active .k-link,
.k-state-active .k-tabstrip-items .k-state-active .k-link /*nested tabstrips*/
{
    color: #333;
}

.k-state-active .k-header,
.k-state-active .k-state-hover
{
    color: #fff;
}

.k-state-selected
{
    background: #4e8e13;
}

.k-state-focused
{
    background-color:#d2d0b6;
}

.k-dropdown .k-state-focused
{
    border-color: #4e8e13;
    background: #6bc31a url('Hay/sprite.png') repeat-x 0 -752px;
}

.k-state-selected,
.k-state-selected .k-header,
.k-state-selected .k-state-hover,
.k-state-selected .k-link
{
    color: #fff;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
	border-color: #898772;
    color: #333;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #e0e2cb url('Hay/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    background-position: 0 -624px;
    background-color: #bbbe94;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-widget .k-link.k-state-disabled,
.k-state-disabled .k-button
{
    color: #999;
}

.k-header .k-state-disabled,
.k-header .k-state-disabled .k-link
{
    color:#d2d2d2;
    border-color:#5ca136;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #bbb99d;
    background-color: #dee0c8;
}

.k-panelbar .k-link
{
    border-color: #333;
}

.k-grid-header-wrap
{
    border-color: #378909;
}
.k-grid-footer-wrap
{
    border-color: #bbb99d;
}

.k-grid td
{
    border-color: #ddd;
}

.k-grid tr.k-state-hover td
{
	border-color:#6CC41A;
}

.k-grid tr.k-state-selected td
{
    border-color: #378909;
}

.k-grouping-row td
{
    background: #fff url('Hay/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #dee0c8;
    border-color: #bbb99d #dee0c8 #fff;
}

.k-group-footer td
{
    background-color: #dee0c8;
    border-color: #bbb99d;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #dee0c8;
    border-color: #bbb99d;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #aaa;
}

.k-grouping-dropclue
{
    background: url('Hay/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('Hay/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #2C8406;
}

.k-calendar th
{
    border-color: #cac8ab;
}

.k-other-month .k-link
{
    color: #777;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Hay/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Hay/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Hay/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

.k-editor-button .k-state-hover
{
    border-color: #73cd26 #38910a #38910a #73cd26;
    background-color: #63c215;
}

.k-editor-button .k-state-active
{
    border-color: #257802 #60ba1d #60ba1d #257802;
    background-color: #47a605;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('Hay/sprite.png');
	color:#7d7c6f;
}

.k-slider-track
{
	border-color:#b6b499;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('Hay/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('Hay/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Hay/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Hay/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
    border-color:#cccab0;
	background:#e0e2cb 0 -560px repeat-x url('Hay/sprite.png');
}

.k-callout
{
	background-image:url('Hay/sprite.png');
}

/* Splitter */

.k-splitter
{
    border-color: #cac8ab;
}

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #ececd8;
    border-color: #cac8ab;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Hay/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Hay/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #bbb99d;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #f5f5e6;    
}

.k-dropzone em
{
    color: #787878;
}

.k-progress,
.k-progress-status
{
    background-image: url('Hay/sprite.png');
}

.k-progress
{
    background-position: 0 -467px;
    border-color: #9a9881 #b6b49b #cdccb7;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #74cd23 transparent #3a8e09;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #f5f5e6;  
}

.k-search-wrap label,
.k-tiles-arrange
{
    color: #787878;
}

.k-breadcrumbs .k-link
{
    color: #333;
}

.k-tiles
{
    border-color: #bbb99d;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('Hay/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #46a700;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #bbb99d;
    background-position: 0 -100px;
    color: #000;
}

.k-tile .k-folder
{
    background-image:url('Hay/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #525252;
}

.k-tile-empty strong
{
    color: #bbb99d;
}
