/* Simple theme*/

.k-widget,
.k-input
{
    border-color: #828282;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fff;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #828282;
    background: #e6e6e6;
}

.k-icon { background-image: url('Simple/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Simple/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Simple/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup
{
    color: #000;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #828282;
    background-color: #fff;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #828282;
}

.k-separator
{
    border-color: #fff;
    background-color: #999;
}

.k-alt
{
    background-color: #f7f7f7;
}

.k-state-default
{
    border-color: #828282;
}

.k-active-filter
{
    background-color: #d8d8d8;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #ffe79c;
    border-color: #c98400;
}

.k-state-active
{
    background-color: #fff;
    border-color: #828282;
}

.k-state-selected
{
    background-color: #ffa517;
}

.k-state-focused
{
    background-color:#fff3cd;
}

.k-dropdown .k-state-focused
{
    border-color: #828282;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
    color: #333;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
	border-color: #828282;
    background: #e8e8e8;
}

.k-button:hover
{
    background: #ffe79c;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #999;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #aaa;
    background-color: #eee;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #828282;
}

.k-grid td
{
    border-color: #ddd;
}

.k-grid tr.k-state-selected td
{
    border-color: #ffa517;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #ccc;
}

.k-grouping-dropclue
{
    background: url('Simple/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row td,
.k-grouping-row p
{
    background: #fff;
}

.k-footer-template td
{
    background-color: #e4e4e4;
    border-color: #999 #e4e4e4 #fff;
}

.k-group-footer td
{
    background-color: #e4e4e4;
    border-color: #999;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #e4e4e4;
    border-color: #999;
}

.k-treeview .k-drop-clue
{
    background-image: url('Simple/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #ffa517;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #aaa;
}

.k-calendar th
{
    border-color: #999;
}

.k-other-month .k-link
{
    color: #777;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Simple/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Simple/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Simple/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

.k-editor-button .k-state-hover
{
    border-color: #f1f1f1 #8a8a8a #8a8a8a #f1f1f1;
    background-color: #e6e6e6;
}

.k-editor-button .k-state-active
{
    border-color: #a4a4a4 #e0e0e0 #e0e0e0 #a4a4a4;
    background-color: #c8c8c8;
}

/*Slider*/

.k-slider .k-draghandle
{
	border-width:1px;
	border-style:solid;
	color:#606060;
}

.k-slider-horizontal .k-draghandle
{
	width:7px;
	height:18px;
	top:-8px;
}

.k-slider-vertical .k-draghandle
{
	width:18px;
	height:7px;
	left:-8px;
}

.k-slider .k-draghandle,
.k-state-disabled.k-slider a.k-draghandle,
.k-state-disabled .k-slider a.k-draghandle
{
	border-color:#828282;
    background-color:#e8e8e8;
}
.k-slider .k-draghandle:hover,
.k-slider .k-draghandle:focus
{
	border-color:#c98400;
    background-color:#ffe79c;
}
.k-slider .k-draghandle:active
{
	border-color:#c98400;
    background-color:#ffa517;
}

.k-slider .k-slider-track
{
	background:#e1e1e1 none;
	border:1px solid #acacac;
}

.k-slider .k-slider-selection
{
	background:#ffa517 none;
	border:1px solid #ca4b0c;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
    height:4px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	width:4px;
}

.k-slider-horizontal .k-tick
{
    background-image:url('Simple/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Simple/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
    border-color:#ffa517;
	background:#ffe79c;
}

.k-callout
{
	background-image:url('Simple/sprite.png');
}

/* Splitter */

.k-splitter
{
    border-color: #828282;
}

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #e6e6e6;
    border-color: #828282;
}

.k-splitbar-vertical-hover,
.k-splitbar-horizontal-hover { background-color: #ffe79c; }

.k-splitbar-horizontal-active,
.k-splitbar-vertical-active,
.k-ghost-splitbar-horizontal,
.k-ghost-splitbar-vertical { background-color: #ffa517; }

.k-restricted-size-horizontal,
.k-restricted-size-vertical
{
    background-color: #f00;
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #9b9b9b;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #e8e8e8;    
}

.k-dropzone em
{
    color: #9b9b9b;
}

.k-progress
{
    background-color: #e1e1e1;
    border-color: #b4b4b4 #adadad #9e9e9e;
}

.k-progress-status
{
    background-color: #ffa517;
    border-color: #ca4b0c;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #e8e8e8;  
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #9b9b9b;
}

.k-tiles
{
    border-color: #9b9b9b;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
}

.k-tiles li.k-state-hover
{
    border-color: #c98400;
    background-color: #ffe79c;
}

.k-tiles li.k-state-selected
{
    border-color: #c98400;
    background-color: #ffa517;
}

.k-tile .k-folder
{
    background-image:url('Simple/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #6e6659;
}

.k-tile-empty strong
{
    color: #9e9e9e;
}
