/* Transparent theme*/

.k-widget,
div.k-combobox,
.k-input
{
    border-color: #c5c5c5;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background: url('Transparent/widget.png');
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header,
.k-grouping-header,
.k-tooltip,
.k-grid-pager
{
    border-color: #c5c5c5;
    background: url('Transparent/gradient.png') repeat-x 0 center;
}

.k-menu-vertical,
.k-editor,
.k-tooltip,
.k-tabstrip
{
    background-position:0 -48px;
}

.k-icon { background-image: url('Transparent/sprite.png'); }
.k-editor .k-editor-toolbar .k-tool-icon { background-image: url('Transparent/editor.png'); }

.k-picker-wrap{padding-right: 23px;}

.k-loading,
.k-widget .k-loading { background: transparent url('Transparent/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-state-hover .k-link:hover,
.k-popup,
.k-grid .k-header
{
    color: #000;
}

.k-animation-container .k-group
{
    background:url('Transparent/group.png');
    border-color:#e0e0e0;
}

.k-animation-container .k-content,
.k-editable-area
{
    border-color: #c5c5c5;
    background:url('Transparent/group.png');
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #c5c5c5;
}

.k-separator
{
    border-color: #c5c5c5;
    background-color: #fff;
}

.k-alt
{
    background: url('Transparent/widget.png');
}

.k-state-default,
.k-dropdown .k-state-focused
{
    border-color: #c5c5c5;
}

.k-active-filter
{
    background: url('Transparent/active.png');
}

.k-state-hover,
.k-state-hover:hover
{
    background-image: url('Transparent/hover.png');
    border-color: #999;
    color: #000;
}

.k-state-active,
.k-header .k-state-active
{
    background-image: url('Transparent/active.png');
    border-color: #c5c5c5;
}

.k-panelbar .k-item.k-state-active
{
    background-image:none;
}

.k-state-selected
{
    background-image: url('Transparent/selected.png');
    border-color: #aaa;
}

.k-state-selected,
.k-state-selected .k-link,
a.k-state-selected.k-link
{
    color:#fff;
}

.k-state-focused
{
    background: url('Transparent/hover.png');
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    color:#f20000;
}

.k-button
{
	border-color: #c5c5c5;
	color: #333;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background:url('Transparent/gradient.png') repeat-x 0 center;
}

.k-button:hover
{
    color: #000;
}

.k-state-disabled,
.k-state-disabled:hover,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #777;
    border-color: #c5c5c5;
}

.k-combobox .k-input
{
    background: transparent;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status
{
    border-color: #c5c5c5;
    background: url('Transparent/toolbar.png');
}

.k-imagebrowser .k-toolbar
{
    background-repeat: repeat;
}

.k-widget .k-status
{
    background:none transparent;
}

.k-grid-header-wrap,
.k-grid-footer-wrap,
.k-grid td
{
    border-color: #c5c5c5;
}

.k-grouping-header .k-group-indicator
{
    border-color: #c5c5c5;
}

.k-grouping-dropclue
{
    background: url('Transparent/sprite.png') no-repeat -48px -288px;
}

.k-treeview .k-drop-clue
{
    background-image: url('Transparent/sprite.png');
    background-position: 0 -358px;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #c5c5c5;
}

.k-calendar th
{
    border-color: #d3d6da;
    background: url('Transparent/toolbar.png');
}

.k-other-month .k-link
{
    color: #666;
}

/* TabStrip */

.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active
{
    margin-bottom: 0;
}

.k-tabstrip .k-content,
.k-panelbar .k-tabstrip .k-content
{
    border-top-width: 0;
}

/* Slider */

.k-slider
{
	background-image:none;
}

.k-slider .k-draghandle
{
	background-image: url('Transparent/sprite.png');
	color: #666;
}

.k-slider-track
{
	border-color:#c5c5c5;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image: url('Transparent/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image: url('Transparent/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Transparent/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Transparent/slider-v.gif');
}

/* Tooltip */

.k-tooltip
{
    border-width:2px;
    border-color:#c5c5c5;
}

.k-callout
{
	background-image: url('Transparent/sprite.png');
}

.k-callout-n,
.k-callout-s
{
	width: 10px;
	height: 5px;
}

.k-callout-w,
.k-callout-e
{
	width: 5px;
	height: 10px;
}

.k-callout-n
{
	top: -7px;
	left: 50%;
	margin-left: -5px;
	background-position: -64px -368px;
}

.k-callout-w
{
	left: -7px;
	top: 50%;
	margin-top: -5px;
	background-position: -64px -384px;
}

.k-callout-s
{
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: 2px;
	background-position: -64px -400px;
}

.k-callout-e
{
	left: 100%;
	top: 50%;
	margin-top: -5px;
	margin-left: 2px;
	background-position: -64px -416px;
}

/* Splitter */

.k-splitbar
{
    border-color: #c5c5c5;
    background: url('Transparent/toolbar.png');
}

.k-splitbar .k-icon
{
    background-image: url('Transparent/sprite.png');
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Transparent/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Transparent/sprite-vertical.png');
    background-color:transparent;
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #c5c5c5;
}

.k-dropzone-hovered,
.k-upload-files
{
    background: url('Transparent/toolbar.png');   
}

.k-dropzone em
{
    color: #c5c5c5;
}

.k-progress,
.k-progress-status
{
    background-image: url('Transparent/sprite.png');
}

.k-progress
{
    background-position: 0 -464px;
    border-color: #c5c5c5;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: transparent;
}

/* ImageBrowser */

.k-tiles
{
    border-color: #c5c5c5;
    background: url('Transparent/alt.png');
}

.k-tile
{
    border-color: #fff;
    background-image:url('Transparent/gradient.png');
    background-position:0 100px;
    background-repeat:repeat-x;
}

.k-tiles li.k-state-hover
{
    border-color: #999;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #aaa;
    background-position: 0 0;
}

.k-tile .k-folder
{
    background-image: url('Transparent/imagebrowser.png');
}

.k-tile-empty strong
{
    color: #aaa;
}

/* Window */

.k-window-content
{
    background: url('Transparent/group.png');
}

.k-window-actions
{
    background: none;
}
