/* base stylesheet */

.k-rtl
{
    direction: rtl;
    zoom: 1;
}

.k-rtl .k-button-icontext .k-icon
{
	margin: 0 -3px 0 3px;
}

/* Window */

.k-rtl .k-window-actions
{
    right: auto;
    left: 0.5em;
}

.k-rtl .k-window-title .k-image
{
    margin: 0 0 0 5px;
}

/* TabStrip */

.k-rtl .k-tabstrip-items .k-item,
.k-rtl .k-panelbar .k-tabstrip-items .k-item
{
    margin: .1em 0 0 .3em;
}

.k-rtl .k-tabstrip-items .k-item .k-icon,
.k-rtl .k-panelbar .k-tabstrip-items .k-item .k-icon
{
    margin: -1px -3px 0 4px;
}

.k-rtl .k-tabstrip-items .k-item .k-image,
.k-rtl .k-tabstrip-items .k-item .k-sprite,
.k-rtl .k-panelbar .k-tabstrip-items .k-item .k-image,
.k-rtl .k-panelbar .k-tabstrip-items .k-item .k-sprite
{
    margin: -4px -3px 0 3px;
}

.k-rtl .k-tabstrip-items .k-state-active,
.k-rtl .k-panelbar .k-tabstrip-items .k-state-active
{
    padding-bottom: 1px;
    margin-bottom: -1px;
}

/* PanelBar */

.k-rtl .k-panelbar .k-item
{
    zoom: normal;
}

.k-rtl .k-panelbar .k-image,
.k-rtl .k-panelbar .k-sprite
{
    margin-right: 0;
    margin-left: 5px;
    float: right;
}

.k-rtl .k-panelbar .k-i-arrow-n,
.k-rtl .k-panelbar .k-i-arrow-s
{
    right: auto;
    left: 2px;
}

.k-rtl .k-panelbar .k-group .k-group .k-link
{
    padding-left: 0;
    padding-right: 2em;
}

/* Menu */

.k-rtl .k-menu .k-group .k-link
{
    padding-left: 2em;
    padding-right: .97em;
}

.k-rtl .k-menu .k-item
{
    border-width: 0 0 0 1px;
}

.k-rtl .k-menu .k-image,
.k-rtl .k-menu .k-sprite
{
    margin: 0 -4px 0 4px;
}

.k-rtl .k-menu .k-i-arrow-s
{
    margin-left: -10px;
    margin-right: 2px;
}

.k-rtl .k-menu .k-i-arrow-e
{
    right: auto;
    left: 0;
}

.k-rtl .k-menu .k-animation-container,
.k-rtl .k-menu .k-group
{
    left: auto;
    right: -1px;
}

.k-rtl .k-menu .k-animation-container .k-animation-container,
.k-rtl .k-menu .k-group .k-group
{
    right: 100%;
    left: auto;
}

.k-rtl .k-menu-vertical .k-animation-container,
.k-rtl .k-menu-vertical .k-group
{
    right: 100%;
    left: auto;
}

.k-rtl .k-menu .k-animation-container .k-group
{
    right: auto;
}

/* Grid */

.k-rtl .k-grid div.k-grid-header,
.k-rtl .k-grid .k-grid-content,
.k-rtl .k-grid .k-grid-footer,
.k-rtl .k-grid .k-grouping-header,
.k-rtl .k-grid .k-grid-toolbar,
.k-rtl .k-grid .k-filter-options,
.k-rtl .k-grid tbody
{
    zoom: 1;
    direction: rtl;
}

.k-rtl .k-grid table
{
    border-collapse: separate;
}

.k-rtl .k-grid div.k-grid-header,
.k-rtl .k-grid .k-header,
.k-rtl .k-grid td
{
    text-align: right;
}

.k-rtl .k-grid div.k-grid-header
{
    padding-right: 0;
    padding-left: 17px;
}

.k-rtl .k-grid.k-grid-rightscroll div.k-grid-header
{
    padding-left: 0;
    padding-right: 17px;
}

.k-rtl .k-grid .k-header,
.k-rtl .k-grid td
{
    border-width: 0 0 0 1px;
}

.k-rtl .k-grid.k-grid-rightscroll .k-header,
.k-rtl .k-grid.k-grid-rightscroll td
{
    border-width: 0 1px 0 0;
}

.k-rtl .k-grid .k-header .k-link
{
    padding: .3em .6em .3em 2.4em;
}

.k-rtl .k-grid .k-grid-filter
{
    float: left;
    margin-right: 3px;
    margin-left: -.6em;
}

.k-rtl .k-grid .k-pager
{
    direction: ltr;
    float: right;
}

.k-rtl .k-grid .k-status
{
    float: right;
    border-right-width: 0;
    border-left-style: solid;
    border-left-width: 1px;
    margin: -.2em -.6em -.2em .6em;
}

.k-rtl .k-grid .k-status-text
{
    float: left;
}

.k-rtl .k-grid .k-grouping-row p
{
    margin-right: -0.6em;
    margin-left: 0;
    padding-right: 0.6em;
    padding-left: 0;
}

.k-rtl .k-grid .k-button .k-icon
{
    margin-left: 3px;
    margin-right: -3px;
}

.k-rtl .k-grid .k-last
{
    border-left-width: 0;
}

.k-rtl .k-grouping-header .k-button .k-icon {
    margin: 0 3px 0 0;
}

/* ComboBox */

.k-rtl .k-autocomplete
{
    background-position: 0 50% !important;
}

.k-rtl .k-dropdown-wrap
{
    padding-right: 0;
    padding-left: 16px; /* icon width*/
    zoom: 1;
}

* html .k-rtl .k-combobox .k-dropdown-wrap { padding-right: 0; padding-left: 16px; }
* html .k-rtl .k-picker-wrap { padding-right: 0; padding-left: 25px; }

.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-dropdown-wrap .k-select
{
    right: auto;
    left: 0;
    zoom: 1;
}

* html .k-rtl .k-picker-wrap .k-select,
* html .k-rtl .k-dropdown-wrap .k-select { right: auto; left: 1px; }

.k-rtl .k-combobox .k-select
{
    border-width: 0 1px 0 0;
}

.k-rtl .k-dropdown .k-input,
.k-rtl .k-selectbox .k-input
{
    padding: .2em 3px .2em 0;
}

/* Date/Time Pickers */

.k-rtl .k-picker-wrap .k-icon-calendar,
.k-rtl .k-picker-wrap .k-icon-clock
{
    margin: 3px 3px 0 0;
}

.k-rtl .k-picker-wrap
{
    padding: 0 0 0 25px;
}

.k-rtl .k-datetimepicker .k-picker-wrap
{
    padding: 0 0 0 44px;
}

/* TreeView */

.k-rtl .k-treeview .k-item
{
    padding: 0 16px 0 0;
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    margin-left: 0;
    margin-right: -16px;
    padding-left: 0;
    padding-right: 20px;
}

.k-rtl .k-treeview .k-plus,
.k-rtl .k-treeview .k-minus,
.k-rtl .k-treeview .k-plus-disabled,
.k-rtl .k-treeview .k-minus-disabled
{
    margin-left: 0;
    margin-right: -20px;
    float: right;  /* required for Opera */
    *float: none; /* IE6 does not like it as node text wraps */
}

.k-rtl .k-treeview .k-image
{
    margin-right: 0;
    margin-left: 3px;
}

.k-rtl .k-treeview-lines .k-top { background-position: 100% 0; }
.k-rtl .k-treeview-lines .k-bot { background-position: 100% -22px; }
.k-rtl .k-treeview-lines .k-mid { background-position: 100% -44px; }
.k-rtl .k-treeview-lines .k-last .k-top { background-position: 100% -66px; }
.k-rtl .k-treeview-lines .k-group .k-last .k-bot { background-position: 100% -22px; } 
.k-rtl .k-treeview-lines .k-item { background-position: 100% 0; }
.k-rtl .k-treeview-lines .k-first { background-position: 100% 16px; }

/* NumericTextBox */

.k-rtl .k-numerictextbox .k-icon
{
    margin-left: 0;
    margin-right: -16px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .k-rtl .k-numerictextbox .k-icon
    {
        position: relative;
        z-index: 2;
    }

    .k-rtl .k-numerictextbox
    {
        position: relative;
    }

    .k-rtl .k-numerictextbox .k-formatted-value
    {
        right: 0;
    }
}

/* Editor */

.k-rtl .k-editor-colorpicker .k-icon
{
    border-width: 0 1px 0 0;
}

.k-rtl .k-header .k-tabstrip-items .k-link
{
    padding: .3em .9em;
}

/* ImageBrowser */

.k-rtl .k-breadcrumbs
{
    float: right;
    margin: 0 -1px 0 0;
}

.k-rtl .k-breadcrumbs-wrap
{
    left: auto;
    right: 0;
    padding-left: 0;
    padding-right: 5px;
}

.k-rtl .k-breadcrumbs-input
{
    padding-left: 0;
    padding-right: 2px;
}

.k-rtl .k-search-wrap
{
    float: left;
}

.k-rtl .k-search-wrap label
{
    left: auto;
    right: 7px;
}

.k-rtl .k-search-wrap .k-search
{
    right: auto;
    left: 2px;
}

.k-rtl .k-tile
{
    float: right;
}

.k-rtl .k-imagebrowser .k-thumb
{
    float: right;
    margin: 4px 4px 0 10px;
}
