/* Default theme*/

.k-widget,
.k-input
{
    border-color: #2c2c2c;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #6f6f6f;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #444;
    background: #6b6b6b url('Office2010Black/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('Office2010Black/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Office2010Black/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Office2010Black/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup,
.k-group,
.k-grid .k-header
{
    color: #000;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #828282;
    background-color: #f6f6f6;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #606060;
}

.k-separator
{
    border-color: #606060;
    background-color: #adadad;
}

.k-alt
{
    background-color: #646464;
}

.k-state-default
{
    border-color: #848484;
}

.k-active-filter
{
    background-color: #f9d04c;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #ffe175;
    border-color: #f7c840;
}

.k-header .k-state-hover
{
    background-color: #ffe175;
}

.k-state-active,
.k-header .k-state-active
{
    background-color: #e6e6e6; /*#ffcb36;*/
    border-color: #444; /*#c28b31 #c29a42 #c2a34c;*/
}

.k-state-selected
{
    background-color: #ffcb36;
}

.k-state-focused
{
    background-color:#a9a9a9;
}

.k-dropdown .k-state-focused
{
    border-color: #f7c840;
    background: #feed76 url('Office2010Black/sprite.png') repeat-x 0 -752px;
}

.k-state-hover,
.k-state-selected
{
    color:#000;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
	border-color: #262626;
    color: #000;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #6f6f6f url('Office2010Black/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    background-position: 0 -624px;
    background-color: #fff3c9;
}

.k-state-disabled,
.k-state-disabled:hover,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    border-color: #262626;
    color: #5e5e5e;
}

.k-popup,
.k-menu .k-group
{
    -moz-box-shadow: 2px 2px 2px #444;
    -webkit-box-shadow: 2px 2px 2px #444;
    box-shadow: 2px 2px 2px #444;
}

.k-autocomplete,
.k-input
{
    background-color: #fff;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status
{
    border-color: #444;
    background-color: #777;
}

.k-grid
{
    color: #fff;
}

.k-grid-pager .k-link
{
    color: #fff;
}

.k-grid-pager .k-state-hover,
.k-grid-pager .k-state-active
{
    color: #000;
}

.k-grid-header-wrap,
.k-grid-footer-wrap,
.k-grid td
{
    border-color: #444;
}

.k-grouping-row td
{
    background:url('Office2010Black/sprite.png') repeat-x 0 -48px;
}

.k-grouping-header .k-group-indicator
{
    border-color: #444;
    background: #6f6f6f url('Office2010Black/sprite.png') repeat-x 0 -560px;
}

.k-grouping-dropclue
{
    background: url('Office2010Black/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #6f6f6f;
}

.k-treeview .k-drop-clue
{
    background-image: url('Office2010Black/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #4f4f4f;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #4f4f4f;
}

.k-filter-options,
.k-menu .k-group
{
    -moz-box-shadow:2px 2px 2px #4f4f4f;
    -webkit-box-shadow: 2px 2px 2px #4f4f4f;
    box-shadow: 2px 2px 2px #4f4f4f;
}

.k-calendar th
{
    border-color: #c5c5c5;
}

.k-other-month .k-link
{
    color: #898989;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Office2010Black/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Office2010Black/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Office2010Black/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

div.k-window
{
    -moz-box-shadow: 0 0 5px 2px #444;
    -webkit-box-shadow: 0 0 5px 2px #444;
    box-shadow: 0 0 5px 2px #444;
}

/* Slider */

.k-slider .k-draghandle
{
	background-image: url('Office2010Black/sprite.png');
	color: #666;
}

.k-slider-track
{
	border-color:#2c2c2c;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image: url('Office2010Black/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image: url('Office2010Black/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Office2010Black/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Office2010Black/slider-v.gif');
}

/* Tooltip */

.k-tooltip
{
    border-color: #767676;
	background: #e9e9f2 0 -96px repeat-x url('Office2010Black/sprite.png');
}

.k-callout
{
	background-image: url('Office2010Black/sprite.png');
}

/* Splitter */

.k-splitbar
{
    border-color: #2c2c2c;
    background-color: #4b4b4b;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Office2010Black/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Office2010Black/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #2c2c2c;
}

.k-dropzone-active
{
background-color: #6f6f6f;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #4b4b4b;    
}

.k-dropzone em
{
    color: #e2e2e2;
}

.k-progress,
.k-progress-status
{
    background-image: url('Office2010Black/sprite.png');
}

.k-progress
{
    background-position: 0 -464px;
    border-color: #2c2c2c;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #ffe37c transparent #f9cd4c;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #9e9e9e;  
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    /*color: #9f9f9f;*/
}

.k-tiles
{
    border-color: #848484;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background: 0 100px repeat-x url('Office2010Black/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #ffd14b;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #c28a30 #c29b43 #c2a44d;
    background-position: 0 -100px;
}

.k-tile .k-folder
{
    background-image: url('Office2010Black/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #464646;
}

.k-tile-empty strong
{
    color: #aaa;
}
