/* Windows7 theme*/

.k-widget,
.k-input
{
    border-color: #a5b3c5;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fcfcfc;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #a5b3c5;
    background: #f1f5fb;
}

.k-icon { background-image: url('Windows7/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Windows7/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Windows7/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link,
.k-popup
{
    color: #000;
}

.k-header,
.k-header .k-link
{
    color: #4c607a;
}

.k-header .k-group,
.k-group .k-link
{
    color: #333;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #a5b3c5;
    background-color: #fcfcfc;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #a5b3c5;
}

.k-separator
{
    border-color: #fff;
    background-color: #c2cedb;
}

.k-alt
{
    background-color: #ebeff3;
}

.k-state-default
{
    border-color: #a5b3c5;
}

.k-active-filter
{
    background-color: #c3dcfa;
}

.k-state-hover,
.k-state-hover .k-link,
.k-header .k-state-hover,
.k-group .k-state-hover
{
    color: #000;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #d1e4fc;
    border-color: #8daed5;
}

.k-state-active
{
    background-color: #fff;
    border-color: #426682;
}

.k-state-selected
{
    background-color: #deecfe;
}

.k-state-focused
{
    background-color:#c4d1e0;
}

.k-dropdown .k-state-focused
{
    border-color: #bed4ef;
    background: #bed4ef url('Windows7/sprite.png') repeat-x 0 -752px;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
    color: #0d202b;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    border-color: #c2cedb;
    background: #e7ecf5 url('Windows7/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    border-color: #9bc9ff;
    background-position: 0 -624px;
    background-color: #dde8f6;
    color: #0e3d4f;
}

.k-state-disabled,
.k-state-disabled:hover,
.k-state-disabled .k-link,
.k-widget .k-link.k-state-disabled,
.k-state-disabled .k-button
{
    color: #999;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #aec5d1;
    background-color: #f1f5fb;
}

.k-panelbar .k-link
{
    border-color: #a5b3c5;
}

.k-tabstrip .k-item
{
    border-bottom-color: #426682;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #a5b3c5;
}

.k-grid td
{
    border-color: #dae2e8;
}

.k-grouping-row td
{
    background: #fff url('Windows7/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #e2eaf4;
    border-color: #aec5d1 #e2eaf4;
}

.k-group-footer td
{
    background-color: #e2eaf4;
    border-color: #aec5d1;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #e2eaf4;
    border-color: #aec5d1;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #ccc;
}

.k-grouping-dropclue
{
    background: url('Windows7/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('Windows7/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #8fb0d6;
}

.k-calendar th
{
    border-color: #d4dbe5;
}

.k-other-month .k-link
{
    color: #a7a7a7;
}

.k-editor-button .k-state-hover
{
    border-color: #e5f0fd #8ba6c4 #8ba6c4 #e5f0fd;
    background-color: #d1e4fc;
}

.k-editor-button .k-state-active
{
    border-color: #aec1d6 #e3ebf5 #e3ebf5 #aec1d6;
    background-color: #ccdbed;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('Windows7/sprite.png');
	color:#4c607a;
}

.k-slider-track
{
	border-color:#a6abc3;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('Windows7/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('Windows7/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Windows7/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Windows7/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
	background:#e7ecf5 0 -560px repeat-x url('Windows7/sprite.png');
	color:#0e3d4f;
}

.k-callout
{
	background-image:url('Windows7/sprite.png');
}

/* Splitter */

.k-splitter
{
    border-color: #dae2e8;
}

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #f1f5fb;
    border-color: #dae2e8;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Windows7/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Windows7/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #c2cedb;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #f1f5fb;    
}

.k-dropzone em
{
    color: #a7a7a7;
}

.k-progress,
.k-progress-status
{
    background-image: url('Windows7/sprite.png');
}

.k-progress
{
    background-position: 0 -465px;
    border-color: #c2cedb #c2cedb;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #1db2ee transparent #3186db;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #f1f5fb;  
}

.k-breadcrumbs .k-link,
.k-tiles-arrange,
.k-tiles-arrange a
{
    color: #1e395b;
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #a7a7a7;
}

.k-tiles
{
    border-color: #c2cedb;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('Windows7/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #b8d6fb;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #7da2ce;
    background-position: 0 -100px;
}

.k-tile .k-folder
{
    background-image:url('Windows7/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #a7a7a7;
}

.k-tiles li.k-state-selected em,
.k-tiles li.k-state-selected .k-filesize
{
    color: #7da2ce;
}

.k-tile-empty strong
{
    color: #c2cedb;
}
