/* WebBlue theme*/

.k-widget,
.k-input
{
    border-color: #768ca5;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fff;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #426682;
    background: #718ca1 url('WebBlue/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('WebBlue/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('WebBlue/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('WebBlue/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link,
.k-popup
{
    color: #333;
}

.k-header,
.k-header .k-link,
.k-grid-header th .k-link, /*grid in tabstrip*/
.k-state-active .k-header .k-state-default .k-link /*nested tabstrips*/
{
    color: #fff;
}

.k-header .k-group,
.k-group .k-link
{
    color: #333;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #426682;
    background-color: #fff;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #768ca5;
}

.k-separator
{
    border-color: #8aa0b1;
    background-color: #516273;
}

.k-alt
{
    background-color: #dae2e8;
}

.k-state-default
{
    border-color: #426682;
}

.k-active-filter
{
    background-color: #8dc1d7;
}

.k-state-active
{
    background-color: #fff;
    border-color: #426682;
}

.k-state-active,
.k-state-active .k-link,
.k-state-active .k-tabstrip .k-state-active .k-link /*nested tabstrips*/
{
    color: #333;
}

.k-state-active .k-header
{
    color: #fff;
}

.k-state-active .k-state-hover
{
    color: #333;
}

.k-state-selected
{
    background-color: #3e94b4;
}

.k-state-focused
{
    background-color:#9bacbe;
}

.k-dropdown .k-state-focused
{
    border-color: #3187a7;
    background: #469cbc url('WebBlue/sprite.png') repeat-x 0 -752px;
}

.k-state-selected,
.k-state-selected .k-link,
.k-state-selected.k-link
{
    color: #fff;
}

.k-state-hover,
.k-state-hover .k-link,
.k-state-hover.k-link,
.k-header .k-state-hover,
th.k-header .k-state-hover,
.k-group .k-state-hover
{
    color: #333;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #acd4e3;
    border-color: #5d9fb7; /*426682*/
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
	border-color: #426682;
    color: #0d202b;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #d6e1e7 url('WebBlue/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    background-position: 0 -624px;
    background-color: #bee3f6;
    color: #0e3d4f;
}

.k-state-disabled,
.k-state-disabled:hover,
.k-state-disabled .k-link,
.k-widget .k-link.k-state-disabled
{
    color: #bbb;
}

.k-button.k-state-disabled,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button
{
    color:#657c8c;
}

.k-header .k-state-disabled,
.k-header .k-state-disabled .k-link
{
    color: #abc0d3;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #a2b3c7;
    background-color: #dae2e8;
}

.k-panelbar .k-link
{
    border-color: #333;
}

.k-grid-header-wrap
{
    border-color: #426682;
}

.k-grid-footer-wrap
{
    border-color: #a2b3c7;
}

.k-grid td
{
    border-color: #dae2e8;
}

.k-grouping-row td
{
    background: #fff url('WebBlue/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #dae2e8;
    border-color: #a2b3c7 #dae2e8 #fff;
}

.k-group-footer td
{
    background-color: #dae2e8;
    border-color: #a2b3c7;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #dae2e8;
    border-color: #a2b3c7;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #aaa;
}

.k-grouping-dropclue
{
    background: url('WebBlue/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('WebBlue/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #133C44;
}

.k-editor-button .k-state-active
{
    background-color: #a2b9c9;
}

.k-calendar th
{
    background-color: #dfeeff;
    border-color: #a7c0df;
}

.k-other-month .k-link
{
    color: #777;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('WebBlue/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('WebBlue/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('WebBlue/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

.k-editor-button .k-state-hover
{
    border-color: #5f7c95 #3b576f #3b576f #5f7c95;
    background-color: #5f7c95;
}

.k-editor-button .k-state-active
{
    border-color: #5b758e #97b5c7 #97b5c7 #5b758e;
    background-color: #8ca5b8;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('WebBlue/sprite.png');
	color:#768ca5;
}

.k-slider-track
{
	border-color:#c1cbd6;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('WebBlue/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('WebBlue/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('WebBlue/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('WebBlue/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
    border-color:#a7c0df;
	background:#c4d4dd 0 -96px repeat-x url('WebBlue/sprite.png');
	color:#0d202b;
}

.k-callout
{
	background-image:url('WebBlue/sprite.png');
}

/* Splitter */

.k-splitter
{
    border-color: #a2b3c7;
}

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #b4c5d9;
    border-color: #a2b3c7;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('WebBlue/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('WebBlue/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #a2b3c7;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #dae2e8;    
}

.k-dropzone em
{
    color: #8a98a8;
}

.k-progress,
.k-progress-status
{
    background-image: url('WebBlue/sprite.png');
}

.k-progress
{
    background-position: 0 -465px;
    border-color: #92a4b8 #adbac9 #a2b3c7;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #a4ff91 transparent #5aff62;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #dae2e8;  
}

.k-toolbar .k-upload .k-button,
.k-breadcrumbs .k-link,
.k-tiles-arrange,
.k-tiles-arrange a
{
    color: #0e3d4f;
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #8a98a8;
}

.k-tiles
{
    border-color: #a2b3c7;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('WebBlue/imagebrowser.png');
    color: #0e3d4f;
}

.k-tiles li.k-state-hover
{
    border-color: #4a70ae;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #768ca5;
    background-position: 0 -100px;
    color: #fff;
}

.k-tile .k-folder
{
    background-image:url('WebBlue/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #8a98a8;
}

.k-tiles li.k-state-selected em,
.k-tiles li.k-state-selected .k-filesize
{
    color: #b2c5d2;
}

.k-tile-empty strong
{
    color: #b3c6d3;
}
