/* Black theme*/

.k-widget,
.k-input
{
    border-color: #080808;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #4f4f4f;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #080808;
    background: #050505 url('Black/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('Black/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Black/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Black/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link,
.k-popup,
.k-input
{
    color: #fff;
}

.k-other-month .k-link
{
    color: #6f6f6f;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #080808;
    background-color: #4f4f4f;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #080808;
}

.k-separator
{
    border-color: #323232;
    background-color: #080808;
}

.k-alt
{
    background-color: #494949;
}

.k-state-default
{
    border-color: #080808;
}

.k-active-filter
{
    background-color: #363636;
}

.k-state-hover,
.k-state-hover .k-link
{
    color: #9eda29;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #2c2c2c;
    border-color: #080808;
}

.k-state-active
{
    background-color: #4f4f4f;
    border-color: #080808;
}

.k-state-selected
{
    background: #1c1c1c;
    border-color: #000;
}

.k-state-focused
{
    background-color:#2c2c2c;
}

.k-dropdown .k-state-focused
{
    border-color: #141414;
    background: #141414 url('Black/sprite.png') repeat-x 0 -752px;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
	border-color: #080808;
	color: #fff;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #050505 url('Black/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    background-position: 0 -624px;
    background-color: #131313;
    color: #9eda29;
}

.k-state-disabled,
.k-state-disabled:hover,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #787878;
}

.k-header .k-state-disabled
{
    border-color:#4f4f4f;
}

.k-popup,
.k-menu .k-group
{
    -moz-box-shadow: 2px 2px 2px #222;
    -webkit-box-shadow: 2px 2px 2px #222;
    box-shadow: 2px 2px 2px #222;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #080808;
    background-color: #2c2c2c;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #080808;
}

.k-grid td
{
    border-color: #454545;
}

.k-grouping-row td
{
    background: #4f4f4f url('Black/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #2e2e2e;
    border-color: #080808 #2e2e2e;
}

.k-group-footer td
{
    background-color: #2e2e2e;
    border-color: #080808;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #2e2e2e;
    border-color: #080808;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #666;
}

.k-grouping-dropclue
{
    background: url('Black/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #4f4f4f;
}

.k-drag-clue
{
    color: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('Black/sprite.png');
    background-position: 0 -358px;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #000;
}

.k-calendar th
{
    background-color: #383838;
    border-color: #202020;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Black/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Black/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Black/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

div.k-window
{
    -moz-box-shadow: 0 0 5px 2px #222;
    -webkit-box-shadow: 0 0 5px 2px #222;
    box-shadow: 0 0 5px 2px #222;
}

.k-editor-button .k-state-hover
{
    border-color: #565656 #111 #111 #565656;
    background-color: #232323;
}

.k-editor-button .k-state-active
{
    border-color: #030303 #1f1f1f #1f1f1f #030303;
    background-color: #050505;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('Black/sprite.png');
	color:#080808;
}

.k-slider-track
{
	border-color:#4a4a4a;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('Black/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('Black/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Black/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Black/slider-v.gif');
}

.k-state-disabled .k-slider-wrap .k-slider-items
{
    color:#ccc;
}

/*Tooltip*/

.k-tooltip
{
	background:#050505 0 -560px repeat-x url('Black/sprite.png');
}

.k-callout
{
	background-image:url('Black/sprite.png');
}

/* Splitter */

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #262628;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Black/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Black/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #080808;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #2c2c2c;    
}

.k-dropzone em
{
    color: #848484;
}

.k-progress,
.k-progress-status
{
    background-image: url('Black/sprite.png');
}

.k-progress
{
    background-position: 0 -465px;
    border-color: #4a4a4a #474747;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #9eda29 transparent #456408;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #3d3d3d;  
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label,
.k-tiles-arrange
{
    color: #a1a1a1;
}

.k-toolbar .k-upload .k-button,
.k-tiles-arrange a
{
    color: #fff;
}

.k-tiles
{
    border-color: #222;
    background: #4f4f4f;
}

.k-tile
{
    border-color: #4f4f4f;
    background:0 100px repeat-x url('Black/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #080808;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #080808;
    background-position: 0 -100px;
}

.k-tile .k-folder
{
    background-image:url('Black/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize,
.k-tile-empty strong
{
    color: #7d7d7d;
}
