/* Sunset theme*/

.k-widget,
.k-input
{
    border-color: #714734;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #ececd8;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #854324;
    background: #90330a url('Sunset/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('Sunset/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Sunset/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Sunset/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link,
.k-popup
{
    color: #333;
}

.k-header,
.k-header .k-link,
.k-grid-header .k-header .k-link,
.k-grid-header .k-header,
.k-state-active .k-header .k-state-default .k-link /*nested tabstrips*/
{
    color: #fbfbc7;
}

.k-header .k-group,
.k-group .k-link
{
    color: #333;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #bbb99d;
    background-color: #ececd8;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #714734;
}

.k-separator
{
    border-color: #a85835;
    background-color: #7c2f0c;
}

.k-alt
{
    background-color: #fff;
}

.k-state-default
{
    border-color: #854324;
}

.k-active-filter
{
    background-color: #d25e21;
}

.k-state-selected
{
    border-color: #904c23;
    background-color:#ea9959;
}

.k-state-hover,
.k-state-hover .k-link,
.k-group .k-state-hover
{
    color: #fff;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #c5551c;
    border-color: #854324;
}

.k-state-focused
{
    background-color:#cdccb3;
}

.k-dropdown .k-state-focused
{
    border-color: #d1711a;
    background: #d1711a url('Sunset/sprite.png') repeat-x 0 -752px;
}

.k-state-active
{
    background-color: #ececd8;
    border-color: #854324;
}

.k-state-active,
.k-state-active .k-link,
.k-state-active .k-tabstrip .k-state-active .k-link /*nested tabstrips*/
{
    color: #333;
}

.k-state-active .k-header,
.k-state-active .k-state-hover
{
    color: #fff;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
    border-color: #d1711a;
    color: #2d0e06;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #d1711a url('Sunset/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    border-color: #e7941e;
    background-position: 0 -624px;
    background-color: #e8961e;
}

.k-state-disabled,
.k-state-disabled:hover,
.k-state-disabled .k-link,
.k-widget .k-link.k-state-disabled,
.k-state-disabled .k-button
{
    border-color: #666;
    color: #bf9e8f;
}

a.k-button.k-state-disabled,
button.k-button.k-state-disabled,
.k-state-disabled .k-button
{
	color:#b83b01;
	border-color:#d1711a;
}

.k-header .k-state-disabled,
.k-header .k-state-disabled .k-link
{
    border-color:#a04a23;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #bbb99d;
    background-color: #dee0c8;
}

.k-panelbar .k-link
{
    border-color: #714734;
}

.k-editor-button .k-state-active
{
    background-color: #d3751a;
}

.k-grid-header-wrap
{
    border-color: #854324;
}

.k-grid-footer-wrap
{
    border-color: #cabaab;
}

.k-grid td
{
    border-color: #ddd;
}

.k-grouping-row td
{
    background: #fff url('Sunset/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #dee0c8;
    border-color: #cabaab #dee0c8 #f1e9dc;
}

.k-group-footer td
{
    background-color: #dee0c8;
    border-color: #cabaab;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #dee0c8;
    border-color: #cabaab;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #999;
}

.k-grouping-dropclue
{
    background: url('Sunset/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('Sunset/sprite.png');
    background-position: 0 -358px;
}

.k-calendar th
{
    border-color: #d2c7b4;
}

.k-other-month .k-link
{
    color: #777;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Sunset/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Sunset/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Sunset/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

.k-editor-button .k-state-hover
{
    border-color: #ca734b #722205 #722205 #ca734b;
    background-color: #a13606;
}

.k-editor-button .k-state-active
{
    border-color: #a24b0f #e09d5c #e09d5c #a24b0f;
    background-color: #d3751a;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('Sunset/sprite.png');
	color:#714734;
}

.k-slider-track
{
	border-color:#c6c0a8;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('Sunset/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('Sunset/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Sunset/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Sunset/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
    border-color:#c0bca2;
	background:#d6ceba 0 -96px repeat-x url('Sunset/sprite.png');
	color:#2d0e06;
}

.k-callout
{
	background-image:url('Sunset/sprite.png');
}

/* Splitter */

.k-splitter
{
    border-color: #cac8ab;
}

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #ececd8;
    border-color: #cac8ab;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Sunset/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Sunset/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #bbb99d;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #f5f5e6;    
}

.k-dropzone em
{
    color: #714734;
}

.k-progress,
.k-progress-status
{
    background-image: url('Sunset/sprite.png');
}

.k-progress
{
    background-position: 0 -465px;
    border-color: #cfc5b1 #cbc6af #c2bda4;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #2b140d transparent #593324;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #dee0c8;  
}

.k-breadcrumbs .k-link
{
    color: #2d0e06;
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #714734;
}

.k-tiles-arrange
{
    color: #714734;
}

.k-tiles-arrange a
{
    color: #2d0e06;
}

.k-tiles
{
    border-color: #bbb99d;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('Sunset/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #e7941e;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #854324;
    background-position: 0 -100px;
    color: #fff;
}

.k-tile .k-folder
{
    background-image:url('Sunset/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #986011;
}

.k-tiles li.k-state-selected em,
.k-tiles li.k-state-selected .k-filesize
{
    color: #dbaa93;
}

.k-tile-empty strong
{
    color: #ae9b87;
}
