/* Forest theme*/

.k-widget,
.k-input
{
    border-color: #486b23;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #d1deb6;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #486b23;
    color: #fff;
    background: #4c7822 url('Forest/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('Forest/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Forest/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Forest/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link,
.k-popup
{
    color: #2b2c20;
}

.k-header,
.k-header .k-link,
.k-grid-header th .k-link, /*grid in tabstrip*/
.k-state-active .k-header .k-state-default .k-link /*nested tabstrips*/
{
    color: #fff;
}

.k-content,
.k-content .k-link,
.k-group .k-link
{
    color: #2b2c20;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #486b23;
    background-color: #d1deb6;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #486b23;
}

.k-separator
{
    border-color: #719652;
    background-color: #4c6d3b;
}

.k-alt
{
    background-color: #c7d6a7;
}

.k-state-default
{
    border-color: #486b23;
}

.k-active-filter
{
    background-color: #60963e;
}

.k-state-hover,
.k-state-hover .k-link,
.k-state-selected,
.k-state-selected .k-link
{
    color: #fff;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #6c9f4f;
    border-color: #486b23;
}

.k-state-selected,
.k-state-selected .k-state-hover
{
    background-color: #3a5621;
    border-color: #486b23;
}

.k-state-focused
{
    background-color:#a7bc75;
}

.k-dropdown .k-state-focused
{
    border-color: #294c16;
    background: #294c16 url('Forest/sprite.png') repeat-x 0 -752px;
}

.k-state-active
{
    background-color: #d1deb6;
    border-color: #486b23;
}

.k-tabstrip-items .k-state-active .k-link
{
    color: #2b2c20;
}

.k-group .k-state-hover,
.k-group .k-state-selected
{
    color: #fff;
    background-image: none;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
	border-color: #486b23;
    color: #fff;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #486c24 url('Forest/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    background-position: 0 -624px;
    background-color: #4d7924;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-widget .k-link.k-state-disabled,
.k-state-disabled .k-button
{
    color: #2a4b17;
    border-color: #486b23;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #486b23;
    background-color: #a7bc75;
}

.k-editor-button .k-state-active
{
    background-color: #527c30;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #486b23;
}

.k-grid td
{
    border-color: #bdcb9e;
}

.k-grouping-row td
{
    background: #d1deb6 url('Forest/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #b1c67f;
    border-color: #3c6716 #b1c67f #b1c67f;
}

.k-group-footer td
{
    background-color: #b1c67f;
    border-color: #3c6716;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #b1c67f;
    border-color: #3c6716;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #486B23;
}

.k-grouping-dropclue
{
    background: url('Forest/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #d1deb6;
}

.k-treeview .k-drop-clue
{
    background-image: url('Forest/sprite.png');
    background-position: 0 -358px;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #486b23;
}

.k-calendar th
{
    background-color: #a6bb74;
    border-color: #9cb16a;
}

.k-other-month .k-link
{
    color: #88914b;
}

.k-state-hover .k-link
{
    color: #fff;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Forest/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Forest/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Forest/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

.k-window
{
    -moz-box-shadow: 0 0 5px 2px #6f855a;
    -webkit-box-shadow: 0 0 5px 2px #6f855a;
    box-shadow: 0 0 5px 2px #6f855a;
}

.k-editor-button .k-state-hover
{
    border-color: #88ab72 #416926 #416926 #88ab72;
    background-color: #548231;
}

.k-editor-button .k-state-active
{
    border-color: #2a4b17 #7f9c6d #7f9c6d #2a4b17;
    background-color: #446e29;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('Forest/sprite.png');
	color:#486b23;
}

.k-slider-track
{
	border-color:#658843;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('Forest/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('Forest/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Forest/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Forest/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
	background:#486c24 0 -625px repeat-x url('Forest/sprite.png');
	color:#fff;
}

.k-callout
{
	background-image:url('Forest/sprite.png');
}

/* Splitter */

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #527f2c;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Forest/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Forest/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #8aaf64;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #d1deb6;    
}

.k-dropzone em
{
    color: #6b715f;
}

.k-progress,
.k-progress-status
{
    background-image: url('Forest/sprite.png');
}

.k-progress
{
    background-position: 0 -466px;
    border-color: #52752e #6c8c49 #83a564;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #4f722b transparent #193809;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #d3e0c2;
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #6b715f;
}

.k-toolbar .k-upload .k-button
{
    color: #2b2c20;
}

.k-tiles-arrange
{
    color: #6b715f;
}

.k-tiles
{
    border-color: #8aaf64;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('Forest/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #76ad3b;
    background-position: 0 0;
    color: #2b2c20;
}

.k-tiles li.k-state-selected
{
    border-color: #8aaf64;
    background-position: 0 -100px;
    color: #2b2c20;
}

.k-tile .k-folder
{
    background-image:url('Forest/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #6b715f;
}

.k-tile-empty strong
{
    color: #8d947f;
}
