/** Vista theme **/

.k-widget,
.k-input
{
    border-color: #a7bac5;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fff;
}

/* since vista is a theme, based on an operating system, it has a custom font-family */
.k-widget,
.k-widget button,
.k-widget input,
.k-widget select,
.k-button,
.k-formatted-value
{    
    font-family: "Segoe UI", Arial, sans-serif;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #a7bac5;
    background: #a6d9f4 url('Vista/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('Vista/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Vista/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Vista/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup
{
    color: #000;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #a7bac5;
    background-color: #fff;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #a7bac5;
}

.k-separator
{
    border-color: #eaf6fd;
    background-color: #a7bac5;
}

.k-alt
{
    background-color: #f7f7f7;
}

.k-state-default
{
    border-color: #a7bac5;
}

.k-active-filter
{
    background-color: #ceeefd;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #e3f4fc;
    border-color: #a7bac5;
}

.k-state-active
{
    background-color: #fff;
    border-color: #a7bac5;
}

.k-state-selected
{
    background-color: #c8e8f8;
}

.k-state-focused
{
    background-color:#90c5e1;
}

.k-dropdown .k-state-focused
{
    border-color: #6bd5f4;
    background: #6bd5f4 url('Vista/sprite.png') repeat-x 0 -752px;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
	border-color: #a7bac5;
    color: #333;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #d1d1d1 url('Vista/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    background-position: 0 -624px;
    background-color: #a7daf4;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #999;
    border-color: #bbb;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #bbb;
    background-color: #eff7fc;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #a7bac5;
}

.k-grid td
{
    border-color: #ddd;
}

.k-grouping-row td
{
    background: #fff url('Vista/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #e0e5f5;
    border-color: #aec5d1 #e0e5f5 #fff;
}

.k-group-footer td
{
    background-color: #e0e5f5;
    border-color: #aec5d1;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #e0e5f5;
    border-color: #aec5d1;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #ccc;
}

.k-grouping-dropclue
{
    background: url('Vista/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-grouping-row p
{
    margin-left: -.6em;
    padding-left: .6em;
}

.k-treeview .k-drop-clue
{
    background-image: url('Vista/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #99defd;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #aaa;
}

.k-calendar th
{
    border-color: #e0e0e0;
}

.k-other-month .k-link
{
    color: #777;
}

.k-editor-button .k-state-hover
{
    border-color: #ebf6fd #88a1af #88a1af #ebf6fd;
    background-color: #c9e8fa;
}

.k-editor-button .k-state-active
{
    border-color: #809eae #bae1f5 #bae1f5 #809eae;
    background-color: #95cfec;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('Vista/sprite.png');
	color:#333;
}

.k-slider-track
{
	border-color:#d3dce2;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('Vista/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('Vista/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Vista/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Vista/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
    border-color:#767676;
	background:#e4e5f0 0 -96px repeat-x url('Vista/sprite.png');
}

.k-callout
{
	background-image:url('Vista/sprite.png');
}

/* Splitter */

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Vista/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Vista/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #d2dfe6;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #eff7fc;    
}

.k-dropzone em
{
    color: #a7bac5;
}

.k-progress,
.k-progress-status
{
    background-image: url('Vista/sprite.png');
}

.k-progress
{
    background-position: 0 -467px;
    border-color: #bfd0da #c4d4dd;
}

.k-progress-status
{
    background-position: 0 -471px;
    border-color: #1db2ee transparent #0067c2;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #f1f1f1;
}

.k-breadcrumbs .k-link
{
    color: #666;
}

.k-breadcrumbs .k-link:hover
{
    color: #06c;
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #777d81;
}

.k-tiles
{
    border-color: #a7bac5;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('Vista/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #99defd;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #9bd3f0;
    background-position: 0 -100px;
}

.k-tile .k-folder
{
    background-image:url('Vista/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #767d80;
}

.k-tile-empty strong
{
    color: #a7bac5;
}
