/* Office2010Blue theme*/

.k-widget,
.k-input
{
    border-color: #8ba0bc;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fff; /** #bccadd;*/
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-tooltip,
.k-grid-pager
{
    border-color: #8ba0bc;
    background: #bccadd url('Office2010Blue/gradient.png') repeat-x 0 center;
}

.k-menu-vertical,
.k-editor,
.k-tooltip,
.k-tabstrip
{
    background-position:0 -48px;
}

.k-icon { background-image: url('Office2010Blue/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Office2010Blue/editor.png'); }

.k-picker-wrap{padding-right: 23px;}

.k-loading,
.k-widget .k-loading { background: transparent url('Office2010Blue/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup,
.k-grid .k-header
{
    color: #384e73;
}

.k-group
{
    background-color:#dce3ed;
    border-color:#8ba0bc;
}

.k-content,
.k-editable-area
{
    border-color: #8ba0bc;
    background-color: #fff;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #8ba0bc;
}

.k-separator
{
    border-color: #8ba0bc;
    background-color: #f1f4f8;
}

.k-alt
{
    background-color: #eff2f6;
}

.k-state-default
{
    border-color: #8ba0bc;
}

.k-active-filter
{
    background-color: #fff;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #fae185;
    border-color: #f3d64a;
    color: #1e395b;
}

.k-state-active,
.k-header .k-state-active
{
    background-color: #fafbfd;
    border-color: #8ba0bc;
}

.k-state-selected
{
    background-color: #ffcd42;
}

.k-state-focused
{
    background-color:#bfcde0;
}

.k-dropdown .k-state-focused
{
    border-color: #ffd86b;
    background: #fff17e url('Office2010Blue/sprite.png') repeat-x 0 -752px;
}

.k-state-hover,
.k-state-selected
{
    color:#1e395b;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #ff7c7c;
    background-color: #ffe4e4;
    color:#f20000;
}

.k-button
{
	border-color: #8ba0bc;
    color: #384e73;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #bccadd url('Office2010Blue/gradient.png') repeat-x 0 center;
}

.k-button:hover
{
    border-color:#f3d64a;
    background-color: #fae185;
    color: #1e395b;
}

.k-state-disabled,
.k-state-disabled:hover,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    border-color: #8ba0bc;
    color: #8ba0bc;
}

.k-autocomplete
{
    background-color: #fff;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status
{
    border-color: #8ba0bc;
    background-color: #dce3ed;
}

.k-widget .k-status
{
    background-color:transparent;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #8ba0bc;
}

.k-grid td
{
    border-color: #bfcde0;
}

.k-grouping-row td
{
    background:url('Office2010Blue/sprite.png') repeat-x 0 -48px;
}

.k-grouping-header .k-group-indicator
{
    border-color: #8ba0bc;
}

.k-grouping-dropclue
{
    background: url('Office2010Blue/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('Office2010Blue/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #e3bb4a;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #8ba0bc;
}

.k-calendar th
{
    border-color: #dadcdd;
    background-color:#dbe3ee;
}

.k-other-month .k-link
{
    color: #8ba0bc;
}

/* Slider */

.k-slider .k-draghandle
{
	background-image: url('Office2010Blue/sprite.png');
	color: #666;
}

.k-slider-track
{
	border-color:#8ba0bc;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image: url('Office2010Blue/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image: url('Office2010Blue/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Office2010Blue/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Office2010Blue/slider-v.gif');
}

/* Tooltip */

.k-tooltip
{
    border-width:2px;
    border-color:#beccde;
}

.k-callout
{
	background-image: url('Office2010Blue/sprite.png');
}

.k-callout-n,
.k-callout-s
{
	width: 10px;
	height: 5px;
}

.k-callout-w,
.k-callout-e
{
	width: 5px;
	height: 10px;
}

.k-callout-n
{
	top: -7px;
	left: 50%;
	margin-left: -5px;
	background-position: -64px -368px;
}

.k-callout-w
{
	left: -7px;
	top: 50%;
	margin-top: -5px;
	background-position: -64px -384px;
}

.k-callout-s
{
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: 2px;
	background-position: -64px -400px;
}

.k-callout-e
{
	left: 100%;
	top: 50%;
	margin-top: -5px;
	margin-left: 2px;
	background-position: -64px -416px;
}

/* Splitter */

.k-splitbar
{
    border-color: #8ba0bc;
    background-color: #dce3ed;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Office2010Blue/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Office2010Blue/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #8ba0bc;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #dce3ed;    
}

.k-dropzone em
{
    color: #8ba0bc;
}

.k-progress,
.k-progress-status
{
    background-image: url('Office2010Blue/sprite.png');
}

.k-progress
{
    background-position: 0 -464px;
    border-color: #8ba0bc;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #f3d64a transparent;
}

/* ImageBrowser */

.k-tiles
{
    border-color: #8ba0bc;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background-image:url('Office2010Blue/gradient.png');
    background-position:0 100px;
    background-repeat:repeat-x;
}

.k-tiles li.k-state-hover
{
    border-color: #f3d64a;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #e3bb4a;
    background-position: 0 0;
}

.k-tile .k-folder
{
    background-image: url('Office2010Blue/imagebrowser.png');
}

.k-tile-empty strong
{
    color: #aaa;
}
