/* Sitefinity theme*/

.k-widget,
.k-input
{
    border-width: 0;
    border-color: #ccc; /* if component overrides the above */
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
}

.k-input
{
    background: #fff;
}

.k-autocomplete
{
    border-width: 1px;
    border-style: solid;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #ccc;
    background: #fff;
}

.k-icon { background-image: url('Sitefinity/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Sitefinity/editor.png'); }

.k-plus, .k-plus-disabled { background-position: -16px -272px; }
.k-minus, .k-minus-disabled { background-position: 0 -272px; }

.k-rtl .k-plus, .k-rtl .k-plus-disabled { background-position: -32px -272px; }
.k-rtl .k-minus, .k-rtl .k-minus-disabled { background-position: -1px -272px; }

.k-grid .k-header .k-link .k-i-arrow-s { background-position: 0 -256px; }
.k-grid .k-header .k-link .k-i-arrow-n { background-position: -16px -256px; }

.k-loading,
.k-widget .k-loading { background: transparent url('Sitefinity/loading.gif') no-repeat 0 0; }

.k-widget
{
    color: #000;
}

.k-link,
.k-popup
{
    color: #105cd6;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #ccc #666 #666 #ccc;
    background-color: #fff;
    border-width: 1px 2px 2px 1px;
}

.k-window-content 
{
    border-width: 0;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #ccc;
}

.k-separator
{
    border-color: #fff;
    background-color: #999;
}

.k-alt
{
    background: none;
}

.k-state-default
{
    border-color: #eee;
}

.k-active-filter
{
    background-color: #e5e5e5;
}

.k-state-hover
{
    border-color: #dee2e7;
}

.k-state-active
{
    background-color: #fff;
    border-color: #ccc;
}

.k-state-selected
{
    background-color: #ffffe1;
}

.k-state-focused
{
    background-color:#fffacd;
}

.k-dropdown .k-state-focused
{
    border-color: #ccc;
    background-color: #f1f1f1;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #e50000;
}

.k-button
{
    border-width: 1px 2px 2px 1px;
    border-color: #ccc #666 #666 #ccc;
    color: #333;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #f1f1f1;
}

.k-button:hover
{
    background: #fff;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #afaeae;
    border-color: #ccc;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #ccc;
    background-color: transparent;
}

.k-widget .k-status
{
    border: 0;
}

.k-autocomplete
{
    border-width: 1px;
    border-style: solid;
}

.k-combobox .k-state-default,
.k-dropdown .k-state-default
{
    border-color: #ccc;
}

.k-grid th.k-header,
.k-grid th.k-header .k-link
{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.866em;
    line-height: 2.6em;
    color: #666;
    background: none;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #eee;
}

.k-grid .k-header,
.k-grid td
{
    border-bottom-width: 1px;
    border-color: #eee;
}

.k-grid .k-grid-filter
{
    border-left: 0;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #ccc;
}

.k-grouping-dropclue
{
    background: url('Sitefinity/sprite.png') no-repeat -48px -288px;
}

.k-treeview .k-drop-clue
{
    background-image: url('Sitefinity/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #999;
}

.k-group-footer td,
.k-footer-template td,
.k-grid-footer
{
    border-color: #eee #fff;
}

.k-grid-pager .k-state-hover
{
	border-color:#ccc;
    color: #002bb8;
    background: #f0f0f0;
}

.k-menu .k-state-hover,
.k-panelbar .k-state-hover,
.k-tabstrip .k-state-hover
{
    color: #002bb8;
}

.k-tabstrip
{
    border: 1px solid #ccc;
}

.k-tabstrip .k-state-default,
.k-tabstrip .k-state-disabled
{
    border-bottom-color: #ccc;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #aaa;
}

.k-calendar th
{
    border-color: #ddd;
}

.k-other-month .k-link
{
    color: #777;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Sitefinity/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Sitefinity/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Sitefinity/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

.k-window,
.k-drag-clue
{
    background-color: #fff;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('Sitefinity/sprite.png');
	color:#000;
}

.k-slider-track
{
	border-color:#e8e9ea;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('Sitefinity/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('Sitefinity/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Sitefinity/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Sitefinity/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
    border-width:1px;
	background:#f1f1f1;
	color:#333;
}

.k-callout
{
	background-image:url('Sitefinity/sprite.png');
}

/* Splitter */

div.k-splitter
{
    border: 1px solid #ccc;
}

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #f1f1f1;
    border-color: #ccc;
}

.k-splitbar-vertical-hover,
.k-splitbar-horizontal-hover { background-color: #ddd; }

.k-splitbar-horizontal-active,
.k-splitbar-vertical-active,
.k-ghost-splitbar-horizontal,
.k-ghost-splitbar-vertical { background-color: #ccc; }

.k-restricted-size-horizontal,
.k-restricted-size-vertical
{
    background-color: #f00;
}

/* Upload */

.k-dropzone-active
{
    border-color: #aaa;
}

.k-dropzone-hovered
{
    background-color: #efefef;    
}

.k-dropzone em
{
    color: #999;
}

.k-upload-files
{
    border-width: 0;
}

.k-progress,
.k-progress-status
{
    background-image: url('Sitefinity/sprite.png');
}

.k-progress
{
    background-position: 0 -465px;
    border-color: #f8f8f8 transparent #cacaca;
}

.k-progress-status
{
    background-position: 0 -471px;
    border-color: #62962a transparent #4e8315;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #efefef;  
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #999;
}

.k-tiles-arrange a
{
    color: #000;
}

.k-tiles
{
    border-color: #ccc;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
}

.k-tiles li.k-state-hover
{
    border-color: #abadb3;
}

.k-tiles li.k-state-selected
{
    border-color: #abadb3;
    background-color: #999;
    color: #fff;
}

.k-tile .k-folder
{
    background-image:url('Telerik/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #999;
}

.k-tiles li.k-state-selected em,
.k-tiles li.k-state-selected .k-filesize
{
    color: #d2d2d2;
}

.k-tile-empty strong
{
    color: #9b9b9b;
}
