/* Default theme*/

.k-widget,
.k-input
{
    border-color: #989898;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fff;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #989898;
    background: #adadad url('Default/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('Default/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Default/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Default/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup
{
    color: #000;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #828282;
    background-color: #fff;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #989898;
}

.k-separator
{
    border-color: #d8d8d8;
    background-color: #999;
}

.k-alt
{
    background-color: #f7f7f7;
}

.k-state-default
{
    border-color: #828282;
}

.k-active-filter
{
    background-color: #cdcdcd;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #e9e9e9;
    border-color: #828282;
}

.k-header .k-state-hover
{
    background-color: #dcdada;
}

.k-state-active,
.k-header .k-state-active
{
    background-color: #fff;
    border-color: #828282;
}

.k-state-selected
{
    background-color: #ddd;
}

.k-state-focused
{
    background-color:#c2c2c2;
}

.k-dropdown .k-state-focused
{
    border-color:#8a8a8a;
    background: #8a8a8a url('Default/sprite.png') repeat-x 0 -752px;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
	border-color: #828282;
    color: #333;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #adadad url('Default/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    background-position: 0 -624px;
    background-color: #c9c9c9;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #888;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #aaa;
    background-color: #eee;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #989898;
}

.k-grid td
{
    border-color: #ddd;
}

.k-grouping-row td
{
    background: #fff url('Default/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #eee;
    border-color: #828282 #eee #fff;
}

.k-group-footer td,
.k-grid-footer
{
    background-color: #eee;
    border-color: #828282;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #ccc;
}

.k-grouping-dropclue
{
    background: url('Default/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('Default/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #838383;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #aaa;
}

.k-calendar th
{
    border-color: #c5c5c5;
}

.k-other-month .k-link
{
    color: #898989;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Default/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Default/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Default/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

.k-editor-button .k-state-hover
{
    border-color: #e2e2e2 #878787 #878787 #e2e2e2;
    background-color: #c6c6c6;
}

.k-editor-button .k-state-active
{
    border-color: #767676 #d0d0d0 #d0d0d0 #767676;
    background-color: #9e9e9e;
}

/* Slider */

.k-slider .k-draghandle
{
	background-image: url('Default/sprite.png');
	color: #333;
}

.k-slider-track
{
	border-color:#a5a5a5;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image: url('Default/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image: url('Default/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Default/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Default/slider-v.gif');
}

/* Tooltip */

.k-tooltip
{
	background: #adadad 0 -624px repeat-x url('Default/sprite.png');
}

.k-callout
{
	background-image: url('Default/sprite.png');
}

/* Splitter */

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Default/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Default/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #828282;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #e2e2e2;    
}

.k-dropzone em
{
    color: #828282;
}

.k-progress,
.k-progress-status
{
    background-image: url('Default/sprite.png');
}

.k-progress
{
    background-position: 0 -465px;
    border-color: #a1a1a1 #b3b3b3 #c8c8c8;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #989898 transparent #6b6b6b;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #f1f1f1;  
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #9f9f9f;
}

.k-tiles
{
    border-color: #e2e3ea;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background: 0 100px repeat-x url('Default/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #989898;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #989898;
    background-position: 0 -100px;
}

.k-tile .k-folder
{
    background-image: url('Default/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #666;
}

.k-tile-empty strong
{
    color: #aaa;
}
