/* Telerik theme*/

.k-widget,
.k-input
{
    border-color: #828282;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fff;
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header
{
    border-color: #828282;
    background: #f6f6f6 url('Telerik/sprite.png') repeat-x 0 -852px;
}

.k-icon { background-image: url('Telerik/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Telerik/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Telerik/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup
{
    color: #000;
}

.k-group,
.k-content,
.k-editable-area
{
    border-color: #828282;
    background-color: #fff;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #828282;
}

.k-separator
{
    border-color: #f3f3f3;
    background-color: #bdbdbd;
}

.k-alt
{
    background-color: #f7f7f7;
}

.k-state-default
{
    border-color: #828282;
}

.k-active-filter
{
    background-color: #dfdfdf;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #b6f0a3;
    border-color: #28a900;
}

.k-state-active
{
    background-color: #fff;
    border-color: #28a900;
}

.k-state-selected
{
    background-color: #8cc569;
}

.k-state-focused
{
    background-color:#d4ffc5;
}

.k-dropdown .k-state-focused
{
    border-color: #b5efa2;
    background: #ecffe5 url('Telerik/sprite.png') repeat-x 0 -752px;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.k-button
{
	border-color: #828282;
    color: #333;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #f6f6f6 url('Telerik/sprite.png') repeat-x 0 -560px;
}

.k-button:hover
{
    background-position: 0 -624px;
    background-color: #a2ea8b;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #999;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-widget .k-status
{
    border-color: #aaa;
    background-color: #eee;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #828282;
}

.k-grid td
{
    border-color: #ddd;
}

.k-grouping-row td
{
    background: #fff url('Telerik/sprite.png') repeat-x 0 -48px;
}

.k-footer-template td
{
    background-color: #eee;
    border-color: #828282 #eee #fff;
}

.k-group-footer td
{
    background-color: #eee;
    border-color: #828282;
}

.k-grid-footer,
.k-grid-footer-wrap table
{
    background-color: #eee;
    border-color: #828282;
}

.k-grouping-header .k-group-indicator
{
    color: #333;
    border-color: #ccc;
}

.k-grouping-dropclue
{
    background: url('Telerik/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('Telerik/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #1c7600;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #aaa;
}

.k-calendar th
{
    border-color: #c5c5c5;
}

.k-other-month .k-link
{
    color: #777;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url('Telerik/treeview-nodes.png');
}

.k-rtl .k-treeview-lines .k-top,
.k-rtl .k-treeview-lines .k-mid,
.k-rtl .k-treeview-lines .k-bot
{
    background-image: url('Telerik/treeview-nodes-rtl.png');
}

.k-treeview-lines .k-item { background-image: url('Telerik/treeview-line.png'); }
.k-treeview-lines .k-last { background-image: none; }

.k-editor-button .k-state-hover
{
    border-color: #d6f1cd #809a77 #809a77 #d6f1cd;
    background-color: #c0e9b3;
}

.k-editor-button .k-state-active
{
    border-color: #8c8c8c #d8d8d8 #d8d8d8 #8c8c8c;
    background-color: #c4c4c4;
}

/*Slider*/

.k-slider .k-draghandle
{
	background-image:url('Telerik/sprite.png');
	color:#828282;
}

.k-slider-track
{
	border-color:#a5a5a5;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image:url('Telerik/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image:url('Telerik/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Telerik/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Telerik/slider-v.gif');
}

/*Tooltip*/

.k-tooltip
{
    border-color:#cccab0;
	background:#f6f6f6 0 -557px repeat-x url('Telerik/sprite.png');
}

.k-callout
{
	background-image:url('Telerik/sprite.png');
}

/* Splitter */

.k-splitter
{
    border-color: #aaa;
}

.k-splitbar-vertical,
.k-splitbar-horizontal
{
    background-color: #eee;
    border-color: #aaa;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Telerik/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Telerik/sprite-vertical.png');
}

.k-restricted-size-horizontal,
.k-restricted-size-vertical
{
    background-color: #f00;
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #abadb3;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #f1f1f1;    
}

.k-dropzone em
{
    color: #999;
}

.k-progress,
.k-progress-status
{
    background-image: url('Telerik/sprite.png');
}

.k-progress
{
    background-position: 0 -465px;
    border-color: #b4b4b4 #cbc6af #c2bda4;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #9bcc76 transparent #63af3a;
}

/* ImageBrowser */

.k-imagebrowser .k-content
{
    background: #f1f1f1;  
}

.k-breadcrumbs .k-link
{
    color: #666;
}

.k-breadcrumbs .k-link:hover
{
    color: #000;
}

.k-breadcrumbs .k-first,
.k-breadcrumbs .k-first:hover,
.k-search-wrap label
{
    color: #999;
}

.k-tiles-arrange
{
    color: #666;
}

.k-tiles-arrange a
{
    color: #000;
}

.k-tiles
{
    border-color: #e2e3ea;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('Telerik/imagebrowser.png');
}

.k-tiles li.k-state-hover
{
    border-color: #abadb3;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #abadb3;
    background-position: 0 -100px;
}

.k-tile .k-folder
{
    background-image:url('Telerik/imagebrowser.png');
}

.k-tile em,
.k-tile .k-filesize
{
    color: #666;
}

.k-tile-empty strong
{
    color: #9e9e9e;
}
