/* Office2010Silver theme*/

.k-widget,
.k-input
{
    border-color: #a4abb2;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fff; /** #bccadd;*/
}

/* .small .k-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-tooltip,
.k-grid-pager
{
    border-color: #a4abb2;
    background: #d2d5d9 url('Office2010Silver/gradient.png') repeat-x 0 center;
}

.k-menu-vertical,
.k-editor,
.k-tooltip,
.k-tabstrip
{
    background-position:0 -48px;
}

.k-icon { background-image: url('Office2010Silver/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Office2010Silver/editor.png'); }

.k-picker-wrap{padding-right: 23px;}

.k-loading,
.k-widget .k-loading { background: transparent url('Office2010Silver/loading.gif') no-repeat 0 0; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup,
.k-grid .k-header
{
    color: #3b3b3b;
}

.k-group
{
    background-color:#f1f2f3;
    border-color:#a4abb2;
}

.k-content,
.k-editable-area
{
    border-color: #a4abb2;
    background-color: #fff;
}

.k-colorpicker .k-i-arrow-s
{
    border-color: #a4abb2;
}

.k-separator
{
    border-color: #a4abb2;
    background-color: #fff;
}

.k-alt
{
    background-color: #f1f2f3;
}

.k-state-default
{
    border-color: #a4abb2;
}

.k-active-filter
{
    background-color: #fff;
}

.k-state-hover,
.k-state-hover:hover
{
    background-color: #fae185;
    border-color: #f3d64a;
    color: #000;
}

.k-state-active,
.k-header .k-state-active
{
    background-color: #fff;
    border-color: #a4abb2;
}

.k-state-selected
{
    background-color: #f4b914;
}

.k-state-focused
{
    background-color:#d3d6da;
}

.k-dropdown .k-state-focused
{
    border-color: #ffd86b;
    background: #fff17e url('Office2010Silver/sprite.png') repeat-x 0 -752px;
}

.k-state-hover,
.k-state-selected
{
    color:#000;
}

.k-state-error,
.k-widget.input-validation-error,
.k-widget .input-validation-error
{
    border-color: #ff7c7c;
    background-color: #ffe4e4;
    color:#f20000;
}

.k-button
{
	border-color: #a4abb2;
    color: #3b3b3b;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    background: #d2d5d9 url('Office2010Silver/gradient.png') repeat-x 0 center;
}

.k-button:hover
{
    border-color:#f3d64a;
    background-color: #fae185;
    color: #000;
}

.k-state-disabled,
.k-state-disabled:hover,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    border-color: #a4abb2;
    color: #a4abb2;
}

.k-autocomplete
{
    background-color: #fff;
}

.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status
{
    border-color: #a4abb2;
    background-color: #f1f2f3;
}

.k-widget .k-status
{
    background-color:transparent;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #a4abb2;
}

.k-grid td
{
    border-color: #d3d6da;
}

.k-grouping-row td
{
    background:url('Office2010Silver/sprite.png') repeat-x 0 -48px;
}

.k-grouping-header .k-group-indicator
{
    border-color: #a4abb2;
}

.k-grouping-dropclue
{
    background: url('Office2010Silver/sprite.png') no-repeat -48px -288px;
}

.k-grouping-row .k-group-cell,
.k-grouping-row p
{
    background: #fff;
}

.k-treeview .k-drop-clue
{
    background-image: url('Office2010Silver/sprite.png');
    background-position: 0 -358px;
}

.k-treeview .k-state-selected
{
    border-color: #f4b914;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #a4abb2;
}

.k-calendar th
{
    border-color: #d3d6da;
    background-color:#f1f2f3;
}

.k-other-month .k-link
{
    color: #a4abb2;
}

/* Slider */

.k-slider .k-draghandle
{
	background-image: url('Office2010Silver/sprite.png');
	color: #666;
}

.k-slider-track
{
	border-color:#a4abb2;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image: url('Office2010Silver/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image: url('Office2010Silver/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Office2010Silver/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Office2010Silver/slider-v.gif');
}

/* Tooltip */

.k-tooltip
{
    border-width:2px;
    border-color:#dfe1e4;
}

.k-callout
{
	background-image: url('Office2010Silver/sprite.png');
}

.k-callout-n,
.k-callout-s
{
	width: 10px;
	height: 5px;
}

.k-callout-w,
.k-callout-e
{
	width: 5px;
	height: 10px;
}

.k-callout-n
{
	top: -7px;
	left: 50%;
	margin-left: -5px;
	background-position: -64px -368px;
}

.k-callout-w
{
	left: -7px;
	top: 50%;
	margin-top: -5px;
	background-position: -64px -384px;
}

.k-callout-s
{
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: 2px;
	background-position: -64px -400px;
}

.k-callout-e
{
	left: 100%;
	top: 50%;
	margin-top: -5px;
	margin-left: 2px;
	background-position: -64px -416px;
}

/* Splitter */

.k-splitbar
{
    border-color: #a4abb2;
    background-color: #f1f2f3;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Office2010Silver/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Office2010Silver/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #a4abb2;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #f1f2f3;    
}

.k-dropzone em
{
    color: #a4abb2;
}

.k-progress,
.k-progress-status
{
    background-image: url('Office2010Silver/sprite.png');
}

.k-progress
{
    background-position: 0 -464px;
    border-color: #a4abb2;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #f3d64a transparent;
}

/* ImageBrowser */

.k-tiles
{
    border-color: #a4abb2;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background-image:url('Office2010Silver/gradient.png');
    background-position:0 100px;
    background-repeat:repeat-x;
}

.k-tiles li.k-state-hover
{
    border-color: #f3d64a;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #f4b914;
    background-position: 0 0;
}

.k-tile .k-folder
{
    background-image: url('Office2010Silver/imagebrowser.png');
}

.k-tile-empty strong
{
    color: #aaa;
}
