<div data-role="view" data-init="mobileListViewEndlessScrolling" data-title="Scroll down to load">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
        </div>
    </header>

    <ul id="endless-scrolling"></ul>
</div>

<script type="text/x-kendo-tmpl" id="template">
    <div class="product">
        <img src="../../content/web/foods/#=ProductID#.jpg" alt="#=ProductName# image" class="pullImage"/>
        <h3>#:ProductName#</h3>
        <p>#:kendo.toString(UnitPrice, "c")#</p>
    </div>
</script>

<script>
    function mobileListViewEndlessScrolling() {
        var dataSource = new kendo.data.DataSource({
            type: "odata",
            transport: {
                read: {
                    url: "http://demos.kendoui.com/service/Northwind.svc/Products"
                }
            },
            schema: {
                total: function () { return 77; }
            },
            sort: {
                field: "ProductID",
                dir: "desc"
            },
            serverPaging: true,
            serverSorting: true,
            pageSize: 30
        });

        $("#endless-scrolling").kendoMobileListView({
            dataSource: dataSource,
            template: $("#template").text(),
            endlessScroll: true
        });
    }
</script>

<style scoped>
    .product h3 {
        font-size: 1.3em;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
        height: 1.3em;
        overflow: hidden;
    }
    .product p {
        font-size: 1em;
        margin: 0;
        padding: .3em 0 0;
    }
    .pullImage {
        width: 64px;
        height: 64px;
        border-radius: 3px;
        float: left;
        margin-right: 1.3em;
    }    
</style>