<div data-role="view" data-init="mobileListViewEndlessScrolling" data-title="Scroll down to load">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
        </div>
    </header>

    <ul id="endless-scrolling"></ul>
</div>

<script type="text/x-kendo-tmpl" id="template">
    <div class="product">
        <img src="../../content/web/foods/#=ProductID#.jpg" alt="#=ProductName# image" class="pullImage"/>
        <h3>#:ProductName#</h3>
        <p>#:kendo.toString(UnitPrice, "c")#</p>
    </div>
</script>

<script> 
    function mobileListViewEndlessScrolling() {
        var dataSource = new kendo.data.DataSource({
            type: "odata",
            transport: {
                read: {
                    url: "http://demos.kendoui.com/service/Northwind.svc/Products"                    
                }
            },
            sort: {
                field: "ProductName",
                dir: "desc"
            },  
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true,
            pageSize: 20
        });

        $("#endless-scrolling").kendoMobileListView({
            dataSource: dataSource,
            template: $("#template").text(),
            filterable: {
                field: "ProductName",
                operator: "startswith"
            },
            scrollThreshold: 30, //threshold in pixels
            endlessScroll: true
        });
    }
</script>

<style scoped>
    .product {
        font-size: .8em;
        line-height: 1.4em;
    }
    .pullImage {
        width: 64px;
        height: 64px;
        border-radius: 3px;
        float: left;
        margin-right: 10px;
    }    
</style>
