<div data-role="view">
    <ul data-role="listview" data-style="inset">
        <li>Sashimi Salad</li>
        <li>Seaweed Salad</li>
        <li>Edamame</li>
        <li>Maguro</li>
        <li>Tekka Maki</li>
        <li>California Rolls</li>
    </ul>
</div>
