<div data-role="view" data-title="Destinations">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Africa
            <ul>
                <li data-icon="toprated"><a href="#">Nairobi</a></li>
            </ul>
        </li>
        <li>
            America
            <ul>
                <li data-icon="globe"><a href="#">Boston</a></li>
                <li data-icon="globe"><a href="#">Ottawa</a></li>
                <li data-icon="toprated"><a href="#">San Francisco</a></li>
            </ul>
        </li>
        <li>
            Asia
            <ul>
                <li data-icon="globe"><a href="#">Bombay</a></li>
            </ul>
        </li>
        <li>
            Australia
            <ul>
                <li data-icon="globe"><a href="#">Melbourne</a></li>
                <li data-icon="toprated"><a href="#">Sydney</a></li>
            </ul>
        </li>
        <li>
            Europe
            <ul>
                <li data-icon="globe"><a href="#">Cannes</a></li>
                <li data-icon="globe"><a href="#">Liverpool</a></li>
                <li data-icon="toprated"><a href="#">London</a></li>
            </ul>
        </li>
    </ul>
</div>
