<div data-role="view" data-init="mobileListViewPullWithEndless" data-title="Pull to refresh">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
        </div>
    </header>

    <ul id="pull-with-endless"></ul>
</div>

<script id="pull-with-endless-template" type="text/x-kendo-template">
    <div class="tweet">
        <img class="pullImage" src="#= profile_image_url #" alt="#= from_user #" />#= text #
        <div class="metadata">
            <a class="sublink" target="_blank" href="http://twitter.com/\\#!/#= from_user #/status/#= id_str #" rel="nofollow">#= kendo.toString(new Date(Date.parse(created_at)), "dd MMM HH:mm") #</a>
            |
            <a class="sublink" href="http://twitter.com/#= from_user #" rel="nofollow">#= from_user #</a>
        </div>
    </div>
</script>

<script>
    function mobileListViewPullWithEndless() {
            var dataSource = new kendo.data.DataSource({
                serverPaging: true,
                pageSize: 10,
                transport: {
                    read: {
                        url: "http://demos.kendoui.com/service/Twitter/Search", // the remove service url
                        dataType: "jsonp" // JSONP (JSON with padding) is required for cross-domain AJAX
                    },
                    parameterMap: function(options) {
                        return {
                            q: "javascript",
                            page: options.page,
                            count: options.pageSize,
                            since_id: options.since_id, //additional parameters sent to the remote service
                            max_id: options.max_id //additional parameters sent to the remove service
                        };
                    }
                },
                schema: { // describe the result format
                    data: "results" // the data which the data source will be bound to is in the "results" field
                }
            });

        $("#pull-with-endless").kendoMobileListView({
            dataSource: dataSource,
            template: $("#pull-with-endless-template").text(),
            appendOnRefresh: true,
            pullToRefresh: true,
            //addition parameters which will be passed to the DataSource's read method
            pullParameters: function(item) { //pass first data item of the ListView
                return {
                    since_id: item.id_str,
                    page: 1
                };
            },
            endlessScroll: true,
            //addition parameters which will be passed to the DataSource's next method
            endlessScrollParameters: function(firstOrigin) {
                if (firstOrigin) {
                    return {
                        max_id: firstOrigin.id_str
                    };
                }
            }
        });
    }
</script>

<style scoped>
    .tweet {
        font-size: .8em;
        line-height: 1.4em;
    }
    .pullImage {
        width: 64px;
        height: 64px;
        border-radius: 3px;
        float: left;
        margin-right: 10px;
    }
    .sublink {
        font-size: .9em;
        font-weight: normal;
        display: inline-block;
        padding: 3px 3px 0 0;
        text-decoration: none;
        opacity: .8;
    }
</style>
