
        <div id="example" class="k-content">
            <div id="grid"></div>

            <script>
                $(document).ready(function() {
                    $("#grid").kendoGrid({
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: "http://demos.kendoui.com/service/Northwind.svc/Orders"
                            },
                            schema: {
                                model: {
                                    fields: {
                                        OrderID: { type: "number" },
                                        ShipCountry: { type: "string" },
                                        ShipCity: { type: "string" },
                                        ShipName: { type: "string" },
                                        OrderDate: { type: "date" },
                                        ShippedDate: { type: "date" }
                                    }
                                }
                            },
                            pageSize: 15
                        },
                        height: 430,
                        sortable: true,
                        resizable: true,
                        pageable: true,
                        columns: [
                            {
                                field: "OrderDate",
                                title: "Order Date",
                                width: 110,
                                format: "{0:MM/dd/yyyy}"
                            },
                            {
                                field: "ShipCountry",
                                title: "Ship Country",
                                width: 110
                            },
                            {
                                field: "ShipCity",
                                title: "Ship City",
                                width: 110
                            },
                            {
                                field: "ShipName",
                                title: "Ship Name",
                                width: 200
                            },
                            {
                                field: "ShippedDate",
                                title: "Shipped Date",
                                format: "{0:MM/dd/yyyy}"
                            },
                            {
                                field: "OrderID",
                                title: "ID",
                                width: 60
                            }
                        ]
                    });
                });
            </script>
        </div>
