        <script src="../../content/shared/js/people.js"></script>

        <div id="example" class="k-content">
            <div id="grid"></div>

            <script>
                $(document).ready(function() {
                    $("#grid").kendoGrid({
                        dataSource: {
                            data: createRandomData(50),
                            schema: {
                                model: {
                                    fields: {
                                        FirstName: { type: "string" },
                                        LastName: { type: "string" },
                                        City: { type: "string" },
                                        Title: { type: "string" },
                                        BirthDate: { type: "date" },
                                        Age: { type: "number" }
                                    }
                                }
                            },
                            pageSize: 15
                        },
                        height: 430,
                        sortable: true,
                        resizable: true,
                        pageable: true,
                        columns: [
                            {
                                field: "FirstName",
                                title: "First Name",
                                width: 110
                            },
                            {
                                field: "LastName",
                                title: "Last Name",
                                width: 110
                            },
                            {
                                field: "City",
                                width: 110
                            },
                            {
                                field: "Title",
                                width: 200
                            },
                            {
                                field: "BirthDate",
                                title: "Birth Date",
                                template: '#= kendo.toString(BirthDate,"MM/dd/yyyy") #'
                            },
                            {
                                field: "Age",
                                width: 50
                            }
                        ]
                    });
                });
            </script>
        </div>
