        <script src="../../content/shared/js/people.js"></script>
        <div id="example" class="k-content">
            <div id="grid"></div>

            <script>
                var products = [ {
                    "ProductID": 1,
                        "ProductName": "Chai",
                        "Category": {
                            "CategoryID": 1,
                            "CategoryName": "Beverages"
                        },
                        "UnitPrice": "18.00"
                }, {
                    "ProductID": 2,
                        "ProductName": "Chang",
                        "Category": {
                            "CategoryID": 1,
                            "CategoryName": "Beverages"
                        },
                        "UnitPrice": "19.00"
                }, {
                    "ProductID": 3,
                        "ProductName": "Aniseed Syrup",
                        "CategoryID": 2,
                        "Category": {
                            "CategoryID": 1,
                            "CategoryName": "Beverages"
                        },
                        "UnitPrice": "10.00"
                }, {
                    "ProductID": 4,
                        "ProductName": "Chef Anton's Cajun Seasoning",
                        "Category": {
                            "CategoryID": 2,
                            "CategoryName": "Condiments"
                        },
                        "UnitPrice": "22.00"
                }, {
                    "ProductID": 5,
                        "ProductName": "Chef Anton's Gumbo Mix",
                        "Category": {
                            "CategoryID": 2,
                            "CategoryName": "Condiments"
                        },
                        "UnitPrice": "21.35"
                }, {
                    "ProductID": 6,
                        "ProductName": "Grandma's Boysenberry Spread",
                        "Category": {
                            "CategoryID": 2,
                            "CategoryName": "Condiments"
                        },
                        "UnitPrice": "25.00"
                }, {
                    "ProductID": 8,
                        "ProductName": "Northwoods Cranberry Sauce",
                        "Category": {
                            "CategoryID": 2,
                            "CategoryName": "Condiments"
                        },
                        "UnitPrice": "40.00"
                }, {
                    "ProductID": 42,
                        "ProductName": "Singaporean Hokkien Fried Mee",
                        "Category": {
                            "CategoryID": 5,
                            "CategoryName": "Grains/Cereals"
                        },
                        "UnitPrice": "14.00"
                }, {
                    "ProductID": 57,
                        "ProductName": "Ravioli Angelo",
                        "Category": {
                            "CategoryID": 5,
                            "CategoryName": "Grains/Cereals"
                        },
                        "UnitPrice": "19.50"
                }, {
                    "ProductID": 17,
                        "ProductName": "Alice Mutton",
                        "Category": {
                            "CategoryID": 6,
                            "CategoryName": "Meat/Poultry"
                        },
                        "UnitPrice": "39.00"
                }, {
                    "ProductID": 53,
                        "ProductName": "Perth Pasties",
                        "Category": {
                            "CategoryID": 6,
                            "CategoryName": "Meat/Poultry"
                        },
                        "UnitPrice": "32.80"
                }, {
                    "ProductID": 51,
                        "ProductName": "Manjimup Dried Apples",
                        "Category": {
                            "CategoryID": 7,
                            "CategoryName": "Produce"
                        },
                        "UnitPrice": "53.00"
                }, {
                    "ProductID": 74,
                        "ProductName": "Longlife Tofu",
                        "Category": {
                            "CategoryID": 7,
                            "CategoryName": "Produce"
                        },
                        "UnitPrice": "10.00"
                }];

                $(document).ready(function () {
                    var dataSource = new kendo.data.DataSource({
                       pageSize: 20,
                       data: products,
                       autoSync: true,
                       schema: {
                           model: {
                             id: "ProductID",
                             fields: {
                                ProductID: { editable: false, nullable: true },
                                ProductName: { validation: { required: true } },
                                Category: { defaultValue: { CategoryID: 1, CategoryName: "Beverages"} },
                                UnitPrice: { type: "number", validation: { required: true, min: 1} }
                             }
                           }
                       }
                    });

                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        pageable: true,
                        height: 430,
                        toolbar: ["create"],
                        columns: [
                            { field:"ProductName",title:"Product Name" },
                            { field: "Category", title: "Category", width: "160px", editor: categoryDropDownEditor, template: "#=Category.CategoryName#" },
                            { field: "UnitPrice", title:"Unit Price", format: "{0:c}", width: "120px" },
                            { command: "destroy", title: " ", width: "90px" }],
                        editable: true
                    });
                });

                function categoryDropDownEditor(container, options) {
                    $('<input required data-text-field="CategoryName" data-value-field="CategoryID" data-bind="value:' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            dataSource: {
                                type: "odata",
                                transport: {
                                    read: "http://demos.kendoui.com/service/Northwind.svc/Categories"
                                }
                            }
                        });
                }

            </script>
        </div>
