        <div id="example" class="k-content">
            <!--[if gte IE 9]>-->
            <div id="grid"></div>
            <script src="../../content/shared/js/everlive.all.js"></script>
            <script>
                $(document).ready(function() {
                    // initialize Everlive application with application API key
                    var everlive = new Everlive({
                        apiKey: "3q4sHgIqESXbpvOp",
                        scheme: "http"
                    });

                    var dataSource = new kendo.data.DataSource({
                        type: "everlive",
                        transport: {
                            // binding to the Order type in Everlive
                            typeName: "Order"
                        },
                        schema: {
                            model: {
                                id: "Id",
                                fields: {
                                    // default Everlive fields
                                    CreatedBy:  { type: "string" },
                                    CreatedAt:  { type: "date" },
                                    ModifiedAt: { type: "date" },

                                    // type fields
                                    Freight:    { type: "number" },
                                    OrderDate:  { type: "date" },
                                    ShipName:   { type: "string" },
                                    ShipCity:   { type: "string" }
                                }
                            }
                        },
                        serverPaging: true,
                        pageSize: 20,

                        serverSorting: true,
                        sort: { field: 'OrderDate', dir: 'asc' }
                    });

                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        height: 430,
                        sortable: true,
                        pageable: true,
                        columns: [
                            {
                                field: "Freight",
                                width: 100
                            }, {
                                field: "OrderDate",
                                title: "Order Date",
                                width: 120,
                                format: "{0:MM/dd/yyyy}"
                            }, {
                                field: "ShipName",
                                title: "Ship Name"
                            }, {
                                field: "ShipCity",
                                title: "Ship City",
                                width: 150
                            }
                        ]
                    });
                });
            </script>
            <!--<![endif]-->

            <p>The Everlive datasource is not supported on IE8 and below yet, because it relies on <a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing">cross-origin resource sharing</a>.</p>
        </div>
