        <script src="../../content/shared/js/people.js"></script>

        <div id="example" class="k-content">

            <div class="demo-section">
                <h3>Grid with multiple row selection enabled</h3>
                <div id="rowSelection"></div>
            </div>

            <div class="demo-section">
                <h3>Grid with multiple cell selection enabled</h3>
                <div id="cellSelection"></div>
            </div>

            <script>
                $(document).ready(function() {
                    $("#rowSelection").kendoGrid({
                        dataSource: {
                            data: createRandomData(20),
                            pageSize: 5
                        },
                        selectable: "multiple",
                        pageable: true,
                        scrollable: false,
                        navigatable: true,
                        columns: [
                            {
                                field: "FirstName",
                                title: "First Name",
                                width: 200
                            },
                            {
                                field: "LastName",
                                title: "Last Name",
                                width: 200
                            },
                            {
                                field: "Age"
                            }
                        ]
                    });

                    $("#cellSelection").kendoGrid({
                        dataSource: {
                            data: createRandomData(20),
                            pageSize: 5
                        },
                        selectable: "multiple cell",
                        pageable: true,
                        scrollable: false,
                        navigatable: true,
                        columns: [
                            {
                                field: "FirstName",
                                title: "First Name",
                                width: 200
                            },
                            {
                                field: "LastName",
                                title: "Last Name",
                                width: 200
                            },
                            {
                                field: "Age",
                                title: "Age"
                            }
                        ]
                    });
                });
            </script>
            <style scoped="scoped">
                .demo-section {
                    width: 600px;
                }
                .demo-section h3 {
                    margin: 5px 0 15px 0;
                    text-align: center;
                }
            </style>
        </div>