        <script src="../../content/shared/js/orders.js"></script>

        <div id="example" class="k-content">

            <div class="demo-section">
                <h3>Grid with multiple row selection enabled</h3>
                <div id="rowSelection"></div>
            </div>

            <div class="demo-section">
                <h3>Grid with multiple cell selection enabled</h3>
                <div id="cellSelection"></div>
            </div>

            <script>
                $(document).ready(function () {
                    $("#rowSelection").kendoGrid({
                        dataSource: {
                            data: orders,
                            pageSize: 5
                        },
                        selectable: "multiple",
                        pageable: {
                            buttonCount: 5
                        },
                        scrollable: false,
                        navigatable: true,
                        columns: [
                            {
                                field: "ShipCountry",
                                title: "Ship Country",
                                width: 200
                            },
                            {
                                field: "Freight",
                                width: 200
                            },
                            {
                                field: "OrderDate",
                                title: "Order Date",
                                format: "{0:dd/MM/yyyy}"
                            }
                        ]
                    });

                    $("#cellSelection").kendoGrid({
                        dataSource: {
                            data: orders,
                            pageSize: 5
                        },
                        selectable: "multiple cell",
                        pageable: {
                            buttonCount: 5
                        },
                        scrollable: false,
                        navigatable: true,
                        columns: [
                            {
                                field: "ShipCountry",
                                title: "Ship Country",
                                width: 200
                            },
                            {
                                field: "Freight",
                                width: 200
                            },
                            {
                                field: "OrderDate",
                                title: "Order Date",
                                format: "{0:dd/MM/yyyy}"
                            }
                        ]
                    });
                });
            </script>
            <style scoped="scoped">
                .demo-section {
                    width: 600px;
                }
                .demo-section h3 {
                    margin: 5px 0 15px 0;
                    text-align: center;
                }
            </style>
        </div>