<div class="example" ng-app="KendoDemos">
    <div class="demo-section k-header"ng-controller="MyCtrl">
        <div class="box-col">
            <h4>Select date:</h4>
            <input kendo-date-picker
             ng-model="dateString"
             k-ng-model="dateObject" />
<pre>
dateString: {{ dateString }}
dateObject: {{ dateObject | date:"EEEE, MMMM d, yyyy" }}
typeof dateObject: {{ getType(dateObject) }}
dateObject instanceof Date: {{ isDate(dateObject) }}
</pre>
            
        </div>
        <div class="box-col">
            <h4>Select month:</h4>
            <input kendo-date-picker
             k-options="monthSelectorOptions"
             k-format="'MMMM yyyy'" />
        </div>
    </div>
    <style scoped>
        .box-col {
            width: 400px;
        }
    </style>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ]);
  function MyCtrl($scope) {
      $scope.monthSelectorOptions = {
        start: "year",
        depth: "year"
      };
      $scope.getType = function(x) {
        return typeof x;
      };
      $scope.isDate = function(x) {
        return x instanceof Date;
      };
  }
</script>
