
        <div id="example">
<!--            <div id="email-settings">
                <div class="display-picker">
                    <input id="datepicker" value="10/10/2011" style="width:150px;" />
                </div>
                <div class="archive-picker">
                    <input id="monthpicker" value="November 2011" style="width:150px" />
                </div>
            </div>-->
            <div class="demo-section k-header">
                <h4>E-mail Settings:</h4>
                <p>
                    <label datepicker="start">Show e-mails from:</label><input id="datepicker" value="10/10/2011" style="width:200px;" />
                </p>

                <p>
                    <label for="monthpicker">Add to archive mail from:</label><input id="monthpicker" value="November 2011" style="width:200px" />
                </p>
            </div>
        <script>
            $(document).ready(function() {
                // create DatePicker from input HTML element
                $("#datepicker").kendoDatePicker();

                $("#monthpicker").kendoDatePicker({
                    // defines the start view
                    start: "year",

                    // defines when the calendar should return date
                    depth: "year",

                    // display month and year in the input
                    format: "MMMM yyyy"
                });
            });
        </script>
        <style scoped>
            .demo-section {
                width: 400px;
            }
            .demo-section p {
                margin-top: 2em;
            }
            .demo-section label {
                display: inline-block;
                width: 180px;
                padding-right: 5px;
                text-align: right;
            }
            
            #example .k-datepicker {
                vertical-align: middle;
            }
        </style>
        </div>
