    <div id="example" class="k-content">
        <div class="chart-wrapper">
            <div id="chart"></div>
        </div>
        <script>
            function createChart() {
                $("#chart").kendoChart({
                    title: {
                        text: "Wind speed and direction"
                    },
                    dataSource: {
                        data: [{
                            date: "2013-03-03",
                            speed: 2,
                            dir: 180
                        }, {
                            date: "2013-03-04",
                            speed: 4.6,
                            dir: 225
                        }, {
                            date: "2013-03-05",
                            speed: 2.5,
                            dir: 45
                        }, {
                            date: "2013-03-06",
                            speed: 3.3,
                            dir: 225
                        }, {
                            date: "2013-03-07",
                            speed: 3.0,
                            dir: 135
                        }, {
                            date: "2013-03-08",
                            speed: 3.0,
                            dir: 90
                        }, {
                            date: "2013-03-09",
                            speed: 2.5,
                            dir: 45
                        }, {
                            date: "2013-03-10",
                            speed: 2.8,
                            dir: 45
                        }, {
                            date: "2013-03-11",
                            speed: 3.5,
                            dir: 0
                        }, {
                            date: "2013-03-12",
                            speed: 3.5,
                            dir: 270
                        }],
                    },
                    series: [{
                        type: "line",
                        field: "speed",
                        width: 0, // Hides the line, leaving only markers
                        labels: {
                            format: "{0} m/s",
                            position: "bottom",
                            visible: true
                        },
                        markers: {
                            type: "triangle",
                            size: 10,
                            rotation: function(point) {
                                // Evaluated for each point
                                return point.dataItem.dir;
                            }
                        }
                    }],
                    categoryAxis: {
                        type: "date",
                        field: "date"
                    },
                    legend: {
                        visible: false
                    },
                    tooltip: {
                        visible: true
                    }
                });
            }

            $(document).ready(createChart);
            $("#example").bind("kendo:skinChange", createChart);
        </script>
    </div>
