    <div id="example" class="k-content">
        <div class="chart-wrapper">
            <div id="chart"></div>
        </div>
        <script>
            function createChart() {
                $("#chart").kendoChart({
                    title: {
                        text: "Site Visitors Stats /thousands/"
                    },
                    legend: {
                        position: "bottom"
                    },
                    seriesDefaults: {
                        type: "line"  
                    },
                    series: [{
                        name: "Total Visits",
                        data: [70495, 54769, 60770, 28961, 69819, 78730,
                               71134, 68400, 49805, 54329, 36025, 13655],
                        color: function(point) {
                            if (point.value > 60000) {
                                // Colorize matching points
                                return "#0b0";
                            }

                            // The color does not change if no value is returned
                        }
                    }],
                    categoryAxis: {
                        categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                     "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                    },
                    valueAxis: {
                        plotBands: [{
                            from: 59000,
                            to: 60000,
                            color: "#f00",
                            opacity: 0.5
                        }]
                    },
                    tooltip: {
                        visible: true,
                        format: "{0}"
                    }
                });
            }

            $(document).ready(createChart);
            $("#example").bind("kendo:skinChange", createChart);
        </script>
    </div>
