    <div id="example" class="k-content">
        <div class="chart-wrapper">
            <div id="chart"></div>
        </div>
        <script>
            function lessThanPrev(point) {
                var prevValue = point.series.data[point.index - 1];
                return prevValue && prevValue > point.value;
            }

            function createChart() {
                $("#chart").kendoChart({
                    title: {
                        text: "Site Visitors Stats /thousands/"
                    },
                    legend: {
                        position: "bottom"
                    },
                    series: [{
                        type: "line",
                        name: "Total Visits",
                        data: [70495, 54769, 60770, 28961, 69819, 78730,
                               71134, 68400, 49805, 54329, 36025, 13655],
                        width: 0.5,
                        color: "#aaa",
                        markers: {
                            border: {
                                color: function(point) {
                                    if (lessThanPrev(point)) {
                                        return "#f00";
                                    } else {
                                        return "#0f0";
                                    }
                                }
                            },
                            rotation: function(point) {
                                if (lessThanPrev(point)) {
                                    return 180;
                                } else {
                                    return 0;
                                }
                            },
                            type: "triangle"
                        }
                    }],
                    categoryAxis: {
                        categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                     "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                    },
                    tooltip: {
                        visible: true,
                        format: "{0}"
                    }
                });
            }

            $(document).ready(createChart);
            $("#example").bind("kendo:skinChange", createChart);
        </script>
    </div>
