
        <div id="example" class="k-content">
            <div class="chart-wrapper">
                <div id="chart"></div>
            </div>
            <div class="configuration-horizontal">
                <div class="config-section">
                    <span class="configHead">API Functions</span>
                    <ul class="options">
                        <li>
                            <input id="typeColumn" name="seriesType"
                                        type="radio" value="column" checked="checked" autocomplete="off" />
                            <label for="typeColumn">Columns</label>
                        </li>
                        <li>
                            <input id="typeBar" name="seriesType"
                                        type="radio" value="bar" autocomplete="off" />
                            <label for="typeBar">Bars</label>
                        </li>
                        <li>
                            <input id="typeLine" name="seriesType"
                                        type="radio" value="line" autocomplete="off" />
                            <label for="typeLine">Lines</label>
                        </li>
                        <li>
                            <input id="stack" type="checkbox" autocomplete="off" checked="checked" />
                            <label for="stack">Stacked</label>
                        </li>
                    </ul>
                    <p>
                        <strong>refresh()</strong> will be called on each configuration change
                    </p>
                </div>
            </div>
            <script>
                function createChart() {
                    $("#chart").kendoChart({
                        theme: $(document).data("kendoSkin") || "default",
                        title: {
                            text: "Site Visitors Stats /thousands/"
                        },
                        legend: {
                            position: "bottom"
                        },
                        seriesDefaults: {
                            type: "column",
                            stack: true
                        },
                        series: [{
                            name: "Total Visits",
                            data: [56000, 63000, 74000, 91000, 117000, 138000],
                            
                            // Line chart marker type
                            markers: { type: "square" }
                        }, {
                            name: "Unique visitors",
                            data: [52000, 34000, 23000, 48000, 67000, 83000]
                        }],
                        valueAxis: {
                            line: {
                                visible: false
                            }
                        },
                        categoryAxis: {
                            categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
                            majorGridLines: {
                                visible: false
                            }
                        },
                        tooltip: {
                            visible: true,
                            format: "{0}"
                        }
                    });
                }

                $(document).ready(function() {
                    setTimeout(function() {
                        // Initialize the chart with a delay to make sure
                        // the initial animation is visible
                        createChart();

                        $("#example").bind("kendo:skinChange", function(e) {
                            createChart();
                        });
                    }, 400);

                    $(".configuration-horizontal").bind("change", refresh);
                });

                function refresh() {
                    var chart = $("#chart").data("kendoChart"),
                        series = chart.options.series,
                        type = $("input[name=seriesType]:checked").val(),
                        stack = $("#stack").prop("checked");

                    for (var i = 0, length = series.length; i < length; i++) {
                        series[i].stack = stack;
                        series[i].type = type;
                    };

                    chart.refresh();
                }
            </script>
            <style scoped>
                .chart-wrapper, .chart-wrapper .k-chart {
                    height: 300px;
                }
            </style>
        </div>
