
        <div id="example" class="k-content">
            <div class="configuration">
                <span class="infoHead">Information</span>
                <p>
                    <strong>Note:</strong>
                    Security restrictions in Chrome prevent this
                    example from working when the page is
                    loaded from the file system (via file:// protocol).
                </p>
            </div>
            <div id="tabstrip">
                <ul>
                    <li class="k-state-active">
                        First Ajax Tab
                    </li>
                    <li>
                        Second Ajax Tab
                    </li>
                    <li>
                        Third Ajax Tab
                    </li>
                    <li>
                        Fourth Ajax Tab
                    </li>
                    <li>
                        Fifth Ajax Tab
                    </li>
                </ul>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#tabstrip").css({ marginRight: "220px" }).kendoTabStrip({
                    contentUrls: [
                        '../../content/web/tabstrip/ajax/ajaxContent1.html',
                        '../../content/web/tabstrip/ajax/ajaxContent2.html',
                        '../../content/web/tabstrip/ajax/ajaxContent3.html',
                        '../../content/web/tabstrip/ajax/ajaxContent4.html',
                        '../../content/web/tabstrip/ajax/ajaxContent5.html'
                    ]
                });
            });
        </script>
