
        <div id="example" class="k-content">

            <div class="configuration">
                <span class="configHead">Configure</span>
                <span class="configTitle">Animation Settings</span>
                <ul class="options">
                    <li>
                        <input id="toggle" name="animation" type="radio" /> <label for="toggle">toggle animation</label>
                    </li>
                    <li>
                        <input id="expand" name="animation" type="radio" checked="checked" /> <label for="expand">expand animation</label>
                    </li>
                    <li>
                        <input id="opacity" type="checkbox" checked="checked" /> <label for="opacity">animate opacity</label>
                    </li>
                </ul>
            </div>

            <div class="demo-section" style="width: 500px;">
                <div id="tabstrip">
                    <ul>
                        <li class="k-state-active">
                            Baseball
                        </li>
                        <li>
                            Golf
                        </li>
                        <li>
                            Swimming
                        </li>
                        <li>
                            Snowboarding
                        </li>
                    </ul>
                    <div>
                        <p>Baseball is a bat-and-ball sport played between two teams of nine players each. The aim is to score runs by hitting a thrown ball with a bat and touching a series of four bases arranged at the corners of a ninety-foot diamond. Players on the batting team take turns hitting against the pitcher of the fielding team, which tries to stop them from scoring runs by getting hitters out in any of several ways. A player on the batting team can stop at any of the bases and later advance via a teammate's hit or other means. The teams switch between batting and fielding whenever the fielding team records three outs. One turn at bat for each team constitutes an inning and nine innings make up a professional game. The team with the most runs at the end of the game wins.</p>
                    </div>
                    <div>
                        <p>Golf is a precision club and ball sport, in which competing players (or golfers) use many types of clubs to hit balls into a series of holes on a golf course using the fewest number of strokes. It is one of the few ball games that does not require a standardized playing area. Instead, the game is played on golf courses, each of which features a unique design, although courses typically consist of either nine or 18 holes. Golf is defined, in the rules of golf, as playing a ball with a club from the teeing ground into the hole by a stroke or successive strokes in accordance with the Rules.</p>
                    </div>
                    <div>
                        <p>Swimming has been recorded since prehistoric times; the earliest recording of swimming dates back to Stone Age paintings from around 7,000 years ago. Written references date from 2000 BC. Some of the earliest references to swimming include the Gilgamesh, the Iliad, the Odyssey, the Bible, Beowulf, and other sagas. In 1578, Nikolaus Wynmann, a German professor of languages, wrote the first swimming book, The Swimmer or A Dialogue on the Art of Swimming (Der Schwimmer oder ein Zwiegespräch über die Schwimmkunst). Competitive swimming in Europe started around 1800, mostly using breaststroke.</p>
                    </div>
                    <div>
                        <p>Snowboarding is a sport that involves descending a slope that is covered with snow on a snowboard attached to a rider's feet using a special boot set onto a mounted binding. The development of snowboarding was inspired by skateboarding, sledding, surfing and skiing. It was developed in the U.S.A. in the 1960s to 1970s and became a Winter Olympic Sport in 1998.</p>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function() {
                    var original = $("#tabstrip").clone(true);
                    original.find(".k-state-active").removeClass("k-state-active");

                    var getEffects = function () {
                        return (($("#expand")[0].checked ? "expand:vertical " : "") + ($("#opacity")[0].checked ? "fadeIn" : "")) || false;
                    };

                    var initTabStrip = function () {
                        $("#tabstrip").kendoTabStrip({ animation: { open: { effects: getEffects() } } });
                    };

                    $(".configuration input").change( function() {
                        var tabStrip = $("#tabstrip"),
                            selectedIndex = tabStrip.data("kendoTabStrip").select().index(),
                            clone = original.clone(true);

                        clone.children("ul")
                             .children("li")
                             .eq(selectedIndex)
                             .addClass("k-state-active")
                             .end();

                        tabStrip.replaceWith(clone);

                        initTabStrip();
                    });

                    initTabStrip();
                });
            </script>
        </div>