<div data-role="view" data-title="Settings">
    <header data-role="header">
        <div data-role="navbar">
            <!--a class="nav-button" data-align="left" data-role="back-button">Back</a-->
            <span data-role="view-title">Settings</span>
            <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
        </div>
    </header>

    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            General Settings
            <ul>
                <li>About <button type="button" data-role="detail-button" data-style="details">More...</button></li>
                <li>Airplane mode <input type="checkbox" data-role="switch"></li>
                <li>BlueTooth <input type="checkbox" data-role="switch" checked></li>
                <li>Notifications <input type="checkbox" data-role="switch"></li>
                <li>Local Services <input type="checkbox" data-role="switch" checked></li>
            </ul>
        </li>

        <li>
            Other Settings
            <ul>
                <li>Wi-Fi <button type="button" data-role="detail-button" data-style="details">More...</button></li>
                <li>Sounds <button type="button" data-role="detail-button" data-style="details">More...</button></li>
                <li>Battery <button type="button" data-role="detail-button" data-style="details">More...</button></li>
            </ul>
        </li>
    </ul>

    <footer data-role="footer">
        <div data-role="tabstrip">
            <a data-icon="featured">Home</a>
            <a data-icon="toprated">Explore</a>
            <a data-icon="info">About</a>
            <a data-icon="settings">Settings</a>
        </div>
    </footer>
</div>
