<div id="example">
    <div id="bootstrap">
        <h2>Kendo UI &hearts; Bootstrap</h2>
        <p>This demo shows how to use Kendo UI and <a href="http://getbootstrap.com/" target="_blank" title="Bootstrap">Twitter Bootstrap</a> on the same page.</p>
        <a class="launchButton" target="_blank" href="@Url.Content("~/bootstrap/")">Launch Demo</a>
    </div>
    <style>
        #example {
            background-color: #fff;
        }
        #bootstrap {
            background: url('../content/shared/images/bootstrap.png') no-repeat left bottom transparent;
            min-height: 200px;
            padding: 80px 0 0 480px;
            margin: 0 auto;
            border-bottom: 1px solid #DFDFDF;
            width: 500px;
        }
        #bootstrap p a {
            color: #0487C4;
            text-decoration: none;
        }
        #bootstrap p a:hover {
            text-decoration: underline;
        }
    </style>
</div>
