html, body {
    text-align: left;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font: normal 12px/1.5 Tahoma,sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 0;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #666;
    -webkit-border-radius: 3px;
}

*::-moz-selection { background: #1179e5; color: #fff; }
::selection { background: #1179e5; color: #fff; }

#kendo-themebuilder .styling-options {
    width: auto;
}

#kendo-themebuilder .styling-options {
    padding: .4em;
}

#kendo-themebuilder label {
    display: inline-block;
    width: 50%;
    padding-right: 4%;
    text-align: right;
    color: #afafaf;
}

#stylable-elements,
#kendo-themebuilder .k-style-apply {
    margin: .6em 0 0;
}

#kendo-themebuilder .k-color-preview,
#kendo-themebuilder .k-colorpicker .k-i-arrow-s {
    border: 0;
    background-image: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.k-color-preview,
.ktb-texture-preview {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    margin: 1px 0 0 1px;
}

.k-color-preview {
    background-image: none;
}

.ktb-texture-preview {
    width: 19px;
    height: 19px;
}

.k-list {
    text-align: center;
}

.k-popup .k-list .k-item {
    width: 19px;
    height: 19px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    padding: 1px;
}

.k-popup .k-list .k-state-hover,
.k-popup .k-list .k-state-focused,
.k-popup .k-list .k-state-selected {
    padding: 0;
}

#kendo-themebuilder div.k-colorpicker,
#kendo-themebuilder .k-numerictextbox,
#kendo-themebuilder .k-combobox,
#kendo-themebuilder .k-shadowinput {
    width: 100px;
    margin-bottom: 5px;
}

.k-colorpicker .k-select {
    padding: 3px;
}

.k-colorpicker .k-i-arrow-s {
    margin-top: -1px;
}

.k-colorpicker .k-input,
.k-color-name,
textarea {
    font: 12px Consolas, Courier, monospace;
}

.ktb-view {
    color: #fff;
    display: none;
    background-color: #3d3d3d;
}

#suite-chooser {
    display: block;
}

.ktb-view,
.ktb-overlay,
.ktb-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ktb-view > .k-button {
    margin-right: .6em;
}

.ktb-content {
    overflow: scroll;
    overflow-x: hidden;
    top: 30px;
    bottom: 0;
    width: 100%;
}

.ktb-overlay {
    display: none;
    position: absolute;
    z-index: 2;
}

.ktb-overlay .ktb-content {
    overflow: hidden;
}

.ktb-overlay textarea {
    color: #fff;
    background-color: #3d3d3d;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
}

#docs-link {
    color: #19a3ee;
    float: right;
}

#docs-link:hover {
    color: #39c3fe;
}

.ktb-action-import {
    float: right;
}
