<div id="example" class="k-content">
    <div class="configuration-horizontal">
        <div class="config-section" style="width: 340px">
            <span class="configHead">ProgressBar</span>
            <div data-role="progressbar"
                 data-min="0"
                 data-max="200"
                 data-bind="enabled: isEnabled,
                            visible: isVisible,
                            value: progressValue,
                            events: { start: onStart,
                                      change: onChange,
                                      complete: onComplete}"></div>
        </div>
        <div class="config-section" style="width: 300px">
            <div class="configHead">Console</div>
            <div class="console"></div>
        </div>
    </div>

     <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Configuration</span>
            <div>
                <label><input type="checkbox" data-bind="checked: isEnabled">Enable</label>
            </div>
            <div>
                <label><input type="checkbox" data-bind="checked: isVisible">Visible</label>
            </div>
            <div>
                <input type="text" data-bind="value: progressValue" class="k-textbox" />
                <label>Set value</label>
            </div>
        </div>
        <div class="config-section" style="width: 440px">
            <span class="configHead">Information</span>
            Kendo UI ProgressBar supports the
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/enabled">enabled</a>,
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/events">events</a>,
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/value">value</a> and
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
        </div>
    </div>

    <script>
        var viewModel = kendo.observable({
            progressValue: 0,
            isEnabled: true,
            isVisible: true,
            onStart: function () {
                kendoConsole.log("event :: start (" + this.get("progressValue") + ")");
            },
            onChange: function () {
                kendoConsole.log("event :: change (" + this.get("progressValue") + ")");
            },
            onComplete: function () {
                kendoConsole.log("event :: complete (" + this.get("progressValue") + ")");
            }
        });

        kendo.bind($("#example"), viewModel);
    </script>

    <style scoped>
        .config-section .k-textbox 
        {
            margin: 0;
        }
    </style>
</div>