.device-skin
{
    font-size: 12px; /* Sets the zoom level */
}

.device-container.vertical .device-skin
{
    background-image: url("images/vertical.png");
}

.device-container.horizontal .device-skin
{
    background-image: url("images/horizontal.png");
}

.device-container.vertical
{
    bottom: -250px;
    left: -100px;
    width: 1600px;
    height: 1085px;
    padding: 2.5cm 18.22cm 16cm 16.14cm;
}

.device-container.horizontal
{
    bottom: -450px;
    width: 1600px;
    height: 1050px;
    padding: .78cm 14.24cm 19.56cm 14.38cm;
    left: -150px
}

.device-container.vertical iframe
{
    height: 490px;
}

.device-container.horizontal iframe
{
    height: 310px;
}

#address-bar
{
    display: none;
}

.device-container #navigate-back
{
    display: none;
}
