
        <div id="example" class="k-content">
            <script src="./jquery.tmpl.js"></script>
            <script src="./knockout-1.2.1.js"></script>
            <p> Choose a ticket class: <select id="ticket" style="vertical-align: middle" data-bind="options: tickets,
                optionsCaption: 'Choose...',
                optionsText: 'name',
                value: chosenTicket"></select>
            </p>
            <p data-bind="template: 'ticketTemplate'"></p>

            <script id="ticketTemplate" type="text/x-jquery-tmpl">
                {{if chosenTicket}}
                You have chosen <b>${ chosenTicket().name }</b>
                ($${ chosenTicket().price })
                <button data-bind="click: resetTicket">Clear</button>
                {{/if}}
            </script>
            <script>
                $(document).ready(function() {
                    var viewModel = {
                        tickets: [
                        { name: "Economy", price: 199.95 },
                        { name: "Business", price: 449.22 },
                        { name: "First Class", price: 1199.99 }
                        ],
                        chosenTicket: ko.observable(),
                        resetTicket: function() { this.chosenTicket(null) }
                    };

                    ko.applyBindings(viewModel);

                    $("#ticket").kendoDropDownList().trigger("change");
                });
            </script>
        </div>