        <script src="../../content/web/integration/jquery.tmpl.js"></script>
        <script src="../../content/web/integration/knockout-1.2.1.js"></script>

@section Description {
    This sample demonstrates the integration between Kendo UI and KnockoutJS libraries. KnockoutJS is used
    to bind the inputs while Kendo UI provides the widgets.
}

        <div id="example" class="k-content">
            <div id="options">
                Choose a ticket class:
                <select id="ticket" style="vertical-align: middle" data-bind="options: tickets,
                    optionsCaption: 'Choose...',
                    optionsText: 'name',
                    value: chosenTicket"></select>

                Departure:
                <input id="departure" data-bind="value: departure" />

                Quantity:
                <input id="quantity" data-bind="value: quantity" />
            </div>
            <hr/>
            <p data-bind="template: 'ticketTemplate'"></p>
            <script id="ticketTemplate" type="text/x-jquery-tmpl">
                {{if chosenTicket}}
                    <p> You have chosen: <b>${ chosenTicket().name }</b> ($${ chosenTicket().price }) </p>
                    <p>Departure: ${ kendo.toString(kendo.parseDate(departure()), "MM/dd/yyyy") } </p>
                    <p>Quantity: ${ quantity() } </p>
                    <p><button data-bind="click: resetTicket">Clear</button></p>
                {{else}}
                    No tickets...
                {{/if}}
            </script>
            <script>
                $(document).ready(function() {
                    var viewModel = {
                        tickets: [
                        { name: "Economy", price: 199.95 },
                        { name: "Business", price: 449.22 },
                        { name: "First Class", price: 1199.99 }
                        ],
                        chosenTicket: ko.observable(),
                        resetTicket: function() { this.chosenTicket(null) },
                        departure: ko.observable(new Date()),
                        quantity: ko.observable(1)
                    };

                    ko.applyBindings(viewModel);

                    $("#ticket").kendoDropDownList();
                    $("#ticket").bind("change", function() {
                        $(this).data("kendoDropDownList").select(this.selectedIndex);
                    });

                    $("#quantity").kendoNumericTextBox({
                        min: 1,
                        format: "n0",
                        decimals: 0
                    });

                    var departure = $("#departure").kendoDatePicker().data("kendoDatePicker");

                    departure.value(kendo.parseDate(departure.element.val()));
                });
            </script>
        </div>
