    <script src="../content/shared/js/products.js"></script>

        <div id="example">
            <div id="grid"></div>

            <script>
                $(document).ready(function() {
                    var grid = $("#grid").kendoGrid({
                        dataSource: {
                            data: products,
                            schema: {
                                model: {
                                    fields: {
                                        ProductName: { type: "string" },
                                        UnitPrice: { type: "number" },
                                        UnitsInStock: { type: "number" },
                                        Discontinued: { type: "boolean" }
                                    }
                                }
                            },
                            pageSize: 16
                        },
                        scrollable: false,
                        columns: [
                            "ProductName",
                            { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "130px" },
                            { field: "UnitsInStock", title: "Units In Stock", width: "130px" },
                            { field: "Discontinued", width: "130px" }
                        ]
                    }).data("kendoGrid");

                    grid.table.kendoSortable({
                        filter: ">tbody >tr",
                        hint: $.noop,
                        cursor: "move",
                        placeholder: function(element) {
                            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
                        },
                        container: "#grid tbody",
                        change: function(e) {
                            var skip = grid.dataSource.skip(),
                                oldIndex = e.oldIndex + skip,
                                newIndex = e.newIndex + skip,
                                data = grid.dataSource.data(),
                                dataItem = grid.dataSource.getByUid(e.item.data("uid"));

                            grid.dataSource.remove(dataItem);
                            grid.dataSource.insert(newIndex, dataItem);
                        }
                    });
                });
            </script>

            <style>
                .k-grid tbody tr {
                    cursor: move;
                }
            </style>
        </div>
