<div data-role="view" id="two-drawer-home" data-title="Yearbook">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="button" data-rel="drawer" href="#left-drawer" data-icon="drawer-button" data-align="left"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-rel="drawer" href="#right-drawer" data-icon="drawer-button" data-align="right"></a>
        </div>
    </header>

    <h1>Welcome Yearbook</h1>
</div>

<div data-role="drawer" id="left-drawer" style="width: 150px" data-title="My App" data-views="['two-drawer-home']">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </header>

    <ul data-role="listview" data-style="inset">
        <li>Home</li>
        <li>Settings</li>
    </ul>
</div>

<div data-role="drawer" id="right-drawer" style="width: 150px" data-position="right" data-title="Friends" data-views="['two-drawer-home']">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </header>

    <ul data-role="listview" data-style="inset">
        <li>Alice</li>
        <li>Bob</li>
    </ul>
</div>

<script>
    // reset global drawer instance, for demo purposes
    kendo.mobile.ui.Drawer.current = null;
</script>

<style>
    .km-drawer-button:before,
    .km-drawer-button:after  {
        content: "\E0F1";
    }
</style>
