<div kendo-mobile-application ng-app="kendoDemo">
<kendo-mobile-view k-title="'Tag Us!'" id="popover">
    <kendo-mobile-header>
        <kendo-mobile-nav-bar>
        <kendo-mobile-back-button class="nav-button" k-align="'left'">Back</kendo-mobile-back-button>
        <kendo-view-title></kendo-view-title>
        <kendo-mobile-button k-align="'right'" k-rel="'popover'" href="#popover-people">Select people</kendo-mobile-button>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>

    <div data-role="content">
        <img src="../content/mobile/shared/faces.jpg" />

        <kendo-mobile-pop-over id="popover-people" k-popup='{"height": "16em", "width": "20em"}'>
            <kendo-mobile-view k-title="'People'" ng-controller="people">
                <kendo-mobile-header>
                    <kendo-mobile-nav-bar>
                        <kendo-view-title></kendo-view-title>
                        <kendo-mobile-button k-align="'right'" k-on-click="closeParentPopover(kendoEvent)">Close</kendo-mobile-button>
                    </kendo-mobile-nav-bar>
                </kendo-mobile-header>
                <kendo-mobile-list-view>
                    <li><label>Isabella Anderson<input type="checkbox"></label></li>
                    <li><label>Josh Anderson<input type="checkbox"></label></li>
                    <li><label>Linda Anderson<input type="checkbox"></label></li>
                    <li><label>Oliver Anderson<input type="checkbox"></label></li>
                    <li><label>James Williams<input type="checkbox"></label></li>
                    <li><label>Barbara Williams<input type="checkbox"></label></li>
                </kendo-mobile-list-view>
            </kendo-mobile-view>
        </kendo-mobile-pop-over>

        <kendo-mobile-pop-over id="popover-location" k-popup='{"width": "20em"}'>
            <kendo-mobile-view ng-controller="people">
                <kendo-mobile-list-view k-on-click="closeParentPopover(kendoEvent)">
                    <li><label>Sydney, Australia <input name="location" type="radio"></label></li>
                    <li><label>New York, USA <input name="location" type="radio"></label></li>
                    <li><label>Miami, USA <input name="location" type="radio"></label></li>
                </kendo-mobile-list-view>
            </kendo-mobile-view>
        </kendo-mobile-pop-over>
    </div>


    <kendo-mobile-footer>
        <kendo-mobile-nav-bar>
            <kendo-mobile-button k-align="'right'" href="#popover-location" k-rel="'popover'">Select location</kendo-mobile-button>
        </kendo-mobile-nav-bar>
    </kendo-mobile-footer>
</kendo-mobile-view>

</div>

<script>
    angular.module("kendoDemo", [ "kendo.directives" ])
    .controller("people", function($scope) {
        $scope.closeParentPopover = function(e) {
            var popover = e.sender.element.closest('[data-role=popover]').data('kendoMobilePopOver');
            popover.close();
        }
    });
</script>

<style scoped>
    .km-ios #popover .km-view-title,
    .km-ios #popover-people .km-view-title
    {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.5);
    }

    .km-ios #popover .km-navbar,
    .km-root > * > #popover > .km-content
    {
        background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(255, 255, 255, 0.35)), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0))) #000;
    }

    .km-ios #popover .km-navbar .km-button
    {
        background-color: #000;
    }
</style>

