<div id="example" class="k-content">
    <div class="configuration-horizontal">
        <div class="config-section" style="width: 440px">
            <span class="configHead">Chart</span>
            <p>Hover some series</p>
            <div data-role="chart"
                 data-title="{ text: 'Spain electricity production' }"
                 data-legend="{ position: 'top' }"
                 data-series-defaults="{ type: 'column' }"
                 data-series="[
                                 { field: 'nuclear', name: 'Nuclear' },
                                 { field: 'hydro', name: 'Hydro' },
                                 { field: 'wind', name: 'Wind' }
                             ]"
                 data-bind="visible: isVisible,
                            source: electricity,
                            events: { seriesHover: onSeriesHover }"></div>
        </div>
        <div class="config-section" style="width: 200px">
            <div class="configHead">Console</div>
            <div class="console"></div>
        </div>
    </div>
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Configuration</span>
            <div>
                <label><input type="checkbox" data-bind="checked: isVisible">Visible</label>
            </div>
        </div>
        <div class="config-section" style="width: 440px">
            <span class="configHead">Information</span>
            Kendo UI Chart supports the
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/events">events</a>,
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/source">source</a> and
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
        </div>
    </div>
<script>
    function createChart() {
        var viewModel = kendo.observable({
            isVisible: true,
            onSeriesHover: function(e) {
                 kendoConsole.log(kendo.format("event :: seriesHover ({0} : {1})", e.series.name, e.value));
            },
            electricity: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "../../content/dataviz/js/spain-electricity.json",
                        dataType: "json"
                    }
                },
                sort: {
                    field: "year",
                    dir: "asc"
                }
            })
        });
        kendo.bind($("#example"), viewModel);
    }

    $(document).ready(createChart).bind("kendo:skinChange", createChart);

</script>
</div>
