
        <div id="example" class="k-content">
            <div class="chart-wrapper">
                <div id="chart"></div>
            </div>
            <script>
                function createChart() {
                    $("#chart").kendoChart({
                        theme: $(document).data("kendoSkin") || "default",
                        title: {
                            text: "Olympic Medals won by USA"
                        },
                        legend: {
                            visible: false
                        },
                        seriesDefaults: {
                            type: "bar",
                            stack: true
                        },
                        series: [{
                            name: "Gold Medals",
                            data: [46, 36, 35, 37, 44, 37],
                            color: "#f3ac32"
                        }, {
                            name: "Silver Medals",
                            data: [29, 38, 40, 24, 32, 34],
                            color: "#b8b8b8"
                        }, {
                            name: "Bronze Medals",
                            data: [29, 36, 26, 33, 25, 37],
                            color: "#bb6e36"
                        }],
                        valueAxis: {
                            max: 120,
                            line: {
                                visible: false
                            },
                            minorGridLines: {
                                visible: true
                            }
                        },
                        categoryAxis: {
                            categories: [2012, 2008, 2004, 2000, 1996, 1992],
                            majorGridLines: {
                                visible: false
                            }
                        },
                        tooltip: {
                            visible: true,
                            template: "#= series.name #: #= value #"
                        }
                    });
                }

                $(document).ready(function() {
                    setTimeout(function() {
                        // Initialize the chart with a delay to make sure
                        // the initial animation is visible
                        createChart();

                        $("#example").bind("kendo:skinChange", function(e) {
                            createChart();
                        });
                    }, 400);
                });
            </script>
        </div>
