// Calendar
.k-calendar {
    .fill(
        @calendar-text,
        @calendar-bg,
        @calendar-border
    );


    // Header
    > .k-header {
        .fill(
            @calendar-header-text,
            @calendar-header-bg,
            @calendar-header-border
        );
        .composite-background(@calendar-header-gradient);
    }

    > .k-header .k-button {
        color: inherit;
    }


    // Header cell
    th {
        .fill(
            @calendar-header-cell-text,
            @calendar-header-cell-bg,
            @calendar-header-cell-border
        );
    }


    // Week cell
    .k-alt {
        .fill(
            @calendar-week-cell-text,
            @calendar-week-cell-bg,
            @calendar-week-cell-border
        );
    }


    // Weekend
    .k-weekend {
        background-color: @calendar-weekend-cell-bg;
    }


    // Other month
    .k-other-month {
        color: @calendar-othermonth-cell-text;
        background-color: transparent;
    }

    // Out of range
    .k-out-of-range {
        pointer-events: none;
        visibility: hidden;
    }

    // Today
    .k-today {
        .k-link {
            color: @accent;
            box-shadow: inset 0 0 0 1px @accent;
        }
    }


    // States
    td.k-state-hover,
    td.k-hover {
        .k-link {
            .fill(
                @calendar-cell-hovered-text,
                @calendar-cell-hovered-bg,
                @calendar-cell-hovered-border
            );
            .composite-background(@hover-gradient);
        }
    }
    td.k-state-selected,
    td.k-selected {
        .k-link {
            .fill(
                @calendar-cell-selected-text,
                @calendar-cell-selected-bg,
                @calendar-cell-selected-border
            );
            .composite-background(@selected-gradient);
        }
    }
    td.k-state-focused,
    td.k-focus {
        .k-link {
            box-shadow: @calendar-cell-focused-shadow;
        }
    }

    .k-footer .k-nav-today,
    .k-calendar-header .k-nav-today {
        color: @link-text;

        &:hover,
        &:focus {
            color: @link-hovered-text;
        }
    }
}
