<div id="cities" data-role="view" data-title="Welcome">
    <div class="hero">Cities</div>
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>America
            <ul>
                <li data-icon="globe"><a href="../content/mobile/application/new-york.html">New York</a></li>
                <li data-icon="globe"><a href="../content/mobile/application/los-angeles.html">Los Angeles</a></li>
		<li data-icon="globe"><a href="../content/mobile/application/rio-de-janeiro.html">Rio de Janeiro</a></li>
		<li data-icon="globe"><a href="../content/mobile/application/chicago.html">Chicago</a></li>
            </ul>
        </li>
	<li>Europe
            <ul>
                <li data-icon="globe"><a href="../content/mobile/application/istanbul.html">Istanbul</a></li>
                <li data-icon="globe"><a href="../content/mobile/application/moscow.html">Moscow</a></li>
		<li data-icon="globe"><a href="../content/mobile/application/london.html">London</a></li>
		<li data-icon="globe"><a href="../content/mobile/application/berlin.html">Berlin</a></li>
            </ul>
        </li>
    </ul>
</div>
<style scoped>
#cities .hero {
    display: block;
    margin: 0;
    padding-left: .5em;
    height: 110px;
    line-height: 110px;
    font-size: 24px;
    color: rgba(0,0,0,.65);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    background: url(../content/mobile/shared/cityguide.jpg) no-repeat center center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
</style>
