<div class="demo-section">
    @(Html.Kendo().Menu()
        .Name("menu")
        .Items(items =>
        {
            items.Add()
                .Text("First Item")
                .Items(children =>
                {
                    children.Add().Text("Sub Item 1");
                    children.Add().Text("Sub Item 2");
                    children.Add().Text("Sub Item 3");
                    children.Add().Text("Sub Item 4");
                    children.Add().Text("Sub Item 5");
                });

            items.Add()
                 .Text("Second Item")
                 .Items(children =>
                 {
                     children.Add().Text("Sub Item 1");
                     children.Add().Text("Sub Item 2");
                     children.Add().Text("Sub Item 3");
                     children.Add().Text("Sub Item 4");
                     children.Add().Text("Sub Item 5");
                 });

            items.Add()
                .Text("Third Item")
                .Items(children =>
                {
                    children.Add().Text("Sub Item 1");
                    children.Add().Text("Sub Item 2");
                    children.Add().Text("Sub Item 3");
                    children.Add().Text("Sub Item 4");
                    children.Add().Text("Sub Item 5");
                });

            items.Add()
                 .Text("Fourth Item")
                 .Items(children =>
                 {
                     children.Add().Text("Sub Item 1");
                     children.Add().Text("Sub Item 2");
                     children.Add().Text("Sub Item 3");
                     children.Add().Text("Sub Item 4");
                     children.Add().Text("Sub Item 5");
                 });

            items.Add()
                .Text("Fifth Item")
                .Items(children =>
                {
                    children.Add().Text("Sub Item 1");
                    children.Add().Text("Sub Item 2");
                    children.Add().Text("Sub Item 3");
                    children.Add().Text("Sub Item 4");
                    children.Add().Text("Sub Item 5");
                });
        })
        .Events(e => e.Open("open").Close("close").Select("select").Activate("activate").Deactivate("deactivate"))
    )

    <br />
    <div id="context-target">
        Context Menu Target
    </div>

    @(Html.Kendo().ContextMenu()
        .Name("context-menu")
        .Target("#context-target")
        .Items(items =>
        {
            items.Add()
                .Text("Item 1")
                .Items(children =>
                {
                    children.Add().Text("Sub Item 1");
                    children.Add().Text("Sub Item 2");
                    children.Add().Text("Sub Item 3");
                });

            items.Add()
                 .Text("Item 2")
                 .Items(children =>
                 {
                     children.Add().Text("Sub Item 1");
                     children.Add().Text("Sub Item 2");
                     children.Add().Text("Sub Item 3");
                 });

            items.Add()
                .Text("Item 3")
                .Items(children =>
                {
                    children.Add().Text("Sub Item 1");
                    children.Add().Text("Sub Item 2");
                    children.Add().Text("Sub Item 3");
                });
        })
        .Events(e => e.Open("open").Close("close").Select("select").Activate("activate").Deactivate("deactivate"))
    )
</div>
<div class="demo-section">
    <h3 class="title">Console log
    </h3>
    <div class="console"></div>
</div>
<script>
    function open(e) {
        kendoConsole.log("Opened: " + ($(e.item).children(".k-link").text() || "ContextMenu"));
    }

    function close(e) {
        kendoConsole.log("Closed: " + ($(e.item).children(".k-link").text() || "ContextMenu"));
    }

    function select(e) {
        kendoConsole.log("Selected: " + $(e.item).children(".k-link").text());
    }

    function activate(e) {
        kendoConsole.log("Activated: " + ($(e.item).children(".k-link").text() || "ContextMenu"));
    }

    function deactivate(e) {
        kendoConsole.log("Deactivated: " + ($(e.item).children(".k-link").text() || "ContextMenu"));
    }
</script>

<style scoped>
    #context-target {
        height: 50px;
        border: 1px solid red;
    }
</style>
