
        <div id="example" class="k-content">
            <input id="datetimepicker"/>
            <script>
                $(document).ready(function() {
                    function onOpen() {
                        kendoConsole.log("Open");
                    }

                    function onClose() {
                        kendoConsole.log("Close");
                    }

                    function onChange() {
                        kendoConsole.log("Change :: " + kendo.toString(this.value(), 'g'));
                    }

                    $("#datetimepicker").kendoDateTimePicker({
                        change: onChange,
                        close: onClose,
                        open: onOpen
                    });
                });
            </script>
        </div>
        <div class="console"></div>
