
        <div id="example" class="k-content">

            <div class="k-rtl">
                <input id="datetimepicker" />
            </div>

            <script>
                $(document).ready(function() {
                    $("#datetimepicker").kendoDateTimePicker();
                });
           </script>
        </div>