<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
    <div class="demo-section">
        <div class="box-col" style="width: 500px;">
            <h4>Barcode</h4>
            <span kendo-barcode
                  k-type="'code128'"
                  ng-model="barcode"
                  style="width: 180px"></span>
        </div>
    </div>
    <div class="box">
        <div class="box-col" style="width: 500px;">
            <h4>Value</h4>
            <input ng-model="barcode" />
        </div>
    </div>
    </div>
<script>
    angular.module("KendoDemos", [ "kendo.directives" ]);

    function MyCtrl($scope) {
        $scope.barcode = "Cheese";
    }
</script>
</div>
