<div id="example">
    <div class="demo-section">
        <div class="box-col" style="width: 500px;">
            <h4>Barcode</h4>
            <span data-role="barcode"
                  data-type="code128"
                  data-bind="value: barcode"
                  style="width: 180px"></span>
        </div>
    </div>
    <div class="box">
        <div class="box-col" style="width: 500px;">
            <h4>Value</h4>
            <input data-bind="value: barcode" data-value-update="keyup">
        </div>
        <div class="box-col">
            <h4>Information</h4>
            Kendo UI Barcode supports the
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/value">value</a> binding.
        </div>
    </div>
<script>
    function createBarcode() {
        var viewModel = kendo.observable({
            barcode: "Cheese"
        });
        kendo.bind($("#example"), viewModel);
    }
    $(document).ready(createBarcode).bind("kendo:skinChange", createBarcode);
</script>
</div>
