<div id="example" ng-app="KendoDemos">
    <div  ng-controller="MyCtrl">
        <div class="demo-section k-content">
            <div class="box-col" style="width: 300px">
                <h4>Linear Gauge</h4>
                <span kendo-radialgauge
                    k-scale="{ min:0, max: 100}"
                    ng-model="selectedNumber"
                    ></span>
            </div>
            <div class="box-col" style="width: 300px">
                <h4>Value</h4>
                <input kendo-slider k-min="0" k-max="100" k-small-step="10" k-large-step="20" ng-model="selectedNumber">
            </div>
        </div>
    </div>
<script>
    angular.module("KendoDemos", [ "kendo.directives" ]);

    function MyCtrl($scope) {
        $scope.selectedNumber = 10;
    }
</script>
</div>
