<div id="example" ng-app="KendoDemos">
    <div class="demo-section k-content" ng-controller="MyCtrl" style="width: 500px;">
        <h4>Mobile buttons</h4>
        <p>
            <button kendo-mobile-button k-on-click="click()">Regular button</button> 
            <button kendo-mobile-button k-icon="'home'" k-on-click="click()">Icon button</button>
        </p>
    </div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ]);
function MyCtrl($scope) {
  $scope.click = function() {
    alert("Clicked");
  };
}

</script>
