<div data-role="view" id="button-events" data-title="Button Events">
    <a id="mobile-button1" data-click="logClick" data-role="button" style="display: block; margin: 2em; text-align: center;">Trigger Event 1</a>
    <a id="mobile-button2" data-click="logClick" data-role="button" style="display: block; margin: 2em; text-align: center;">Trigger Event 2</a>
    <a id="mobile-button3" data-click="logClick" data-role="button" style="display: block; margin: 2em; text-align: center;">Trigger Event 3</a>
    <div class="console"></div>
</div>

<script>
    function logClick(e) {
        kendoConsole.log(this.element.prop("id") + " was clicked!", false, "#button-events");
    }
</script>
