@(Html.Kendo().NumericTextBox()
        .Name("numerictextbox")
        .ClientEvents(e => e
             .Change("onChange")
             .Spin("onSpin")
        )
)
<script>
    function onChange() {
        kendoConsole.log("Change :: " + this.value());
    }

    function onSpin() {
        kendoConsole.log("Spin :: " + this.value());
    }
</script>

<div class="console"></div>