
<div class="demo-section">
    @(Html.Kendo().NumericTextBox()
        .Name("numerictextbox")
        .Events(e => e
             .Change("change")
             .Spin("spin")
        )
    )
</div>            
<div class="demo-section">
    <h3 class="title">Console log</h3>
    <div class="console"></div>
</div>

<script>
    function change() {
        kendoConsole.log("Change :: " + this.value());
    }

    function spin() {
        kendoConsole.log("Spin :: " + this.value());
    }
</script>
