@(Html.Kendo().NumericTextBox()
        .Name("numerictextbox")
        .Events(e => e
             .Change("change")
             .Spin("spin")
        )
)
<script>
    function change() {
        kendoConsole.log("Change :: " + this.value());
    }

    function spin() {
        kendoConsole.log("Spin :: " + this.value());
    }
</script>

<div class="console"></div>