<div class="demo-section k-rtl">
    <h2>Set Value</h2>
    @(Html.Kendo().NumericTextBox<decimal>()
          .Name("numerictextbox")
    )
</div>

<style scoped>
    .demo-section {
        width: 250px;
        margin: 35px auto 50px;
        padding: 30px;
    }
    .demo-section h2 {
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
</style>