<div data-role="view" data-title="Badges" id="buttongroup-badges">
    <br />
    <ul data-role="buttongroup" data-index="0">
        <li data-icon="home" data-badge="23">Housing</li>
        <li data-icon="volume" data-badge="5">Sound Check</li>
    </ul>
</div>
