<div data-role="view" data-init="mobileButtonGroupEventsInit" data-title="ButtonGroup Events">
    <ul id="button-group" data-role="buttongroup">
       <li data-icon="featured">
            Featured
       </li>
       <li data-icon="toprated">
            Top Rated
       </li>
       <li data-icon="mostviewed">
            Most Viewed
       </li>
    </ul>
    <div class="console"></div>
</div>

<script>
    function mobileButtonGroupEventsInit() {
        $("#button-group")
            .data("kendoMobileButtonGroup")
            .bind("select", function() {
                console.log(this.current().text());
                kendoConsole.log("Selected button: " + this.current().text());
            });
    }
</script>
