<div data-role="view" id="home" data-title="Mobile Button Group &ndash; Basic Usage">
    <ul data-role="buttongroup">
        <li data-icon="featured">
            test1
        </li>
        <li>
            test2
        </li>
        <li>
            test3
        </li>
    </ul>
</div>
