<div id="example" class="k-content absConf">
    <div class="map-wrapper" style="margin: auto;">
        <div id="map"></div>
    </div>
    <script>
        function createMap() {
            $("#map").kendoMap({
                center: [51.505, -0.09],
                zoom: 11,
                layers: [{
                    type: "bing",
                    // IMPORTANT: This key is locked to demos.kendoui.com
                    // Please replace with your own Bing Key
                    key: "AjQF548guEF8MWgEspVokNny7l_GULKsZ81tR-LvPK96Bm3REkCjNHs2aC_b7nvF"
                }]
            });
        }

        $(document).ready(createMap);
    </script>
</div>
