<div id="example" class="k-content absConf">
    <div class="map-wrapper" style="margin: auto;">
        <div id="map"></div>
    </div>
    <script src="../../content/dataviz/map/js/chroma.min.js"></script>
    <script>
        function createMap() {
            $("#map").kendoMap({
                center: [39.6924, -97.3370],
                zoom: 4,
                layers: [{
                    type: "shape",
                    dataSource: {
                        type: "geojson",
                        transport: {
                            read: "../../content/dataviz/map/us.geo.json"
                        }
                    },
                    style: {
                        stroke: {
                            color: "#ccebc5"
                        },
                        fill: {
                            color: "#b3cde3"
                        }
                    }
                }],
                click: onClick,
                reset: onReset,
                pan: onPan,
                panEnd: onPanEnd,
                shapeClick: onShapeClick,
                shapeCreated: onShapeCreated,
                shapeMouseEnter: onShapeMouseEnter,
                shapeMouseLeave: onShapeMouseLeave,
                zoomStart: onZoomStart,
                zoomEnd: onZoomEnd
            });
        }

        function onClick(e) {
            kendoConsole.log(kendo.format(
                "Click at :: {0}", e.location.toString()
            ));
        }

        function onReset(e) {
            kendoConsole.log("Reset");
        }

        function onPan(e) {
            kendoConsole.log(kendo.format(
                "Pan to :: {0}", e.center.toString()
            ));
        }

        function onPanEnd(e) {
            kendoConsole.log(kendo.format(
                "Pan ended at :: {0}", e.center.toString()
            ));
        }

        function onShapeClick(e) {
            kendoConsole.log(kendo.format(
                "Shape click :: {0}", e.shape.dataItem.properties.name
            ));
        }

        function onShapeCreated(e) {
            kendoConsole.log(kendo.format(
                "Shape created :: {0}", e.shape.dataItem.properties.name
            ));
        }

        function onShapeMouseEnter(e) {
            kendoConsole.log(kendo.format(
                "Shape mouseEnter :: {0}", e.shape.dataItem.properties.name
            ));
        }

        function onShapeMouseLeave(e) {
            kendoConsole.log(kendo.format(
                "Shape mouseLeave :: {0}", e.shape.dataItem.properties.name
            ));
        }        

        function onZoomStart(e) {
            kendoConsole.log("Zoom start");
        }

        function onZoomEnd(e) {
            kendoConsole.log("Zoom end");
        }

        $(document).ready(createMap);
    </script>
    <div class="demo-section">
        <h3 class="title">Console log</h3>
        <div class="console"></div>
    </div>
    <style scoped>
        .demo-section {
            width: 700px;
        }
    </style>
</div>
