<div id="example" class="k-content absConf">
    <div class="map-wrapper" style="margin: auto;">
        <div id="map"></div>
    </div>
    <script src="../../content/dataviz/map/js/chroma.min.js"></script>
    <script>
        function createMap() {
            $("#map").kendoMap({
                center: [39.6924, -97.3370],
                zoom: 4,
                layers: [{
                    type: "shape",
                    dataSource: {
                        type: "geojson",
                        transport: {
                            read: "../../content/dataviz/map/us.geo.json"
                        }
                    },
                    style: {
                        stroke: {
                            color: "#aaa"
                        }
                    }
                }],
                shapeCreated: onShapeCreated,
                shapeMouseEnter: onShapeMouseEnter,
                shapeMouseLeave: onShapeMouseLeave
            });
        }

        function onShapeCreated(e) {
            kendoConsole.log(kendo.format(
                "Shape created :: {0}", e.shape.dataItem.properties.name
            ));
        }

        function onShapeMouseEnter(e) {
            kendoConsole.log(kendo.format(
                "Shape mouseEnter :: {0}", e.shape.dataItem.properties.name
            ));
        }

        function onShapeMouseLeave(e) {
            kendoConsole.log(kendo.format(
                "Shape mouseLeave :: {0}", e.shape.dataItem.properties.name
            ));
        }        

        $(document).ready(createMap);
    </script>
    <div class="demo-section">
        <h3 class="title">Console log</h3>
        <div class="console"></div>
    </div>
    <style scoped>
        .demo-section {
            width: 700px;
        }
    </style>
</div>
