<div id="example" class="k-content absConf">
    <div class="map-wrapper" style="margin: auto;">
        <div id="map"></div>
    </div>
    <script>
        function createMap() {
            $("#map").kendoMap({
                center: [51.505, -0.09],
                zoom: 4,
                layers: [{
                    type: "tile",
                    urlTemplate: "http://tile2.opencyclemap.org/transport/#= zoom #/#= x #/#= y #.png",
                    attribution: "&copy; <a href='http://osm.org/copyright'>OpenStreetMap</a> contributors"
                }]
            });
        }

        $(document).ready(createMap);
    </script>
</div>
