<div class="demo-section k-header">
    <div class="box-col">
	    <h4>Choose Extra Equipment</h4>
        <ul>
            <li>
    	        <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
			        <label class="k-checkbox-label" for="eq1">Rear side airbags</label>
            </li>
            <li>
    	        <input type="checkbox" id="eq2" class="k-checkbox" checked="checked" disabled="disabled">
			        <label class="k-checkbox-label" for="eq2">Chrome roof rails</label>
            </li>
            <li>
    	        <input type="checkbox" id="eq3" class="k-checkbox">
			        <label class="k-checkbox-label" for="eq3">Luggage compartment cover</label>
            </li>
            <li>
    	        <input type="checkbox" id="eq4" class="k-checkbox">
			        <label class="k-checkbox-label" for="eq4">Heated front and rear seats</label>
            </li>
            <li>
    	        <input type="checkbox" id="eq5" class="k-checkbox">
			        <label class="k-checkbox-label" for="eq5">Dual-zone air conditioning</label>
            </li>
            <li>
    	        <input type="checkbox" id="eq6" class="k-checkbox">
			        <label class="k-checkbox-label" for="eq6">Rain sensor</label>
            </li>
            <li>
    	        <input type="checkbox" id="eeeeq4" class="k-checkbox" disabled="disabled">
			        <label class="k-checkbox-label" for="eeeeq4">Towbar preparation</label>
            </li>
        </ul>
    </div>
</div>  