<div id="example">
    <div id="icons">
        <div class="demo-section k-header">
            <h4>Normal icons, prefixed with .k-i-</h4>
            <ul>
                <li>
                    <span class="k-icon k-i-arrow-n"></span>
                    arrow-n
                </li>
                <li>
                    <span class="k-icon k-i-arrow-e"></span>
                    arrow-e
                </li>
                <li>
                    <span class="k-icon k-i-arrow-s"></span>
                    arrow-s
                </li>
                <li>
                    <span class="k-icon k-i-arrow-w"></span>
                    arrow-w
                </li>
                <li>
                    <span class="k-icon k-i-seek-n"></span>
                    seek-n
                </li>
                <li>
                    <span class="k-icon k-i-seek-e"></span>
                    seek-e
                </li>
                <li>
                    <span class="k-icon k-i-seek-s"></span>
                    seek-s
                </li>
                <li>
                    <span class="k-icon k-i-seek-w"></span>
                    seek-w
                </li>
                <li>
                    <span class="k-icon k-i-arrowhead-n"></span>
                    arrowhead-n
                </li>
                <li>
                    <span class="k-icon k-i-arrowhead-e"></span>
                    arrowhead-e
                </li>
                <li>
                    <span class="k-icon k-i-arrowhead-s"></span>
                    arrowhead-s
                </li>
                <li>
                    <span class="k-icon k-i-arrowhead-w"></span>
                    arrowhead-w
                </li>
                <li>
                    <span class="k-icon k-i-expand"></span>
                    expand
                </li>
                <li>
                    <span class="k-icon k-i-collapse"></span>
                    collapse
                </li>
                <li>
                    <span class="k-icon k-i-expand-w"></span>
                    expand-w
                </li>
                <li>
                    <span class="k-icon k-i-collapse-w"></span>
                    collapse-w
                </li>
                <li>
                    <span class="k-icon k-i-plus"></span>
                    plus
                </li>
                <li>
                    <span class="k-icon k-i-tick"></span>
                    tick
                </li>
                <li>
                    <span class="k-icon k-i-close"></span>
                    close
                </li>
                <li>
                    <span class="k-icon k-i-pencil"></span>
                    pencil
                </li>
                <li>
                    <span class="k-icon k-i-cancel"></span>
                    cancel
                </li>
                <li>
                    <span class="k-icon k-i-funnel"></span>
                    funnel
                </li>
                <li>
                    <span class="k-icon k-i-funnel-clear"></span>
                    funnel-clear
                </li>
                <li>
                    <span class="k-icon k-i-calendar"></span>
                    calendar
                </li>
                <li>
                    <span class="k-icon k-i-clock"></span>
                    clock
                </li>
                <li>
                    <span class="k-icon k-i-search"></span>
                    search
                </li>
                <li>
                    <span class="k-icon k-i-refresh"></span>
                    refresh
                </li>
                <li>
                    <span class="k-icon k-i-exception"></span>
                    exception
                </li>
                <li>
                    <span class="k-icon k-i-restore"></span>
                    restore
                </li>
                <li>
                    <span class="k-icon k-i-maximize"></span>
                    maximize
                </li>
                <li>
                    <span class="k-icon k-i-minimize"></span>
                    minimize
                </li>
                <li>
                    <span class="k-icon k-i-pin"></span>
                    pin
                </li>
                <li>
                    <span class="k-icon k-i-unpin"></span>
                    unpin
                </li>
                <li>
                    <span class="k-icon k-resize-se"></span>
                    resize-se
                </li>
                <li>
                    <span class="k-icon k-i-custom"></span>
                    custom
                </li>
                <li>
                    <span class="k-icon k-i-insert-n"></span>
                    insert-n
                </li>
                <li>
                    <span class="k-icon k-i-insert-m"></span>
                    insert-m
                </li>
                <li>
                    <span class="k-icon k-i-insert-s"></span>
                    insert-s
                </li>
                <li>
                    <span class="k-icon k-i-note"></span>
                    note
                </li>
                <li>
                    <span class="k-icon k-i-folder-add"></span>
                    folder-add
                </li>
                <li>
                    <span class="k-icon k-i-folder-up"></span>
                    folder-up
                </li>
                <li>
                    <span class="k-icon k-i-lock"></span>
                    lock
                </li>
                <li>
                    <span class="k-icon k-i-unlock"></span>
                    unlock
                </li>
                <li>
                    <span class="k-icon k-i-hbars"></span>
                    hbars
                </li>
                <li>
                    <span class="k-icon k-i-vbars"></span>
                    vbars
                </li>
                <li>
                    <span class="k-icon k-i-sum"></span>
                    sum
                </li>
                <li>
                    <span class="k-icon k-i-excel"></span>
                    excel
                </li>
                <li>
                    <span class="k-icon k-i-pdf"></span>
                    pdf
                </li>
                <li>
                    <span class="k-icon k-i-undo"></span>
                    undo
                </li>
                <li>
                    <span class="k-icon k-i-redo"></span>
                    redo
                </li>
                <li>
                    <span class="k-icon k-i-sort-asc"></span>
                    sort-asc
                </li>
                <li>
                    <span class="k-icon k-i-sort-desc"></span>
                    sort-desc
                </li>
                <li>
                    <span class="k-icon k-i-group"></span>
                    group
                </li>
                <li>
                    <span class="k-icon k-i-ungroup"></span>
                    ungroup
                </li>
                <li>
                    <span class="k-icon k-i-columns"></span>
                    columns
                </li>
                <li>
                    <span class="k-icon k-i-rotatecw"></span>
                    rotatecw
                </li>
                <li>
                    <span class="k-icon k-i-rotateccw"></span>
                    rotateccw
                </li>
                <li>
                    <span class="k-icon k-i-shape"></span>
                    shape
                </li>
                <li>
                    <span class="k-icon k-i-connector"></span>
                    connector
                </li>
                <li>
                    <span class="k-icon k-i-dimension"></span>
                    dimension
                </li>
                <li>
                    <span class="k-icon k-i-kpi"></span>
                    kpi
                </li>
            </ul>
        </div>
        <div class="demo-section k-header">
            <h4>Small icons, prefixed with .k-si-</h4>
            <ul>
                <li>
                    <span class="k-icon k-si-arrow-n"></span>
                    arrow-n
                </li>
                <li>
                    <span class="k-icon k-si-arrow-e"></span>
                    arrow-e
                </li>
                <li>
                    <span class="k-icon k-si-arrow-s"></span>
                    arrow-s
                </li>
                <li>
                    <span class="k-icon k-si-arrow-w"></span>
                    arrow-w
                </li>
                <li>
                    <span class="k-icon k-si-tick"></span>
                    tick
                </li>
                <li>
                    <span class="k-icon k-si-refresh"></span>
                    refresh
                </li>
                <li>
                    <span class="k-icon k-si-cancel"></span>
                    cancel
                </li>
                <li>
                    <span class="k-icon k-si-plus"></span>
                    plus
                </li>
                <li>
                    <span class="k-icon k-si-minus"></span>
                    minus
                </li>
            </ul>
        </div>
    </div>
    <style scoped>
        #icons ul
        {
            margin: 20px auto 0;
            display: block;
            overflow: hidden;
            text-align: center;
            -webkit-columns: 7;
            -moz-columns: 7;
            columns: 7;
            text-align: left;
        }

        #icons li
        {
            vertical-align: middle;
            padding: 10px 0;
            list-style: none;
            font-size: 12px;
            min-width: 110px;
        }
        .k-icon {
            margin-right: 5px;
        }
    </style>
</div>
