<div id="example">
    <div class="demo-section k-header">
	    <div class="box-col">
		    <h4>Select Car Engine</h4>
            <ul>
              <li>
    		      <input type="radio" name="engine" id="engine1" class="k-radio" checked="checked">
				  <label class="k-radio-label" for="engine1">1.4 Petrol, 92kW</label>
              </li>
    	      <li>
                  <input type="radio" name="engine" id="engine2" class="k-radio">
                  <label class="k-radio-label" for="engine2">1.8 Petrol, 118kW</label>
              </li>
              <li>
                  <input type="radio" name="engine" id="engine3" class="k-radio">
                  <label class="k-radio-label" for="engine3">2.0 Petrol, 147kW</label>
              </li>
              <li>
                  <input type="radio" name="engine" id="engine4" class="k-radio" disabled="disabled">
                  <label class="k-radio-label" for="engine4">3.6 Petrol, 191kW</label>
              </li>
              <li>
                  <input type="radio" name="engine" id="engine5" class="k-radio">
                  <label class="k-radio-label" for="engine5">1.6 Diesel, 77kW</label>
              </li>
              <li>
                  <input type="radio" name="engine" id="engine6" class="k-radio">
                  <label class="k-radio-label" for="engine6">2.0 Diesel, 103kW</label>
              </li>
              <li>
                  <input type="radio" name="engine" id="engine7" class="k-radio" disabled="disabled">
                  <label class="k-radio-label" for="engine7">2.0 Diesel, 125kW</label>
              </li>
            </ul>
	    </div>
    </div>
    <style scoped>
	.demo-section.k-header {
	    background-image: url('../content/web/tabstrip/bmw.png');
	    background-repeat: no-repeat;
	    background-position: 55px 45px;
	    width: 200px;
	    padding-left: 515px;
	    padding-top: 80px;
	    height: 245px;
	}
    </style>
</div>