<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<staticContent>
            <remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
		</staticContent>
	</system.webServer>
</configuration>
