// Solid
each( @theme-colors, {
    @name: @key;
    @color: @value;

    .k-bottom-nav-solid.k-bottom-nav-@{name} {
        .fill(
            @text: mix( @color, contrast( @color ), 35%),
            @bg: @color
        );

        .k-bottom-nav-item.k-state-selected,
        .k-bottom-nav-item.k-selected,
        .k-bottom-nav-item.k-state-active,
        .k-bottom-nav-item.k-active,
        .k-bottom-nav-item:active {
            .fill(
                @text: contrast( @color ),
                @bg: inherit
            );
            .box-shadow(none);
            background-image: none;

        }

        .k-bottom-nav-item.k-state-focus,
        .k-bottom-nav-item.k-focus,
        .k-bottom-nav-item.k-state-focused,
        .k-bottom-nav-item.k-focus,
        .k-bottom-nav-item:focus {
            .fill( @bg: rgba( mix( @color, contrast( @color ), 35%), .2));
        }
    }
});

.k-bottom-nav-solid .k-bottom-nav-item.k-state-disabled,
.k-bottom-nav-solid .k-bottom-nav-item.k-disabled {
    color: inherit;
}

// Flat
.k-bottom-nav-flat {
    .fill(
        @bottom-nav-flat-text,
        @bottom-nav-flat-bg,
        @bottom-nav-flat-border
    );

    each( @theme-colors, {
        @name: @key;
        @color: @value;

        &.k-bottom-nav-@{name} .k-bottom-nav-item.k-state-selected,
        &.k-bottom-nav-@{name} .k-bottom-nav-item.k-selected,
        &.k-bottom-nav-@{name} .k-bottom-nav-item.k-state-active,
        &.k-bottom-nav-@{name} .k-bottom-nav-item.k-active,
        &.k-bottom-nav-@{name} .k-bottom-nav-item:active {
            .box-shadow(none);
            background-color: inherit;
            background-image: none;

            & when (@name = light) {
                .fill( @text: shade(@color, 20%) );
            }

            & when not (@name = light) {
                .fill( @text: @color );
            }
        }
    });

    .k-bottom-nav-item.k-state-focus,
    .k-bottom-nav-item.k-focus,
    .k-bottom-nav-item.k-state-focused,
    .k-bottom-nav-item.k-focus,
    .k-bottom-nav-item:focus,
    .k-bottom-nav-item.k-state-focus.k-state-selected,
    .k-bottom-nav-item.k-focus.k-state-selected,
    .k-bottom-nav-item.k-state-focus.k-selected,
    .k-bottom-nav-item.k-focus.k-selected,
    .k-bottom-nav-item.k-state-focused.k-state-selected,
    .k-bottom-nav-item.k-focus.k-state-selected,
    .k-bottom-nav-item.k-state-focused.k-selected,
    .k-bottom-nav-item.k-focus.k-selected,
    .k-bottom-nav-item.k-state-selected:focus,
    .k-bottom-nav-item.k-selected:focus  {
        .fill( @bg: rgba(@bottom-nav-flat-text, .05) );
    }
}

// Legacy
.k-ie .k-bottom-nav-item {
    background-color: transparent;
}


