<div id="example" ng-app="KendoDemos">
    <div class="demo-section k-content" ng-controller="MyCtrl">
    <h4>Select date and time:</h4>
      <input kendo-date-time-picker
             ng-model="str"
             k-ng-model="obj" />
<pre>
  str: {{ str }}
  obj: {{ obj }}
  typeof obj: {{ getType(obj) }}
  obj instanceof Date: {{ isDate(obj) }}
</pre>
</div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ]);

  function MyCtrl($scope) {
      $scope.getType = function(x) {
          return typeof x;
      };
      $scope.isDate = function(x) {
          return x instanceof Date;
      };
  }
</script>
