
        <div id="example">
            <div class="demo-section k-header k-rtl" style="width: 400px;">
                <h4>Select time</h4>
                <input id="timepicker" />
            </div>

            <script>
                $(document).ready(function() {
                    $("#timepicker").kendoTimePicker();
                });
           </script>
        </div>