
        <div id="example" class="k-content">
            <div class="k-rtl">
                <input id="timepicker" />
            </div>

            <script>
                $(document).ready(function() {
                    $("#timepicker").kendoTimePicker();
                });
           </script>
        </div>