
        <div id="example">
            <div class="demo-section k-header k-rtl">
                <h4>RTL Slider</h4>
                <input id="slider" class="temperature" />
            </div>

            <div class="demo-section k-header k-rtl">
                <h4>RTL RangeSlider</h4>
                <div id="rangeslider" class="humidity">
                    <input />
                    <input />
                </div>
            </div>
                
            

            <script>
                $(document).ready(function() {
                    $("#slider").kendoSlider({
                        min: 0,
                        max: 30,
                        smallStep: 1,
                        largeStep: 10,
                        value: 18
                    });

                    $("#rangeslider").kendoRangeSlider({
                        min: 0,
                        max: 10,
                        smallStep: 1,
                        largeStep: 2,
                        tickPlacement: "both"
                    });
                });
            </script>
            
            <style scoped>
                .demo-section {
                    width: 400px;
                }
            </style>
        </div>