
        <div id="example" class="k-content">
            <div class="demo-section k-rtl">
                <h3>RTL Slider</h3>
                <input id="slider" class="temperature" />
                <h3>RTL RangeSlider</h3>
                <div id="rangeslider" class="humidity">
                    <input />
                    <input />
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $("#slider").kendoSlider({
                        min: 0,
                        max: 30,
                        smallStep: 1,
                        largeStep: 10,
                        value: 18
                    });

                    $("#rangeslider").kendoRangeSlider({
                        min: 0,
                        max: 10,
                        smallStep: 1,
                        largeStep: 2,
                        tickPlacement: "both"
                    });
                });
            </script>
            
            <style scoped>
                .demo-section {
                    width: 400px;
                    padding: 0 30px 40px;
                }
                .demo-section h3 {
                    padding: 30px 0 10px;
                }
                #textButton, #disabledButton {
                    width: 150px;
                }
            </style>
        </div>