// Timeline

.k-timeline {
    .k-timeline-flag {
        background-color: @timeline-flag-background;
        color: @timeline-flag-text;
    }

    .k-timeline-circle {
        background-color: @timeline-circle-color;
    }

    .k-timeline-card {
        .k-card-header {
            background-color: @card-bg;
            color: @card-text;
        }

        .k-card-body {

            // Scrollbar styles for Mozilla
            scrollbar-color: @card-border @card-bg;

            // Scrollbar styles for Chrome, Safari and Opera
            &::-webkit-scrollbar-track {
                background: @card-bg;
            }

            &::-webkit-scrollbar-thumb {
                background: @card-border;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: @button-hover-border-color;
            }
        }
    }

    .k-timeline-date {
        color: @normal-text-color;
    }

    .k-timeline-arrow {
        &.k-button:not(.k-button-flat):not(.k-bare):not(.k-button-outline):not(.k-overflow-button).k-state-disabled,
        &.k-button:not(.k-button-flat):not(.k-bare):not(.k-button-outline):not(.k-overflow-button).k-disabled {
            opacity: 1; // The arrow button in disabled mode should have a solid background
            color: @timeline-track-arrow-disabled-text;
            background-color: @timeline-track-arrow-disabled-bg;
            border-color: @timeline-track-arrow-disabled-border;
        }
    }
}

.k-timeline-vertical,
.k-timeline-horizontal .k-timeline-track-wrap {
    &::after {
        background-color: @timeline-track-bg;
        border-color: @timeline-track-border-color;
    }
}

.k-timeline-horizontal .k-timeline-flag::after {
    background-color: @timeline-flag-background;
}

.k-timeline-track-item.k-state-focus .k-timeline-circle,
.k-timeline-track-item.k-focus .k-timeline-circle {
    .box-shadow( @timeline-track-item-focus-shadow );
}
