<div data-role="splitview" id="appearance" data-style="vertical">
    <div id="main-panel" data-role="pane" data-layout="side-default">
        <div data-role="view" data-title="Photo Gallery">
        </div>

        <div data-role="layout" data-id="side-default" data-show="toggleBackButton">
            <div data-role="header">
                <div data-role="navbar">
                    <a id="back-button" class="nav-button" data-align="left" data-role="backbutton" data-target="_top">Back</a>
                    <span data-role="view-title"></span>
                </div>
            </div>
        </div>
    </div>

    <div data-role="pane" id="bottom-panel">
        <div data-role="view" id="side-root">
            <div id="scrollview-container">
                <div data-role="scrollview" data-page="0">
                    <div class="photo photo1">
                    </div><div class="photo photo2">
                    </div><div class="photo photo3">
                    </div><div class="photo photo4">
                    </div><div class="photo photo5">
                    </div><div class="photo photo6">
                    </div><div class="photo photo7">
                    </div><div class="photo photo8">
                    </div><div class="photo photo9">
                    </div><div class="photo photo10">
                    </div><div class="photo photo11">
                    </div><div class="photo photo12">
                    </div><div class="photo photo13">
                    </div><div class="photo photo14">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on("click", ".photo", function () {
        $("#main-panel").find(".km-content").css("background-image", $(this).css("background-image").replace("220/", ""));
    });
</script>

<style scoped>
    #bottom-panel {
        height: 140px;
    }

    #scrollview-container .photo {
        margin: 1px;
        width: 99px;
        height: 99px;
        display: inline-block;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .photo1 {background-image: url("../../content/shared/images/photos/220/1.jpg");}
    .photo2 {background-image: url("../../content/shared/images/photos/220/2.jpg");}
    .photo3 {background-image: url("../../content/shared/images/photos/220/3.jpg");}
    .photo4 {background-image: url("../../content/shared/images/photos/220/4.jpg");}
    .photo5 {background-image: url("../../content/shared/images/photos/220/5.jpg");}
    .photo6 {background-image: url("../../content/shared/images/photos/220/6.jpg");}
    .photo7 {background-image: url("../../content/shared/images/photos/220/7.jpg");}
    .photo8 {background-image: url("../../content/shared/images/photos/220/8.jpg");}
    .photo9 {background-image: url("../../content/shared/images/photos/220/9.jpg");}
    .photo10 {background-image: url("../../content/shared/images/photos/220/10.jpg");}
    .photo11 {background-image: url("../../content/shared/images/photos/220/11.jpg");}
    .photo12 {background-image: url("../../content/shared/images/photos/220/12.jpg");}
    .photo13 {background-image: url("../../content/shared/images/photos/220/13.jpg");}
    .photo14 {background-image: url("../../content/shared/images/photos/220/14.jpg");}

    #main-panel .km-content
    {
        background-image: url("../../content/shared/images/photos/1.jpg");
        background-position: 50% 50%;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    #main-panel {
        -webkit-box-flex: 1000;
        -moz-box-flex: 1000;
        -moz-flex: 1000;
        -webkit-flex: 1000;
        -ms-flex: 1000;
        flex: 1000;
    }

    #scrollview-container {
        -webkit-transform: translatez(0);
        width: 95%;
        height: 100%;
        margin: 10px auto 0 auto;
    }
    
</style>
