<div data-role="splitview">
    <div data-role="pane" data-layout="side-default" data-transition="slide">
        <div data-role="view" data-title="Mailboxes" id="side-root">
            <ul data-role="listview" data-style="inset" data-type="group">
                <li> Inboxes
                    <ul>
                        <li><a href="#side-inbox">All Inboxes</a></li>
                        <li><a href="#side-inbox">GMail</a></li>
                        <li><a href="#side-inbox">Hotmail</a></li>
                        <li><a href="#side-inbox">Yahoo</a></li>
                    </ul>
                </li>
                <li> Accounts
                    <ul>
                        <li><a href="#side-inbox">GMail</a></li>
                        <li><a href="#side-inbox">Hotmail</a></li>
                        <li><a href="#side-inbox">Yahoo</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div data-role="view" id="side-inbox" data-title="Inbox">
            <ul data-role="listview">
                <li><a href="#message" data-target="main-pane">
                        <span class="date">Yesterday</span>
                        <h3>FiveSquare</h3>
                        <span class="excerpt">Dear John, Jane wants to be your friend in FiveSquare...</span>
                </a></li>
                <li><a href="#message" data-target="main-pane">
                        <span class="date">Yesterday</span>
                        <h3>FiveSquare</h3>
                        <span class="excerpt">Dear John, Jane wants to be your friend in FiveSquare...</span>
                </a></li>
                <li><a href="#message" data-target="main-pane">
                        <span class="date">Yesterday</span>
                        <h3>FiveSquare</h3>
                        <span class="excerpt">Dear John, Jane wants to be your friend in FiveSquare...</span>
                </a></li>
            </ul>
        </div>

        <div data-role="layout" data-id="side-default" data-show="toggleBackButton">
            <div data-role="header">
                <div data-role="navbar">
                    <a data-role="backbutton" data-align="left">Back</a>
                    <span data-role="view-title"></span>
                </div>
            </div>
        </div>
    </div>

    <div data-role="pane" data-layout="main-default" id="main-pane">
        <div data-role="view" data-title="Messages">
            No message selected
        </div>

        <div data-role="view" data-title="Message" id="message">
            <h3>FiveSquare</h3>
            <p>Dear John, Jane wants to be your friend in FiveSquare</p>
        </div>

        <div data-role="layout" data-id="main-default">
            <div data-role="header">
                <div data-role="navbar">
                    <span data-role="view-title"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleBackButton(e) {
        if (e.view.id === "#side-root") {
            e.view.element.find("[data-role=backbutton]").css("visibility", "hidden");
        } else {
            e.view.element.find("[data-role=backbutton]").css("visibility", "visible");
        }
    }
</script>

<style scoped>
    #side-inbox .date {
       float: right;
       color: rgba(200,200,200,.8);
       font-size: .7em;
       font-weight: normal;
    }

    #side-inbox .excerpt {
       clear: both;
       font-size: .7em;
       font-weight: normal;
    }
</style>
