<div id="example" class="k-content absConf">
    <div class="diagram-wrapper" style="margin: auto;">
        <div id="diagram"></div>
    </div>
    <script>
       var data = [{
            firstName: "Antonio",
            lastName: "Moreno",
            image: "antonio.jpg",
            title: "Team Lead",
            colorScheme: "#1696d3",
            items: [{
                    firstName: "Elizabeth",
                    image: "elizabeth.jpg",
                    lastName: "Brown",
                    title: "Design Lead",
                    colorScheme: "#ef6944",
                    items: [{
                            firstName: "Ann",
                            lastName: "Devon",
                            image: "ann.jpg",
                            title: "UI Designer",
                            colorScheme: "#ef6944"
                        },{
                            firstName: "Fran",
                            lastName: "Wilson",
                            image: "fran.jpg",
                            title: "Design Intern",
                            colorScheme: "#ef6944"
                    }]
            }, {
                firstName: "Diego",
                lastName: "Roel",
                image: "diego.jpg",
                title: "QA Engineer",
                colorScheme: "#ee587b"
            }, {
                firstName: "Felipe",
                lastName: "Izquiedro",
                image: "felipe.jpg",
                title: "Senior Developer",
                colorScheme: "#75be16",
                items: [{
                    firstName: "Daniel",
                    lastName: "Tonini",
                    image: "daniel.jpg",
                    title: "Developer",
                    colorScheme: "#75be16"
                }]
            }]
        }];

        var dataviz = kendo.dataviz;
        function visualTemplate(options) {
            var dataItem = options.dataItem;
            var g = new dataviz.diagram.Group({
                autoSize: true
            });

            g.append(new dataviz.diagram.Rectangle({
                width: 210,
                height: 75,
                stroke: {
                    width: 0
                },
                minWidth: 20,
                minHeight: 20,
                content: {
                    color: "#ffffff"
                },
                background: dataItem.colorScheme,
            }));

            g.append(new dataviz.diagram.TextBlock({
                text: dataItem.firstName + " " + dataItem.lastName,
                x: 85,
                y: 20,
                color: "#ffffff"
            }));

            g.append(new dataviz.diagram.TextBlock({
                text: dataItem.title,
                x: 85,
                y: 40,
                color: "#ffffff"
            }));

            g.append(new dataviz.diagram.Image({
                source: "../../content/dataviz/diagram/people/" + dataItem.image,
                x: 3,
                y: 3,
                width: 68,
                height: 68
            }));

            return g;
        }

        function createDiagram() {
            $("#diagram").kendoDiagram({
                dataSource: new kendo.data.HierarchicalDataSource({
                    data: data,
                    schema: {
                        model: {
                            children: "items"
                        }
                    }
                }),
                layout: {
                    type: "layered"
                },
                visualTemplate: visualTemplate,
                shapeDefaults: {
                    editable: false,
                    rotatable: false,
                    resizable: false
                },
                connectionDefaults: {
                    stroke: {
                        color: "#979797",
                        width: 2
                    }
                }
            });

            var diagram = $("#diagram").getKendoDiagram();
            diagram.bringIntoView(diagram.shapes);
        }

        $(document).ready(createDiagram);
    </script>
</div>
