<style type="text/css">
        #diagram
        {
            width: 100%;
            height: 100%;
        }

        #diagram .km-scroll-wrapper
        {
            width: 100%;
            height: 100%;
            position: relative;
        }
        #diagram .km-scroll-wrapper
        {
            width: 100%;
            height: 100%;
            position: relative;
        }
        #diagram .km-scroll-container {
            /*width: 100%;
            height: 100%;*/
        }

        .k-canvas-container {
            width: 100%;
            height: 100%;
        }

        #scrollable .km-touch-scrollbar {
            width: 12px;
            height: 12px;
        }
</style>


<div id="example" class="k-content absConf">
    <div class="map-wrapper" style="margin: auto;">
        <div id="diagram"></div>
    </div>
    <script>
       var data = [{
            name: "Antonio",
            lastName: "Moreno",
            image: "images/LONEP.jpg",
            position: "Team Lead",
            background: "#1696d3",
            items: [{
                    name: "Elizabeth",
                    image: "images/Elizabeth.jpg",
                    lastName: "Brown",
                    position: "Design Lead",
                    background: "#ef6944",
                    items: [{
                            name: "Ann",
                            lastName: "Devon",
                            image: "images/Ann.jpg",
                            position: "UI Designer",
                            background: "#ef6944"
                        },{
                            name: "Fran",
                            lastName: "Wilson",
                            image: "images/Fran.jpg",
                            position: "Desing Intern",
                            background: "#ef6944"
                    }]
            }, {
                name: "Diego",
                lastName: "Roel",
                image: "images/Diego.jpg",
                position: "QA Engineer",
                background: "#ee587b"
            }, {
                name: "Felipe",
                lastName: "Izquiedro",
                image: "images/Felipe.jpg",
                position: "Senior Developer",
                background: "#75be16",
                items: [{
                    name: "Daniel",
                    lastName: "Tonini",
                    image: "images/Daniel.jpg",
                    position: "Developer",
                    background: "#75be16"
                }]
            }]
        }];

        function visualTemplate(options) {
            var dataItem = options.dataItem;
            var g = new window.kendo.diagram.Group({
                autoSize: true
            });                                          
                                                 
            g.append(new window.kendo.diagram.Rectangle({
                width: 180,
                height: 60,
                stroke: {
                    width: 0
                },
                minWidth: 20,
                minHeight: 20,
                content: {
                    color: "#ffffff"
                },
                background: dataItem.background,
                id: options.id
            }));                                         
            
            g.append(new window.kendo.diagram.TextBlock({
                text: dataItem.name + " " + dataItem.lastName,
                x: 50,
                y: 20,
                color: "#ffffff",
                id: options.id
            }));
                                                                          
            g.append(new window.kendo.diagram.TextBlock({
                text: dataItem.position,
                x: 50,
                y: 40,
                color: "#ffffff",
                id: options.id
            }));                                         
                                                 
            return g;   
        }

        function createDiagram() {
            $("#diagram").kendoDiagram({
                dataSource: new kendo.data.HierarchicalDataSource({
                    data: data,
                    schema: {
                        model: {
                            children: "items"
                        }
                    }
                }),
                layout: {
                    type: "tree"
                },
                shapeDefaults: {
                    connectors: [{
                        name: "top"
                    }, {
                        name: "bottom"
                    }]
                },
                visualTemplate: visualTemplate,
                connectionDefaults: {
                    stroke: {
                        color: "#979797",
                        width: 2
                    }
                }
            });
        }

        $(document).ready(createDiagram);
    </script>
</div>
