<style type="text/css">
        #diagram
        {
            width: 100%;
            height: 100%;
        }

        #diagram .km-scroll-wrapper
        {
            width: 100%;
            height: 100%;
            position: relative;
        }
        #diagram .km-scroll-wrapper
        {
            width: 100%;
            height: 100%;
            position: relative;
        }
        #diagram .km-scroll-container {
            /*width: 100%;
            height: 100%;*/
        }

        .k-canvas-container {
            width: 100%;
            height: 100%;
        }

        #scrollable .km-touch-scrollbar {
            width: 12px;
            height: 12px;
        }
</style>


<div id="example" class="k-content absConf">
    <div class="map-wrapper" style="margin: auto;">
        <div id="diagram"></div>
    </div>
    <script>
       var data = [{
            name: "Antonio",
            lastName: "Moreno",
            image: "url(../../../../content/dataviz/diagram/people/antonio.jpg",
            position: "Team Lead",
            background: "#1696d3",
            items: [{
                    name: "Elizabeth",
                    image: "url(../../../../content/dataviz/diagram/people/elizabeth.jpg",
                    lastName: "Brown",
                    position: "Design Lead",
                    background: "#ef6944",
                    items: [{
                            name: "Ann",
                            lastName: "Devon",
                            image: "url(../../../../content/dataviz/diagram/people/ann.jpg",
                            position: "UI Designer",
                            background: "#ef6944"
                        },{
                            name: "Fran",
                            lastName: "Wilson",
                            image: "url(../../../../content/dataviz/diagram/people/fran.jpg",
                            position: "Desing Intern",
                            background: "#ef6944"
                    }]
            }, {
                name: "Diego",
                lastName: "Roel",
                image: "url(../../../../content/dataviz/diagram/people/diego.jpg",
                position: "QA Engineer",
                background: "#ee587b"
            }, {
                name: "Felipe",
                lastName: "Izquiedro",
                image: "url(../../../../content/dataviz/diagram/people/felipe.jpg",
                position: "Senior Developer",
                background: "#75be16",
                items: [{
                    name: "Daniel",
                    lastName: "Tonini",
                    image: "url(../../../../content/dataviz/diagram/people/daniel.jpg",
                    position: "Developer",
                    background: "#75be16"
                }]
            }]
        }];

        var dataviz = kendo.dataviz;
        function visualTemplate(options) {
            var dataItem = options.dataItem;
            var g = new dataviz.diagram.Group({
                autoSize: true
            });

            g.append(new dataviz.diagram.Rectangle({
                width: 210,
                height: 75,
                stroke: {
                    width: 0
                },
                minWidth: 20,
                minHeight: 20,
                content: {
                    color: "#ffffff"
                },
                background: dataItem.background,
                id: options.id
            }));

            g.append(new dataviz.diagram.TextBlock({
                text: dataItem.name + " " + dataItem.lastName,
                x: 85,
                y: 20,
                color: "#ffffff",
                id: options.id
            }));

            g.append(new dataviz.diagram.TextBlock({
                text: dataItem.position,
                x: 85,
                y: 40,
                color: "#ffffff",
                id: options.id
            }));

            g.append(new dataviz.diagram.Image({
                source: dataItem.image,
                x: 3,
                y: 3,
                width: 68,
                height: 68
            }));

            return g;
        }

        function createDiagram() {
            $("#diagram").kendoDiagram({
                dataSource: new kendo.data.HierarchicalDataSource({
                    data: data,
                    schema: {
                        model: {
                            children: "items"
                        }
                    }
                }),
                layout: {
                    type: "layered"
                },
                visualTemplate: visualTemplate,
                shapeDefaults: {
                    editable: false,
                    rotatable: false,
                    resizable: false
                },
                connectionDefaults: {
                    stroke: {
                        color: "#979797",
                        width: 2
                    }
                }
            });

            var diagram = $("#diagram").getKendoDiagram();
            diagram.bringIntoView(diagram.shapes);
        }

        $(document).ready(createDiagram);
    </script>
</div>
