<div id="example" class="k-content absConf">
    <div class="diagram-wrapper" style="margin: auto;">
        <div id="diagram"></div>
    </div>
    <div class="configuration-horizontal">
        <div class="config-section">
            <label for="subtype">Layout: </label>
            <input id="subtype" value="1" />
        </div>
    </div>
    <script>
        function subtypeChange() {
            $("#diagram").getKendoDiagram().layout({
                subtype: this.value(),
                type: "tree",
                horizontalSeparation: 30,
                verticalSeparation: 20
            });
        }

        function init() {
            var subtypeData = [{
                text: "TreeDown", value: "down"
            },{
                text: "TreeUp", value: "up"
            },{
                text: "TipoverTree", value: "tipover"
            }];

            $("#subtype").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: subtypeData,
                change: subtypeChange
            });

            createDiagram();
        }

        function createDiagram() {
            var data = [{
                node: "0",
                items: [{
                    node: "1.1",
                    items: [{
                        node: "2.1",
                        items: [{
                            node: "3.1"
                        }]
                    }]
                },{
                    node: "1.2",
                    items: [{
                        node: "2.2"
                    }]
                },{
                    node: "1.3",
                    items: [{
                        node: "2.3"
                    },{
                        node: "2.4",
                        items: [{
                            node: "3.2"
                        },{
                            node: "3.3"
                        }]
                    }]
                },{
                    node: "1.4",
                    items: [{
                        node: "2.5"
                    }]
                },{
                    node: "1.5",
                    items: [{
                        node: "2.6"
                    },{
                        node: "2.7",
                        items: [{
                            node: "3.4"
                        },{
                            node: "3.5"
                        }]
                    }]
                }]
            }];

            $("#diagram").kendoDiagram({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            children: "items"
                        }
                    }
                },
                layout: {
                    type: "tree",
                    subtype: "down",
                    horizontalSeparation: 30,
                    verticalSeparation: 20
                },
                shapeDefaults: {
                    width: 50,
                    height: 50
                }
            });
        }

        $(document).ready(init);
    </script>
</div>
