<div id="example">
    <div class="demo-section k-header" style="padding: 1em;">
        <div id="treeMap" style="height: 600px;"></div>
    </div>
    <script>
        function treeMap() {
            $("#treeMap").kendoTreeMap({
                dataSource: {
                    transport: {
                        read: {
                            url: "../content/dataviz/js/population-usa.json",
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            children: "items"
                        }
                    }
                },
                valueField: "value",
                textField: "name"
            });
        }

        $(document).ready(treeMap);
    </script>
</div>
