<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
  <div class="demo-section k-content">
    <div kendo-mobile-tab-strip k-on-select="select(kendoEvent.item)">
      <a data-icon="contacts">Profile
      </a><a data-icon="history">Sales
      </a><a data-icon="favorites">Rating
      </a><a data-icon="settings">Settings</a>
    </div>
    <div id="console">
    </div>
  </div>
  <style scoped>
    .demo-section {
      width: 500px;
    }
    #console {
      margin-top: 10px;
      height: 300px;
      overflow: auto;
    }
  </style>
</div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ]);
  function MyCtrl($scope) {
      $scope.select = function(item) {
         $("<div>").appendTo("#console").html("Selected: " + item.text());
      }
  }
</script>
