.k-dropdown {}


// Native select
select.k-dropdown,
select.k-dropdownlist {
    // .border-radius( @input-border-radius );
    .border-radius( 4px );
    // padding: @input-padding-y @input-padding-x;
    padding: @button-padding-y @button-padding-x;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .1s ease; // sass-lint:disable-block no-transition-all
    cursor: pointer;
}
