<div id="example" class="k-content">
    <div class="chart-wrapper">
        <div id="chart"></div>
    </div>
    <script>
        var proteinData = [{
            name: "Tryptophan",
            abbr: "Trp",
            score: 3
        }, {
            name: "Threonine",
            abbr: "Thr",
            score: 4
        }, {
            name: "Isoleucine",
            abbr: "Iso",
            score: 5
        }, {
            name: "Leucine",
            abbr: "Leu",
            score: 5
        }, {
            name: "Lysine",
            abbr: "Lys",
            score: 5
        }, {
            name: "Methionine + Cystine",
            abbr: "M+C",
            score: 2
        }, {
            name: "Phenylalanine + Tyrosine",
            abbr: "p+T",
            score: 3
        }, {
            name: "Valine",
            abbr: "Val",
            score: 5
        }, {
            name: "Histidine",
            abbr: "Hys",
            score: 4
        }];

        function createChart() {
            $("#chart").kendoChart({
                title: {
                    text: "Protein quality, Apple raw"
                },
                dataSource: {
                    data: proteinData
                },
                series: [{
                    name: "Proteins",
                    type: "radarColumn",
                    field: "score"
                }],
                categoryAxis: {
                    field: "abbr"
                },
                tooltip: {
                    visible: true,
                    template: "#= dataItem.name #: #= value #"
                },
                legend: {
                    visible: false
                },
                valueAxis: {
                    visible: false
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
</div>
