<div id="example" class="k-content">
    <div class="chart-wrapper">
        <div id="chart"></div>
    </div>
    <script>
        function createChart() {
            $("#chart").kendoChart({
                title: {
                    text: "Gross domestic product growth /GDP annual %/"
                },
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    type: "radarColumn"
                },
                series: [{
                    name: "Nutritients",
                    data: [
                        4, 1, 1, 4, 0, 1, 3,
                        1, 2, 1, 2, 1, 0, 1,
                        0, 2, 1, 0, 3, 1, 1,
                        1, 1, 0, 0, 0
                    ]
                }],
                categoryAxis: {
                    categories: [
                        "Df", "Pr", "A", "C", "D", "E", "K",
                        "Th", "Ri", "Ni", "B", "F", "B", "PA",
                        "Se", "Mn", "Cu", "Zn", "K", "P", "Mg",
                        "Fe", "Ca", "Na", "Ch", "Sf"
                    ]
                },
                valueAxis: {
                    visible: false
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
</div>
