
        <div id="example" class="k-content">
            <div class="configuration">
                <span class="configHead">Events log</span>
                <div class="console"></div>
            </div>
            <textarea id="editor" rows="10" cols="30" style="width:500px;height:300px">Kendo UI Editor widget</textarea>

            <script>
                function onChange(e) {
                    kendoConsole.log("value change");
                }
                function onSelect(e) {
                    kendoConsole.log("selection change");
                }
                function onExecute(e) {
                    kendoConsole.log("command :: " + e.name);
                }
                function onPaste(e) {
                    kendoConsole.log("paste");
                }

                $("#editor").kendoEditor({
                    change: onChange,
                    select: onSelect,
                    execute: onExecute,
                    paste: onPaste
                });
            </script>
        </div>

        <style scoped="scoped">
                #example {
                    padding-right: 240px;
                }
                .reports {
                    width: 265px;
                    height: 247px;
                    padding: 108px 0 0 20px;
                    background: url('../../content/web/calendar/reports.png') transparent no-repeat 0 0;
                    margin: 30px auto 20px auto;
                }
                .configuration {
                    height: 460px;
                    width: 200px;
                    margin-bottom: -21px;
                    margin-right: -241px;
                }
                .configuration .console {
                    background-color: transparent;
                    border: 0;
                    height: 420px;
                    overflow: auto;
                }
            </style>