
        <div id="example" class="k-content">
				<textarea id="editor" rows="10" cols="30" style="width:500px;height:300px">Kendo UI Editor widget</textarea>
            <script>
                $(document).ready(function() {
                    // create Editor from textarea HTML element with default set of tools
                    $("#editor").kendoEditor();
                });
            </script>
        </div>