        <div id="example" class="k-content">
                <textarea id="editor" rows="10" cols="30" style="height:440px">
                    Put the cursor after this text and use the "Insert HTML" tool.
                </textarea>
            <script>
                $(document).ready(function() {
                    $("#editor").kendoEditor({
                        tools: ["insertHtml"],
                        insertHtml: [
                            { text: "Signature", value: "<p>Regards,<br /> John Doe,<br /><a href='mailto:john.doe@example.com'>john.doe@example.com</a></p>" },
                            { text: "Kendo online demos", value: " <a href='http://demos.telerik.com/kendo-ui'>Kendo online demos</a> " }
                        ]
                    });
                });
            </script>
        </div>
