// Treeview
.k-treeview {
    background: none;
    .fill(
        @kendo-treeview-text;
        @kendo-treeview-bg;
        @kendo-treeview-border;
    );

    .k-icon {
        background-color: @kendo-treeview-icon-bg;
    }
}


// Treeview group
.k-treeview-group {
    background: none !important;
}


// Treeview item
.k-treeview-item {}


// Treeview leaf
.k-treeview-leaf {

    // Hover state
    &:hover,
    &.k-hover {
        .fill(
            @kendo-treeview-item-hover-text;
            @kendo-treeview-item-hover-bg;
            @kendo-treeview-item-hover-border;
            @kendo-treeview-item-hover-gradient;
        );
    }

    // Focus state
    &:focus,
    &.k-focus {
        border-color: @kendo-treeview-item-focus-border;
        .box-shadow( @kendo-treeview-item-focus-shadow );
    }

    // Selected state
    &.k-selected {
        .fill(
            @kendo-treeview-item-selected-text;
            @kendo-treeview-item-selected-bg;
            @kendo-treeview-item-selected-border;
            @kendo-treeview-item-selected-gradient;
        );
    }
    &.k-selected:hover,
    &.k-selected.k-hover {
        color: @kendo-treeview-item-selected-text;
        background-color: shade( @kendo-treeview-item-selected-bg, 8% );
    }
}
