<div data-role="view" data-layout="foo" data-title="Home" id="home">
    Home
</div>

<div data-role="view" data-layout="foo" data-title="About" id="about">
    About us
</div>

<div data-role="layout" data-id="foo">
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="#home">Home</a>
            <a href="#about">About</a>
        </div>
    </div>
</div>
