<div data-role="view" data-title="TabStrip - Basic Usage">

    <p>TabStrip</p>

    <div data-role="footer">
        <div data-role="tabstrip">
            <a>Home</a>
            <a>About</a>
            <a>Settings</a>
        </div>
    </div>
</div>

