<div data-role="view" id="tabstrip-home" data-title="TabStrip" data-layout="mobile-tabstrip">
    <p>Home</p>
</div>

<div data-role="view" id="tabstrip-about" data-title="TabStrip" data-layout="mobile-tabstrip">
    <p>About</p>
</div>

<div data-role="view" id="tabstrip-settings" data-title="TabStrip" data-layout="mobile-tabstrip">
    <p>Settings</p>
</div>

<div data-role="layout" data-id="mobile-tabstrip">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
        </div>
    </header>

    <p>TabStrip</p>

    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="#tabstrip-home" data-icon="featured">Featured</a>
            <a href="#tabstrip-about" data-icon="toprated">Top Rated</a>
            <a href="#tabstrip-settings" data-icon="mostviewed">Most Viewed</a>
        </div>
    </div>
</div>
