
        <div id="example" class="k-content">
            <div class="demo-section k-rtl">
                <h2>Set Value</h2>
                <input id="maskedtextbox" />
            </div>

            <script>
                $(document).ready(function() {
                    $("#maskedtextbox").kendoMaskedTextBox({
                        mask: "(999) 000-0000"
                    });
                });
            </script>

            <style scoped>
                .demo-section {
                    width: 250px;
                    margin: 35px auto 50px;
                    padding: 30px;
                }
                .demo-section h2 {
                    text-transform: uppercase;
                    font-size: 1.2em;
                    margin-bottom: 10px;
                }
            </style>
        </div>
