<div class="configuration k-widget k-header">
    <span class="configHead">Button API Functions</span>
    <ul class="options">
        <li>
            <button class="k-button" id="enableButton" type="button">Enable</button> or <button class="k-button" id="disableButton" type="button">Disable</button>
        </li>
    </ul>
</div>

<br /><br />

@(Html.Kendo().Button()
    .Name("iconTextButton")
    .HtmlAttributes( new {type = "button"} )
    .Icon("ungroup")
    .Content("Kendo UI Button"))

<script>

$(document).ready(function () {
    var buttonObject = $("#iconTextButton").data("kendoButton");

    $("#enableButton").click(function () {
        buttonObject.enable(true);
    });

    $("#disableButton").click(function () {
        buttonObject.enable(false);
    });
});

</script>