<div id="example">
    <div id="info" class="box-col"></div>
    <div class="box-col select-col">
        <h4>Bubble symbol</h4>
        <ul id="select-symbol">
            <li>Circle</li>
            <li>Square</li>
        </ul>
    </div>
    <div class="demo-section k-header">
        <div id="surface"></div>
    </div>
    <script>
    $(document).ready(function() {
    });
    </script>
</div>
