<div id="forms" data-role="view" data-title="Form Elements" data-init="initForm">
    <form action="./index.html">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                Select element
                <select>
                    <option value="First Option">First Option</option>
                    <option value="Second Option">Second Option</option>
                    <option value="Third Option">Third Option</option>
                    <option value="Fourth Option">Fourth Option</option>
                </select>
                </label>
            </li>
            <li>
                <label>
                DropDownList
                <select id="dropdown">
                    <option value="First Option">First Option</option>
                    <option value="Second Option">Second Option</option>
                    <option value="Third Option">Third Option</option>
                    <option value="Fourth Option">Fourth Option</option>
                    <option value="First Option">Fifth Option</option>
                    <option value="Sixth Option">Sixth Option</option>
                </select>
                </label>
            </li>
            <li>
                <label>Type text
                    <input type="text" value="Text" />
                </label>
            </li>
            <li>
                <label>
                Type password
                <input type="password" value="password" />
                </label>
            </li>
            <li>
                <label>
                Type search
                <input type="search" value="search" />
                </label>
            </li>
            <li>
                <label>
                Type url
                <input type="url" value="http://www.kendoui.com" />
                </label>
            </li>
            <li>
                <label>
                    Type email
                    <input type="email" value="kendoui@kendoui.com" />
                </label>
            </li>
            <li>
                <label>
                    Type number
                    <input type="number" value="20" />
                </label>
            </li>
            <li>
                <label>
                    Type tel
                    <input type="tel" value="+44 22 11 10" />
                </label>
            </li>
            <li>
                <label>
                    Type date
                    <input type="date" value="2012-03-22" />
                </label>
            </li>
            <li>
                <label>
                    Type time
                    <input type="time" value="22:30" />
                </label>
            </li>
            <li>
                <label>
                    Type month
                    <input type="month" value="2012-01" />
                </label>
            </li>
            <li>
                <label>
                    Type datetime
                    <input type="datetime" value="2012-03-22T20:15Z" />
                </label>
            </li>
            <li>
                <label>
                    Textarea
                    <textarea>Multiline
Text</textarea>
                </label>
            </li>
        </ul>
    </form>
</div>
<script>
    function initForm() {
        var body = $(".km-vertical,.km-horizontal");

        if (kendo.ui.DropDownList) {
            $("#dropdown").kendoDropDownList({
                // The options are needed only for the desktop demo, remove them for mobile.
                popup: { appendTo: body },
                animation: { open: { effects: body.hasClass("km-android") ? "fadeIn" : body.hasClass("km-ios") ? "slideIn:up" : "slideIn:down" } }
            });
        }
    }
</script>

<style scoped>
    #forms input:not([type=checkbox]):not([type=radio]),
    #forms select,
    #forms .k-dropdown
    {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
    }
</style>
