@section Description {
   <p>Kendo UI Mobile provides automatic platform dependent styling of form elements when they are added to a mobile View. Currently the following form elements are supported and styled:</p>
    <ul>
        <li>Inputs of types <b>text</b>, <b>password</b>, <b>search</b>, <b>url</b>, <b>email</b>, <b>number</b>, <b>tel</b>, <b>file</b>(not in iOS), <b>date</b>, <b>time</b> <b>month</b> and <b>datetime</b>;</li>
        <li>Single <b>select</b> elements or Kendo DropDownList replacements.</li>
    </ul>
    <p>
        The input elements with a picker use the native one from the current platform if it is supported.
        HTML5 form elements are fully functional only on the following platforms: iOS 5.x+, Android 4.x+, BlackBerry 6.x+, BlackBerry Playbook 1.x+.
        The styling will still work on older platforms, but the functionality will be limited to text input only.
    </p>

    <p>
        Select elements are also automatically styled for each platform and will use the native select dialog or popup.
    </p>

    <p>Known browser issues and possible workarounds:</p>
    <ul>
        <li>Select element touch target in Android 2.x remains in the same place when a transformation is applied on a parent.
            Select element text can't be right-aligned in WebKit, which is needed for iOS styling.
            A work around for both is to use the Kendo DropDownList widget.
            It receives platform specific styling when initialized in a Kendo UI Mobile application.

            To do so, include <b>kendo.dropdownlist.js</b> and its requirements
            <b>kendo.list.js</b> and <b>kendo.popup.js</b> in the application.
            </li>

        <li>Input with type search shows reset icon in Chrome and Safari, which is not present on a mobile device.</li>

        <li>All input and select elements in Android 4.x default browser render a fake input when focused.
            This focused input can't be styled and is not part of the page flow so it won't scroll
            resulting in 2 identical but differently styled input elements at some point.

            There is no workaround for this issue, unless the form fits the screen and no scrolling is needed.</li>

        <li>Select element drop down arrow can't be removed in Firefox.</li>
    </ul>
}

<div id="forms" data-role="view" data-title="Form Elements" data-init="initForm">
    <form action="./index.html">
        <ul data-role="listview" data-style="inset">
            <li>
                <select>
                    <option value="First Option">First Option</option>
                    <option value="Second Option">Second Option</option>
                    <option value="Third Option">Third Option</option>
                    <option value="Fourth Option">Fourth Option</option>
                </select>
                Select element
            </li>
            <li>
                <select id="dropdown">
                    <option value="First Option">First Option</option>
                    <option value="Second Option">Second Option</option>
                    <option value="Third Option">Third Option</option>
                    <option value="Fourth Option">Fourth Option</option>
                    <option value="First Option">Fifth Option</option>
                    <option value="Sixth Option">Sixth Option</option>
                </select>
                DropDownList
            </li>
            <li>
                <input type="text" value="Text" />
                Type text
            </li>
            <li>
                <input type="password" value="password" />
                Type password
            </li>
            <li>
                <input type="search" value="search" />
                Type search
            </li>
            <li>
                <input type="url" value="http://www.kendoui.com" />
                Type url
            </li>
            <li>
                <input type="email" value="kendoui@kendoui.com" />
                Type email
            </li>
            <li>
                <input type="number" value="20" />
                Type number
            </li>
            <li>
                <input type="tel" value="+44 22 11 10" />
                Type tel
            </li>
            <li>
                <input type="date" value="2012-03-22" />
                Type date
            </li>
            <li>
                <input type="time" value="22:30" />
                Type time
            </li>
            <li>
                <input type="month" value="2012-01" />
                Type month
            </li>
            <li>
                <input type="datetime" value="2012-03-22T20:15Z" />
                Type datetime
            </li>
        </ul>
    </form>
</div>
<script>
    function initForm() {
        var body = $(".km-vertical,.km-horizontal");

        if (kendo.ui.DropDownList) {
            $("#dropdown").kendoDropDownList({
                // The options are needed only for the desktop demo, remove them for mobile.
                popup: { appendTo: body },
                animation: { open: { effects: body.hasClass("km-android") ? "fadeIn" : body.hasClass("km-ios") ? "slideIn:up" : undefined } }
            });
        }
    }
</script>

<style scoped>
    #forms input:not([type=checkbox]):not([type=radio]),
    #forms select,
    #forms .k-dropdown
    {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
    }
</style>
