.k-dialog {
        text-align: center;
        text-align: left;
        min-height: 3em;
        /*      padding-bottom: 4.2em;*/
        width: 400px;
      }
      /*        k-window, k-window-titlebar*/
      
      .k-dialog.k-window {
        padding-top: 0;
      }
      
      .k-dialog .k-window-titlebar {
        top: 0;
        margin-top: 0;
        height: 2em;
        padding-top: 0.6em;
        padding-bottom: 0.1em;
      }
      /*        NEW k-dialog-title*/
      
      .k-dialog .k-window-titlebar .k-dialog-title {
        margin-left: 15px;
        font-size: 1.2em;
      }
      /*     k-content */
      
      .k-dialog .k-content {
        margin-top: 3em;
        padding: 1em 15px 0.8em 15px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      
      .k-dialog.k-dialog-titleless .k-content {
        margin-top: 0;
        padding: 1em 15px 0.8em 15px;
    }


      .k-dialog .k-dialog-buttongroup {
        /*
      position: absolute;
      bottom: 0;
      left: 0;
      */
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        border-collapse: collapse;
        display: table;
        table-layout: fixed;
      }
      /*    k-button */
      
      .k-dialog-buttongroup .k-button {
        font-size: 1em;
        padding: 0.9em 0 0.9em 0;
        display: table-cell;
        border-radius: 0;
        border-bottom: 0;
      }
      
      .k-dialog-buttongroup li.k-button:first-child {
        border-bottom-left-radius: 4px;
        border-left: 0;
      }
      
      .k-dialog-buttongroup li.k-button:last-child {
        border-bottom-right-radius: 4px;
        border-right: 0;
      }
      /*    Placeholder Close X Button */
      
      .k-dialog .k-i-close {
        position: absolute;
        font-family: TelerwikWebUI;
        top: 1.1em;
        right: 15px;
        color: #909090;
        cursor: pointer;
        z-index: 10000;
      }
      
      .k-dialog .k-i-close:hover {
        color: #313131;
      }