// Pivot start

.k-pivot {
    box-sizing: border-box;
    position: relative;
}



.k-pivot-toolbar {
    border-width: 0 0 1px;
    border-style: solid;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    > * {
        max-width: 100%;
    }

    &::before {
        display: none;
    }
}

// IE7 requires the following style to be applied to cells directly
.k-pivot .k-grid td
{
    white-space: nowrap;
}

.k-pivot-layout
{
    border-spacing: 0;
    table-layout: auto;
}

.k-pivot-layout > tbody > tr > td
{
    vertical-align: top;
    padding: 0;
}

.k-pivot td
{
    vertical-align: top;
}

.k-pivot-rowheaders > .k-grid,
.k-pivot-table > .k-grid
{
    border-width: 0;
}

.k-pivot-rowheaders > .k-grid td:first-child,
.k-pivot-table .k-grid-header .k-header.k-first
{
    border-left-width: 1px;
}

.k-pivot-rowheaders > .k-grid td.k-first
{
    border-left-width: 0;
}

.k-pivot-rowheaders > .k-grid
{
    overflow: hidden;
}

.k-pivot-table
{
    border-left-width: 1px;
    border-left-style: solid;
}

.k-pivot-table .k-grid-header-wrap > table
{
    height: 100%;
}

.k-pivot .k-grid-header .k-header
{
    vertical-align: top;
}

.k-header.k-alt,
td.k-alt
{
    font-weight: bold;
}

.k-header.k-alt
{
    background-image: none;
}

.k-pivot-layout .k-grid td
{
    border-bottom-width: 1px;
}

.k-pivot-layout .k-grid-footer > td
{
    border-top-width: 0;
}

.k-pivot-filter-window .k-treeview {
    max-height: 600px;
}

// KPI icons */
.k-i-kpi-trend-increase,
.k-i-kpi-trend-decrease,
.k-i-kpi-trend-equal {
    color: #858585;
}

.k-i-kpi-status-hold {
    color: #f9ce1d;
}

.k-i-kpi-status-deny {
    color: #f44336;
}

.k-i-kpi-status-open {
    color: #4caf50;
}

// Pivot PDF Export styles

.k-pdf-export-shadow .k-pivot .k-grid-content
{
    overflow: visible !important;
}

.k-pdf-export-shadow .k-pivot .k-pivot-rowheaders .k-grid,
.k-pdf-export-shadow .k-pivot .k-grid-content
{
    height: 100% !important;
}

.k-pdf-export-shadow .k-pivot .k-grid-header
{
    padding-right: 0 !important;
}

.k-pdf-export-shadow .k-pivot
{
    width: auto !important;
    height: auto !important
}

.k-pdf-export-shadow .k-pivot .k-grid-header-wrap > table,
.k-pdf-export-shadow .k-pivot .k-grid-content > table
{
    width: 100% !important;
    height: auto !important
}

// Pivot end
