.k-treelist {
    .k-status {
        padding: .4em .6em;
        line-height: 1.6em;

        .k-loading {
            vertical-align: baseline;
            margin-right: 5px;
        }
    }

    tr.k-hidden {
        display: none;
    }

    &.k-treelist-dragging {
        &, .k-state-hover,
        &, .k-hover {
            cursor: default;
        }
    }

    .k-drop-hint {
        transform: translate(0, -50%);
    }

    .k-i-arrow-60-right,
    .k-i-arrow-45-down-right
    {
        cursor: pointer;
    }

    .k-i-arrow-45-down-right
    {
        margin-top: -.5em;
    }

}

.k-drag-separator {
    display: inline-block;
    border-right: 1px solid;
    height: 1em;
    vertical-align: top;
    margin: 0 .5em;
}
