        <div id="example" class="k-content">
            <div class="demo-section">
                <h3>E-mail</h3>
                <div id="qrMail"></div>
            </div>
            <div class="demo-section">
                <h3>URL</h3>
                <div id="qrUrl"></div>
            </div>
            <div class="demo-section">
                <h3>Telephone</h3>
                <div id="qrTelephone"></div>
            </div>
            <div class="demo-section">
                <h3>Geo Location</h3>
                <div id="qrGeoLocation"></div>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {

                    $("#qrMail").kendoQRCode({
                        value: "mailto:clientservice@kendoui.com",
                        size: 120,
                        color: "#e15613",
                        background: "transparent"
                    });

                    $("#qrUrl").kendoQRCode({
                        value: "http://demos.kendoui.com/dataviz/overview/index.html",
                        errorCorrectionLevel: "M",
                        size: 120,
                        border: {
                            color: "#000000",
                            width: 5
                        }
                    });

                    $("#qrTelephone").kendoQRCode({
                        value: "tel:+1-888-365-2779",
                        errorCorrectionLevel: "Q",
                        size: 120,
                        color: "#67a814",
                        border: {
                            color: "#67a814",
                            width: 5
                        }
                    });

                    $("#qrGeoLocation").kendoQRCode({
                        value: "geo:42.65049,23.37925,100",
                        errorCorrectionLevel: "H",
                        size: 120,
                        color: "#166a83"
                    });
                });

            </script>

            <style scoped>
                .demo-section {
                    display: inline-block;
                    margin: 17px;
                }
                .k-qrcode {
                    display:inline-block;
                    margin: 10px 0 0;
                    border: none;
                }
            </style>
        </div>
