        <div id="example" class="k-content">
            <div class="demo-section">
                <div id="qrMail">
                </div>
                <div id="qrUrl">
                </div>                
                <div id="qrTelephone">
                </div>
                <div id="qrGeoLocation">
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {

                    $("#qrMail").kendoQRCode({
                        value: "mailto:clientservice@kendoui.com",
                        size: 100                    
                    });

                    $("#qrUrl").kendoQRCode({
                        value: "http://demos.kendoui.com/dataviz/overview/index.html",
                        errorCorrectionLevel: "M",
                        size: 130,
                        border: {
                            color: "#d11717",
                            width: 5
                        }                    
                    });
                       
                    $("#qrTelephone").kendoQRCode({                    
                        value: "tel:+1-888-365-2779",
                        errorCorrectionLevel: "Q",
                        size: 170,
                        darkModuleColor: "#FF321C",
                        border: {
                            color: "#FF321C",
                            width: 5
                        }                     
                    });

                    $("#qrGeoLocation").kendoQRCode({
                        value: "geo:42.65049,23.37925,100",
                        errorCorrectionLevel: "H",
                        size: 190,
                        background: "#ACD608"                    
                    });
                });
                                
            </script>

            <style scoped>
                .k-qrcode {
                    display:inline-block;
                    margin: 10px;
                    border: none;
                }               
            </style>
        </div>