    </div> <!-- / exceptFooter -->
</div> <!-- / exceptFooterWrap -->

<div id="footer">
    <div class="floatWrap centerWrap">
        <ul>
            <li><a href="http://www.kendoui.com">Home</a></li>
            <li><a href="http://www.kendoui.com/web">Web</a></li>
            <li><a href="http://www.kendoui.com/dataviz">DataViz</a></li>
            <li><a href="http://www.kendoui.com/mobile">Mobile</a></li>
            <li><a href="http://demos.kendoui.com/">Demos</a></li>
            <li><a href="http://www.kendoui.com/blogs">Blogs</a></li>
            <li><a href="http://www.kendoui.com/forums">Forums</a></li>
            <li><a href="http://www.kendoui.com/get-help">Support &amp; Resources</a></li>
            <li><a href="http://www.kendoui.com/roadmap.aspx">Roadmap</a></li>
            <li><a href="http://www.kendoui.com/about">About</a></li>
            <li><a href="http://www.kendoui.com/get-kendo-ui">Get Kendo UI</a></li>
            <li><a href="http://twitter.com/#!/KendoUI" class="icon tw" title="Follow us on Twitter">Follow us on Twitter</a></li>
            <li><a href="http://www.facebook.com/KendoUI" class="icon fb" title="Become a fan on Facebook">Become a fan on Facebook</a></li>
            <li><a href="https://plus.google.com/117798269023828336983/posts" class="icon gplus" title="Follow us on Google+">Follow us on Google+</a></li>
            <li><a href="http://www.kendoui.com/blogs/blogs.rss" class="icon rss" title="Subscribe to our RSS feed">Subscribe to our RSS feed</a></li>
        </ul>
        <p id="telerik"><a href="http://www.telerik.com/">Kendo UI is powered by Telerik</a></p>
        <p id="copy">Copyright &copy; 2011 Telerik Inc. All rights reserved.</p>
    </div>
</div>