<div id="footer">
    <div class="centerWrap">
        <ul class="bottom-nav">
            <li><a href="http://www.kendoui.com/">Home</a></li>
            <li><a href="http://www.kendoui.com/web.aspx">Web</a></li>
            <li><a href="http://www.kendoui.com/mobile.aspx">Mobile</a></li>
            <li><a href="http://www.kendoui.com/dataviz.aspx">DataViz</a></li>
            <li><a href="http://www.kendoui.com/server-wrappers.aspx">Server Wrappers</a></li>
            <li><a href="http://www.kendoui.com/whitepapers.aspx">Whitepapers</a></li>
            <li><a href="http://www.kendoui.com/surveys.aspx">Surveys</a></li>
            <li><a href="http://www.kendoui.com/chrome.aspx">Chrome</a></li>
            <li><a href="http://www.icenium.com" target="_blank">Icenium</a></li>
            <li><a href="http://www.kendoui.com/contact.aspx">Contact Us</a></li>
        </ul>

        <p>Take your time to truly experience the power of Kendo UI.</p>
        <p><a href="http://www.kendoui.com/get-kendo-ui">Download</a> your Kendo UI and jumpstart your development with the available <a href="http://www.kendoui.com/get-help">support resources</a>.</p>
        <p>If you have any questions, do not hesitate to contact us at <a href="mailto:clientservice@kendoui.com">clientservice@kendoui.com</a>.</p>

        <div id="social">
            <h2>Get Social!</h2>

            <ul>
                <li><a href="http://twitter.com/#!/KendoUI" class="icon tw" title="Follow us on Twitter">Follow us on Twitter</a></li>
                <li><a href="http://www.facebook.com/KendoUI" class="icon fb" title="Become a fan on Facebook">Become a fan on Facebook</a></li>
                <li><a href="https://plus.google.com/117798269023828336983/posts" class="icon gplus" title="Follow us on Google+">Follow us on Google+</a></li>
                <li><a href="http://www.kendoui.com/blogs/blogs.rss" class="icon rss" title="Subscribe to our RSS feed">Subscribe to our RSS feed</a></li>
            </ul>
        </div>

        <p id="copy">Copyright &copy; 2011 - @(DateTime.Now.Year) Telerik Inc. All rights reserved.</p>
    </div>
</div>
