@{
    ViewBag.Title = "Footer";
}

 <div id="footer">
    <div class="quick-links">
        <a href="http://www.telerik.com/company/terms-of-use" class="footer-links">Terms of Use
        </a><a href="http://www.telerik.com/company/product-improvement-program" class="footer-links">Product Improvement Program
        </a><a href="http://www.telerik.com/company/offices" class="footer-links">Contact Us</a><a href="@Url.Content("~/m")" class="footer-links">View Mobile Version</a>
    </div>
     <div class="copyright">
         <span id="telerik-logo"></span>
        <p>&copy; 2002-2015 Telerik Inc</p>
        <p>Telerik Inc, 201 Jones Rd, Waltham, MA 02451</p>
    </div>
</div>
