<div id="footer">
    <div class="centerWrap">
        <ul class="bottom-nav">
            <li><a href="http://www.kendoui.com/">Home</a></li>
            <li><a href="http://www.kendoui.com/web">Web</a></li>
            <li><a href="http://www.kendoui.com/mobile">Mobile</a></li>
            <li><a href="http://www.kendoui.com/dataviz">DataViz</a></li>
            <li class="active"><a href="http://demos.kendoui.com/">Demos</a></li>
            <li><a href="http://www.kendoui.com/blogs">Blogs</a></li>
            <li><a href="http://www.kendoui.com/forums">Forums</a></li>
            <li><a href="http://www.kendoui.com/get-help">Support &amp; Resources</a></li>
            <li><a href="http://www.kendoui.com/roadmap">Roadmap</a></li>
            <li><a href="http://www.kendoui.com/faq" title="Frequently Asked Questions">FAQ</a></li>
            <li><a href="http://www.kendoui.com/get-kendo-ui">Get KendoUI</a></li>
        </ul>

        <p>Take your time to truly experience the power of KendoUI with a free 60-day trial or GPL compatible open source package.</p>
        <p><a href="http://www.kendoui.com/get-kendo-ui">Download</a> your KendoUI and jumpstart your development with the available <a href="http://www.kendoui.com/get-help">support resources</a>.</p>
        <p>If you have any questions, do not hesitate to contact us at <a href="mailto:clientservice@kendoui.com">clientservice@kendoui.com</a>.</p>

        <div id="social">
            <h2>Get Social!</h2>

            <ul>
                <li><a href="http://twitter.com/#!/KendoUI" class="icon tw" title="Follow us on Twitter">Follow us on Twitter</a></li>
                <li><a href="http://www.facebook.com/KendoUI" class="icon fb" title="Become a fan on Facebook">Become a fan on Facebook</a></li>
                <li><a href="https://plus.google.com/117798269023828336983/posts" class="icon gplus" title="Follow us on Google+">Follow us on Google+</a></li>
                <li><a href="http://www.kendoui.com/blogs/blogs.rss" class="icon rss" title="Subscribe to our RSS feed">Subscribe to our RSS feed</a></li>
            </ul>
        </div>

        <p id="copy">Copyright &copy; 2011 - @(DateTime.Now.Year) Telerik Inc. All rights reserved.</p>
    </div>
</div>