<div class="TlrkFooter">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h6>Telerik Platform</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/platform" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'what-is-telerik-platform'])">What is the Telerik Platform?</a>
          </li>
          <li>
            <a href="http://www.telerik.com/ui-controls" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'ui-for-any-approach'])">UI for Any Approach</a>
          </li>
          <li>
            <a href="http://www.telerik.com/cloud-development" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'cloud-services'])">Cloud Services</a>
          </li>
          <li>
            <a href="http://www.telerik.com/app-development" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'end-to-end-yet-modular'])">End-to-End, yet Modular</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h6>Collections</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/devcraft" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'devcraft'])">DevCraft</a>
          </li>
        </ul>
        <h6>Get Products</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/download" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'free-trials'])">Free Trials</a>
          </li>
          <li>
            <a href="http://www.telerik.com/purchase.aspx" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'store'])">Pricing</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h6>Recognition</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/company/customers" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'key-customers'])">Key Customers</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/success-stories" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'success-stories'])">Success Stories</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/testimonials" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'testimonials'])">Testimonials</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/awards" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'awards'])">Awards</a>
          </li>
        </ul>
        <h6>Solutions</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/enterprise" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'enterprise'])">Enterprise</a>
          </li>
          <li>
            <a href="http://www.telerik.com/services" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'services'])">Services</a>
          </li>
          <li>
            <a href="//partners.telerik.com" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'partners'])">Partners</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h6>Resources</h6>
        <ul>
          <li>
            <a href="http://blogs.telerik.com/" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'blogs'])">Blogs</a>
          </li>
          <li>
            <a href="http://www.telerik.com/support/demos" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'demos'])">Demos</a>
          </li>
          <li>
            <a href="http://docs.telerik.com" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'documentation'])">Documentation</a>
          </li>
          <li>
            <a href="http://www.telerik.com/community/events" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'events'])">Events</a>
          </li>
          <li>
            <a href="http://www.telerik.com/forums" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'forums'])">Forums</a>
          </li>
          <li>
            <a href="http://www.telerik.com/support/whats-new" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'release-history'])">Release History</a>
          </li>
          <li>
            <a href="http://www.telerik.com/videos" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'videos'])">Videos</a>
          </li>
          <li>
            <a href="http://www.telerik.com/webinars" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'webinars'])">Webinars</a>
          </li>
          <li>
            <a href="http://www.telerik.com/whitepapers" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'whitepapers'])">Whitepapers</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h6>Company</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/company" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'about-telerik'])">About Telerik</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/difference" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'the-telerik-difference'])">The Telerik Difference</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/management" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'management'])">Management</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/press-releases" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'press-releases'])">Press Releases</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/careers" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'careers'])">Careers</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h6>Contact</h6>
        <ul class="u-wsn">
          <li>
            <span class="TlrkFooter-mark">USA:</span>
            +1 888 365 2779
          </li>
          <li>
            <span class="TlrkFooter-mark">UK:</span>
            +44 20 7382 4450
          </li>
          <li>
            <span class="TlrkFooter-mark">India:</span>
            +91 124 4300987
          </li>
          <li>
            <span class="TlrkFooter-mark">Germany:</span>
            +49 89 2441642-70
          </li>
          <li>
            <span class="TlrkFooter-mark">Denmark:</span>
            +45 70 208 875
          </li>
          <li>
            <span class="TlrkFooter-mark">Bulgaria:</span>
            +359 2 8099850
          </li>
          <li>
            <span class="TlrkFooter-mark">Australia:</span>
            +61 2 8090 1465
          </li>
          <li>
            <a href="mailto:sales@telerik.com" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'mailto', 'sales@telerik.com'])">sales@telerik.com</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="http://www.telerik.com/company/offices" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'offices-and-departments'])">Offices &amp; Departments</a>
          </li>
        </ul>
        <div class="TlrkFooter-social">
          <a href="https://www.facebook.com/Telerik" class="tlrk-icon-facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'icon', 'social-facebook'])">Telerik Facebook profile</a>
          <a href="https://twitter.com/telerik" class="tlrk-icon-twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'icon', 'social-twitter'])">Telerik Twitter profile</a>
          <a href="http://www.linkedin.com/company/telerik" class="tlrk-icon-linkedin" target="_blank" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'icon', 'social-linkedin'])">Telerik Linkedin profile</a>
          <a href="https://plus.google.com/+telerik" class="tlrk-icon-google" target="_blank" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'icon', 'social-google+'])">Telerik Google+ profile</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="TlrkFooter-brand">
          <div class="TlrkFooter-brand-links">
            <a href="http://www.telerik.com/company/terms-of-use" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'terms-of-use'])">Terms of Use</a>
            <a href="http://www.telerik.com/company/feedback" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'feedback'])">Site Feedback</a>
            <a href="http://www.telerik.com/company/privacy-policy" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'privacy-policy'])">Privacy Policy</a>
            <a href="http://www.telerik.com/company/product-improvement-program" onclick="_gaq.push(['_trackEvent', 'footer-nav', 'text', 'product-improvement-program'])">Product Improvement Program</a>
          </div>
          <div class="row">
            <div class="col-6">
              <p>Copyright &copy; 2002-2014 Telerik. All rights reserved.</p>
            </div>
            <div class="col-6">
              <p class="u-tar">Powered by Telerik Sitefinity CMS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
