@*<div id="footer">
    <div class="centerWrap">
        <ul class="bottom-nav">
            <li><a href="http://www.kendoui.com/">Home</a></li>
            <li><a href="http://www.kendoui.com/web.aspx">Web</a></li>
            <li><a href="http://www.kendoui.com/mobile.aspx">Mobile</a></li>
            <li><a href="http://www.kendoui.com/dataviz.aspx">DataViz</a></li>
            <li><a href="http://www.kendoui.com/server-wrappers.aspx">Server Wrappers</a></li>
            <li><a href="http://www.kendoui.com/whitepapers.aspx">Whitepapers</a></li>
            <li><a href="http://www.kendoui.com/surveys.aspx">Surveys</a></li>
            <li><a href="http://www.kendoui.com/chrome.aspx">Chrome</a></li>
            <li><a href="http://www.icenium.com" target="_blank">Icenium</a></li>
            <li><a href="http://www.kendoui.com/contact.aspx">Contact Us</a></li>
        </ul>

        <p>Take your time to truly experience the power of Kendo UI.</p>
        <p><a href="http://www.kendoui.com/download.aspx">Download</a> your Kendo UI and jumpstart your development with the available <a href="http://www.kendoui.com/get-help.aspx">support resources</a>.</p>
        <p>If you have any questions, do not hesitate to contact us at <a href="mailto:clientservice@kendoui.com">clientservice@kendoui.com</a>.</p>

        <div id="social">
            <h2>Get Social!</h2>

            <ul>
                <li><a href="http://twitter.com/#!/KendoUI" class="icon tw" title="Follow us on Twitter">Follow us on Twitter</a></li>
                <li><a href="http://www.facebook.com/KendoUI" class="icon fb" title="Become a fan on Facebook">Become a fan on Facebook</a></li>
                <li><a href="https://plus.google.com/117798269023828336983/posts" class="icon gplus" title="Follow us on Google+">Follow us on Google+</a></li>
                <li><a href="http://www.kendoui.com/blogs/blogs.rss" class="icon rss" title="Subscribe to our RSS feed">Subscribe to our RSS feed</a></li>
            </ul>
        </div>

        <p id="copy">Copyright &copy; 2011 - @(DateTime.Now.Year) Telerik Inc. All rights reserved.</p>
    </div>
</div>
*@


<div class="TlrkFooter">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h6>Hot trends</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/platform">Mobile development</a>
          </li>
          <li>
            <a href="http://www.telerik.com/ui-controls">UI for Any Approach</a>
          </li>
          <li>
            <a href="http://www.telerik.com/cloud-development">Cloud Services</a>
          </li>
          <li>
            <a href="http://www.telerik.com/app-development">End-to-End Platform</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h6>Collections</h6>
        <ul>
          <li>
            <a href="#">DevCraft</a>
          </li>
          <li>
            <a href="#">MobileCraft</a>
          </li>
        </ul>
        <h6>Get Products</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/download">Free Trials</a>
          </li>
          <li>
            <a href="http://www.telerik.com/purchase.aspx">Store</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h6>Porular Searches</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/products/aspnet-ajax/grid.aspx">RadGrid</a>
          </li>
          <li>
            <a href="http://www.telerik.com/products/aspnet-ajax/calendar.aspx">RadCalendar</a>
          </li>
          <li>
            <a href="http://www.telerik.com/products/aspnet-ajax/editor.aspx">RadEditor</a>
          </li>
          <li>
            <a href="http://www.telerik.com/products/aspnet-ajax/combobox.aspx">RadCombobox</a>
          </li>
          <li>
            <a href="http://www.telerik.comhttp://docs.telerik.com">Help</a>
          </li>
          <li>
            <a href="http://www.telerik.com/products/aspnet-ajax/asyncupload.aspx">Async upload</a>
          </li>
          <li>
            <a href="http://www.telerik.com/products/aspnet-ajax/scheduler.aspx">Scheduler</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h6>Resources</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/forums">Forums</a>
          </li>
          <li>
            <a href="http://blogs.telerik.com/">Blogs</a>
          </li>
          <li>
            <a href="http://www.telerik.com/support/demos">Demos</a>
          </li>
          <li>
            <a href="http://www.telerik.com/documentation">Documentation</a>
          </li>
          <li>
            <a href="http://www.telerik.com/videos">Videos</a>
          </li>
          <li>
            <a href="http://www.telerik.com/webinars">Webinars</a>
          </li>
          <li>
            <a href="http://www.telerik.com/community">Community</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h6>About</h6>
        <ul>
          <li>
            <a href="http://www.telerik.com/company">Company</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/difference">Why Telerik?</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/customers">Customers</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/awards">Awards</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/press-center">Press Center</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/careers">Careers</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company/management">Management</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h6>Contact</h6>
        <ul class="u-wsn">
          <li>
            <span class="TlrkFooter-mark">USA:</span>
            +1 888 365 2779
          </li>
          <li>
            <span class="TlrkFooter-mark">Germany:</span>
            +49 89 2441642-70
          </li>
          <li>
            <span class="TlrkFooter-mark">UK:</span>
            +44 20 7291 0580
          </li>
          <li>
            <span class="TlrkFooter-mark">Bulgaria:</span>
            +359 2 8099850
          </li>
          <li>
            <span class="TlrkFooter-mark">Australia:</span>
            +61 2 8090 1465
          </li>
          <li>
            <a href="mailto:sales@telerik.com">sales@telerik.com</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="http://www.telerik.com/company/offices">Offices &amp; Departments</a>
          </li>
        </ul>
        <div class="TlrkFooter-social">
          <a href="http://www.facebook.com/telerik" class="tlrk-icon-facebook" target="_blank">Telerik Facebook profile</a>
          <a href="http://twitter.com/telerik" class="tlrk-icon-twitter" target="_blank">Telerik Twitter profile</a>
          <a href="http://www.linkedin.com/company/47642" class="tlrk-icon-linkedin" target="_blank">Telerik Linkedin profile</a>
          <a href="http://plus.google.com/+telerik" class="tlrk-icon-google" target="_blank">Telerik Google+ profile</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="TlrkFooter-brand">
          <div class="TlrkFooter-brand-links">
            <a href="http://www.telerik.com/company/terms-of-use">Terms of Use</a>
            <a href="http://www.telerik.com/company/contact-us">Site Feedback</a>
            <a href="http://www.telerik.com/company/privacy-policy">Privacy Policy</a>
          </div>
          <div class="row">
            <div class="col-6">
              <p>Copyright &copy; 2002-2014 Telerik. All rights reserved.</p>
            </div>
            <div class="col-6">
              <p class="u-tar">Powered by Telerik Sitefinity CMS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@*<script src="scripts/dbd26eaf.vendor.js"></script>

<script src="scripts/b020132b.tlrk-bar.js"></script>*@

@*

<script src="../../content/shared/js/dbd26eaf.vendor.js" type="text/javascript"></script>
<script src="../../content/shared/js/b020132b.tlrk-bar.js" type="text/javascript"></script>*@

<script src="../../content/shared/js/dropdown.js" type="text/javascript"></script>
<script src="../../content/shared/js/dataloader.js" type="text/javascript"></script>
