@{
    ViewBag.Title = "Footer";
}

 <div id="footer">
    <div class="quick-links">
        <a href="#" class="footer-links">View mobile version</a>
        <a href="#" class="footer-links">Terms of use</a>
        <a href="#" class="footer-links">Product improvement program</a>
        <a href="#" class="footer-links">Contact us</a>
    </div>
     <div class="copyright">
         <span id="telerik-logo"></span>
        <p>Copyright &copy; 2002-2014 Telerik Inc</p>
        <p>201 Jones Rd, Waltham, MA 02451</p>
    </div>
</div>
