@{
    ViewBag.Title = "Header";
}

<div id="header">
    <div id="logo-bar">
        <a href="#">
        @if (ViewBag.Product == "kendo-ui")
        {
           <img alt="Kendo UI logo" class="logo" src="@Url.Content("~/content/shared/styles/kendo-ui-logo.png")"/>
        }
        else if (ViewBag.Product == "php-ui")
        {
           <img alt="PHP for UI logo" class="logo" src="@Url.Content("~/content/shared/styles/php-ui-logo.png")"/>
        }
        else if (ViewBag.Product == "aspnet-mvc")
        {
               <img alt="ASP.NET MVC for UI logo" class="logo" src="@Url.Content("~/content/shared/styles/aspnet-mvc-logo.png")"/>
        }
        else if (ViewBag.Product == "jsp-ui")
        {
           <img alt="JSP for UI logo" class="logo" src="@Url.Content("~/content/shared/styles/jsp-ui-logo.png")"/>
        }  
    </a>   
  </div>       
    <div class="nav-buttons">
        <a id="about" href="http://www.telerik.com/@ViewBag.Product" class="btn">About</a>
        <a id="pricing" href="http://www.telerik.com/purchase.aspx" class="btn">Pricing</a>
        <a id="get-kendoui" href="http://www.telerik.com/download/kendo-ui-complete" class="btn btn-primary">Try now</a>
    </div>
</div>