@{
    ViewBag.Title = "Header";
}

<div id="header">
    <div id="logo-bar">
        <a href="http://www.telerik.com/@ViewBag.Product"><img alt="Telerik logo" class="logo" src="@Url.Content("~/content/shared/styles/telerik-logo.png")"/>
        @if (ViewBag.Product == "kendo-ui")
        {
            <text>Kendo UI</text>
        }
        else if (ViewBag.Product == "php-ui")
        {
            <text>UI for PHP</text>
        }
        else if (ViewBag.Product == "aspnet-mvc")
        {
            <text>UI for ASP.NET MVC</text> 
        }
        else if (ViewBag.Product == "jsp-ui")
        {
            <text>UI for JSP</text> 
        }   
        <span class="product-subtitle">Demos and sample applications</span></a>      
    </div>       
    <div class="nav-buttons">
        <a id="about" href="#" class="btn">About</a>
        <a id="pricing" href="#" class="btn">Pricing</a>
        <a id="get-kendoui" href="#" class="btn btn-primary">Try now</a>
    </div>
</div>