<ul class="kendo-nav">
    <li><a href="#expand">Products <span>&#9660;</span></a>
        <ol class="submenu-box">
            <li><a href="http://www.kendoui.com/web.aspx">Kendo UI Web</a></li>
            <li><a href="http://www.kendoui.com/mobile.aspx">Kendo UI Mobile</a></li>
            <li><a href="http://www.kendoui.com/dataviz.aspx">Kendo UI DataViz</a></li>
            <li><a href="http://www.kendoui.com/server-wrappers.aspx">Server Side Wrappers</a></li>
        </ol>
    </li>
    <li class="active"><a href="http://demos.kendoui.com/">Demos</a></li>
    <li><a href="http://www.kendoui.com/purchase.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/purchase']);">Purchase</a></li>
    <li><a href="http://www.kendoui.com/download.aspx" class="get-kendoui" onclick="_gaq.push(['_trackPageview','/download-button']);">Download</a></li>
</ul>
