
<div class="sourceChooser">
    <label for="sources">Select source file: </label>
    @(Html.DropDownList("sources", ViewBag.Sources as IEnumerable<SelectListItem>, new { style = "width:200px" }))
</div>

<div id="sourceView"></div>
<script>
    $(function() {
        var sources = $("#sources").kendoDropDownList({ change: load }),
            sourceView = $("#sourceView");

        function load() {
            $.get(sources.val(), function(data) {
                sourceView.html(data);
                $("pre").addClass("prettyprint");
                prettyPrint();
            });
        };

        load();
    });
</script>
