<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="jquery-1.8.2.js"></script>
    <script src="source/kendo.all.js"></script>
    <link href="styles/kendo.common.css" rel="stylesheet" />
    <link href="styles/kendo.default.css" rel="stylesheet" />
    @if (ViewBag.suite == "mobile")
    {
    <link href="styles/kendo.mobile.all.css" rel="stylesheet" />
    }
</head>
<body>
    @{ WriteTo(new StringWriter(), RenderSection("Description", false)); }
    @RenderBody()

    @if (ViewBag.suite == "mobile")
    {
<script>
    var app = new kendo.mobile.Application(document.body);
</script>
    }
</body>
</html>
