<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="source/kendo.all.js"></script>
    <link href="styles/kendo.common.css" rel="stylesheet" type="text/css" />
    <link href="styles/kendo.default.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
</body>
</html>
