<div class="Bar">
  <div class="Bar-container">
    <div class="Bar-table">
      <div class="Bar-logo-container">
        <a href="http://www.telerik.com" class="Bar-logo">
          <img alt="" src="../../content/shared/styles/telerik-logo.png" />
        </a>
      </div>
      <div class="Bar-slide">
        <ul class="Bar-menu">
          <li class="Dropdown u-ps" data-tlrk-plugin="dropdown">
            <a href="#products" class="Dropdown-control Bar-menu-link">Products <i class="Dropdown-arrow"></i></a>
            <div class="Dropdown-view Dash">
              <div class="Bar-container">
                <div class="row">
                  <div class="col-2 Dash-aside">
                    <div class="Dash-h1 Dash-h1--bb">Looking for…</div>
                    <ul class="Dash-aside-list">
                      <li>
                        <a href="http://www.telerik.com/platform">Mobile Development</a>
                        <span>Web, Hybrid, Native development</span>
                      </li>
                      <li>
                        <a href="http://www.telerik.com/ui-controls">UI for Any Approach</a>
                        <span>Tools unique for each platform</span>
                      </li>
                      <li>
                        <a href="http://www.telerik.com/cloud-development">Cloud Services</a>
                        <span>Quick and easy start for any idea</span>
                      </li>
                      <li>
                        <a href="http://www.telerik.com/app-development">End-to-End Platform</a>
                        <span>Platform for Mobile development</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-8 Dash-main">
                    <div class="Dash-h1 Dash-h1--bb">All products</div>
                    <div class="row">
                      <div class="col-2">
                        <div class="Dash-h5">DevTools</div>
                      </div>
                      <div class="col-10">
                        <div class="row">
                          <div class="col-4">
                            <div class="Dash-h3">Mobile UI</div>
                            <div class="BlockLinks u-mb2">
                              <a href="http://www.telerik.com/phonegap-ui">UI for PhoneGap</a>
                              <a href="http://www.telerik.com/ios-ui">UI for iOS</a>
                              <a href="http://www.telerik.com/android-ui">UI for Android</a>
                              <a href="http://www.telerik.com/products/windows-phone.aspx">UI for Windows Phone</a>
                              <a href="http://www.telerik.com/products/windows-8/overview.aspx">UI for Windows 8</a>
                            </div>
                            <div class="Dash-h3">HTML5/JS Framework</div>
                            <div class="BlockLinks">
                              <a href="http://www.telerik.com/kendo-ui">Kendo UI Complete</a>
                              <a href="http://www.telerik.com/kendo-ui-web">Kendo UI Web</a>
                              <a href="http://www.telerik.com/kendo-ui-dataviz">Kendo UI DataViz</a>
                              <a href="http://www.telerik.com/kendo-ui-mobile">Kendo UI Mobile</a>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="Dash-h3">Web UI</div>
                            <div class="BlockLinks u-mb2">
                              <a href="http://www.telerik.com/products/aspnet-ajax.aspx">UI for ASP.NET AJAX</a>
                              <a href="http://www.telerik.com/asp-net-mvc">UI for ASP.NET MVC</a>
                              <a href="http://www.telerik.com/php-ui">UI for PHP</a>
                              <a href="http://www.telerik.com/jsp-ui">UI for JSP</a>
                              <a href="http://www.telerik.com/products/silverlight/overview.aspx">UI for Silverlight</a>
                            </div>
                            <div class="Dash-h3">Desktop UI</div>
                            <div class="BlockLinks">
                              <a href="http://www.telerik.com/products/wpf/overview.aspx">UI for WPF</a>
                              <a href="http://www.telerik.com/products/winforms.aspx">UI for WinForms</a>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="Dash-h3">Code Quality Tools</div>
                            <div class="BlockLinks u-mb2">
                              <a href="http://www.telerik.com/teststudio/testing-framework">Testing Framework</a>
                              <a href="http://www.telerik.com/products/mocking.aspx">JustMock</a>
                              <a href="http://www.telerik.com/products/memory-performance-profiler.aspx">JustTrace</a>
                            </div>
                            <div class="Dash-h3">Debugging &amp; Productivity</div>
                            <div class="BlockLinks u-mb2">
                              <a href="http://www.telerik.com/fiddler">Fiddler</a>
                              <a href="http://www.telerik.com/products/decompiler.aspx">JustDecompile</a>
                              <a href="http://www.telerik.com/products/justcode.aspx">JustCode</a>
                            </div>
                            <div class="Dash-h3">Data Access &amp; Reports</div>
                            <div class="BlockLinks">
                              <a href="http://www.telerik.com/products/orm.aspx">ORM</a>
                              <a href="http://www.telerik.com/products/reporting.aspx">Reporting</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Dash-separator"></div>
                    <div class="row">
                      <div class="col-2">
                        <div class="Dash-h5">DevCloud</div>
                      </div>
                      <div class="col-10">
                        <div class="row">
                          <div class="col-4">
                          <div class="BlockLinks">
                            <a href="http://www.telerik.com/app-builder">AppBuilder</a>
                            <a href="http://www.telerik.com/mobile-testing">Mobile Test</a>
                          </div>
                          </div>
                          <div class="col-4">
                            <div class="BlockLinks">
                              <a href="http://www.telerik.com/baas">Backend Services</a>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="BlockLinks">
                              <a href="http://www.telerik.com/analytics">Analytics</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Dash-separator"></div>
                    <div class="row">
                      <div class="col-2">
                        <div class="Dash-h5">ALM</div>
                      </div>
                      <div class="col-10">
                        <div class="row">
                          <div class="col-4">
                            <div class="BlockLinks">
                              <a href="http://www.telerik.com/teampulse">TeamPulse</a>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="BlockLinks">
                              <a href="http://www.telerik.com/teststudio">Test Studio</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Dash-separator"></div>
                    <div class="row">
                      <div class="col-2">
                        <div class="Dash-h5">CMS</div>
                      </div>
                      <div class="col-10">
                        <div class="BlockLinks">
                          <a href="http://www.sitefinity.com/">Sitefinity</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 Dash-aside">
                    <div class="Dash-h1">Collections</div>
                    <a href="#" class="Dash-box u-mb2">
                      <span class="Dash-h5">DevCraft</span>
                      <span class="Dash-box-p">Telerik's full stack of UI components and productivity tools for faster coding</span>
                    </a>
                    <a href="#" class="Dash-box">
                      <span class="Dash-h5">MobileCraft</span>
                      <span class="Dash-box-p">All you need for mobile apps development - native or hybrid</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="http://www.telerik.com/enterprise" class="Bar-menu-link">Enterprise</a>
          </li>
          <li>
            <a href="http://www.telerik.com/download" class="Bar-menu-link">Trials</a>
          </li>
          <li>
            <a href="http://www.telerik.com/purchase" class="Bar-menu-link">Store</a>
          </li>
          <li>
            <a href="http://www.telerik.com/support" class="Bar-menu-link">Support &amp; Learning</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company" class="Bar-menu-link">Company</a>
          </li>
        </ul>
      </div>
      <div class="Bar-navi">
        <a href="http://www.telerik.com/account" class="Bar-navi-link Bar-navi-link--highlighted">Your Account</a>
        <a href="http://www.platform.telerik.com" class="Bar-navi-link Bar-navi-link--highlighted">Telerik Platform</a>
      </div>

    </div>
  </div>
</div>
@*

<script src="../../content/shared/js/dropdown.js" type="text/javascript"></script>
<script src="../../content/shared/js/dataloader.js" type="text/javascript"></script>*@
<script src="../../content/shared/js/dropdown.js" type="text/javascript"></script>
<script src="../../content/shared/js/dataloader.js" type="text/javascript"></script>
