<div class="Bar">
  <div class="Bar-container">
    <div class="Bar-table">
      <div class="Bar-logo-container">
        <a href="http://www.telerik.com" class="Bar-logo">
          <img alt="" src="@Url.Content("~/content/shared/styles/telerik-logo.png")">
        </a>
      </div>
      <div class="Bar-slide">
        <ul class="Bar-menu">
          <li class="Dropdown u-ps" data-tlrk-plugin="dropdown">
            <a href="#products" class="Dropdown-control Bar-menu-link">Products <i class="Dropdown-arrow"></i></a>

              <div class="Dropdown-view Dash">
                <div class="Bar-container">
                  <div class="row">
                    <div class="col-3">
                      <span class="Dash-h1 Dash-h1--bb">Telerik Platform</span>
                      <ul class="Dash-aside-list">
                        <li>
                          <a href="http://www.telerik.com/platform">What is Telerik Platform</a>
                          <span>Cross-Platform and Mobile Development</span>
                        </li>
                        <li>
                          <a href="http://www.telerik.com/ui-controls">UI for Any Approach</a>
                          <span>Engaging interactions for any screen</span>
                        </li>
                        <li>
                          <a href="http://www.telerik.com/cloud-development">Cloud Services for Every App</a>
                          <span>Deployment, Backend, Analytics and more</span>
                        </li>
                        <li>
                          <a href="http://www.telerik.com/app-development">End-to-End, yet Modular</a>
                          <span>Adopt the platform gradually, or as a whole</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-9">
                      <span class="Dash-h1 Dash-h1--bb">Individual Products</span>
                      <div class="row">
                        <div class="col-2">
                          <div class="Dash-h5">DevTools</div>
                        </div>
                        <div class="col-10">
                          <div class="row">
                            <div class="col-3">
                              <div class="Dash-h3">Mobile</div>
                              <div class="BlockLinks u-mb2">
                                <a href="http://www.telerik.com/phonegap-ui">UI for PhoneGap</a>
                                <a href="http://www.telerik.com/ios-ui">UI for iOS</a>
                                <a href="http://www.telerik.com/android-ui">UI for Android</a>
                                <a href="http://www.telerik.com/products/windows-phone.aspx">UI for Windows Phone</a>
                                <a href="http://www.telerik.com/products/windows-8/overview.aspx">UI for Windows 8</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="Dash-h3">Web</div>
                              <div class="BlockLinks u-mb2">
                                <a href="http://www.telerik.com/products/aspnet-ajax.aspx">UI for ASP.NET AJAX</a>
                                <a href="http://www.telerik.com/aspnet-mvc">UI for ASP.NET MVC</a>
                                <a href="http://www.telerik.com/php-ui">UI for PHP</a>
                                <a href="http://www.telerik.com/jsp-ui">UI for JSP</a>
                                <a href="http://www.telerik.com/products/silverlight/overview.aspx">UI for Silverlight</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="Dash-h3">HTML5/JS Framework</div>
                              <div class="BlockLinks u-mb2">
                                <a href="http://www.telerik.com/kendo-ui">Kendo UI Complete</a>
                                <a href="http://www.telerik.com/kendo-ui-web">Kendo UI Web</a>
                                <a href="http://www.telerik.com/kendo-ui-mobile">Kendo UI Mobile</a>
                                <a href="http://www.telerik.com/kendo-ui-dataviz">Kendo UI DataViz</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="Dash-h3">Desktop</div>
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/products/wpf/overview.aspx">UI for WPF</a>
                                <a href="http://www.telerik.com/products/winforms.aspx">UI for WinForms</a>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-3">
                              <div class="Dash-h3">PRODUCTIVITY &amp; QUALITY</div>
                              <div class="BlockLinks u-mb1">
                                <a href="http://www.telerik.com/products/justcode.aspx">JustCode</a>
                                <a href="http://www.telerik.com/products/mocking.aspx">JustMock</a>
                                <a href="http://www.telerik.com/teststudio/testing-framework">Testing Framework</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="Dash-h3">Debugging</div>
                              <div class="BlockLinks u-mb1">
                                <a href="http://www.telerik.com/fiddler">Fiddler</a>
                                <a href="http://www.telerik.com/products/decompiler.aspx">JustDecompile</a>
                                <a href="http://www.telerik.com/products/memory-performance-profiler.aspx">JustTrace</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="Dash-h3">Reporting &amp; Data Access</div>
                              <div class="BlockLinks u-mb1">
                                <a href="http://www.telerik.com/products/reporting.aspx">Reporting</a>
                                <a href="http://www.telerik.com/data-access">Data Access</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="Dash-separator">&nbsp;</div>
                      <div class="row">
                        <div class="col-2">
                          <div class="Dash-h5">DevCloud</div>
                        </div>
                        <div class="col-10">
                          <div class="row">
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/appbuilder">AppBuilder</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/backend-services">Backend Services</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/analytics">Analytics</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/mobile-testing">Mobile Testing</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="Dash-separator">&nbsp;</div>
                      <div class="row">
                        <div class="col-2">
                          <div class="Dash-h5 u-mb0">ALM</div>
                        </div>
                        <div class="col-10">
                          <div class="row">
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/teampulse">TeamPulse</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/teststudio">Test Studio</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="Dash-separator">&nbsp;</div>
                      <div class="row">
                        <div class="col-2">
                          <div class="Dash-h5 u-mb0">CMS</div>
                        </div>
                        <div class="col-10">
                          <div class="BlockLinks">
                            <a href="http://www.sitefinity.com/">Sitefinity</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- .container --> </div>
                <!-- .Dropdown-view -->
              </div>



          </li>
          <li>
            <a href="http://www.telerik.com/enterprise" class="Bar-menu-link">Enterprise</a>
          </li>
          <li>
            <a href="http://www.telerik.com/download" class="Bar-menu-link">Trials</a>
          </li>
          <li>
            <a href="http://www.telerik.com/purchase" class="Bar-menu-link">Store</a>
          </li>
          <li>
            <a href="http://www.telerik.com/support" class="Bar-menu-link">Support &amp; Learning</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company" class="Bar-menu-link">Company</a>
          </li>
        </ul>
      </div>
      <div class="Bar-navi">
        <a href="http://www.telerik.com/account" class="Bar-navi-link Bar-navi-link--highlighted">Your Account</a>
        <a href="https://platform.telerik.com" class="Bar-navi-link Bar-navi-link--highlighted">Telerik Platform</a>
      </div>
    </div>
  </div>
</div>