<div id="telerik-navi">
  <div id="telerik-main">
    <ul id="telerik-products" class="inner">
      <li class="dev-tools">
        <a href="//www.telerik.com/developer-productivity-tools.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/dev-tools']);">
          <h2><small>.NET Developer Tools </small>DevTools</h2>
          <p>UI Controls For</p>
          <ul>
            <li>&#8226; ASP.NET AJAX, ASP.NET MVC</li>
            <li>&#8226; WPF, Silverlight, WinForms</li>
            <li>&#8226; Windows 8, Windows Phone</li>
          </ul>
          <p>Reporting and Data Access Tools</p><br />
          <p>Productivity Tools</p>
          <ul>
            <li>&#8226; Refactoring and Code Analysis</li>
            <li>&#8226; Mocking, Decompiling, Tracing</li>
          </ul>
          <p>DevCraft Value Bundles</p>
        </a>
      </li>
      <li class="kendo">
        <a href="//www.kendoui.com" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/kendo-ui']);">
          <h2><small>HTML5 / JavaScript Development </small>Kendo UI</h2>
          <p>Everything you need to build sites and mobile apps with JavaScript and HTML5</p>
        </a>
      </li>
      <li class="icenium">
        <a href="//www.icenium.com/" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/icenium']);">
          <h2><small>Hybrid Mobile Development </small>Icenium</h2>
          <p>Cross-platform Mobile Development Tool with cloud-based architecture</p>
        </a>
      </li>
      <li class="test-studio">
        <a href="//www.telerik.com/automated-testing-tools/" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/test-studio']);">
          <h2><small>Software Testing Tools </small>Test Studio</h2>
          <p>One easy tool for Functional, Performance, Load and Mobile software testing</p>
        </a>
      </li>
      <li class="eqatec">
        <a href="//www.telerik.com/analytics/" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/eqatec']);">
          <h2><small>Application Analytics </small>EQATEC</h2>
          <p>Real-time usage monitoring and app insights for mobile, web and desktop applications.</p>
        </a>
      </li>
      <li class="sitefinity">
        <a href="//www.sitefinity.com" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/sitefinity']);">
          <h2><small>Online Business Platform </small>Sitefinity CMS</h2>
          <p>Everything for your online business - content management, ecommerce, emarketing</p>
        </a>
      </li>
      <li class="team-pulse">
        <a href="//www.telerik.com/agile-project-management-tools/" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/teampulse']);">
          <h2><small>Agile Project Management </small>TeamPulse</h2>
          <p>Simple and intuitive project management and collaboration software</p>
        </a>
      </li>
    </ul>

    <div id="sitenav-contacts">
      <div class="inner">
        <div class="call-us">
          <h3>Contact us</h3>
          <span>We are here for you.</span>
        </div>
        <ul>
          <li class="us">+1&#8210;888&#8210;365&#8210;2779</li>
          <li class="uk">+44&#8210;20&#8210;7291&#8210;0580</li>
          <li class="bg">+359&#8210;2&#8210;8099850</li>
          <li class="de">+49&#8210;89&#8210;2441642&#8210;70</li>
          <li class="au">+61&#8210;2&#8210;8090&#8210;1465</li>
          <li class="mail"><a href="mailto:sales@telerik.com" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/sales-mail']);">sales@telerik.com</a></li>
        </ul>
        <a href="//www.telerik.com/account" class="your-account" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/sign-in']);">Your account <span>Access to your products, updates and support</span></a>
      </div>
    </div>
  </div>

  <div id="telerik-bar">
    <div class="inner">
      <a id="telerik-logo" href="//www.telerik.com" title="Telerik" onclick="_gaq.push(['_trackPageview', '/top-nav/site-nav/telerik-logo']);"><img src="//www.telerik-web-assets.com/shared/telerik-navigation/img/telerik-logo.png" width="107" height="35" alt="Telerik" /><span id="telerik-slogan"></span></a>
      <span id="toggle-main">Product Families</span>

      <ul id="telerik-menu">         
          <li id="toggle-about-us-menu">ABOUT US<span class="arrow"></span>
            <div id="telerik-about-us-panel" class="telerik-menu-panel">
              <h3>About Telerik</h3>
              <ul>
                <li><a href="//www.telerik.com/company.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/company']);">Company</a></li>
                <li><a href="//www.telerik.com/company/press-center.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/press-center']);">Press Center</a></li>
                <li><a href="//www.telerik.com/company/customers.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/customers']);">Customers</a></li>
                <li><a href="//www.telerik.com/community.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/community']);">Community</a></li>
                <li><a href="//www.telerik.com/company/careers.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/careers']);">Careers</a></li>
                <li><a href="//www.telerik.com/company/contact-us.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/contacts']);">Contacts</a></li>
              </ul>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>