<div class="Bar">
  <div class="Bar-container">
    <div class="Bar-table">
      <div class="Bar-logo-container">
        <a href="http://www.telerik.com" class="Bar-logo" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'telerik-logo'])">
          <img alt="" src="@Url.Content("~/content/shared/styles/telerik-logo.png")">
        </a>
      </div>
      <div class="Bar-slide">
        <ul class="Bar-menu">
          <li class="Dropdown u-ps" data-tlrk-plugin="dropdown">
            <a href="#products" class="Dropdown-control Bar-menu-link">Products <i class="Dropdown-arrow"></i></a>
              <div class="Dropdown-view Dash">
                <div class="Bar-container">
                  <div class="row">
                    <div class="col-3">
                      <span class="Dash-h1 Dash-h1--bb">Telerik Platform</span>
                      <ul class="Dash-aside-list">
                        <li>
                          <a href="http://www.telerik.com/platform" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'mobile-development'])">What is Telerik Platform</a>
                          <span>Cross-Platform and Mobile Development</span>
                        </li>
                        <li>
                          <a href="http://www.telerik.com/ui-controls" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-any-approach'])">UI for Any Approach</a>
                          <span>Engaging interactions for any screen</span>
                        </li>
                        <li>
                          <a href="http://www.telerik.com/cloud-development" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'cloud-services'])">Cloud Services for Every App</a>
                          <span>Deployment, Backend, Analytics and more</span>
                        </li>
                        <li>
                          <a href="http://www.telerik.com/app-development" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'end-to-end-platform'])">End-to-End, yet Modular</a>
                          <span>Adopt the platform gradually, or as a whole</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-9">
                      <span class="Dash-h1 Dash-h1--bb">Individual Products</span>
                      <div class="row">
                        <div class="col-2">
                          <div class="Dash-h5">DevTools</div>
                        </div>
                        <div class="col-10">
                          <div class="row">
                            <div class="col-3">
                              <div class="Dash-h3">Mobile</div>
                              <div class="BlockLinks u-mb2">
                                <a href="http://www.telerik.com/phonegap-ui" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-phonegap'])">UI for PhoneGap</a>
                                <a href="http://www.telerik.com/ios-ui" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-ios'])">UI for iOS</a>
                                <a href="http://www.telerik.com/android-ui" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-android'])">UI for Android</a>
                                <a href="http://www.telerik.com/products/windows-phone.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-windows-phone'])">UI for Windows Phone</a>
                                <a href="http://www.telerik.com/products/windows-8/overview.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-windows-8'])">UI for Windows 8</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="Dash-h3">Web</div>
                              <div class="BlockLinks u-mb2">
                                <a href="http://www.telerik.com/products/aspnet-ajax.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-aspnet-ajax'])">UI for ASP.NET AJAX</a>
                                <a href="http://www.telerik.com/aspnet-mvc" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-aspnet-mvc'])">UI for ASP.NET MVC</a>
                                <a href="http://www.telerik.com/php-ui" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-php'])">UI for PHP</a>
                                <a href="http://www.telerik.com/jsp-ui" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-jsp'])">UI for JSP</a>
                                <a href="http://www.telerik.com/products/silverlight/overview.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-silverlight'])">UI for Silverlight</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="Dash-h3">HTML5/JS Framework</div>
                              <div class="BlockLinks u-mb2">
                                <a href="http://www.telerik.com/kendo-ui" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'kendoui-complete'])">Kendo UI Complete</a>
                                <a href="http://www.telerik.com/kendo-ui-web" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'kendoui-web'])">Kendo UI Web</a>
                                <a href="http://www.telerik.com/kendo-ui-mobile" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'kendoui-mobile'])">Kendo UI Mobile</a>
                                <a href="http://www.telerik.com/kendo-ui-dataviz" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'kendoui-dataviz'])">Kendo UI DataViz</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="Dash-h3">Desktop</div>
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/products/wpf/overview.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-wpf'])">UI for WPF</a>
                                <a href="http://www.telerik.com/products/winforms.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'ui-for-winforms'])">UI for WinForms</a>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-3">
                              <div class="Dash-h3">PRODUCTIVITY &amp; QUALITY</div>
                              <div class="BlockLinks u-mb1">
                                <a href="http://www.telerik.com/products/justcode.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'justcode'])">JustCode</a>
                                <a href="http://www.telerik.com/products/mocking.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'justmock'])">JustMock</a>
                                <a href="http://www.telerik.com/teststudio/testing-framework" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'testing-framework'])">Testing Framework</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="Dash-h3">Debugging</div>
                              <div class="BlockLinks u-mb1">
                                <a href="http://www.telerik.com/fiddler" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'fiddler'])">Fiddler</a>
                                <a href="http://www.telerik.com/products/decompiler.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'juctdecompile'])">JustDecompile</a>
                                <a href="http://www.telerik.com/products/memory-performance-profiler.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'justtrace'])">JustTrace</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="Dash-h3">Reporting &amp; Data Access</div>
                              <div class="BlockLinks u-mb1">
                                <a href="http://www.telerik.com/products/reporting.aspx" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'reporting'])">Reporting</a>
                                <a href="http://www.telerik.com/data-access" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'data-access'])">Data Access</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="Dash-separator">&nbsp;</div>
                      <div class="row">
                        <div class="col-2">
                          <div class="Dash-h5">DevCloud</div>
                        </div>
                        <div class="col-10">
                          <div class="row">
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/appbuilder" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'appbuilder'])">AppBuilder</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/backend-services" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'backend-services'])">Backend Services</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/analytics" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'analytics'])">Analytics</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/mobile-testing" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'mobile-testing'])">Mobile Testing</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="Dash-separator">&nbsp;</div>
                      <div class="row">
                        <div class="col-2">
                          <div class="Dash-h5 u-mb0">ALM</div>
                        </div>
                        <div class="col-10">
                          <div class="row">
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/teampulse" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'teampulse'])">TeamPulse</a>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="BlockLinks">
                                <a href="http://www.telerik.com/teststudio" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'teststudio'])">Test Studio</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="Dash-separator">&nbsp;</div>
                      <div class="row">
                        <div class="col-2">
                          <div class="Dash-h5 u-mb0">CMS</div>
                        </div>
                        <div class="col-10">
                          <div class="BlockLinks">
                            <a href="http://www.sitefinity.com/" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'sitefinity'])">Sitefinity</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </li>
          <li>
            <a href="http://www.telerik.com/enterprise" class="Bar-menu-link" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'enterprise'])">Enterprise</a>
          </li>
          <li>
            <a href="http://www.telerik.com/download" class="Bar-menu-link" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'trials'])">Trials</a>
          </li>
          <li>
            <a href="http://www.telerik.com/purchase" class="Bar-menu-link" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'store'])">Pricing</a>
          </li>
          <li>
            <a href="http://www.telerik.com/support" class="Bar-menu-link" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'support-and-learning'])">Support &amp; Learning</a>
          </li>
          <li>
            <a href="http://www.telerik.com/company" class="Bar-menu-link" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'company'])">Company</a>
          </li>
        </ul>
      </div>
      <div class="Bar-navi">
        <a href="http://www.telerik.com/account" class="Bar-navi-link Bar-navi-link--highlighted" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'your-account'])">Your Account</a>
        <a href="https://platform.telerik.com/" class="Bar-navi-link Bar-navi-link--highlighted" onclick="_gaq.push(['_trackEvent', 'top-nav', 'text', 'telerik-platform'])">Telerik Platform</a>
      </div>

    </div>
  </div>
</div>