@using Kendo.Mvc.Examples.Models;

<div class="diagram-wrapper" style="margin: auto;">
    @(Html.Kendo().Diagram<OrgChartShape, OrgChartConnection>()
        .Name("diagram")
        .DataSource(d => d
            .ShapeDataSource()
            .Model(m => 
            {
                m.Id(s => s.Id);
            })
            .Read("ReadShapes", "Diagram")
        )
        .ConnectionsDataSource(d => d
            .Model(m =>
            {
                m.From(c => c.From);
                m.To(c => c.To);
            })
            .Read("ReadConnections", "Diagram")
        )
        .Layout(l => l
            .Type(DiagramLayoutType.Tree)
            .Subtype(DiagramLayoutSubtype.Down)
            .HorizontalSeparation(30)
            .VerticalSeparation(20)
        )
        .ShapeDefaults(sd => sd
            .Width(40)
            .Height(40)
        )
    )
</div>
<div class="configuration-horizontal">
    <div class="config-section">
        <label for="subtype">Layout: </label>
           <select id="subtype">
                <option value="down">Tree Down</option>
                <option value="up">Tree Up</option>
                <option value="tipover">Tipover Tree</option>
            </select>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#subtype").change(function () {
            $("#diagram").getKendoDiagram().layout({
                subtype: $(this).val(),
                type: "tree",
                horizontalSeparation: 30,
                verticalSeparation: 20
            });
        });
    });
</script>

