<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <handlers>
            <remove name="StaticFile" />
            <add name="SSINC-POST-Dummy" path="*.html" verb="POST" modules="ServerSideIncludeModule" resourceType="File" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <security>
            <requestFiltering>
                <!-- The content length is in bytes  -->
                <requestLimits maxAllowedContentLength="10485760"/>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
