.k-notification {
    border-radius: @notification-border-radius;
}
.k-notification when (@theme-name = default) {
    .linear-gradient( @notification-gradient );
}
.k-notification-info {
    background-color: @notification-info-bg;
    color: @notification-info-text;
    border-color: @notification-info-border;
}
.k-notification-success {
    background-color: @notification-success-bg;
    color: @notification-success-text;
    border-color: @notification-success-border;
}
.k-notification-warning {
    background-color: @notification-warning-bg;
    color: @notification-warning-text;
    border-color: @notification-warning-border;
}
.k-notification-error {
    background-color: @notification-error-bg;
    color: @notification-error-text;
    border-color: @notification-error-border;
}
