<div id="example" ng-app="KendoDemos">
    <div class="demo-section k-content" ng-controller="MyCtrl">
        <div class="box-col">
            <h4>Color value 1: {{color1}}</h4>
            <ul>
                <li><div kendo-color-palette ng-model="color1" k-opacity="true"></div></li>
                <li><div kendo-flat-color-picker ng-model="color1" k-opacity="true"></div></li>
            </ul>    
        </div>
        <div class="box-col">
            <h4>Color value 2: {{color2}}</h4>
            <ul>
                <li><input kendo-color-picker k-palette="'websafe'" ng-model="color2" /></li>
            </ul>
        </div>
        <div class="box-col">
            <h4>Color value 3: {{color3}}</h4>
            <ul>
                <li><input kendo-color-picker ng-model="color3" k-buttons="false" k-preview="false" k-input="false" /></li>
            </ul>
        </div>
    </div>
    <style scoped>
        .box-col {
            width: 300px;
        }
    </style>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ])
      .controller("MyCtrl", function($scope){
      })
  
</script>
