#page-edit-link {
  margin-top: 80px !important;
}

.api-toc-container~article h3 {
  font-size: 22px;
}

.api-breadcrumbs-container+#page-article :target:before {
  content: "";
  display: block;
  height: 175px;
  margin: -175px 0 0;
}

.api-breadcrumbs-container {
  padding: 0 0 0 5.8em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #ebecee;
  position: fixed;
  left: 18%;
  right: 0;
  background-color: #fff;
  top: 118px;
  width: 100%;
  max-width: 100%;
  z-index: 5;
  margin-top: 0;
  margin-left: 0;
}

.links-container>ul>li {
  padding: 2px 10px;
  font-size: 12px;
}

.links-container>ul {
  position: absolute;
  max-height: 400px;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
  padding: 5px 10px 5px 0;
  list-style: none;
  display: none;
  margin: 0 0 0 25px;
  left: 200px;
  min-width: 150px;
}

.links-container>a {
  background: transparent url(../images/arrow.png) 100% 50% no-repeat;
  padding-right: 18px;
  padding-left: 14px;
  margin-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.links-container>a:first-of-type {
  background: none !important;
  padding-left: 0;
}

.links-container>a:last-of-type {
  font-weight: bold;
  display: inline-block;
  color: #e50870;
}

.links-container>a:last-of-type::after {
  background: none !important;
}

.links-container>a:after {
  background: transparent url(../images/shadow.png) 100% 50% no-repeat;
  content: "";
  display: inline-block;
  width: 17px;
  height: 46px;
  position: absolute;
  margin-left: 16px;
}

.links-container a:last-of-type ul {
  display: none;
}

.api-toc-container {
  position: fixed;
  left: 1400px;
  z-index: 10;
  border-left: 1px solid #ebecee;
  padding-left: 15px;
  overflow-wrap: break-word;
  width: 270px;
  margin-top: 60px;
  /* bottom: 84px; */
}

@media (min-width: 1660px) {
  .api-toc-container {
    display: block;
  }
}

@media (min-width: 1580px) and (max-width: 1659px) {
  .api-toc-container {
    display: block;
    left: 1320px;
    width: 240px;
  }
}

@media (min-width: 1468px) and (max-width: 1579px) {
  #page-article {
    padding-right: 240px;
  }
  .api-toc-container {
    display: block;
    left: 1210px;
    width: 240px;
  }
}

@media (min-width: 1200px) and (max-width: 1467px) {
  #page-article {
    padding-right: 240px;
    max-width: 93em;
  }
  .api-toc-container {
    display: block;
    left: 76em;
    width: 220px;
  }
}

@media (max-width: 1200px) {
  .api-breadcrumbs-container {
    padding-left: 2em;
    left: 0;
  }
  .api-toc-container {
    display: none;
    left: 1210px;
  }
}

.api-toc-container li {
  margin: 5px 0;
}

.api-toc-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.api-toc-container .active-toc-item, .links-container>ul .selected-dropdown-breadcrumb {
  color: #e50870;
  font-weight: 600;
}

.api-toc-title {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

#api-filter~h2:first-of-type {
  margin-top: 30px;
}

.api-breadcrumbs-container~#page-article article {
  margin-top: 60px !important;
}

h2 a:first-child+a code:before {
  content: '-';
  margin-right: 7px;
  color: #cccccc;
}

#markdown-toc+#page-article ul, #related-properties+ul {
  list-style-type: none;
  margin-left: -18px;
}

#markdown-toc+#page-article ul>li, #related-properties+ul>li {
  margin-right: 25px;
  width: 33%;
}

#markdown-toc .section>a {
  background: transparent !important;
}

.nested-list-item {
  font-size: 12px;
  list-style-type: none;
}

.hide-api-container, .hide-api-link {
  display: none !important;
}

.columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.api-icon {
  position: relative;
  margin-top: 10px;
  margin-bottom: 6px;
  font-weight: 500;
}

.api-icon:after {
  position: absolute;
  top: 2px;
  left: -8px;
  height: 0;
  width: 0;
  content: "";
  border: 2px solid #fff;
  border-color: #fff #fff transparent transparent;
}

.api-icon:before {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 2px;
  right: 18px;
  bottom: -2px;
  left: -18px;
  content: "C";
  color: #fff;
  font-size: 8px;
  line-height: 15px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: middle;
}

.constructor-parameters:before {
  background-color: #4b6584;
  content: "CP";
}

.properties:before {
  background-color: #10ac84;
  content: "P";
}

.class-methods:before {
  background-color: #feca57;
  content: "CM";
}

.configuration:before {
  background-color: #1ab125;
  content: "C";
}

.fields:before {
  background-color: #0060be;
  content: "F";
}

.methods:before {
  background-color: #f57c00;
  content: "M";
}

.events:before {
  background-color: #ff4081;
  content: "E";
}

#api-filter {
  margin: 30px 0;
  width: 270px;
}

#api-filter .search {
  padding: 7px 5px 7px 25px;
  width: 100%;
}

#api-filter .search-icon {
  position: absolute;
  margin-top: 9px;
  margin-left: 8px;
  font-size: 12px;
  color: #b8b8b8;
}

#api-filter input[type="search"] {
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #b8b8b8;
}

#api-filter input[type="search"]:focus {
  outline: none;
}

#api-filter input[type="search"]::-webkit-search-decoration, #api-filter input[type="search"]::-webkit-search-cancel-button, #api-filter input[type="search"]::-webkit-search-results-button, #api-filter input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#page-inner-content {
  min-height: 100%;
}

#markdown-toc~footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}