
        <div id="example" class="k-content" role="application">
		<div id="tshirt-view" class="k-header">
			<h2>Customize your Kendo T-shirt</h2>
			<img id="tshirt" src="../../content/web/combobox/tShirt.png" />
            <div id="options">
			<h3>T-shirt Fabric</h3>
            <input id="fabric" placeholder="Select fabric..." />

            <h3>T-shirt Size</h3>
            <select id="size" placeholder="Select size...">
				<option>X-Small</option>
				<option>Small</option>
				<option>Medium</option>
				<option>Large</option>
				<option>X-Large</option>
				<option>2X-Large</option>
			</select>

			<button class="k-button" id="get">Customize</button>
			</div>
        </div>
		<style scoped>
			#example h2 {
				font-weight: normal;
			}
			#tshirt-view {
				border-radius: 10px 10px 10px 10px;
				border-style: solid;
				border-width: 1px;
				overflow: hidden;
				width: 500px;
				margin: 30px auto;
				padding: 20px 20px 0 20px;
				background-position: 0 -255px;
			}
			#tshirt {
				float: left;
				margin: 30px 40px 30px 20px;
			}
			#options {
				padding: 30px;
			}
			#options h3 {
				font-size: 1em;
				font-weight: bold;
				margin: 25px 0 8px 0;
			}
			#get {
				margin-top: 25px;
			}

            .k-readonly
            {
                color: gray;
            }
		</style>

            <script>
                $(document).ready(function() {
                    // create ComboBox from input HTML element
                    $("#fabric").kendoComboBox({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "Cotton", value: "1" },
                            { text: "Polyester", value: "2" },
                            { text: "Cotton/Polyester", value: "3" },
                            { text: "Rib Knit", value: "4" }
                        ],
                        filter: "contains",
                        suggest: true,
                        index: 3
                    });

                    // create ComboBox from select HTML element
                    $("#size").kendoComboBox();

                    var fabric = $("#fabric").data("kendoComboBox");
					var select = $("#size").data("kendoComboBox");


					$("#get").click(function() {
					    alert('Thank you! Your Choice is:\n\nFabric ID: ' + fabric.value() + ' and Size: ' + select.value());
                    });
                });
            </script>
        </div>
