
        <div id="example" class="k-content">
            Select a title from Netflix:
            <input id="titles"/>

            <script>
                $(document).ready(function() {
                    $("#titles").kendoComboBox({
                        placeholder: "Select product",
                        dataTextField: "ProductName",
                        dataValueField: "ProductID",
                        filter: "contains",
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "jsonp",
                                    url: "http://demos.kendoui.com/service/Products",
                                }
                            }
                        }
                    });
                });
            </script>
        </div>
