
        <div id="example" class="k-content">            
            <div class="demo-section">            
                <div class="k-rtl">
                    <input id="combobox" />
                </div>
            </div>
            <script>
                $(document).ready(function() {
                    var data = [
                        { text: "Item 1", value:"1" },
                        { text: "Item 2", value:"2" },
                        { text: "Item 3", value:"3" }
                    ];

                    $("#combobox").kendoComboBox({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: data
                    });
                });
            </script>
        </div>