<div data-role="view" id="home-home">
    <div data-role="header">
        <div data-role="navbar" style="background-color: #147">
            <span data-role="title">Hello World</span>
            <a data-align="right" data-role="button" style="background-color: #58B" href="#about">About</a>
        </div>
    </div>
    Hello
</div>

<div data-role="view" id="about" data-transition="slide">
    <div data-role="header">
        <div data-role="navbar" style="background-color: #222">
            <a data-align="left" data-role="back-button" style="background-color: #777" href="#home-home">Back</a>
            <span data-role="title">About</span>
        </div>
    </div>
    About
</div>
