<div data-role="view" data-title="NavBar">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
            <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
            <a data-align="right" data-role="button">About</a>
            <a data-align="right" data-role="button">Settings</a>
        </div>
    </header>

    Hello
</div>

