<div data-role="view" data-layout="foo" data-title="Home" id="home">
    Home
    <a data-align="right" data-role="button" href="#about">About</a>
</div>

<div data-role="view" data-layout="foo" data-title="About" id="about">
    About us
    <a data-role="button" href="#home">Home</a>
</div>

<div data-role="layout" data-id="foo">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>
</div>
