<div class="example" ng-app="KendoDemos">
    <div class="demo-section k-header" ng-controller="MyCtrl">
        <div class="box-col">
            <h4>Set Value</h4>
            <p>
                <input kendo-numeric-text-box k-min="0" k-max="100" k-ng-model="value" />
            </p>
        </div>
        <div class="box-col">
            <h4>Set Value</h4>
            <div kendo-slider k-min="0" k-max="100" k-ng-model="value"></div>
        </div>
        <div class="box-col">
            <h4>Result</h4>
            Value: {{value}}
        </div>
    </div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ]);
  function MyCtrl($scope) {
      $scope.value = 50;
  }
</script>
