
        <div id="example">            
            <div class="demo-section k-header">
                <h4>Set value</h4>
                <input id="numerictextbox"/>
            </div>            
            <div class="box">
                <h4>Console log</h4>
                <div class="console"></div>
            </div>
            <script>
                $(document).ready(function() {

                    function onChange() {
                        kendoConsole.log("Change :: " + this.value());
                    }

                    function onSpin() {
                        kendoConsole.log("Spin :: " + this.value());
                    }

                    $("#numerictextbox").kendoNumericTextBox({
                        change: onChange,
                        spin: onSpin
                    });
                });
            </script>
            <style scoped>
                .demo-section {
                    width: 400px;
                }
            </style> 
        </div>
