
        <div id="example">
            <div id="add-product">
                <p class="title">Add new product</p>
                <div>
                    <span class="description">Price:</span>
                    <input id="currency" type="number" value="30" min="0" max="100" />
                </div>
                <div style="margin-top: 7px;">
                    <span class="description">Price Discount:</span>
                    <input id="percentage" value="0.05" />
                </div>
                <div style="margin-top: 7px;">
                    <span class="description">Weight:</span>
                    <input id="custom" value="2" />
                </div>
                <div style="margin-top: 7px;">
                    <span class="description">Currently in stock:</span>
                    <input id="numeric" type="number" value="17" min="0" max="100" step="1" />
                </div>
            </div>


            <script>
                $(document).ready(function() {
                    // create NumericTextBox from input HTML element
                    $("#numeric").kendoNumericTextBox();

                    // create Curerncy NumericTextBox from input HTML element
                    $("#currency").kendoNumericTextBox({
                        format: "c",
                        decimals: 3
                    });

                    // create Percentage NumericTextBox from input HTML element
                    $("#percentage").kendoNumericTextBox({
                        format: "p0",
                        min: 0,
                        max: 0.1,
                        step: 0.01
                    });

                    // create NumericTextBox from input HTML element using custom format
                    $("#custom").kendoNumericTextBox({
                        format: "#.00 kg"
                    });
                });
            </script>

            <style scoped>
                #add-product {
                    height: 181px;
                    width: 400px;
                    margin: 30px auto;                  
                    font-size: 12px;
                }

                #add-product .title {
                    font-size: 16px;
                    color: #fff;
                    background-color: #5c82af;
                    padding: 15px;
                    margin: 20px 0;
               }

                #add-product .description {
                    display:inline-block;
                    width: 200px;
                    font-weight: bold;
                    padding: 0 20px;
                }
            </style>
        </div>
