
        <div id="example">
            <div class="demo-section k-header k-rtl">
                <h4>Set Value</h4>
                <input id="numerictextbox" />
            </div>

            <script>
                $(document).ready(function() {
                    $("#numerictextbox").kendoNumericTextBox();
                });
            </script>
            
            <style scoped>
                .demo-section {
                    width: 400px;
                }
            </style>
        </div>