<div data-role="view" data-title="Titanic Belfast" id="scroller-view">
    <div class="titanic_a">&nbsp;</div>

    <h2>Titanic Belfast</h2>

    <div data-role="scroller" class="scroller-content">
        <p>
           The world's largest Titanic experience is opening today in Belfast, Ireland - the place where the iconic ship had been designed and built.
        </p>
        <p>
           The 14,000-sq-m structure took three years to build - the same timespan as the Titanic itself - and like the boat it omits a luxurious aeasthetic. Guests confront a shimmering facade that's made of four peaking triangular shells, resembling 27-m-high vertical ship hulls.
        </p>
    </div>

    <div class="titanic_b">&nbsp;</div>


    <div data-role="scroller" class="scroller-content">
        <p>
            'Its architectural form cuts a skyline silhouette that has been inspired by the very ships that were built on this hallowed ground,' says Eric R Kuhne of CivicArts / Eric R Kuhne & Associates, who designed the building in collaboratino with TODD Architects. 'Its design anchors the profound spirit of invention and innovation from a century ago in a new form.'
        </p>

        <p>
            Inside the six-storey museum are nine galleries for temporary and permanent exhibits, a 1000-seat suite, education and communication facilities, plus catering and retail space. A five-storey central atrium was inspired by the physical gap between the Titanic and Olympic when they were constructed.
        </p>
    </div>

    <div class="titanic_c">&nbsp;</div>

    <div data-role="scroller" class="scroller-content">
        <p>
            <a href="http://www.frameweb.com/news/titanic-belfast" title="www.frameweb.com">www.frameweb.com</a>
        </p>
        <p>
            Text by Lydia Parafianowicz
        </p>
        <p>
            Photos courtesy Christopher Heaney.
        </p>
    </div>
</div>

<style scoped>
    .titanic_a, .titanic_b, .titanic_c {
        display: block;
        height: 230px;
        background: url(../../content/mobile/shared/titanic1.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    .titanic_b {
        background: url(../../content/mobile/shared/titanic2.jpg) no-repeat center center;
    }
    
    .titanic_c {
        background: url(../../content/mobile/shared/titanic3.jpg) no-repeat center center;
    }

    #scroller-view h2{
        margin: 15px 10px 0 10px;
    }

    #scroller-view img {
        -webkit-transform: translatez(0);
    }

    #scroller-view .scroller-content {
        font-weight: normal;
        height: 130px;
        margin: 15px 0;
        background-color: rgba(0, 0, 0, 0.07);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
    }
</style>

