<div data-role="view" data-title="Garden Helper" id="scroller-view">
    <div class="genovese">&nbsp;</div>

    <h2>Genovese basil</h2>

    <div data-role="scroller" class="scroller-content">
        <p>
            <strong>Genovese basil</strong> (in ligurian language baxaicò or baxeicò) is a cultivar of Ocimum basilicum (sweet basil).
            It is one of the most popular basils for culinary use, particularly for its use in pesto, the traditional genoese sauce.
            The name "Basilico Genovese" is protected by the European Union with the Denominazione di Origine Protetta certification.
            Genoese basil is produced in the provinces of Genoa, Savona and Imperia.
        </p>

        <p>The best genoese basil is said to be grown in Prà, a western delegation of the city of Genoa, close to Cornigliano.
            The nearby presence of a large steel mill from the 1950s to the 1980s threatened the cultivar, said to be necessary to produce the "real" genoese pesto.
            Now the threat is mostly gone with the dismissal of the mill and the conversion of the remaining lines to less polluting productions.
        </p>
    </div>

    <div class="napoletano">&nbsp;</div>

    <h2>Napoletano basil</h2>

    <div data-role="scroller" class="scroller-content">
        <p>
            Annual. Sometimes called, 'lettuce leaf basil', Napoletano has crinkled leaves that can reach up to 5" long!
            The large mild-flavored leaves are delcious when used to wrap fish or chicken, on tomato and mozzarella sandwiches, or added to cold pasta dishes.
            Plants are slow to bolt, allowing a longer harvest period, and can grow up to 24" tall.
            They can be grown in containers or on a sunny south-facing windowsill and pinched back to keep them more compact and to encourage more leaf production.
        </p>

        <p><strong>When to sow outside</strong>: 1 to 2 weeks after average last frost, and when temperatures are warm. Basil is very sensitive to frost.</p>
    </div>

    <div class="note">
        Images from
        <a href="http://www.flickr.com/photos/hopkinsii/" data-rel="external">Hopkinsii</a> and
        <a href="http://www.flickr.com/photos/beautifulcataya/" data-rel="external">beautifulcataya</a>.
    </div>
</div>

<style scoped>
    .genovese {
        display: block;
        height: 214px;
        background: url(../../content/mobile/shared/genovese.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    .napoletano {
        display: block;
        height: 214px;
        background: url(../../content/mobile/shared/napoletano.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    #scroller-view h2{
        margin: 10px;
    }

    #scroller-view .note {
        color: #999;
    }

    #scroller-view img {
        -webkit-transform: translatez(0);
    }

    #scroller-view .scroller-content {
        font-weight: normal;
        height: 130px;
        margin: 20px 10px;
        border: 1px solid #eee;
    }
</style>

