@{
    ViewBag.ShowCodeStrip = false;
}

        <div id="example" class="k-content">
            <div class="box new">
                <a class="imgPlate" href="../area-chart/index.html"><img alt="Area Charts" src="../../content/dataviz/overview/area.png"></a>
                <h3><a href="../area-chart/index.html">Area Charts</a></h3>
                <p>Shows value changes over time or compares values</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../bar-charts/index.html"><img alt="Bar Charts" src="../../content/dataviz/overview/bar.png"></a>
                <h3><a href="../bar-charts/index.html">Bar Charts</a></h3>
                <p>Shows value changes over time or compares values</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../pie-chart/index.html"><img alt="Pie Charts" src="../../content/dataviz/overview/pie.png"></a>
                <h3><a href="../pie-chart/index.html">Pie Charts</a></h3>
                <p>Shows size of items with respect to the total</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../line-chart/index.html"><img alt="Line Charts" src="../../content/dataviz/overview/line.png"></a>
                <h3><a href="../line-chart/index.html">Line Charts</a></h3>
                <p>Shows trends in data over regular intervals</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../scatter-charts/index.html"><img alt="Scatter Charts" src="../../content/dataviz/overview/scatter.png"></a>
                <h3><a href="../scatter-charts/index.html">Scatter Charts</a></h3>
                <p>Shows two dimensional points or lines</p>
            </div>
            <div class="box new">
                <a class="imgPlate" href="../bar-charts/multiple-axes.html"><img alt="Multiple Axes" src="../../content/dataviz/overview/multiple-axes.png"></a>
                <h3><a href="../bar-charts/multiple-axes.html">Multiple Axes</a></h3>
                <p>Shows two dimensional points or lines</p>
            </div>
            <div class="box new">
                <a class="imgPlate" href="../radial-gauge/index.html"><img alt="Radial Gauge" src="../../content/dataviz/overview/radial-gauge.png"></a>
                <h3><a href="../radial-gauge/index.html">Radial Gauge</a></h3>
                <p>Shows value changes over time or compares values</p>
            </div>
            <div class="box new">
                <a class="imgPlate" href="../linear-gauge/index.html"><img alt="Linear Gauge" src="../../content/dataviz/overview/linear-gauge.png"></a>
                <h3><a href="../linear-gauge/index.html">Linear Gauge</a></h3>
                <p>Shows value changes over time or compares values</p>
            </div>

        </div>
