@{
    ViewBag.ShowCodeStrip = false;
}

        <div id="example" class="k-content">
            <div class="box">
                <a class="imgPlate" href="../area-charts/index.html"><img alt="Area Charts" src="../../content/dataviz/overview/area.png"></a>
                <h3><a href="../area-charts/index.html">Area Charts</a></h3>
                <p>Area Chart emphasizes changes in values by filling in the portion of the graph beneath the line that connects each data point in a series.</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../bar-charts/index.html"><img alt="Bar Charts" src="../../content/dataviz/overview/bar.png"></a>
                <h3><a href="../bar-charts/index.html">Bar Charts</a></h3>
                <p>Show value changes over time, or illustrate a quantitative comparison of multiple entities.</p>
            </div>
	    <div class="box">
                <a class="imgPlate" href="../financial/index.html"><img alt="Stock Charts" src="../../content/dataviz/overview/stock.png"></a>
                <h3><a href="../financial/index.html">Stock Charts</a></h3>
                <p>A combination of Line and Candlestick chart representing historical stock prices.</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../bubble-charts/index.html"><img alt="Bubble Charts" src="../../content/dataviz/overview/bubble.png"></a>
                <h3><a href="../bubble-charts/index.html">Bubble Charts</a></h3>
                <p>A Scatter chart variation that allows to display three types of data along x- and y-axis using size of bubbles as third dimension.</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../line-charts/index.html"><img alt="Line Charts" src="../../content/dataviz/overview/line.png"></a>
                <h3><a href="../line-charts/index.html">Line Charts</a></h3>
                <p>Show trends in data over regular intervals, or show trends among multiple entities.</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../donut-charts/index.html"><img alt="Donut Charts" src="../../content/dataviz/overview/donut.png"></a>
                <h3><a href="../donut-charts/index.html">Donut Charts</a></h3>
                <p>Donut chart is a Pie chart variation, with the ability to support multiple series.</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../pie-charts/index.html"><img alt="Pie Charts" src="../../content/dataviz/overview/pie.png"></a>
                <h3><a href="../pie-charts/index.html">Pie Charts</a></h3>
                <p>Show the relative quantitative value or percentage of items with respect to the total.</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../scatter-charts/index.html"><img alt="Scatter Charts" src="../../content/dataviz/overview/scatter.png"></a>
                <h3><a href="../scatter-charts/index.html">Scatter Charts</a></h3>
                <p>Show the relationship of multiple values or entities, often grouped by category or relationship, along a common x- and y-axis.</p>
            </div>
            <div class="box">
                <a class="imgPlate" href="../radial-gauge/index.html"><img alt="Radial Gauge" src="../../content/dataviz/overview/radial-gauge.png"></a>
                <h3><a href="../radial-gauge/index.html">Radial Gauge</a></h3>
                <p>Show range or progress data in a radial (circular or semi-circular) view. Useful for illustrating progress toward a goal, the current status of some value within a range of upper and lower bounds, or a summary of some fluctuating metric.</p>
            </div>

            <style scoped>
                .box {
                	min-height: 250px;
                }
                
                #example {
                	background-color: #fff;
                }
		
		.imgPlate {
		    height:130px;
		}
            </style>

        </div>
