// Dropdowngrid
.k-dropdowngrid-popup {
    border-color: @grid-border;
    color: @grid-text;
    background-color: @grid-bg;
}


// Table
.k-table,
.k-data-table {
    border-color: @grid-border;
    color: @grid-text;
    background-color: @grid-bg;
}


// Table header
.k-table-thead,
.k-table-header,
.k-table-group-sticky-header {
    border-color: @grid-header-border;
    color: @grid-header-text;
    background-color: @grid-header-bg;
}


// Table footer
.k-table-tfoot,
.k-table-footer {
    // border-color: @grid-footer-border;
    // color: @grid-footer-text;
    // background-color: @grid-footer-bg;
    border-color: @grid-header-border;
    color: @grid-header-text;
    background-color: @grid-header-bg;
}


// Group row
.k-table-group-row {
    // border-color: @grid-group-row-border;
    // color: @grid-group-row-text;
    // background-color: @grid-group-row-bg;
    border-color: @grid-header-border;
    color: @grid-header-text;
    background-color: @grid-header-bg;
}
.k-table-group-td > span {
    color: @grid-bg;
    background-color: @grid-text;
}


// Alternating row
.k-table-alt-row {
    // border-color: @grid-alt-row-border;
    // color: @grid-alt-row-text;
    // background-color: @grid-alt-row-bg;
    background-color: @grid-alt-bg;
}


// Hover state
.k-table-tbody .k-table-row:hover,
.k-table-list .k-table-row:hover,
.k-table-tbody .k-table-row.k-hover,
.k-table-list .k-table-row.k-hover {
    border-color: @grid-hover-border;
    color: @grid-hover-text;
    background-color: @grid-hover-bg;
}


// Focus state
// .k-table-tbody .k-table-row.k-focus,
// .k-table-list .k-table-row.k-focus,
// .k-table-tbody .k-table-td.k-focus,
// .k-table-list .k-table-td.k-focus {
//     border-color: @grid-focus-border;
//     color: @grid-focus-text;
//     background-color: @grid-focus-bg;
//     box-shadow: @grid-focus-shadow;
// }


// Selected state
.k-table-tbody .k-table-row.k-selected,
.k-table-list .k-table-row.k-selected {
    border-color: @grid-selected-border;
    color: @grid-selected-text;
    background-color: @grid-selected-bg;
}
