<!DOCTYPE dom>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <script src="../../../src/jquery.js"></script>
        <script src="../../qunit/qunit/qunit.js"></script>
        <script src="../../qunit-runner.js"></script>
        <script src="../../../src/kendo.core.js"></script>
        <script src="../../../src/kendo.fx.js"></script>
        <script src="../../../src/kendo.data.js"></script>
        <script src="../../../src/kendo.binder.js"></script>
        <script src="../../../src/kendo.list.js"></script>
        <script src="../../../src/kendo.popup.js"></script>
        <script src="../../../src/kendo.dropdownlist.js"></script>
        <script src="../../../src/kendo.userevents.js"></script>
        <script src="../../../src/kendo.draganddrop.js"></script>
        <script src="../../../src/kendo.history.js"></script>
        <script src="../../../src/kendo.mobile.scroller.js"></script>
        <script src="../../../src/kendo.mobile.loader.js"></script>
        <script src="../../../src/kendo.mobile.view.js"></script>
        <script src="../../../src/kendo.mobile.pane.js"></script>
        <script src="../../../src/kendo.mobile.application.js"></script>
        <script src="../../../src/kendo.mobile.button.js"></script>
        <link rel="stylesheet" href="../../qunit/qunit/qunit.css" />
    </head>
    <body>
        <h1 id="qunit-header">kendo.mobile.ui.ListView Tests</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <div id="qunit-fixture">test markup, will be hidden</div>
        <ul id="log"></ul>

        <script>
            var View = kendo.mobile.ui.View,
                root,
                view;

            function setup(html) {
                root = $(html);
                view = kendo.initWidget(root, {}, kendo.mobile.ui.roles);
            }

            module("mobile view");

            function eventOk() {
                ok(true);
            }

            test("initializes nested widgets", 1, function() {
                setup('<div data-role="view"><a href="#" data-role="button" id="foo">Button</a></div>');
                ok(root.find("#foo").data("kendoMobileButton"));
            });

            test("initializes web widgets", 1, function() {
                setup('<div data-role="view"><select data-role="dropdownlist" id="foo"><option></option></select></div>');
                ok(root.find("#foo").data("kendoDropDownList"));
            });

            var viewModel = {foo: "bar"};
            test("binds to model", 1, function() {
                setup('<div data-model="viewModel" data-role="view"><i data-bind="text: foo"></i></div>');
                equal(root.find("i").text(), "bar");
            });

            test("initializes web widgets when binding", 1, function() {
                setup('<div data-model="viewModel" data-role="view"><select data-role="dropdownlist" id="foo"><option></option></select></div>');
                ok(root.find("#foo").data("kendoDropDownList"));
            });

            test("View parses json data model", function() {
                setup('<div data-role="view" data-model=\'{"foo": "bar"}\'><i data-bind="text: foo"></i></div>');
                equal(root.find("i").text(), "bar");
            });

            test("Uses content container if present", function() {
                setup('<div data-role="view" id="page1"><div data-role="content">Content</div></div>');
                equal(root.find("[data-role=content]").length, 1);
            });
        </script>
    </body>
</html>

