<div id="example" class="k-content">
    <div class="demo-section">
        <h3 class="title">Select Continents</h3>
        <select id="select"></select>
    </div>
    <script>
        $(document).ready(function() {
            function onDataBound() {
                if ("kendoConsole" in window) {
                    kendoConsole.log("event: dataBound");
                }
            }

            function onOpen() {
                if ("kendoConsole" in window) {
                    kendoConsole.log("event: open");
                }
            }

            function onClose() {
                if ("kendoConsole" in window) {
                    kendoConsole.log("event: close");
                }
            }

            function onChange() {
                if ("kendoConsole" in window) {
                    kendoConsole.log("event: change");
                }
            }

            function onSelect(e) {
                if ("kendoConsole" in window) {
                    var dataItem = this.dataSource.view()[e.item.index()];
                    kendoConsole.log("event :: select (" + dataItem.text + " : " + dataItem.value + ")" );
                }
            };

            var data = [
                { text: "Africa", value:"1" },
                { text: "Europe", value:"2" },
                { text: "Asia", value:"3" },
                { text: "North America", value:"4" },
                { text: "South America", value:"5" },
                { text: "Antarctica", value:"6" },
                { text: "Australia", value:"7" }
            ];

            $("#select").kendoMultiSelect({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: data,
                dataBound: onDataBound,
                select: onSelect,
                change: onChange,
                close: onClose,
                open: onOpen
            });
        });
    </script>
    <div class="demo-section">
        <h3 class="title">Console log</h3>
        <div class="console"></div>
    </div>
    <style scoped="scoped">
        .demo-section {
            width: 600px;
        }
    </style>
</div>
