
<div id="example" class="k-content">
    <div class="demo-section">
        <h3 class="title">Select titles from Netflix</h3>
        <select id="titles"></select>
    </div>
    <script>
        $(document).ready(function() {
            $("#titles").kendoMultiSelect({
                dataTextField: "Name",
                dataValueField: "Id",
                dataSource: {
                    type: "odata",
                    serverFiltering: true,
                    serverPaging: true,
                    pageSize: 20,
                    transport: {
                        read: "http://odata.netflix.com/Catalog/Titles"
                    }
                }
            });
        });
    </script>

    <style scoped="scoped">
        .demo-section {
            width: 450px;
            margin-top: 40px;
        }
    </style>
</div>
