        <div id="example" class="k-content">

            <div class="demo-section k-rtl">
                <h2>Select Continents</h2>
                <select id="select"></select>
            </div>

            <script>
                $(document).ready(function() {
                    var data = [
                        { text: "Africa", value:"1" },
                        { text: "Europe", value:"2" },
                        { text: "Asia", value:"3" },
                        { text: "North America", value:"4" },
                        { text: "South America", value:"5" },
                        { text: "Antarctica", value:"6" },
                        { text: "Australia", value:"7" }
                    ];

                    $("#select").kendoMultiSelect({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: data
                    });
                });
            </script>
            <style scoped>
                .demo-section {
                    width: 250px;
                    margin: 35px auto 50px;
                    padding: 30px;
                }
                .demo-section h2 {
                    text-transform: uppercase;
                    font-size: 1.2em;
                    margin-bottom: 10px;
                }
            </style>
        </div>
