        <div id="example" class="k-content">

            <div class="demo-section k-rtl">
                <h3 class="title">Select Continents</h3>
                <select id="select"></select>
            </div>

            <script>
                $(document).ready(function() {
                    var data = [
                        { text: "Africa", value:"1" },
                        { text: "Europe", value:"2" },
                        { text: "Asia", value:"3" },
                        { text: "North America", value:"4" },
                        { text: "South America", value:"5" },
                        { text: "Antarctica", value:"6" },
                        { text: "Australia", value:"7" }
                    ];

                    $("#select").kendoMultiSelect({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: data
                    });
                });
            </script>
                <style scoped="scoped">
                .demo-section {
                    width: 406px;
                    margin-top: 40px;
                }
            </style>
        </div>
