
<div id="example" class="k-content">
    <div class="demo-section">
        <h3 class="title">Select Products</h3>
        <select id="products"></select>
    </div>
    <script>
        $(document).ready(function() {
            $("#products").kendoMultiSelect({
                placeholder: "Select products...",
                dataTextField: "ProductName",
                dataValueField: "ProductID",
                dataSource: {
                    type: "odata",
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "http://demos.kendoui.com/service/Northwind.svc/Products",
                        }
                    }
                }
            });
        });
    </script>
    <style scoped>
        .demo-section {
            width: 450px;
            margin-top: 40px;
        }
    </style>
</div>
