        <div id="example" class="k-content">
            <div class="demo-section">
                <h3 class="title">Select titles from Netflix</h3>
                <select id="titles"></select>
            </div>

            <script>
                $(document).ready(function() {
                    $("#titles").kendoMultiSelect({
                        dataTextField: "ContactName",
                        dataValueField: "CustomerID",
                        // define custom template
                        itemTemplate: '<img src=\"../../content/web/Customers/${data.CustomerID}.jpg\" alt=\"${data.CustomerID}\" />' +
                                      '<h3>${ data.ContactName }</h3>' +
                                      '<p>${ data.CompanyName }</p>',
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "jsonp",
                                    url: "http://demos.kendoui.com/service/Customers",
                                }
                            }
                        },
                        height: 300
                    });

                    var multiselect = $("#titles").data("kendoMultiSelect");
                });
            </script>

            <style scoped>
                .demo-section {
                    width: 450px;
                    margin-top: 40px;
                }
                #titles-list .k-item {
                    overflow: hidden; /* clear floated images */
                }

                #titles-list img {
                    -moz-box-shadow: 0 0 2px rgba(0,0,0,.4);
                    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);
                    box-shadow: 0 0 2px rgba(0,0,0,.4);
                    float: left;
                    margin: 5px 20px 5px 5px;
                }
                #titles-list h3 {
                    margin: 30px 0 10px 0;
                    font-size: 2em;
                }
                #titles-list p {
                    margin: 0;
                }
            </style>
        </div>
