        <div id="example">
            <p>Cutomize the element</p>
            <div id="toolbar"></div>
            <div id="container">
                <div id="target"></div>
            </div>

            <script>
                $(document).ready(function() {
                    $("#toolbar").kendoToolBar({
                        resizable: false,
                        items: [
                            { template: "<label>Shape type:</label>&nbsp;<input id='shape' />" },
                            { template: "<label>Background color:</label>&nbsp;<input type='color' id='background-picker' />" },
                            { template: "<label>Border style:</label>&nbsp;<input id='border-style' style='width: 80px;' />" },
                            { template: "<label>Border color:</label>&nbsp;<input type='color' id='border-picker' />" },
                            { template: "<label>Height:</label>&nbsp;<input id='height' class='k-input' style='width: 50px;' type='text' />" },
                            { template: "<label>Width:</label>&nbsp;<input id='height' class='k-input' style='width: 50px;' type='text' />" },
                            { 
                                type: "buttonGroup",
                                items: [
                                    { text: "Left" },
                                    { text: "Center" },
                                    { text: "Right" }
                                ]
                            }
                        ]
                    });

                    $("#shape").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "Rectangle", value: 0 },
                            { text: "Rounded rectangle", value: 10 },
                            { text: "Circle", value: 100 }
                        ]
                    });

                    $("#border-style").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "Solid", value: "solid" },
                            { text: "Dashed", value: "dashed" },
                            { text: "Dotted", value: "dotted" }
                        ]
                    });

                    $("#background-picker").kendoColorPicker({
                        palette: "basic",
                        value: "#22b14c"
                    });

                    $("#border-picker").kendoColorPicker({
                        palette: "basic",
                        value: "#22b14c"
                    });
                });
            </script>

            <style scoped>
                div.k-window-content {
                    padding: 0;
                }

                #toolbar {
                    border-width: 0 0 1px;
                }

                .logo {
                    margin: 0 1em;
                }

                .content {
                    padding: .58em;
                    margin-top: 2em;
                }
            </style>

        </div>
