        <div id="example">
            <div class="demo-section k-header">
                <div id="toolbar"></div>
            </div>
            <script>
                $(document).ready(function() {
                    $("#toolbar").kendoToolBar({
                        items: [
                            { type: "button", text: "Button" },
                            { type: "button", text: "Toggle Button", toggable: true },
                            {
                                type: "splitButton",
                                text: "Insert",
                                items: [
                                    { text: "Insert above", icon: "insert-n" },
                                    { text: "Insert between", icon: "insert-m" },
                                    { text: "Insert below", icon: "insert-s" }
                                ]
                            },
                            { type: "separator" },
                            { template: "<label>Format:</label>" },
                            {
                                template: "<input id='dropdown' style='width: 150px;' />",
                                overflow: "never"
                            },
                            { type: "separator" },
                            {
                                type: "buttonGroup",
                                items: [
                                    { spriteCssClass: "k-tool-icon k-justifyLeft", text: "Left", toggle: true, group: "text-align" },
                                    { spriteCssClass: "k-tool-icon k-justifyCenter", text: "Center", toggle: true, group: "text-align" },
                                    { spriteCssClass: "k-tool-icon k-justifyRight", text: "Right", toggle: true, group: "text-align" }
                                ]
                            },
                            {
                                type: "buttonGroup",
                                items: [
                                    { spriteCssClass: "k-tool-icon k-bold", text: "Bold", toggle: true, showText: "overflow" },
                                    { spriteCssClass: "k-tool-icon k-italic", text: "Italic", toggle: true, showText: "overflow" },
                                    { spriteCssClass: "k-tool-icon k-underline", text: "Underline", toggle: true, showText: "overflow" }
                                ]
                            },
                            {
                                type: "button",
                                text: "Action",
                                overflow: "always"
                            },
                            {
                                type: "button",
                                text: "Another Action",
                                overflow: "always"
                            },
                            {
                                type: "button",
                                text: "Something else here",
                                overflow: "always"
                            }
                        ]
                    });

                    $("#dropdown").kendoDropDownList({
                        optionLabel: "Paragraph",
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "Heading 1", value: 1 },
                            { text: "Heading 2", value: 2 },
                            { text: "Heading 3", value: 3 },
                            { text: "Title", value: 4 },
                            { text: "Subtitle", value: 5 },
                        ]
                    });
                });
            </script>

        </div>
