        <div id="example">
            <div class="box">
                <h4>Info</h4>
                <p>Resize the window and watch how ToolBar's items show or hide according to the available space.</p>
                <p>More information regarding the resizable functionality can be found in the <a href="">Getting Started topic</a>.</p>
                <span id="undo" style="display:none" class="k-button">Click here to open the window.</span>
            </div>
            <div id="window">
                <div id="toolbar"></div>
            </div>
            <script>
                $(document).ready(function() {
                    $("#window").kendoWindow({
                        resizable: true,
                        width: 800,
                        height: 120,
                        minWidth: 400,
                        maxWidth: 1200,
                        title: "Toolbar - resizing",
                        close: function() {
                            $("#undo").show();
                        }
                    });

                    $("#undo").bind("click", function() {
                        $("#window").data("kendoWindow").open();
                        $("#undo").hide();
                    });

                    $("#toolbar").kendoToolBar({
                        items: [
                            { type: "button", text: "Send", primary: true },
                            {
                                type: "splitButton",
                                text: "Save",
                                items: [
                                    { text: "Save as" },
                                    { text: "Upload to drive" }
                                ]
                            },
                            { type: "button", text: "Toggle Button", toggle: true },

                            {
                                template: "<input id='dropdown' style='width: 150px;' />",
                                overflow: "never"
                            },
                            {
                                type: "buttonGroup",
                                items: [
                                    { spriteCssClass: "k-tool-icon k-justifyLeft", text: "Left", toggle: true },
                                    { spriteCssClass: "k-tool-icon k-justifyCenter", text: "Middle", toggle: true },
                                    { spriteCssClass: "k-tool-icon k-justifyRight", text: "Right", toggle: true }
                                ]
                            },
                            {
                                type: "buttonGroup",
                                items: [
                                    { text: "Radio 1", toggle: true, group: "radio" },
                                    { text: "Radio 2", toggle: true, group: "radio" },
                                    { text: "Radio 3", toggle: true, group: "radio" }
                                ]
                            },
                            {
                                type: "button",
                                text: "Action",
                                overflow: "always"
                            },
                            {
                                type: "button",
                                text: "Another Action",
                                overflow: "always"
                            },
                            {
                                type: "button",
                                text: "Something else here",
                                overflow: "always"
                            }
                        ]
                    });

                    $("#dropdown").kendoDropDownList({
                        optionLabel: "Drop Down",
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "Option 1", value: 1 },
                            { text: "Option 2", value: 2 },
                            { text: "Option 3", value: 3 },
                            { text: "Option 4", value: 4 }
                        ]
                    });

                    $("#combo").kendoComboBox({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "Option 1", value: 1 },
                            { text: "Option 2", value: 2 },
                            { text: "Option 3", value: 3 },
                            { text: "Option 4", value: 4 }
                        ]
                    });

                    $("#masked").kendoNumericTextBox();

                });
            </script>

            <style scoped>
                div.k-window-content {
                    padding: 0;
                }

                #toolbar {
                    border-width: 0 0 1px;
                }
                #example {
                    height: 350px;
                }
                #example .box p {
                    padding-bottom: 5px;
                }
            </style>

        </div>
