html {
    min-height: 100%;
}

body
{
    min-height: 100%;
    font: 12px/normal Arial, Helvetica, sans-serif;
    background: url("../images/back.jpg") no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.fake3d {
    position: absolute;
    background: none;
    border: 0;
    width: 1px;
    height: 1px;
    bottom: 100%;
    right: 100%;
    -webkit-transform: translatez(0);
}

#simulator
{
    position: relative;
    border: 0;
    background: #fff;
}

#navigate-back
{
    position: absolute;
    border: 1px solid rgba(0,0,0,.2);
    top: 85px;
    left: 319px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 15px;
    background: rgba(255,255,255,.5);
}

#navigate-back:hover
{
    background: rgba(255,255,255,.8);
}

.device-container
{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    bottom: 0;
    margin: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.device-skin
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.device
{
    height: 40px;
    margin: 30px auto;
}

.selector
{
    width: 170px;
    margin-bottom: 20px;
}

.configurator
{
    text-align: left;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 220px;
}

.configurator > *
{
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}

.configurator > span
{
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
}

.configurator .k-button
{
    margin-left: 10px;
    float: right;
}

.description
{
    text-align: left;
    margin: 20px;
    font-size: 12px;
}

.description .device
{
    margin: 15px 0;
    padding: 0 0 0 40px;
    font-size: 14px;
    background: url("../images/ipad.png") no-repeat;
    background-size: auto 100%;
}

.description .model
{
    display: block;
    font-size: 24px;
}

.k-button > span
{
    width: 24px;
    height: 26px;
    display: block;
    background: transparent url("../images/orientation.png") 0 2px no-repeat;
}

.horizontal
{
    clear: both;
}

.horizontal > span
{
    background-position: -24px 2px;
}

.device-container iframe
{
    width: 100%;
    height: 100%;
}

#address-bar
{
    position: absolute;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    vertical-align: middle;
    font: 12px/16px Arial,Helvetica,sans-serif;
}

.content {
    left: 0;
    right: 290px;
    bottom: 0;
    position: absolute;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}

.header
{
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    width: 260px;
    text-align: right;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    box-shadow: inset 1px 0 0 rgba(0,0,0,.2), 0 0 1px rgba(255,255,255,.3);
    background: rgba(0,0,0,.5);
}

.header:before
{
    content: "\a0";
    display: inline-block;
    height: 120px;
    width: 100%;
    vertical-align: middle;
    background: url("../images/kendomobile.png") 50% 18px no-repeat;
}

.header:after
{
    content: "\a0";
    display: block;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background: -moz-radial-gradient(50% 0, farthest-corner, rgba(255,255,255,.1), rgba(255,255,255,.1) 75%, transparent 77%);
    background: -webkit-radial-gradient(50% 0, farthest-corner, rgba(255,255,255,.1), rgba(255,255,255,.1) 75%, transparent 77%);
    opacity: .3;
}

.header hr
{
    border: 0;
    border-bottom: 1px solid #bbb;
    opacity: .3;
    margin: 20px 10px;
}

body:after
{
    content: url("../devices/ipad/images/horizontal.png")  /* backgrounds preload */
             url("../devices/iphone/images/horizontal.png")
             url("../devices/iphone/images/vertical.png")
             url("../devices/nexuss/images/horizontal.png")
             url("../devices/nexuss/images/vertical.png")
             url("../devices/a100/images/horizontal.png")
             url("../devices/a100/images/vertical.png");
    display: none;
}

.old-browser .content
{
    top: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.old-browser .content:before
{
    content: "\a0";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.old-browser .centered
{
    color: #000;
    font-size: 18px;
    display: inline-block;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
}

.old-browser .centered span
{
    font-size: 24px;
}

.old-browser strong
{
    font-size: 40px;
    line-height: 36px;
    display: block;
}

.old-browser .centered strong span
{
    font-size: 30px;
}
