<div id="example">

    
    
    <div class="demo-section k-header">
        <ul id="select-period">
            <li>
                Month
            </li>
            <li>
                Quarter
            </li>
            <li>
                Year
            </li>
        </ul>
    </div>

    <div class="box">                
        <h4>Console log</h4>
        <div class="console"></div>
    </div>
    <style scoped>
        .demo-section {
            width: 500px;
            text-align: center;
        }
        .km-widget.km-buttongroup {
            margin: 0 auto;
        }
    </style>  
</div>

<script>
    $(function() {
        $("#select-period").kendoMobileButtonGroup({
            select: function(e) {
                kendoConsole.log("selected index:" + e.index);
            },
            index: 0
        });
    });
</script>
