
        <div id="example" class="k-content">
            <div class="demo-section" style="width: 250px;">
            
                <label for="timepicker">Pick time:</label>
                <input id="timepicker" />

            </div>
            <script>
                $(document).ready(function() {
                    function onOpen() {
                        kendoConsole.log("Open");
                    }

                    function onClose() {
                        kendoConsole.log("Close");
                    }

                    function onChange() {
                        kendoConsole.log("Change :: " + kendo.toString(this.value(), 't'));
                    }

                    $("#timepicker").kendoTimePicker({
                        change: onChange,
                        close: onClose,
                        open: onOpen
                    });
                });
            </script>
        </div>
        <div class="console"></div>