<div data-role="view" data-layout="">

</div>

<div data-role="layout" data-id="mobile-tabstrip">
    <header data-role="header">
        <div data-role="navbar">
            <!--<a class="nav-button" data-align="left" data-role="backbutton">Back</a>-->
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
        </div>
    </header>

    <p>TabStrip</p>

    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="#tabstrip-profile" data-icon="contacts">Profile</a>
            <a href="#tabstrip-sales" data-icon="history">Sales</a>
            <a href="#tabstrip-rating" data-icon="favorites">Rating</a>
            <a href="#tabstrip-settings" data-icon="settings">Settings</a>
        </div>
    </div>
</div>
