html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
    font: 12px Arial, Helvetica sans-serif;
    text-align: center;
}

#header, #footer
{
    display: block;
    width: 1100px;
    height: 100px;
    border: 1px solid #adff2f;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}

#header {
    margin-top: 110px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

#nav
{
    display: block;
    float: left;
    width: 190px;
    text-align: left;
    margin-right: 9px;
    margin-top: 10px;
}

#content
{
    width: 900px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#example
{
    margin: 10px 0;
    text-align: left;
    min-height: 200px;
}
* html { height: 200px; }

#example h3
{
    margin-top: 5px;
}

#box
{
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: -110px auto 0;
    text-align: left;
    min-height: 100%;
    padding-bottom: 110px;
}

pre.prettyprint
{
    overflow: hidden;
}

.console
{
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    height: 200px;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
}

.console .count
{
    background-color: #91AFEF;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px 6px 2px 5px;
}

.console div
{
    background: url("../img/sprite.png") no-repeat scroll 6px -95px transparent;
    border-bottom: 1px solid #DDD;
    padding: 5px 5px 4px 24px;
}

.console .error
{
    background-position: 6px -135px;
}

.t-widget, #nav ul
{
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.t-animation-container
{
    text-align: left;
}
