html
{
    overflow-y: scroll;
}

*+html
{
    overflow-y: auto;
}

html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font: 12px Arial, Helvetica, sans-serif;
    text-align: center;
}

.headerGradient,
.skinSelector .t-arrow-down,
#nav .t-sprite,
#codeStrip .t-link,
.configuration .configHead,
.configuration .infoHead,
.configuration .configTitle,
.exampleIcon,
.detailCollapsed,
.detailExpanded,
.console div,
.telerikLogo
{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

* html .headerGradient,
* html .skinSelector .t-arrow-down,
* html #nav .t-sprite,
* html #codeStrip .t-link,
* html .configuration .configHead,
* html .configuration .infoHead,
* html .configuration .configTitle,
* html .exampleIcon,
* html .detailCollapsed,
* html .detailExpanded,
* html .console div,
* html .telerikLogo
{
    background-image: url("../img/sprite_ie6.png");
}

body
{
    background: #fff;
}

.headerBack
{
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: -15px;
    left: 0;
    height: 185px;
    background-color: #ef652a;
    border-bottom: 1px solid #be5e35;
}

.headerGradient
{
    position: relative;
    z-index: 2;
    height: 139px;
    background-position: 0 -761px;
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 0 4px #555;
    -moz-box-shadow: 0 0 4px #555;
    box-shadow: 0 0 4px #555;
}

.flowers
{
    height: 100px;
    width: 100%;
    background: transparent url("../img/flowers.png") no-repeat 50% 0;
}

#header, #footer
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}

#header {
    width: 100%;
    margin-top: 78px;
    height: 93px;
    position: relative;
}

#footer {
    width: 80%;
    min-width: 960px;
    max-width: 1260px;
    height: 68px;
    position: absolute;
    bottom: -68px;
    color: #FFF;
    line-height: 26px;
    *left: 50%;
    *margin-left: -480px;
}

#footer p
{
    margin: 6px 0 0 0;
    padding: 0;
}

#footer a
{
    color: #FFF;
    text-decoration: none;
    margin-right: 10px;
}

#footer a:hover
{
    text-decoration: underline;
}

#footer span
{
    color: #808080;
}

#navi,
#logo
{
    position: relative;
    z-index: 3;
}

#logo
{
    margin: 0;
    padding: 8px 0 6px;
}

.logoLink
{
    background: transparent url("../img/kendo-logo.png") 0 8px no-repeat;
    width: 139px;
    height: 30px;
    display: block;
}

#navi
{
    float: right;
    margin: 15px 0 0;
}

#navi li,
#categories li
{
    float: left;
    list-style: none outside none;
    margin: 0 0 0 38px;
}

#navi a,
#navi span
{
    font-size: 14px;
    color: #2E2E2E;
    cursor: pointer;
    text-decoration: none;
}

#navi a:hover
{
    color: #4E4E4E;
}

#navi span
{
    color: #ef652a;
    cursor: default;
}

.download-beta
{
    position: relative;
    top: -5px;
}

.download-beta a
{
    background: #4C4C4C url("../img/bg-glossy.png") no-repeat 0 100%;
    background-image: url("../img/bg-glossy.png"), -moz-linear-gradient(center top, #4C4C4C 0%, #2E2E2E 100%);
    background-image: url("../img/bg-glossy.png"), -webkit-linear-gradient(center top, #4C4C4C 0%, #2E2E2E 100%);
    background-image: url("../img/bg-glossy.png"), -o-linear-gradient(center top, #4C4C4C 0%, #2E2E2E 100%);
    background-image: url("../img/bg-glossy.png"), -ms-linear-gradient(center top, #4C4C4C 0%, #2E2E2E 100%);
    background-image: url("../img/bg-glossy.png"), -webkit-gradient(linear, center top, center bottom, color-stop(0%,#4C4C4C), color-stop(100%, #2E2E2E));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    padding: 5px 16px 6px 15px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.download-beta a:hover
{
    background: #6C6C6C url("../img/bg-glossy.png") no-repeat 0 100%;
    background-image: url("../img/bg-glossy.png"), -moz-linear-gradient(center top, #6C6C6C 0%, #4E4E4E 100%);
    background-image: url("../img/bg-glossy.png"), -webkit-linear-gradient(center top, #6C6C6C 0%, #4E4E4E 100%);
    background-image: url("../img/bg-glossy.png"), -o-linear-gradient(center top, #6C6C6C 0%, #4E4E4E 100%);
    background-image: url("../img/bg-glossy.png"), -ms-linear-gradient(center top, #6C6C6C 0%, #4E4E4E 100%);
    background-image: url("../img/bg-glossy.png"), -webkit-gradient(linear, center top, center bottom, color-stop(0%,#6C6C6C), color-stop(100%, #4E4E4E));
}

#navi .download-beta a
{
    color: #FFFFFF;
}

#categories
{
    float: left;
    height: 47px;
    margin: 2px 0 0;
    padding: 0;
    width: 100%;
    line-height: 46px;
    vertical-align: middle;
    border-left: 1px solid #d75b26;
    border-right: 1px solid #f28455;
}

#categories li
{
    margin: 0;
    width: 25%;
    height: 100%;
    font-size: 18px;
    color: #FFF;
}

#categories li a
{
    color: #FFF;
    text-decoration: none;
    text-indent: 20px;
    display: block;
    height: 100%;
    cursor: pointer;
    border-left: 1px solid #f28455;
    border-right: 1px solid #d75b26;
}

#categories li a:hover
{
    background-color: #f17c4a;
    background-color: rgba(255, 156, 106, .5);
}

#categories li a.selected,
#categories li a.selected:hover
{
    background: #FFF;
    color: #2e2e2e;
}

#nav
{
    display: inline-block;
    float: left;
    width: 190px;
    text-align: left;
    margin-right: 8px;
    margin-top: 30px;
}

#nav .t-image,
#nav .t-sprite
{
    margin-top: 10px;
}

.autocompleteIcon
{
    background-position: 0 -200px;
}

.comboBoxIcon
{
    background-position: 0 -230px;
}

.dropDownListIcon
{
    background-position: 0 -260px;
}

.chartIcon
{
    background-position: 0 -290px;
}

.gridIcon
{
    background-position: 0 -320px;
}

.menuIcon
{
    background-position: 0 -350px;
}

.panelBarIcon
{
    background-position: 0 -380px;
}

.sliderIcon
{
    background-position: 0 -410px;
}

.splitterIcon
{
    background-position: 0 -440px;
}

.tabStripIcon
{
    background-position: 0 -470px;
}

.treeViewIcon
{
    background-position: 0 -500px;
}

.uploadIcon
{
    background-position: 0 -530px;
}

.exampleIcon
{
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin-right: 8px;
}

#exampleHead .autocompleteIcon
{
    background-position: -20px -200px;
}

#exampleHead .comboBoxIcon
{
    background-position: -20px -230px;
}

#exampleHead .dropDownListIcon
{
    background-position: -20px -260px;
}

#exampleHead .chartIcon
{
    background-position: -20px -290px;
}

#exampleHead .gridIcon
{
    background-position: -20px -320px;
}

#exampleHead .menuIcon
{
    background-position: -20px -350px;
}

#exampleHead .panelBarIcon
{
    background-position: -20px -380px;
}

#exampleHead .sliderIcon
{
    background-position: -20px -410px;
}

#exampleHead .splitterIcon
{
    background-position: -20px -440px;
}

#exampleHead .tabStripIcon
{
    background-position: -20px -470px;
}

#exampleHead .treeViewIcon
{
    background-position: -20px -500px;
}

#exampleHead .uploadIcon
{
    background-position: -20px -530px;
}

.dataSourceIcon
{
    background-position: -50px -200px;
}

.templatesIcon
{
    background-position: -50px -230px;
}

.dragdropIcon
{
    background-position: -50px -260px;
}

#exampleHead .dataSourceIcon
{
    background-position: -70px -200px;
}

#exampleHead .templatesIcon
{
    background-position: -70px -230px;
}

#exampleHead .dragdropIcon
{
    background-position: -70px -260px;
}

#content
{
    display: block;
    margin-left: 200px;
}

#exampleBody
{
    padding: 0 1px;
    display: none;
}

#example
{
    font-family: Tahoma, Geneva, sans-serif;
    margin: 10px 0;
    padding:  20px;
    border: 1px solid #dedede;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    min-height: 260px;
    position: relative;
}
* html { height: 220px; }

#example:after
{
    content: "\A0";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
}

#example h3
{
    margin-top: 5px;
}

#box
{
    display: inline-block;
    position: relative;
    *display: inline;
    zoom: 1;
    width: 100%;
    margin-top: -78px;
    min-height: 100%;
    border-bottom: 68px solid #4D4D4D;
    padding-bottom: 10px;
/*    box-shadow: inset 0 -1px 3px #000;*/
}

.centerBox
{
    width: 80%;
    min-width: 960px;
    max-width: 1260px;
    *width: 960px;
    text-align: left;
    display: inline-block;
    zoom: 1;
    margin: 0 auto;
}

pre.prettyprint
{
    overflow: hidden;
}

.console
{
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    height: 200px;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
}

.console .count
{
    background-color: #91AFEF;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px 6px 2px 5px;
}

.console div
{
    background-position: 6px -95px;
    border-bottom: 1px solid #DDD;
    padding: 5px 5px 4px 24px;
}

.console .error
{
    background-position: 6px -135px;
}

.t-widget, #nav ul
{
    outline: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
/*    -webkit-backface-visibility: hidden;*/ /* Very broken in Chrome 12, leaves artifacts on the screen. */
}

.t-animation-container
{
    text-align: left;
}

#exampleHead
{
    margin-top: 30px;
    margin-left: 200px;
    height: 24px;
}

.exampleName
{
    font: 20px Arial, Helvetica, sans-serif;
    display: block;
}

#exampleHead .skinSelector
{
    float: right;
    display: none;
}

.telerikLogo
{
    margin-top: 13px;
    background-position: 0 -700px;
    width: 107px;
    height: 40px;
    float:  right;
}

.configuration
{
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 180px;
    min-height: 190px;
    border: 1px solid #dedede;
    margin: -21px;
    height: 100%;
    padding: 0 20px;
    background: #f2f2f2;
    color: #000;
}

.configuration-horizontal
{
    border-radius: 5px 5px 0 0;
    position: static;
    height: auto;
    min-height: 0;
    width: auto;
    margin-bottom: 20px;
}

.configuration .configHead,
.configuration .infoHead
{
    display: block;
    font-size: 16px;
    text-indent: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-position: 0 -178px;
    color: #4c4c4c;
}

.configuration .infoHead
{
    background-position: -107px -722px;
}

.configuration .configTitle
{
    font-size: 12px;
    color: #2175bd;
    display: block;
    line-height: 22px;
    background-position: 0 21px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

.configuration .options
{
    list-style:none;
    margin: 0;
    padding: 0;
}

.configuration .options li { display: inline-block; margin: 0; padding: 0.2em 0;}
.configuration .options li { display: block; }

.configuration .options li:after
{
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.configuration label,
.configuration input
{
    vertical-align: middle;
    line-height: 20px;
    margin-top: 0;
}

.configuration label
{
    float: left;
}

.configuration input
{
    width: 40px;
}

.configuration input,
.configuration select
{
    float: right;
}

.configuration .t-button
{
    margin-bottom: 3px;
}

/* Nav styles */

#nav,
#nav .t-group,
#nav .t-item
{
    border: 0;
    background: none;
    overflow: hidden;
}

#nav .t-group
{
    padding-top: 5px;
}

#nav .t-item
{
    padding-bottom: 2px;
    padding-right: 10px;
}

#nav .t-link
{
    font: 16px bold Arial, Helvetica, sans-serif;
    color: #2175bd;
    background: none;
    border: 0;
    position: relative;
    line-height: 36px;
    padding: 1px 1px 1px 11px;
}

#nav li li .t-link
{
    font-size: 12px;
    line-height: 18px;
    padding: 1px 1px 1px 21px;
}

#nav .t-state-selected,
#nav .t-state-highlighted>.t-link
{
    color: #2e2e2e;
    border: 1px solid #d0d0d0;
    background-color: #c1c1c1;
    background: -moz-linear-gradient(top, #dedede 0%, #c1c1c1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(100%,#c1c1c1));
    background: -webkit-linear-gradient(top, #dedede 0%,#c1c1c1 100%);
    background: -o-linear-gradient(top, #dedede 0%,#c1c1c1 100%);
    background: -ms-linear-gradient(top, #dedede 0%,#c1c1c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#c1c1c1',GradientType=0 );
    background: linear-gradient(top, #dedede 0%,#c1c1c1 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 0 0 10px;
    text-shadow: 0 1px 1px #FFF;
}

#nav li li .t-state-selected,
#nav li li .t-state-highlighted>.t-link
{
    text-shadow: none;
    border: 0;
    background: none;
    filter: none;
}

#nav li li .t-state-selected:after,
#nav li li .t-state-highlighted>.t-link:after
{
    display: none;
}

#nav .t-icon
{
    display: none;
}

/* codeStrip styles */

#codeStrip
{
    font: 12px bold Arial, Helvetica, sans-serif;
    display: none;
    background: none;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#codeStrip .t-tabstrip-items
{
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#codeStrip .t-item
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    margin-right: 0;
    border-width: 1px 1px 0;
    width: 20%;
    *width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #4d4d4d;
    float: left;
}

#codeStrip .t-state-default
{
    border-color: #808080 #585858 transparent #808080;
}

#codeStrip .t-first
{
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

#codeStrip .t-last
{
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
    border-right-color: #808080;
}

#codeStrip .t-link
{
    display: block;
    padding: 10px 20px;
    line-height: 22px;
    text-align: center;
    background-repeat: repeat-x;
}

#codeStrip .t-state-default .t-link
{
    color: #FFF;
    background-position: 0 -630px;
}

#codeStrip .t-state-active .t-link
{
    color: #000;
    background: #FFF;
}

#codeStrip .t-state-hover
{
    background-color: #2d2d2d;
}

#codeStrip .t-state-hover .t-link
{
    /*opacity: .8;*/ /*tab text disappears in IE*/
    /*filter: alpha(opacity=80);*/
    text-decoration: underline;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#codeStrip .t-state-active,
#codeStrip .t-content
{
    color: #000;
    background: #FFF;
    border-color: #dedede;
}

#codeStrip .t-content
{
    margin: -1px 0 0;
    padding: 20px 0 0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

#codeStrip .description,
#codeStrip .codeContainer
{
    padding: 20px;
}

/* skinSelector styles */

#exampleHead .skinSelector
{
    font: 12px Arial, Helvetica, sans-serif;
    margin-left: 5px;
    background: none;
    width: 200px;
}

div.skinSelector .t-state-default,
div.skinSelector .t-state-hover,
div.skinSelector .t-state-hover:hover,
div.skinSelector .t-state-active
{
    color: #333;
    background: #F3F3F3;
    border-color: #dedede;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.skinSelector .t-dropdown-wrap .t-arrow-down
{
    background-position: 100% -693px;
}

#skinSelector-list
{
    margin-top: 2px;
    padding-bottom: 3px;
    color: #2175bd;
    background: #F3F3F3;
    border-color: #dedede;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px #555;
    -moz-box-shadow: 2px 2px 2px #555;
    box-shadow: 2px 2px 2px #bbb;
}

#skinSelector-list .t-state-selected,
#skinSelector-list .t-state-hover
{
    color: #0c303c;
    background: #C7CED1;
}

#skinSelector-list .t-state-hover
{
    color: #000;
}

#skinSelector-list .thumbLink
{
    cursor: pointer;
    display: inline-block;
    width: 52px;
    margin: 5px 0 5px 2px;
    text-decoration: none;
    font-size: 11px;
    color: #555;
    text-align: center;
}

#skinSelector-list .t-state-hover .thumbLink
{
    color: #222;
}

#skinSelector-list .t-item
{
    overflow: hidden;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 3px;
    margin-top: 3px;
}

#skinSelector-list .thumb
{
    background-color: transparent;
    background-image: url("../img/Menu/thumbSprite.png");
    background-repeat: no-repeat;
    display: block;
    height: 46px;
    width: 46px;
    border-width: 3px;
    border-style: solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#skinSelector-list .gloss
{
    display: block;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(242,242,242,0) 0%, rgba(135,135,135,0.4) 50%, rgba(0,0,0,0.39) 51%, rgba(119,119,119,0.2) 75%, rgba(43,43,43,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,0)), color-stop(50%,rgba(135,135,135,0.4)), color-stop(51%,rgba(0,0,0,0.39)), color-stop(75%,rgba(119,119,119,0.2)), color-stop(100%,rgba(43,43,43,0)));
    background: -webkit-linear-gradient(top, rgba(242,242,242,0) 0%,rgba(135,135,135,0.4) 50%,rgba(0,0,0,0.39) 51%,rgba(119,119,119,0.2) 75%,rgba(43,43,43,0) 100%);
    background: -o-linear-gradient(top, rgba(242,242,242,0) 0%,rgba(135,135,135,0.4) 50%,rgba(0,0,0,0.39) 51%,rgba(119,119,119,0.2) 75%,rgba(43,43,43,0) 100%);
    background: -ms-linear-gradient(top, rgba(242,242,242,0) 0%,rgba(135,135,135,0.4) 50%,rgba(0,0,0,0.39) 51%,rgba(119,119,119,0.2) 75%,rgba(43,43,43,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#002b2b2b',GradientType=0 );
    background: linear-gradient(top, rgba(242,242,242,0) 0%,rgba(135,135,135,0.4) 50%,rgba(0,0,0,0.39) 51%,rgba(119,119,119,0.2) 75%,rgba(43,43,43,0) 100%);
}

#skinSelector-list .opalThumb
{
    background-position: 0 0;
    border-color: #d7d7d7;
}

#skinSelector-list .kendoThumb
{
    background-position: -46px 0;
    border-color: #d7d7d7;
}

#skinSelector-list .blackThumb
{
    background-position: -92px 0;
    border-color: #d7d7d7;
}

/* Documentation styles */
.detailBody
{
    display: none;
}

.detailHandle
{
    font-size: 12px;
    margin: 0;
    padding: 10px 10px 10px 25px;
    color: #4d4d4d;
    border-bottom: 1px solid #fff;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e3e3e3));
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#e3e3e3 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%,#e3e3e3 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%,#e3e3e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e3e3e3',GradientType=0 );
    background: linear-gradient(top, #f2f2f2 0%,#e3e3e3 100%);
}

.detailHandle b
{
    color: #000;
    text-decoration: underline;
}

.detailHover b
{
    color: #00234c;
}

.detailHover
{
    cursor: pointer;
    border-bottom: 1px solid #fff;
    background: #9e9e9e;
    background: -moz-linear-gradient(top, #9e9e9e 0%, #c7c7c7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e9e9e), color-stop(100%,#c7c7c7));
    background: -webkit-linear-gradient(top, #9e9e9e 0%,#c7c7c7 100%);
    background: -o-linear-gradient(top, #9e9e9e 0%,#c7c7c7 100%);
    background: -ms-linear-gradient(top, #9e9e9e 0%,#c7c7c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#c7c7c7',GradientType=0 );
    background: linear-gradient(top, #9e9e9e 0%,#c7c7c7 100%);
}

.detailHandleExpanded
{
    cursor: pointer;
    border-bottom: 1px solid #fff;
    background: #dddddd;
    background: -moz-linear-gradient(top, #dddddd 0%, #c1c1c1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#c1c1c1));
    background: -webkit-linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
    background: -o-linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
    background: -ms-linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#c1c1c1',GradientType=0 );
    background: linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
}

.detailBody
{
    padding: 1px 25px;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #e3e3e3 0%, #f2f2f2 50px);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(50px,#f2f2f2));
    background: -webkit-linear-gradient(top, #e3e3e3 0%,#f2f2f2 50px);
    background: -o-linear-gradient(top, #e3e3e3 0%,#f2f2f2 50px);
    background: -ms-linear-gradient(top, #e3e3e3 0%,#f2f2f2 50px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#f2f2f2',GradientType=0 );
    background: linear-gradient(top, #e3e3e3 0%,#f2f2f2 50px);
    border-bottom: 1px solid #fff;
}

.detailBody .desc
{
    margin: 10px 0;
}

.detailBody .prettyprint
{
    margin-bottom: 0;
}

.light
{
    color: #555;
}

.heading
{
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    padding-top: 10px;
    margin-bottom: 10px;
}

.methodDetail,
.detailList
{
    margin: 0;
    padding: 0;
    list-style: none outside;
}

.detailList
{
    padding-bottom: 10px;
}

#box .nomargin
{
    margin: 0;
    box-shadow: none;
}

.nomargin dd
{
    margin: 0;
}

.optionsContainer,
.propertiesContainer,
.methodsContainer,
.eventsContainer
{
    border-top: 1px solid #dedede;
}

.detailCollapsed,
.detailExpanded
{
    background-position: 0 -15px;
    float: left;
    height: 15px;
    margin-left: -25px;
    width: 20px;
}

.detailExpanded
{
    background-position: 0 -52px;
}

.code-sample,
.details-list
{
    margin: 6px 0;
    border: 3px solid #dedede;
    background: #e5e5e5;
    color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.code-title,
.details-title
{
    margin: 0;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: normal;
    background: -moz-linear-gradient(top, #ebebeb 0%, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#dedede));
    background: -webkit-linear-gradient(top, #ebebeb 0%,#dedede 100%);
    background: -o-linear-gradient(top, #ebebeb 0%,#dedede 100%);
    background: -ms-linear-gradient(top, #ebebeb 0%,#dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#dedede',GradientType=0 );
    background: linear-gradient(top, #ebebeb 0%,#dedede 100%);
}

.prettyprint,
.details-list dl
{
    padding: 0;
    margin: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.code-sample .prettyprint,
.details-list dl
{
    padding: 10px;
    background: #f9f9f9;
    border: 0;
}

pre .nocode { background-color: transparent; color: #000; }
pre .str,                    /* string */
pre .atv { color: #e25000; } /* attribute value */
pre .kwd { color: #0033ff; } /* keyword */
pre .com { color: #666666; } /* comment */
pre .typ { color: #000; } /* type */
pre .lit { color: #006666; } /* literal */
pre .pun { color: #333; }    /* punctuation */
pre .pln { color: #42545a; }    /* plaintext */
pre .tag { color: #0066cc; } /* html/xml tag */
pre .atn { color: #6666ff; } /* attribute name */
pre .dec { color: #cc0000; } /* decimal */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #333; }
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
li.L1,li.L3,li.L5,li.L7,li.L9 { background: #eee; }

.details-list dl
{
    overflow: hidden;
    padding: 0;
    background-color: #ededed;
}

.details-list dt,
.details-list dd
{
    margin: 0;
    padding: 7px 10px;
}

.details-list dt
{
    float: left;
    clear: left;
    width: 250px;
}

.details-list dt:nth-child(4n+1),
.details-list dd:nth-child(4n+2)
{
    background-color: #fff;
}

