html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
    font: 12px Arial, Helvetica sans-serif;
    text-align: center;
}

body
{
    background: #FFF url('../img/sprite.png') 0 -761px repeat-x;
}

#header, #footer
{
    display: block;
    width: 1100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}

#header {
    margin-top: 110px;
    height: 240px;
}

#footer {
    height: 68px;
    position: absolute;
    bottom: -68px;
    color: #FFF;
    line-height: 26px;
    *left: 50%;
    *margin-left: -550px;
}

#footer p
{
    margin: 6px 0 0 0;
    padding: 0;
}

#footer a
{
    color: #FFF;
    text-decoration: none;
    margin-right: 10px;
}

#footer a:hover
{
    text-decoration: underline;
}

#footer span
{
    color: #808080;
}

#nav
{
    display: block;
    float: left;
    width: 190px;
    text-align: left;
    margin-right: 8px;
    margin-top: 10px;
}

#content
{
    width: 900px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#exampleBody
{
    padding: 0 1px;
}

#example
{
    margin: 10px 0;
    padding:  20px;
    -webkit-box-shadow: 0 -3px 2px #BBB;
    box-shadow: 0 -3px 2px #BBB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    text-align: left;
    min-height: 200px;
}
* html { height: 200px; }

#example h3
{
    margin-top: 5px;
}

#box
{
    display: inline-block;
    position: relative;
    *display: inline;
    zoom: 1;
    width: 100%;
    margin-top: -78px;
    min-height: 100%;
    border-bottom: 68px solid #4D4D4D;
    padding-bottom: 10px;
    box-shadow: inset 0 -1px 3px #000;
}

.centerBox
{
    text-align: left;
    display: inline-block;
    *width: 1100px;
    zoom: 1;
    margin: 0 auto;
}

pre.prettyprint
{
    overflow: hidden;
}

.console
{
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    height: 200px;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
}

.console .count
{
    background-color: #91AFEF;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px 6px 2px 5px;
}

.console div
{
    background: transparent url("../img/sprite.png") no-repeat 6px -95px;
    border-bottom: 1px solid #DDD;
    padding: 5px 5px 4px 24px;
}

.console .error
{
    background-position: 6px -135px;
}

.t-widget, #nav ul
{
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.t-animation-container
{
    text-align: left;
}

#exampleHead
{
    margin-top: 10px;
    height: 24px;
}

.exampleName
{
    font: 20px Arial, Helvetica, sans-serif;
}

.skinSelector
{
    float: right;
}

.telerikLogo
{
    margin-top: 13px;
    background: transparent url("../img/sprite.png") no-repeat 0 -700px;
    width: 107px;
    height: 40px;
    float:  right;
}
