pre.prettyprint
{
    padding: 5px;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-left: 3px solid #9fb4e7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.codeContainer pre.prettyprint
{
    padding: 0;
    border: 0;
    background: 0;
}

pre .nocode { background-color: none; color: #000 }
pre .str,                    /* string */
pre .atv { color: #cc6600; } /* attribute value */
pre .kwd { color: #669900;} /* keyword */
pre .com { color: #666666; } /* comment */
pre .typ { color: #009999; } /* type */
pre .lit { color: #006666;} /* literal */
pre .pun { color: #990033}    /* punctuation */
pre .pln { color: #000 }    /* plaintext */
pre .tag { color: #0066cc;} /* html/xml tag */
pre .atn { color: #6666ff;} /* attribute name */
pre .dec { color: #cc0000; } /* decimal */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #333; }
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
li.L1,li.L3,li.L5,li.L7,li.L9 { background: #eee; }
