<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}"" />
		{! Link.base = ""; /* all generated links will be relative to this */ !}
		<title>JsDoc Reference - File Index</title>
		<meta name="generator" content="JsDoc Toolkit" />
		
    <script type="text/javascript" src="jproton.js"></script>
    <script type="text/javascript" src="ui.js"></script>
		<link rel=stylesheet href="default.css" type="text/css">
	</head>
	
	<body>
		<div id="main-wrapper">
			<div id="main">
				<div id="index" class="fixed">
					{+publish.classesIndex+}
				</div>
				<div id="index-toggler" class="fixed">&laquo;</div>
		
				{+include("static/header.html")+}
				
				<div id="content" class="index-page">

					<h1 class="classTitle">File Index</h1>
					
					<div class="summary section">
						<div class="sectionItems">
							<for each="item" in="data">
							<div class="fileName itemName">
								<span class="icon">{+new Link().toSrc(item.alias)+}</span> <span class="full-description">{+item.srcFile+}</span>
								<if test="item.desc">
                <div class="full-description">
                  {+resolveLinks(item.desc)+}
							  </div>
								</if>
								<dl>
									<if test="item.author">
										<dt class="heading">Author:</dt>
										<dd>{+item.author+}</dd>
									</if>
									<if test="item.version">
										<dt class="heading">Version:</dt>
											<dd>{+item.version+}</dd>
									</if>
								</dl>
							</div>
							</for>
						</div>
					</div>
					
				</div>
				
				<div class="fineprint" style="clear:both">
					<if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
					Documentation generated by <a href="http://www.jsdoctoolkit.org/" target="_blank">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
				</div>
			</div>
		</div>

	</body>
</html>
