<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}"" />
		
		<title>JsDoc Reference - Index</title>
		<meta name="generator" content="JsDoc Toolkit" />
		
    <script type="text/javascript" src="jproton.js"></script>
    <script type="text/javascript" src="ui.js"></script>
    <script type="text/javascript" src="sh.js"></script>
		<link rel=stylesheet href="sh.css" type="text/css">
		<link rel=stylesheet href="default.css" type="text/css">
		{+include("static/cssIEfixed.html")+}
	</head>

	<body>
		<div id="main-wrapper">
			<div id="main">
			
				<div id="index" class="fixed">
					{+publish.classesIndex+}
				</div>
				<div id="index-toggler" class="fixed">&laquo;</div>
				
				{+include("static/header.html")+}
				
				<div id="content" class="index-page">

					<h1 class="classTitle">Class Index</h1>

					<div class="summary section"">
						<div class="sectionItems">
							<for each="thisClass" in="data">
							<div class="itemName{+getNSClass(thisClass)+}">
								<if test="thisClass.classDesc">
								<span class="icon">{+(new Link().toClass(thisClass.alias))+}</span>
                <div class="full-description">
									{+resolveLinks(thisClass.classDesc)+}
							  </div>
							  </if>
								<if test="thisClass.alias=='_global_'">
								<span class="icon"><i>{+(new Link().toClass(thisClass.alias))+}</i></span>
                <div class="full-description">
                  <p>
                    Global namespace.
                  </p>
							  </div>
							  </if>
  						</div>
							</for>
						</div>
					</div>
					
				</div>
				<div class="fineprint" style="clear:both">
					<if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
					Documentation generated by <a href="http://www.jsdoctoolkit.org/" target="_blank">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
				</div>
			</div>
		</div>
		
	</body>
</html>
