/* Platform specific Android 4 CSS */

@android-active-color: #33b5e5;

.km-android
{
    background: #000;
}

.km-android .km-view
{
    .box-direction(reverse);
    .flex-direction(column-reverse);
}

.km-android .km-view > *,
.km-android .km-modalview,
.km-android .km-popover-root .km-view,
.km-android .km-splitview .km-view,
.km-android .km-pane-wrapper .km-view
{
    .box-direction(normal);
    .flex-direction(column);
}

.km-android .km-view
{
    overflow: hidden;
}

.km-android .km-view-title
{
    visibility: hidden;
}

.km-android .km-popover-root .km-view-title,
.km-android .km-modalview .km-view-title,
.km-android .km-splitview .km-view-title
{
    visibility: visible;
    display: block;
}

.km-android .km-view-title,
.km-android .km-dialog-title
{
    text-align: center;
    color: #fff;
    font-size: 1.4em;
    line-height: 2.4em;
    font-weight: bold;
}

.km-android.km-horizontal .km-view-title
{
    line-height: 2.1em;
}

.km-android .km-tabstrip .km-button
{
    height: auto;
    .box-shadow(none);
}

.km-android .km-navbar,
.km-android .km-toolbar,
.km-android .km-button,
.km-android .km-switch,
.km-android .km-buttongroup,
.km-android .km-tabstrip
{
    color: #fff;
    text-shadow: none;
    border-color: #e7e7e7;
    background-color: #000;
}

.km-android .km-button
{
    .border-radius(1px);

    padding: .6em 1em;
    border: 1px solid transparent;
    border-color: rgba(255,255,255,.2) rgba(0,0,0,.4) rgba(0,0,0,.4) rgba(255,255,255,.2);
    background: #5B5B5B;
}

.km-android .km-button:active,
.km-android .km-button.km-state-active,
.km-android input[type=file]:active,
.km-android input[type=file]:focus
{
    background: #42BEE1;
    overflow: visible;
}

.km-android .km-button .km-text
{
    position: relative;
    z-index: 1;
}

.km-android .km-button .km-notext
{
    width: 1em;
}

.km-android .km-button:active:after,
.km-android .km-button.km-state-active:after
{
    content: "\a0";
    display: block;
    top: -4px;
    left: -4px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 4px solid transparent;
    background: inherit;
    .border-radius(2px);
    opacity: .5;
}

.km-android li.km-state-active
{
    border: 0;
}

.km-android
{
    font-weight: bold;
    font-family: Roboto, HelveticaNeue, sans-serif;
}

.km-android,
.km-android .km-button
{
    font-size: .9em;
}

.km-android .km-back:before
{
    display: none;
}

.km-android .km-switch-background,
.km-android .km-slider-background
{
    display: none;
}

.km-android .km-switch
{
    background: transparent;
    width: 7em;
    height: 1.8em;
    line-height: 1.8em;
}

.km-android .km-switch-container
{
    overflow: hidden;
    .border-radius(0);
    background: #222;
    border: 2px solid transparent;
    border-left-width: 1px;
}

.km-android .km-switch-handle
{
    width: 3em;
    color: #bbb;
    margin: 0 3px 1px 1px;
    border: 1px solid transparent;
    border-color: rgba(255,255,255,.2) rgba(0,0,0,.4) rgba(0,0,0,.4) rgba(255,255,255,.2);
    background: #5B5B5B;
    .border-radius(2px);
    .box-shadow(none);
    .box-sizing(border-box);
}

.km-android2 .km-switch-handle
{
    .border-radius(0);
}

.km-android .km-switch-on .km-switch-handle
{
    color: #fff;
    background-color: #2F97BE;
}

.km-android .km-switch-label-on,
.km-android .km-switch-label-off
{
    font-size: .8em;
    left: 0;
    width: 100%;
    line-height: 1.9em;
    height: 100%;
    text-align: center;
    text-shadow: none;
    position: absolute;
    z-index: 1;
}

.km-android .km-switch-off .km-switch-label-on,
.km-android .km-switch-on .km-switch-label-off
{
    display: none;
}

.km-android .km-badge,
.km-android .km-detail
{
    .linear-gradient-image(top, rgba(255,255,255,.5), rgba(255,255,255,.2) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0));
    color: #FFF;
    border: .3em solid #FFF;
    background-color: #bc0404;
}

.km-android .km-badge
{
    background: #33b5e5;
    border: 0;
    top: -1.05em;
    min-width: 1.1em;
    height: 1.9em;
    .border-radius(3em);
    .box-shadow(0 2px 2px rgba(0,0,0,.5));
}

.km-android .km-detail
{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    .box-shadow(none);
    .box-sizing(border-box);
}

.km-android .km-list .km-icon,
.km-android .km-detail .km-icon
{
    color: #fff;
}

.km-root .km-android .km-detail
{
    height: 100%;
    width: 3rem;
    font-size: 1.8rem;
    margin: 0;
}

.km-android .km-detail .km-icon,
.km-android .km-detail .km-icon:after,
.km-android .km-detail .km-icon:before,
.km-root .km-android .km-detail:before,
.km-root .km-android .km-detail:after
{
    line-height: 3.4rem;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.km-android .km-detail .km-text
{
    width: 100%;
    display: block;
    height: 1.6rem;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -.8rem;
    border-left: 1px dotted #ddd;
}

.km-android .km-rowinsert
{
    background-color: #24870D;
}

.km-android .km-rowdelete
{
    background-color: #B01B1A;
}

.km-android .km-buttongroup
{
    background: none;
}

.km-android .km-navbar .km-buttongroup
{
    margin-top: .2em;
    line-height: 1.2em;
    height: 1.8em;
}

.km-android .km-buttongroup .km-button,
.km-android .km-navbar .km-buttongroup .km-button
{
    .border-radius(1px);

    padding: .6em 1em;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: rgba(255,255,255,.2) rgba(0,0,0,.4) rgba(0,0,0,.4) rgba(255,255,255,.2);
    background: #5B5B5B;
}

.km-android .km-navbar .km-buttongroup .km-button
{
    font-size: .9em;
}

.k-ff .km-android .km-buttongroup .km-button
{
    display: inline-block;
    margin-left: -4px;
}

.km-android .km-buttongroup .km-state-active,
.km-android .km-navbar .km-buttongroup .km-state-active
{
    background: #42BEE1;
    overflow: visible;
    z-index: 1;
}

.km-android .km-buttongroup .km-button .km-text
{
    position: relative;
    width: 100%;
    z-index: 1;
}

.km-android .km-buttongroup .km-button .km-icon
{
    width: 1.1em;
    height: 1.1em;
}

.km-android .km-buttongroup .km-button:active:after,
.km-android .km-buttongroup .km-button.km-state-active:after
{
    content: "\a0";
    display: block;
    top: -4px;
    left: -4px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 4px solid transparent;
    background: inherit;
    .border-radius(3px);
    opacity: .5;
}

.km-root .km-android .km-buttongroup .km-button:first-child
{
    margin-left: 0;
    .border-radius(1px 0 0 1px);
}

.km-root .km-android .km-buttongroup .km-button:last-child
{
    .border-radius(0 1px 1px 0);
}

.km-android .km-tabstrip
{
    display: table;
    padding: 0;
    background: @android-active-color;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(255,255,255,.4);
}

.km-root .km-android .km-navbar,
.km-root .km-android .km-toolbar
{
    font-size: .8em;
    font-size: .8rem;
}

.km-android .km-navbar,
.km-android .km-toolbar
{
    padding: 0 .5em;
}

.km-android .km-header
{
    .box-shadow(~"0 2px 0 #222, 0 -2px 0 #222");
}

.km-android .km-navbar .km-button,
.km-android .km-toolbar .km-button
{
    margin: 0;
    border: 0;
    .box-shadow(none);
    background: none;
}

.km-android .km-navbar [class*=item] .km-button,
.km-android .km-toolbar > .km-button
{
    padding: .7em 0;
    padding: 1rem 0;
    color: #fff;
    text-transform: uppercase;
}

.km-android .km-navbar [class*=item] .km-text,
.km-android .km-tabstrip .km-text
{
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: 100%;
    height: 2.2em;
    height: 2.2rem;
    margin-top: -2.5em;
    margin-top: ~"-2.5rem";
    border: 1em solid transparent;
    border-right: 1px solid #444;
    border-left: 0;
    text-indent: -9999px;
    .box-sizing(border-box);
}

.km-android .km-tabstrip .km-text
{
    font-size: 0;
}

.km-android .km-navbar [class*=item] .km-text
{
    float: none;
    border: 0;
    border-right: 1px solid rgba(255,255,255,.4);
    padding: 0 .7em;
    padding: 0 .7rem;
}

.km-android .km-navbar .km-button:last-child .km-text,
.km-android .km-toolbar .km-button:last-child .km-text,
.km-android .km-tabstrip .km-button:last-child .km-text
{
    border-right: 0;
}

.km-android .km-tabstrip .km-button
{
    background: #000;
    display: table-cell;
    font-size: .8em;
    padding: .5em 0 .4em 0;
    .border-radius(0);
    border-style: solid;
    border-color: transparent;
    border-width: 0;
    background-clip: padding-box;
    min-width: 5em;
}

.km-android.km-horizontal .km-leftitem .km-button,
.km-android.km-horizontal .km-rightitem .km-button
{
    padding: .4em 0;
    padding: .7rem 0;
}

.km-android.km-horizontal .km-tabstrip .km-text
{
    height: 2em;
    height: 2rem;
}

.km-android.km-horizontal .km-tabstrip .km-text
{
    margin-top: -2.2em;
    margin-top: ~"-2.2rem";
}

.km-android.km-horizontal .km-tabstrip .km-button
{
    padding: 0;
}

.km-android .km-tabstrip .km-badge
{
    top: 0;
}

.km-android .km-tabstrip .km-button:active,
.km-android .km-tabstrip .km-state-active
{
    color: #FFF;
    border-bottom-width: .4em;
    padding-bottom: 0;
    .box-shadow(none);
    border-color: transparent;
}

.km-android .km-navbar .km-state-active:after,
.km-android .km-toolbar .km-state-active:after,
.km-android .km-tabstrip .km-state-active:after
{
    display: none;
}

.km-android .km-listinset,
.km-android .km-listgroupinset
{
    margin: 0;
}

.km-android .km-listview-wrapper
{
    padding: 0 1em;
}

.km-android .km-list > li
{
    font-size: 1.3em;
    font-weight: normal;
    line-height: 2em;
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 -1px 0 rgba(255,255,255,.1);
    box-shadow: 0 -1px 0 rgba(255,255,255,.1);
    overflow: hidden;
}

.km-android .km-list
{
    margin-bottom: 1em;
    -webkit-margin-collapse: separate;
}

.km-android .km-group-title
{
    margin-top: 0;
    color: #777;
    background: transparent;
    padding: .8em 0 .5em;
    line-height: inherit;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.3);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.3);
}

.km-android .km-scroll-header .km-group-title
{
    margin: 0 1em;
    border-bottom: 1px solid #333;
    background: #000;
}

.km-android .km-navbar .km-state-active,
.km-android .km-toolbar .km-state-active,
.km-android .km-detail.km-state-active,
.km-android .km-state-active .km-detail,
.km-android .km-state-active .km-listview-link,
.km-android .km-state-active .km-listview-label
{
    background: rgba(76,190,232,.5);
}

.km-android .km-listview-link:after,
.km-android .km-listview-label:after
{
    display: none;
}

.km-android .km-list .km-item
{
    height: 56px;
}

.km-android .km-listview .km-switch
{
    margin-top: -.8em;
    margin-top: ~"-.8rem";
}

.km-android .km-content
{
    color: #fff;
}

.km-android,
.km-android .km-content
{
    background: #000;
    -webkit-linear-gradient: top, rgba(0,0,0,0), rgba(255,255,255,.2);
    -webkit-gradient: linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(255,255,255,.2));
}

.km-android .km-item label:before
{
    border: 1px solid #000;
    background-color: rgb(54, 54, 54);
    .linear-gradient-image(top, rgb(54, 54, 54), rgb(43, 43, 43));
    .border-radius(2px);
    .box-sizing(border-box);
    .box-shadow(0 0 1px 2px #808080);
}

/* Filter box */

.km-android .km-listview-wrapper form .km-filter-wrap > input
{
    font-size: 1.2em;
    padding-left: 1.8em;
    padding-right: 1.8em;
}

.km-android .km-filter-wrap:before
{
    margin: 0 -1.3em 0 .3em;
}

.km-android .km-filter-wrap:before,
.km-android .km-filter-reset .km-clear
{
    font-size: 1.4em;
	color: #adadad;
}

.km-android .km-filter-reset .km-clear:after
{
    content: "\e038";
}

/* Icons */

.km-android .km-button .km-icon
{
    color: rgba(255,255,255,.8);
}

.km-android .km-notext
{
    margin-left: 0;
    margin-right: 0;
}

.km-android .km-navbar .km-icon
{
    margin-left: .5rem;
    margin-right: -.3rem;
}

.km-android .km-navbar .km-notext
{
    margin-left: 1em;
    margin-right: 1em;
}

.km-android .km-navbar .km-icon
{
    color: rgba(255,255,255,.8);
}

.km-android .km-tabstrip .km-icon
{
    position: relative;
    left: 0;
    margin-bottom: .3rem;
    z-index: 2;
    color: #555;
}

.km-android.km-horizontal .km-tabstrip .km-icon
{
    margin-bottom: 0;
}

.km-android .km-tabstrip .km-state-active .km-icon
{
    color: @android-active-color;
}

/* Pull To Refresh */

.km-root .km-android .km-load-more,
.km-android .km-scroller-pull
{
    font-size: 1.2em;
}

.km-android .km-scroller-pull .km-icon
{
    color: #fff;
}

/* Load more */
.km-android .km-load-more .km-icon,
.km-android .km-scroller-pull .km-icon
{
    width: 1em;
    height: 1em;
    font-size: 1.7em;
}

.km-android .km-scroller-pull .km-template
{
    min-width: 0;
}

/* ScrollView */

.km-android .km-pages
{
    display: table;
    width: 100%;
}

.km-android .km-pages li
{
    display: table-cell;
    height: 2px;
    background: transparent;
}

.km-android .km-pages .km-current-page
{
    background: rgba(51,181,229,.6);
}

/* Slider */

.km-android .k-slider-horizontal
{
    margin-top: -.5em;
    height: .1em;
}

.km-android .k-slider .k-draghandle,
.km-android .k-slider .k-draghandle:hover
{
    width: 1.25em;
    height: 1.25em;
    background: rgba(51,181,229,.5);
    background-image: -webkit-radial-gradient(#33B5E5 .2em, transparent .22em);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 10, color-stop(30%, #33B5E5), color-stop(32%, transparent));
    background-image: -moz-radial-gradient(#33B5E5 .2em, transparent .22em);
    background-image: radial-gradient(#33B5E5 .2em, transparent .22em);
    .box-shadow(none);
    .border-radius(5em);
    border: 0;
}

.km-android .k-slider-horizontal .k-draghandle
{
    top: -.6em;
}

.km-android .k-slider-vertical .k-draghandle
{
    left: -.5em;
}

.km-android .k-slider .k-draghandle:active
{
    .box-shadow(~"inset 0 0 0 1px #33B5E5, inset 0 0 0 1em rgba(51,181,229,.5)");
}

.km-android .k-slider-selection
{
    background: #33B5E5;
}

.km-android .k-slider-horizontal .k-slider-selection
{
    margin-top: -.1em;
    height: .2em;
}

.km-android .k-slider-vertical .k-slider-selection
{
    margin-left: -.1em;
    width: .2em;
}

.km-android .k-slider-track
{
    background: #414141;
}

.km-android .k-slider-horizontal .k-slider-track
{
    height: .1em;
}

.km-android .k-slider-vertical .k-slider-track
{
    width: .1em;
}

.km-android .k-slider-selection
{
    margin-left: 0;
}

/* Scroller */

.km-android .km-touch-scrollbar
{
    background-color: #33b5e5;
    .border-radius(0);
}

.km-android .km-vertical-scrollbar
{
    width: .3em;
}

.km-android .km-horizontal-scrollbar
{
    height: .3em;
}

/* Dialog */

.km-android .km-dialog
{
    background: rgba(10,25,65,.8);
    border: 2px solid rgba(255,255,255,.8);
    .box-shadow(3px 3px 5px #111);
}

.km-android .km-dialog-title
{
    .linear-gradient-image(top, rgba(255,255,255,.3), rgba(255,255,255,0) 60%);
    text-shadow: 0 -1px #333;
}

.km-android .km-dialog:before
{
    background: ~"url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22><defs><clipPath id=%22clip%22><rect x=%220%22 y=%220%22 width=%22100%%22 height=%22100%%22 rx=%2210%22 ry=%2210%22/></clipPath></defs><ellipse fill=%22white%22 cx=%2250%%22 cy=%220%22 rx=%2280%%22 ry=%2260%%22 clip-path=%22url(%23clip)%22/></svg>')";
}

.km-android .km-dialog-content
{
    color: #fff;
    text-shadow: 0 -1px #333;
}

.km-android .km-dialog .km-button
{
    display: block;
    margin: .4em;
    font-size: 1.3em;
    text-align: center;
    padding: .44em;
    .user-select(none);
    .border-radius(4px);
}

/* Loading */

.km-android .km-loader
{
    width: 100%;
    height: 3rem;
    padding: 0;
    margin: 0;
    top: auto;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    .border-radius(0);
}

.km-android .km-loader h1
{
    display: none;
}

.km-android .km-loading
{
    width: .96em;
    height: .9em;
    font-size: 2rem;
    line-height: .9em;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    bottom: .5rem;
}

/* Forms */

.km-android input[type=password],
.km-android input[type=search],
.km-android input[type=number],
.km-android input[type=tel],
.km-android input[type=url],
.km-android input[type=email],
.km-android input[type=month],
.km-android input[type=color],
.km-android input[type=week],
.km-android input[type=date],
.km-android input[type=time],
.km-android input[type=datetime],
.km-android input[type=datetime-local],
.km-android input[type=text]:not(.k-input),
.km-android select:not([multiple]),
.km-android .k-dropdown,
.km-android textarea
{
    .appearance(none);
    color: #fff;
    padding: .4em;
    outline: none;
    .border-radius(0);
    .box-sizing(padding-box);
}

.km-android .km-list input[type=password],
.km-android .km-list input[type=search],
.km-android .km-list input[type=number],
.km-android .km-list input[type=tel],
.km-android .km-list input[type=url],
.km-android .km-list input[type=email],
.km-android .km-list input[type=month],
.km-android .km-list input[type=color],
.km-android .km-list input[type=week],
.km-android .km-list input[type=date],
.km-android .km-list input[type=time],
.km-android .km-list input[type=datetime],
.km-android .km-list input[type=datetime-local],
.km-android .km-list input[type=text]:not(.k-input),
.km-android .km-list select:not([multiple]),
.km-android .km-list .k-dropdown
{
    margin-top: -1.05em;
    font-size: 1em;
}

.km-native-scrolling .km-android .km-list input[type=password],
.km-native-scrolling .km-android .km-list input[type=search],
.km-native-scrolling .km-android .km-list input[type=number],
.km-native-scrolling .km-android .km-list input[type=tel],
.km-native-scrolling .km-android .km-list input[type=url],
.km-native-scrolling .km-android .km-list input[type=email],
.km-native-scrolling .km-android .km-list input[type=month],
.km-native-scrolling .km-android .km-list input[type=color],
.km-native-scrolling .km-android .km-list input[type=week],
.km-native-scrolling .km-android .km-list input[type=date],
.km-native-scrolling .km-android .km-list input[type=time],
.km-native-scrolling .km-android .km-list input[type=datetime],
.km-native-scrolling .km-android .km-list input[type=datetime-local],
.km-native-scrolling .km-android .km-list input[type=text]:not(.k-input),
.km-native-scrolling .km-android .km-list select:not([multiple]),
.km-native-scrolling .km-android .km-list textarea
{
    position: static;
    float: right;
    margin-top: 0;
    margin-bottom: -.2em;
}

.km-android input[type=file]
{
    color: #fff;
    padding: .25em;
    outline: none;
}

.km-android .km-list textarea
{
    font-size: 1em;
}

.km-native-scrolling .km-android .km-list textarea
{
    width: 50%;
    margin: 0;
}

.km-android .k-dropdown
{
    padding: 0;
    min-width: 8em;
}

.km-root .km-android .k-dropdown
{
    margin-top: -1.2em;
}

.km-native-scrolling .km-android .km-list .k-dropdown
{
    width: 48%;
    width: ~"-webkit-calc(50% - .7em)";
    width: ~"-moz-calc(50% - .7em)";
    width: ~"calc(50% - .7em)";
    margin-right: .7em;
}

.km-android .k-dropdown .k-dropdown-wrap
{
    width: 100%;
    padding: .1em .3em;
    .border-radius(0);
    .box-sizing(border-box);
}

.km-android .k-dropdown .k-input
{
    color: #fff;
    .border-radius(0);
}

.km-android input[type=password],
.km-android input[type=search],
.km-android input[type=number],
.km-android input[type=tel],
.km-android input[type=url],
.km-android input[type=email],
.km-android input[type=text]:not(.k-input),
.km-android textarea
{
    border: 0;
    border-bottom: 1px solid rgba(127,127,127,.5);
    margin-bottom: 1px;
    background-clip: padding-box;
    background: no-repeat 0 0, transparent no-repeat 100% 0;
    .linear-gradient-image(top, transparent 90%, #777 90%, #777,
                     top, transparent 90%, #777 90%, #777);
    background-size: 1px 100%;
}

.km-android input[type=password]:focus,
.km-android input[type=search]:focus,
.km-android input[type=number]:focus,
.km-android input[type=tel]:focus,
.km-android input[type=url]:focus,
.km-android input[type=email]:focus,
.km-android input[type=text]:not(.k-input):focus,
.km-android textarea:focus
{
    background: no-repeat 0 0, transparent no-repeat 100% 0;
    .linear-gradient-image(top, rgba(40,170,220,0) 90%, rgba(40,170,220,.6) 90%, rgba(40,170,220,.6),
                     top, rgba(40,170,220,0) 90%, rgba(40,170,220,.6) 90%, rgba(40,170,220,.6));
    background-size: 2px 100%;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(40,170,220,.6);
}

.km-android input[type=month],
.km-android input[type=color],
.km-android input[type=week],
.km-android input[type=date],
.km-android input[type=time],
.km-android input[type=datetime],
.km-android input[type=datetime-local],
.km-android select:not([multiple]),
.km-android .k-dropdown .k-dropdown-wrap
{
    border: 0;
    border-bottom: 1px solid rgba(127,127,127,.5);
    margin-bottom: 1px;
    background: 100% 100% no-repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAACWCAQAAABj2vCcAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAf0lEQVR4XuzLsQkAAAwCsP7/tD1CcAqZcykMsizLsizLsizLsizLsizLsizLsizL8ncuxzYAgEAAhJz893BazVfXE2quGc9z32asZahlqGWoZahlqGWoZahlqGWoZahlqGWoZahlqGWoZahlqGWoZahlqOUq5CrkKuStlKuS3QdJPtFaleZ1DgAAAABJRU5ErkJggg==") transparent;
    background-clip: padding-box;
    background-size: auto 100%;
}

.km-android input[type=month]:active,
.km-android input[type=color]:active,
.km-android input[type=week]:active,
.km-android input[type=date]:active,
.km-android input[type=time]:active,
.km-android input[type=datetime]:active,
.km-android input[type=datetime-local]:active,
.km-android input[type=month]:focus,
.km-android input[type=color]:focus,
.km-android input[type=week]:focus,
.km-android input[type=date]:focus,
.km-android input[type=time]:focus,
.km-android input[type=datetime]:focus,
.km-android input[type=datetime-local]:focus,
.km-android select:not([multiple]):focus,
.km-android .k-dropdown .k-state-focused
{
    background-color: rgba(51,181,229,.6);
}

.km-android select:not([multiple]):focus option
{
    color: #000;
    background-color: #fff;
}

/* PopUp + ActionSheet */

.km-android .km-popup
{
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.km-android .km-shim.km-actionsheet-root
{
    left: 0 !important;
    width: 100%;
    height: 100% !important;
}

.km-android .km-shim,
.km-phone .km-android .km-actionsheet-wrapper
{
    background: rgba(0,0,0,.5);
}

.km-android .km-actionsheet-wrapper
{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.km-android .km-popup .k-list-container
{
    position: static !important;
    margin-left: 10% !important;
    width: 80% !important;
    display: inline-block !important;
}

.km-android .km-actionsheet,
.km-android .km-popup .k-list-container
{
    position: static;
    margin-left: 5%;
    width: 90%;
    display: inline-block;
    border: 0;
    padding: 0;
    background: #222;
    color: #fff;
    vertical-align: middle;
    .border-radius(0);
    .box-shadow(~"2px 2px 5px rgba(0,0,0,.5)");
}

.km-phone .km-android .km-popup .k-list-container
{
    max-height: 80%;
}

.km-android > .k-list-container
{
    display: none !important;
}

.km-android .km-popup:not(.km-pane):before,
.km-android .km-actionsheet-wrapper:before
{
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.km-android li.km-actionsheet-title,
.km-android .km-popup .k-item,
.km-android .km-actionsheet > li > a
{
    font-size: 1.1em;
    font-weight: normal;
    color: #fff;
    display: block;
    line-height: 3rem;
    border-width: 0 0 1px 0;
    padding: 0 1em;
    .border-radius(0);
    text-decoration: none;
    border-bottom: 1px solid #444;
}

.km-android .km-actionsheet > li:last-child > a
{
    border: 0;
}

.km-android .km-popup .k-state-hover,
.km-android .km-popup .k-state-focused,
.km-android .km-popup .k-state-selected,
.km-android .km-actionsheet > li > a:focus,
.km-android .km-actionsheet > li > a:active
{
    background: #33b5e5;
}

.km-android .km-popup .k-state-hover
{
    color: #fff;
    background: rgba(51,181,229,.6);
}

.km-android li.km-actionsheet-cancel > a
{
    text-align: center;
    font-size: 1em;
}

.km-android li.km-actionsheet-title
{
    font-weight: normal;
    line-height: normal;
    padding: .8em 1em;
    font-size: 1.2em;
    color: #53d5ff;
    border-bottom: 2px solid #53d5ff;
    .border-radius(5px 5px 0 0);
}

/* Checkboxes and Radios */

.km-android .km-listview-label input[type=radio],
.km-android .km-listview-label input[type=checkbox]
{
    border: 1px solid #555;
    .box-shadow(0 0 1px #555);
    width: 1em;
    height: 1em;
    font-size: 1.2em;
}

.km-android .km-listview-label input[type=radio],
.km-android .km-listview-label input[type=radio]:after,
.km-android .km-state-active input[type=radio]:before
{
    .border-radius(1em);
}

.km-android .km-listview-label input[type=radio]:after,
.km-android .km-listview-label input[type=checkbox]:after,
.km-android .km-state-active input[type=radio]:before,
.km-android .km-state-active input[type=checkbox]:before
{
    content: "\a0";
    display: block;
    width: 78%;
    height: 78%;
}

.km-android .km-listview-label input[type=radio]:after
{
    margin: 11% 0 0 11%;
}

.km-android .km-listview-label input[type=checkbox]:after
{
    margin: -20% 0 0 20%;
    width: 120%;
    height: 120%;
    .transform(scale(1,1.2));
}

.km-android .km-listview-label input[type=checkbox]:checked:after
{
    color: #41a6cb;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.km-android .km-listview-label input[type=radio]:checked:after
{
    color: transparent;
    background: #41a6cb;
    .box-shadow(0 0 3px #61C6EB);
}

.km-android .km-state-active input[type=radio]:before,
.km-android .km-state-active input[type=checkbox]:before
{
    position: absolute;
    margin: -45% 0 0 -45%;
    width: 190%;
    height: 190%;
}

.km-android .km-state-active input[type=radio]:before,
.km-android .km-state-active input[type=checkbox]:before
{
    background-color: rgba(97,198,235,.2);
    .box-shadow(0 0 1px rgba(97,198,235,.4));
}

.km-android .km-state-active input[type=radio],
.km-android .km-state-active input[type=checkbox]
{
    border: 1px solid #ddd;
    .box-shadow(0 0 1px #ddd);
}

/* SplitView */

.km-android .km-scrollview .km-pane:last-child
{
    .box-shadow(-1px 0 1px 1px rgba(0,0,0,.3));
}

.km-android .km-popup.km-pane .km-view,
.km-android .km-scrollview .km-pane:last-child .km-content
{
    border: 1px solid rgba(127,127,127,.4);
    .box-shadow(~"inset 0 0 1px 1px #000");
    background: #202125 none;
    .box-sizing(border-box);
    background-clip: padding-box;
}

.km-android .km-pane
{
    background: #000;
    z-index: 1;
}

.km-android .km-pane:first-child
{
    z-index: 0;
}

/* PopOver */

.km-android .km-popup-wrapper
{
    padding: 7px 7px 13px;
}

.km-android .km-popup.km-pane .km-view
{
    border-color: #333;
    padding: 1px;
}

.km-android .km-popup.km-pane
{
    .box-shadow(0 0 10px rgba(0,0,0,.5));
}

.km-android .km-popup.km-pane .km-content
{
    background: #202125;
}

.km-android .km-popover-root .km-list:last-child
{
    margin-bottom: 0;
}

.km-android .km-popup-arrow:after,
.km-android .km-popup-arrow:before
{
    border-color: #202125 transparent;
    border-style: solid;
    border-width: 0 10px 10px;
}

.km-android .km-popup-arrow:after
{
    border-color: #202125 transparent;
}

.km-android .km-left .km-popup-arrow:after,
.km-android .km-right .km-popup-arrow:after
{
    border-color: transparent #202125;
}

.km-android .km-down .km-popup-arrow:before
{
    margin-top: -1px;
}

.km-android .km-up .km-popup-arrow:before
{
    margin-top: 1px;
}

.km-android .km-up .km-popup-arrow:after,
.km-android .km-up .km-popup-arrow:before
{
    border-width: 10px 10px 0 10px;
}

.km-android .km-left .km-popup-arrow:after,
.km-android .km-left .km-popup-arrow:before
{
    border-width: 10px 0 10px 10px;
}

.km-android .km-right .km-popup-arrow:after,
.km-android .km-right .km-popup-arrow:before
{
    border-width: 10px 10px 10px 0;
}

/* ModalView */

.km-android .km-modalview-wrapper
{
    padding: 10px;
}

.km-android .km-modalview
{
    .box-sizing(border-box);
    .box-shadow(~"0 0 10px rgba(0,0,0,.5), 0 0 2px rgba(255,255,255,.7)");
    border: 1px solid #000;
}

.km-android .km-modalview .km-navbar,
.km-android .km-modalview .km-content
{
    background: #282828;
}

.km-android .km-modalview .km-view-title
{
    .box-shadow(inset 0 -2px rgba(255,255,255,.1));
}

/* Tablet Styles */

.km-tablet .km-android .km-actionsheet-title,
.km-tablet .km-android li.km-actionsheet-cancel,
.km-tablet .km-android .km-popup-arrow
{
    display: none;
}

.km-tablet .km-android .km-actionsheet-wrapper
{
    .box-sizing(border-box);
}

.km-tablet .km-android *:not(.km-actionsheet-phone) > .km-actionsheet
{
    margin: 0;
    width: 100%;
    .box-shadow(0 0 7px #000);
}

.km-tablet .km-android *:not(.km-actionsheet-phone) > .km-actionsheet :nth-last-child(2) > a
{
    border-bottom-width: 0;
}
