@import "mixins.less";

/* Common Platform CSS */

.km-root,
.km-vertical,
.km-horizontal
{
    width: 100%;
    height: 100%;
    -ms-content-zooming: none;
    -webkit-user-select: none;
    //-webkit-text-size-adjust: none; // Disables zoom on Desktop too.
}

.km-vertical,
.km-horizontal
{
    display: table\9;
    background: #000;
}

.km-root *
{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.km-view
{
    top: 0;
    left: 0;
    position: absolute;
    .box(box);
    height: 100%;
    width: 100%;
    display: table\9;
    .box-orient(vertical);
    vertical-align: top;
}

:-moz-any(.km-view,.km-vertical,.km-horizontal)
{
    overflow: hidden;
    position: static;
}

.km-content
{
    .box-flex(1);
    .box-align(stretch);
    display: block;
    width: auto;
    overflow: hidden;
    position: relative;
    display: ~"table-row\9";
}

:-moz-any(.km-content)
{
    width: 0;
    display: -moz-box;
    -moz-box-orient: vertical;
}

.km-header,
.km-footer
{
    display: block;
    display: -moz-box;
    display: ~"table-row\9";
    height: ~"1px\9";
    -moz-box-orient: vertical;
    width: 100%;
}

.km-header
{
    padding: 0;
}

.km-footer
{
    background: #1a1a1a;
}

.km-tabstrip
{
    .box-align(start);
    .box-orient(horizontal);
    -moz-box-pack: start;
    display: ~"table-row\9";
    padding: 0;
}

.km-header,
.km-footer
{
    position: relative;
    z-index: 1;
    -webkit-transform: translatez(0);
}

@media all and (-webkit-min-device-pixel-ratio:10000),
       not all and (-webkit-min-device-pixel-ratio:0)
{
  .km-view { display: table; }
  .km-header, .km-footer, .km-content { display: table-row; }
  .km-header, .km-footer { height: 1px; }
}

.km-view-title
{
    display: none;
}

.km-toolbar,
.km-navbar,
.km-button,
.km-radiogroup,
.km-tabstrip
{
    background-origin: border-box;
    position: relative;
    display: inline-block;
    padding: .4em .7em;
    padding: .4rem .7rem;
    margin: .1em;
    margin: .1rem;
    overflow: visible;
    .border-radius(5pt);
    text-shadow: 0 -1px rgba(0,0,0,.3);
    text-decoration: none;
}

.km-button
{
    cursor: pointer;
    outline: 0;
}

.km-switch,
.km-checkbox
{
    font-size: 1em;
    font-size: 1rem;
    display: inline-block;
    width: 6em;
    width: 6rem;
    height: 1.75em;
    height: 1.75rem;
    line-height: 1.9em;
    line-height: 1.9rem;
    padding: 1px;
    position: relative;
    overflow: hidden;
}

.km-switch-wrapper,
.km-slider-wrapper
{
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
}

.km-switch-background,
.km-slider-background
{
    display: block;
    margin: 0 1px 1px -5em;
    height: 100%;
    width: 200%;
}

.km-switch-container
{
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: transparent;
    .border-radius(4px);
    .box-sizing(border-box);
    .box-shadow(inset 0 2px 2px 0 rgba(0,0,0,.3));
}

.km-checkbox
{
    width: 1.8em;
    height: 1.8em;
    width: 1.8rem;
    height: 1.8rem;
}

.km-checkbox-checked:after
{
    content: "\a0";
    display: block;
    width: 100%;
    height: 100%;
}

.km-switch-handle
{
    top: 0;
    left: 0;
    width: 2em;
    width: 2rem;
    height: 1.75em;
    height: 1.75rem;
    display: inline-block;
    margin: -1px 0 0 -1px;
    .border-radius(5px);
    .box-shadow(0 0 3px 0 rgba(0,0,0,.5));
}

/*.km-switch-handle:after,
.km-switch-handle:before
{
    font-size: 1em;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    height: 100%;
    width: 4em;
    width: 4rem;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
}*/

.km-switch-label-off
{
    left: 3em;
    position: absolute;
}

.km-switch-label-on
{
    left: -2.8em;
    position: absolute;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.km-badge,
.km-list .km-button
{
    text-decoration: none;
    display: inline-block;
    font-size: .7em;
    font-size: .7rem;
    line-height: 1.6em;
    line-height: 1rem;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: -1em;
    top: -.6rem;
    right: -.8em;
    right: -.4rem;
    width: 1.6em;
    height: 1.6em;
    width: 1rem;
    height: 1rem;
    padding: 0;
    text-shadow: none;
    .border-radius(1.2em);
    background-clip: padding-box;
}

.km-list .km-button
{
    position: relative;
    float: right;
    right: 0;
    top: 0;
    line-height: 1.4em;
    line-height: .8rem;
}

.km-list .km-button:after,
.km-list .km-button:before
{
    width: .3em;
    height: .3em;
    width: .4rem;
    height: .4rem;
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
}

.km-list .km-detaildisclose:after
{
    margin-left: -.2em;
    margin-left: ~"-.2rem";
    border: .2em solid #FFF;
    border-width: .24rem .24rem 0 0;
    .transform(rotate(45deg));
}
.km-list .km-detaildisclose:before { display: none; }

.km-list .km-rowdelete:after,
.km-list .km-rowinsert:after,
.km-list .km-rowinsert:before,
.km-list .km-contactadd:after,
.km-list .km-contactadd:before
{
    width: .6em;
    height: .1em;
    width: .7rem;
    height: .2rem;
    background: #FFF;
    margin-left: -.18em;
    margin-left: ~"-.28rem";
}

.km-list .km-rowdelete:after
{
    margin-left: -.28em;
    margin-left: ~"-.38rem";
}

.km-list .km-rowinsert:after,
.km-list .km-contactadd:after
{
    width: .1em;
    height: .6em;
    width: .2rem;
    height: .7rem;
    margin-left: -.34em;
    margin-left: ~"-.44rem";
}

.km-button::-moz-focus-inner
{
    padding: 0;
    border: 0;
}

.km-badge:-moz-first-node,
:-moz-first-node~.km-badge
{
    right: -.5em;
    top: -1em;
}

.km-ios .km-radiogroup,
.km-android .km-radiogroup,
.km-meego .km-radiogroup,
.km-blackberry .km-radiogroup
{
    padding: 0;
    .border-radius(0);
    .box-shadow(none);
    border-color: transparent;
    background: none;
    white-space: nowrap;
    display: table;
}

.km-radiogroup > .km-button
{
    display: table-cell;
}

.km-radiogroup .km-button
{
    margin: 0;
    border-width: 1px 0 1px 1px;
    .border-radius(0);
}

.km-radiogroup .km-button:first-child
{
    .border-radius(5pt 0 0 5pt);
}

.km-radiogroup .km-button:last-child
{
    border-right-width: 1px;
    .border-radius(0 5pt 5pt 0);
}

.km-ios .km-radiogroup .km-button
{
    font-size: 1.3em;
    font-weight: bold;
}

.km-ios .km-state-disabled .km-button,
.km-android .km-state-disabled .km-button,
.km-blackberry .km-state-disabled .km-button,
.km-meego .km-state-disabled .km-button
{
    color: #aaa;
    text-shadow: none;
}

.km-tabstrip,
.km-toolbar,
.km-navbar
{
    display: block;
    padding: .8em;
    margin: 0;
    width: 100%;
    border-width: 0;
    .box-sizing(border-box);
    .border-radius(0);
}

.km-tabstrip
{
    text-align: center;
    word-spacing: -1em;
}

.km-tabstrip .km-button
{
    word-spacing: normal;
    .box-shadow(none);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .km-tabstrip { display: table; word-spacing: normal; width: 100%; }
    .km-radiogroup > .km-button { display: inline-block; }
}

.km-toolbar,
.km-navbar
{
    padding: 0 .5em;
    .box-flex(1);
    .border-radius(0);
    position: relative;
    overflow: hidden;
    display: block;
    border-width: 0 0 1px 0;
}

:-moz-any(.km-toolbar,.km-navbar)
{
    overflow: visible;
}

.km-navbar .km-view-title
{
    margin-top: .3em;
    margin-top: .5rem;
    margin-bottom: .3em;
    margin-bottom: .5rem;
}

.km-toolbar .km-button,
.km-navbar .km-button
{
    margin-top: .3em;
    margin-top: .5rem;
    margin-bottom: .3em;
    margin-bottom: .5rem;
}

.km-tabstrip .km-button
{
    font: bold 1em Helvetica, sans-serif;
    color: #a8a8a8;
    padding: .4em .8em;
    border-width: 0;
    border-color: transparent;
    background: none;
    margin: 0;
    text-align: center;
}

.km-tabstrip .km-badge
{
    font-size: .8em;
    font-weight: normal;
}

.km-tabstrip .km-button:first-child
{
    border-left: 0;
}

.km-tabstrip .km-button:last-child
{
    border-right: 0;
}

.km-list,
.km-listview
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.km-listinset,
.km-listgroupinset
{
    margin: 1em;
}

.km-listinset,
.km-listgroupinset .km-list
{
    overflow: hidden;
}

.km-listview .km-switch
{
    margin-top: 0;
    float: right;
}

.km-listview .km-list
{
    margin-top: 2px;
    text-indent: 0;
}

.km-list > li
{
    margin: 0;
    display: block;
    position: relative;
    list-style-type: none;
    vertical-align: middle;
    .box-sizing(border-box);
    padding: .6em .6em .6em .8em;
    text-shadow: none;
}

.km-listgroup > li,
.km-listgroupinset > li
{
    display: block;
    font-weight: bold;
    padding: .2em 0 0;
    text-indent: .8em;
}

.km-listgroupinset > li
{
    margin-top: 1em;
    line-height: 1.65em;
}

.km-list > li:last-child
{
    border-bottom: 0;
}

.km-default-content
{
    padding: 1em;
}

input[type=radio],
input[type=checkbox]
{
    display: none;
}

.km-list input[type=radio],
.km-list input[type=checkbox]
{
    width: 36px;
    height: 36px;
    margin-left: .4em;
}

.km-item label:before,
.km-item label.km-item-checked:after
{
    position: absolute;
    content: " ";
    display: block;
    top: 50%;
    left: .6em;
    width: 36px;
    height: 36px;
    margin-top: -18px;
}

.km-tabstrip .km-button .km-icon
{
    display: block;
    width: 4em;
    height: 4em;
    width: 2.5rem;
    height: 2.5rem;
    background-size: auto 100%;
    margin: 0 auto;
}

.km-tabstrip .km-button.km-state-active .km-icon
{
    opacity: 1;
}

/* Slider */

.km-slider
{
    margin: 1em;
    width: 10em;
    height: .6em;
    line-height: .6em;
    position: relative;
    padding: .5em .7em;
    display: inline-block;
}

.km-slider-container
{
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    .border-radius(5px);
}

.km-slider-handle
{
    top: 0;
    left: 0;
    width: 1.25em;
    height: 1.25em;
    display: block;
    position: absolute;
    .border-radius(1em);
    .box-shadow(0 1px 1px rgba(0,0,0,.5));
}

.km-slider-wrapper
{
    .border-radius(5px);
}

.km-slider-background
{
    width: 24em;
    margin-left: -12em;
}

/* Scroller */

.km-touch-scrollbar
{
    position: absolute;
    visibility: hidden;
    z-index: 200000;
    height: .3em;
    width: .3em;
    background-color: #333;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    opacity: 0;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
}

.km-vertical-scrollbar
{
    height: 100%;
    right: 1px;
    top: 0;
}

.km-horizontal-scrollbar
{
    width: 100%;
    left: 0;
    bottom: 1px;
}

.km-scroll-container
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Navbar */

.km-leftitem,
.km-rightitem
{
    z-index: 1;
    position: relative;
    float: right;
}

.km-leftitem
{
    float: left;
}

.km-leftitem ~ .km-view-title,
.km-rightitem ~ .km-view-title
{
    position: absolute;
    left: 0;
}

/* Dialog */

.km-dialog
{
    position: absolute;
    min-width: 19em;
    max-width: 25em;
    overflow: hidden;
    .border-radius(1em);
}

.km-dialog-title
{
    position: static;
    float: none;
    height: 2.6em;
    margin-top: -2.6em;
    font-size: 1.22em;
    line-height: 3em;
    .border-radius(1em);
}

.km-dialog:before
{
    content: "\a0";
    display: block;
    overflow: visible;
    width: 100%;
    height: 3em;
    opacity: .2;
}

.km-dialog-content
{
    font-weight: normal;
    min-height: 2em;
    text-align: center;
}

.km-dialog .km-button
{
    display: block;
    margin: .4em;
    font-size: 1.3em;
    text-align: center;
    padding: .44em;
    .user-select(none);
    .border-radius(4px);
}
