@flat-main-color: #4c5356;
@flat-second-color: #bababa;
@flat-background: #f4f4f4;
@flat-dark-background: #363940;
@flat-list-background: #fcfcfc;
@flat-button-background: rgba(0,0,0,.1);
@flat-border-width: 1px;
@flat-border-color: rgba(0,0,0,.1);
@flat-border-radius: 3px;
@flat-inline-border-radius: @flat-border-radius - 1px;
@flat-active-color: #fff;
@flat-active-background: #10c4b2;
@flat-second-active-background: #da2228;
@flat-light-shadow: rgba(255,255,255,.2);
@flat-overlay-background: rgba(0,0,0,.4);

.km-flat
{
    font: normal 1em "HelveticaNeue Light", "Roboto Light", "Slate Light", "Segoe WP", NokiaPureTextLight, sans-serif;
}

/* override transform options for performance */
.km-root .km-flat.km-pane,
.km-root .km-flat .km-view,
.km-root .km-flat .km-slider,
.km-root .km-flat .km-switch,
.km-root .km-flat .km-group-title,
.km-root .km-flat .km-filter-reset,
.km-root .km-flat .km-shim .k-animation-container
{
    -webkit-transform: none;
}

.km-flat,
.km-flat .km-navbar,
.km-flat .km-content
{
    color: @flat-main-color;
    background: @flat-background;
}

.km-flat,
.km-flat *
{
    .box-sizing(border-box);
    .background-clip(border-box);
}

/* NavBar */

.km-flat .km-navbar
{
    border: @flat-border-width solid @flat-border-color;
}

.km-flat .km-header .km-navbar
{
    border-width: 0 0 @flat-border-width;
}

.km-flat .km-footer .km-navbar
{
    border-width: @flat-border-width 0 0;
}

.km-flat .km-toolbar,
.km-flat .km-navbar,
.km-flat .km-tabstrip,
.km-flat .km-tabstrip .km-button
{
    .border-radius(0);
}

/* Button */

.km-flat .km-button
{
    padding: .5em .8em;
    background: @flat-button-background;
    border: 1px solid @flat-border-color;
    .border-radius(@flat-border-radius);
}

.km-flat .km-tabstrip .km-button
{
    background: none;
}

.km-flat .km-state-active[style*=background]
{
    .box-shadow(inset 0 0 0 1000px rgba(0,0,0,.2));
}

/* Badges and Details */

.km-flat .km-badge,
.km-flat .km-detail
{
    border: 0;
    min-width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    .border-radius(5em);
}

.km-flat .km-detail
{
    min-width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    color: @flat-main-color;
    border: 1px solid @flat-border-color;
    background-color: @flat-background;
}

.km-flat .km-detaildisclose
{
    min-width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
}

.km-flat .km-detaildisclose:after,
.km-flat .km-detaildisclose:before
{
    left: .1em;
    top: 0.35em;
}

.km-flat .km-detail:active,
.km-flat .km-state-active .km-detail
{
    .box-shadow(inset 0 0 0 1000px @flat-button-background);
}

.km-flat .km-detail .km-icon:before
{
    display: none;
}


/* ButtonGroup */

.km-flat .km-buttongroup > *:not(:first-child):not(:last-child)
{
    .border-radius(0);
}

.km-flat .km-buttongroup > *:first-child
{
    .border-radius(@flat-border-radius 0 0 @flat-border-radius);
}

.km-flat .km-buttongroup > *:last-child
{
    .border-radius(0 @flat-border-radius @flat-border-radius 0);
}

.km-flat .km-buttongroup > *.km-state-active
{
    border-right-width: 1px;
}

.km-flat .km-buttongroup > *.km-state-active + *
{
    border-left-width: 0;
}

/* Switch */

.km-flat .km-switch
{
    width: 4.6rem;
    height: 1.9rem;
    line-height: 1.76rem;
    overflow: hidden;
}

.km-flat .km-switch-wrapper
{
    overflow: hidden;
    background-color: @flat-second-color;
}

.km-flat .km-switch-background,
.km-flat .k-slider-selection
{
    background: 4.25em 0 no-repeat currentcolor;
    .linear-gradient-image(top, @flat-second-color, @flat-second-color);
    margin-left: -3.4rem;
}

.km-flat .km-switch-container
{
    padding: 1px 0 1px 1px;
    border-width: 0;
}

.km-flat .km-switch-handle
{
    background: @flat-background;
    width: 1.6em;
    margin: 0 4px 0 0;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 1px currentcolor, 0 -1px 0 1px currentcolor;
    box-shadow:0 1px 0 1px currentcolor, 0 -1px 0 1px currentcolor;
}

.km-flat .km-switch-off .km-switch-handle
{
    -webkit-box-shadow: 0 1px 0 1px @flat-second-color, 0 -1px 0 1px @flat-second-color;
    box-shadow: 0 1px 0 1px @flat-second-color, 0 -1px 0 1px @flat-second-color;
}

.km-flat .km-switch-label-off
{
    left: 1.5em;
}

.km-flat .km-switch-label-on
{
    left: -2.8em;
}

.km-flat .km-switch-label-on,
.km-flat .km-switch-label-off
{
    text-shadow: none;
    width: 185%;
    font-size: 1em;
    line-height: 1.5em;
    vertical-align: middle;
}

.km-flat .km-switch-wrapper,
.km-flat .km-switch-container,
.km-flat .km-switch-background
{
    .border-radius(@flat-border-radius + 1px);
}

.km-flat .km-switch-handle
{
    .border-radius(@flat-border-radius);
}

.km-flat .km-switch-container,
.km-flat .km-switch-wrapper
{
    .box-sizing(border-box);
    border: 1px solid #f0f0f0;
    background-clip: content-box;
}

/* Slider */

.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover
{
    border: 0;
    .border-radius(5em);
    .box-shadow(0 0 0 3px currentcolor);
}

.km-flat .k-slider-track
{
    margin: -.5em .5em 0 0;
    .box-sizing(content-box);
    border-radius: .5em;
    background-color: @flat-second-color;
}

.km-flat .k-slider-selection
{
    margin-left: 0;
}

/* ListView */

.km-flat .km-list > li
{
    background: @flat-list-background;
    border: @flat-border-width solid @flat-border-color;
    border-width: 0 0 @flat-border-width 0;
    .box-shadow(inset 0 @flat-border-width 0 @flat-light-shadow);
}

.km-flat .km-listinset > li:first-child,
.km-flat .km-listgroupinset .km-list > li:first-child
{
    border: @flat-border-width solid @flat-border-color;
    border-width: @flat-border-width;
    border-color: @flat-border-color;
    .border-radius(@flat-border-radius @flat-border-radius 0 0);
}

.km-flat .km-listinset > li,
.km-flat .km-listgroupinset .km-list > li
{
    border-width: 0 @flat-border-width @flat-border-width @flat-border-width;
}

.km-flat .km-listinset > li:last-child,
.km-flat .km-listgroupinset .km-list > li:last-child
{
    border: @flat-border-width solid @flat-border-color;
    border-width: 0 @flat-border-width @flat-border-width @flat-border-width;
    .border-radius(0 0 @flat-border-radius @flat-border-radius);
}

.km-flat .km-listinset > li:first-child:last-child,
.km-flat .km-listgroupinset .km-list > li:first-child:last-child
{
    border-width: @flat-border-width;
    .border-radius(@flat-border-radius);
}

.km-flat .km-listview-link:after
{
    color: lighten(@flat-main-color, 30);
    border-color: currentcolor;
    border-width: .2rem .2rem 0 0;
}

.km-flat:not(.km-on-android) .km-listview-link:after
{
    width: .66rem;
    height: .64rem;
    border-width: 0;
    box-shadow: inset -.2rem .2rem 0;
}

.km-flat .km-listinset li:first-child > .km-listview-link,
.km-flat .km-listgroupinset li:first-child > .km-listview-link,
.km-flat .km-listinset li:first-child > .km-listview-label,
.km-flat .km-listgroupinset li:first-child > .km-listview-label
{
    .border-radius(@flat-inline-border-radius @flat-inline-border-radius 0 0);
}

.km-flat .km-listinset li:last-child > .km-listview-link,
.km-flat .km-listgroupinset li:last-child > .km-listview-link,
.km-flat .km-listinset li:last-child > .km-listview-label,
.km-flat .km-listgroupinset li:last-child > .km-listview-label
{
    .border-radius(0 0 @flat-inline-border-radius @flat-inline-border-radius);
}

.km-flat .km-listinset li:first-child:last-child > .km-listview-link,
.km-flat .km-listgroupinset li:first-child:last-child > .km-listview-link,
.km-flat .km-listinset li:first-child:last-child > .km-listview-label,
.km-flat .km-listgroupinset li:first-child:last-child > .km-listview-label
{
    .border-radius(@flat-inline-border-radius);
}

.km-flat .km-group-title
{
    background: @flat-background;
    border: @flat-border-width solid @flat-border-color;
    border-width: @flat-border-width 0;
}

.km-flat .km-scroll-header .km-group-title
{
    border-width: 0 0 @flat-border-width;
}

.km-flat .km-listgroupinset .km-group-title
{
    border: 0;
    background: none;
}

.km-flat .km-listview .km-switch
{
    margin-top: -.9rem;
}

/* TabStrip */

.km-flat .km-tabstrip
{
    padding: 0;
    display: table;
    table-layout: fixed;
}

.km-flat .km-tabstrip .km-button
{
    font-size: .7em;
    display: table-cell;
    border: 0;
}

.km-flat .km-tabstrip .km-icon:before
{
    display: none;
}

/* Scroller */

.km-flat .km-touch-scrollbar
{
    border: 0;
    .box-sizing(border-box);
    .border-radius(1em);
}

/* ScrollView */

.km-flat .km-pages
{
    padding-top: .5em;
}

.km-flat .km-pages li
{
    background: @flat-border-color;
    .border-radius(1em);
}

/* Filter box */

.km-flat .km-listview-wrapper form .km-filter-wrap > input
{
    font-size: 1.2em;
    padding: .3em 1.8em;
}

.km-flat .km-filter-wrap:before
{
    margin: .05em -1.3em 0 .3em;
}

.km-flat .km-filter-reset
{
    margin: .05em 0 0 -2em;
}

.km-flat .km-filter-wrap:before,
.km-flat .km-filter-reset .km-clear
{
	color: @flat-main-color;
}

.km-flat .km-filter-reset .km-clear:after
{
    content: "\e038";
}

.km-flat .km-filter-wrap > input
{
    color: @flat-main-color;
    .border-radius(@flat-border-radius);
    border: 1px solid @flat-border-color;
}

.km-flat .km-filter-wrap > input:focus
{
    border: 1px solid #000;
}

/* Forms */

.km-flat .km-list input[type=password],
.km-flat .km-list input[type=search],
.km-flat .km-list input[type=number],
.km-flat .km-list input[type=tel],
.km-flat .km-list input[type=url],
.km-flat .km-list input[type=email],
.km-flat .km-list input[type=month],
.km-flat .km-list input[type=color],
.km-flat .km-list input[type=week],
.km-flat .km-list input[type=date],
.km-flat .km-list input[type=time],
.km-flat .km-list input[type=datetime],
.km-flat .km-list input[type=datetime-local],
.km-flat .km-list input[type=text]:not(.k-input),
.km-flat .km-list select:not([multiple]),
.km-flat .km-list .k-dropdown-wrap,
.km-flat .km-list textarea
{
    .appearance(none);
    font-size: 1.1rem;
    color: @flat-main-color;
    min-width: 6em;
    border: 0;
    padding: .4em;
    outline: none;
    background: transparent;
}

.km-flat .km-list .k-dropdown-wrap
{
	padding: .2em;
}

.km-flat .km-list .k-dropdown-wrap .k-input
{
    color: @flat-main-color;
}

.km-flat .km-list .k-dropdown
{
    margin-top: -1.05em;
    font-weight: normal;
}

.km-flat .km-list input[type=color],
.km-flat .km-list input[type=week],
.km-flat .km-list input[type=date],
.km-flat .km-list input[type=time],
.km-flat .km-list input[type=month],
.km-flat .km-list input[type=datetime],
.km-flat .km-list input[type=datetime-local],
.km-flat .km-list .k-dropdown
{
    text-align: left;
}

.km-flat .km-list .k-dropdown .k-dropdown-wrap
{
    display: block;
    .border-radius(0);
    background: transparent;
    .box-shadow(none);
}

.km-flat .km-list select:not([multiple]) option
{
    color: #333;
}

.km-flat .km-content .km-list .km-state-active input[type=password],
.km-flat .km-content .km-list .km-state-active input[type=search],
.km-flat .km-content .km-list .km-state-active input[type=number],
.km-flat .km-content .km-list .km-state-active input[type=tel],
.km-flat .km-content .km-list .km-state-active input[type=url],
.km-flat .km-content .km-list .km-state-active input[type=email],
.km-flat .km-content .km-list .km-state-active input[type=month],
.km-flat .km-content .km-list .km-state-active input[type=color],
.km-flat .km-content .km-list .km-state-active input[type=week],
.km-flat .km-content .km-list .km-state-active input[type=date],
.km-flat .km-content .km-list .km-state-active input[type=time],
.km-flat .km-content .km-list .km-state-active input[type=datetime],
.km-flat .km-content .km-list .km-state-active input[type=datetime-local],
.km-flat .km-content .km-list .km-state-active input[type=text]:not(.k-input),
.km-flat .km-content .km-list .km-state-active select:not([multiple]),
.km-flat .km-content .km-list .km-state-active textarea
{
    color: #fff;
}

/* Checkboxes and Radios */

.km-flat .km-listview-label input[type=checkbox]
{
    margin-top: -.7em;
}

.km-flat .km-listview-label input[type=radio],
.km-flat .km-listview-label input[type=checkbox]
{
    border: 1px solid @flat-border-color;
    width: 1.4em;
    height: 1.4em;
    .border-radius(@flat-border-radius);
    background: @flat-background;
}

.km-flat .km-listview-label input[type=radio]
{
    width: 1.2em;
    height: 1.2em;
    .border-radius(1em);
}

.km-flat .km-listview-label input[type=checkbox]:after
{
    content: "\a0";
    display: block;
    width: 90%;
    height: 76%;
    .transform(scale(.9,1));
    .transform-origin(10% 50%);
}

.km-flat .km-listview-label input[type=checkbox]:checked:after
{
    font-size: 1.4em;
    color: #eee;
}

.km-flat .km-listview-label input[type=radio]:after
{
    color: transparent;
}

/* Shim */

.km-flat .km-shim,
.km-phone .km-flat .km-actionsheet-wrapper
{
    background: rgba(0,0,0,.4);
}

/* PopUp + ActionSheet */

.km-flat .km-popup .k-popup
{
    font-size: 1em !important;
}

.km-flat .km-actionsheet > li > a
{
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
}

.km-flat .km-popup .k-item,
.km-flat .km-actionsheet > li > a
{
    text-decoration: none;
    background: @flat-dark-background;
    padding: .5em 0 .5em .6em;
    border: 0;
    .border-radius(0);
    border-bottom: 1px solid @flat-light-shadow;
    .box-sizing(border-box);
}

.km-flat li.km-actionsheet-cancel > a
{
    color: @flat-second-color;
}

.km-flat .km-popup
{
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: @flat-overlay-background;
    .box-sizing(border-box);
}

.km-flat .km-popup .k-list-container
{
    width: 100% !important;
    height: auto !important;
}

.km-flat .km-actionsheet,
.km-flat .km-popup .k-list-container
{
    max-height: 80%;
}

.km-flat .km-actionsheet-wrapper,
.km-flat .km-popup .k-list-container
{
    background: @flat-overlay-background;
    bottom: 0;
    border: 0;
    border-top: 1px solid @flat-light-shadow;
    .border-radius(0);
    .box-sizing(border-box);
}

.km-flat .km-actionsheet > li > a
{
    display: block;
}

.km-flat .km-actionsheet > li:last-child > a
{
    border: 0;
}

.km-flat .km-shim .k-animation-container
{
    left: 0;
    top: auto;
    bottom: 0;
}

.km-flat .km-shim li.km-actionsheet-title,
.km-flat .km-popup li.km-actionsheet-title
{
    display: none;
}

/* PopOver */

.km-flat .km-popup-wrapper
{
    padding: 15px;
}

.km-flat .km-popup.km-pane,
.km-tablet .km-flat .km-actionsheet-wrapper
{
    background-color: @flat-dark-background;
}

.km-flat .km-popup.km-pane
{
    border: 5px solid transparent;
}

.km-flat .km-popup.km-pane,
.km-flat .km-actionsheet-wrapper.km-popup
{
    .border-radius(@flat-border-radius);
}

.km-flat .km-actionsheet-wrapper.km-popup
{
    padding: 2px 0;
}

.km-flat .km-popup.km-pane .km-navbar,
.km-flat .km-popup.km-pane .km-toolbar,
.km-flat .km-popup.km-pane .km-tabstrip
{
    background: none;
}

.km-flat .km-popup.km-pane .km-header
{
    padding: 0 5px;
    margin: -5px -5px 2px;
    .border-radius(@flat-border-radius @flat-border-radius 0 0);
    -webkit-border-top-left-radius: @flat-border-radius;
    -webkit-border-top-right-radius: @flat-border-radius;
    -webkit-margin-collapse: separate;
}

.km-flat .km-popup-arrow:after,
.km-flat .km-popup-arrow:before
{
    border-color: rgba(0,0,0,.5) transparent;
    border-style: solid;
    border-width: 0 15px 15px;
}

.km-flat .km-popup-arrow:after
{
    border-color: @flat-dark-background transparent;
}

.km-flat .km-left .km-popup-arrow:after,
.km-flat .km-right .km-popup-arrow:after
{
    border-color: transparent @flat-dark-background;
}

.km-flat .km-down .km-popup-arrow:before
{
    margin-top: -1px;
}

.km-flat .km-down .km-popup-arrow:after
{
    border-color: @flat-dark-background transparent;
}

.km-flat .km-up .km-popup-arrow:after
{
    border-width: 15px 15px 0 15px;
}

.km-flat .km-left .km-popup-arrow:after
{
    border-width: 15px 0 15px 15px;
}

.km-flat .km-right .km-popup-arrow:after
{
    border-width: 15px 15px 15px 0;
}

/* Loader & Pull-to-refresh */

.km-flat .km-loader:before
{
  position: absolute;
  top: -5000px;
  left: -5000px;
  width: 10000px;
  height: 10000px;
  content: "\a0";
  background: rgba(0,0,0,.05);
  z-index: -1;
}

.km-flat .km-load-more
{
    height: 3.4em;
}

.km-flat .km-load-more .km-button
{
    margin: 0 .8em;
    display: block;
}

.km-flat .km-loader,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-scroller-pull
{
    .border-radius(20em);
    overflow: visible;
}

.km-flat .km-loader
{
    margin-top: -2em;
    margin-left: -2em;
    width: 4em;
    height: 4em;
}

.km-flat .km-scroller-refresh.km-load-more
{
    padding: 0;
    position: relative;
    margin: auto;
}

.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-scroller-pull
{
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    top: .25em;
    white-space: nowrap;
}

.km-flat .km-scroller-pull
{
    left: 50%;
    margin: 0 0 0 -90px;
}

.km-flat .km-loader h1
{
    display: none;
    font-size: 1em;
    color: @flat-main-color;
    position: absolute;
    left: -50%;
    width: 200%;
    top: auto;
    bottom: -2em;
}

.km-flat .km-scroller-pull .km-template
{
    position: absolute;
    line-height: 2em;
    font-size: 1.2em;
    min-width: 0;
    top: 0;
    left: 3em;
}

.km-flat .km-loading,
.km-flat .km-loader .km-loading-left,
.km-flat .km-loader .km-loading-right,
.km-flat .km-load-more.km-scroller-refresh .km-icon,
.km-flat .km-scroller-pull.km-scroller-refresh .km-icon,
.km-flat .km-scroller-refresh .km-loading-left,
.km-flat .km-scroller-refresh .km-loading-right
{
    font-size: 1em;
    display: block;
    width: .36em;
    height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.8em;
    margin-top: -.5em;
    .border-radius(1em);
    .animation(km-flatload .6s infinite linear);
    -webkit-background-clip: none;
}

.km-flat .km-scroller-pull .km-icon
{
    margin-right: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1rem;
    margin-top: -1rem;
}

.km-flat .km-load-more.km-scroller-refresh .km-icon,
.km-flat .km-scroller-pull.km-scroller-refresh .km-icon,
.km-flat .km-scroller-refresh .km-loading-left,
.km-flat .km-scroller-refresh .km-loading-right
{
    height: .6em;
    margin-top: -.3em;
    margin-left: -.6em;
    width: .25em;
    .animation(km-flatrefresh .6s infinite linear);
}

.km-flat .km-scroller-pull .km-icon:after
{
    content: "\e012";
    margin-left: -3px;
}

.km-flat .km-scroller-refresh .km-icon:after
{
    display: none;
}

.km-root .km-flat .km-loading-left
{
    margin-left: -.2em;
    .animation-delay(.2s);
}

.km-root .km-flat .km-loading-right
{
    margin-left: .42em;
    .animation-delay(.4s);
}

.km-flat .km-scroller-refresh .km-loading-left
{
    margin-left: -.18em;
}

.km-flat .km-scroller-refresh .km-loading-right
{
    margin-left: .28em;
}

@keyframes km-flatload
{
    0% { height: 1em; margin-top: -.5em; }
    33% { height: 2em; margin-top: -1em; }
    66% { height: 1em; margin-top: -.5em; }
}

@-moz-keyframes km-flatload
{
    0% { height: 1em; margin-top: -.5em; }
    33% { height: 2em; margin-top: -1em; }
    66% { height: 1em; margin-top: -.5em; }
}

@-webkit-keyframes km-flatload
{
    0% { height: 1em; margin-top: -.5em; }
    33% { height: 2em; margin-top: -1em; }
    66% { height: 1em; margin-top: -.5em; }
}

@keyframes km-flatrefresh
{
    0% { height: .6em; margin-top: -.3em; }
    33% { height: 1.2em; margin-top: -.6em; }
    66% { height: .6em; margin-top: -.3em; }
}

@-moz-keyframes km-flatrefresh
{
    0% { height: .6em; margin-top: -.3em; }
    33% { height: 1.2em; margin-top: -.6em; }
    66% { height: .6em; margin-top: -.3em; }
}

@-webkit-keyframes km-flatrefresh
{
    0% { height: .6em; margin-top: -.3em; }
    33% { height: 1.2em; margin-top: -.6em; }
    66% { height: .6em; margin-top: -.3em; }
}

/* Tablet Styles */

.km-tablet .km-flat.km-horizontal .km-navbar .km-button,
.km-tablet .km-flat.km-horizontal .km-toolbar .km-button
{
    margin-top: .2rem;
    margin-bottom: .2rem;
}



/* Active States */

.km-flat .km-badge,
.km-flat .km-rowinsert,
.km-flat .km-rowdelete,
.km-flat .km-state-active,
.km-flat .km-switch-label-on,
.km-flat .km-switch-label-off,
.km-flat .km-tabstrip .km-button,
.km-flat .km-popup .k-item,
.km-flat .km-actionsheet > li > a,
.km-flat .km-tabstrip .km-state-active,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-scroller-pull .km-icon,
.km-flat .km-popup.km-pane .km-navbar,
.km-flat .km-popup.km-pane .km-toolbar,
.km-flat .km-popup.km-pane .km-tabstrip,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-state-active .km-listview-link:after
{
    color: @flat-active-color;
}

.km-flat .km-loader > *:not(h1),
.km-flat .km-filter-wrap > input,
.km-flat .km-switch-handle.km-state-active,
.km-root .km-flat .km-scroller-refresh span:not(.km-template)
{
    background: @flat-active-color;
}

.km-flat .km-switch-handle,
.km-flat .k-slider-selection,
.km-flat .km-switch-background
{
    color: @flat-active-background;
}

.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked
{
    background: @flat-active-background;
}

.km-flat .km-filter-wrap > input:focus
{
    border-color: @flat-active-background;
}

.km-flat .km-badge,
.km-flat .km-rowdelete
{
    background: @flat-second-active-background;
}
