/* Icon Masks */

.km-featured
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAO8wEEDPgCBgcN+/r1CPnwpY0bwAAAE7SURBVHhe7dXLjsYgCAXgOYqXaq/v/7KTuKA1WPjd9+z9QhHp350vX74AVLZ6tdStZPwaBtLVJRaaA/g8x6UpwF0y0U8A1yhunwRklp+B+iLsc02Ucf5HAPFFiOiDXLbI80I34N2LkDogrH2BCwOvgqPRcRYYEIK8CToGPgNCEF3w3KZhBYqQG5CH/MGAIhwNWIfVEQOKUFsB4/NgQBN2AGEAnIQb0IQTQJFA6SZRFQhIov8BHaAKC7DLz+8BVVhFDw5AAJqQQf0TgAB0IeH5XKuHBHShPru4ESxACgHk7mpMQAon4GvrZ4AFsCC2QkhLBhRAExZrJ1rCagGmkA3AFIoBmEI0AFsgHbCFfR7IIT+ENA0s7fpZmAfaQQJyFJNgA7xGA/+Spivwj/kJW6PmAJy8ekQk8OXLl79/TlNCj3MK/VUAAAAASUVORK5CYII=');
    clip-path: url("images/iconmasks.svg#featured");
}

.km-toprated,
.km-favorites
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAO8Qz98gMI9gcL9QgK9An/4a/W8AAAFBSURBVHhe7dTJbsMwDATQVqKo1U74/z/bJU1j0TYpsT0FmSuBBxAYzNsz5ZX34/hKVP3JcQRY6DPLH4DwBQQ7EOk70QykG5DMANwAsAJIP0EjUO5AMQJwB8AGIP0GTUB5AMUEwAMAC4C0CRqAsgWyAVi3wDoPeOrip4HcA1kBYqDJhNgBgaYTOoAM+V8gzQOp70F2c4DLvAcIMwDgQQ8m3kjHRWqDb7jLWRN9HQGqF6q86MAi74HW6RC1PfCrBKxe3wOhEi6P7UE7A9rAHoiFSINAOAPCGBDpNFEFlEqnIUBoQhgBIgmJA0CRgDIAgASADiB1uV57AVWgsO6yZhcVADZcbOxAA5A3lzcDBaD/wLUbycauKEDlw8XHrsqA3w3Xbuy8CFx2w7Ubu4v8guPDxcfOKT1ojg0XGzvXGPAMeeUDMDBT7/NWqIUAAAAASUVORK5CYII=');
    clip-path: url("images/iconmasks.svg#toprated");
}

.km-mostviewed
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAL9AMO8QUN+fr3DPj2CAIG8Mt+oAAAF5SURBVHhe7dbZbgMhDEDRGjDbsPn/f7bNoniCQINppb7kvvuYSETD15/2Caa1I9JPwcKrdcC67OlZEAPmUHRKiQDrgqf38hLAq/uwrQG28OpzaGABMDXRuGTgGjCKJsUCcA0UGuaDszzatJ4Bbrj6MMA9LgW6IWCxB3x2wJkjvlg3Amq/us0vRRoBfr5aUd8IePHoBqsFQLKv1ZVXrwP4nHcBiRMA7rE8EScC0mMeaRc4bkBD2gb0DVDUhTLAUJduKAJqBySAIAJUBxwANu0BfDNsQCKfK24AFThLciBZ4KIcQANcJhnQz2sSA8rCKS8FooZzjgQAn54LQiBClxcCFLsjbNzE8lsA2/ZP4P8RlzcAdQbqNmCyUrE43AQMg3Kg8kd/D9DjeTUH7DtQKo0qUwCBgXkJpkBcAbANgftYWQC8gSFQ7me7BLBaGAMQKNkLIFWz8tRVl689OaD4tbcA5OFqAdAGD00RAKV77YkB0FnxQ/MC+P8+fQN8gGTBXGUtdwAAAABJRU5ErkJggg==');
    clip-path: url("images/iconmasks.svg#mostviewed");
}

.km-bookmarks
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAEC/gO/PEGCPMCCf369QcJQP0G4AAADkSURBVHhe7ZVLbsQgEAXD6w8fgz2+/2UTm4kAm5FGURaJ1LVhUXolseqPHsMw3AF41b0iFMPiOpYQSZ5SV8YphkBY9yvKz8bCepNrGAJR9inEX9DcSewC+4/4/QAxkjvweOQyDkp+wJ8ygWke8G4gRWnfTaPz04C74rnu2d/UewGHGoD7lwELWMACFrCAB/DYgDQLJGBjAP5VgKm70ZqDbwEfsjYnxO8dV4r1jTT3f+28V4QOdD7QU8rLgDLabQ9Z+q3k0C48WO+Bwou7sNH3nLarW7gMgRLcDJwJwlSG0vaGYXwCLNdFKwbqfAcAAAAASUVORK5CYII=');
    clip-path: url("images/iconmasks.svg#bookmarks");
}

.km-contacts
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkPbffuRAAAAEHRSTlMAADDf70DPEJ8gv4+AcK9gzuAoIAAAAQ1JREFUeF7t1euKxCAMgNFNosZb27z/0+5S2BFnqiQtzMDQ778HJEp+vrM7aG1B/lo9tCwA7sd3gs8AycmjwCeAIC0pdmCTrmQGcg8UMyB92QokecoK4BywXyGYgdAD0QwsPeDNAFM/BDMA6BpAbAV6ISQ4AwDXnaBq/s4t9D4BmIG+zwLp0hV83Ofgoj8FYJZHGeHqU16sQJSnog2I8lK0AFUOqnrAy2FeDdAxQFpgk0GbEqARQDoAZRiqgDIGigqgMUAaAGUSKoAyA4oCCDMgKwCZdgMiV6cQ3vEO0gxICgDiGIigAdiNAMcqAHAgONTuBaQjgFC/F7i+EFTZttpwWfM/kNcF22r7wu5+AZlRO9dz7MLoAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#contacts");
}

.km-download,
.km-downloads
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkPbffuRAAAAEHRSTlMAAO9QvxCPIK9AYHDfgJ8w+qh1HAAAANRJREFUeF7t01tKhjEMhGEnPX8ns//VKijSgGmagje/fRfwwFzM2y/tduhrlT+rDX0OIPN3eQ3I/NO9AjTuel8Anh54FgDqAVoAWPQPgQ1sYANH5EHxsIDMRtkA2OyvAbIAMoDbAm4DSNcYuJIBoI2BZn8hj4AMG0ikA5QmAAQdCHNfqBpQMQPoIyhNAfqIMH/nqgyYArQRlCYBbUSAB0BkGUf4gEISoOIEcErghBeQIyL8QCExwA/glAP8AKIc4AcKiQF+AMcXcGAVQLiYrwAJvGC7D8SiOTRbpMFrAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#download");
}

.km-more
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAFVBMVEX///8AAABCQkNCQkNCQkNCQkNCQkOBI28tAAAABnRSTlMAAO+fIDClqL08AAAAY0lEQVR4Xu3SwQrAMAgD0Blt/v+Tx6iUgeDFSw95xyApbX0uJSIiYhYOEh6W+qQWLPBDLEtdUgsCTMgT+6QUOA/f431SCsADe7xPSgF/9nifjAvGVxg/4vgbx4s0X+UbiYiIvOKiCLmpJFbMAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#more");
}

.km-mostrecent
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAJ1BMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkM4KhcVAAAADHRSTlMAAECA7zDPUGAgjxCPh8t/AAAAn0lEQVR4Xu3WWwoDIQxA0eal83D/622p9S8Ym8AwMLkLOKAiyet2ZRlALW2hUgF0gNpipAO1LVdVoKwDRQXaH10GMCES+wEW+CTsBjb4trkB6YC4Afj1QCABJhwNAEfENsACk4RNgGAamQDOAYwD8SPEL9F+RtA7kfiBfyGBvQO7G8AOoBs4OnCEh+vl490uDoSXrPCaF14046vuvcqyN7oqR6EiBfTQAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#mostrecent");
}

.km-recents
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEUAAAD///9CQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkMmNJvjAAAAEXRSTlMAABDvv4BQYJ+P36/PQHAgMKqzvEIAAAGkSURBVHhe7ZfRjoQgDEW7paKII/b/f3aTsckNitSsO9mXPY8kHimFUujrIb8o+BfQCY5Jgr4JkiLTiZ6Ax6wH8si3BTwEbRAGvidYg14Q1huCsmiHpXiCGBTMkoYhyawgxL5gRMRTZGRkgnfsCSY15pWPeZnVmC4F+D/WG/CAOVwIou4sGzXZFjPEtqBYnJnpArYQQ2kKBCEaLKpS6cwgLcF6/N6UQg3DehZw2ONnAruyjmLZg+CTwNZ4o76ANsvTUcDBxj2B/SlwLbAtMLMv4Nk2Qy3INuoL7F+5FrDN647AouVKEC2FrgCpjJUg7WO+AFs+VQLZZ9UUbHRgj1cqwTusmZqCTEfeeQiVYHe2BZpfBHBqzoLUEgCcq3QhGPoCTHH4qUAdQXIFpQrBX0RphIDxG2lkOS8i0tjZSKC8QGcjYSv7YCu7hwn4hwnH2QXH2S8owC8oKGkuKGl+UQV+UUVZd0BZ9y8W4F8suNoyNfGvNqIFl6P3/fL4en/aYHygxfGbrBVN1tM272ONplFEO0j5aLPtt/ufeHA8f/L8/avtX/ANu5pGw3BCGh0AAAAASUVORK5CYII=');
    clip-path: url("images/iconmasks.svg#recents");
}

.km-history
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAEAQ78+/YJ8wcN9QIK+PgF1etJgAAAE1SURBVHhe7ZbbcoUgDEUL4X6Q0/z/z7ZTdBzOJmqmr6xXx2V2hMDXyGKxMDMoJs9/+BS34dETgW080KxKYAMDwT4XvHnKm54JyLOApyeC/GIRl+8FdL7/StH+EtOpdHQr8LwT6mmtYUiBAuyfK2aguKOT1wJ7VJ/NB/kozV4Kwp6eDEC7IVwJ7NlsJLujBFnQuqCYKaULmiygo8gBCLiJgtgFVRLULoiiIPUOGJG+opIo8P05CsYveFGwV2iQMSMIcmDAZ4NYQQD7T2pFFgQ8xf5XQM8jJJ6QFE0kx4DbNL+xMlB0C6nBEFcuZXIQQLmZKgTQbucGAZQDhRwEUI60CgG0Q7VBAOVYJwcBlAdLnc0D6WiTZ+K3GdAdrlspn/Urj3dEecFAlFccRHfJQuj+mrdYLH4AFhY1U+4oG+AAAAAASUVORK5CYII=');
    clip-path: url("images/iconmasks.svg#history");
}

.km-add,
.km-contactadd
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAElBMVEX///8AAABCQkNCQkNCQkNCQkMa1EcTAAAABXRSTlMAAECvj+ZpteYAAAB5SURBVHhe7dYxDoAgGINRbf/e/8o6GKOBAeimfQf4BgXS7SVi7wB1IvaOkUDpUmuB0q1WAtADFgLUAxcCevlTIIEEQA0h+oHSsOoFShOqDUBT0ASoKWwCmvSdgP8R/d/oHyT/KPuXKS9SAgn4M88fmv7U9ce2P/cjDryvGdFfXzS0AAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#add");
}

.km-detaildisclosure
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAALVBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNiaLH1AAAADnRSTlMAAO8QYM8wgJ/fUI+vIFFd2IwAAADSSURBVHhe7dW9CcJgFIVhR/BiKisrS8HONotYOIET2Ng7QsAFXCITuIEIQSRwZlBuhAPC+QKn1Vs/JG/+biY/NvPmeQ5OTL/BBeiLoAHQlgAAdNcRgOXIKYC6GAmg16BapWgliF2Cbi3BbDt0ShCbBPdagjikeGjw6TxKwE4B2CkAOwVgpwLsVICdArBTAXYKwE4NKuTsJYihYqHBKcHNPQIbzKvgfTDvJJ+F9zRZaL5RLDTfahaaXxYL3a+bhd6G4Y7ytxwLvU3LXe1v+/L/4j8vpLIpwGD+pgUAAAAASUVORK5CYII=');
    clip-path: url("images/iconmasks.svg#details");
}

.km-info,
.km-about
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAElBMVEX///8AAABCQkNCQkNCQkNCQkMa1EcTAAAABXRSTlMAAECvj+ZpteYAAABeSURBVHhe7dY5DoAwDAVRvpf7XxkKBKH9jZEyc4BXZLF8/DuSFNlXGZIsoPquPKD6qRwgeikMIFcgDaA/bQB4h+hfo/+Q/Kc88pnedgPmJxITCQAAAACALY0tbT46Aao5DDnz9fpbAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#info");
}

.km-action
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAO8QQIAgMHCPUJ+vz2Dfv7IWJ5sAAAGISURBVHhe7ZbRkoMgDEWXBBARwfz/z+5Kda5FqmjfdjwvnWHkGGIS+rPh4eFBndCRkGFV0i5I8sfY3RZYeWHuCrQsTPZLgZC7KQCBvxQI+ZsC0POXAkn6pgCYdgH7fpQ9Y9ckYDfJB8h9EnS6WyMf5IihIrBzuPQS6ElO6EuBHdAzNsg5hcBlLeVy9ySXBfn1S/y9yGXBkjAHl1zKQcxKihfeP/JGYOm1lM8vTZi3Ohiwn0kaSO+VaJF/JEBSMFFri14oGxICt+YP8y9E+7GZaNeN07zKqAYy9qAbw34eUC7tzLh9grXWpYBiZSKhxXn7hJnXIcBgrgr0Ei3h/nB7gVOgKnDiVV2ARjs8gsk/xRHsWrtwV5IYssCzApOIpNmUMErrgtz8XL0Sh7W7+6Pb2eEM5Qni8j2hrwkYowB0gvKqUW8mwAlhnQuYyq/UJQRwLliGAP7HsJGMV40CjKFgvDdBXkTVKoABYH+DoDbKyatrAsWDAELhtAky7ALl3SGyOufn//Dw8Aultj/Su1kRWAAAAABJRU5ErkJggg==');
    clip-path: url("images/iconmasks.svg#action");
}

.km-camera
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAECf7yBgEM/fUIC/jzCvcKNrb9sAAAE4SURBVHhe7dHJboQwEITh9OIdmNT7v2xiBymGMSP3JVJG/FfkT63i4626u6NBeV0ULV3WTINeAjnhUMo2QPCUWADBIJkHBMNkFsi4KE8CCRell4DjvYLLCu+5J4AXmFr4CHiY8z2w4aK0LJeLbB3wwKhHDvRdyBefOwCDFve79zZc6DVQ6FCxAp5OeRsg1ApcCgdqiQVIP+utWjFdGxGSAfDtRcRebIKfB5Rq8ReMVNNpQLrVupNkGvDdAd0JfhrgCuBQBfi/AYoutQGfT5tLBco08KiAQ5erQJwG4E5/ze/iNCB0EDzVxACAm+DWCMTVNY5hAVKgUyGZAMSTECJsABL3ACdYAUAc7TkBrEArlsycSwQMwKg/ABT2oB0gsAfpAKcwp64DaDMLulEPkBMToeKoAu/S3d0X9TtxssVJkA8AAAAASUVORK5CYII=');
    clip-path: url("images/iconmasks.svg#camera");
}

.km-edit,
.km-compose
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAO9gnzDPEHBAIL+vUIDfj3vNz6AAAAD9SURBVHhe7dLLasYgFEXhRvPr0Vza/f4vWxDCIQhd1UyzRxlkfaD4ddu7d8t/ZkFKpX1OAaa2OA0EuTAFSC48AxTngM2FMgV8gq59DwK1lHoXxoAfSVqzC4PAqrbkAhyh7zvh6ADqXdildCwdQL0LbQx4f9sOAPVSBYB6FQCgJ4D7AHdAvSIA3AOAPQDYA4A9ANgjwD0D3DOQoScgJ+gBgJ4B6BEw6BHYoB8HwmcZAnboETj+6AmIlv0Vdj0D1v53oesJSFcR5f0IILnQ9wwUyYW+Z8AkF6qdMS9jwAonRyD53dcpQL7zKWBTQLjydM7dQQxSWq10AQLP9+7dLz6aMs0N+bsiAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#edit");
}

.km-search
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEUAAAD///9CQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkMmNJvjAAAAEXRSTlMAAGBAzxAg758wv69w34CPUKlW77IAAAFqSURBVHhe7dfdboMwDIBRz3Z+gXZ+/5fdNI1kkXEIYdJ20e+27YGE1BLwdrNfBF4A/MxhZPmKI3qwsgBapCm/XwIoi4ppHHjKYU83BjgWI/YjQNrELKRzwG3SKfhTgKUbuz7Q7t+y0mdr80RjHyCpPcrF3CNUgbpALgA3++W5AFsPIHOtrgrYARb9ey1kG3Cyl0Dlyz54E8Cyf3DQYwdWE4j1Gge5/RYWE+DmG6rd30yguUddWeEpQMcA7UCaBKB8/jeAXsL8Jt59jOH8ILm5g3T/KPs6+ub+TJCNcdAMSwYbeBdTiEMDBbgK3hppo0M1GENVcHish4gEQBiDNGEPcCznYQcAH4YEG4A0JtgAeB4SbABcHBQ0sEebBjYtaKCGuQUYAZXQAwD8unxfNCyrBwAtaECViFIhtaAAI1tQwGVBAVcFUsBFIbfAhHAdALwLAN4FAKf3QAtpDgCcPQftK0lOAP/mre0FfACWoUwHyBMm0QAAAABJRU5ErkJggg==');
    clip-path: url("images/iconmasks.svg#search");
}

.km-trash,
.km-delete
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAL+A78/fn0BgIDBQEI9wr7+TjBQAAAEPSURBVHhe7dRZasNAFETRPPU8Sar9bzYEDB2MVEUnHwnGdwEHXkn0x+v1zm4bfY8AzmpfrQLZBTzybRVox4nvxRWgluTxXNfAPPoqp4F59DrwOJqVOeA8eIGPGMDSn9FBlMSP5EEKezYzDuCuuPdhszXAp1JttnjCeTR7So04Cy7bVfozzqOXAXNxHv0TYPa3QE0bqUiggBcGBypUiQMOsv8OFKgiBxpUJwcMKieADaIsgB2i8cs/MZoAmtpQAQae44BesXNAr1glcIDlTQIZrE0DJjbUQOAbaiDxDTVw8A01kPmGGjC2IQf0ioUDesWmAPWwGgX0ipsCHnncdEiAv0phcGDWIy5KwybwOr37BHdeVr1CD8jBAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#trash");
}

.km-organize
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAADDf758grxCAz2BAUHCPv1mrJ50AAAEbSURBVHhe7dbLbsQgDAXQAuYVIOT+/89WpaMSVEfjkM0suEskH2TDwl8flhV1FZc8ATh0P7oB5LrhFXMbcLvHObeAUKzBGC8H9H7gX0g4g5AsAWy9AHB1Ax/vlACI4LNVp5QAsGBCPrnzdGLUV0Blro6nzkN6PYzlAYcxxpZwujpu3Y0sMDRw7Hr8y6PNAtSri+op3MOwwJ+f2L8sBzL7l+VA/C1vE5kBTKvXhFlgb70TpoH2egfmgZ/6jIeAfwqYpwA+AVjAAhawAPMU8CLAs4ABgCQCMgvE1oEAuNpQAoG0BNgCD6iQnRIANrzdVHEdslkpMcDvbFKA39lkgMEY+L6ziQA7XF1Lp4WAI3bNlQNKH21kbeBCYD4r31bxccuMJkHxAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#organize");
}

.km-reply
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAO+AMM+/33AgEGBQj5+vQB2l5cwAAAD1SURBVHhe7c7RbsMgDIXhGgNOCEnr93/ZbZGqIy2GUF9W/LeWvuPHtzWbzchqEw0vanQPrFl/S25gCXrmADDvADDvAzDvAjDvAzDvAjDvBTDvBzCPahkCMH8t7fEewLxZOOINgPlWaesCMehtsnQA0ZGkNgEd7Fl8AArRBnYdbjMB+kQwAXrJsFBNgMrwEyGaAFFMg0KygDO+AszPnOWfwCZgP/E+VM4AQmkBeAIAqkd4v9AG8AQAVBY5ATEAxAYAgs8vogHYT9Cl9e/KJoC4A1A5VPMNgCfI6lDpA3hCyCxpH8ATuw2soQOgjRdqxI8vazab/QAWEDWTbLzdSQAAAABJRU5ErkJggg==');
    clip-path: url("images/iconmasks.svg#reply");
}

.km-stop
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAElBMVEX///8AAABCQkNCQkNCQkNCQkMa1EcTAAAABXRSTlMAAECvj+ZpteYAAABSSURBVHhe7dbBDcBACAPBGHD/LaeBcEFC99stYL728xERSYr0sQxJB6D8W52A8qDqgfCoaIH0qGwBD7sIAAAAAAAAAOznfX8w9hdnf7L2N4+IXlYnHrGehzX2AAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#stop");
}

.km-sounds
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAO8QnzDPv3AgYI9Ar1DfgDDcgYgAAAEoSURBVHhe7dfbbsMgEATQZrnZ2E46//+zVV03GMyaiKmUKso8RYpyhMIY1h//KO9c6hkE3ijfPQAYCwBTN2A8vhO6gPR7SC9gsaUTGMABo5BAAAcM4AAjOjCPDwALVMBCXBOIUAELQFwDcFIAZTm8OQWMR5ZKOaZTwEIFPrHFnQAWRWqLCyow31Cmur9zHYgBx+Qt2ABbAdx0A1RgjCariCmBMUDJ79YuP9AGXAvACbTcqzHsH7OpADzU3BcuZteFkAMR58B1peK6mM3NAQ89qR12/VgF0AJcOqClC7gkINAr+Pv/gN+Fdg+s0oOeJvrURP5Z4J9G/jzgTyT+TORPZf5e4G8m/m7kb2d+PuAnlDIB/JT25DmRn1RTIZ80rbffF/g3ltfJO1/uJU0RDgVBnwAAAABJRU5ErkJggg==');
    clip-path: url("images/iconmasks.svg#sounds");
}

.km-refresh
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAEAQ78+/YJ8wcCDfUK+PgOETmIsAAAFVSURBVHhe7ZbdcoQgDEa7Cb+C2rz/y7YzfNYR1m423uyF5xpOwMSEr4Gbm8dAriKJHx1vCIL84ma7QBoLXxPgEHYBDmEX4BAXBTiEXYBD6AUck5eeqBbQIk8pOgEFOWFSCVYBNgHj6tYr5CrnfL/OAu/7XYpdGqMijV5AmPs6CEVRSOsWbBpKedKUMkmj5rb0EF4jCNjPWHoIrxAQlucH2MPrBKjfPZzfwusEjHj70uxEUlE3VaT90L6I4dIIUstAv14vaEWU7AI0jasC+mQBCu2ywP4RUSj2NLZC8fZCqi2CspRHZtzxVFC6n6kH3aLofueRCTNW11BGskOaFS3N8yhgjwuqmqrPQ3zsF1K39QOTg3p9MRf4OFjAHAR4fjnanGzUFClniqnKhmPFcHVyBtJjH++edW8kXuUpK/YbnziB4Lc9shZ6+6lb/p55PsV/Z+PNzQ/NLzVRZVch9QAAAABJRU5ErkJggg==');
    clip-path: url("images/iconmasks.svg#refresh");
}

.km-play
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAABDv31Agv6+AcEDPjzCfYF+mnXoAAACtSURBVHhe7dZBDoMwDETR1naAhNIy979shbqYHYuxKm/yD/BkoZD48Y9mM1uB6M/bboEPrl5vGXD86iqAKw4hAKxbEkDsIsAOUwEOIQMcIgkgmgiwzZIAvMkAh0gC8CYCbFuSAHyIAFuXJAAfMsAhkgD8FAHWskBkAZQDUfwR/Sw9SD5KfyYfpReKt9JL1VvpwxJ79nEtfd4PK11xupWueb1i1eWyPbRlW282+wJbTETCZLmtaQAAAABJRU5ErkJggg==');
    clip-path: url("images/iconmasks.svg#play");
}

.km-fastforward
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAALVBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNiaLH1AAAADnRSTlMAAN8Qj0BQ78+vYDCAvy699FEAAACmSURBVHhe7ZbBCgMhDES7ibrb1p3//9wKPdjgQipzEJa84xweg2ji444EQfACJG8/FEDKdsW1YEcjaRcIGk/9W4CGKfEN9jIjMCWGwBfYEkPgC2yJIfAFtsQQ+AJbYgimBDjesEj2BC5JSQEkE4JeghJAMikAKivAoaQAJyvAcsG5+BDr2ouUdOljSkoPFH6k8UOVH+v8YuFXG79c+fXOfzDuRxAEH4mINx3eJEvdAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#fastforward");
}

.km-pause
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAElBMVEX///8AAABCQkNCQkNCQkNCQkMa1EcTAAAABXRSTlMAAECvj+ZpteYAAABjSURBVHhe7dYxDoBACAVRgeX+VzYWBv8m2NBtZlrIq/91YkRm5pFP4Sbp4QdY+bYE0EMP1JsKeugBz29ewHZogRAgCtgOLZBaAakdBwAAAAAAAACMB8Z44kxH1nzmzYfmcRHdJxQZIRV7U1sAAAAASUVORK5CYII=');
    clip-path: url("images/iconmasks.svg#pause");
}

.km-rewind
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAMFBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOsfXrbAAAAD3RSTlMAABDf749AMK/PUGCAn79bTo4CAAAAq0lEQVR4Xu2WwQqDQAwFu+tabW2d///bQi7P3gLvsCCZD5iRoImPO1IURRPiWBhbu/Bc4EgL+g6wS9BXgJEVvAfBNR/kBJEPlCcrUF6C7UVaoLwEH0gJlBfKJwX9yx/KJwSatVA+I9CsBWlB5A1B5A1B5A1B5A1Bf+EJTkwB0wUnTB5iaysw80XS1pr4MSUewl4o/krzl6q/1v3D4p82+7ja593/wbgfRVH8ALmbO0KGXK5pAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#rewind");
}

.km-settings
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkPbffuRAAAAEHRSTlMAAGAgEL/vUDCAz5+P369Ah8UbzQAAASVJREFUeF7tl/2ugyAMxe/6AdPp5P2f9hKDhlSLZCdZsmXnLyLtL2JLW/++Sj/dziSaslRON3sAmlbpy4BU9FkAicQ+gClKG3AP2Z428w2wISmvw90FFP9C4GFMu8aBi38hOAAJxYH4kYweTGUVxAXE3TzUvvZRdAGUukQugPsA7AB6X4GcKPQSqJ1I1OfvAzi0AYEvACb+Ok1q8qEBsHGYaU0ZodnGwAcMFeC53xt5VoChCRgr/1ulijA6AHuCWWqAzPYMFiDqhMsJr4oBaDIypVjsvhrAYf9YoY0uAJMFTG8AIEfAPyIexpxEy7LEnkSK2RBKZfgywdcZLSh4ScOLKl7W4cYCtza4ucLtHR4w0BEHHbLQMe8zR11+w7gP/HB8gX76B3RpUzV/4OAXAAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#settings");
}

.km-globe
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAAO8Q31CAv4/PMK9AYCBwnwk9fdYAAAHfSURBVHhe7ZfNrtwgDEZrG8xPgOR7/5ethKZDrgWhnUUXV/csIkXCJw4B4/z6VvxAFvExMDoc1AtZngX+gOHw/yCoDhNc/UtB6eHgQ0vRCMRyvISu7AUksUdfPePICenwij9E2QkkAWCVLuuBvgQMkjwLMt8f4/sdNX8OA+eFYMRnGhTtt2IMK4EwAK6Nblz92tLNICuBpNe6eRtOl/uVcbKZh5kgooNjTLUGJWp04QtxLih4EejNkZ1SZMZXylTg8CINgUijyLC4maDiTaYbHhPqROCGIPkhkIQJjqzg64O4jFnAFG8FZmCoRJRDQnCYcliBmBRdIQo9GcwRI/AwsHTBEm8ECouS4lo71AgmI2OrhCXBCBgT+PQHFrARYE5QIDnMsIIFzqk0ae5jAXD29ajpY0GlTv5UcI36+JngpBde1D0IGAuUblzrzxiwotHgXC+kuH+HXvXfxOVmsriRgj5sJsESLrPiIpOCsptH4YeCQn4rqOmxpJHbCPymqFLdLOawK+vrFIiotbo9WKhgYEfni/dHG8XldhLPu8N1fQghUgu4k+ShwZhwmlrAsmlxLJkOYN/irA1NkonftHkW9eb9t42mJSTTaO5b3QWu/Idm+/N23yJeNz8c34cffgPVU26ref31bgAAAABJRU5ErkJggg==');
    clip-path: url("images/iconmasks.svg#globe");
}

.km-home
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAALVBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNiaLH1AAAADnRSTlMAAL+fYO/fj1BAIDCAz5MKRMsAAAD6SURBVHhe7dXNboMwFEThXOMfCIX3f9yWNjVDT6JRpa4qz9K651vC7dzYWLxa2/cWr+aBmPaPTb8A2EMwAHoIBkAPwQDoIViAPQUCpqdAgD0ED7Cn4AH2FAigNwIB9l4gwJ6CB9hTIIDeCADQGwEAeiMAQG8EAOiNAAC9EwCgdwIA9l5QgL0XFGDvNynAnqMgwBkUU+nBMyAnB6T8DMjffShQ02NVgejHAkR+9AKUOfrmIkA/VuBTyKHAHLJZgH58AWJ5W0KBGpfVE+jHCvQlOZTx/Z8DAxhAu376+dNsBriXr77cNdd3A8S6HX1d48fWevSbvt/+amNj7/BcRXtQwlY3AAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#home");
}

.km-cart
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEUAAAD///9CQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkMmNJvjAAAAEXRSTlMAAL+AEJ/PMO9AYHCPUN8gr4ctXAYAAAFYSURBVHhe7dfdboMwDAXgs/wHCNTv/7KTWoS3JXYgXHXquY38iWCIAV8385+AD4C8EiWLa/kBZHpmGQZWemUbBWjPfBewo0DagTgK2BcQMApgeda7cQBxtgUYBzj3gOzNyTymFuDpQoKrgIkuxVeAoWupgDQEjF/BUgEP4gRTZ+3dRHsA1qEVNxMnQu6ChRTe5YwayDuQ0AcMGoDjxXa4Ucm1APQAvksFTcB0gHh0EG3goQMu7MDqBMDyBrV6imgC3EffAmLgLktAPpoUq3JP3EERcHQiaZMBnAEKFMD0AQ8N8CfqVSD3gAU6gClpgMnoAdhmK6VstwfLWwDRWru1AF6OCuCM/q21vHrhRCBobyOPzsCANBtzC+CnbBIAQ6RdQvVCK7PR6DMhCcB6FggC4En94Jx/71CYTMqp6o4t5t6hOqEZXpYAlMAnaiPREFEo+AN8/pk+wDd7YUCP7hPBXwAAAABJRU5ErkJggg==');
    clip-path: url("images/iconmasks.svg#cart");
}

.km-battery
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAMFBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOsfXrbAAAAD3RSTlMAAEC/EK/P7yCAMHDfYI/SR0gMAAAAzUlEQVR4Xu3VwRKDIAxFUSEQhGrf//9ttXTD1BCVjYvctXNmnopOj8uyLMv9CgQ5rpfkBQCFY4DQawcKV42OAfSiHWD8ug5w2ICMu8CSvwPQB3wFov/L1VgBIvaik8roAiVW20tAgQg0z99JsQwQTgAZMoATQMEgwINAxhgwp0GAMAa8MAbMaRAgKECzUB2gv8ryAPkwzd77WIGiDNCPszpA/6AIA1QgoCkKA05/E1MdcB94b0BIlwBqFoQNWHEcqb82Xnu3kML0sCzLsj5TsjQa59TCzwAAAABJRU5ErkJggg==');
    clip-path: url("images/iconmasks.svg#battery");
}

.km-wifi
{
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEX///8AAABCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkNCQkOE6Fr6AAAAEXRSTlMAABDP72Dfv5+Pr1CAcDAgQG5wVbwAAAFFSURBVHhe7dTNjoQgEIXRoahCkB+t93/ZSYzphrlqmU4ns/Fbe88G8OerPT09OajVNAXdC1OqzUGnwCIzK8Sz0C1AZj1tFgugEvSyUOgKKKxmXE6BNeitwnoIUNLbJUKgBcWmLcVC+wsIHFpdye3RWuFgZQTSuI7ZQTmORuqB2NtByB1GNfRC7AD/Bri6iyq/Ad8B9BIina/Hs/LUAW4XODuzzPt+PIVN8GTvu097YBPisKdc5olVeZpLHmSK2x5uYoE3efoOC9zEMSqsEBe6+0PJQQ8L+RZAUU+LZAOL14v8YgEL62W8GAD5a8DTGYACR9n+5U0iwx6AXsA3ScLDHgEQEsEj6vcIjAKLg4T7vXETmzuoWTfR7h8ASdMU5WMgs25x/gyo+ko+AsjD/TMAFGBvACjA3gBQgL0BoAB7AL7R09PTL9YzMpjmsCG1AAAAAElFTkSuQmCC');
    clip-path: url("images/iconmasks.svg#wifi");
}

