/* Icon Masks */

@font-face {
    font-family: "Kendo UI";
    src: url("images/KendoUI.woff") format("woff"),
         url("images/KendoUI.ttf") format("truetype");
}

body:before
{
    font-family: "Kendo UI";
    content: "\a0";
    font-size: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}

.km-icon
{
    -webkit-background-clip: text;
}

.km-icon:after,
.km-loading:after
{
    position: static;
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    vertical-align: middle;
    font: 1em/1em "Kendo UI" !important;
}

:-webkit-any(.km-ios):not(.km-android):not(.km-blackberry):not(.km-meego) .km-icon:after
{
    background-image: inherit;
    background-repeat: inherit;
    background-position: inherit;
    background-color: currentcolor;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

:-webkit-any(.km-root) .km-pane.km-on-ios.km-ios4 .km-icon:after
{
    background-color: none;
    -webkit-text-fill-color: inherit;
}

 .km-action:after
{
    content: "\e0ca";
}

 .km-add:after
{
    content: "\e0cb";
}

 .km-battery:after
{
    content: "\e0ce";
}

 .km-bookmarks:after
{
    content: "\e0cf";
}

 .km-camera:after
{
    content: "\e0d0";
}

 .km-cart:after
{
    content: "\e0d1";
}

 .km-edit:after,
 .km-compose:after
{
    content: "\e0d5";
}

 .km-contacts:after
{
    content: "\e0e4";
}

 .km-trash:after,
 .km-delete:after
{
    content: "\e0ec";
}

 .km-details:after
{
    content: "\e0e2";
}

 .km-download:after,
 .km-downloads:after
{
    content: "\e0d4";
}

 .km-fastforward:after
{
    content: "\e0d9";
}

 .km-toprated:after,
 .km-favorites:after
{
    content: "\e0d7";
}

 .km-featured:after
{
    content: "\e0d8";
}

 .km-globe:after
{
    content: "\e0dc";
}

 .km-history:after
{
    content: "\e0e7";
}

 .km-home:after
{
    content: "\e0dd";
}

 .km-info:after,
 .km-about:after
{
    content: "\e0de";
}

 .km-more:after
{
    content: "\e0e0";
}

 .km-mostrecent:after
{
    content: "\e0cc";
}

 .km-mostviewed:after
{
    content: "\e0d6";
}

 .km-organize:after
{
    content: "\e0eb";
}

 .km-pause:after
{
    content: "\e0e3";
}

 .km-play:after
{
    content: "\e0e5";
}

 .km-recents:after
{
    content: "\e0d2";
}

 .km-refresh:after
{
    content: "\e0e6";
}

 .km-reply:after
{
    content: "\e0ed";
}

 .km-rewind:after
{
    content: "\e0e8";
}

 .km-search:after
{
    content: "\e0e9";
}

 .km-settings:after
{
    content: "\e0da";
}

 .km-share:after
{
    content: "\e0df";
}

 .km-sounds:after,
 .km-volume:after
{
    content: "\e0ef";
}

 .km-stop:after
{
    content: "\e0ea";
}

 .km-wifi:after
{
    content: "\e0f0";
}

.km-android .km-more:after
{
    content: "\e0e1";
}

.km-meego .km-more:after
{
    content: "\e0f8";
}

.km-ios .km-loading:after,
.km-ios .km-load-more .km-icon:after,
.km-ios .km-scroller-refresh .km-icon:after
{
    content: "\e0f7";
}

.km-meego .km-loading:after,
.km-meego .km-load-more .km-icon:after,
.km-meego .km-scroller-refresh .km-icon:after
{
    content: "\e0f6";
}

.km-root .km-android .km-loading:after,
.km-android .km-load-more .km-icon:after,
.km-root .km-android .km-scroller-refresh .km-icon:after
{
    content: "\e0f6";
}

.km-blackberry .km-loading:after,
.km-blackberry .km-load-more .km-icon:after,
.km-blackberry .km-scroller-refresh .km-icon:after
{
    content: "\e0f6";
}

.km-android .km-scroller-pull .km-icon:after,
 .km-scroller-pull .km-icon:after
{
    content: "\e0f2";
}

