@import "common.less";

/* Platform specific MeeGo-Harmattan CSS */

.km-meego
{
    .transform(translatez(0));
    background: #fff;
}

.km-meego .km-view
{
    overflow: hidden;
    -webkit-transform: translatez(0);
}

.km-meego .km-view
{
    .box-direction(reverse);
}

.km-meego .km-view > *
{
    .box-direction(normal);
}

.km-meego .km-switch
{
    font-family: "Nokia Pure", sans-serif;
    -webkit-transform: translatez(0);
}

.km-meego .km-switch
{
    width: 4em;
    width: 4rem;
    padding: 0;
}

.km-meego .km-switch,
.km-meego .km-switch-wrapper,
.km-meego .km-switch-container
{
    .border-radius(12px);
}

.km-meego .km-switch-container
{
    border: 0;
    .box-shadow(0 0 2px 0 #999 inset);
}

.km-meego .km-switch-background
{
    margin-left: -3em;
    background: linear-gradient(top, rgba(0,0,0,0), rgba(255,255,222,.2) 10%, rgba(0,0,0,0)),
                linear-gradient(left, rgb(25, 133, 222), rgb(25, 133, 222) 45%, rgb(210, 210, 210) 55%, rgb(210, 210, 210));
}

.km-meego .km-switch:active .km-switch-handle
{
    background: #d9d9d9;
}

.km-meego .km-switch-handle:after,
.km-meego .km-switch-handle:before
{
    display: none;
}

.km-meego .km-switch-handle
{
    width: 100%;
    height: 100%;
    background: #d2d2d2;
    .border-radius(10px);
    margin: 0.18em 0.2em;
    width: 1.4em;
    height: 1.4em;
    width: 1.4rem;
    height: 1.4rem;
    background: #fff;
    border-color: #fff;
    .box-sizing(border-box);
    .box-shadow(0 2px 3px 0 #aaa);
}

.km-meego .km-switch-on .km-switch-handle
{
    .box-shadow(0 2px 3px 0 #4c7698);
}

.km-meego,
.km-meego .km-button
{
    font: normal 1em Arial, Helvetica, sans-serif;
}

.km-meego .km-toolbar,
.km-meego .km-button,
.km-meego .km-radiogroup,
.km-meego .km-tabstrip
{
    font: normal 1em Arial, Helvetica, sans-serif;
    color: #333;
    text-shadow: none;
    border-color: #fff;
    background-color: #d3d7d7;
    -webkit-box-shadow: none;

    background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(210, 210, 210, 0));
}

.km-meego .km-button:active .km-button:not([disabled]):active,
.km-meego .km-radiogroup .km-state-active
{
    color: #FFF;
    border-color: #3f9fe5;
    background-color: #1b6ec0;
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(210, 210, 210, 0));
}

.km-meego .km-radiogroup
{
    font-size: 1em;
}

.km-meego .km-toolbar,
.km-meego .km-navbar
{
    background-color: #181E17;
    background-image: linear-gradient(top, rgba(43, 49, 45, 1), rgba(24, 30, 23, 0) 100%);
}

.km-meego .km-tabstrip
{
    padding: .2em;
    background-color: #333;
    background-image: linear-gradient(top, rgba(188, 188, 188, 0.8), rgba(51, 51, 51, 0) 50%);
}

.km-meego .km-tabstrip .km-badge
{
    top: auto;
    bottom: -10px;
}

.km-meego .km-tabstrip .km-button
{
    .border-radius(5pt);
    padding: .1em;
    margin: 0 1%;
}

.km-meego .km-tabstrip .km-text
{
    display: none;
}

.km-meego .km-slider,
.km-meego .km-list > li,
.km-meego .km-scroll-container
{
    -webkit-transform: translatez(0);
}
{
    -webkit-transform: translatez(0);
}

.km-meego .km-tabstrip .km-button .km-icon
{
    opacity: 0.5;
    background: transparent url('images/atabimg.png') no-repeat .5em 50%;
    background-size: auto 100%;
}

.km-meego .km-tabstrip .km-button:nth-child(1) .km-icon
{
    background-position: -1% 50%;
}

.km-meego .km-tabstrip .km-button:nth-child(2) .km-icon
{
    background-position: 33.5% 50%;
}

.km-meego .km-tabstrip .km-button:nth-child(3) .km-icon
{
    background-position: 67% 50%;
}

.km-meego .km-tabstrip .km-button:nth-child(4) .km-icon
{
    background-position: 100.5% 50%;
}

