@-ms-viewport { width: device-width; }

.km-wp8 {
    font-size: 1.4em;
    font-family: 'Segoe UI', sans-serif;
}

/* Variables */

@main-background: Background;

@main-text-dark: #fff;
@main-text-light: #000;

@accent-background: Highlight;
@accent-text: HighlightText;

@second-background-dark: #1f1f1f;
@second-background-light: #ddd;

@second-text-dark: #999;
@second-text-light: #8c8c8c;

@third-background-dark: #333;
@third-background-light: #bebebe;

@third-text-dark: #666;
@third-text-light: #ccc;
