@-ms-viewport { width: device-width; }

.km-wp8 {
    font-size: 1.4em;
    font-family: 'Segoe UI', sans-serif;
}

/* Variables */

@main-background: Background;

@main-text-dark: #fff;
@main-text-light: #000;

@accent-background: Highlight;
@accent-text: HighlightText;

@second-background-dark: #1f1f1f;
@second-background-light: #ddd;

@second-text-dark: #999;
@second-text-light: #8c8c8c;

@third-background-dark: #333;
@third-background-light: #bebebe;

@third-text-dark: #666;
@third-text-light: #ccc;

.km-wp8,
.km-wp8 .km-button
{
	background-color: @main-background;
}

.km-wp8 a
{
	text-decoration: none;
}

.km-wp8-dark,
.km-wp8-dark a,
.km-wp8-dark .k-widget,
.km-wp8-dark .k-group,
.km-wp8-dark .k-content
{
	color: @main-text-dark;
}

.km-wp8-light,
.km-wp8-light a,
.km-wp8-light .k-widget,
.km-wp8-light .k-group,
.km-wp8-light .k-content
{
	color: @main-text-light;
}

.km-wp8-dark .km-actionsheet-wrapper,
.km-wp8-dark .km-popup .k-list-container,
.km-wp8-dark .km-modalview,
.km-wp8-dark .km-popup-wrapper,
.km-wp8-dark .km-footer
{
	background-color: @second-background-dark;
}

.km-wp8-light .km-actionsheet-wrapper,
.km-wp8-light .km-popup .k-list-container,
.km-wp8-light .km-modalview,
.km-wp8-light .km-popup-wrapper,
.km-wp8-light .km-footer
{
	background-color: @second-background-light;
}

.km-wp8 .km-actionsheet li
{
	padding: .2em 1em;
}

.km-wp8 .km-button,
.km-root .km-wp8 .km-view .km-buttongroup .km-button
{
	border-style: solid;
	border-width: 2px;
	.border-radius(0);
	padding: .04em .5em .16em;
}

.km-wp8-dark .km-button
{
	border-color: @main-text-dark;
}

.km-wp8-light .km-button
{
	border-color: @main-text-light;
}

.km-root .km-wp8 .km-view .km-buttongroup .km-button
{
	.border-radius(0);
	display: inline-block;
	margin-left: 1px;
}

.km-root .km-wp8 .km-view .km-buttongroup .km-button:first-child
{
	margin-left: 0;
}

.km-wp8 .km-button.km-state-active
{
	background: @accent-background;
}

.km-pages > li
{
	width: .2em;
	height: .2em;
}

.km-wp8-dark .km-pages > li
{
	background: @main-text-dark;
}

.km-wp8-light .km-pages > li
{
	background: @main-text-light;
}

.km-wp8 .km-pages .km-current-page
{
	background: @accent-background;
}

.km-wp8 .km-switch-wrapper,
.km-wp8 .km-switch-handle,
.km-wp8 .km-switch-container
{
	.border-radius(0);
}

.km-wp8 .km-switch-wrapper
{
	border-style: solid;
	border-width: 2px;
	padding: 2px;
	box-sizing: border-box;
}

.km-wp8-dark .km-switch-wrapper
{
	border-color: @main-text-dark;
}

.km-wp8-light .km-switch-wrapper
{
	border-color: @main-text-light;
}

.km-wp8 .km-switch-handle
{
	width: 1.4em;
	margin: -2px 0 0 0;
}

.km-wp8-dark .km-switch-handle
{
	background: @main-text-dark;
	border: 2px solid @main-background;
	border-right-width: 0;
}

.km-wp8-light .km-switch-handle
{
	background: @main-text-light;
}

.km-wp8 .km-switch-handle > span
{
	display: none;
}

.km-wp8 .km-switch-background
{
	background: @accent-background;
	width: 97%;
	margin-left: -70px;
}

.km-wp8 .km-tabstrip
{
	padding:.4em 0;
}

.km-wp8 .km-tabstrip .km-button
{
	border-width: 0;
	margin: 0 1.2em;
	background-color: transparent;
	font-size: 10px;
}

.km-wp8 .km-tabstrip .km-button.km-state-active .km-icon
{
	background-color: @accent-background;
	color: @accent-text;
}

.km-wp8-dark .km-tabstrip .km-button.km-state-active .km-icon
{
	border-color: @main-text-dark;
}

.km-wp8-light .km-tabstrip .km-button.km-state-active .km-icon
{
	border-color: @main-text-light;
}

.km-wp8 .km-tabstrip .km-icon
{
	border-width: 2px;
	border-style: solid;
	.border-radius(24px);
	margin-bottom: .2em;
	padding: .1em;
}