.km-wp {
    font-size: 1em;
    font-family: 'Segoe WP', 'Segoe UI Symbol', 'Segoe UI', sans-serif;
}

/* Variables */

@main-background: Background;

@main-text-dark: #fff;
@main-text-light: #000;

@accent-background: Highlight;
@accent-text: HighlightText;

@second-background-dark: #1f1f1f;
@second-background-light: #ddd;

@second-text-dark: #999;
@second-text-light: #8c8c8c;

@third-background-dark: #333;
@third-background-light: #bebebe;

@third-text-dark: #666;
@third-text-light: #ccc;

.km-wp,
.km-wp .km-content,
.km-wp .km-button
{
	background-color: @main-background;
}

.km-wp .km-button
{
    text-transform: lowercase;
}

.km-wp a
{
	text-decoration: none;
}

.km-wp-dark,
.km-wp-dark a,
.km-wp-dark .k-widget,
.km-wp-dark .k-group,
.km-wp-dark .k-content,
.km-wp-dark .km-button,
.km-wp-dark .km-load-more,
.km-wp-dark .km-scroller-pull,
.km-wp-dark .km-detail,
.km-wp-dark .km-popup .km-item,
.km-wp-dark .k-dropdown .k-dropdown-wrap
{
	color: @main-text-dark;
}

.km-wp-light,
.km-wp-light a,
.km-wp-light .k-widget,
.km-wp-light .k-group,
.km-wp-light .k-content,
.km-wp-light .km-button,
.km-wp-light .km-load-more,
.km-wp-light .km-scroller-pull,
.km-wp-light .km-detail,
.km-wp-light .km-popup .km-item,
.km-wp-light .k-dropdown .k-dropdown-wrap
{
	color: @main-text-light;
}

.km-wp-dark .km-actionsheet-wrapper,
.km-wp-dark .km-popup .k-list-container,
.km-wp-dark .km-modalview,
.km-wp-dark .km-popup-wrapper,
.km-wp-dark .km-footer
{
	background-color: @second-background-dark;
}

.km-wp-light .km-actionsheet-wrapper,
.km-wp-light .km-popup .k-list-container,
.km-wp-light .km-modalview,
.km-wp-light .km-popup-wrapper,
.km-wp-light .km-footer
{
	background-color: @second-background-light;
}

.km-wp .km-view .km-buttongroup
{
    top: 0;
    display: block;
    margin: auto;
    text-align: center;
}

.km-wp .km-button,
.km-root .km-wp .km-view .km-buttongroup .km-button
{
	border-style: solid;
	border-width: .1em;
	.border-radius(0);
    line-height: 1em;
	padding: .04em .5em .16em;
}

.km-wp-dark .km-button,
.km-wp-dark .km-listview-link:after
{
	border-color: @main-text-dark;
}

.km-wp-light .km-button,
.km-wp-light .km-listview-link:after
{
	border-color: @main-text-light;
}

.km-root .km-wp .km-view .km-buttongroup .km-button
{
	.border-radius(0);
	display: inline-block;
	margin-left: 1px;
    .box-sizing(border-box);
    height: 100%;
}

.km-root .km-wp .km-view .km-buttongroup .km-button:first-child
{
	margin-left: 0;
}

.km-wp .km-detail:active,
.km-wp .km-button:active,
.km-wp .km-detail.km-state-active,
.km-wp .km-button.km-state-active,
.km-wp .km-actionsheet > li > a:hover,
.km-wp .km-actionsheet > li > a:active,
.km-wp .km-popup li.k-item:active,
.km-wp .km-popup li.k-state-selected
{
	background: @accent-background;
}

.km-wp .km-detail:active,
.km-wp .km-detail.km-state-active,
.km-wp *:not(.km-tabstrip) > .km-button:active,
.km-wp *:not(.km-tabstrip) > .km-button.km-state-active,
.km-wp .km-actionsheet > li > a:hover,
.km-wp .km-actionsheet > li > a:active,
.km-wp .km-popup li.k-item:active,
.km-wp .km-popup li.k-state-selected
{
    color: @accent-text;
}

.km-wp .km-list > li > .km-icon,
.km-wp .km-listview-link > .km-icon
{
    margin: -.1em .2em 0 -.4em;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    font-size: 1.6em;
    vertical-align: middle;
}

.km-wp .km-list > li > .km-icon:before,
.km-wp .km-listview-link > .km-icon:before
{
    display: none;
}

.km-wp .km-list > li > .km-icon:after,
.km-wp .km-listview-link > .km-icon:after,
{
    display: inline-block;
    width: auto;
}

.km-wp-dark .km-list > li > .km-icon,
.km-wp-dark .km-listview-link > .km-icon
{
    background: @third-background-dark
}

.km-wp-light .km-list > li > .km-icon,
.km-wp-light .km-listview-link > .km-icon
{
    background: @third-background-light
}

.km-wp .km-listview-link,
.km-wp .km-listview-label
{
    padding-bottom: .3em;
    .pTransition(~"transform .1s, color .1s");
}

.km-wp .km-state-active .km-listview-link,
.km-wp .km-state-active .km-listview-label
{
    background: none;
    .transform(scale(.98, .94));
}

.km-wp-dark .km-state-active .km-listview-link,
.km-wp-dark .km-state-active .km-listview-label
{
    color: @second-background-light;
}

.km-wp-light .km-state-active .km-listview-link,
.km-wp-light .km-state-active .km-listview-label
{
    color: @second-background-dark;
}

.km-wp .km-state-active .km-listview-link:after
{
    border-color: @accent-text;
}

.km-wp .km-listview-link:after
{
    display: none;
}

.km-wp .km-group-title
{
	text-transform: uppercase;
    font-size: 1em;
    padding: 0;
    margin-bottom: .2em;
    background: @accent-background;
    color: @accent-text;
}

.km-wp .km-group-title .km-text
{
    text-indent: 0;
    padding-left: .7em;
}

.km-wp .km-scroller-pull .km-template
{
    text-transform: lowercase;
}

.km-wp-dark .km-loader h1,
.km-wp-dark .km-filter-wrap:before,
.km-wp-dark .km-filter-reset .km-clear
{
	color: @main-text-dark;
}

.km-wp-light .km-loader h1,
.km-wp-light .km-filter-wrap:before,
.km-wp-light .km-filter-reset .km-clear
{
	color: @main-text-light;
}

/* Filter box */

.km-wp .km-listview-wrapper form .km-filter-wrap > input
{
    margin-top: -1px;
    font-size: 1.2em;
    padding-left: 1.6em;
    padding-right: 1.8em;
}

.km-wp .km-filter-wrap > input::-ms-clear
{
    display: none;
}

.km-wp .km-filter-wrap:before,
.km-wp .km-filter-reset .km-clear
{
    font-size: 1em;
	color: #adadad;
}

.km-wp .km-filter-wrap:before
{
    font-size: .8em;
    margin: .05em -1.3em 0 .3em;
}

.km-wp .km-filter-reset .km-clear:after
{
    content: "\e038";
}

.km-wp .km-navbar
{
    background: @main-background;
}

.km-wp .km-leftitem,
.km-wp .km-rightitem
{
    line-height: 2.6rem;
    vertical-align: middle;
}

.km-wp .km-navbar .km-view-title
{
	visibility: visible;
	font-size: 1.6em;
    line-height: 2.6rem;
    text-align: left;
    margin-left: .5em;
    .box-sizing(border-box);
}

.km-wp .km-button
{
	font-size: .9em;
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.km-wp .km-button .km-icon
{
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: text-top;
}

.km-wp .km-buttongroup .km-icon
{
    vertical-align: middle;
}

.km-wp .km-navbar .km-back
{
	display: none;
}

.km-wp .km-leftitem
{
    position: relative;
    float: left;
    margin-right: 1em;
}

.km-wp .km-button .km-text
{
    margin-top: -3px;
    display: inline-block;
    padding-bottom: 3px;
}

.km-wp .km-tabstrip .km-text
{
    display: block;
}

.km-wp .km-pages > li
{
	width: .2em;
	height: .2em;
}

.km-wp-dark .km-pages > li
{
	background: @main-text-dark;
}

.km-wp-light .km-pages > li
{
	background: @main-text-light;
}

.km-wp .km-pages .km-current-page
{
	background: @accent-background;
}

.km-wp .km-switch
{
    font-size: .7em;
    width: 6.4em;
    height: 2.4em;
    line-height: 2.4em;
}

.km-wp .km-list .km-switch
{
    margin-top: -1.2em;
}

.km-wp .km-switch-wrapper,
.km-wp .km-switch-handle,
.km-wp .km-switch-container
{
	.border-radius(0);
}

.km-wp .km-switch-wrapper
{
	border-style: solid;
	border-width: .2em;
	.box-sizing(border-box);
}

.km-wp-dark .km-switch-wrapper
{
	border-color: @main-text-dark;
}

.km-wp-light .km-switch-wrapper
{
	border-color: @main-text-light;
}

.km-wp .km-switch-container
{
    left: .2em;
    top: .2em;
    right: .2em;
    bottom: .2em;
    width: auto;
    height: auto;
    overflow: visible;
}

.km-wp-light .km-switch-container
{
    .box-shadow(inset 0 0 0 .2em @main-text-dark);
}

.km-wp-dark .km-switch-container
{
    .box-shadow(inset 0 0 0 .2em @main-text-light);
}

.km-wp .km-switch-handle
{
	width: 1.4em;
	margin-top: -.2em;
    padding-bottom: .4em;
    z-index: 1;
}

.km-wp-dark .km-switch-handle
{
    .box-shadow(0 0 0 .3em @main-text-light);
	background: @main-text-dark;
}

.km-wp-light .km-switch-handle
{
    .box-shadow(0 0 0 .3em @main-text-dark);
	background: @main-text-light;
}

.km-wp .km-switch-handle > span
{
	display: none;
}

.km-wp .km-switch-background
{
	background: @accent-background;
	width: 100%;
	margin-left: -6em;
}

.km-wp .km-tabstrip
{
	padding: .7em 0 .2em;
    background: transparent;
}

.km-wp.km-horizontal .km-tabstrip
{
	padding: .4em 0 .2em;
}

.km-wp .km-tabstrip .km-button
{
	border-width: 0;
	margin: 0 1.2em;
	background-color: transparent;
	font-size: .5em;
}

.km-wp .km-tabstrip .km-state-active .km-icon
{
	background-color: @accent-background;
	color: @accent-text;
}

.km-wp-dark .km-scroller-pull .km-icon,
.km-wp-dark .km-tabstrip .km-state-active .km-icon
{
	border-color: @main-text-dark;
}

.km-wp-light .km-scroller-pull .km-icon,
.km-wp-light .km-tabstrip .km-state-active .km-icon
{
	border-color: @main-text-light;
}

.km-root .km-wp .km-tabstrip .km-icon,
.km-wp .km-scroller-pull .km-icon
{
    width: 1em;
    height: 1em;
    font-size: 3.2em;
	border-width: .08em;
	border-style: solid;
	.border-radius(5em);
	margin-bottom: .2em;
	padding: .1em;
}

.km-wp .km-scroller-pull .km-icon
{
    width: 1em;
    height: 1em;
    font-size: 1.2em;
}

.km-wp .km-icon
{
    line-height: 1em;
}

.km-wp .km-icon:before
{
    margin-top: .08em;
}

.km-wp .km-icon:after
{
    margin-top: .04em;
    vertical-align: middle;
    height: 1em;
}

/* Checkboxes and Radios */

.km-wp .km-listview-label input[type=radio],
.km-wp .km-listview-label input[type=checkbox]
{
    border: 1px solid @main-text-dark;
    .box-shadow(0 0 1px @main-text-dark);
    width: 1em;
    height: 1em;
}

.km-wp-light .km-listview-label input[type=radio],
.km-wp-light .km-listview-label input[type=checkbox]
{
    border-color: @main-text-light;
    .box-shadow(0 0 1px @main-text-light);
}

.km-wp .km-listview-label input[type=radio],
.km-wp .km-listview-label input[type=radio]:after,
.km-wp .km-state-active input[type=radio]:before
{
    .border-radius(1em);
}

.km-wp .km-listview-label input[type=radio]:after,
.km-wp .km-listview-label input[type=checkbox]:after,
.km-wp .km-state-active input[type=radio]:before,
.km-wp .km-state-active input[type=checkbox]:before
{
    content: "\a0";
    display: block;
    margin: 16% 0 0 16%;
    width: 78%;
    height: 78%;
}

.km-wp .km-listview-label input[type=radio]:after
{
    margin: 11% 0 0 11%;
}

.km-wp .km-listview-label input[type=checkbox]:after
{
    margin: -60% 0 0 10%;
    width: 120%;
    height: 120%;
}

.km-wp .km-listview-label input[type=checkbox]:checked:after
{
    color: @main-text-dark;
    font-size: 1.2em;
    .transform(scale(1,1.2));
}

.km-wp-light .km-listview-label input[type=checkbox]:checked:after
{
    color: @main-text-light;
}

.km-wp .km-listview-label input[type=radio]:checked:after
{
    color: transparent;
    background: @main-text-dark;
}

.km-wp-light .km-listview-label input[type=radio]:checked:after
{
    background: @main-text-light;
}

.km-wp .km-state-active input[type=radio]:before,
.km-wp .km-state-active input[type=checkbox]:before
{
    position: absolute;
    margin: -45% 0 0 -45%;
    width: 190%;
    height: 190%;
}

/* Forms */

.km-wp input[type=password],
.km-wp input[type=search],
.km-wp input[type=number],
.km-wp input[type=tel],
.km-wp input[type=url],
.km-wp input[type=email],
.km-wp input[type=text]:not(.k-input),
.km-wp input[type=month],
.km-wp input[type=color],
.km-wp input[type=week],
.km-wp input[type=date],
.km-wp input[type=time],
.km-wp input[type=datetime],
.km-wp input[type=datetime-local],
.km-wp select:not([multiple]),
.km-wp .k-dropdown,
.km-wp textarea
{
	border: 2px solid @main-text-dark;
    background: @main-background;
	color: @main-text-dark;
	font-size: 100%;
	font-family: inherit;
    padding: 0 .3em;
    margin-top: -.65em;
}

.km-wp input::selection,
.km-wp textarea::selection
{
    color: @accent-text;
    background: @accent-background;
}

.km-wp-light input[type=password],
.km-wp-light input[type=search],
.km-wp-light input[type=number],
.km-wp-light input[type=tel],
.km-wp-light input[type=url],
.km-wp-light input[type=email],
.km-wp-light input[type=text]:not(.k-input),
.km-wp-light input[type=month],
.km-wp-light input[type=color],
.km-wp-light input[type=week],
.km-wp-light input[type=date],
.km-wp-light input[type=time],
.km-wp-light input[type=datetime],
.km-wp-light input[type=datetime-local],
.km-wp-light select:not([multiple]),
.km-wp-light .k-dropdown,
.km-wp-light textarea
{
	border-color: @main-text-light;
    color: @main-text-light;
}

.km-wp input[type=password]:focus,
.km-wp input[type=search]:focus,
.km-wp input[type=number]:focus,
.km-wp input[type=tel]:focus,
.km-wp input[type=url]:focus,
.km-wp input[type=email]:focus,
.km-wp input[type=text]:not(.k-input):focus,
.km-wp input[type=month]:focus,
.km-wp input[type=color]:focus,
.km-wp input[type=week]:focus,
.km-wp input[type=date]:focus,
.km-wp input[type=time]:focus,
.km-wp input[type=datetime]:focus,
.km-wp input[type=datetime-local]:focus,
.km-wp textarea:focus
{
	border-color: @accent-background;
}

.km-wp .k-dropdown
{
    padding: 0;
    width: auto;
    min-width: 8em;
    margin-top: -.75em;
    .border-radius(0);
}

.km-wp .k-dropdown .k-dropdown-wrap
{
    width: 100%;
    padding: 0;
    display: block;
    .border-radius(0);
    .box-sizing(border-box);
    .box-shadow(none);
    background: none;
    border: 0;
}

.km-wp .k-dropdown .k-input
{
    color: inherit;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 .2em;
    .border-radius(0);
    .box-shadow(none);
}

.km-wp select::-ms-expand
{
    display: none;
}

.km-wp select:not([multiple]):focus,
.km-wp .k-dropdown .k-state-active,
.km-wp .k-dropdown .k-state-focused
{
    color: @accent-text;
    border-color: @accent-text;
    background-color: @accent-background;
}

/* Slider */

.km-wp .k-slider-horizontal
{
    height: .5em;
    margin: -.65em .35em 0 0;
    width: ~"calc(50% - .7em)";
}

.km-wp .k-slider-vertical
{
    width: .5em;
}

.km-wp .k-slider .k-draghandle,
.km-wp .k-slider .k-draghandle:hover
{
    border: 0;
    .border-radius(0);
    background: @main-text-dark;
    z-index: 1;
}

.km-wp .k-slider-horizontal .k-draghandle
{
    top: -.25em;
    height: 200%;
    width: .6em;
}

.km-wp .k-slider-vertical .k-draghandle
{
    left: -.25em;
    width: 200%;
    height: .6em;
}

.km-wp-light .k-slider .k-draghandle,
.km-wp-light .k-slider .k-draghandle:hover
{
    background: @main-text-light;
}

.km-wp .k-slider-track,
.km-wp .k-slider-selection
{
    top: 0;
    left: 0 !important;
    right: 0;
    .border-radius(0);
}

.km-wp .k-slider-vertical .k-slider-track,
.km-wp .k-slider-vertical .k-slider-selection
{
    top: auto;
    bottom: 0;
}

.km-wp .k-slider .k-tick,
.km-wp .k-slider .k-tick-large
{
    visibility: hidden;
    display: inline-block;
    float: none;
}

.km-wp .k-slider .k-tick-large
{
    background: none;
    visibility: visible;
}

.km-wp .k-slider .k-tick-large:before
{
    content: "\a0";
    display: inline-block;
    text-align: center;
    position: relative;
    width: 2px;
    height: 100%;
    background: @main-text-light;
}

.km-wp-light .k-slider .k-tick-large:before
{
    background: @main-text-dark;
}

.km-wp .k-slider-items
{
    top: 100%;
    white-space: nowrap;
}

.km-wp .k-slider-items,
.km-wp .k-slider .k-tick-large
{
    position: relative;
}

.km-wp .k-slider .k-tick-large
{
    z-index: 1;
}

.km-wp .k-slider-selection
{
    margin-left: 0;
    background: @accent-background;
}

.km-wp .k-slider-track
{
    background: @third-background-dark;
    background-clip: padding-box;
    border: .5em solid transparent;
    border-width: .5em 0;
}

.km-wp-light .k-slider-track
{
    background: @third-background-light;
    background-clip: padding-box;
}

/* Scroll hints */
.km-wp .km-touch-scrollbar
{
    border: 1px solid rgba(255,255,255,.4);
}

.km-wp .km-vertical-scrollbar
{
    width: 2px;
}

.km-wp .km-horizontal-scrollbar
{
    height: 2px;
}

.km-wp .km-scrollview,
.km-wp .km-buttongroup
{
    overflow: hidden;
}

.km-wp .km-scroll-container
{
    padding-bottom: 20px;
}

/* Orientation fallback */

@media all and (orientation: landscape) {
  .km-root > .km-pane
  {
      animation-name: -kendo-landscape;
  }
}

/* Pull To Refresh */

.km-wp .km-load-more,
.km-wp .km-scroller-pull
{
    font-size: 1.2em;
}

/* ListView */

.km-wp .km-list > li
{
    overflow: hidden;
}

/* Badges */

.km-wp .km-badge
{
    color: @accent-text;
    border: .1em solid @accent-text;
    background-color: @accent-background;
    background-clip: border-box;
    line-height: 1.9em;
    .border-radius(2em);
}

.km-wp .km-tabstrip .km-badge
{
    margin-top: -.7em;
    line-height: 2.1em;
}

/* ListView Detail Icons */

.km-wp .km-detail
{
    position: absolute;
    height: 1.2em;
    width: 1.3em;
    right: .4em;
    font-size: 1.5em;
    margin-top: -.6em;
    border: none;
    background: @main-background;
    .box-sizing(border-box);
}

.km-wp .km-detaildisclose:after,
.km-wp .km-detaildisclose:before
{
    font-size: .86em;
    margin-left: -2px;
}

/* ActionSheet */

.km-wp .km-actionsheet-root > .k-animation-container
{
    left: 0 !important;
}


.km-wp .km-actionsheet-wrapper
{
    bottom: 0;
}

.km-wp .km-popup .k-item,
.km-wp .km-actionsheet > li
{
    padding: 0;
}

.km-wp .km-popup .k-item,
.km-wp li.km-actionsheet-title,
.km-wp .km-actionsheet > li > a
{
    display: block;
    padding: .3em .8em;
    .border-radius(0);
    background: none;
    .box-shadow(none);
    border: 0;
}

.km-wp li.km-actionsheet-title
{
    font-weight: bold;
}

/* DropDownList */

.km-wp .km-popup
{
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0,0,0,.6);
    .box-sizing(border-box);
}

.km-wp .km-popup .k-list-container
{
    width: 100% !important;
    height: auto !important;
    bottom: 0;
    border: 0;
    padding: 0;
    .border-radius(0);
    .box-sizing(border-box);
}

.km-wp .km-actionsheet,
.km-phone .km-wp .km-popup .k-list-container
{
    max-height: 80%;
}

.km-wp .km-popup li.k-state-hover
{
    color: inherit;
}

/* Loader */

.km-wp .km-loader,
.km-wp .km-scroller-refresh
{
    width: 100%;
    height: 4em;
    padding: 0;
    left: 0;
    .border-radius(0);
    border: 0;
    margin: -2em 0 0;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    line-height: .65rem;
}

.km-wp .km-scroller-refresh
{
    background: transparent;
    height: 3em;
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
}

.km-load-more.km-scroller-refresh
{
    position: relative;
}

.km-wp-dark .km-loader
{
    background: @second-background-dark;
}

.km-wp-light .km-loader
{
    background: @second-background-light;
}

.km-wp .km-loader h1,
.km-wp .km-scroller-refresh .km-template
{
    position: absolute;
    display: none;
    font-size: 1em;
    width: 100%;
    left: 0;
    margin-left: 0;
    bottom: 0;
    margin-bottom: .8em;
}

.km-wp .km-scroller-refresh .km-template
{
    left: 0;
    margin-left: 0;
    text-align: center;
    width: 100%;
}

.km-wp .km-loader .km-loading,
.km-wp .km-scroller-refresh .km-icon
{
    .animation(none);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    .border-radius(0);
}

.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading,
.km-wp .km-loader .km-loading:after,
.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before
{
    position: absolute;
    display: inline-block;
    content: "\a0";
    top: 0;
    left: 0;
    border: 0;
    width: 12em;
    margin: 0;
    padding: 0;
    height: 0;
    text-align: left;
    font-family: "Kendo UI";
    vertical-align: top;
}

.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before
{
    width: 100%;
}

.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon
{
    top: 46%;
    font-size: .3em;
}

.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading
{
    left: 50%;
    margin-left: -7em;
    top: 46%;
    font-size: .3em;
    line-height: 0;
}

.km-wp-light .km-loader:before,
.km-wp-light .km-loader:after,
.km-wp-light .km-loader .km-loading,
.km-wp-light .km-loader .km-loading:after,
.km-wp-light .km-loader .km-loading:before,
.km-wp-light .km-scroller-refresh:after,
.km-wp-light .km-scroller-refresh:before,
.km-wp-light .km-scroller-refresh .km-icon,
.km-wp-light .km-scroller-refresh .km-icon:after,
.km-wp-light .km-scroller-refresh .km-icon:before
{
    color: @main-text-light;
}

.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading:after,
.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before
{
    opacity: 0;
    height: .6em;
    border-left: .7em solid;
    .animation(km-wpload 2s infinite linear);
}

.km-wp .km-loader .km-loading:after,
.km-wp .km-scroller-refresh .km-icon:after
{
    .animation-delay(0);
}

.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh .km-icon:before
{
    .animation-delay(.3s);
}

.km-wp .km-loader:before,
.km-wp .km-scroller-refresh:before
{
    .animation-delay(.6s);
}

.km-wp .km-loader:after,
.km-wp .km-scroller-refresh:after
{
    .animation-delay(.9s);
}

@keyframes km-wpload
{
    0% { transform: translateX(0); opacity: 0; }
    8% { transform: translateX(30%); }
    16% { opacity: 1; }
    34% { opacity: 1; }
    42% { transform: translateX(70%); }
    50% { transform: translateX(100%); opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes km-wpload
{
    0% { -moz-transform: translateX(0); opacity: 0; }
    8% { -moz-transform: translateX(30%); }
    16% { opacity: 1; }
    34% { opacity: 1; }
    42% { -moz-transform: translateX(70%); }
    50% { -moz-transform: translateX(100%); opacity: 0; }
    100% { opacity: 0; }
}

@-webkit-keyframes km-wpload
{
    0% { -webkit-transform: translateX(0); opacity: 0; }
    8% { -webkit-transform: translateX(30%); }
    16% { opacity: 1; }
    34% { opacity: 1; }
    42% { -webkit-transform: translateX(70%); }
    50% { -webkit-transform: translateX(100%); opacity: 0; }
    100% { opacity: 0; }
}

.km-wp .km-content
{
    display: block;
}
