
        <div id="example">
        
            <div class="demo-section k-header">            
                <div class="k-rtl">
                    <h4>USA STATES:</h4>
                    <input id="states" style="width: 400px;" />
                </div>
            </div>
            <script>
                $(document).ready(function() {

                    var data = [
                            "Alabama",
                            "Alaska",
                            "American Samoa",
                            "Arizona",
                            "Arkansas",
                            "California",
                            "Colorado",
                            "Connecticut",
                            "Delaware",
                            "District of Columbia",
                            "Florida",
                            "Georgia",
                            "Guam",
                            "Hawaii",
                            "Idaho",
                            "Illinois",
                            "Indiana",
                            "Iowa",
                            "Kansas",
                            "Kentucky",
                            "Louisiana",
                            "Maine",
                            "Maryland",
                            "Massachusetts",
                            "Michigan",
                            "Minnesota",
                            "Mississippi",
                            "Missouri",
                            "Montana",
                            "Nebraska",
                            "Nevada",
                            "New Hampshire",
                            "New Jersey",
                            "New Mexico",
                            "New York",
                            "North Carolina",
                            "North Dakota",
                            "Northern Marianas Islands",
                            "Ohio",
                            "Oklahoma",
                            "Oregon",
                            "Pennsylvania",
                            "Puerto Rico",
                            "Rhode Island",
                            "South Carolina",
                            "South Dakota",
                            "Tennessee",
                            "Texas",
                            "Utah",
                            "Vermont",
                            "Virginia",
                            "Virgin Islands",
                            "Washington",
                            "West Virginia",
                            "Wisconsin",
                            "Wyoming"
                        ];

                    $("#states").kendoAutoComplete({
                        dataSource: data,
                        placeholder: "Select state..."
                    });
                });
            </script>
            
            <style scoped>
                .demo-section {
                    width: 400px;
                }
            </style>
        </div>