<div id="example" class="k-content">
    <div class="panel">
        <h1>
            Climate control history
        </h1>
        <table class="history-table">
            <tr>
                <td>Pressure</td>
                <td><span id="press-log"></span></td>
                <td>980 mb</td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td><span id="temp-log"></span></td>
                <td>22 &deg;C</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td><span id="hum-log"></span></td>
                <td>32 %</td>
            </tr>
        </table>
        <h1>
            Temperature control
        </h1>
        <div class="stats">
            <span id="temp-range"></span>
        </div>
        <h1>
            Conditioner working time
        </h1>
        <div class="stats">
            <span id="stats-mon"></span>
            <span id="stats-tue"></span>
            <span id="stats-wed"></span>
            <span id="stats-thu"></span>
        </div>
    </div>

    <script>
        function createSparklines() {
            // Binding directly to an array
            $("#press-log").kendoSparkline([
                936, 968, 1025, 999, 998, 1014, 1017, 1010, 1010, 1007,
                1004, 988, 990, 988, 987, 995, 946, 954, 991, 984,
                974, 956, 986, 936, 955, 1021, 1013, 1005, 958, 953,
                952, 940, 937, 980, 966, 965, 928, 916, 910, 908
            ]);

            // User-set Sparkline type
            $("#temp-log").kendoSparkline({
                type: "bar",
                data: [
                    16, 17, 18, 19, 20, 21, 21, 22, 23, 22,
                    20, 18, 17, 17, 16, 16, 17, 18, 19, 20,
                    21, 22, 23, 25, 24, 24, 22, 22, 23, 22,
                    22, 21, 16, 15, 15, 16, 19, 20, 20, 21
                ],
                tooltip: {
                    format: "{0} &deg;C"
                }
            });

            $("#hum-log").kendoSparkline({
                type: "area",
                data: [
                    71, 70, 69, 68, 65, 60, 55, 55, 50, 52,
                    73, 72, 72, 71, 68, 63, 57, 58, 53, 55,
                    63, 59, 61, 64, 58, 53, 48, 48, 45, 45,
                    63, 64, 63, 67, 58, 56, 53, 59, 51, 54
                ],
                tooltip: {
                    format: "{0} &deg;C"
                }
            });

            $("#temp-range").kendoSparkline({
                type: "bullet",
                data: [21, 23],
                valueAxis: {
                    min: 0,
                    max: 30,
                    plotBands: [{
                        from: 0, to: 15, color: "#fff", opacity: 0.9
                    }, {
                        from: 15, to: 22, color: "#fff", opacity: 0.7
                    }, {
                        from: 22, to: 30, color: "#fff", opacity: 0.4
                    }]
                },
                tooltip: {
                    visible: true
                }
            });

            // Pie "sparklines"
            $("#stats-mon").kendoSparkline({
                type: "pie",
                data: [8, 16]
            });

            $("#stats-tue").kendoSparkline({
                type: "pie",
                data: [4, 20]
            });

            $("#stats-wed").kendoSparkline({
                type: "pie",
                data: [24]
            });

            $("#stats-thu").kendoSparkline({
                type: "pie",
                data: [24]
            });
        }

        $(document).ready(createSparklines);
        $("#example").bind("kendo:skinChange", createSparklines);
    </script>

    <style scoped>
        .panel {
            background-color: #eee;
        }

        h1 {
            text-color: #073B59;
            text-transform: uppercase;
            font-family: arial, sans-serif;
            font-size: 12px;
        }

        .history-table td,
        .stats {
            line-height: 40px;
        }
    </style>
</div>
