<div class="example" ng-app="KendoDemos">
    <div class="demo-section k-header" ng-controller="MyCtrl">
        <div class="box-col">
            <h4>TreeView</h4>
            <div kendo-tree-view="tree"
             k-data-source="treeData"
             k-template="itemTemplate"
             k-on-change="selectedItem = dataItem"></div>
        </div>
        <div class="box-col" ng-show="selectedItem">
          <h4>Selected: {{selectedItem.text}}</h4>
          <button class="k-button" ng-click="addAfter(selectedItem)">Add item below</button>
          <button class="k-button" ng-click="addBelow(selectedItem)">Add child item</button>
          <button class="k-button" ng-click="remove(selectedItem)">Delete</button>
        </div>
    </div>
    <style scoped>
        .k-treeview .k-in {
            padding: 5px;
        }
    </style>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ]);
function MyCtrl($scope) {
  $scope.treeData = new kendo.data.HierarchicalDataSource({ data: [
    { text: "Item 1" },
    { text: "Item 2", items: [
      { text: "SubItem 2.1" },
      { text: "SubItem 2.2" }
    ] },
    { text: "Item 3" }
  ]});

  $scope.itemTemplate = "{{dataItem.text}} <button class='k-button' ng-click='click(dataItem)'>Select</button>";

  $scope.click = function(dataItem) {
    alert(dataItem.text);
  };

  function makeItem() {
    var txt = kendo.toString(new Date(), "HH:mm:ss");
    return { text: txt };
  };

  $scope.addAfter = function(item) {
    var array = item.parent();
    var index = array.indexOf(item);
    var newItem = makeItem();
    array.splice(index + 1, 0, newItem);
  };

  $scope.addBelow = function() {
    // can't get this to work by just modifying the data source
    // therefore we're using tree.append instead.
    var newItem = makeItem();
    $scope.tree.append(newItem, $scope.tree.select());
  };

  $scope.remove = function(item) {
    var array = item.parent();
    var index = array.indexOf(item);
    array.splice(index, 1);
  };

  window.$scope = $scope;
}
</script>
