        <div id="example">
            <div class="demo-section k-header">
                <h4>TreeView with images</h4>
                <div id="treeview-images"></div>
            </div>

            <script>
                $("#treeview-images").kendoTreeView({
                    dataSource: [
                        {
                            text: "Inbox", imageUrl: "../content/web/treeview/mail.png",
                            items: [
                                { text: "Read Mail", imageUrl: "../content/web/treeview/readmail.png" }
                            ]
                        },
                        {
                            text: "Drafts", imageUrl: "../content/web/treeview/edit.png"
                        },
                        {
                            text: "Search Folders", expanded: true, imageUrl: "../content/web/treeview/search.png",
                            items: [
                                { text: "Categorized Mail", imageUrl: "../content/web/treeview/search.png" },
                                { text: "Large Mail", imageUrl: "../content/web/treeview/search.png" },
                                { text: "Unread Mail", imageUrl: "../content/web/treeview/search.png" }
                            ]
                        },
                        {
                            text: "Settings", imageUrl: "../content/web/treeview/settings.png"
                        }
                    ]
                });
            </script>
            <div class="demo-section k-header">
            <h4>TreeView with sprites</h4>

            <div id="treeview-sprites"></div>
            </div>
            <script>
                $("#treeview-sprites").kendoTreeView({
                    dataSource: [{
                        text: "My Documents", expanded: true, spriteCssClass: "rootfolder", items: [
                            {
                                text: "Kendo UI Project", expanded: true, spriteCssClass: "folder", items: [
                                    { text: "about.html", spriteCssClass: "html" },
                                    { text: "index.html", spriteCssClass: "html" },
                                    { text: "logo.png", spriteCssClass: "image" }
                                ]
                            },
                            {
                                text: "New Web Site", expanded: true, spriteCssClass: "folder", items: [
                                    { text: "mockup.jpg", spriteCssClass: "image" },
                                    { text: "Research.pdf", spriteCssClass: "pdf" },
                                ]
                            },
                            {
                                text: "Reports", expanded: true, spriteCssClass: "folder", items: [
                                    { text: "February.pdf", spriteCssClass: "pdf" },
                                    { text: "March.pdf", spriteCssClass: "pdf" },
                                    { text: "April.pdf", spriteCssClass: "pdf" }
                                ]
                            }
                        ]
                    }]
                });
            </script>

            <style scoped>
                #treeview-sprites .k-sprite {
                    background-image: url("../content/web/treeview/coloricons-sprite.png");
                }

                .rootfolder { background-position: 0 0; }
                .folder { background-position: 0 -16px; }
                .pdf { background-position: 0 -32px; }
                .html { background-position: 0 -48px; }
                .image { background-position: 0 -64px; }

                .demo-section
                {
                    float: left;
                    width: 200px;
                    margin: 0 60px 0 0;
                }
            </style>
        </div>
