        <div id="example" class="k-content">
            <div id="treeview" class="demo-section"></div>

            <script>
                $(document).ready(function() {
                    // TreeView bound to Categories > Products > OrderDetails

                    var OrderDetails = {
                        type: "odata",
                        transport: {
                            read: {
                                url: function(options) {
                                    return kendo.format("http://demos.telerik.com/kendo-ui/service/Northwind.svc/Products({0})/Order_Details", options.ProductID);
                                }
                            }
                        },
                        schema: {
                            model: {
                                hasChildren: function() {
                                    return false;
                                }
                            }
                        }
                    };

                    var Products = {
                        type: "odata",
                        schema: {
                            model: {
                                id: "ProductID",
                                hasChildren: "Order_Details",
                                children: OrderDetails
                            }
                        },
                        transport: {
                            read: {
                                url: function(options) {
                                    return kendo.format("http://demos.telerik.com/kendo-ui/service/Northwind.svc/Categories({0})/Products", options.CategoryID);
                                }
                            }
                        }
                    };

                    var Categories = new kendo.data.HierarchicalDataSource({
                        type: "odata",
                        transport: {
                            read: {
                                url: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Categories"
                            }
                        },
                        schema: {
                            model: {
                                hasChildren: "Products",
                                id: "CategoryID",
                                children: Products
                            }
                        }
                    });

                    $("#treeview").kendoTreeView({
                        dataSource: Categories,
                        dataTextField: ["CategoryName", "ProductName", "OrderID"]
                    });
                });
            </script>

            <style scoped>
                #example {
                    text-align: center;
                }

                .demo-section {
                    display: inline-block;
                    vertical-align: top;
                    width: 320px;
                    height: 300px;
                    text-align: left;
                    margin: 0 2em;
                }
            </style>
        </div>
