.k-chart,
.k-gauge
{
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.k-chart,
div.k-gauge
{
    background-color: transparent;
}

.k-gauge
{
    text-align: left;
}

.k-baseline-marker {
    zoom: 1;
    *display: inline;
}

.k-chart .k-tooltip {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 6px;
    white-space: nowrap;
    z-index: 1000;
}

.k-chart .k-tooltip table {
    border-spacing: 0;
    border-collapse: collapse;
}

.k-chart .k-tooltip th {
    text-align: center;
}

.k-chart .k-tooltip td {
    padding: .1em .2em;
}

/* Selection */
.k-selector {
    position: absolute;
}

.k-selection {
    border-bottom: 0;
    position: absolute;
    border: 1px solid #d2d2d2;
    border-bottom: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.01);
}

.k-handle {
    background: #d2d2d2;
    width: 7px;
    height: 26px;
    cursor: e-resize;
    z-index: 1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
}

.k-handle div {
    width: 100%;
    height: 100%;
}

.k-leftHandle div {
    margin-left: -15px;
    padding-right: 20px;
}

.k-rightHandle div {
    margin-left: -5px;
    padding-right: 20px;
}

.k-mask {
    background: #fff;
    filter:alpha(opacity=75);
    opacity: 0.75;
    position: absolute;
    height: 100%;
}

.k-border {
    background: #d2d2d2;
    width: 1px;
    height: 100%;
    position: absolute;
}

.k-black .k-mask {
    background: #222;
}

.k-black .k-selection {
    border-color: #8e8e8e;
}

.k-blueopal .k-mask {
    background: #fff;
}

.k-blueopal .k-selection {
    border-color: #9aabb2;
}

.k-default .k-mask {
    background: #fff;
}

.k-default .k-selection {
    border-color: #8e8e8e;
}

.k-highcontrast .k-mask {
    background: #1b141a;
}

.k-highcontrast .k-selection {
    border-color: #664e62;
}

.k-metro .k-mask {
    background: #fff;
}
.k-metro .k-handle {
    background: #8ebc00;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-metroblack .k-mask {
    background: #0e0e0e;
}

.k-metroblack .k-selection {
    border-color: #707070;
}

.k-metroblack .k-handle {
    background: #00aba9;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-silver .k-mask {
    background: #eaeaec;
}

.k-silver .k-selection {
    border-color: #a7b2c1;
}

.k-leftHandle {
    left: -4px;
}

.k-rightHandle {
    right: -4px;
}

/* Navigator hint */
.k-navigator-hint {
}

.k-navigator-hint div {
    position: absolute;
}

.k-navigator-hint .k-scroll {
    background: #bbb;
    position: absolute;
    height: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.k-navigator-hint .k-tooltip {
    margin-top: 20px;
    border: 3px solid #bbb;
    background: #fff;
}
