.k-chart,
.k-gauge
{
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.k-chart,
div.k-gauge
{
    background-color: transparent;
}

.k-gauge
{
    text-align: left;
}

.k-baseline-marker {
    zoom: 1;
    *display: inline;
}
