/* Default Theme */

.k-default .k-mask {
    background-color: #fff;
    filter: alpha(opacity=68);
    -moz-opacity: 0.68;
    opacity: 0.68;
}

.k-default .k-selection {
    border-color: rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 1px 8px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 8px rgba(0,0,0,.1);
    transition: box-shadow .2s linear, border-color .2s linear;
    -moz-transition: box-shadow .2s linear, border-color .2s linear;
    -webkit-transition: box-shadow .2s linear, border-color .2s linear;
    -o-transition: box-shadow .2s linear, border-color .2s linear;
}

.k-default .k-selection:hover {
    border-color: rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.2);
}

.k-default .k-handle {
    background-color: #fcfcfc;
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

.k-default .k-handle:hover {
    background-color: #ffffff;
    border-color: #b8b8b8;
    -moz-box-shadow: 0 0 0 2px rgba(111,101,96,.5);
    -webkit-box-shadow: 0 0 0 2px rgba(111,101,96,.5);
    box-shadow: 0 0 0 2px rgba(111,101,96,.5);
}
.k-default .k-navigator-hint .k-tooltip {
    border: 3px solid #ffffff;
    -moz-box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    background: #ffffff;
    color: #242424;
}

.k-default .k-navigator-hint .k-scroll {
    background: rgba(252,116,26,.7);
    height: 4px;
}
