/* Metro Theme */

.k-chart .k-mask {
    background-color: #fff;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    opacity: 0.70;
}

.k-chart .k-selection {
    border-color: #c7c7c7;
    -moz-box-shadow: inset 0 1px 12px rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 1px 12px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 12px rgba(0,0,0,.05);
    transition: box-shadow .2s linear, border-color .2s linear;
    -moz-transition: box-shadow .2s linear, border-color .2s linear;
    -webkit-transition: box-shadow .2s linear, border-color .2s linear;
    -o-transition: box-shadow .2s linear, border-color .2s linear;
}

.k-chart .k-selection:hover {
    border-color: #8ebc00;
    -moz-box-shadow: inset 0 0 20px rgba(142,188,0,.5);
    -webkit-box-shadow: inset 0 0 20px rgba(142,188,0,.5);
    box-shadow: inset 0 0 20px rgba(142,188,0,.5);
}

.k-chart .k-handle {
    background-color: #c7c7c7;
    width: 1px;
}

.k-chart .k-handle:hover {
    background-color: #8ebc00;
    width: 3px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-chart .k-navigator-hint .k-tooltip {
    border: 0;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    background: #8ebc00;
    color: #ffffff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-chart .k-navigator-hint .k-scroll {
    background: rgba(0,0,0,.3);
    height: 4px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
