/* Uniform Theme */

.k-chart .k-selection {
    border-color: #cccccc;
    transition: box-shadow .2s linear, border-color .2s linear;
    -moz-transition: box-shadow .2s linear, border-color .2s linear;
    -webkit-transition: box-shadow .2s linear, border-color .2s linear;
    -o-transition: box-shadow .2s linear, border-color .2s linear;
}

.k-chart .k-selection:hover {
    border-color: #9e9e9e;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.k-chart .k-handle {
    background-color: #ebebeb;
    border: 1px solid #cccccc;
    width: 5px;
    height: 24px;
}

.k-chart .k-handle:hover {
    background-color: #ffffff;
    border-color: #cccccc;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.k-chart .k-navigator-hint .k-tooltip {
    border: 0;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    background: #ffffff;
    color: #676767;
}

.k-chart .k-navigator-hint .k-scroll {
    background: rgba(103,103,103,.7);
    height: 4px;
}
