.k-chart,
.k-gauge
{
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.k-chart,
div.k-gauge
{
    background-color: transparent;
}

.k-gauge
{
    text-align: left;
}

.k-baseline-marker {
    zoom: 1;
    *display: inline;
}

.k-chart .k-tooltip {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 6px;
    white-space: nowrap;
    z-index: 1000;
}

.k-chart .k-tooltip table {
    border-spacing: 0;
    border-collapse: collapse;
}

.k-chart .k-tooltip th {
    text-align: center;
}

.k-chart .k-tooltip td {
    padding: .1em .2em;
}

/*Stock Charts*/

/* Selection */
.k-selector {
    position: absolute;
    -webkit-transform: translateZ(0);
}

.k-selection {
    border-bottom: 0;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d2d2d2;
    border-bottom: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.01);
}

.k-handle {
    background: #d2d2d2;
    width: 7px;
    height: 26px;
    cursor: e-resize;
    z-index: 1;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
}

.k-handle div {
    width: 100%;
    height: 100%;
    padding: 40px 20px 0 0;
}

.k-leftHandle {
    left: -4px;
}

.k-rightHandle {
    right: -4px;
}

.k-leftHandle div {
    margin: -20px 0 0 -15px;
}

.k-rightHandle div {
    margin: -20px 0 0 -5px;
}

.k-mask {
    background: rgba(255,255,255,.85);
    position: absolute;
    height: 100%;
}

.k-border {
    background: #d2d2d2;
    width: 1px;
    height: 100%;
    position: absolute;
}




/* Navigator hint */
.k-navigator-hint {
}

.k-navigator-hint div {
    position: absolute;
}

.k-navigator-hint .k-scroll {
    position: absolute;
    
    /*Skin Specific*/
    height: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #d2d2d2;
}

.k-navigator-hint .k-tooltip {
    margin-top: 20px;
    min-width: 160px;
    opacity: 1;
    text-align: center;
    border: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    background: #fff;
}



