.k-chart,
.k-gauge,
.k-sparkline,
.k-stockchart
{
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.k-chart,
div.k-gauge,
span.k-sparkline,
.k-stockchart
{
    background-color: transparent;
}

.k-gauge
{
    text-align: left;
    position: relative;
}

.k-baseline-marker {
    zoom: 1;
    *display: inline;
}

.k-chart .k-tooltip,
.k-sparkline .k-tooltip,
.k-stockchart .k-tooltip {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 6px;
    white-space: nowrap;
    z-index: 1000;
    line-height: normal;
    background-repeat: repeat-x;
    background-position: 0 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAWCAYAAADAQbwGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNJREFUeNpi/P//vwMDFQELEP8beQb+HTWQYgP/DHoD/466cAR4edRAyg38P6hLbIAAAwCnWhhVsxvdCAAAAABJRU5ErkJggg==);
    color: #fff;
}

.k-chart .k-tooltip-inverse,
.k-sparkline .k-tooltip-inverse,
.k-stockchart .k-tooltip-inverse {
    color: #000;
}

.k-chart .k-tooltip table,
.k-sparkline .k-tooltip table,
.k-stockchart .k-tooltip table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
}

.k-chart .k-tooltip th,
.k-sparkline .k-tooltip th,
.k-stockchart .k-tooltip th {
    width: auto;
    text-align: center;
    padding: 1px;
}

.k-chart .k-tooltip td,
.k-sparkline .k-tooltip td,
.k-stockchart .k-tooltip td {
    width: auto;
    text-align: left;
    padding: .1em .2em;
}

/*Stock Charts*/

/* Selection */
.k-selector {
    position: absolute;
    -webkit-transform: translateZ(0);
}

.k-selection {
    border-bottom: 0;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #d2d2d2;
    border-bottom: 0;
    height: 100%;
}

.k-selection-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.01);
    filter: alpha(opacity=1);
}

.k-handle {
    background: #d2d2d2;
    width: 7px;
    height: 26px;
    cursor: e-resize;
    z-index: 1;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
}

.k-handle div {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.k-leftHandle {
    left: -4px;
}

.k-rightHandle {
    right: -4px;
}

.k-leftHandle div {
    margin: -20px 0 0 -15px;
    padding: 40px 30px 0 0;
}

.k-rightHandle div {
    margin: -20px 0 0 -15px;
    padding: 40px 0 0 30px;
}

.k-mask {
    position: absolute;
    height: 100%;
    background-color: #fff;
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    opacity: 0.80;
}

.k-border {
    background: #d2d2d2;
    width: 1px;
    height: 100%;
    position: absolute;
}

/* Navigator hint */
.k-navigator-hint {
}

.k-navigator-hint div {
    position: absolute;
}

.k-navigator-hint .k-scroll {
    position: absolute;
    height: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #d2d2d2;
}

.k-navigator-hint .k-tooltip {
    margin-top: 20px;
    min-width: 160px;
    opacity: 1;
    text-align: center;
    border: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    background: #fff;
}


/* Sparklines */

.k-sparkline,
.k-sparkline span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

.k-sparkline span {
    height: 100%;
    width: 100%;
}

/* Map */

.k-map {
    height: 600px;
}

.k-map .km-scroll-wrapper {
    padding-bottom: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.k-map .km-scroll-wrapper,
.k-map .km-scroll-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.k-map .k-layer {
    position: absolute;
    left: 0;
    top: 0;
}

.k-map .km-touch-scrollbar {
    display: none;
}

.k-map .k-marker {
    position: absolute;
    width: 28px;
    height: 40px;
    margin: -40px 0 0 -14px;
    cursor: pointer;
}

.k-map .k-marker-pin {
    background-position: 0px 0px;
}

.k-map .k-marker-pin-target {
    background-position: 0px 40px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .k-map .k-marker {
        width: 56px;
        height: 80px;
        margin: -80px 0 0 -28px;
    }

    .k-map .k-marker-pin-target {
        background-position: 0px 80px;
    }
}

.k-map .k-compass {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Map Compass */

.k-compass
{
    width: 67px;
    height: 67px;
    border-radius: 80px;
    position: relative;
}

.k-compass > button
{
    border-color: transparent;
    background: none;
}

.k-compass > .k-button
{
    padding: 0;
    line-height: 10px;
    border-radius: 16px;
    position: absolute;
}

.k-compass .k-compass-n
{
    top: 3px;
    left: 50%;
    margin-left: -9px;
}

.k-compass .k-compass-e
{
    right: 3px;
    top: 50%;
    margin-top: -9px;
}

.k-compass .k-compass-s
{
    bottom: 3px;
    left: 50%;
    margin-left: -9px;
}

.k-compass .k-compass-w
{
    left: 3px;
    top: 50%;
    margin-top: -9px;
}

.k-compass > .k-compass-c
{
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
}

.k-compass-c > span
{
    display: block;
    width: 6px;
    height:6px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px;
}

/* Attribution */

.k-map .k-attribution {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    font-size: 10px;
    padding: 2px 4px;
    position: absolute;
    right: 0;
    z-index: 1000;
}
