<div id="example" ng-app="KendoDemos">
    <div class="demo-section k-content" ng-controller="MyCtrl">
        <ul class="textboxes">
          <li>
            <label>Phone number:</label>
              <input kendo-masked-text-box ng-model="phone"
                     k-mask="'(999) 000-0000'" />
            {{phone}}
          </li>
          <li>
            <label>Credit Card number:</label>
              <input kendo-masked-text-box ng-model="cc"
                     k-mask="'0000 0000 0000 0000'" />
            {{cc}}
          </li>
          <li>
            <label>Social security number:</label>
              <input kendo-masked-text-box ng-model="ssn"
                     k-mask="'000-00-0000'" />
            {{ssn}}
          </li>
          <li>
            <label>UK postcode:</label>
              <input kendo-masked-text-box ng-model="post"
                     k-mask="'L0L 0LL'" />
            {{post}}
          </li>
        </ul>
    </div>
    <style>
        .demo-section {
            width: 500px;
        }

        .textboxes {
            margin:0;
            padding:0;
        }

        .textboxes li {
            list-style:none;
            padding:10px 0;
        }

        .textboxes label {
            display: inline-block;
            width: 150px;
            margin-right: 5px;
            text-align: right;
        }
    </style>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ]);
  function MyCtrl($scope) {
      $scope.phone = "555 123 4567";
      $scope.cc = "1234 1234 1234 1234"
      $scope.ssn = "003-12-3456";
      $scope.post = "W1N 1AC";
  }
</script>
