
        <div id="example"> 
           <div class="box">
                <div class="box-col">
                <h4>Set / Get Value</h4>
                <ul class="options">
                    <li>
                       <button id="get" class="k-button">Get value</button>
                   </li>
                   <li>
                       <button id="set" class="k-button">Set value</button>
                       <input class="k-textbox" id="value" value="555 123 4567" style="float:none" />
                   </li>
                </ul>
                </div>
                <div class="box-col">
                <h4>Enable / Disable</h4>
                <ul class="options">
                    <li>
                        <button id="enable" class="k-button">Enable</button>
                        <button id="disable" class="k-button">Disable</button>
                    </li>
                    <li>
                        <button id="readonly" class="k-button">Readonly</button>
                    </li>
                </ul>
                </div>
            </div>           
            <div class="demo-section k-header">
                <input id="maskedtextbox" style="width: 200px;" />
            </div>

            <script>
                $(document).ready(function() {
                    $("#maskedtextbox").kendoMaskedTextBox({
                        mask: "(999) 000-0000"
                    });

                    var maskedtextbox = $("#maskedtextbox").data("kendoMaskedTextBox");

                    var setValue = function () {
                        maskedtextbox.value($("#value").val());
                    };

                    $("#enable").click(function() {
                        maskedtextbox.enable();
                    });

                    $("#disable").click(function() {
                        maskedtextbox.enable(false);
                    });

                    $("#readonly").click(function() {
                        maskedtextbox.readonly();
                    });

                    $("#set").click(setValue);

                    $("#get").click(function() {
                        alert(maskedtextbox.value());
                    });
                });
           </script>           
            <style scoped>
                .demo-section{
                    width:200px;
                }

                #value {
                    width: 135px;
                    margin-left: 3px;
                }
            </style>
        </div>
