    <div id="example"">
        <div class="demo-section k-header">
            <h4>Enter phone number</h4>
            <input id="maskedtextbox"/>
        </div>
        <div class="box">
            <h4>Console log</h4>
            <div class="console"></div>
        </div>
        <script>
            $(document).ready(function() {
                function onChange() {
                    kendoConsole.log("Change :: " + this.value());
                }

                $("#maskedtextbox").kendoMaskedTextBox({
                    mask: "(999) 000-0000",
                    change: onChange
                });
            });
        </script>
        <style scoped>
            .demo-section {
                width: 250px;
            }
        </style>
    </div>
