<div class="chart-wrapper">
    @(Html.Kendo().Chart()
        .Name("chart")
        .Title("Break-up of Spain Electricity Production for 2008")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom)
        )
        .Series(series => {
            series.Donut(new dynamic[] {
                new { category = "Hydro", value = 22 },
                new { category = "Solar", value = 2 },
                new { category = "Nuclear", value = 49 }, 
                new { category = "Wind", value = 27 }                
            })
            .Labels(labels => labels
                .Visible(true)
                .Position(ChartPieLabelsPosition.OutsideEnd)
                .Template("#= kendo.format('{0:P0}', percentage)#")
            );
        })
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}%")
        )
    ) 
</div>