<div id="example" class="k-content">

    <div class="demo-section">
        <div id="bike">
            <div id="bike-tail" class="inline-block"></div><div id="bike-head" class="inline-block"></div>
        </div>

        <div class="picker-wrapper inline-block">
            <h3>Tail color</h3>
            <div id="tail" class="picker"></div>
        </div>
        <div class="picker-wrapper inline-block">
            <h3>Front &amp; side color</h3>
            <div id="head" class="picker"></div>
        </div>
    </div>

    <style scoped>
        .demo-section {
            text-align: center;
        }

        #bike {
            margin: -10px -10px 0;
            background: url(../../content/web/colorpicker/background.png);
        }

        #bike-head, #bike-tail {
            background: url(../../content/web/colorpicker/motor.png);
            height: 299px;
            width: 241px;
        }

        #bike-head {
            background-position: -241px 0;
        }

        .picker-wrapper {
            text-align: left;
            width: 30%;
            margin: 0 9%;
            border: 1px solid #c5c5c5;
        }

        .inline-block {
            display: inline-block;
        }

        .k-ie7 .inline-block {
            display: inline;
            zoom: 1;
        }
    </style>

    <script>
        $(".picker").kendoColorHSV({
            input: false,
            buttons: false,
            select: function(e) {
                $("#bike-" + this.element.attr("id")).css("background-color", e.value.toCss());
            }
        });
    </script>

</div>
