    <div id="example" class="k-content">

        <input id="colorpicker" />

        <style scoped>
        </style>

        <script>
            $(document).ready(function() {
                $("#colorpicker").kendoColorPicker();
            });
        </script>
    </div>
