<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>Servlet 3.0 Web Application</display-name>
    
    <!-- Processes application requests -->
    <servlet>
        <servlet-name>kendo</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>kendo</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>    
    
<mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
</mime-mapping>

<mime-mapping>
    <extension>otf</extension>
    <mime-type>font/opentype</mime-type>
</mime-mapping>

<mime-mapping>
    <extension>ttf</extension>
    <mime-type>font/truetype</mime-type>
</mime-mapping>

<mime-mapping>
    <extension>woff</extension>
    <mime-type>application/font-woff </mime-type>
</mime-mapping>

</web-app>