.added {
    color: green;
    font-size: .8rem;
}

#featured li {
    height: 7rem;
}

#featured img {
    border-radius: 8px;
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 1rem;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 2px 2px #999;
}

#featured h2 {
    font-size: 1.0rem;
    margin: 0;
}

#featured a.km-button {
    float: right;
    margin-top: 2rem;
}

#featured a.details-link {
    display: block;
    text-decoration: none;
}

.km-ios .km-tabstrip .km-button .km-icon {
    background-image: url('images/tabstrip.png');
    background-size: auto 100%;
}

.km-ios .km-tabstrip .km-button:nth-child(1) .km-icon
{
    background-position: 0 50%;
}

.km-ios .km-tabstrip .km-button:nth-child(2) .km-icon
{
    background-position: 32% 50%;
}

.km-ios .km-tabstrip .km-button:nth-child(3) .km-icon
{
    background-position: 66% 50%;
}

.km-ios .km-tabstrip .km-button:nth-child(4) .km-icon
{
    background-position: 99% 50%;
}

.price {
    color: #787878;
    text-shadow: 1px 1px white;
    font-size: 0.8rem;
    display: block;
}

#details .km-content {
    background: #ebebeb;
    padding: 1rem;
    -webkit-box-sizing: border-box;
}

#details .km-content p {
    margin-top: 1rem;
    font-size: .9rem;
    line-height: 1.2rem;
    font-weight: normal;
    text-shadow: 1px 1px white;
}

#details .km-content aside {
    float: left;
    margin-right: 1rem;
}

#details img {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
}

#details .km-content aside .km-button {
    margin-left: 2rem;
}

#details .km-content aside .price {
    display: block;
    margin-bottom: 1rem;
    margin-left: 4rem;
}

.details-link {
    color: black;
}
