
        <div id="example" class="k-content">

            <!-- Window HTML -->
            <div id="window"></div>

            <!-- open button -->
            <span id="undo" style="display:none" class="k-group">Click here to open the window.</span>

            <script>
                $(document).ready(function() {
                    var window = $("#window"),
                        undo = $("#undo")
                                .bind("click", function() {
                                    window.data("kendoWindow").open();
                                    undo.hide();
                                });

                    var onClose = function() {
                        undo.show();
                    }

                    if (!window.data("kendoWindow")) {
                        window.kendoWindow({
                            width: "615px",
                            title: "Rams's Ten Principles of Good Design",
                            content: "../../content/web/window/ajax/ajaxContent.html",
                            close: onClose
                        });
                    }

                });
            </script>

            <style scoped>

                #example {
                    min-height: 840px;
                }

                #undo {
                    text-align: center;
                    position: absolute;
                    white-space: nowrap;
                    border-width: 1px;
                    border-style: solid;
                    padding: 2em;
                    cursor: pointer;
                }
            </style>
        </div>
