
        <div id="example" class="k-content">

            <div id="window"></div>

            <span id="undo" style="display:none" class="k-group">Click here to open the window.</span>

            <script>
                function onOpen(e) {
                    kendoConsole.log("event :: open");
                }

                function onClose(e) {
                    $("#undo").show();
                    kendoConsole.log("event :: close");
                }

                function onActivate(e) {
                    kendoConsole.log("event :: activate");
                }

                function onDeactivate(e) {
                    kendoConsole.log("event :: deactivate");
                }

                function onRefresh(e) {
                    kendoConsole.log("event :: refresh");
                }

                function onResize(e) {
                    kendoConsole.log("event :: resize");
                }

                function onDragStart(e) {
                    kendoConsole.log("event :: dragstart");
                }

                function onDragEnd(e) {
                    kendoConsole.log("event :: dragend");
                }

                $("#undo")
                    .bind("click", function() {
                        $("#window").data("kendoWindow").open();
                        $("#undo").hide();
                    });

                $(document).ready(function() {
                    if (!$("#window").data("kendoWindow")) {
                        $("#window").kendoWindow({
                            width: "630px",
                            height: "315px",
                            title: "Rams's Ten Principles of Good Design",
                            actions: ["Refresh", "Close"],
                            content: "../../content/web/window/ajax/ajaxContent1.html",
                            visible: false,
                            open: onOpen,
                            activate: onActivate,
                            close: onClose,
                            deactivate: onDeactivate,

                            refresh: onRefresh,

                            resize: onResize,
                            dragstart: onDragStart,
                            dragend: onDragEnd
                        }).data("kendoWindow").open();
                    }
                });
            </script>

            <style scoped>
                #example {
                    min-height:400px;
                }

                #undo {
                    text-align: center;
                    position: absolute;
                    white-space: nowrap;
                    border-width: 1px;
                    border-style: solid;
                    padding: 2em;
                    cursor: pointer;
                }
            </style>
        </div>
        <br/>
        <div class="console"></div>
