<div id="example">

    <div class="demo-section k-header">
        <h4>Mobile optimized buttons</h4>
        <p><button id="mobile-button">Regular button</button> <button id="mobile-button-icon">Icon button</button></p>
    </div>

    <div class="box">                
        <h4>Console log</h4>
        <div class="console"></div>
    </div>
    
    <style scoped>
        .demo-section {
            width: 500px;
        }
        .demo-section p {
            margin: 0 0 10px;
        }
    </style>  
</div>

<script>
    $(function() {
        $("#mobile-button").kendoMobileButton({
            click: function() {
                kendoConsole.log("button clicked");
            }
        });

        $("#mobile-button-icon").kendoMobileButton({
            icon: "home",
            click: function() {
                kendoConsole.log("button icon clicked");
            }
        });
    });
</script>
