<div id="example" class="k-content">

    <div class="demo-section">
        <h3 class="title">Mobile optimized buttons</h3>
        <p><button id="mobile-button">Regular button</button></p>
        <p><button id="mobile-button-icon">Icon button</button></p>
    </div>

    <div class="demo-section">                
        <h3 class="title">Console log</h3>
        <div class="console"></div>
    </div>
    
    <style scoped>
        .demo-section {
            width: 500px;
            text-align: center;
        }
        .console {
            margin: 0;
        }
        .demo-section p {
            margin: 0 0 10px;
        }
    </style>  
</div>

<script>
    $(function() {
        $("#mobile-button").kendoMobileButton({
            click: function() {
                kendoConsole.log("button clicked");
            }
        });

        $("#mobile-button-icon").kendoMobileButton({
            icon: "home",
            click: function() {
                kendoConsole.log("button icon clicked");
            }
        });
    });
</script>
