
        <div id="example">

            <div class="box">
                <div class="box-col">
                    <h4>Button API Functions</h4>
                    <ul class="options">
                        <li>
                            <button class="k-button" id="enableButton" type="button">Enable</button>
                            <button class="k-button" id="disableButton" type="button">Disable</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="demo-section k-header">
                <button id="iconTextButton">Kendo UI Button</button>
            </div>

            <script>
                $(document).ready(function() {
                    var buttonObject = $("#iconTextButton").kendoButton({
                        icon: "ungroup"
                    }).data("kendoButton");


                    $("#enableButton").click(function(){
                        buttonObject.enable(true);
                    });

                    $("#disableButton").click(function(){
                        buttonObject.enable(false);
                    });
                });
            </script>
            
            <style scoped>
                .demo-section {
                    width: 400px;
                    text-align: center;
                }
                .box .k-textbox {
                    margin: 0;
                    width: 80px;
                }
            </style>
        </div>