
        <div id="example">

            <span id="notification" style="display:none;"></span>
    
            <div class="demo-section k-header">
                <p>
                    <button id="showNotification" class="k-button">Show notification</button>

                    <button id="hideAllNotifications" class="k-button">Hide All Notifications</button>
                </p>
            </div>
            
            <script>
                $(document).ready(function() {

                    var notification = $("#notification").kendoNotification({
                        width: "12em",
                        templates: [{
                            type: "time",
                            template: "<div style='padding: .6em 1em'>Time is: <span class='timeWrap'>#: time #</span></div>"
                        }]
                    }).data("kendoNotification");

                    $("#showNotification").click(function(){
                        var d = new Date();
                        notification.show({ time: kendo.toString(d, 'HH:MM:ss.') + kendo.toString(d.getMilliseconds(), "000") }, "time");
                    });
                    
                    $("#hideAllNotifications").click(function(){
                        notification.hide();
                    });
                });
            </script>

        </div>