<div id="example" class="k-content">

    
    
    <div class="demo-section">
        <ul id="select-period">
            <li>
                Month
            </li>
            <li>
                Quarter
            </li>
            <li>
                Year
            </li>
        </ul>
    </div>

    <div class="demo-section">                
        <h3 class="title">Console log</h3>
        <div class="console"></div>
    </div>
    <style scoped>
        .demo-section {
            width: 500px;
            text-align: center;
        }
        .console {
            margin: 0;
        }
        .demo-section p {
            margin: 0 0 10px;
        }
    </style>  
</div>

<script>
    $(function() {
        $("#select-period").kendoMobileButtonGroup({
            select: function(e) {
                kendoConsole.log("selected index:" + e.index);
            },
            index: 0
        });
    });
</script>
