
        <div id="example" class="k-content">

            <div class="configuration-horizontal">
                <div class="config-section">
                    <span class="configHead">Button API Functions</span>
                    <ul class="options">
                        <li>
                            <button class="k-button" id="enableButton" type="button">Enable</button> or <button class="k-button" id="disableButton" type="button">Disable</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="demo-section">
                <button id="iconTextButton">Kendo UI Button</button>
            </div>

            <script>
                $(document).ready(function() {
                    var buttonObject = $("#iconTextButton").kendoButton({
                        icon: "ungroup"
                    }).data("kendoButton");


                    $("#enableButton").click(function(){
                        buttonObject.enable(true);
                    });

                    $("#disableButton").click(function(){
                        buttonObject.enable(false);
                    });
                });
            </script>
            
            <style scoped>
                .demo-section {
                    width: 500px;
                    text-align: center;
                    padding: 30px 10px;
                }
                .configuration-horizontal {
                    width: 500px;
                }
                .configuration-horizontal .k-textbox {
                    margin: 0;
                    width: 80px;
                }
                .configuration-horizontal .options li {
                    padding: 3px 0;
                }
            </style>
        </div>