
        <div id="example" class="k-content">

            <div class="demo-section">
                <h3 class="title">Buttons</h3>
                <button type="button" id="textButton">Text Button</button>
                <span id="refreshButton">Refresh Button</span>
                <a id="disabledButton">Disabled Button</a>
            
                <p>(The disabled button will not fire click events)</p>
            </div>

            <div class="demo-section">                
                <h3 class="title">Console log</h3>
                <div class="console"></div>
            </div>

            <script>
                $(document).ready(function() {

                    function onClick(e) {
                        kendoConsole.log("event :: click (" + $(e.event.target).closest(".k-button").attr("id") + ")" );
                    }

                    $("#textButton").kendoButton({
                        click: onClick
                    });

                    $("#refreshButton").kendoButton({
                        icon: "refresh",
                        click: onClick
                    });

                    $("#disabledButton").kendoButton({
                        enable: false,
                        click: onClick
                    });
                });
            </script>
            
            <style scoped>
                .demo-section {
                    width: 500px;
                    text-align: center;
                }
                .console {
                    margin: 0;
                }
            </style>
        </div>