
        <div id="example" class="k-content">

            <div class="demo-section">
                <h3 class="title">Kendo UI Button with icons</h3>
                <button type="button" id="iconButton">Sprite icon</button>
                <button type="button" id="kendoIconButton">Kendo UI sprite icon</button>
                <button type="button" id="imageButton">Image icon</button>
            </div>

            <script>
                $(document).ready(function() {
                    $("#iconButton").kendoButton({
                        spriteCssClass: "k-icon netherlandsFlag"
                    });

                    $("#kendoIconButton").kendoButton({
                        icon: "funnel"
                    });

                    $("#imageButton").kendoButton({
                        imageUrl: "../../content/shared/icons/sports/snowboarding.png"
                    });
                });
            </script>

            <style scoped>
                .k-button .k-image {
                    height: 16px;
                }
                .demo-section {
                    width: 500px;
                    margin-top: 50px;
                    padding-bottom: 20px;
                    text-align: center;
                }
                .netherlandsFlag {
                    background-image: url("../../content/shared/styles/flags.png");
                    background-position: 0 -64px;
                }
            </style>
        </div>