
        <div id="example" class="k-content">

            <div class="demo-section">
                <h3>Basic Button</h3>
                <p>
                    <button type="button" id="textButton">Submit</button>
                </p>
                
                <h3>Buttons with icons</h3>
                <p>
                    <a id="iconTextButton">Filter</a>
                    <a id="kendoIconTextButton">Clear Filter</a>
                    <em id="iconButton"><span class="k-sprite">Refresh</span></em>
                </p>
                
                <h3>Disabled Buttons</h3>
                <p>
                    <span id="disabledButton1">Disabled via configuration</span>
                    <span id="disabledButton2" disabled>Disabled via HTML attribute</span>
                </p>
            </div>

            <script>
                $(document).ready(function() {
                    $("#textButton").kendoButton();

                    $("#iconTextButton").kendoButton({
                        spriteCssClass: "k-icon k-i-funnel"
                    });

                    $("#kendoIconTextButton").kendoButton({
                        icon: "funnel-clear"
                    });

                    $("#iconButton").kendoButton({
                        spriteCssClass: "k-icon k-i-refresh"
                    });

                    $("#disabledButton1").kendoButton({
                        enable: false
                    });

                    $("#disabledButton2").kendoButton();
                });
            </script>
            
            <style scoped>
                .demo-section {
                    width: 400px;
                    padding: 20px 30px;
                }
                .demo-section h3 {
                    padding-top: 10px;
                }
                #textButton {
                    width: 150px;
                }
            </style>
        </div>