
        <div id="example" class="k-content">
            
            <div class="demo-section k-rtl">
                <h3>Basic Button</h3>
                <p>
                    <button type="button" id="textButton">Submit</button>
                </p>
                
                <h3>Buttons with icons</h3>
                <p>
                    <a id="iconTextButton">Filter</a>
                    <em id="iconButton"><span class="k-sprite">Refresh</span></em>
                </p>
                
                <h3>Disabled Button</h3>
                <p>
                    <span id="disabledButton">Disabled</span>
                </p>
            </div>

            <script>
                $(document).ready(function() {
                    $("#textButton").kendoButton();

                    $("#iconTextButton").kendoButton({
                        icon: "funnel"
                    });

                    $("#iconButton").kendoButton({
                        icon: "refresh"
                    });

                    $("#disabledButton").kendoButton({
                        enable: false
                    });
                });
            </script>
            
            <style scoped>
                .demo-section {
                    width: 400px;
                    padding: 20px 30px;
                }
                .demo-section h3 {
                    padding-top: 10px;
                }
                #textButton, #disabledButton {
                    width: 150px;
                }
            </style>
        </div>