
        <div id="example" class="k-content">

            <div class="k-rtl">
                <button type="button" id="textButton">Text button</button>
                <a id="iconTextButton">Icon and text</a>
                <em id="iconButton"><span class="k-icon">Refresh</span></em>
                <span id="disabledButton">Disabled button</span>
            </div>

            <script>
                $(document).ready(function() {
                    $("#textButton").kendoButton();

                    $("#iconTextButton").kendoButton({
                        icon: "ungroup"
                    });

                    $("#iconButton").kendoButton({
                        icon: "refresh"
                    });

                    $("#disabledButton").kendoButton({
                        enable: false
                    });
                });
            </script>
        </div>