<!DOCTYPE html>
<html>
    <head>
        <title>Chart Playground</title>
        <script src="../src/jquery.js"></script>
        <script src="../src/kendo.core.js"></script>
    </head>
    <body>

        <div id="container" style="width: 800px; height: 400px;">
        </div>

        <script type="text/javascript">

            function Element(attr) {
                this.children = [];
                this.attr = $.extend({}, attr);
            }
            Element.prototype = {
                render: function () {
                    return this.template(this);
                },

                renderChildren: function() {
                    var output = [];
                    for (var i = 0; i < this.children.length; i++) {
                        output.push(this.children[i].render());
                    }

                    return output.join("");
                },

                appendChild: function (child) {
                    this.children.push(child);
                }
            };

            function Root(attr) {
                Element.call(this, attr);
                this.template = kendo.core.template('<svg width="<%= attr.width %>" height="<%= attr.height %>"><%= renderChildren() %></svg>');
            }
            Root.prototype = new Element();

            function Group(parent) {
                Element.call(this);
                this.template = kendo.core.template("<g><%= renderChildren() %></g>");

                parent.appendChild(this);
            };
            Group.prototype = new Element();

            function Text(parent, content, attr) {
                Element.call(this, attr);
                this.content = content;
                this.template = kendo.core.template("<text x='<%= attr.x %>' y='<%= attr.y %>'><%= content %></text>");

                parent.appendChild(this);
            }
            Text.prototype = new Element();

            $(document).ready(function() {
                var root = new Root({ width: "200px", height: "100px" }),
                    group = new Group(root),
                    text = new Text(group, "Chepinki", { x: "100px", y: "50px" });

                document.getElementById("container").innerHTML = root.render();
            });
        </script>
    </body>
</html>
