
        <div id="example" class="k-content">
            <div class="demo-section" style="width: 155px;">
                <input id="datepicker"/>
            </div>
            <div class="demo-section">
                <div class="console"></div>
            </div>
            <script>
                $(document).ready(function() {
                    function onOpen() {
                        kendoConsole.log("Open");
                    }

                    function onClose() {
                        kendoConsole.log("Close");
                    }

                    function onChange() {
                        kendoConsole.log("Change :: " + kendo.toString(this.value(), 'd'));
                    }

                    $("#datepicker").kendoDatePicker({
                        change: onChange,
                        close: onClose,
                        open: onOpen
                    });
                });
            </script>            
        </div>
        
