
        <div id="example" class="k-content">
            
            <div class="k-rtl">
                <input id="datepicker" />
            </div>

            <script>
                $(document).ready(function() {
                    $("#datepicker").kendoDatePicker();
                });
           </script>
        </div>