

        <div id="example" class="k-content">
            <h3>PanelBar with images</h3>

            <div id="panelbar-images"></div>

            <script>
                $("#panelbar-images").kendoPanelBar({
                    dataSource: [
                        {
                            text: "All events", imageUrl: "../../content/web/calendar/party.png",
                            items: [
                                { text: "Birthdays", imageUrl: "../../content/web/calendar/cake.png" },
                                { text: "Cocktails", imageUrl: "../../content/web/calendar/cocktail.png" },
                                { text: "Exhibitions", imageUrl: "../../content/web/calendar/exhibition.png" }
                            ]
                        },
                        {
                            text: "Special events", imageUrl: "../../content/web/calendar/cocktail.png",
                            items: [
                                { text: "Birthdays", imageUrl: "../../content/web/calendar/cake.png" },
                                { text: "Parties", imageUrl: "../../content/web/calendar/party.png" },
                                { text: "Exhibitions", imageUrl: "../../content/web/calendar/exhibition.png" }
                            ]
                        }
                    ]
                });
            </script>

            <h3>PanelBar with sprites</h3>

            <div id="panelbar-sprites"></div>

            <script>
                $("#panelbar-sprites").kendoPanelBar({
                    dataSource: [{
                            text: "Web", spriteCssClass: "overviewIcon", items: [
                                { text: "Grid", spriteCssClass: "gridIcon" },
                                { text: "TreeView", spriteCssClass: "treeViewIcon" },
                                { text: "Upload", spriteCssClass: "uploadIcon" }
                            ]
                        },
                        {
                            text: "DataViz", spriteCssClass: "chartPieIcon", items: [
                                { text: "Charts", spriteCssClass: "chartIcon" },
                                { text: "Gauges", spriteCssClass: "gaugeIcon" }
                            ]
                        },
                        {
                            text: "Mobile", spriteCssClass: "mobileAppIcon", items: [
                                { text: "NavBar", spriteCssClass: "mobileNavBarIcon" },
                                { text: "ListView", spriteCssClass: "mobileListViewIcon" },
                                { text: "TabStrip", spriteCssClass: "mobileTabStripIcon" }
                            ]
                        }]
                });
            </script>

            <style scoped>
                #panelbar-sprites .k-sprite {
                    background-image: url("../../content/shared/styles/sprite.png");
                    /* sprite background-positions inherited from online demos */
                }
            </style>
        </div>
