

        <div id="example" class="k-content">
            <h3>PanelBar with images</h3>

            <div id="panelbar-images"></div>

            <script>
                $("#panelbar-images").kendoPanelBar({
                    dataSource: [
                        {
                            text: "Baseball", imageUrl: "../../content/shared/icons/sports/baseball.png",
                            items: [
                                { text: "Top News", imageUrl: "../../content/shared/icons/16/star.png" },
                                { text: "Photo Galleries", imageUrl: "../../content/shared/icons/16/photo.png" },
                                { text: "Videos Records", imageUrl: "../../content/shared/icons/16/video.png" },
                                { text: "Radio Records", imageUrl: "../../content/shared/icons/16/speaker.png" }
                            ]
                        },
                        {
                            text: "Golf", imageUrl: "../../content/shared/icons/sports/golf.png",
                            items: [
                                { text: "Top News", imageUrl: "../../content/shared/icons/16/star.png" },
                                { text: "Photo Galleries", imageUrl: "../../content/shared/icons/16/photo.png" },
                                { text: "Videos Records", imageUrl: "../../content/shared/icons/16/video.png" },
                                { text: "Radio Records", imageUrl: "../../content/shared/icons/16/speaker.png" }
                            ]
                        },
                        {
                            text: "Swimming", imageUrl: "../../content/shared/icons/sports/swimming.png",
                            items: [
                                { text: "Top News", imageUrl: "../../content/shared/icons/16/star.png" },
                                { text: "Photo Galleries", imageUrl: "../../content/shared/icons/16/photo.png" }
                            ]
                        },
                        {
                            text: "Snowboarding", imageUrl: "../../content/shared/icons/sports/snowboarding.png",
                            items: [
                                { text: "Photo Galleries", imageUrl: "../../content/shared/icons/16/photo.png" },
                                { text: "Videos Records", imageUrl: "../../content/shared/icons/16/video.png" }
                            ]
                        }
                    ]
                });
            </script>

            <h3>PanelBar with sprites</h3>

            <div id="panelbar-sprites"></div>

            <script>
                $("#panelbar-sprites").kendoPanelBar({
                    dataSource: [{
                            text: "Web", spriteCssClass: "overviewIcon", items: [
                                { text: "Grid", spriteCssClass: "gridIcon" },
                                { text: "TreeView", spriteCssClass: "treeViewIcon" },
                                { text: "Upload", spriteCssClass: "uploadIcon" }
                            ]
                        },
                        {
                            text: "DataViz", spriteCssClass: "chartPieIcon", items: [
                                { text: "Charts", spriteCssClass: "chartIcon" },
                                { text: "Gauges", spriteCssClass: "gaugeIcon" }
                            ]
                        },
                        {
                            text: "Mobile", spriteCssClass: "mobileAppIcon", items: [
                                { text: "NavBar", spriteCssClass: "mobileNavBarIcon" },
                                { text: "ListView", spriteCssClass: "mobileListViewIcon" },
                                { text: "TabStrip", spriteCssClass: "mobileTabStripIcon" }
                            ]
                        }]
                });
            </script>

            <style scoped>
                #panelbar-sprites .k-sprite {
                    background-image: url("../../content/shared/styles/sprite.png");
                    /* sprite background-positions inherited from online demos */
                }
            </style>
        </div>
