@{
    var continents = new List<SelectListItem> {
        new SelectListItem() {
            Text = "Africa", Value = "1"
        },
        new SelectListItem() {
            Text = "Europe", Value = "2"
        },
        new SelectListItem() {
            Text = "Asia", Value = "3"
        },
        new SelectListItem() {
            Text = "North America", Value = "4"
        },
        new SelectListItem() {
            Text = "South America", Value = "5"
        },
        new SelectListItem() {
            Text = "Antarctica", Value = "6"
        },
        new SelectListItem() {
            Text = "Australia", Value = "7"
        }
    };
}

<div class="demo-section">
    <h3 class="title">Select Continents</h3>
    @(Html.Kendo().MultiSelect()
            .Name("multiselect")
            .DataTextField("Text")
            .DataValueField("Value")
            .BindTo(continents)
            .Events(e =>
            {
                e.Change("change").Select("select").Open("open").Close("close").DataBound("dataBound");
            })
    )
</div>

<script>
    function open() {
        kendoConsole.log("event: open");
    };

    function close() {
        kendoConsole.log("event: close");
    };

    function change() {
        kendoConsole.log("event: change");
    };

    function dataBound() {
        kendoConsole.log("event: dataBound");
    };

    function select(e) {
        if ("kendoConsole" in window) {
            var dataItem = this.dataSource.view()[e.item.index()];
            kendoConsole.log("event :: select (" + dataItem.Text + " : " + dataItem.Value + ")");
        }
    };
</script>

<div class="demo-section">
    <h3 class="title">Console log</h3>
    <div class="console"></div>
</div>

<style scoped="scoped">
    .demo-section {
        width: 600px;
    }
</style>
