<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
        <clear />
    </appSettings>

    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

        <httpModules>
            <clear />
        </httpModules>

        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ClaimsPrincipalHttpModule" />
            <remove name="SitefinityClaimsAuthenticationModule" />
            <remove name="Sitefinity" />
            <remove name="SessionAuthenticationModule" />
            <remove name="ScriptModule" />
            <remove name="RadUploadModule" />
            <remove name="SitefinityAnalyticsModule" />
        </modules>
        <handlers>
            <remove name="xamlx-64" />
            <remove name="xamlx-script" />
            <remove name="svc-64" />
            <remove name="svc-script" />
            <remove name="xamlx" />
            <remove name="svc" />
            <remove name="ScriptHandlerFactory" />
            <remove name="ScriptHandlerFactoryAppServices" />
            <remove name="ScriptResource" />
            <remove name="WildCard" />
            <remove name="WildCard32" />
            <remove name="Telerik.Web.UI.DialogHandler" />
            <remove name="Telerik.RadUploadProgressHandler" />
            <remove name="Telerik.Sitefinity.FilesDownloadHandler" />
            <remove name="Telerik.Sitefinity.ExportSubscribersHttpHandler" />
            <remove name="Telerik.Sitefinity.LibrariesRadUploadHandler" />
            <remove name="Telerik.Sitefinity.Html5UploadHandler" />
            <remove name="Telerik.Sitefinity.ThumbnailUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncImageUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncFileUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncToolsetXmlUploadHandler" />
            <remove name="Telerik.Web.UI.SpellCheckHandler" />
            <remove name="Telerik_Web_UI_WebResource_axd" />
            <remove name="Telerik_Web_UI_DialogHandler_aspx" />
            <remove name="Telerik.ReportViewer.axd_*" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="api-wrappers" enabled="true">
                    <match url="^api/wrappers/(.*)$" />
                    <action type="Redirect" url="api/{R:1}" />
                </rule>
                <rule name="api-web" enabled="true">
                    <match url="^api/web/(.*)$" />
                    <action type="Redirect" url="api/javascript/ui/{R:1}" />
                </rule>
                <rule name="api-mobile-application" enabled="true" stopProcessing="true">
                    <match url="^api/mobile/application$" />
                    <action type="Redirect" url="api/javascript/mobile/application" />
                </rule>
                <rule name="api-mobile" enabled="true">
                    <match url="^api/mobile/(.*)$" />
                    <action type="Redirect" url="api/javascript/mobile/ui/{R:1}" />
                </rule>
                <rule name="api-framework-class$" enabled="true">
                    <match url="^api/mobile/(.*)$" />
                    <action type="Redirect" url="api/javascript/{R:1}" />
                </rule>
                <rule name="api-framework-fx" enabled="true">
                    <match url="^api/framework/fx/(.*)$" />
                    <action type="Redirect" url="api/javascript/effects/{R:1}" />
                </rule>
                <rule name="api-framework" enabled="true">
                    <match url="^api/framework/(class|color|kendo|layout|observable|router|view)$" />
                    <action type="Redirect" url="api/javascript/{R:1}" />
                </rule>
                <rule name="api-framework-data" enabled="true">
                    <match url="^api/framework/(binder|datasource|ganttdatasource|ganttdependency|ganttdependencydatasource|gantttask|hierarchicaldatasource|model|node|observablearray|observableobject|pivotdatasource|schedulerdatasource|schedulerevent)$" />
                    <action type="Redirect" url="api/javascript/data/{R:1}" />
                </rule>
                <rule name="api-dataviz-ui" enabled="true" stopProcessing="true">
                    <match url="^api/dataviz/(barcode|chart|diagram|lineargauge|map|qrcode|radialgauge|sparkline|stock-chart|treemap)$" />
                    <action type="Redirect" url="api/javascript/dataviz/ui/{R:1}" />
                </rule>
                <rule name="api-dataviz-charts" enabled="true" stopProcessing="true">
                    <match url="^api/javascript/dataviz/(chart|diagram|map)$" />
                    <action type="Redirect" url="api/javascript/dataviz/ui/{R:1}" />
                </rule>
                <rule name="api-dataviz" enabled="true">
                    <match url="^api/dataviz/(.*)$" />
                    <action type="Redirect" url="api/javascript/dataviz/{R:1}" />
                </rule>
                <rule name="api-dataviz-drawing" enabled="true">
                    <match url="^api/javascript/dataviz/drawing/(.*)$" />
                    <action type="Redirect" url="api/javascript/drawing/{R:1}" />
                </rule>
                <rule name="api-dataviz-geometry" enabled="true">
                    <match url="^api/javascript/dataviz/geometry/(.*)$" />
                    <action type="Redirect" url="api/javascript/geometry/{R:1}" />
                </rule>
                <rule name="styles" enabled="true">
                   <match url="^web/styles-and-layout/(.*)$" />
                   <action type="Redirect" url="styles-and-layout/{R:1}" />
                </rule>
                <rule name="web-datamanagement" enabled="true">
                   <match url="^web/(grid|listview|pivotgrid|spreadsheet|treelist)/(.*)$" />
                   <action type="Redirect" url="controls/data-management/{R:1}/{R:2}" />
                </rule>
                <rule name="web-editors" enabled="true">
                   <match url="^web/(autocomplete|colorpicker|combobox|datepicker|datetimepicker|dropdownlist|editor|maskedtextbox|multiselect|numerictextbox|rangeslider|slider|timepicker|upload)/(.*)$" />
                   <action type="Redirect" url="controls/editors/{R:1}/{R:2}" />
                </rule>
                <rule name="dataviz-charts" enabled="true">
                   <match url="^dataviz/chart/(.*)$" />
                   <action type="Redirect" url="controls/charts/{R:1}" />
                </rule>
                <rule name="dataviz-spark-treem-stock" enabled="true">
                   <match url="^dataviz/(sparkline|treemap|stockchart)/(.*)$" />
                   <action type="Redirect" url="controls/charts/{R:1}/{R:2}" />
                </rule>

                <rule name="dataviz-gauges" enabled="true"><match url="^dataviz/(lineargauge|radialgauge)/(.*)$" /><action type="Redirect" url="controls/gauges/{R:1}/{R:2}" /></rule>
                <rule name="dataviz-diagrams" enabled="true"><match url="^dataviz/(diagram|map)/(.*)$" /><action type="Redirect" url="controls/diagrams-and-maps/{R:1}/{R:2}" /></rule>
                <rule name="dataviz-barcodes" enabled="true"><match url="^dataviz/(barcode|qrcode)/(.*)$" /><action type="Redirect" url="controls/barcodes/{R:1}/{R:2}" /></rule>
                <rule name="web-scheduling" enabled="true"><match url="^web/(calendar|gantt|scheduler)/(.*)$" /><action type="Redirect" url="controls/scheduling/{R:1}/{R:2}" /></rule>
                <rule name="web-layout" enabled="true"><match url="^web/(notification|responsivepanel|splitter|tooltip|window)/(.*)$" /><action type="Redirect" url="controls/layout/{R:1}/{R:2}" /></rule>
                <rule name="web-navigation" enabled="true"><match url="^web/(button|menu|panelbar|tabstrip|toolbar|treeview)/(.*)$" /><action type="Redirect" url="controls/navigation/{R:1}/{R:2}" /></rule>
                <rule name="web-interactivity-frwork" enabled="true"><match url="^framework/(draganddrop|fx)/(.*)$" /><action type="Redirect" url="controls/interactivity/{R:1}/{R:2}" /></rule>
                <rule name="web-interactivity-widgets" enabled="true"><match url="^web/(progressbar|sortable)/(.*)$" /><action type="Redirect" url="controls/interactivity/{R:1}/{R:2}" /></rule>
                <rule name="mobile-hybrid" enabled="true"><match url="^mobile/(.*)$" /><action type="Redirect" url="controls/hybrid/{R:1}" /></rule>
                <rule name="web-forms" enabled="true"><match url="^webforms/(.*)$" /><action type="Redirect" url="third-party/tutorials/webforms/{R:1}" /></rule>
                <rule name="dataviz-drawing" enabled="true"><match url="^dataviz/drawing/(.*)$" /><action type="Redirect" url="framework/drawing/{R:1}" /></rule>
                <rule name="drawing-howto-custom-page-layout" enabled="true"><match url="^framework/drawing/how-to/custom-page-layout$" /><action type="Redirect" url="web/grid/how-to/pdf-export/custom-page-layout" /></rule>
                <rule name="accessibility" enabled="true"><match url="^tutorials/accessibility/(.*)$" /><action type="Redirect" url="accessibility/{R:1}" /></rule>
                <rule name="getting-started" enabled="true"><match url="^getting-started/(.*)$" /><action type="Redirect" url="{R:1}" /></rule>
                <rule name="using-kendo-with" enabled="true"><match url="^using-kendo-with/(.*)$" /><action type="Redirect" url="{R:1}" /></rule>
                <rule name="musicstore" enabled="true"><match url="^tutorials/asp.net/kendo-music-store/(.*)$" /><action type="Redirect" url="aspnet-mvc/tutorial-kendo-music-store/{R:1}" /></rule>
                <rule name="musicstore-dashboard-aspnet" enabled="true"><match url="^aspnet-mvc/(tutorial-kendo-music-store|tutorial-saleshub)/(.*)$" /><action type="Redirect" url="aspnet-mvc/tutorials/{R:1}/{R:2}" /></rule>
{% for directory in site.redirect_directories %}
<rule name="redirect-{{ directory.path | replace: '/', '-' }}" enabled="true"><match url="^{{ directory.path }}/?$" /><conditions logicalGrouping="MatchAll"><add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" /></conditions><action type="Redirect" url="{{ directory.url }}" redirectType="Found" /></rule>
{% endfor %}
{% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
<rule name="redirect-{{ redirect | remove_first: '/' | replace: '/', '-' }}" enabled="true" stopProcessing="true"><match ignoreCase="false" url="^{{ redirect | remove_first: '/' }}$" /><action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" /></rule>
{% endfor %}{% endfor %}
                <rule name="redirect-" enabled="true" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="introduction" />
                </rule>
                <rule name="add_html_extension" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>

</configuration>
