<div data-role="view" id="scrollview-home" data-title="Photo Gallery">
    <div id="scrollview-container">
        <div data-role="scrollview">
            <div class="photo photo1">
            </div>

            <div class="photo photo2">
            </div>

            <div class="photo photo3">
            </div>

            <div class="photo photo4">
            </div>

            <div class="photo photo5">
            </div>

            <div class="photo photo6">
            </div>

            <div class="photo photo7">
            </div>

            <div class="photo photo8">
            </div>

            <div class="photo photo9">
            </div>

            <div class="photo photo10">
            </div>
        </div>
    </div>
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Photo Albums
            <ul>
                <li class="album-set"><a>Cities</a></li>
                <li><a>Sunsets</a></li>
            </ul>
        </li>
    </ul>
</div>

<style>
    #scrollview-home .photo {
        width: 277px;
        margin: 20px 20px 7px;
        height: 220px;
        display: inline-block;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-transform: translatez(0);
    }

    .photo1 {background-image: url("../../content/mobile/cities/220/sydney.jpg");}
    .photo2 {background-image: url("../../content/mobile/cities/220/bonn.jpg");}
    .photo3 {background-image: url("../../content/mobile/cities/220/boston.jpg");}
    .photo4 {background-image: url("../../content/mobile/cities/220/cairo.jpg");}
    .photo5 {background-image: url("../../content/mobile/cities/220/cancun.jpg");}
    .photo6 {background-image: url("../../content/mobile/cities/220/cape-town.jpg");}
    .photo7 {background-image: url("../../content/mobile/cities/220/liverpool.jpg");}
    .photo8 {background-image: url("../../content/mobile/cities/220/london.jpg");}
    .photo9 {background-image: url("../../content/mobile/cities/220/melbourne.jpg");}
    .photo10 {background-image: url("../../content/mobile/cities/220/san-francisco.jpg");}

    #scrollview-container {
        margin: 3px 0 1em 0;
        padding-bottom: 10px;
        background: rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.3);
        border-width: 1px 0;
        box-shadow: 0 1px 1px rgba(255,255,255,.3);
    }

    #scrollview-home .km-ios .km-content {
        background: #bbb;
    }
    .km-android .km-list .album-set a {
    	background-color: #277692;
    }
    .km-ios .km-list .album-set a {
    	background-color: #bbb;
    }
</style>
