<div data-role="view" data-title="Photo Gallery">
    <div data-role="scrollview">
        <div class="photo">
            Foo
        </div>

        <div class="photo">
            Bar
        </div>

        <div class="photo">
            Baz
        </div>
    </div>
</div>

<style>
    .photo {
        width: 250px;
        margin: 20px;
        height: 200px;
        background: teal;
        display: inline-block;
    }
</style>
