<div data-role="view">


    <h2>Background Color:</h2>
    <ul>
        <li><a data-role="button" style="background-color: green">Green</a></li>
        <li><a data-role="button" style="background-color: darkred">Red</a></li>
    </ul>

    <h2>Font Size:</h2>
    <ul>
        <li><a data-role="button" style="font-size: 0.6rem">Small</a></li>
        <li><a data-role="button">Normal</a></li>
        <li><a data-role="button" style="font-size: 1.2rem">Large</a></li>
    </ul>
</div>
