<div data-role="view">
    <a data-role="button" style="background-color: green">About</a>
    <a data-role="back-button" style="background-color: darkred">Back</a>
    <a data-role="button" style="font-size: 2rem;">Checkout</a>
</div>
