<div data-role="view" data-init="mobileButtonEventsInit" data-title="Button Events">
    <a id="mobile-button" data-role="button" style="display: block; margin: 3rem; text-align: center;">Trigger Event</a>
    <div class="console"></div>
</div>

<script>
    function mobileButtonEventsInit() {
        $("#mobile-button").data("kendoMobileButton").bind("click", function() {
            kendoConsole.log("button was clicked!");
        });
    }
</script>
