<div data-role="view"id="button-events " data-init="mobileButtonEventsInit" data-title="Button Events">
    <a id="mobile-button" data-role="button" style="display: block; margin: 3rem; text-align: center;">Trigger Event</a>
    <div class="console"></div>
</div>

<script>
    function mobileButtonEventsInit() {
        $("#mobile-button").data("kendoMobileButton").bind("click", function() {
            kendoConsole.log("button was clicked!");
        });
    }
</script>

<style scoped>
#button-events .console {
    background-color: none;
    border: 0;
    margin: 1.4em 3em;
    overflow: hidden;
    height: auto;
}
</style>
