<div data-role="view" id="home">
    <h2>Home</h2>
    Home | <a data-role="button" href="#about">About Us</a> | <a data-role="button" href="#contacts">Contacts</a>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam egestas sem vitae suscipit. Sed suscipit, enim ut cursus pharetra, erat diam vulputate nisl, nec pharetra quam lorem non massa. Maecenas dapibus rhoncus commodo. Donec posuere pellentesque eleifend. Ut eu orci sit amet turpis posuere facilisis. Sed consequat nisi quis sem vehicula varius. Nullam lacinia imperdiet accumsan. Integer ac suscipit magna.  </p>
</div>

<div data-role="view" id="about">
    <h2>About us</h2>
    <a data-role="button" href="#home">Home</a> | About us | <a data-role="button" href="#contacts">Contacts</a>
    <p>Phasellus nec sem et velit blandit aliquet eget quis quam. Nulla placerat nisi sit amet ante pellentesque porttitor. Duis id ipsum sit amet massa facilisis condimentum. In congue metus fringilla urna suscipit blandit. Praesent auctor augue sit amet augue elementum adipiscing consequat nisl iaculis. Donec non sapien diam, quis congue mauris. Nulla id lobortis risus. Suspendisse potenti. Cras sit amet odio ante. Nullam quis velit in enim facilisis hendrerit nec rutrum lacus. Integer eu urna id tellus adipiscing adipiscing. Aliquam egestas sem in ligula viverra tristique. Cras et risus felis. Cras mauris nunc, venenatis ut vestibulum id, suscipit id arcu. Phasellus sagittis nulla eget velit dignissim in viverra ligula euismod.</p>
</div>

<div data-role="view" id="contacts">
    <h2>Contacts</h2>
    <a data-role="button" href="#home">Home</a> | <a data-role="button" href="#about">About Us</a> | Contacts
    <p>Aliquam hendrerit ultricies est vel congue. Nulla pellentesque felis eget orci porta non pretium nunc fringilla. Nulla facilisi. Nunc vitae dolor quis dolor rhoncus pellentesque. Nulla ut magna leo, quis hendrerit ante. Etiam scelerisque tincidunt ultrices. Donec et nisi non mauris suscipit consequat. Phasellus non libero id odio suscipit hendrerit. Curabitur orci eros, faucibus vel vulputate id, rutrum in tellus.</p>
</div>

<script>
    $("#home-link").kendoMobileButton();
</script>
