<div data-role="view" id="home" data-title="Sports Academy">
    <div class="home banner">&nbsp;</div>   
    <a class="button" data-role="button" href="#home" style="background-color: #f60">Home</a><a class="button" data-role="button" href="#facility">Facility</a><a class="button" data-role="button" href="#sports">Sports</a>
    <h2>Welcome</h2>
    <p>The Sports Academy provides a venue for outdoor and indoor sports and activities for children and adults of all ages.</p>
</div>

<div data-role="view" id="facility" data-title="Facility">
    <div class="facility banner">&nbsp;</div>
    <a class="button" data-role="button" href="#home">Home</a><a class="button" data-role="button" href="#facility" style="background-color: #f60">Facility</a><a class="button" data-role="button" href="#sports">Sports</a>
    <h2>Sports Facility</h2>
    <p>Our facility has two indoor basketball fields, olympic size swimming pool, outdoor soccer field, baseball field, golf club and more.</p>
</div>

<div data-role="view" id="sports" data-title="Sports">
    <div class="sports banner">&nbsp;</div>
    <a class="button" data-role="button" href="#home">Home</a><a class="button" data-role="button" href="#facility">Facility</a><a class="button" data-role="button" href="#sports" style="background-color: #f60">Sports</a>
    <ul data-role="listview" data-style="inset">
        <li>American Football</li>
        <li>Baseball</li>
        <li>Basketball</li>
        <li>Football</li>
        <li>Golf</li>
        <li>Swimming</li>
    </ul>
</div>

<style scoped>
.button {
    margin: 0 0 1rem 1rem;
    text-align: center;
}
.home {
    background: url(../../content/mobile/button/sports-home.jpg) no-repeat center top;	
}
.facility {
    background: url(../../content/mobile/button/sports-facility.jpg) no-repeat center top;	
}
.sports {
    background: url(../../content/mobile/button/sports.jpg) no-repeat center top;	
}
.banner {
	display: block;
	margin: 0 auto 1rem auto;
	width: 100%;
	height: 134px;
    background-size: 100% auto;
}
</style>

<script>
    $("#home-link").kendoMobileButton();
</script>
