<div data-role="view" id="home" data-title="Sports Academy">
    <img class="banner" src="../../content/mobile/button/sports-home.jpg" alt="Sports Home" />    
    <a class="button" data-role="button" href="#home" style="background-color: #f60">Home</a><a class="button" data-role="button" href="#facility">Facility</a><a class="button" data-role="button" href="#sports">Sports</a>
    <h2>Welcome</h2>
    <p>The Sports Academy provides a venue for outdoor and indoor sports and activities for children and adults of all ages.</p>
</div>

<div data-role="view" id="facility" data-title="Facility">
    <img class="banner" src="../../content/mobile/button/sports-facility.jpg" alt="Sports Facility" />
    <a class="button" data-role="button" href="#home">Home</a><a class="button" data-role="button" href="#facility" style="background-color: #f60">Facility</a><a class="button" data-role="button" href="#sports">Sports</a>
    <h2>Sports Facility</h2>
    <p>Our facility has two indoor basketball fields, olimpic size swimming pool, outdoor soccer field, baseball field, golf club and more.</p>
</div>

<div data-role="view" id="sports" data-title="Sports">
    <img class="banner" src="../../content/mobile/button/sports.jpg" alt="Sports" />
    <a class="button" data-role="button" href="#home">Home</a><a class="button" data-role="button" href="#facility">Facility</a><a class="button" data-role="button" href="#sports" style="background-color: #f60">Sports</a>
    <ul data-role="listview" data-style="inset">
        <li>American Football</li>
        <li>Baseball</li>
        <li>Basketball</li>
        <li>Football</li>
        <li>Golf</li>
        <li>Swimming</li>
    </ul>
</div>

<style scoped>
.button {
    margin: 0 0 1rem 1rem;
    text-align: center;
}
.banner 
{
	display: block;
	margin: 0 auto 1rem auto;
}
</style>

<script>
    $("#home-link").kendoMobileButton();
</script>
