<a id="foo">Foo</a>

<div id="mobile-container">
    <a data-role="button">Bar</a>
</div>

<script>
    // instantiate
    $("#foo").kendoMobileButton();
    kendo.mobile.enhance($("#mobile-container"));
</script>
