/* global */

html,body,h1,h2,p,ul,ol,li,dl,dt,dd,form,fieldset,button,input,textarea{margin:0;padding:0;font-size:100%;list-style:none;outline:none}
.t-selectable,.t-focusable{outline:none}
table{border-spacing:0}

.floatWrap:after{content:"";display:block;height:0;clear:both;}

header,
footer,
aside,
section
{
    display:block;
}

body
{
    background-color:#333;
    color:#fff;
    font:62.5% "segoe ui",helvetica,arial,sans-serif;
}

#wrap,
#wrap+ul
{
    font-size:1.2em;
}

/*#main
{
    max-width:1280px;
    margin:0 auto;
}*/

input,
button,
textarea
{
    font-family:"segoe ui",helvetica,arial,sans-serif;
    color:#fff;
}

button
{
    cursor:pointer;
}

textarea
{
    overflow:auto;
}

a
{
    color:#fff;
    text-decoration:none;
}

img,
fieldset
{
    border:0;
}

/* large screen layout - start */

html
{
    overflow:hidden;
}

html,
body,
#wrap
{
    height:100%;
}

#wrap
{
    min-height:215px;
    position:relative;
    width: 100%;
}

header,
section#footer
{
    position:absolute;
    left:0;
    width:100%;
    z-index:3;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

#photoWrap
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    height: 100%;
    z-index:1;
    text-align:center;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;

    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

#bigPhoto
{
    position: relative;
    overflow: hidden;
    display: none;
}

#overlay
{
    position:absolute;
    top:-100%;
    left:0;
    width:100%;
    height:300%;
    background:rgba(0,0,0,.5);
}

#main
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:45px 108px 171px;
    z-index:2;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#main .exifInfo
{
    position:fixed;
    bottom:200px;
    left:-24px;
    display: none;
}

#footer>.thumbs,
#footer>.thumb-list
{
    position: relative;
    margin-left:108px;
    margin-right:108px;
}

#viewslideshow,
#uploadphotos
{
    position:absolute;
    top:17px;
    width: 80px;
}

#viewslideshow
{
    left:16px;
}

#uploadphotos
{
    right:16px;
}

/* large screen layout - end */

.loading
{
    z-index: 2;
    width: 12em;
    vertical-align: middle;
    left: 50%;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -80px;
    margin-left: -6em;
    background: black;
    border: 10px solid #222;
    font: 3em/1.4 bold arial,helvetica,sans-serif;
    text-align: center;
    opacity: .5;

	-moz-border-radius:34px;
	-webkit-border-radius:34px;
	border-radius:34px;
}

/*primitives*/

.p-icon
{
    display:inline-block;
    width:20px;
    height:20px;
    overflow:hidden;
    border-width:0;
    background:no-repeat url('img/icons.png');
    font-size:0;
    line-height:0;
    text-indent:-4444px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}

.p-border-small
{
    border:1px solid rgba(255,255,255,.4);
    padding:4px;

	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

.p-border
{
    border:1px solid rgba(255,255,255,.4);
    min-width:19px;
    min-height:19px;
    padding:8px;

	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
}

.p-border-big
{
    border:1px solid rgba(255,255,255,.4);
    min-width:26px;
    min-height:26px;
    padding:13px;

	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
}

/*icons*/

.i-gridview { background-position:-1px -35px; }
.i-tileview { background-position:-36px -35px; }
.i-slideshow { background-position:-1px -309px; }
.i-pause { background-position:-3px -486px; }
.i-uploadphotos { background-position:-17px -272px; }
.i-search { background-position:0 0; }
.i-help { background-position:-35px 0; }
.i-set { background-position:-16px -87px; }
.i-newset { background-position:-16px -141px; }
.i-cancel { background-position:-16px -194px; }
.i-drag { background-position:-20px -379px; }
.i-tagstitles { background-position:-19px -445px; }

/*header*/

header
{
    top:0;
    height:44px;
    line-height:44px;
    border-bottom:1px solid rgba(255,255,255,.3);
    /*background:0 0 repeat-x url(img/gradients.png);*/

    background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.9)), to(rgba(0,0,0,.7)));
    background:-moz-linear-gradient(top, rgba(0,0,0,.9), rgba(0,0,0,.7));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5000000, endColorstr=#b2000000);
}

header>h1
{
    height:100%;
    float:left;
    margin:0 0 0 18px;
    text-transform:lowercase;
    font:2em/38px "segoe ui light",helvetica,sans-serif;
}

.signin
{
    float:left;
    margin:0 0 0 25px;
}

.t-grid td>a,
.signin em,
.exifInfo dd>ul>li>a,
#wrap+ul>li:hover,
#wrap+ul>li.t-state-focused
{
    color:#ff0084;
    font-style:normal;
}

header>ul
{
    float:right;
}

header>ul>li
{
    float:left;
}

header .p-icon
{
    width:35px;
    height:35px;
}

header .i-help
{
    margin-right:22px;
}

#searchWrap
{
    position:relative;
}

#search-label
{
    position:absolute;
    top:0.1em;
    left:10px;
}

#searchBox
{
    width:130px;
    height:2.2em;
    border:1px solid rgba(255,255,255,.4);
    margin:0 -36px 0 0;
    padding:1px 28px 1px 8px;
    background:rgba(0,0,0,.4);
    font:1em "segoe ui",helvetica,sans-serif;
    vertical-align:middle;

	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
}

/*autocomplete dropdown*/

#wrap+ul,
#wrap+ul>li
{
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
}

#wrap+ul
{
    z-index:4;
    border:1px solid rgba(255,255,255,.4);
    padding:2px;
    background:rgba(0,0,0,.9);
    overflow:hidden;
}

#wrap+ul>li
{
    border:0 solid #000;
    width:126px;
    padding:1px 28px 1px 8px;
    cursor:pointer;
}

#wrap+ul>li:hover,
#wrap+ul>li.t-state-focused

{
    background:#000;
}

/* footer */

#footer
{
    bottom:0;
    height:130px;
    background:0 -161px repeat-x url(img/gradients.png);
}

#footer>h2
{
    margin-left:116px;
    padding-top:.3em;
    font-size:1.3em;
    line-height:1.2;
    font-weight:normal;
    color:rgba(255,255,255,.7);
}

#footer .thumbs
{
    height:75px;
    margin-top:6px;
    padding:8px;
    overflow:hidden;
    white-space: nowrap;
    vertical-align:middle;
    outline: 0; /* Remove the focus in WebKit */
}

#footer>a
{
    text-align:center;
}

#footer>a>.p-icon
{
    border-width:1px;
}

#footer>a>em
{
    display:block;
    margin:1em 0 0;
    text-transform:uppercase;
    font-style:normal;
    font-size:0.6em;
}

#footer li
{
    margin-bottom:20px;
}

#footer li>em
{
    position:absolute;
    top:0;
    left:0;
    width:61px;
    height:67px;
    overflow:hidden;
    padding:4px 7px;
    /*background:0 -350px repeat-x url('img/gradients.png');*/
    background:rgba(0,0,0,.4);
    font-style:normal;
    white-space:normal;
    text-align:left;
}

#footer li:hover>em,
#footer li.currentThumb>em
{
    display:none;
}

#viewslideshow,
#uploadphotos
{
    display:inline-block;
    vertical-align:middle;
}

.thumbs>li
{
    position:relative;
    cursor:pointer;
}

.thumbs>li:hover,
.thumbs>li.t-state-selected,
.t-grid tr:hover td>img
{
    border:1px solid #fff;
    z-index:2;

    -webkit-box-shadow:0px 0px 8px 3px #000;
    -moz-box-shadow:0px 0px 8px 3px #000;
    box-shadow:0px 0px 8px 3px #000;
}

.thumbs>li:hover,
.thumbs>li.t-state-selected
{
    margin-top:-1px;
    margin-bottom:-1px;
    margin-left:-1px;
    margin-right:0;
}

.t-grid tr td>img
{
    margin:1px;
}

.t-grid tr:hover td>img
{
    margin:0;
}

#footer .thumbs>li:hover,
#footer .thumbs>li.t-state-selected
{
    margin-bottom:0;
    margin-top:-1px;
}

.thumbs>li.t-state-selected
{
    cursor:default;
    z-index:1;
}

.thumbs img
{
    display:block;
}

#uploadphotos>.i-uploadphotos
{
    background-position:-1px -255px;
}

#footer .bottomLink
{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    line-height:26px;
    text-align:center;
    text-transform:uppercase;
}

.bottomLink>a
{
    color:#8e8e8e;
}

/*main*/

#main h1
{
    margin:.9em 0 0;
    line-height:1.2;
    font-weight:normal;
}

.uploadTitle
{
    font-size:1.67em;
}

.setTitle
{
    font-size:2.6em;
    text-align:left;
}

#main .titleTagsTitles
{
    width:800px;
    margin-left:auto;
    margin-right:auto;
}

.by-user
{
    display:block;
    font-size:0.4em;
}

.by-user,
.by-user>a
{
    color:rgba(255,255,255,.5);
}

.thumbViews
{
    position:absolute;
    right:120px;
    top:70px;
}

.thumbViews>li
{
    display:inline-block;
}

.thumbViews .p-icon
{
    border:1px solid transparent;
    width:35px;
    height:35px;

	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
}

.thumbViews .p-icon:hover,
.thumbViews .currentView
{
    border-color: rgba(255,255,255,.4);
    background-color: rgba(0,0,0,.6);
}

.thumbViews .currentView
{
    cursor:default;
}

#main .thumbs
{
    display:inline-block;
    margin:1.2em 0 0;
}

.thumbs>li
{
    display:inline-block;
    vertical-align:top;
    text-align:center;
    width:75px;
    height:75px;
    margin:0 1px 1px 0;
}

#main>.thumbs>li
{
    margin-bottom:1px;
}

.thumb-upload
{
    background:rgba(0,0,0,.6);
    text-transform:uppercase;
}

#main li.thumb-upload>a
{
    display:block;
    width:auto;
    height:50px;
    border:0;
    margin:0;
    padding:50px 0 0 38px;
    text-align:left;

    -webkit-box-shadow:0 0 0 0 #000;
    -moz-box-shadow:0 0 0 0 #000;
    box-shadow:0 0 0 0 #000;
}

.thumb-upload .i-uploadphotos
{
    margin:-37px 0 0 -20px;
}

/* paging */

.paging
{
    margin:2em 0 0;
}

.paging>li,
.paging>li>a
{
    display:inline-block;
}

.paging>li>a
{
    min-width:35px;
    height:35px;
    border:0 solid rgba(255,255,255,.3);
    margin:0 2px 0 0;
    color:rgba(255,255,255,.5);
    text-align:center;
    line-height:33px;

	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
}

.paging>li>a:hover,
.paging>li>a.currentPage
{
    min-width:33px;
    height:33px;
    border-width:1px;
    background:rgba(0,0,0,.6);
    color:rgba(255,255,255,1);
}

.paging>li>a.currentPage
{
    cursor:default;
}

.paging>li>a span
{
    position:absolute;
    top:-3333px;
    left:-4444px;
}

/*upload zone*/

#main .uploadTitle
{
    margin:4em 0 1.8em;
}

#uploadWrap
{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    text-align:center;
}

#uploadWrap .p-border-big
{
    background-color:rgba(0,0,0,.6);
    font-size:1.1em;
}

#uploadWrap button>.p-icon
{
    margin:-4px 6px 0 0;
}

#uploadWrap button>.i-set
{
    width:24px;
    height:18px;
}

#uploadWrap .p-border-big>.i-newset
{
    width:28px;
    height:22px;
    margin-top:-2px;
    margin-bottom:-3px;
}

#uploadWrap button>.p-cancel
{
    width:19px;
    height:18px;
}

#uploadWrap .p-border-big
{
    min-height:56px;
    margin:0 .6em;
    text-transform:uppercase;
    text-align:left;
    vertical-align:top;
}

#uploadWrap div.p-border-big
{
    display:inline-block;
    min-height:29px;
    line-height:28px;
}

#uploadWrap div.expanded
{
    display:inline-block;
    width:360px;
}

#uploadWrap div.formTagsTitles
{
    position:relative;
    width:800px;
    margin:1.6em 0 0;
}

.formTagsTitles .i-tagstitles
{
    margin-right:4px;
}

.formTagsTitles>form>ul
{
    margin:1.6em 0 0;
}

.formTagsTitles>form>ul>li
{
    margin:.8em 0 0;
}

.formTagsTitles fieldset,
.formTagsTitles .uthumb,
.formTagsTitles label,
.formTagsTitles fieldset>input,
.formTagsTitles textarea,
.formTagsTitles fieldset>p
{
    float:left;
}

.formTagsTitles fieldset
{
    width:350px;
}

.formTagsTitles fieldset+fieldset
{
    width:330px;
}

.formTagsTitles label
{
    width:90px;
}

.formTagsTitles fieldset+fieldset>label
{
    width:56px;
}

.formTagsTitles fieldset+fieldset>p
{
    padding-left:64px;
}

.formTagsTitles .uthumb
{
    clear:left;
}

#uploadWrap .i-uploadphotos
{
    vertical-align:baseline;
}

.uploadTitle+em
{
    display:inline-block;
    margin-right:.6em;
    font-size:1.2em;
    line-height:50px;
}

.innerHidden
{
    display:none;
    margin:1em 0;
    line-height:normal;
    text-transform:none;
}

.expanded .innerHidden
{
    display:block;
}

#uploadWrap label
{
    float:left;
    clear:left;
    width:6em;
    margin:0 .6em .8em 0;
    padding:.4em 0 0;
    text-align:right;
}

#uploadWrap input[type="text"],
#uploadWrap textarea
{
    width:248px;
    margin:0 0 .8em 0;
    background:rgba(255,255,255,.1);
}

.formTagsTitles fieldset+fieldset>input[type="text"]
{
    width:200px;
}

#uploadWrap label>span
{
    font-size:.8em;
    text-transform:uppercase;
    color:rgba(255,255,255,.5)
}

.actionBottom
{
    padding-right:14px;
    text-align:right;
}

#uploadWrap input[type="submit"]
{
    border:0;
    padding:2px 0 2px 12px;
    background:0 -238px no-repeat  url('img/icons.png');
    color:#fff;
    cursor:pointer;
    text-transform:uppercase;
}

.exifInfo
{
    position:relative;
    left:0;
    bottom:0;
    display:inline-block;
    border-color:rgba(235,235,235,.2);
    padding:6px 7px 7px 50px;
    cursor:pointer;

    /*background:repeat-x 0 -350px url('img/gradients.png');*/
    background: rgb(36,36,36); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(46,46,46,.4) 0%, rgba(0,0,0,.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,46,46,.4)), color-stop(100%,rgba(0,0,0,.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(46,46,46,.4) 0%, rgba(0,0,0,.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(46,46,46,.4) 0%, rgba(0,0,0,.8) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(46,46,46,.4) 0%, rgba(0,0,0,.8) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(46,46,46,.4) 0%, rgba(0,0,0,.8) 100%); /* W3C */
}

.exifInfo .i-cancel
{
    display:none;
    position:absolute;
    top:12px;
    right:12px;
}

.exifInfo.expanded .i-cancel
{
    display:inline-block;
}

.exifInfo h2
{
    display:inline-block;
    margin:0 40px 0 0;
    font-size:1.7em;
    font-weight:normal;
    white-space:nowrap;
    max-width:16em;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:middle;
}

.exifInfo h2 em
{
    display:block;
    font-size:.5em;
    line-height:1.6;
    color:rgba(255,255,255,.6);
}

.exifInfo .i-help
{
    padding:5px;
    background-position:-37px -3px;
}

.exifInfo.expanded .i-help
{
    display:none;
}

.exifInfo.expanded h2
{
    margin-top:.4em;
}

.exifInfo dt,
.exifInfo dd
{
    float:left;
    padding:.1em .4em;
}

.exifInfo dt
{
    width:8em;
    clear:left;
    font-weight:bold;
    text-align:right;
}

.exifInfo dd
{
    max-width:16em;
    padding-right:30px;
}

.exifInfo dd li
{
    display:inline;
}

.exifInfo dd li:after
{
    content:"•";
    display:inline-block;
    margin:0 .2em;
    font-size:2em;
    line-height:.3em;
    height:.5em;
    vertical-align:middle;
    color:#fff;
}

.exifInfo dd li:last-child:after
{
    content:"";
}

/* grid */

.t-grid
{
    margin:1.4em 0 0;
}

.t-grid table
{
    width:100%;
    table-layout:fixed;
}

.t-grid th,
.t-grid td
{
    border-bottom:1px solid #ccc;
    padding:3px 6px;
    text-align:left;
    overflow:hidden;
    text-overflow:ellipsis;
}

.t-grid th
{
    padding-top:6px;
    text-transform:uppercase;
    font-weight:normal;
    line-height:1.6;
}

.t-grid td
{
    height:83px;
    min-height:83px;
}

.t-grid th,
.t-grid th a
{
    color:rgba(255,255,255,.7);
}

.t-grid td:first-child+td
{
    font-size:1.1em;
}

.t-grid td:first-child img
{
    vertical-align:middle;
}

.t-grid tbody tr
{
    background:rgba(0,0,0,.6);
}

.t-grid .t-alt
{
    background:rgba(0,0,0,.3);
}

.t-grid tr:hover,
.t-grid .t-alt:hover
{
    background:rgba(0,0,0,.8);
    cursor:pointer;
}

li>img,
.t-grid td>img
{
    cursor:pointer;
}

/* Window - start */

.t-icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -3333px;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    background-repeat: no-repeat;
}

div.t-window
{
    color: #000;
    font-size:1.2em;
    padding-top: 2em;
    display: inline-block;
    *display: inline;
    zoom: 1;
    z-index: 10001;

    position: absolute;

    border-width: 0;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;

    -moz-box-shadow: 0 0 11px 2px #000;
    -webkit-box-shadow: 0 0 11px 2px #000;
    box-shadow: 0 0 11px 2px #000;
}

:root .t-window
{
    border-width: 0;
}

.t-window .t-window-titlebar
{
    background: transparent 0 -300px repeat-x url('img/gradients.png');
}

.t-window .t-content
{
    background: #fff;
}

.t-window-titlebar
{
    padding: .4em 0;
    margin-top: -2em;
    width: 100%;
	height 1.1em;
    font-size: 1.2em;
    line-height: 1.2em;
    white-space: nowrap;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    -moz-border-radius-topleft: 11px;
    -moz-border-radius-topright: 11px;
    -webkit-border-top-left-radius: 11px;
    -webkit-border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.t-window-title
{
    cursor: default;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    left: .5em;
    right: .5em;
    color: #fff;
}

.t-window-title .t-image
{
    margin: 0 5px 0 0;
    vertical-align: middle;
}

div.t-window-content
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    z-index: -1;
    padding: .5em;
    height: 100%;
    /*padding: 0\9;
    margin: .4em .5em\9;
    border-width: 0\9;*/ /*removed due to ImageBrowser issues, no side effects found*/
    overflow: auto;
    position: relative;

    -moz-border-radius-bottomleft: 11px;
    -moz-border-radius-bottomright: 11px;
    -webkit-border-bottom-left-radius: 11px;
    -webkit-border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.t-window-titlebar .t-window-actions
{
    position: absolute;
    right: .5em;
    top: 0;
    padding-top: .3em;
    white-space: nowrap;
}

.t-window-titlebar .t-window-action
{
    width: 16px;
    height: 16px;
    padding: 2px;
    text-decoration: none;
    vertical-align: middle;

    display: inline-block;
    *display: inline;
    zoom: 1;

    opacity: .7;
    filter: alpha(opacity=70);
}

.t-window-titlebar .t-state-hover
{
    opacity: 1;
    filter: alpha(opacity=100);
}

.t-window-action .t-icon
{
    margin: 0;
    vertical-align: top;
}

.t-window-action .t-close
{
    background: transparent url("img/icons.png") no-repeat 0 -545px;
}

.t-window .t-resize-handle
{
    position: absolute;
    z-index: 1;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;
    line-height: 6px;
    font-size: 0;
}

.t-resize-n { top: -3px; left: 0; width: 100%; height: 6px; cursor: n-resize; }
.t-resize-e { top: 0; right: -3px; width: 6px; height: 100%; cursor: e-resize; }
.t-resize-s { bottom: -3px; left: 0; width: 100%; height: 6px; cursor: s-resize; }
.t-resize-w { top: 0; left: -3px; width: 6px; height: 100%; cursor: w-resize; }
.t-resize-se { bottom: -3px; right: -3px; width: 16px; height: 16px; cursor: se-resize; }
.t-resize-sw { bottom: -3px; left: -3px; width: 6px; height: 6px; cursor: sw-resize; }
.t-resize-ne { top: -3px; right: -3px; width: 6px; height: 6px; cursor: ne-resize; }
.t-resize-nw { top: -3px; left: -3px; width: 6px; height: 6px; cursor: nw-resize; }

#exifWindowWrapper .t-window-title
{
    font-size: 1.528em;
    overflow: hidden;
    left: 18px;
    right: 2em;
    height: 1.1em;
}

#exifWindowWrapper .t-close,
#exifWindowWrapper .t-window-action
{
    width: 30px;
    height: 30px;
}

#exifWindowWrapper .t-close
{
    background: transparent url('img/icons.png') no-repeat -12px -190px;
}

#exifWindow
{
    background: rgba(0, 0, 0, .84);
    color: #fff;
    overflow: hidden;
    padding: .5em 18px 20px;
}

#exifWindow dt
{
    float: left;
    width: 90px;
    padding: 0 8px 4px 0;
    font-weight: bold;
    clear: left;
    text-align: right;
    padding-bottom: 
}

#exifWindow dd
{
    float: left;
    width: 240px;
    padding: 0 0 4px 0;
}

#exifWindow a
{
    color: #ff0060;
}

#exifWindow a:hover
{
    text-decoration: underline;
}

#exifWindow .exif-author
{
    color: #666;
    padding-bottom: 15px;
}

.taglist li
{
    float: left;
    padding-right: 11px;
    background: url('img/icons.png') no-repeat 100% -564px;
}

.taglist li.last
{
    padding-right: 0;
    background: none;
}

#exifWindow .exif-author span
{
    font-style: italic;
}

.t-window .t-overlay
{
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    width: 100%;
    height: 100%;
}

.t-window .t-widget
{
    z-index: 10002;
}

/* Window - end */

/* Slider - start */

div.t-slider
{
	position: relative;
	border-width: 0;
	background-color: transparent;

	-khtml-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.t-slider-vertical
{
	width: 22px;
	height: 200px; /* default height */
}

.t-slider-wrap
{
	width: 100%;
	height: 100%;
}

.t-slider .t-button,
.t-grid .t-slider .t-button
{
	position: absolute;
	top: 0;
	min-width: 0;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	outline: none;
}

.t-slider .t-button .t-icon
{
    vertical-align:top;
    margin-top:2px;
}

.t-state-disabled .t-slider-wrap
{
    opacity: .6;
    filter: alpha(opacity=60);
}

.t-state-disabled .t-slider-wrap .t-slider-items
{
    color:#333;
}

.t-slider .t-button-decrease
{
	left: 0;
}

.t-slider-vertical .t-button-decrease,
.t-grid .t-slider-vertical .t-button-decrease
{
	top: auto;
	bottom: 0;
}

.t-slider .t-button-increase
{
	right: 0;
}

.t-slider .t-icon
{
	cursor: pointer;
}

.t-state-disabled .t-button,
.t-state-disabled .t-draghandle,
.t-state-disabled .t-slider-wrap .t-icon,
.t-state-disabled .t-slider .t-icon
{
	cursor: default;
}

*+html .t-slider .t-icon { margin-top: 2px; }
* html .t-slider .t-icon { margin-top: 2px; }

.t-slider-track,
.t-slider-selection
{
	position: absolute;
	margin: 0;
	padding: 0;
}

.t-slider-vertical .t-slider-track,
.t-slider-vertical .t-slider-selection
{
	width: 6px;
	left: 50%;
	bottom: 0;
	margin-left: -3px;
	background-repeat: repeat-y;
}

.t-slider-vertical .t-slider-track
{
	border-width: 1px 0;
	border-style: solid;
	background-position: 0 0;
}

.t-slider-vertical .t-slider-selection
{
	background-position: -6px 0;
}

.t-slider-vertical .t-slider-buttons .t-slider-track
{
	bottom: 27px;
}

.t-draghandle
{
	position: absolute;
	background-repeat: no-repeat;
	background-color: transparent;
	text-indent: -3333px;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}

.t-slider-vertical .t-draghandle
{
	left: -7px;
	width: 20px;
	height: 11px;
}

/* float clearing start */
.t-slider-items
{
	display: inline-block;
}

.t-slider-items
{
	display: block;
}

.t-slider-items:after
{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
/* float clearing end */

.t-slider-buttons .t-slider-items
{
	margin-left: 27px;
}

.t-slider-vertical .t-slider-items
{
    padding-top: 1px;
}

.t-slider-vertical .t-slider-buttons .t-slider-items
{
    padding-top: 0;
}

.t-slider-vertical .t-slider-buttons .t-slider-items
{
	margin: 0;
	padding-top: 28px;
}

.t-slider .t-tick
{
    position: relative;
	margin: 0;
	padding: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: default;
}

.t-slider-vertical .t-tick
{
	text-align: right;
}

.t-slider-vertical .t-slider-topleft .t-tick
{
	text-align: left;
}

.t-slider .t-label
{
    position: absolute;
}

.t-slider-vertical .t-label
{
    left: 120%;
    display: block;
    text-align: left;
}

.t-slider-vertical .t-last .t-label
{
    top: -0.5em;
}

.t-slider-vertical .t-first .t-label
{
    bottom: -0.5em;
}

.t-slider-vertical .t-slider-topleft .t-label
{
    left: auto;
    right: 120%;
}

div.t-slider
{
    position: absolute;
    right:120px;
    top:120px;
}

.t-slider .t-button
{
    right: 1px;
    left: auto;
}

.t-slider .t-draghandle
{
	color:#999;
}

.t-slider-track
{
	border-color:#555;
}

.t-slider .t-draghandle,
.t-slider-vertical .t-slider-track,
.t-slider-vertical .t-slider-selection,
.t-slider .t-arrow-up,
.t-slider .t-arrow-down
{
	background-image:url('img/slider-sprite.png');
}

.t-slider .t-draghandle { background-position: -60px 0; width: 20px; height: 20px; }
.t-slider .t-slider-track { background-position: -90px 0; width: 5px; margin-left: -2px; }
.t-slider .t-slider-selection { background-position: -120px 0; width: 5px; margin-left: -3px; }
.t-slider .t-arrow-up { background-position: 0 0; width: 20px; height:20px; }
.t-slider .t-arrow-down { background-position: -30px 0; width: 20px; height:20px; }

/* Slider - end */
/* Upload */

html .t-upload
{
    position: relative;
    border-width:0;
    background: none;
}

.t-dropzone,
.t-upload-files
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.t-dropzone em,
.t-upload-button
{
    vertical-align: middle;
}

*+html .t-dropzone em, *+html .t-upload-button { vertical-align: baseline; }
* html .t-dropzone em, * html .t-upload-button { vertical-align: baseline; }

.t-dropzone
{
    border-style: solid;
    border-width: 0;
    padding: 4px;
    background-color: transparent;
}

.t-dropzone em
{
    display:none;
}

.t-dropzone-active
{
    border-width:1px;
    padding: 3px;
}

.t-upload-button
{
    width: 86px;
    position: relative;
    direction: ltr;
    overflow: hidden !important; /* important required by IE7 */
}

.t-upload-button input
{
    font: 500px monospace !important; /* The input font size and family are critical for the operation of the Upload */
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    padding: 0;
    margin: 0;
    cursor: pointer;
    right: 0; top: 0;
    z-index: 1;
}

.t-state-disabled .t-upload-button input
{
    cursor: default;
}

.t-upload-files
{
    border-style: solid;
    border-width: 1px;
    margin: .2em 0 0;
    padding: .3em .7em .5em;
    line-height: 1.9em;
}

.t-upload-files .t-button
{
    position:relative;
    top: 1px;
    margin-left: 8px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 84%;
}

*+html .t-upload-files .t-button{line-height: 1;} /*IE7*/
* html .t-upload-files .t-button{line-height: 1;} /*IE6*/

.t-upload .t-delete,
.t-upload .t-cancel,
.t-upload .t-retry
{
    height: 8px;
    vertical-align: baseline;
}

.t-upload .t-delete,
.t-upload .t-cancel
{
    width: 7px;
    background-position: -5px -292px;
}

.t-retry{ background-position: -66px -228px; width: 11px; }
.t-success{ background-position: -64px -240px; }
.t-fail{ background-position: -64px -256px; }

.t-filename
{
    position: relative;
    display: inline-block;
    min-width: 120px;
    vertical-align: middle;
}

.t-progress,
.t-progress-status
{
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 118px;
    height: 2px;
    border-style: solid;
    border-width: 1px;
    background-repeat: repeat-x;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.t-progress-status
{
    left: -1px;
    bottom: -1px;
    width: 50%;
}

.t-upload-selected
{
    min-width: 86px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    margin: 3px 0 0;
}

*+html .t-upload-selected { min-width: 100px; }
.t-dropzone
{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

#uploadWrap .t-dropzone .t-button {
    margin-top:200px;
}

#uploadWrap .t-dropzone-active
{
    color:#333 !important;
}

.t-upload-selected {
    display: none;
}

/* touch & scroll styles */

*, :before, :after {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.touch-scrollbar
{
    position: absolute;
    visibility: hidden;
    z-index: 200000;
    height: .3em;
    width: .3em;
    background-color: #333;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    opacity: 0;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
}

.vertical-scrollbar
{
    height: 100%;
    right: 1px;
    top: 0;
}

.horizontal-scrollbar
{
    width: 100%;
    left: 0;
    bottom: 1px;
}

.scroll-container
{
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;
}

.scroll-arrow
{
    position: absolute;
    width: 28px;
    height: 100%;
    opacity: .7;
    outline:  0;
    display: none;
    z-index: 10000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: transparent;
    border-style: solid;
    border-width: 13px 0 7px;
    box-shadow: 0 0 5px #000;
    background: #222 url('img/scroll-arrows.png') no-repeat 0 50%;
    background-clip: padding-box;
}

.left-scroll-arrow
{
    top: 0;
    left: 0;
    border-right: 1px solid #000;
}

.right-scroll-arrow
{
    top: 0;
    right: 0;
    border-left: 1px solid #000;
    background-position: 100% 50%;
}

/*inferior browsers*/

.inferiorBrowser #footer,
.inferiorBrowser #signin,
.inferiorBrowser #searchBox,
.inferiorBrowser .i-search,
.inferiorBrowser .i-help,
.inferiorBrowser #photoWrap,
.inferiorBrowser #exifButton,
.inferiorBrowser #viewslideshow,
.inferiorBrowser #uploadphotos,
.inferiorBrowser .bottomLink
{
    display:none !important;
}

*+html .inferiorBrowser{display:none !important;}
* html .inferiorBrowser{display:none !important;}

.inferiorBrowser #main
{
    padding-left:0 !important;
    padding-right:0 !important;
}

#inferiorBrowserAlert
{
    display:none;
}

.inferiorBrowser #inferiorBrowserAlert
{
    display:block;
    width:40%;
    margin:4em auto;
    font-size:1.2em;
    text-align:center;
}

#inferiorBrowserAlert p
{
    margin:1em 0 0;
}
