body {
  margin: 0;
}
.KEYW { color: #6277AA; font-weight: bold; }
.COMM { color: #008200; }
.NUMB { color: #393;}
.STRN { color: #00d; }
.REGX { color: #339;}
.linenumber { 
  border-right: 7px solid #8DA6C6; 
  color: #fff; 
  font-style: normal; 
  font-weight: bold; 
  padding: 0 7px; 
  background: #6277AA; 
}