<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
        <div kendo-tooltip k-content="'The <b>tooltip</b><br />Time is: {{time}}'" class="k-group">
            I have a tooltip.
        </div>

        <div kendo-tooltip k-content="theContent" class="k-group">
            I also have a tooltip.
        </div>

        <style scoped>
                .k-group {
                    display: inline-block;
                    text-align: center;
                    width: 200px;
                    white-space: nowrap;
                    border-width: 1px;
                    border-style: solid;
                    padding: 2em;
                    margin: 10px;
                }
            </style>
    </div>
</div>

<script>
    angular.module("KendoDemos", [ "kendo.directives" ]);
    function MyCtrl($scope, $timeout) {
        function updateTime() {
            $scope.time = kendo.toString(new Date(), "H:mm:ss.fff tt");
            $timeout(updateTime, 78);
        };
        $scope.theContent = "The <b>tooltip</b><br />Time is: {{time}}";
        updateTime();
    }
</script>
