<div class="example" ng-app="KendoDemos">
    <div class="demo-section k-header" style="width: 500px;" ng-controller="MyCtrl">
        <div class="box-col">
            <h4>Start date: <span ng-show="startDate">{{startDate | date:"MMM d, yyyy"}}</span></h4>
            <kendo-calendar ng-model="startDate" rebind="endDate" max="endDate"></kendo-calendar>
        </div>
        <div class="box-col" ng-show="startDate">
            <h4>End date: <span ng-show="endDate">{{endDate | date:"MMM d, yyyy"}}</span></h4>
            <kendo-calendar ng-model="endDate" rebind="startDate" min="startDate" max="maxEndDate"></kendo-calendar>
        </div>
    </div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ]);

  function MyCtrl($scope) {
      $scope.$watch("startDate", function(val){
          var maxEndDate = new Date(val);
          maxEndDate.setDate(maxEndDate.getDate() + 14);
          $scope.maxEndDate = maxEndDate;
          delete $scope.endDate;
      });
  }
</script>
