
        <div id="example">            
            <div class="k-rtl">                
                <div class="demo-section k-header">
		    <h4>Pick a day:</h4>
		    <div id="calendar"></div>
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    // create Calendar from div HTML element
                    $("#calendar").kendoCalendar();
                });
            </script>
        </div>