
        <div id="example" class="k-content">            
            <div class="k-rtl">                
                <div class="demo-section">            
			        <div id="calendar"></div>
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    // create Calendar from div HTML element
                    $("#calendar").kendoCalendar();
                });
            </script>
        </div>