<div id="example" class="k-content">
    <div class="chart-wrapper">
        <div id="chart"></div>
    </div>
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Style</span>
            <ul class="options">
                <li>
                    <input id="style" />
                </li>
            </ul>
        </div>
    </div>
    <script>
        function createChart() {
            $("#chart").kendoChart({
                title: {
                    text: "A digital signal"
                },
                legend: {
                    visible: false
                },
                series: [{
                    type: "line",
                    data: [20, 1, 18, 3, 15, 5, 10, 6, 9, 6, 10, 5, 13, 3, 16, 1, 19, 1, 20, 2, 18, 5, 12, 7, 10, 8],
                    style: "normal",
                    markers: {
                        visible: false
                    }
                }],
                categoryAxis: {
                    title: {
                        text: "time"
                    },
                    majorGridLines: {
                        visible: false
                    },
                    majorTicks: {
                        visible: false
                    }
                },
                valueAxis: {
                    max: 22,
                    title: {
                        text: "voltage"
                    },
                    majorGridLines: {
                        visible: false
                    },
                    visible: false
                }
            });
        }

        $("#style").kendoDropDownList({
            dataSource: [{
                text: "Normal",
                value: "normal"
            }, {
                text: "Step",
                value: "step"
            }, {
                text: "Smooth",
                value: "smooth"
            }],
            dataTextField: "text",
            dataValueField: "value",
            change: function () {
                var chart = $("#chart").data("kendoChart");
                chart.options.series[0].style = this.value();
                chart.redraw();
            }
        });

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>

    <style scoped>
        .chart-wrapper, .chart-wrapper .k-chart {
            height: 300px;
        }
    </style>
</div>
