<div data-role="view" id="modalview-camera" data-title="HTML5 Camera">
    <img src="../content/mobile/modalview/lens.png" class="camera-image" /><br />
    <a data-role="button" data-rel="modalview" href="#modalview-login" id="modalview-open-button">Login</a>
</div>

<div data-role="modalview" id="modalview-login" style="width: 90%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Login</span>
            <a data-click="closeModalViewLogin" data-role="button" data-align="right">Cancel</a>
        </div>
    </div>

    <ul data-role="listview" data-style="inset">
        <li><label for="username">Username: <input type="text" id="username" /></label></li>
        <li><label for="password">Password: <input type="password" id="password" /></label></li>
    </ul>
    <div data-role="footer">
        <div data-role="navbar">
            <a data-click="closeModalViewLogin" id="modalview-login-button" type="button" data-role="button" data-align="right">Login</a>
            <a data-click="closeModalViewLogin" id="modalview-reg-button" type="button" data-role="button" data-align="right">Register</a>
        </div>
    </div>
</div>

<style scoped>
    #modalview-login-button,
    #modalview-reg-button,
    #modalview-open-button {
        display: inline-block;
        text-align: center;
        font-size: 1.1em;
    }

   .km-material #modalview-login-button,
   .km-material #modalview-reg-button,
   .km-material #modalview-open-button {
        display: inline-block;
        text-align: left;
        margin: 0;
        font-size: 0.875em;
    }

    #modalview-open-button {
        margin: 0 3em;
        padding: .5em;
    }
    .km-flat #modalview-open-button {
        color: #fff;
    }

    #modalview-camera {
        text-align: center;
    }

    #modalview-camera img {
        display: block;
        margin: 30px auto;
    }

    #modalview-camera .km-content,
    .km-ios #modalview-login .km-content {
        background: url(../content/shared/images/patterns/pattern1.png) repeat 0 0;
    }

    #modalview-login label {
        display: inline-block;
        width: 100%;
    }
    .km-ios #modalview-camera .km-button,
    .km-ios #modalview-login .km-button,
    .km-ios #modalview-camera .km-navbar,
    .km-ios #modalview-login .km-header,
    .km-blackberry #modalview-camera .km-navbar,
    .km-blackberry #modalview-login .km-navbar
    {
        background-color: #000;
    }

    .km-blackberry #modalview-camera .km-button
    {
        color: #fff;
    }

    .km-ios #modalview-camera .km-button:active,
    .km-ios #modalview-camera .km-state-active,
    .km-ios #modalview-login .km-button:active,
    .km-ios #modalview-login .km-state-active {
        background-color: #2e2e2e;
    }

    .km-ios #modalview-login #modalview-login-button,
    .km-flat #modalview-login #modalview-login-button {
        background-color: Green;
        color: #fff;
    }

    .km-tablet .km-ios #modalview-camera .km-view-title,
    .km-tablet .km-ios #modalview-login .km-view-title {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.5);
    }

</style>
<script>
    function closeModalViewLogin() {
        $("#modalview-login").kendoMobileModalView("close");
    }
</script>
