
        <div id="example" class="k-content">
            <div id="splitter" style="height: 400px">
                <div id="top_pane">
                    <p>
                        Top pane
                    </p>
                </div>
                <div id="ajax_pane">
                    <!-- content loaded with ajax -->
                </div>
                <div id="bottom_pane">
                    <p>
                        Bottom pane
                    </p>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                function onResize(e) {
                    kendoConsole.log("Resized :: Splitter <b>#" + this.element[0].id + "</b>");
                }

                function onExpand(e) {
                    kendoConsole.log("Expanded :: Pane <b>#" + e.pane.id + "</b> from splitter <b>#" + this.element[0].id + "</b> expanded");
                }

                function onCollapse(e) {
                    kendoConsole.log("Collapsed :: Pane <b>#" + e.pane.id + "</b> from splitter <b>#" + this.element[0].id + "</b> collapsed");
                }

                function onContentLoad(e) {
                    kendoConsole.log("Content loaded in <b>#"+ e.pane.id +
                        "</b> and starts with <b>" + $(e.pane).text().substr(0, 20) + "...</b>");
                }

                $("#splitter").kendoSplitter({
                    orientation: "vertical",
                    panes: [
                        { collapsible: true, size: "100px" },
                        { collapsible: false, contentUrl: "../../content/web/splitter/ajax/ajaxContent1.html" },
                        { collapsible: true, size: "20%" }
                    ],
                    expand: onExpand,
                    collapse: onCollapse,
                    contentLoad: onContentLoad,
                    resize: onResize
                });
            });
        </script>
        <br/>
        <div class="console"></div>
