@image-folder: "Black";
@texture-url: url("@{image-folder}/gradient.png");

@widget-border-color: #2e2e2e;
@hover-border-color: #004483;
@select-border-color: @widget-border-color;
@selected-border-color: #222;
@active-border-color: #020202;
@group-border-color: @widget-border-color;
//@disabled-border-color: #;
@error-border-color: #ff9b9b;

@widget-text-color: #fff;
@input-text-color: #181818;
@link-text-color: @widget-text-color;
@header-text-color: @widget-text-color;
@button-text-color: @widget-text-color;
@tooltip-text-color: #062430;
@hover-text-color: @widget-text-color;
@selected-text-color: @widget-text-color;
@active-text-color: @widget-text-color;
@disabled-text-color: #7e7e7e;
@error-text-color: @widget-text-color;

@widget-background-color: #4d4d4d;
@select-background-color: #272727;
@header-background-color: #1d1d1d;
@content-background-color: #3d3d3d;
@group-background-color: #555;
@select-group-background-color: @select-background-color;
@input-background-color: #fff;
@tooltip-background-color: #0098ee;
@splitbar-background-color: #4c4c4c;
@alt-background-color: #2F2F2F;
@button-background-color: @header-background-color;
@hover-background-color: #0070e4;
@select-hover-background-color: @widget-background-color;
@selected-background-color: #474747;
@active-background-color: @widget-background-color;
//@disabled-background-color: #;
@error-background-color: #ff5252;

@loading-panel-color: #666;

@shadow-color: #222;
@shadow-inset-color: #aaa;

@import "template.less";
