/* Kendo theme*/

.k-widget,
.k-input
{
    border-color: #d7d7d7;
    background-color: #fff;
}

.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-grouping-header,
.k-tooltip,
.k-grid-pager
{
    border-color: #d7d7d7;
    background: #e3e3e3 url('Kendo/gradient.png') repeat-x 0 center;
}

.k-tabstrip,
.k-tabstrip-items .k-item,
.k-menu-vertical,
.k-editor,
.k-tooltip,
.k-state-hover
{
    background-position:0 -248px;
}

.k-link.k-state-hover,
.k-dropdown-wrap .k-input,
.k-dropdown-wrap .k-select,
.k-tabstrip-items .k-item,
.k-tabstrip-items .k-state-hover .k-link
{
    background-image: url('Kendo/gradient.png');
    background-repeat: repeat-x;
}

.k-icon { background-image: url('Kendo/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Kendo/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Kendo/loading.gif') no-repeat 0 0; }

.k-loading-image { background-image: url('Kendo/loading-image.gif'); }
.k-loading-color { background-color: #fff; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup,
.k-grid .k-header,
.k-tabstrip .k-content
{
    color: #2e2e2e;
}

.k-group
{
    background-color:#ebebeb;
    border-color:#d7d7d7;
}

.k-content,
.k-editable-area
{
    border-color: #d7d7d7;
    background-color: #fff;
}

.k-colorpicker .k-arrow-down
{
    border-color: #d7d7d7;
}

.k-separator
{
    border-color: #d7d7d7;
    background-color: #f5f5f5;
}

.k-alt
{
    background-color: #f5f5f5;
}

.k-dropdown-wrap,
.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status
{
    border-color: #d7d7d7;
    background-color: #ebebeb;
}

.k-state-default,
.k-state-default .k-select,
.k-panelbar .k-link
{
    border-color: #d7d7d7;
}

.k-active-filter
{
    background-color: #fff;
}

.k-state-active,
.k-state-active:hover,
.k-header .k-state-active
{
    background-color: #fff;
    border-color: #ff8b29;
}

.k-state-active .k-select
{
    border-color: #d7d7d7;
}

.k-state-hover,
.k-state-hover:hover,
.k-state-focused,
.k-marquee
{
    color: #fff;
    background-color: #ff8b47;
    border-color: #ff8d4a;
}

.k-state-hover .k-select
{
    border-color: #ff8d4a;
}

.k-button:hover
{
    border-color:#ff8d4a;
    background-color: #ff8b47;
}

.k-state-selected,
.k-button:active,
.k-panelbar .k-state-selected
{
    color: #fff;
    background-color: #4c4c4c;
    border-color: #696969;
}

.k-state-error
{
    border-color: #e20000;
    background-color: #ff5252;
    color:#fff;
}

.k-button
{
    outline: 0;
    color: #2e2e2e;
    padding: 0 6px 1px;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    border-color: #d7d7d7;
    background: #e3e3e3 url('Kendo/gradient.png') repeat-x 0 center;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #9f9e9e;
}

.k-widget .k-status
{
    background-color:transparent;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #d7d7d7;
}

.k-grid td
{
    border-color: #d7d7d7;
}

.k-grouping-row td,
td.k-group-cell
{
    background:#ebebeb;
}

.k-grouping-header .k-group-indicator
{
    border-color: #d7d7d7;
}

.k-grouping-dropclue
{
    background: url('Kendo/sprite.png') no-repeat -48px -288px;
}

.k-treeview .k-drop-hint
{
    background-image: url('Kendo/sprite.png');
    background-position: 0 -358px;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #d7d7d7;
}

.k-calendar th
{
    border-color: #d7d7d7;
    background-color:#ebebeb;
}

.k-other-month .k-link
{
    color: #8b9097;
}

/* DropDown */

.k-dropdown-wrap .k-input,
.k-dropdown-wrap .k-select,
.k-tabstrip-items .k-state-hover .k-link
{
    background-position: 0 -539px;
}

/* Slider */

.k-slider .k-draghandle
{
	background-image: url('Kendo/sprite.png');
	color: #8b9097;
}

.k-slider .k-slider-track .k-state-active
{
	background-position: 0 -432px;
    background-color: transparent;
    border: 0;
}

.k-slider-track
{
	border-color:#d7d7d7;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image: url('Kendo/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image: url('Kendo/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Kendo/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Kendo/slider-v.gif');
}

/* Tooltip */

.k-tooltip
{
    border-width:2px;
    border-color:#4c4c4c;
    background-color:#4c4c4c;
    color:#fff;
}

.k-callout
{
	background-image: url('Kendo/sprite.png');
}

.k-callout-n,
.k-callout-s
{
	width: 10px;
	height: 5px;
}

.k-callout-w,
.k-callout-e
{
	width: 5px;
	height: 10px;
}

.k-callout-n
{
	top: -7px;
	left: 50%;
	margin-left: -5px;
	background-position: -64px -368px;
}

.k-callout-w
{
	left: -7px;
	top: 50%;
	margin-top: -5px;
	background-position: -64px -384px;
}

.k-callout-s
{
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: 2px;
	background-position: -64px -400px;
}

.k-callout-e
{
	left: 100%;
	top: 50%;
	margin-top: -5px;
	margin-left: 2px;
	background-position: -64px -416px;
}

/* Splitter */

.k-splitbar
{
    border-color: #d7d7d7;
    background-color: #e3e3e3;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Kendo/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Kendo/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #d7d7d7;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #ebebeb;    
}

.k-dropzone em
{
    color: #878787;
}

.k-progress,
.k-progress-status
{
    background-image: url('Kendo/sprite.png');
}

.k-progress
{
    background-position: 0 -464px;
    border-color: #d7d7d7;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #ff8d4a transparent;
}

/* ImageBrowser */

.k-tiles
{
    border-color: #d7d7d7;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('Kendo/gradient.png');
}

.k-tiles li.k-state-hover
{
    border-color: #ff8d4a;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #696969;
    background-position: 0 0;
}

.k-tile .k-folder
{
    background-image: url('Kendo/imagebrowser.png');
}

.k-tile-empty strong
{
    color: #aaa;
}
