@image-folder: "Kendo";

@widget-border-color: #d7d7d7;
@hover-border-color: #ff8d4a;
@selected-border-color: #696969;
@active-border-color: #ff8b29;
@group-border-color: @widget-border-color;
//@disabled-border-color: #;
@error-border-color: #e20000;

@widget-text-color: #2e2e2e;
@input-text-color: @widget-text-color;
@link-text-color: @widget-text-color;
@header-text-color: @widget-text-color;
@button-text-color: @widget-text-color;
@tooltip-text-color: @selected-text-color;
@hover-text-color: #fff;
@selected-text-color: @hover-text-color;
@active-text-color: @hover-text-color;
@disabled-text-color: #9f9e9e;
@error-text-color: #fff;

@widget-background-color: #fff;
@header-background-color: #e3e3e3;
@content-background-color: @widget-background-color;
@group-background-color: #ebebeb;
@input-background-color: @widget-background-color;
@tooltip-background-color: @selected-background-color;
@splitbar-background-color: @header-background-color;
@alt-background-color: #f5f5f5;
@button-background-color: @header-background-color;
@hover-background-color: #ff8b47;
@selected-background-color: #4c4c4c;
@active-background-color: #fff;
//@disabled-background-color: #;
@error-background-color: #ff5252;

@loading-panel-color: #fff;

@shadow-color: #aaa;
@shadow-light-color: #aaa;
@shadow-inset-color: #ddd;
