/* BlueOpal theme*/

.k-widget,
.k-input
{
    border-color: #c4d0d5;
    background-color: #fff;
}

.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-grouping-header,
.k-tooltip,
.k-grid-pager
{
    border-color: #c4d0d5;
    background: #dfe7ea;
}

*>.k-header,
*>.k-grid-header,
*>.k-toolbar,
*>.k-dropdown-wrap,
*>.k-grouping-header,
*>.k-tooltip,
*>.k-grid-pager
{
    background: #dfe7ea url('BlueOpal/gradient.png') repeat-x 0 center;
}

.k-tabstrip,
.k-tabstrip-items .k-item,
.k-menu-vertical,
.k-editor,
.k-tooltip,
.k-state-hover
{
    background-position:0 -248px;
}

*>.k-link.k-state-hover,
*>.k-dropdown-wrap .k-input,
*>.k-dropdown-wrap .k-select,
*>.k-tabstrip-items .k-item,
*>.k-tabstrip-items .k-state-hover .k-link
{
    background-image: url('BlueOpal/gradient.png');
    background-repeat: repeat-x;
}

.k-icon { background-image: url('BlueOpal/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('BlueOpal/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('BlueOpal/loading.gif') no-repeat 0 0; }

.k-loading-image { background-image: url('BlueOpal/loading-image.gif'); }
.k-loading-color { background-color: #fff; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup,
.k-grid .k-header
{
    color: #293135;
}

.k-group
{
    background-color:#f1f4f5;
    border-color:#c4d0d5;
}

.k-content,
.k-editable-area
{
    border-color: #c4d0d5;
    background-color: #fff;
}

.k-colorpicker .k-arrow-down
{
    border-color: #c4d0d5;
}

.k-separator
{
    border-color: #c4d0d5;
    background-color: #f1f4f5;
}

.k-alt
{
    background-color: #f1f4f5;
}

.k-dropdown-wrap,
.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status
{
    border-color: #c4d0d5;
    background-color: #f1f4f5;
}

.k-state-default,
.k-state-default .k-select,
.k-panelbar .k-link
{
    border-color: #c4d0d5;
}

.k-active-filter
{
    background-color: #fff;
}

.k-state-active,
.k-state-active:hover,
.k-header .k-state-active
{
    color: #293135;
    background-color: #f5f7f8;
    border-color: #9aabb2;
}

.k-state-active .k-select
{
    border-color: #c4d0d5;
}

.k-state-hover,
.k-state-hover:hover,
.k-state-focused,
.k-marquee
{
    color: #005c83;
    background-color: #7bd2f6;
    border-color: #6fccf3;
}

.k-state-hover .k-select
{
    border-color: #6fccf3;
}

.k-button:hover
{
    border-color:#6fccf3;
    background-color: #7bd2f6;
}

.k-state-selected,
.k-button:active,
.k-panelbar .k-state-selected
{
    color: #fff;
    background-color: #008eca;
    border-color: #009bdc;
}

.k-state-error
{
    border-color: #f77;
    background-color: #fff1f1;
    color:#f60000;
}

.k-button
{
    outline: 0;
    color: #293135;
    padding: 0 6px 1px;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    border-color: #c4d0d5;
    background: #dfe7ea;
}

*>.k-button,
*>button.k-button.k-state-disabled:hover,
*>a.k-button.k-state-disabled:hover,
*>.k-state-disabled .k-button:hover
{
    background: #dfe7ea url('BlueOpal/gradient.png') repeat-x 0 center;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #b4bbbe;
}

.k-widget .k-status
{
    background-color:transparent;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #c4d0d5;
}

.k-grid td
{
    border-color: #c4d0d5;
}

.k-grouping-row td,
td.k-group-cell
{
    background:#dfe7ea;
}

.k-grouping-header .k-group-indicator
{
    border-color: #c4d0d5;
}

.k-grouping-dropclue
{
    background: url('BlueOpal/sprite.png') no-repeat -48px -288px;
}

.k-marquee
{
    background:#4c4c4c;
}

.k-treeview .k-drop-hint
{
    background-image: url('BlueOpal/sprite.png');
    background-position: 0 -358px;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #c4d0d5;
}

.k-calendar th
{
    border-color: #c4d0d5;
    background-color:#dfe7ea;
}

.k-other-month .k-link
{
    color: #8b9097;
}

/* DropDown */

.k-dropdown-wrap .k-input,
.k-dropdown-wrap .k-select,
.k-tabstrip-items .k-state-hover .k-link
{
    background-position: 0 -539px;
}

/* Slider */

.k-slider .k-draghandle
{
	background-image: url('BlueOpal/sprite.png');
	color: #8b9097;
}

.k-slider .k-slider-track .k-state-active
{
	background-position: 0 -432px;
    background-color: transparent;
    border: 0;
}

.k-slider-track
{
	border-color:#c4d0d5;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image: url('BlueOpal/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image: url('BlueOpal/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('BlueOpal/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('BlueOpal/slider-v.gif');
}

/* Tooltip */

.k-tooltip
{
    border-width:2px;
    border-color:#c4d0d5;
}

.k-callout
{
	background-image: url('BlueOpal/sprite.png');
}

.k-callout-n,
.k-callout-s
{
	width: 10px;
	height: 5px;
}

.k-callout-w,
.k-callout-e
{
	width: 5px;
	height: 10px;
}

.k-callout-n
{
	top: -7px;
	left: 50%;
	margin-left: -5px;
	background-position: -64px -368px;
}

.k-callout-w
{
	left: -7px;
	top: 50%;
	margin-top: -5px;
	background-position: -64px -384px;
}

.k-callout-s
{
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: 2px;
	background-position: -64px -400px;
}

.k-callout-e
{
	left: 100%;
	top: 50%;
	margin-top: -5px;
	margin-left: 2px;
	background-position: -64px -416px;
}

/* Splitter */

.k-splitbar
{
    border-color: #c4d0d5;
    background-color: #dfe7ea;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('BlueOpal/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('BlueOpal/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #c4d0d5;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #f1f4f5;    
}

.k-dropzone em
{
    color: #b4bbbe;
}

.k-progress,
.k-progress-status
{
    background-image: url('BlueOpal/sprite.png');
}

.k-progress
{
    background-position: 0 -464px;
    border-color: #c4d0d5;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #009bdc transparent;
}

/* ImageBrowser */

.k-tiles
{
    border-color: #c4d0d5;
    background: #fff;
}

.k-tile
{
    border-color: #fff;
    background-image:url('BlueOpal/gradient.png');
    background-position:0 100px;
    background-repeat:repeat-x;
}

*>.k-tile
{
    background-image:url('BlueOpal/gradient.png');
}

.k-tiles li.k-state-hover
{
    border-color: #6fccf3;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #009bdc;
    background-position: 0 0;
}

.k-tile .k-folder
{
    background-image: url('BlueOpal/imagebrowser.png');
}

.k-tile-empty strong
{
    color: #aaa;
}
