/*******************************************************************/
/* Rating (kendoRating)
/*******************************************************************/
.k-rating {
  border-style: none;
}
.k-rating .k-state-selected:not(.k-state-hover) {
  background: none;
  color: #4D82B8;
}
.k-rating:not(.k-state-disabled) .k-rating-star {
  cursor: pointer;
}
.k-rating:not(.k-state-disabled) .k-state-hover {
  background: none;
  color: #EDC87E;
}