.t-measure-box {
    position: absolute;
    top: -4000px;
    left: -4000px;
    line-height: normal;
    visibility: hidden;
}

.t-measure-box .t-baseline-marker {
    display: inline-block;
    height: 1px;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    overflow: hidden;
}
