/* Black theme*/

.k-widget
{
    border-color: #262626;
    background-color: #393939;
}

.k-input
{
    border-color: #7e7e7e;
    background-color: #393939;
}

.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-grouping-header,
.k-tooltip,
.k-grid-pager
{
    border-color: #2e2e2e;
    background: #1d1d1d;
}

*>.k-header,
*>.k-grid-header,
*>.k-toolbar,
*>.k-dropdown-wrap,
*>.k-grouping-header,
*>.k-tooltip,
*>.k-grid-pager
{
    background: #1d1d1d url('Black/gradient.png') repeat-x 0 center;
}

.k-tabstrip,
.k-tabstrip-items .k-item,
.k-menu-vertical,
.k-editor,
.k-tooltip,
.k-state-hover
{
    background-position:0 -248px;
}

*>.k-link.k-state-hover,
*>.k-dropdown-wrap .k-input,
*>.k-dropdown-wrap .k-select,
*>.k-tabstrip-items .k-item,
*>.k-tabstrip-items .k-state-hover .k-link
{
    background-image: url('Black/gradient.png');
    background-repeat: repeat-x;
}

.k-icon { background-image: url('Black/sprite.png'); }
.k-editor .k-tool-icon { background-image: url('Black/editor.png'); }

.k-loading,
.k-widget .k-loading { background: transparent url('Black/loading.gif') no-repeat 0 0; }

.k-loading-image { background-image: url('Black/loading-image.gif'); }
.k-loading-color { background-color: #666; }

.k-widget,
.k-link:link,
.k-link:active,
.k-link:visited,
.k-popup,
.k-grid .k-header,
.k-tabstrip .k-content,
.k-input
{
    color: #fff;
}

.k-popup,
.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar
{
    -moz-box-shadow: 2px 2px 2px #222;
    -webkit-box-shadow: 2px 2px 2px #222;
    box-shadow: 2px 2px 2px #222;
}

.k-group
{
    background-color:#393939;
    border-color:#262626;
}

.k-content,
.k-editable-area
{
    border-color: #262626;
    background-color: #393939;
    color: #fff;
}

.k-colorpicker .k-arrow-down
{
    border-color: #262626;
}

.k-separator
{
    border-color: #262626;
    background-color: #7e7e7e;
}

.k-alt
{
    background-color: #404040;
}

.k-dropdown-wrap,
.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status
{
    border-color: #262626;
    background-color: #1d1d1d;
}

.k-state-default,
.k-state-default .k-select,
.k-panelbar .k-link
{
    border-color: #262626;
}

.k-active-filter
{
    background-color: #000;
}

.k-state-active,
.k-state-active:hover,
.k-header .k-state-active
{
    color: #fff;
    background-color: #000;
    border-color: #020202;
}

.k-tabstrip-items .k-state-active
{
    background-image: none;
}

.k-state-active .k-select
{
    border-color: #262626;
}

.k-state-hover,
.k-state-hover:hover,
.k-state-focused,
.k-marquee
{
    color: #fff;
    background-color: #7e7e7e;
    border-color: #2e2e2e;
}

.k-state-hover .k-select
{
    border-color: #a5a5a5;
}

.k-button:hover
{
    border-color:#2e2e2e;
    background-color: #393939;
}

.k-state-selected,
.k-button:active,
.k-panelbar .k-state-selected
{
    color: #062430;
    background-color: #0098ee;
    border-color: #8bd0f7;
}

.k-state-error
{
    border-color: #ff9b9b;
    background-color: #ff5252;
    color:#fff;
}

.k-button
{
    outline: 0;
    color: #fff;
    padding: 0 6px 1px;
}

.k-button,
button.k-button.k-state-disabled:hover,
a.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    border-color: #181818;
    background: #1d1d1d;
}

*>.k-button,
*>button.k-button.k-state-disabled:hover,
*>a.k-button.k-state-disabled:hover,
*>.k-state-disabled .k-button:hover
{
    background: #1d1d1d url('Black/gradient.png') repeat-x 0 center;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button
{
    color: #7e7e7e;
}

.k-widget .k-status
{
    background-color:transparent;
}

.k-grid-header-wrap,
.k-grid-footer-wrap
{
    border-color: #262626;
}

.k-grid-header .k-header
{
    font-weight:bold;
}

.k-grid td
{
    border-color: #262626;
}

.k-grouping-row td,
td.k-group-cell
{
    background:#1d1d1d;
}

.k-grouping-header .k-group-indicator
{
    border-color: #262626;
}

.k-grouping-dropclue
{
    background: url('Black/sprite.png') no-repeat -48px -288px;
}

.k-treeview .k-drop-hint
{
    background-image: url('Black/sprite.png');
    background-position: 0 -358px;
}

.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content
{
    border-color: #262626;
}

.k-calendar th
{
    border-color: #262626;
    background-color:#393939;
}

.k-other-month .k-link
{
    color: #8b9097;
}

/* DropDown */

.k-dropdown-wrap .k-input,
.k-dropdown-wrap .k-select,
.k-tabstrip-items .k-state-hover .k-link
{
    background-position: 0 -539px;
}

/* Slider */

.k-slider .k-draghandle
{
	background-image: url('Black/sprite.png');
	color: #8b9097;
}

.k-slider .k-slider-track .k-state-active
{
	background-position: 0 -432px;
    background-color: transparent;
    border: 0;
}

.k-slider-track
{
	border-color:#d7d7d7;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
	background-image: url('Black/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
	background-image: url('Black/sprite-vertical.png');
}

.k-slider-horizontal .k-tick
{
    background-image:url('Black/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('Black/slider-v.gif');
}

/* Tooltip */

.k-tooltip
{
    border-width:2px;
    border-color:#0098ee;
    background-color:#0098ee;
    color:#062430;
}

.k-callout
{
	background-image: url('Black/sprite.png');
}

.k-callout-n,
.k-callout-s
{
	width: 10px;
	height: 5px;
}

.k-callout-w,
.k-callout-e
{
	width: 5px;
	height: 10px;
}

.k-callout-n
{
	top: -7px;
	left: 50%;
	margin-left: -5px;
	background-position: -64px -368px;
}

.k-callout-w
{
	left: -7px;
	top: 50%;
	margin-top: -5px;
	background-position: -64px -384px;
}

.k-callout-s
{
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: 2px;
	background-position: -64px -400px;
}

.k-callout-e
{
	left: 100%;
	top: 50%;
	margin-top: -5px;
	margin-left: 2px;
	background-position: -64px -416px;
}

/* Splitter */

.k-splitbar
{
    border-color: #191919;
    background-color: #4c4c4c;
}

.k-splitbar-vertical,
.k-ghost-splitbar-vertical
{
    background-image: url('Black/sprite.png');
}

.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
    background-image: url('Black/sprite-vertical.png');
}

/* Upload */

.k-dropzone-active,
.k-upload-files
{
    border-color: #979797;
}

.k-dropzone-hovered,
.k-upload-files
{
    background-color: #393939;    
}

.k-dropzone em
{
    color: #7e7e7e;
}

.k-progress,
.k-progress-status
{
    background-image: url('Black/sprite.png');
}

.k-progress
{
    background-position: 0 -464px;
    border-color: #262626;
}

.k-progress-status
{
    background-position: 0 -472px;
    border-color: #8bd0f7 transparent;
}

/* ImageBrowser */

.k-tiles
{
    border-color: #191919;
    background: #393939;
}

.k-tile
{
    border-color: #393939;
    background-position:0 100px;
    background-repeat:repeat-x;
}

*>.k-tile
{
    background-image:url('Black/gradient.png');
}

.k-tiles li.k-state-hover
{
    border-color: #a5a5a5;
    background-position: 0 0;
}

.k-tiles li.k-state-selected
{
    border-color: #8bd0f7;
    background-position: 0 0;
}

.k-tile .k-folder
{
    background-image: url('Black/imagebrowser.png');
}

.k-tile-empty strong
{
    color: #aaa;
}