/* Kendo theme*/

.t-widget
{
    border-color: #262626;
    background-color: #393939;
}

.t-input
{
    border-color: #7e7e7e;
    background-color: #393939;
}

.t-header,
.t-grid-header,
.t-toolbar,
.t-dropdown-wrap,
.t-grouping-header,
.t-tooltip,
.t-grid-pager
{
    border-color: #2e2e2e;
    background: #1d1d1d;
}

*>.t-header,
*>.t-grid-header,
*>.t-toolbar,
*>.t-dropdown-wrap,
*>.t-grouping-header,
*>.t-tooltip,
*>.t-grid-pager
{
    background: #1d1d1d url('Black/gradient.png') repeat-x 0 center;
}

.t-tabstrip,
.t-tabstrip-items .t-item,
.t-menu-vertical,
.t-editor,
.t-tooltip,
.t-state-hover
{
    background-position:0 -248px;
}

*>.t-link.t-state-hover,
*>.t-dropdown-wrap .t-input,
*>.t-dropdown-wrap .t-select,
*>.t-tabstrip-items .t-item,
*>.t-tabstrip-items .t-state-hover .t-link
{
    background-image: url('Black/gradient.png');
    background-repeat: repeat-x;
}

.t-icon { background-image: url('Black/sprite.png'); }
.t-editor .t-tool-icon { background-image: url('Black/editor.png'); }

.t-loading,
.t-widget .t-loading { background: transparent url('Black/loading.gif') no-repeat 0 0; }

.t-loading-image { background-image: url('Black/loading-image.gif'); }
.t-loading-color { background-color: #666; }

.t-widget,
.t-link:link,
.t-link:active,
.t-link:visited,
.t-popup,
.t-grid .t-header,
.t-tabstrip .t-content,
.t-input
{
    color: #fff;
}

.t-popup,
.t-menu .t-group,
.t-grid .t-filter-options,
.t-time-popup,
.t-datepicker-calendar
{
    -moz-box-shadow: 2px 2px 2px #222;
    -webkit-box-shadow: 2px 2px 2px #222;
    box-shadow: 2px 2px 2px #222;
}

.t-group
{
    background-color:#393939;
    border-color:#262626;
}

.t-content,
.t-editable-area
{
    border-color: #262626;
    background-color: #393939;
    color: #fff;
}

.t-colorpicker .t-arrow-down
{
    border-color: #262626;
}

.t-separator
{
    border-color: #262626;
    background-color: #7e7e7e;
}

.t-alt
{
    background-color: #404040;
}

.t-dropdown-wrap,
.t-toolbar,
.t-grouping-header,
.t-grid-pager,
.t-group-footer td,
.t-grid-footer,
.t-footer-template td,
.t-widget .t-status
{
    border-color: #262626;
    background-color: #1d1d1d;
}

.t-state-default,
.t-state-default .t-select,
.t-panelbar .t-link
{
    border-color: #262626;
}

.t-active-filter
{
    background-color: #000;
}

.t-state-active,
.t-state-active:hover,
.t-header .t-state-active
{
    color: #fff;
    background-color: #000;
    border-color: #8b8b8b;
}

.t-tabstrip-items .t-state-active
{
    background-image: none;
}

.t-state-active .t-select
{
    border-color: #262626;
}

.t-state-hover,
.t-state-hover:hover,
.t-state-focused,
.t-marquee
{
    color: #fff;
    background-color: #7e7e7e;
    border-color: #a5a5a5;
}

.t-state-hover .t-select
{
    border-color: #a5a5a5;
}

.t-button:hover
{
    border-color:#a5a5a5;
    background-color: #393939;
}

.t-state-selected,
.t-button:active,
.t-panelbar .t-state-selected
{
    color: #062430;
    background-color: #0098ee;
    border-color: #8bd0f7;
}

.t-state-error
{
    border-color: #ff9b9b;
    background-color: #ff5252;
    color:#fff;
}

.t-button
{
    outline: 0;
    color: #fff;
    padding: 0 6px 1px;
}

.t-button,
button.t-button.t-state-disabled:hover,
a.t-button.t-state-disabled:hover,
.t-state-disabled .t-button:hover
{
    border-color: #989898;
    background: #1d1d1d;
}

*>.t-button,
*>button.t-button.t-state-disabled:hover,
*>a.t-button.t-state-disabled:hover,
*>.t-state-disabled .t-button:hover
{
    background: #1d1d1d url('Black/gradient.png') repeat-x 0 center;
}

.t-state-disabled,
.t-state-disabled .t-link,
.t-state-disabled .t-button
{
    color: #7e7e7e;
}

.t-widget .t-status
{
    background-color:transparent;
}

.t-grid-header-wrap,
.t-grid-footer-wrap
{
    border-color: #262626;
}

.t-grid-header .t-header
{
    font-weight:bold;
}

.t-grid td
{
    border-color: #262626;
}

.t-grouping-row td,
td.t-group-cell
{
    background:#1d1d1d;
}

.t-grouping-header .t-group-indicator
{
    border-color: #262626;
}

.t-grouping-dropclue
{
    background: url('Black/sprite.png') no-repeat -48px -288px;
}

.t-treeview .t-drop-hint
{
    background-image: url('Black/sprite.png');
    background-position: 0 -358px;
}

.t-panelbar .t-link,
.t-panelbar .t-group,
.t-panelbar .t-content
{
    border-color: #262626;
}

.t-calendar th
{
    border-color: #262626;
    background-color:#393939;
}

.t-other-month .t-link
{
    color: #8b9097;
}

/* DropDown */

.t-combobox,
.t-dropdown
{
    background: none;
}

.t-button,
.t-dropdown-wrap
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.t-dropdown-wrap .t-input
{
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.t-dropdown-wrap .t-select
{
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.t-dropdown-wrap .t-input,
.t-dropdown-wrap .t-select,
.t-tabstrip-items .t-state-hover .t-link
{
    background-position: 0 -539px;
}

.t-tabstrip-items .t-state-hover .t-link
{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

/* Slider */

.t-slider .t-draghandle
{
	background-image: url('Black/sprite.png');
	color: #8b9097;
}

.t-slider .t-slider-track .t-state-active
{
	background-position: 0 -432px;
    background-color: transparent;
    border: 0;
}

.t-slider-track
{
	border-color:#d7d7d7;
}

.t-slider-horizontal .t-slider-track,
.t-slider-horizontal .t-slider-selection
{
	background-image: url('Black/sprite.png');
}

.t-slider-vertical .t-slider-track,
.t-slider-vertical .t-slider-selection
{
	background-image: url('Black/sprite-vertical.png');
}

.t-slider-horizontal .t-tick
{
    background-image:url('Black/slider-h.gif');
}

.t-slider-vertical .t-tick
{
    background-image:url('Black/slider-v.gif');
}

/* Tooltip */

.t-tooltip
{
    border-width:2px;
    border-color:#0098ee;
    background-color:#0098ee;
    color:#062430;
}

.t-callout
{
	background-image: url('Black/sprite.png');
}

.t-callout-n,
.t-callout-s
{
	width: 10px;
	height: 5px;
}

.t-callout-w,
.t-callout-e
{
	width: 5px;
	height: 10px;
}

.t-callout-n
{
	top: -7px;
	left: 50%;
	margin-left: -5px;
	background-position: -64px -368px;
}

.t-callout-w
{
	left: -7px;
	top: 50%;
	margin-top: -5px;
	background-position: -64px -384px;
}

.t-callout-s
{
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: 2px;
	background-position: -64px -400px;
}

.t-callout-e
{
	left: 100%;
	top: 50%;
	margin-top: -5px;
	margin-left: 2px;
	background-position: -64px -416px;
}

/* Splitter */

.t-splitbar
{
    border-color: #191919;
    background-color: #4c4c4c;
}

.t-splitbar-vertical,
.t-ghost-splitbar-vertical
{
    background-image: url('Black/sprite.png');
}

.t-splitbar-horizontal,
.t-ghost-splitbar-horizontal
{
    background-image: url('Black/sprite-vertical.png');
}

/* Upload */

.t-dropzone-active,
.t-upload-files
{
    border-color: #979797;
}

.t-dropzone-hovered,
.t-upload-files
{
    background-color: #393939;    
}

.t-dropzone em
{
    color: #7e7e7e;
}

.t-progress,
.t-progress-status
{
    background-image: url('Black/sprite.png');
}

.t-progress
{
    background-position: 0 -464px;
    border-color: #262626;
}

.t-progress-status
{
    background-position: 0 -472px;
    border-color: #8bd0f7 transparent;
}

/* ImageBrowser */

.t-tiles
{
    border-color: #191919;
    background: #393939;
}

.t-tile
{
    border-color: #393939;
    background-position:0 100px;
    background-repeat:repeat-x;
}

*>.t-tile
{
    background-image:url('Black/gradient.png');
}

.t-tiles li.t-state-hover
{
    border-color: #a5a5a5;
    background-position: 0 0;
}

.t-tiles li.t-state-selected
{
    border-color: #8bd0f7;
    background-position: 0 0;
}

.t-tile .t-folder
{
    background-image: url('Black/imagebrowser.png');
}

.t-tile-empty strong
{
    color: #aaa;
}