/* BlueOpal theme*/

.t-widget,
.t-input
{
    border-color: #c4d0d5;
    background-color: #fff;
}

.t-header,
.t-grid-header,
.t-toolbar,
.t-dropdown-wrap,
.t-grouping-header,
.t-tooltip,
.t-grid-pager
{
    border-color: #c4d0d5;
    background: #dfe7ea url('BlueOpal/gradient.png') repeat-x 0 center;
}

.t-tabstrip,
.t-tabstrip-items .t-item,
.t-menu-vertical,
.t-editor,
.t-tooltip,
.t-state-hover
{
    background-position:0 -248px;
}

.t-link.t-state-hover,
.t-dropdown-wrap .t-input,
.t-dropdown-wrap .t-select,
.t-tabstrip-items .t-item,
.t-tabstrip-items .t-state-hover .t-link
{
    background-image: url('BlueOpal/gradient.png');
    background-repeat: repeat-x;
}

.t-icon { background-image: url('BlueOpal/sprite.png'); }
.t-editor .t-tool-icon { background-image: url('BlueOpal/editor.png'); }

.t-picker-wrap{padding-right: 23px;}

.t-loading,
.t-widget .t-loading { background: transparent url('BlueOpal/loading.gif') no-repeat 0 0; }

.t-widget,
.t-link:link,
.t-link:active,
.t-link:visited,
.t-popup,
.t-grid .t-header
{
    color: #293135;
}

.t-group
{
    background-color:#f1f4f5;
    border-color:#c4d0d5;
}

.t-content,
.t-editable-area
{
    border-color: #c4d0d5;
    background-color: #fff;
}

.t-colorpicker .t-arrow-down
{
    border-color: #c4d0d5;
}

.t-separator
{
    border-color: #c4d0d5;
    background-color: #f1f4f5;
}

.t-alt
{
    background-color: #f1f4f5;
}

.t-dropdown-wrap,
.t-toolbar,
.t-grouping-header,
.t-grid-pager,
.t-group-footer td,
.t-grid-footer,
.t-footer-template td,
.t-widget .t-status
{
    border-color: #c4d0d5;
    background-color: #f1f4f5;
}

.t-state-default,
.t-state-default .t-select,
.t-panelbar .t-link
{
    border-color: #c4d0d5;
}

.t-active-filter
{
    background-color: #fff;
}

.t-state-active,
.t-state-active:hover,
.t-header .t-state-active
{
    color: #293135;
    background-color: #f5f7f8;
    border-color: #9aabb2;
}

.t-state-active .t-select
{
    border-color: #c4d0d5;
}

.t-state-hover,
.t-state-hover:hover,
.t-state-focused
{
    color: #005c83;
    background-color: #7bd2f6;
    border-color: #6fccf3;
}

.t-state-hover .t-select
{
    border-color: #6fccf3;
}

.t-button:hover
{
    border-color:#6fccf3;
    background-color: #7bd2f6;
}

.t-state-selected,
.t-button:active,
.t-panelbar .t-state-selected
{
    color: #fff;
    background-color: #008eca;
    border-color: #009bdc;
}

.t-state-error
{
    border-color: #f77;
    background-color: #fff1f1;
    color:#f60000;
}

.t-button
{
    outline: 0;
    color: #293135;
    padding: 0 6px 1px;
}

.t-button:before
{
    content: "\a0";
    display: block;
    height: 0;
    margin: 0 0 0 -3px;
    padding: 0 3px;
    width: 100%;
    border-top: 1px solid #FFF;
    opacity: .7;
    box-sizing: content-box;
    -webkit-margin-top-collapse: separate;
}

.t-button::-moz-focus-inner /* Remove phantom button padding in FF */
{
    padding: 0;
    border: none;
}

.t-button,
button.t-button.t-state-disabled:hover,
a.t-button.t-state-disabled:hover,
.t-state-disabled .t-button:hover
{
    border-color: #c4d0d5;
    background: #dfe7ea url('BlueOpal/gradient.png') repeat-x 0 center;
}

.t-state-disabled,
.t-state-disabled .t-link,
.t-state-disabled .t-button
{
    color: #b4bbbe;
}

.t-widget .t-status
{
    background-color:transparent;
}

.t-grid-header-wrap,
.t-grid-footer-wrap
{
    border-color: #c4d0d5;
}

.t-grid td
{
    border-color: #c4d0d5;
}

.t-grouping-row td,
td.t-group-cell
{
    background:#dfe7ea;
}

.t-grouping-header .t-group-indicator
{
    border-color: #c4d0d5;
}

.t-grouping-dropclue
{
    background: url('BlueOpal/sprite.png') no-repeat -48px -288px;
}

.t-treeview .t-drop-hint
{
    background-image: url('BlueOpal/sprite.png');
    background-position: 0 -358px;
}

.t-panelbar .t-link,
.t-panelbar .t-group,
.t-panelbar .t-content
{
    border-color: #c4d0d5;
}

.t-calendar th
{
    border-color: #c4d0d5;
    background-color:#dfe7ea;
}

.t-other-month .t-link
{
    color: #8b9097;
}

/* DropDown */

.t-combobox,
.t-dropdown
{
    background: none;
}

.t-button,
.t-dropdown-wrap
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.t-dropdown-wrap .t-input
{
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.t-dropdown-wrap .t-select
{
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.t-dropdown-wrap .t-input,
.t-dropdown-wrap .t-select,
.t-tabstrip-items .t-state-hover .t-link
{
    background-position: 0 -539px;
}

.t-tabstrip-items .t-state-hover .t-link
{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

/* Slider */

.t-slider .t-draghandle
{
	background-image: url('BlueOpal/sprite.png');
	color: #8b9097;
}

.t-slider .t-slider-track .t-state-active
{
	background-position: 0 -432px;
    background-color: transparent;
    border: 0;
}

.t-slider-track
{
	border-color:#c4d0d5;
}

.t-slider-horizontal .t-slider-track,
.t-slider-horizontal .t-slider-selection
{
	background-image: url('BlueOpal/sprite.png');
}

.t-slider-vertical .t-slider-track,
.t-slider-vertical .t-slider-selection
{
	background-image: url('BlueOpal/sprite-vertical.png');
}

.t-slider-horizontal .t-tick
{
    background-image:url('BlueOpal/slider-h.gif');
}

.t-slider-vertical .t-tick
{
    background-image:url('BlueOpal/slider-v.gif');
}

/* Tooltip */

.t-tooltip
{
    border-width:2px;
    border-color:#c4d0d5;
}

.t-callout
{
	background-image: url('BlueOpal/sprite.png');
}

.t-callout-n,
.t-callout-s
{
	width: 10px;
	height: 5px;
}

.t-callout-w,
.t-callout-e
{
	width: 5px;
	height: 10px;
}

.t-callout-n
{
	top: -7px;
	left: 50%;
	margin-left: -5px;
	background-position: -64px -368px;
}

.t-callout-w
{
	left: -7px;
	top: 50%;
	margin-top: -5px;
	background-position: -64px -384px;
}

.t-callout-s
{
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: 2px;
	background-position: -64px -400px;
}

.t-callout-e
{
	left: 100%;
	top: 50%;
	margin-top: -5px;
	margin-left: 2px;
	background-position: -64px -416px;
}

/* Splitter */

.t-splitbar
{
    border-color: #c4d0d5;
    background-color: #dfe7ea;
}

.t-splitbar-vertical,
.t-ghost-splitbar-vertical
{
    background-image: url('BlueOpal/sprite.png');
}

.t-splitbar-horizontal,
.t-ghost-splitbar-horizontal
{
    background-image: url('BlueOpal/sprite-vertical.png');
}

/* Upload */

.t-dropzone-active,
.t-upload-files
{
    border-color: #c4d0d5;
}

.t-dropzone-hovered,
.t-upload-files
{
    background-color: #f1f4f5;    
}

.t-dropzone em
{
    color: #b4bbbe;
}

.t-progress,
.t-progress-status
{
    background-image: url('BlueOpal/sprite.png');
}

.t-progress
{
    background-position: 0 -464px;
    border-color: #c4d0d5;
}

.t-progress-status
{
    background-position: 0 -472px;
    border-color: #009bdc transparent;
}

/* ImageBrowser */

.t-tiles
{
    border-color: #c4d0d5;
    background: #fff;
}

.t-tile
{
    border-color: #fff;
    background-image:url('BlueOpal/gradient.png');
    background-position:0 100px;
    background-repeat:repeat-x;
}

.t-tiles li.t-state-hover
{
    border-color: #6fccf3;
    background-position: 0 0;
}

.t-tiles li.t-state-selected
{
    border-color: #009bdc;
    background-position: 0 0;
}

.t-tile .t-folder
{
    background-image: url('BlueOpal/imagebrowser.png');
}

.t-tile-empty strong
{
    color: #aaa;
}
