/* Kendo skin */

// Mixins

.box-orient(@direction) {
    -moz-box-orient: @direction;
    -webkit-box-orient: @direction;
    -ms-box-orient: @direction;
    box-orient: @direction;
}

.box(@type) {
    display: ~"-moz-@{type}";
    display: ~"-webkit-@{type}";
    display: ~"-ms-@{type}";
    display: @type;
}

.box-direction(@direction) {
    -moz-box-direction: @direction;
    -webkit-box-direction: @direction;
    -ms-box-direction: @direction;
    box-direction: @direction;
}

.box-flex(@amount) {
    -moz-box-flex: @amount;
    -webkit-box-flex: @amount;
    -ms-box-flex: @amount;
    box-flex: @amount;
}

.box-align(@alignment) {
    -moz-box-align: @alignment;
    -webkit-box-align: @alignment;
    -ms-box-align: @alignment;
    box-align: @alignment;
}

.box-pack(@pack) {
    -moz-box-pack: @pack;
    -webkit-box-pack: @pack;
    -ms-box-pack: @pack;
    box-pack: @pack;
}

.border-radius() {
    -moz-border-radius: @arguments;
    -webkit-border-radius: @arguments;
    border-radius: @arguments;
}

.box-shadow() {
    box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
}

.box-sizing(@type) {
    -moz-box-sizing: @type;
    -webkit-box-sizing: @type;
    box-sizing: @type;
}

.background-clip(@type) {
    -moz-background-clip: @type;
    -webkit-background-clip: @type;
    background-clip: @type;
}

.transform() {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -ms-transform: @arguments;
    -o-transform: @arguments;
    transform: @arguments;
}

/* main colors */

.k-widget,
.k-input,
.k-group,
.k-content,
.k-header,
.k-editable-area,
.k-separator,
.k-colorpicker .k-arrow-down,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-panelbar .k-link,
.k-grid-header-wrap,
.k-grid-header,
.k-grid td,
.k-grid-footer-wrap,
.k-grid-pager,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-dropdown-wrap,
.k-autocomplete,
.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-upload-files,
.k-tiles,
.k-toolbar,
.k-dropdown-wrap,
.k-tooltip,
.k-progress
{
    border-color: @widget-border-color;
}

.k-group,
.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-grouping-row td,
td.k-group-cell,
.k-calendar th,
.k-dropzone-hovered,
.k-upload-files
{
    background-color: @group-background-color;
}

.k-listContainer
{
    border-color: @group-border-color;
    background-color: @select-group-background-color;
}

.k-content,
.k-editable-area,
.k-tiles
{
    background-color: @content-background-color;
}

.k-alt,
.k-separator
{
    background-color: @alt-background-color;
}

.k-widget,
.k-widget .k-dropdown-wrap,
.k-autocomplete.k-header,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused:hover
{
    border-color: @widget-border-color;
    background-color: @select-background-color;
}

.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input
{
    border-color: @widget-border-color;
}

.k-input
{
    background-color: @input-background-color;
}

.k-widget,
.k-input,
.k-popup,
.k-content
{
    color: @widget-text-color;
}

.k-combobox .k-input,
.k-autocomplete .k-input
{
    color: @input-text-color;
}

.k-link:link,
.k-link:visited
{
    color: @link-text-color;
}

.k-header
{
    color: @header-text-color;
}

/* gradient */

.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-grouping-header,
.k-tooltip,
.k-grid-pager,
.k-button,
.k-autocomplete,
.k-state-hover,
.k-state-selected,
.k-state-focused,
.k-tabstrip-items .k-item
{
    background-image: url('@{image-folder}/gradient.png');
}

.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-tooltip,
.k-grid-pager,
.k-button,
.k-tabstrip-items .k-item
{
    background-color: @header-background-color;
}
/* icons */

.k-icon,
.k-grouping-dropclue,
.k-treeview .k-drop-hint,
.k-slider .k-draghandle,
.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection,
.k-callout,
.k-splitbar-vertical,
.k-ghost-splitbar-vertical,
.k-progress,
.k-progress-status
{
	background-image: url('@{image-folder}/sprite.png');
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection,
.k-splitbar-horizontal,
.k-ghost-splitbar-horizontal
{
	background-image: url('@{image-folder}/sprite-vertical.png');
}

.k-editor .k-tool-icon { background-image: url('@{image-folder}/editor.png'); }

.k-loading
{
    background-image: url('@{image-folder}/loading.gif');
}

.k-loading-image { background-image: url('@{image-folder}/loading-image.gif'); }
.k-loading-color { background-color: @loading-panel-color; }

.k-button
{
    color: @button-text-color;
}

.k-button,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover
{
    border-color: @widget-border-color;
    background-color: @button-background-color;
}

.k-button:hover
{
    border-color: @hover-border-color;
    background-color: @hover-background-color;
}

/* states */

.k-state-active,
.k-state-active:hover,
.k-active-filter
{
    background-color: @active-background-color;
    border-color: @active-border-color;
}

.k-state-hover,
.k-state-hover:hover,
.k-list>.k-state-hover,
.k-list>.k-state-focused,
.k-state-focused,
.k-marquee
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover
{
    background-color: @select-hover-background-color;
    border-color: @select-border-color;
}

.k-dropdown .k-state-hover .k-input
{
    color: @hover-text-color;
}


.k-dropdown .k-state-focused .k-input
{
    color: @widget-text-color;
}

.k-state-selected,
.k-list>.k-state-selected,
.k-panelbar .k-state-selected,
.k-button:active
{
    color: @selected-text-color;
    background-color: @selected-background-color;
    border-color: @selected-border-color;
}

.k-state-error
{
    border-color: @error-border-color;
    background-color: @error-background-color;
    color: @error-text-color;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle
{
    color: @disabled-text-color;
}

/* Slider */

.k-slider-horizontal .k-tick
{
    background-image:url('@{image-folder}/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('@{image-folder}/slider-v.gif');
}

/* Tooltip */

.k-tooltip
{
    border-color: @tooltip-background-color;
    background-color: @tooltip-background-color;
    color: @tooltip-text-color;
}

/* Splitter */

.k-splitbar
{
    background-color: @splitbar-background-color;
}

/* Upload */

.k-progress-status
{
    border-color: @hover-border-color transparent;
}

/* ImageBrowser */

.k-tile
{
    border-color: @content-background-color;
    background-image: url('@{image-folder}/gradient.png');
}

.k-tiles li.k-state-hover
{
    border-color: @hover-border-color;
}

.k-tiles li.k-state-selected
{
    border-color: @selected-border-color;
}

.k-tile .k-folder
{
    background-image: url('@{image-folder}/imagebrowser.png');
}

/* Shadows */

.k-popup,
.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete:hover,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-active,
.k-imagebrowser .k-image
{
    .box-shadow(2px 2px 2px 0 @shadow-color);
}

.k-window
{
    border-color: @shadow-color;
    .box-shadow(1px 1px 7px 1px @shadow-color);
}

.k-autocomplete .k-input,
.k-combobox .k-input
{
    .box-shadow(inset 0 0 1px 1px @shadow-inset-color);
}
