.DS_Store
.dockerignore
.editorconfig
.jekyll-metadata
.ruby-version
/_common/root/
/_data/
/_includes/
/_layouts/
/_assets/
/_plugins/
/_templates/
/docs-watcher/
/favicon.ico
/fonts/
/styles/
Dockerfile
Gemfile
Gemfile.lock
Gemfile.lock
SlugLog.log
_site
api/aspnet-mvc
bs-config.js
build-docs.sh
copy_content.sh
copy_local.sh
install-npm.sh
knowledge-base.html
robots.txt
search.html
start-docs.sh
watch.sh
