        <div id="example" class="k-content">
            <div id="gauge" style="border: 3px solid red"></div>

            <button class="k-button" id="set-10">Set value to 10</button>
            <button class="k-button" id="set-60">Set value to 60</button>

            <script>
                function createGauge() {
                    $("#gauge").kendoGauge({
                        theme: $(document).data("kendoSkin") || "default",

                        pointer: {
                            value: 95
                        },

                        scale: {
                            endAngle: 180,
                            startAngle: 0,
                            minorUnit: 5
                        }
                    });
                }

                $(document).ready(function() {
                    setTimeout(function() {
                        // Initialize the gauge with a delay to make sure
                        // the initial animation is visible
                        createGauge();

                        $("#set-10").click(function(e) {
                            e.preventDefault();

                            $("#gauge").data("kendoGauge").value(10);
                        });

                        $("#set-60").click(function(e) {
                            e.preventDefault();

                            $("#gauge").data("kendoGauge").value(60);
                        });
                    }, 400);

                    $(document).bind("kendo:skinChange", function(e) {
                        createGauge();
                    });
                });
            </script>
        </div>

