        <div id="example" class="k-content">
            <div id="gauge" style=""></div>

            <input id="gauge-value" value="65">

            <script>
                function createGauge() {
                    $("#gauge").kendoGauge({
                        theme: $(document).data("kendoSkin") || "default",

                        pointer: {
                            value: 65
                        },

                        scale: {
                            minorUnit: 5,
                            startAngle: -30,
                            endAngle: 210,
                            max: 180
                        }
                    });
                }

                $(document).ready(function() {
                    createGauge();

                    $("#gauge-value").kendoSlider({
                        min: 0,
                        max: 180,
                        change: function() {
                            $("#gauge").data("kendoGauge").value($("#gauge-value").val());
                        }
                    });

                    $(document).bind("kendo:skinChange", function(e) {
                        createGauge();
                    });
                });
            </script>

            <style scoped>
                #gauge {
                    width: 300px;
                    height: 300px;
                    margin: 0 auto;
                }

                #example {
                    text-align: center;
                }
            </style>
        </div>

