        <div id="example" class="k-content">
            <div id="gauge" style="width: 300px; height: 300px; border: 2px solid blue;"></div>

            <button class="k-button" id="set-10">Set value to 10</button>
            <button class="k-button" id="set-60">Set value to 60</button>

            <script>
                function createGauge() {
                    $("#gauge").kendoGauge({
                        theme: $(document).data("kendoSkin") || "default",

                        pointer: {
                            value: 65
                        },

                        scale: {
                            minorUnit: 5,
                            startAngle: -30,
                            endAngle: 210,
                            max: 180,
                            labels: {
                                position: "outside"
                            }
                        }
                    });
                }

                $(document).ready(function() {
                    createGauge();

                    //$("#gauge").data("kendoGauge").value(10);


                    $("#set-10").click(function(e) {
                        e.preventDefault();

                        $("#gauge").data("kendoGauge").value(10);
                    });

                    $("#set-60").click(function(e) {
                        e.preventDefault();

                        $("#gauge").data("kendoGauge").value(60);
                    });

                    $(document).bind("kendo:skinChange", function(e) {
                        createGauge();
                    });
                });
            </script>
        </div>

