        <div id="example" class="k-content absConf">
            <div id="gauge-container">
                <div id="rpm"></div>
                <div id="kmh"></div>
                <div id="fuel"></div>
                <div id="water-temprature"></div>
            </div>

            <script>

                function createDashboard() {
                    $("#rpm").kendoGauge({
                        theme: "black",

                        pointer: {
                            value: 2
                        },

                        scale: {
                            startAngle: -45,
                            endAngle: 120,

                            min: 0,
                            max: 6,

                            majorUnit: 1,
                            majorTicks: {
                                size: 7
                            },

                            minorUnit: 0.2,
                            minorTicks: {
                                size: 5
                            },

                            ranges: [{
                                from: 4,
                                to: 5,
                                color: "#ff7a00"
                            }, {
                                from: 5,
                                to: 6,
                                color: "#c20000"
                            }],
                            labels: {
                                font: "11px Arial,Helvetica,sans-serif"
                            }
                        }
                    });

                    $("#kmh").kendoGauge({
                        theme: "black",

                        pointer: {
                            value: 68
                        },

                        scale: {
                            startAngle: -60,
                            endAngle: 240,

                            min: 0,
                            max: 220,

                            minorTicks: {
                                size: 10
                            },

                            majorTicks: {
                                size: 14
                            },

                            minorUnit: 2
                        }
                    });

                    $("#fuel").kendoGauge({
                        theme: "black",

                        pointer: {
                            value: 0.5
                        },

                        scale: {
                            startAngle: 90,
                            endAngle: 180,

                            min: 0,
                            max: 1,

                            minorUnit: 0.25,
                            minorTicks: {
                                size: 3
                            },

                            majorUnit: 0.5,
                            majorTicks: {
                                size: 6
                            },

                            labels: {
                                font: "9px Arial,Helvetica,sans-serif"
                            },

                            ranges: [{
                                from: 0,
                                to: 0.1,
                                color: "#c20000"
                            }]
                        }
                    });

                    $("#water-temprature").kendoGauge({
                        theme: "black",

                        pointer: {
                            value: 90
                        },

                        scale: {
                            startAngle: 180,
                            endAngle: 270,

                            min: 60,
                            max: 120,

                            majorUnit: 30,
                            majorTicks: {
                                size: 6
                            },

                            minorTicks: {
                                size: 3
                            },
                            minorUnit: 10,

                            labels: {
                                font: "9px Arial,Helvetica,sans-serif"
                            },

                            ranges: [{
                                from: 110,
                                to: 120,
                                color: "#c20000"
                            }]
                        }
                    });
                }

                $(document).ready(function() {
                    createDashboard();

                    $(document).bind("kendo:skinChange", function(e) {
                        createDashboard();
                    });
                });
            </script>

            <style scoped>
                #gauge-container {
                    margin: 0 auto;
                    overflow: hidden;
                    width: 614px;
                    height: 324px;

                    background: transparent url("../../content/dataviz/gauge/car-dashboard.png") no-repeat 50% 50%;
                }

                .k-gauge {
                    float: left;
                }

                #rpm {
                    width: 142px;
                    height: 147px;
                    margin: 85px 0 0 38px;
                }

                #kmh {
                    width: 216px;
                    height: 216px;
                    margin: 57px 0 0 20px;
                }

                #fuel {
                    width: 77px;
                    height: 84px;

                    margin: 90px 0 0 68px;
                }

                #water-temprature {
                    width: 84px;
                    height: 80px;

                    margin: -7px 0 0 62px;
                }
            </style>
        </div>

