<div data-role="view" data-init="bindSwipeEvents">
    <ul data-role="listview" data-style="inset" id="swipeListView">
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
        <li>Swipe me!</li>
    </ul>
</div>

<script>
    function bindSwipeEvents(e) {
        e.view.element.find("#swipeListView li").kendoMobileSwipe(function(e) {
            e.target.html("You swiped "  + e.direction);
        });
    }
</script>

<style scoped>
    #swipeListView li {
        line-height: 90px;
    }
</style>
