<div id="example" class="k-content">
    <div id="scheduler"></div>
    <div class="demo-section">
        <p>
            <label>Current Date:</label> <input id="date" />
        </p>
        <p>
            <label>Current View:</label>
            <select id="views">
                <option value="agenda">Agenda</option>
                <option value="day">Day</option>
                <option value="month">Month</option>
                <option value="week">Week</option>
            </select>
        </p>
    </div>
</div>
<script>
$(function() {
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/13"),
        height: 400,
        views: ["day", "week", "month", "agenda"],
        timezone: "Etc/UTC",
        dataSource: {
            batch: true,
            transport: {
                read: {
                    url: "http://demos.kendoui.com/service/tasks",
                    dataType: "jsonp"
                },
                update: {
                    url: "http://demos.kendoui.com/service/tasks/update",
                    dataType: "jsonp"
                },
                create: {
                    url: "http://demos.kendoui.com/service/tasks/create",
                    dataType: "jsonp"
                },
                destroy: {
                    url: "http://demos.kendoui.com/service/tasks/destroy",
                    dataType: "jsonp"
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options.models) {
                        return {models: kendo.stringify(options.models)};
                    }
                }
            },
            schema: {
                model: {
                    id: "taskID",
                    fields: {
                        taskID: { from: "TaskID", type: "number" },
                        title: { from: "Title", defaultValue: "No title", validation: { required: true } },
                        start: { type: "date", from: "Start" },
                        end: { type: "date", from: "End" },
                        description: { from: "Description" },
                        recurrence: { from: "Recurrence" },
                        ownerId: { from: "OwnerID", defaultValue: 1 },
                        isAllDay: { type: "boolean", from: "IsAllDay" }
                    }
                }
            }
        }
    });

    var scheduler = $("#scheduler").data("kendoScheduler");

    $("#date").kendoDatePicker({
        value: new Date("2013/6/13"),
        change: function() {
            scheduler.date(this.value());
        }
    });

    $("#views").kendoDropDownList({
        value: scheduler.view(),
        change: function() {
            scheduler.view(this.value());
        }
    });
});
</script>
