<div id="example" class="k-content">
    <div class="demo-section">
        <span id="title">Team Members:</span>
        <ul id="people">
            <li class="selected"><label for="alex"><span class="icon"></span><span class="text"><input checked type="checkbox" id="alex" value="1">Alex King</span></label></li>
            <li class="selected"><label for="bob"><span class="icon"></span><span class="text"><input checked type="checkbox" value="2" id="bob">Bob Fuller</span></label></li>
            <li><label for="charlie"><span class="icon"></span><span class="text"><input type="checkbox" value="3" id="charlie">Charlie Mayer</span></label></li>
        </ul>
    </div>
    <div id="scheduler"></div>
</div>
<script>
$(function() {
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/13"),
        height: 600,
        views: ["day", "week", "month", "agenda"],
        timezone: "Etc/UTC",
        dataSource: {
            batch: true,
            transport: {
                read: {
                    url: "http://demos.kendoui.com/service/tasks",
                    dataType: "jsonp"
                },
                update: {
                    url: "http://demos.kendoui.com/service/tasks/update",
                    dataType: "jsonp"
                },
                create: {
                    url: "http://demos.kendoui.com/service/tasks/create",
                    dataType: "jsonp"
                },
                destroy: {
                    url: "http://demos.kendoui.com/service/tasks/destroy",
                    dataType: "jsonp"
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options.models) {
                        return {models: kendo.stringify(options.models)};
                    }
                }
            },
            schema: {
                model: {
                    id: "taskID",
                    fields: {
                        taskID: { from: "TaskID", type: "number" },
                        title: { from: "Title", defaultValue: "No title", validation: { required: true } },
                        start: { type: "date", from: "Start" },
                        end: { type: "date", from: "End" },
                        description: { from: "Description" },
                        recurrence: { from: "Recurrence" },
                        ownerId: { from: "OwnerID", defaultValue: 1 },
                        isAllDay: { type: "boolean", from: "IsAllDay" }
                    }
                }
            },
            filter: {
                logic: "or",
                filters: [
                    { field: "ownerId", operator: "eq", value: 1 },
                    { field: "ownerId", operator: "eq", value: 2 }
                ]
            }
        },
        resources: [
            {
                field: "ownerId",
                title: "Owner",
                dataSource: [
                    { text: "Alex", value: 1, color: "#ef701d" },
                    { text: "Bob", value: 2, color: "#5fb1f7" },
                    { text: "Charlie", value: 3, color: "#35a964" }
                ]
            }
        ]
    });

    $("#people :checkbox").change(function(e) {
        $("#people li").removeClass("selected");

        var checked = $.map($("#people :checked"), function(checkbox) {
            $(checkbox).closest("li").addClass("selected");

            return parseInt($(checkbox).val());
        });

        var filter = {
            logic: "or",
            filters: $.map(checked, function(value) {
                return {
                    operator: "eq",
                    field: "ownerId",
                    value: value
                };
            })
        };

        var scheduler = $("#scheduler").data("kendoScheduler");

        scheduler.dataSource.filter(filter);
    });
});
</script>
<style scoped>
#title {
    display: inline-block;
    padding-left: 25px;
    vertical-align: middle;
    margin-top: 14px;
}
#people {
    list-style:none;
    padding: 20px;
    margin: 0;
    display: inline-block;
}

#people li {
    display: inline-block;
    font-size: 1em;
    position: relative;
    text-transform: uppercase;
}

#people label {
    width: 180px;
    height: 50px;
    display: inline-block;
}

#people .icon {
    width: 50px;
    height: 50px;
    float:left;
    border-radius: 26px;
    border: 3px solid;
    border-color: #ccc;
    position: absolute;
}

#people .text {
    margin-top: 15px;
    display: inline-block;
    border-radius: 7px;
    margin-left: 45px;
    padding: 3px 0px 3px 10px;
    width: 120px;
    vertical-align: middle;
}

#people .text input {
    margin-top: 0;
    margin-bottom: 2px;
    vertical-align: middle;
}

#people label[for=alex] .icon {
    background: url('../../content/web/scheduler/alex.jpg') transparent no-repeat;
}

#people .selected label[for=alex] .icon {
    border-color: #ef701d;
}

#people .selected label[for=alex] .text {
    background: #ef701d;
    color: #fff;
}

#people label[for=bob] .icon {
    background: url('../../content/web/scheduler/bob.jpg') transparent no-repeat;
}

#people .selected label[for=bob] .icon {
    border-color: #5fb1f7;
}

#people .selected label[for=bob] .text {
    background: #5fb1f7;
    color: #fff;
}

#people label[for=charlie] .icon {
    background: url('../../content/web/scheduler/charlie.jpg') transparent no-repeat;
}

#people .selected label[for=charlie] .icon {
    border-color: #35a964;
}

#people .selected label[for=charlie] .text {
    background: #35a964;
    color: #fff;
}

</style>
