<div id="example" class="k-content">
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Hover some series</span>
            <div data-role="chart"
                 data-title="{ text: 'April sales per day', position: 'bottom' }"
                 data-legend="{ visible: false }"
                 data-series="[{
                                  type: 'verticalBullet',
                                  currentField: 'current',
                                  targetField: 'target',
                                  target: {
                                      color: '#aaaaaa'
                                  },
                                  gap: 4,
                                  border: 0
                               }]"
                 data-bind="visible: isVisible,
                            source: aprilSalesDataSource,
                            events: { seriesHover: onSeriesHover }"></div>
        </div>
        <div class="config-section console-section">
            <div class="configHead">Console</div>
            <div class="console"></div>
        </div>
    </div>
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Configuration</span>
            <div>
                <label><input type="checkbox" data-bind="checked: isVisible">Visible</label>
            </div>
        </div>
        <div class="config-section" style="width: 440px">
            <span class="configHead">Information</span>
            Kendo UI Chart supports the
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/events">events</a>,
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/source">source</a> and
            <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
        </div>
    </div>
<script>
    function createChart() {
        var viewModel = kendo.observable({
            isVisible: true,
            onSeriesHover: function(e) {
                 kendoConsole.log(kendo.format("event :: seriesHover ({0} : {1})", e.value.current, e.value.target));
            },
            aprilSalesDataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "../../content/dataviz/js/april-sales.json",
                        dataType: "json"
                    }
                }
            })
        });
        kendo.bind($("#example"), viewModel);
    }

    $(document).ready(createChart).bind("kendo:skinChange", createChart);

</script>
</div>
