<!DOCTYPE html>
<html>
<head>
    <title>Telerik UI for ASP.NET MVC - Offline Examples</title>
    <link href="@Url.Content("~/Content/shared/suite.css")" rel="stylesheet">
    <style>
        #page > h2 {
            padding: 2em 0 0;
        }
        .box h2 a:hover {
            text-decoration: none;
        }
        .box h2 span {
            display: block;
            font-size: .7em;
        }
        #page > ul > li.box {
            clear: none;
            display: inline-block;
            float: none;
            min-width: 290px;
            max-width: 300px;
        }
        hr {
            height: 1px;
            line-height: 1px;
            background: #DFDFDF;
            border: 0;
        }
        #page .suite .imgPlate,
        #page .suite .box {
            border-width: 0;
            box-shadow: none;
        }
        #page .suite {
            text-align: center;
        }
        #page .suite .box h2 {
            margin-top: 1em;
        }
    </style>
</head>
<body>
    <h1 class="header">Telerik UI for ASP.NET MVC</h1>
    <div id="page">
        <div class="suites">
            <div class="suite-column">
                <h2>Telerik UI for ASP.NET MVC Demos</h2>
                <img src="../../Content/shared/demos-mobile.png" />
                <a href="@(Url.RouteUrl("RazorDefault", new { controller = "Suite"}))">Launch ASP.NET MVC Demos</a>
            </div>
            <div class="suite-column">
                <h2>Kendo UI Professional Demos</h2>
                <img src="../../Content/shared/demos-web.png" />
                <a href="html/index.html">Launch HTML/JS Demos</a>
            </div>
        </div>
    </div>
</body>
</html>
