/*reset start*/

#kendo-themebuilder-wrapper .k-window-actions,
#kendo-themebuilder .styling-options
{
    width: auto;
}

/*reset end*/

#kendo-themebuilder
{
    text-align: left;
    color: #fff;
    background-color: #333;
    font: normal 12px/1.5 Tahoma,sans-serif;
}

#kendo-themebuilder .styling-options
{
    padding: .4em;
}

#kendo-themebuilder label
{
    display: inline-block;
    width: 40%;
}

#kendo-themebuilder .k-style-apply
{
    margin: 1em 0 0;
}
