/*reset start*/

#kendo-themebuilder-wrapper .k-window-actions,
#kendo-themebuilder .styling-options
{
    width: auto;
}

/*reset end*/

#kendo-themebuilder
{
    text-align: left;
    font: normal 12px/1.5 Tahoma,sans-serif;
}

#kendo-themebuilder .styling-options
{
    padding: .4em;
}

#kendo-themebuilder label
{
    display: inline-block;
    width: 40%;
}

#kendo-themebuilder #stylable-elements,
#kendo-themebuilder .k-style-apply
{
    margin: .6em 0 0;
}

.k-color-preview,
.k-colorpicker .k-arrow-down
{
    border: 1px solid #aaa;
    background-image: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.k-color-preview
{
    margin-right: .2em;
}

.k-colorpicker .k-arrow-down
{
    margin-top: 1px;
}

.k-colorpicker .k-input,
.k-color-name
{
    font: 12px Consolas, Courier, monospace;
}
