#kendo-themebuilder-wrapper {
    width: 300px;
    min-height: 300px;
    top: 20px;
    right: 20px;
}

#kendo-themebuilder
{
    text-align: left;
    color: #fff;
    background-color: #333;
    font: normal 12px/1.5 Tahoma,sans-serif;
}

#kendo-themebuilder .styling-options
{
    padding: .4em;
}

#kendo-themebuilder label
{
    display: inline-block;
    width: 40%;
}

#kendo-themebuilder .t-style-apply
{
    margin: 1em 0 0;
}
