
        <div id="example" class="k-content">
            <div class="chart-wrapper">
                <div id="chart"></div>
            </div>
            <script>
                function createChart() {
                    $("#chart").kendoChart({
                        theme: $(document).data("kendoSkin") || "default",
                        title: {
                            text: "Price-Performance Ratio"
                        },
                        legend: {
                            visible: false
                        },
                        seriesDefaults: {
                            type: "scatter",
                            labels: {
                                visible: true,
                                template: "#= series.name #",
                                position: "right"
                            }
                        },
                        series: [{
                            name: "Pentium D 915",
                            data: [[120, 102]]
                        }, {
                            name: "Pentium D 950",
                            data: [[160, 118]]
                        }, {
                            name: "Pentium XE 965",
                            data: [[1000, 137]],
                            labels: {
                                position: "left"
                            }
                        }, {
                            name: "Athlon 64 X2 4200+",
                            data: [[170, 125]]
                        }, {
                            name: "Athlon 64 X2 4600+",
                            data: [[205, 138]]
                        }, {
                            name: "Athlon 64 FX-62",
                            data: [[800, 147]]
                        }, {
                            name: "Core 2 Duo E6400",
                            data: [[170, 130]]
                        }, {
                            name: "Core 2 Duo E6600",
                            data: [[305, 163]]
                        }, {
                            name: "Core 2 Duo E6700",
                            data: [[530, 177]]
                        }, {
                            name: "Core 2 Duo Extreme X6800",
                            data: [[1000, 190]],
                            labels: {
                                position: "left"
                            }
                        }],
                        xAxis: {
                            max: 1000,
                            labels: {
                                format: "${0}"
                            }
                        },
                        yAxis: {
                            min: 80,
                            labels: {
                                format: "{0}%"
                            }
                        },
                        tooltip: {
                            visible: true,
                            template: "#= series.name #"
                        }
                    });
                }

                $(document).ready(function() {
                    setTimeout(function() {
                        createChart();

                        // Initialize the chart with a delay to make sure
                        // the initial animation is visible
                    }, 400);

                    $(document).bind("kendo:skinChange", function(e) {
                        createChart();
                    });
                });
            </script>
        </div>