<div id="example" class="k-content">
    <div class="chart-wrapper">
        <div id="chart"></div>
    </div>
    <div class="configuration-horizontal">
        <div class="config-section">
            <span class="configHead">Style</span>
            <ul class="options">
                <li>
                    <input id="style" />
                </li>
            </ul>
        </div>
    </div>
    <script>
        function createChart() {
            $("#chart").kendoChart({
                title: {
                    text: "Charge current vs. charge time"
                },
                legend: {
                    visible: true
                },
                seriesDefaults: {
                    type: "scatterLine",
                    style: "normal"
                },
                series: [{
                    name: "0.8C",
                    data: [[10, 10], [15, 20], [20, 25], [32, 40], [43, 50], [55, 60], [60, 70], [70, 80], [90, 100]]
                }, {
                    name: "1.6C",
                    data: [[10, 40], [17, 50], [18, 70], [35, 90], [47, 95], [60, 100]]
                }, {
                    name: "3.1C",
                    data: [[10, 70], [13, 90], [25, 100]]
                }],
                xAxis: {
                    max: 90,
                    labels: {
                        format: "{0}m"
                    },
                    title: {
                        text: "Time"
                    }
                },
                yAxis: {
                    max: 100,
                    labels: {
                        format: "{0}%"
                    },
                    title: {
                        text: "Charge"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{1}% in {0} minutes"
                }
            });
        }

        $("#style").kendoDropDownList({
            dataSource: [{
                text: "Normal",
                value: "normal"
            }, {
                text: "Smooth",
                value: "smooth"
            }],
            dataTextField: "text",
            dataValueField: "value",
            change: function () {
                var chart = $("#chart").data("kendoChart");
                chart.setOptions({
                    seriesDefaults: {
                        type: "scatterLine",
                        style: this.value()
                    }
                });            
            }
        });

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>

    <style scoped>
        .chart-wrapper, .chart-wrapper .k-chart {
            height: 300px;
        }
    </style>
</div>
