<div data-role="view" id="home" data-title="Mobile Segmented Control &ndash; Basic Usage">
    <ul data-role="segmentedcontrol">
        <li data-icon="featured">
            test1
        </li>
        <li>
            test2
        </li>
        <li>
            test3
        </li>
    </ul>
</div>
