@{
    Layout = "~/Views/Shared/ThemeBuilderLayout.cshtml";
}

<div id="instructions-box">
    <h3>Instructions</h3>
    <ol id="instructions-list">
        <li>Select a theme to modify
            <ul id="themeChooser"><li></li></ul>
        </li>
        <li>Start the <a class="k-button" id="bookmarklet" href="">Kendo ThemeBuilder</a></li>
        <li>Use the ThemeBuilder as a <strong>bookmarklet</strong> on your own pages! (Drag the button to your bookmarks bar)</li>
    </ol>
</div>

<script>
    window.applyCurrentTheme();
    $("#themeChooser").themeChooser();

    $("#bookmarklet").attr("href", ("javascript:(function(){" +
            "var ktb=window.kendoThemeBuilder,s,d=document;" +
            "if(typeof ktb!='undefined'){" +
                "ktb.open();" +
                "return" +
            "}else{" +
                "s=d.createElement('script');" +
                "s.src='@ViewBag.DeployRoot/bootstrap.js?'+(+new Date());" +
                "d.getElementsByTagName('body')[0].appendChild(s);" +
            "}" +
        "})()").replace(/\s+/g, "%20"));
</script>

<div class="k-content floatWrap">
<div class="column">
    <div id="area-chart"></div>

    <div id="radial-gauge"></div>
</div>

<div class="column">
    <div id="mixed-chart"></div>

    <div id="linear-gauge"></div>
</div>

</div>

<style scoped>
    #example {
        padding-top: 30px;
    }

    h3 {
        font: normal 16px/1.5 Arial,sans-serif;
        margin: 20px 0 13px;
    }

    #instructions-box {
        border-left: 5px solid rgba(0,0,0,.5);
        padding-left: 1em;
        margin-left: 2%;
    }

    #instructions-list li {
        padding: .4em 0;
    }

    .column {
        width: 46%;
        padding: 0 2%;
        margin: 0;
        float: left;
    }

    .column .k-chart,
    .column .k-gauge {
        display: block;
        margin-bottom: 14px;
    }

    #middle-column {
        width: 20%;
    }
</style>

<script>
    $(document).ready(function() {
        var transport = {
            read: {
                url: "../content/web/datasource/internet-users.json",
                dataType: "json"
            }
        };

        var sharedDataSource = new kendo.data.DataSource({
            transport: transport,
            sort: {
                field: "year",
                dir: "asc"
            },
            schema: {
                model: {
                    fields: {
                        year: {
                            type: "number"
                        },
                        value: {
                            type: "string"
                        }
                    }
                }
            }
        });

        $("#area-chart").kendoChart({
            transitions: false,
            theme: $(document).data("kendoSkin") || "default",
            title: {
                text: "Internet Users"
            },
            legend: {
                position: "bottom"
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                type: "area"
            },
            series: [
                {
                    name: "World",
                    data: [15.7, 16.7, 20, 23.5, 26.6]
                }, {
                    name: "United States",
                    data: [67.96, 68.93, 75, 74, 78]
                }
            ],
            valueAxis: {
                labels: {
                    format: "{0}%"
                }
            },
            categoryAxis: {
                categories: [2005, 2006, 2007, 2008, 2009]
            },
            tooltip: {
                visible: true,
                format: "{0}%"
            }
        });

        $("#mixed-chart").kendoChart({
            transitions: false,
            title: {
                text: "Hybrid car mileage report"
            },
            legend: {
                position: "top"
            },
            series: [{
                type: "column",
                data: [20, 40, 45, 30, 50],
                stack: true,
                name: "on battery"
            }, {
                type: "column",
                data: [20, 30, 35, 35, 40],
                stack: true,
                name: "on gas"
            }, {
                type: "line",
                data: [7.8, 6.2, 5.9, 7.4, 5.6],
                name: "l/100 km",
                axis: "l100km"
            }],
            valueAxes: [{
                title: { text: "miles" },
                min: 0,
                max: 100
            }, {
                name: "l100km",
                title: { text: "liters per 100km" }
            }],
            categoryAxis: {
                categories: ["Mon", "Tue", "Wed", "Thu", "Fri"],
                // Align the first two value axes to the left
                // and the last two to the right.
                //
                // Right alignment is done by specifying a
                // crossing value greater than or equal to
                // the number of categories.
                axisCrossingValues: [0, 10]
            }
        });

        $("#linear-gauge").kendoLinearGauge({
            transitions: false,
            pointer: {
                value: 30
            }
        });

        $("#radial-gauge").kendoRadialGauge({
            transitions: false,
            pointer: {
                value: 40
            },
            scale: {
                max: 180,
                ranges: [
                    {
                        from: 80,
                        to: 120,
                        color: "#ffc700"
                    }, {
                        from: 120,
                        to: 150,
                        color: "#ff7a00"
                    }, {
                        from: 150,
                        to: 180,
                        color: "#c20000"
                    }
                ]
            }
        });
    });
</script>
