@{
    Layout = "~/Views/Shared/ThemeBuilderLayout.cshtml";
}

<div class="separator-shadow"></div>

<div id="instructions-box">
    <h3>Instructions</h3>
    <ol id="instructions-list">
        <li>
            Select a theme to modify: <span id="themeChooser"></span>
            <div id="themeChooser-container"></div>
        </li>
        <li>Start the <a class="k-button" id="bookmarklet" href="#">Kendo UI ThemeBuilder</a></li>
        <li>Use the ThemeBuilder as a <strong>bookmarklet</strong> on your own pages! (Drag the button to your bookmarks bar)</li>
    </ol>
</div>

<script>
    $("#bookmarklet").attr("href", ("javascript:(function(){" +
            "var ktb=window.kendoThemeBuilder,s,d=document;" +
            "if(typeof ktb!='undefined'){" +
                "ktb.open();" +
                "return" +
            "}else{" +
                "s=d.createElement('script');" +
                "s.src='@ViewBag.DeployRoot/bootstrap.js?'+(+new Date());" +
                "d.getElementsByTagName('body')[0].appendChild(s);" +
            "}" +
        "})()").replace(/\s+/g, "%20"));
</script>

<div class="k-content floatWrap">
    <div class="column">
        <h3>Button</h3>
        <button class="k-button">A button</button>
        <button class="k-button">Another one</button>

        <h3>Menu</h3>
        <ul id="menu">
            <li>First Item
                <ul>
                    <li>Sub Item 1</li>
                    <li>Sub Item 2
                        <ul>
                            <li>Sub Item 1</li>
                            <li>Sub Item 2</li>
                            <li>Sub Item 3</li>
                            <li>Sub Item 4</li>
                        </ul>
                    </li>
                    <li>Sub Item 3</li>
                    <li>Sub Item 4</li>
                </ul>
            </li>
            <li disabled="disabled">Disabled</li>
            <li>Template
                <ul>
                    <li>
                        <div class="k-content" style="padding: 10px;">
                            This is a <br />simple template item.<br /><br />
                            <button class="k-button">With a button</button>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <h3>Grid</h3>
        <div id="grid"></div>

        <h3>TabStrip</h3>
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">First Tab</li>
                <li>Second Tab</li>
                <li>Third Tab</li>
            </ul>
            <div><p>TabStrip sample content, first tab</p></div>
            <div><p>TabStrip sample content, second tab</p></div>
            <div><p>TabStrip sample content, third tab</p></div>
        </div>

        <h3>PanelBar</h3>
        <ul id="panelbar">
            <li class="k-state-active">Item 1
                <ul>
                    <li>Item 1.1</li>
                    <li>Item 1.2</li>
                    <li>Item 1.3</li>
                </ul>
            </li>
            <li>Item 2
                <ul>
                    <li>Item 2.1</li>
                    <li>Item 2.2</li>
                    <li>Item 2.3</li>
                </ul>
            </li>
            <li>Item 3</li>
        </ul>
    </div>

    <div class="column" id="middle-column">
        <h3>Pickers</h3>
        <input id="autocomplete" />
        <input id="dropdownlist" />
        <input id="combobox" />

        <input id="datepicker" />
        <input id="timepicker" />

        <input id="numerictextbox" type="number" min="0" max="10" value="5" />

        <select id="multiselect" multiple="multiple"></select>

        <input id="colorpicker" />

        <h3>Slider</h3>
        <input id="slider" type="number" min="0" max="10" value="5" />

        <h3>TreeView</h3>
        <ul id="treeview">
            <li data-expanded="true">Item 1
                <ul>
                    <li>Item 1.1</li>
                    <li>Item 1.2</li>
                    <li>Item 1.3</li>
                </ul>
            </li>
            <li>Item 2
                <ul>
                    <li>Item 2.1</li>
                    <li>Item 2.2</li>
                    <li>Item 2.3</li>
                </ul>
            </li>
            <li>Item 3</li>
        </ul>

        <h3>Window</h3>
        <div id="window">Sample content</div>
    </div>

    <div class="column">
        <h3 title="Kendo UI Tooltip" id="tooltip" style="width:10em">Tooltip (hover me)</h3>

        <h3>Upload</h3>
        <input id="upload" type="file" />

        <h3>Calendar</h3>
        <div id="calendar"></div>

        <h3>Splitter</h3>
        <div id="splitter">
            <div>Left pane</div>
            <div>Right pane</div>
        </div>

        <h3>Progress bar</h3>
        <div id="progress"></div>

        <h3>Notifications</h3>
        <div id="notification"></div>

    </div>

    <div id="scheduler"></div>


    <div class="column">
        <div id="area-chart"></div>

        <div id="bubble-chart"></div>
    </div>

    <div class="column">
        <div id="mixed-chart"></div>

        <div id="linear-gauge"></div>
    </div>

    <div class="column">
        <div id="pie-chart"></div>

        <div id="radial-gauge"></div>
    </div>

</div>

<style scoped>
    h3 {
        font: normal 16px/1.5 Arial,sans-serif;
        margin: 20px 0 13px;
    }

    #instructions-box h3
    {
        font-weight: bold;
    }

    #instructions-list li {
        padding: .4em 0;
    }

    .column .k-chart,
    .column .k-gauge {
        display: block;
        margin-bottom: 14px;
    }

    .column .k-gauge {
        margin-top: 130px;
    }

    .column {
        width: 29%;
        padding: 0 2%;
        margin: 0 0 2em;
        float: left;
    }

    .column .k-widget:not(.k-colorpicker) {
        display: block;
    }

    .column .k-widget {
        margin-bottom: 14px;
    }

    #scheduler {
        clear: both;
    }

    #middle-column {
        width: 20%;
    }
</style>
<script>
    $(document).ready(function() {
        var data = [
            "Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belarus", "Belgium", "Bosnia & Herzegovina", "Bulgaria",
            "Croatia", "Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Georgia", "Germany", "Greece",
            "Hungary", "Iceland", "Ireland", "Italy", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Macedonia",
            "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino",
            "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Turkey", "Ukraine", "United Kingdom", "United States",
            "Vatican City"
        ];

        var transport = {
            read: {
                url: "../content/web/datasource/internet-users.json",
                dataType: "json"
            }
        };

        var countriesDataSource = new kendo.data.DataSource({
            transport: transport,
            group: {
                field: "country",
                dir: "asc"
            }
        });

        var sharedDataSource = new kendo.data.DataSource({
            transport: transport,
            sort: {
                field: "year",
                dir: "asc"
            },
            schema: {
                model: {
                    fields: {
                        year: {
                            type: "number"
                        },
                        value: {
                            type: "string"
                        }
                    }
                }
            }
        });

        $("#menu").kendoMenu();

        $("#tabstrip").kendoTabStrip();

        var listOptions = {
                dataSource: countriesDataSource,
                dataTextField: "value"
            };

        $("#autocomplete, #dropdownlist, #combobox").val("United States");

        $("#autocomplete").kendoAutoComplete({
            dataSource: data
        });

        $("#dropdownlist").kendoDropDownList(listOptions);
        $("#combobox").kendoComboBox(listOptions);

        var datetimePickerOptions = {
            value: new Date()
            };

        $("#datepicker").kendoDatePicker(datetimePickerOptions);
        $("#timepicker").kendoTimePicker(datetimePickerOptions);

        $("#multiselect").kendoMultiSelect({
            dataSource: data,
            value: [ "Finland", "Estonia" ]
        });

        $("#colorpicker").kendoColorPicker();

        $("#numerictextbox").kendoNumericTextBox();

        $("#tooltip").kendoTooltip({
            autoHide: false,
            position: "top"
        }).data("kendoTooltip").show();

        $("#upload").kendoUpload();

        $("#slider").kendoSlider();

        $("#calendar").kendoCalendar();

        var treeview = $("#treeview").height(140).kendoTreeView().data("kendoTreeView");

        treeview.select(treeview.findByText("Item 1.2"));

        $("#panelbar").kendoPanelBar();

        $("#splitter").width(203).height(120).kendoSplitter();

        var windowContent = $("#window"),
            windowTitle = windowContent.prev("h3");

        windowContent
            .kendoWindow({
                title: "Sample title",
                width: 140,
                height: 100
            });

        windowTitle.css("paddingBottom", "+=130");

        $("#grid").kendoGrid({
            dataSource: sharedDataSource,
            autoBind: false,
            scrollable: false,
            selectable: true,
            filterable: true,
            sortable: {
                allowUnsort: false
            },
            columns: [ {
                    field: "year",
                    title: "Year",
                    width: "100px"
                }, {
                    field: "value",
                    title: "Estimated Users",
                    template: '#= kendo.toString(value, "N0") #'
            } ]
        });

        sharedDataSource.filter([{
            field: "country",
            operator: "equals",
            value: "United States"
        }, {
            field: "year",
            operator: "greaterThanEqual",
            value: 2000
        }]);

        var serviceBaseUrl = "http://demos.telerik.com/kendo-ui/service";
        $("#scheduler").kendoScheduler({
            date: new Date("2013/6/13"),
            startTime: new Date("2013/6/13 07:00 AM"),
            endTime: new Date("2013/6/13 08:00 PM"),
            views: [
                { type: "day", selected: true },
                "week",
                "month"
            ],
            editable: false,
            timezone: "Etc/UTC",
            dataSource: {
                batch: true,
                transport: {
                    read: {
                        url: serviceBaseUrl + "/meetings",
                        dataType: "jsonp"
                    },
                    update: {
                        url: serviceBaseUrl + "/meetings/update",
                        dataType: "jsonp"
                    },
                    create: {
                        url: serviceBaseUrl + "/meetings/create",
                        dataType: "jsonp"
                    },
                    destroy: {
                        url: serviceBaseUrl + "/meetings/destroy",
                        dataType: "jsonp"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                        }
                    }
                },
                schema: {
                    model: {
                        id: "meetingID",
                        fields: {
                            meetingID: { from: "MeetingID", type: "number" },
                            title: { from: "Title", defaultValue: "No title", validation: { required: true } },
                            start: { type: "date", from: "Start" },
                            end: { type: "date", from: "End" },
                            startTimezone: { from: "StartTimezone" },
                            endTimezone: { from: "EndTimezone" },
                            description: { from: "Description" },
                            recurrenceId: { from: "RecurrenceID" },
                            recurrenceRule: { from: "RecurrenceRule" },
                            recurrenceException: { from: "RecurrenceException" },
                            roomId: { from: "RoomID", nullable: true },
                            atendees: { from: "Atendees", nullable: true },
                            isAllDay: { type: "boolean", from: "IsAllDay" }
                        }
                    }
                }
            }
        });

        $("#progress").kendoProgressBar({ value: 40 });

        var notification = $("#notification").kendoNotification({
            autoHideAfter: 0,
            hideOnClick: false,
            appendTo: "#notification"
        }).data("kendoNotification");

        notification.info("information");
        notification.success("success");
        notification.warning("warning");
        notification.error("error");
    });

    function initialize() {
        $("#area-chart").kendoChart({
            transitions: false,
            title: {
                text: "Internet Users"
            },
            legend: {
                position: "bottom"
            },
            seriesDefaults: {
                type: "area"
            },
            series: [
                {
                    name: "United States",
                    data: [67.96, 68.93, 75, 74, 78]
                }, {
                    name: "World",
                    data: [15.7, 16.7, 20, 23.5, 26.6]
                }
            ],
            valueAxis: {
                labels: {
                    format: "{0}%"
                }
            },
            categoryAxis: {
                categories: [2005, 2006, 2007, 2008, 2009]
            },
            tooltip: {
                visible: true,
                format: "{0}%"
            }
        });

        $("#mixed-chart").kendoChart({
            transitions: false,
            title: {
                text: "Hybrid car mileage report"
            },
            legend: {
                position: "bottom"
            },
            series: [{
                type: "column",
                data: [20, 40, 45, 30, 50],
                stack: true,
                name: "on battery"
            }, {
                type: "column",
                data: [20, 30, 35, 35, 40],
                stack: true,
                name: "on gas"
            }, {
                type: "line",
                data: [7.8, 6.2, 5.9, 7.4, 5.6],
                name: "l/100 km",
                axis: "l100km"
            }],
            valueAxes: [{
                title: { text: "miles" },
                min: 0,
                max: 100
            }, {
                name: "l100km",
                title: { text: "liters per 100km" }
            }],
            categoryAxis: {
                categories: ["Mon", "Tue", "Wed", "Thu", "Fri"],
                axisCrossingValues: [0, 10]
            }
        });


        $("#bubble-chart").kendoChart({
            transitions: false,
            title: {
                text: "Crime statistics"
            },
            legend: {
                visible: false
            },
            dataSource: {
                transport: {
                    read: {
                        url: "../content/dataviz/js/crime-stats.json",
                        dataType: "json"
                    }
                }
            },
            series: [{
                type: "bubble",
                xField: "murder",
                yField: "burglary",
                sizeField: "population",
                categoryField: "state"
            }],
            xAxis: {
                labels: {
                    format: "{0:N0}"
                },
                title: {
                    text: "Murders per 100,000 population"
                }
            },
            yAxis: {
                labels: {
                    format: "{0:N0}"
                },
                title: {
                    text: "Burglaries per 100,000 population"
                }
            },
            tooltip: {
                visible: true,
                format: "{3}: Population {2:N0}"
            }
        });

        $("#pie-chart").kendoChart({
            transitions: false,
            title: {
                text: "Break-up of Spain Electricity Production for 2008"
            },
            legend: {
                position: "bottom",
                labels: {
                    template: "#= text # (#= value #%)"
                }
            },
            seriesDefaults: {
                labels: {
                    visible: true,
                    background: "transparent"
                }
            },
            series: [{
                type: "pie",
                data: [{
                    category: "Hydro",
                    value: 22
                }, {
                    category: "Solar",
                    value: 2
                }, {
                    category: "Nuclear",
                    value: 49
                }, {
                    category: "Wind",
                    value: 27
                }]
            }],
            tooltip: {
                visible: true,
                format: "{0}%"
            }
        });

        $("#linear-gauge").kendoLinearGauge({
            transitions: false,
            pointer: {
                value: 30
            }
        });

        $("#radial-gauge").kendoRadialGauge({
            transitions: false,
            pointer: {
                value: 40
            },
            scale: {
                max: 180,
                ranges: [
                    { from: 160, to: 180, color: "#ff0000" }
                ]
            }
        });
    }

    $(document).ready(initialize);
    $("#example").bind("kendo:skinChange", initialize);
</script>
